---
title: Tags
pager: true
more: true
eplanning: tag
---
<!-- tags/tags.html -->

		<header class="flow">
      <ul class="subscribe">
        <li class="title">Suscribite</li>
        <li class="link first"><a class="rss" href="#">RSS</a></li>
      </ul>
			<h2>Nestor Kirchnner</h2>
      <p class="trendlink"><a href="http://tn.com.ar/trends/Michael Hamintong Taylor">Michael Hamintong Taylor en TN Trends</a></p>
			<%= render 'share/share', :share => 'section', :trends => false, :color => '186487' %>
		</header>
