  <div id="goleadores-widget-fixture" class="widget wGoleadores widget-fixture">
  
    <div class="header">
      <div class="title">
        <h2>Goleadores</h2>
      </div>
    </div>
    
    <div id="posiciones" class="tab clearfix fixW">
      <table id="goleadores" class="defineW">
        <thead>
          <tr class="bgTitle">
            <th class="jugador">Jugador</th>
            <th class="equipo">Equipo</th>
            <th class="jugada">Jugada</th>
            <th class="cabeza">Cabeza</th>
            <th class="tiro">Tiro L.</th>
            <th class="penal">Penal</th>
            <th class="goles">Goles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">3</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/san-lorenzo.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">3</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/sanmartin.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">3</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/unionsantafe.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">3</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/allboys.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/argentinos.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramirez</td>
            <td><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/belgranocba.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/boca.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/colon.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/godoy-cruz.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/independiente.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/lanus.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/newell.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/quilmes.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martin Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/racing.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/atleticorafaela.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/river.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">1</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

<!-- asistidores -->

<div id="asistidores-widget-fixture" class="widget wAsistidores widget-fixture">
  
    <div class="header">
      <div class="title">
        <h2>Asistidores</h2>
      </div>
      <a href="#" id="ver-goleadores" class="ver-goleadores">Ver goleadores</a>
    </div>
    
    <div id="posiciones" class="tab clearfix fixW">
      <table id="goleadores" class="defineW">
        <thead>
          <tr class="bgTitle">
            <th class="jugador">Jugador</th>
            <th class="equipo">Equipo</th>
            <th class="jugada">Jugada</th>
            <th class="cabeza">Cabeza</th>
            <th class="tiro">Tiro L.</th>
            <th class="penal">Penal</th>
            <th class="goles">Goles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /></td>
            <td class="num">2</td>
            <td class="num">3</td>
            <td class="num">5</td>
            <td class="num">1</td>
            <td class="num">2</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/san-lorenzo.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">3</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/sanmartin.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">3</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/unionsantafe.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">3</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/allboys.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/argentinos.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramirez</td>
            <td><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/belgranocba.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">2</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/boca.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/colon.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/godoy-cruz.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martìn Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/independiente.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/lanus.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/newell.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Sebastiàn Domìnguez</td>
            <td><img src="<%= base_url %>images/escudos/quilmes.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Martin Cauteruccio</td>
            <td><img src="<%= base_url %>images/escudos/racing.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">Emmanuel Pìo</td>
            <td><img src="<%= base_url %>images/escudos/atleticorafaela.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="nombre">David A. Ramìrez</td>
            <td><img src="<%= base_url %>images/escudos/river.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">1</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>