<!-- sidebar -->
<div id="sky1" class="banner banner-300x250" role="banner"></div>

<%= render 'sidebar-widgets/lo-ultimo' %>
<%= render 'sidebar-widgets/top-10' %>
<!-- div id="tnmovil" class="banner banner-300x800" role="banner"></div -->
<%= render 'sidebar-widgets/fbactivity' %>
<%= render 'sidebar-widgets/poll' %>

<div id="sky2" class="banner banner-300x250" role="banner"></div>

<%= render 'sidebar-widgets/twperiodistas' %>
<%= render 'sidebar-widgets/twmenciones', :url => 'todonoticias/tn-com-ar', :search => 'tn.com.ar'  %>

<%= render 'ads/libro-city' %>

<%= render 'sidebar-widgets/qrcode' %>
<!-- end sidebar -->
