<!-- sidebar -->
<section class="not-registered-yet block">
  ¿No sos usuario todavía? <a href="#">Registrate</a>
</section>
  <!-- 
<section class="connect block">

	<h3>Conectá tus cuentas</h3>
	<div class="content">
		<ul class="login-connect">
			<li><a href="#"  class="facebook">Facebook</a>
			</li>
			<li><a href="#"  class="twitter">Twitter</a>
			</li>
			<li><a href="#"  class="google">Google</a>
			</li>
		</ul>
		<p>Conservá tus datos actuales</p>
		<p>Nada cambia salvo la forma de iniciar sesión</p>
	</div>
</section>
 -->
  <%= render 'comunity-last-registerd' %> 
<!-- end sidebar -->