---
page_javascript: "TN.initfuncs.push('setup_home')"
---
      <div id="navigation-moviles">

        <ul id="navigation-tabs">
          <li class="tab-1 current"><a href="#">iPad</a></li>
          <li class="tab-2"><a href="#">Galaxy Tab</a></li>
          <li class="div"></li>

          <li class="tab-3""><a href="#">iPhone</a></li>
          <li class="tab-4"><a href="#">Blackberry</a></li>
          <li class="tab-5"><a href="#">Android</a></li>
          <li class="tab-6"><a href="#">Wap</a></li>
          <li class="div"></li>
          <li class="tab-7"><a href="#">TN y La Gente</a></li>

        </ul>
      </div>

      <noscript>
        <img src="<%= base_url %>images/moviles/ipad.png" width="980" height="589" alt="iPad" title="iPad" class="no-js-img" />
      </noscript>

      <div class="loader" id="black"></div>
      <div class="loader" id="tnmovil"></div>

      <div id='banner-container'>

        <div class='banner'>
          <ul>
            <li class="tab-1"><img src="<%= base_url %>images/moviles/ipad.png" width="980" height="589" alt="iPad" title="iPad" /></li>
            <li class="tab-2"><img src="<%= base_url %>images/moviles/galaxy.jpg" width="980" height="553" alt="Galaxy Tab" title="Galaxy Tab" /></li>
            <li class="tab-3"><img src="<%= base_url %>images/moviles/iphone.png" width="980" height="589" alt="iPhone" title="iPhone" /></li>
            <li class="tab-4"><img src="<%= base_url %>images/moviles/blackberry.png" width="980" height="589" alt="Blackberry" title="Blackberry" /></li>
            <li class="tab-5"><img src="<%= base_url %>images/moviles/android.png" width="980" height="593" alt="Android" title="Android" /></li>
            <li class="tab-6"><img src="<%= base_url %>images/moviles/wap.png" width="980" height="590" alt="Wap" title="Wap" /></li>
            <li class="tab-7"><img src="<%= base_url %>images/moviles/tnylagente.png" width="980" height="590" alt="Wap" title="TN y La Gente" /></li>

          </ul>
        </div>
      </div>