---
title: Últimas reacciones | TN y la Gente | TN.com.ar | Todo Noticias
description: Lo que se siente en TN y la Gente cuando se leen las noticias. Lo que importa. Lo que da igual. Lo que gusta. Lo que divierte. Lo que indigna. Todo está en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
#page_javascript: "TN.initfuncs.push('');"
ad: false
content_top: 'tnylagente/titulo_reacciones'
extraclass: 'tnylg'
eplanning: false
twitter_text: "Estoy viendo todas las últimas reacciones a las notas en TN.com.ar "
certifica_path: 'TN/tnylagente/ahora/reacciones'
certifica_desc: 'TN y la Gente - Ahora/Reacciones'
new: true
---

<%

user = Array.new

user << 'Cristina Kirchner'
user << 'Peter Parker'
user << 'Bruno Días'
user << 'Lorem Ipsum'
user << 'Lorem Ipsum'


title = Array.new

title << 'Ronaldo y Messi, la lucha por la hegemonia en el futbol'
title << 'Schoklender no quiere que Oyarbide siga llevando la causa contra él'
title << 'La “semi plena prueba” de Aníbal F.'
title << 'Sale la "gran" Noelia, entra la "enana" Feudale'
title << 'Peratta: "En Rosario hay mala leche y extorsionadores"'
title << 'Cumbre por la crisis de San Lorenzo'
title << 'Di Caprio, en su mejor estado'
title << 'Un esguince no tan Chiquito'
title << 'Reunión en Trabajo para destrabar el bloqueo en Ezeiza y Aeroparque'
title << 'Santa Cruz: enfrentamientos entre facciones de la UOCRA'


reactions = Array.new

reactions << {:url=>'/tnylagente/ahora/leimporta', :text=>'importa'}
reactions << {:url=>'/tnylagente/ahora/legusta', :text=>'gusta'}
reactions << {:url=>'/tnylagente/ahora/leaburre', :text=>'aburre'}
reactions << {:url=>'/tnylagente/ahora/ledaigual', :text=>'da igual'}
reactions << {:url=>'/tnylagente/ahora/leindigna', :text=>'indigna'}

%>

<div class="content" id="realtime">

  <% for i in 0..10 %>
  <% u = user[rand(user.size)] %>
  <% r = reactions[rand(reactions.size)] %>
  <div class="comentarios">
    <div class="comment-container">
      <div class="user-meta clearfix">
        <a href="#" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="<%= u %>" title="<%= u %>"/></a>
        <p class="text">A <a href="#" rel="me" ><%= u %></a> le  <a href="<%= r[:url] %>"><%= r[:text] %></a> esto: <a href="#"><%= title[rand(title.size)] %></a> en <a href="#">TN y la Gente</a></p>
        <p class="timeago" data-timestamp="1337871187">hace 6 horas</p>
      </div>
    </div>
  </div>
  <% end %>

</div>