---
title: Últimos comentarios | TN y la Gente | TN.com.ar | Todo Noticias
description: Los últimos comentarios y los debates más encendidos de TN y La Gente y TN.com.ar, el sitio del canal de noticias más visto de Argentina.
#page_javascript: "TN.initfuncs.push('');"
ad: false
content_top: 'tnylagente/titulo_comentarios'
extraclass: 'tnylg'
eplanning: false
twitter_text: "Estos son los últimos comentarios de TN.com.ar"
certifica_path: 'TN/tnylagente/ahora/comentarios'
certifica_desc: 'TN y la Gente - Ahora/Comentarios'
new: true
---

<%

user = Array.new

user << 'Cristina Kirchner'
user << 'Peter Parker'
user << 'Bruno Días'
user << 'Lorem Ipsum'
user << 'Lorem Ipsum'


title = Array.new

title << 'Ronaldo y Messi, la lucha por la hegemonia en el futbol'
title << 'Schoklender no quiere que Oyarbide siga llevando la causa contra él'
title << 'La “semi plena prueba” de Aníbal F.'
title << 'Sale la "gran" Noelia, entra la "enana" Feudale'
title << 'Peratta: "En Rosario hay mala leche y extorsionadores"'
title << 'Cumbre por la crisis de San Lorenzo'
title << 'Di Caprio, en su mejor estado'
title << 'Un esguince no tan Chiquito'
title << 'Reunión en Trabajo para destrabar el bloqueo en Ezeiza y Aeroparque'
title << 'Santa Cruz: enfrentamientos entre facciones de la UOCRA'

sections = Array.new 

sections << 'Política'
sections << 'Show'
sections << 'Internacional'
sections << 'Música'
%>

<div class="content" id="realtime">

  <% for i in 0..10 %>
  <% u = user[rand(user.size)] %>
  <div class="comentarios">
    <div class="comment-container">
      <div class="user-meta clearfix">
        <a href="#" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="<%= u %>" title="<%= u %>"/></a>
        <p class="text"><a href="#" rel="me" ><%= u %></a> publicó un <a href="">comentario</a> en la nota <a href="#"><%= title[rand(title.size)] %> en TN y la Gente</a>, en <a href="#"><%= sections[rand(sections.size)] %></a></p>
        <p class="timeago" data-timestamp="1337871187">hace 6 horas</p>
      </div>
    </div>
  </div>
  <% end %>

</div>