<%
text = 'TN'
url = 'http://tn.com.ar'
case select_proyect
      when 'site-tn'
        text = 'TN'
        url = 'http://tn.com.ar'
      when 'site-tnm'
        text = 'La viola'
        url = 'http://tn.com.ar/musica'
      when 'site-tnf'
        text = 'Famosos'
        url = 'http://tn.com.ar/show'
      when 'site-tp'
        text = 'Famosos'
        url = 'http://tn.com.ar/deportes'        
      when 'site-tnylagente'
        text = 'TN y la Gente'
        url = 'http://tn.com.ar/tnylagente'
end
%>
<!-- header -->
		<div id="header-top">
			<div class="wrapper">
			  
			  <a class="back">&laquo;Volver</a>
        
        <div class="logo">
          <a id="tn-home" href="<%= url %>"><%= text %></a>
          <% if select_proyect == 'site-tn' %>
            <a title="El primer canal de noticias de Argentina en HD" class="hd" href="http://tn.com.ar/envivo/24hs/HD">HD</a>
          <% end %>
        </div>
				
				<%= render 'login-box-header' %>
			</div>
		</div>
<!-- end header -->
