---
title: Más valoradas | TN y la Gente | TN.com.ar | Todo Noticias
description: Las notas más valoradas de TN y la Gente, la comunidad de TN.com.ar, el sitio de noticias más visto de Argentina.
pager: true
more: true
twitter_text: Estoy viendo las notas más valoradas de TN y la Gente
page_javascript: "TN.initfuncs.push('setup_nota_interna')"
header: last-moment-nr2
---
<!-- tags/tags.html -->

<ul class="general-menu clearfix" id="all-news">
  <li class="first"><a data-id="0" data-src="/" href="/" >+ Leidas</a></li>
  <li><a data-id="1" data-src="#" href="/">+ Comentadas</a></li>
  <li><a data-id="2" data-src="#" href="/" class="active">+ Valoradas</a></li>
  <li class="spinner"><img src="<%= base_url %>images/spinner.gif"></li>
</ul>
<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>