    <% if @site.config[:environment] == 'production' %>
      <link rel="stylesheet" href="css/<%= @item[:project] %>-min.css" type="text/css" />
      <!--[if IE ]>
        <link rel="stylesheet" href="css/<%= @item[:project] %>-ie-min.css" type="text/css" />
      <![endif]-->    
    <% else %>
	    <link rel="stylesheet" href="css/reset.css" type="text/css" />
	    <link rel="stylesheet" href="css/fonts.css" type="text/css" />
	    <link rel="stylesheet" href="css/style.css" type="text/css" />
	    <!--[if IE ]>
	      <link rel="stylesheet" href="css/<%= @item[:project] %>-ie.css" type="text/css" />
	    <![endif]-->    
    <% end %>