    <div class="block">
      <h3>Secciones</h3>

      <ul>
        <li class="first"><a data-src="/taxonomy/term/0" data-id="0" data-title="Todo" href="/">Todo</a></li>
        <li><a data-src="/politica" data-id="1" data-title="Política" href="/politica">Política</a></li>
        <li><a data-src="/policiales" data-id="2" data-title="Policiales" href="/policiales">Policiales</a></li>
        <li><a data-src="/deportes" data-id="4" data-title="Deportes" href="/deportes">Deportes</a></li>
        <li><a data-src="/internacional" data-id="5" data-title="Internacional" href="/internacional">Internacional</a></li>
        <li><a data-src="/sociedad" data-id="7" data-title="Sociedad" href="/sociedad">Sociedad</a></li>
        <li><a data-src="/show" data-id="8" data-title="Show" href="/show">Show</a></li>
        <li><a data-src="/tecnologia" data-id="9" data-title="Tecnología" href="/tecnologia">Tecnología</a></li>
        <li><a data-src="/opinion" data-id="10" data-title="Opinión" href="/opinion">Opinión</a></li>
        <li><a data-src="/programas" data-id="11" data-title="Estado del Tiempo" href="/clima">Estado del Tiempo</a></li>
        <li><a data-src="/blogs" data-id="12" data-title="Estado del Tránsito" href="/transito">Estado del Tránsito</a></li>
        <li><a data-src="http://interactivo.tn.com.ar/" data-title="TN Interactivo" href="http://interactivo.tn.com.ar/">TN Interactivo</a></li>
        <li><a data-src="http://tn.com.ar/trends" data-title="TN Trends" href="http://tn.com.ar/trends">TN Trends</a></li>
        <li><a data-src="http://tn.com.ar/Blogs" data-title="TN Blogs" href="http://tn.com.ar/blogs">TN Blogs</a></li>
        </ul>

    </div>