<%

items = Array.new

items << 'Rock'
items << 'Pop'
items << 'Nacional'
items << 'Teen'
items << 'Electrónica'
items << 'Tropical'
items << 'Hip Hop y Rap'
items << 'Reggae y Ska'
items << 'Blues y Jazz'
items << 'Tango y Folclore'
items << 'Otras músicas'

first = true
%>

		<div class="block last">
			<h3>Géneros</h3>
      <ul>
		<% items.each do |item| %>
	    	<li <% if(first == true) %>class="first"<%end%>><h2><a href="/generos/<%= item.urlize %>" title="<%= item %>" ><%= item %></a></h2></li>
	    	<% first = false %>
		<% end %>      
      </ul>

		</div>