    <div class="block">
      <h3>Personajes</h3>
      <ul>
        <li class="first"><h2><a href="#">Phasellus viverra</a></h2> </li>
        <li><h2><a href="#">Aenean tempus</a></h2> </li>
        <li><h2><a href="#">Ullamcorper ultricies</a></h2> </li>
        <li><h2><a href="#">Nam wget dui</a></h2> </li>
        <li><h2><a href="#">Etiam rhoncus maecenas tempus</a></h2> </li>
        <li><h2><a href="#">Tellus eget</a></h2> </li>
        <li><h2><a href="#">Quisque tutrum</a></h2> </li>
        <li><h2><a href="#">Etiam rhoncus maecenas tempus</a></h2> </li>
      </ul>
    </div>