  
  <script type="text/javascript" src="js/libs/jquery-164.js"></script>
  <script type="text/javascript" src="js/bbstream.js"></script>
  
  <script type="text/javascript">(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=346699902992";
	  fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));
  </script>
	
  <script type="text/javascript" src="js/libs/twitter-widget-min.js"></script>
  <script type="text/javascript">
    var twt_search = new TWTR.Widget({
      version: 2,
      id: 'twitter-search',
      type: 'search',
      search: '@BebeMusicTW OR @tnLaViola',
      interval: 4000,
      width: 470,
      height: 543,
      theme: { shell: { background: '#ffffff', color: '#444444' },
        tweets: { background: '#ffffff', color: '#444444' }
      },
      features: { scrollbar: false, loop: false, live: true, hashtags: true, timestamp: true, avatars: true, toptweets: true, behavior: 'default' }
    });
    setTimeout("twt_search.render().start()", 2000);
  </script>	