			<div id="block-tnylagente" class="block<% if (@last == true) %> last<%end%>">
        <article class="hnews hentry item item-2 has-picture">
          <figure class="hmedia">
            <a href="#" class="url"> <img class="photo lzl" alt="" src="<%= base_url %>images/watermark-230x129.png" data-src="<%= assets_url %>images/data/grid-2.jpg" width="230" height="129" /> </a>
            <figcaption>
              <h2><a class="url fn entry-title" rel="bookmark" href="" title="">Hummer de Gordon</a></h2>
            </figcaption>
          </figure>
          <footer>
<div class="author vcard"><span class="fn">Autor de la nota</span></div>

<div class="source-org vcard"><span class="org fn">Todo Noticias</span></div>

<time datetime="2009-11-13T20:00-03:00" pubdate="pubdate"><span title="2009-11-13T20:00-03:00" class="updated">20:03</span></time>
          </footer>

        </article>
				<ul>
          <li><h2><a href="#">Corte en General Paz!</a></h2></li>
          <li><h2><a href="#">PALMERA SE ESTA POR CAER</a></h2> </li>
          <li><h2><a href="#">Micro exceso de velocidad</a></h2> </li>
          <li><h2><a href="#">Largada enduro rally vidal</a></h2> </li>
				</ul>
				<a class="block-logo" href="#">Toda Pasion</a>
			</div>