      <div id="block-insolitas" class="block<% if (@last == true) %> last<%end%>">
        <article class="hnews hentry item item-4 has-picture">
          <figure class="hmedia">
            <a href="#" class="url"><img class="photo lzl" alt="" src="<%= base_url %>images/watermark-230x129.png" data-src="<%= assets_url %>images/data/grid-2.jpg" width="230" height="129" /></a>
            <figcaption>
              <h2><a class="url fn entry-title" rel="bookmark" href="" title="">Lorem ipsum dolor sit comet format dos pint gond chot sircunvert via resto</a></h2>
            </figcaption>
          </figure>
          <footer>
<div class="author vcard"><span class="fn">Autor de la nota</span></div>

<div class="source-org vcard"><span class="org fn">Todo Noticias</span></div>

<time datetime="2009-11-13T20:00-03:00" pubdate="pubdate"><span title="2009-11-13T20:00-03:00" class="updated">20:03</span></time>
          </footer>

        </article>

        <ul>
          <li><h2><a href="#">Se viene el iPad 2, nuevas funcionalidaddes y diseño</a></h2></li>
          <li><h2><a href="#">Lo nuevo en tecnología este es un texto simulado</a></h2></li>
          <li><h2><a href="#">Este lunes, "Los Únicos" tienen una nueva misióhhhhhhhhhhhhhhh</a></h2></li>
        </ul>
      </div>