			<div id="block-nyt" class="block<% if (@last == true) %> last<%end%>">
				<article class="hnews hentry item item-3 has-picture">
				  <figure	class="hmedia">
            <a href="#" class="url"> <img	class="photo lzl" alt="" src="<%= base_url %>images/watermark-230x129.png" data-src="<%= assets_url %>images/data/grid-1.jpg" width="230" height="129" /> </a>
            <figcaption>
              <h2><a class="url fn entry-title" rel="bookmark" href="#" title="">Lorem Ipsum dolor sit et set chup amela</a></h2>
				    </figcaption>
          </figure>
          <footer>
<div class="author vcard"><span class="fn">Autor de la nota</span></div>

<div class="source-org vcard"><span class="org fn">Todo Noticias</span></div>

<time datetime="2009-11-13T20:00-03:00" pubdate="pubdate"><span title="2009-11-13T20:00-03:00" class="updated">20:03</span></time>
          </footer>

        </article>
				<ul>
          <li><h2><a href="#">Para muchos gays y lesbianas mayor de edad, el aislamiento es un problema</a></h2></li>
          <li><h2><a href="#">El arte de vivir bien casi en cualquier parte</a></h2></li>
          <li><h2><a href="#">Los Beach Boys siguen surfeando después de 50 años bajo el sol</a></h2></li>
          <li><h2><a href="#">Sarah Jessica Parker deja los zapatos de diseñador para usar pantuflas</a></h2></li>
				</ul>
				<a class="block-logo" href="#">New York Times</a>
			</div>