          <div class="share share-home">
            <div class="tw">
              <iframe class="tw-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                        src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=Loren%20ipsum%20dolor%20sit%20amet&url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&via=todonoticias"
                      width="120" height="25"></iframe>
            </div>
            <div class="fb">
              <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                        src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Foutput%2Fhome%2Fhome.html&amp;locale=es_LA&amp;send=false&amp;layout=button_count&amp;width=141&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21"
                   data-old="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Foutput%2Fhome%2Fhome.html&amp;locale=es_LA&amp;layout=button_count&amp;show_faces=false&amp;width=141&amp;action=recommend&amp;colorscheme=light&amp;height=21&amp;ref=fbbtn&amp;send=false"
                      style="border:none; overflow:hidden; width:141px; height:27px;"></iframe>
            </div>
          </div>
