    <div class="share share-wheater clearfix">
      <% if (@site.config[:environment] == 'production') %>
        <div class="tw">
          <a href="http://twitter.com/share" class="twitter-share-button"
            data-url="http://tn.com.ar"
            data-text="Loren ipsum dolor sit amet" data-count="horizontal"
            data-via="todonoticias"
            data-related="todapasion:La tribuna del hincha en la web"
            data-lang="es">Tweet</a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>

        <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": true, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://tn.com.ar/envivo/24hs/HD"}'></div>
       <% else %>
         <img src="<%= assets_url %>images/news-share.png" width="210" height="28" />
       <% end %>
    </div>
