<%

twitter = ''

if (@twitter != nil)
	twitter = @twitter
end

if (item[:twitter_text] != nil)
  twitter = item[:twitter_text]
end

via = 'todonoticias'
if (@via != nil)
	via = @via
end

color = 'ffffff'
if (@color != nil)
	color = @color
end


%>

					<div class="share <% if @share %>share-<%= @share %><% end %> clearfix">

            <div class="tw">

							<div class="twitter-share-button" data-src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=<%= twitter %>&url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&via=<%= via %>" data-width="120" data-height="22"></div>

            </div>
            <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": true, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://tn.com.ar/envivo/24hs/HD"}'></div>

              <div class="glg">
        	     <div data-count="true" data-size="medium" class="g-plusone" id="___plusone_0" style="height: 20px; width: 90px; display: inline-block; text-indent: 0pt; margin: 0pt; padding: 0pt; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline;"><iframe width="100%" scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" style="position: static; top: 0pt; width: 90px; margin: 0px; border-style: none; left: 0pt; visibility: visible; height: 20px;" tabindex="0" vspace="0" id="I0_1355930767324" name="I0_1355930767324" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;count=true&amp;hl=es-419&amp;origin=http%3A%2F%2Ftn.com.ar&amp;url=http%3A%2F%2Ftn.com.ar%2Ftnylagente%2Fahora%2Fcomentarios&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.es.GAu1M3ZmKpU.O%2Fm%3D__features__%2Fam%3DiQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTOLnaVPijVxsUEHFgn7w48Ib2Md-g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled&amp;id=I0_1355930767324&amp;parent=http%3A%2F%2Ftn.com.ar" allowtransparency="true" title="+1"></iframe></div>      </div>

            <% if @share == 'vivo' %>
            <a class="link-share-hd" href="http://tn.com.ar/envivo/24hs/HD">Mirá TN en HD</a>
            <% end %>

            <% if @subscribe == true %>
			      <div class="subscribe">
			        <span class="title">Suscribite</span>
			        <a class="rss" href="#">RSS</a>
			      </div>
			      <%end%>

            <% if @trends == true %>
			      <div class="trends">
			        <a href="https://twitter.com/tntrends" class="twitter-follow-button" data-show-count="false" data-lang="es" data-link-color="#<%= color %>">Segui @tntrends</a>
			      </div>
			      <%end%>
					</div>

			