					<div class="share share-flow clearfix">
						<% if (@item[:production] == true || @site.config[:environment] == 'production') %>
            <div class="tw">
              <div class="twitter-button">
                <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ftn.local%2Fhome%2Fhome.html&amp;related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&amp;source=tweetbutton&amp;text=Texto%20de%20ejemplo%20de%20twitter&amp;url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&amp;via=todonoticias" class="btn" target="_blank">
                  <i class="icon"></i>
                  <span class="label">Twittear</span>
                </a>
              </div><div class="count-o enabled" id="c">
                <i class="ii"></i><u class="uu"></u>
                <a href="http://twitter.com/search?q=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet" class="counter" target="_blank">0</a>
              </div>
            </div>
            <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": false, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://tn.com.ar/envivo/24hs/HD"}'></div>
						<% else %>
							<img src="<%= assets_url %>images/news-share.png" width="210" height="28" />
						<% end %>
					</div>
