					<div class="share share-article clearfix">
						<% if (@site.config[:environment] == 'production' || @item[:production] == true) %>
            <div class="tw">
              <iframe class="twitter-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                        src="about:blank"
                        data-src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=<%= cgi_escape(@item[:twitter_text]) %>&url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&via=todonoticias"
                      width="120" height="22"></iframe>
            </div>
            <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": true, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://tn.com.ar/envivo/24hs/HD"}'></div>

						<% else %>
							<img src="<%= assets_url %>images/news-share.png" width="210" height="28" />
						<% end %>
					</div>
