<%
    twitter = ' '
    link = ' '

    if(item[:twitter_text_fx] != nil)
        twitter = item[:twitter_text_fx]
    end
    
    if(item[:twitter_link] != nil)
        link = item[:twitter_link]
    end
    
%> 

    <div class="share-fixture">
           <div class="facebook">
              <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                        src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Foutput%2Fhome%2Fhome.html&amp;locale=es_LA&amp;send=false&amp;layout=button_count&amp;width=141&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21"
                   data-old="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Foutput%2Fhome%2Fhome.html&amp;locale=es_LA&amp;layout=button_count&amp;show_faces=false&amp;width=141&amp;action=recommend&amp;colorscheme=light&amp;height=21&amp;ref=fbbtn&amp;send=false"
                      style="border:none; overflow:hidden; width:141px; height:27px;"></iframe>
            </div>
            
              <div class="twitter">
              <iframe class="tw-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                      src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=Estoy%20mirando%20las%20estadísticas%20de%20<%= twitter %>&text=Estoy%20mirando%20las%20estadísticas%20de%20<%= twitter %>&url=http%3A%2F%2Ftn.com.ar%2Ffutbol%2F<%= link %>&via=todapasion"
                      width="120" height="25"></iframe>
            </div>
          </div>
