<%

twitter = 'Estoy%20leyendo%20Cristina%3A%20%E2%80%9CMe%20gustar%C3%ADa%20entrar%20en%20la%20historia%20para%20poder%20encontrarme%20con%20%C3%A9l%22%20en%20TN.com.ar'

if (@twitter != nil)
  twitter = @twitter
end

if (item[:twitter_text] != nil)
  twitter = item[:twitter_text]
end

%>

		<div class="share share-nota">
			<ul class="alignleft">
        <li><div class="twitter-share-button" data-src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=<%= twitter %>&url=http%3A%2F%2Ftn.com.ar%2Fpolitica%2Fcristina-kirchner-encabeza-un-acto-en-la-matanza_270714&via=todonoticias" data-width="120" data-height="22"></div></li>
        <li class="fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": true, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://tn.com.ar/envivo/24hs/HD"}'></li>
      </ul>
      <ul class="alignright">
        <% if (select_proyect == 'site-tnylagente') %>
        <li class="link"><a href="#" class="icon-report" title="reportar" data-id="id-nota">Reportar</a></li>
        <% end %>
				<li class="link"><a href="#" class="icon-email" title="enviar nota por email" data-id="id-nota">Email</a></li>
				<li class="link"><a href="#" class="icon-print" title="versión de la nota para imprimir">Print</a></li>
			</ul>
		</div>
