					<!--
					<div class="share-title">
						<% if (@site.config[:environment] != 'production') %>
              <iframe class="facebook-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                        src="about:blank"
                   data-src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Foutput%2F&locale=es_ES&layout=button_count&show_faces=false&width=200&action=like&colorscheme=light&height=21"
                       style="border:none; overflow:hidden; width:120px; height:27px;"></iframe>
              <iframe class="twitter-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                        src="about:blank"
                   data-src="http://platform0.twitter.com/widgets/tweet_button.html?_=1299254551029&count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=Loren%20ipsum%20dolor%20sit%20amet&url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&via=todonoticias"
                      width="120" height="28"></iframe>
						<% else %>
							<img src="<%= assets_url %>images/share-title.png" width="188" height="24" />
						<% end %>
					</div>
          -->
