<div class="share share-trend clearfix">
  <div class="tw">
    <a id="twtr-button" href="http://twitter.com/share" class="twitter-share-button" data-text="Estoy viendo un río de twitts sobre NOMBRE DE TAG en TN Trends" data-count="horizontal" data-via="todonoticias" data-related="todapasion:La tribuna del hincha en la web" data-lang="es">Tweet</a>
  </div>
  <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": true, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://tn.com.ar/envivo/24hs/HD"}'></div>

</div>
