---
title: Vivo, Alert
header: alert
page: vivo
page_javascript: "TN.initfuncs.push('setup_vivo');"
clicktale: "2683,0.07"
---
<!-- vivo/vivo-alert.html -->
<div class="envivo">
	<article class="hnews hentry item hmedia">
		<div class="content">
      <%= render 'share/share', :share => 'vivo' %>
      <div id="admovil"><a href="http://m.tn.com.ar" target="_blank" style="display:none">Mirá TN en vivo en tu celular</a></div>
      <div class="dplayer" data-op='{"close":false, "autostart":true}' data-player='{"rtmp.subscribe":"true","logo.file":"<%= assets_url %>images/watermark.png","logo.hide":false,"logo.margin":10,"logo.link":"http://tn.com.ar","logo.position":"top-right","width":600,"height":338,"file":"playlist-hd.xml","image":"http://tn.cdncmd.com/sites/all/themes/dozer/images/logo_fondo_600x338.jpg", "modes":[{"type":"flash" },{"type":"html5","config":{"file":"http://stream.tn.com.ar/live/smil:tn.smil/playlist.m3u8","provider":"video"}}]}'></div>
      <%= render 'share/share', :share => 'vivo' %>
    </div>
	</article>
  <section id="fb-livestream" class="block">
    <script src="http://connect.facebook.net/es_ES/all.js#appId=130209420376573&amp;xfbml=1"></script>
    <fb:live-stream event_app_id="123456789" width="600" height="500" xid="TN_VIVO_1337" via_url="http://www.tn.com.ar" always_post_to_friends="false"></fb:live-stream>
  </section>
</div>

