				<section class="billboard" class="block">
					<header><h3>Cartelera de cine</h3></header>
					<form class="clearfix">
						<div class="slideshow">
							<a class="active" href="#a"><img src="<%= assets_url %>images/data/cartelera-cine-1.jpg" alt="el turista" width="310" height="174" /></a>
							<a href="#b"><img src="<%= assets_url %>images/data/cartelera-cine-2.jpg" alt="el turista" width="310" height="174" /></a>
						</div>
						<fieldset>
							<select>
								<option>Buscar por titulo</option>
							</select>
							<select>
								<option>Buscar por cine</option>
							</select>
						</fieldset>
						<input class="more submit rounded" type="submit" value="Buscar" />
					</form>
					<a href="#" class="more rounded">Buscar Teatros</a>
				</section>