        <section id="blogs" class="block block-blogs">
          <h3>Blogs</h3>

          <ul class="clearfix">
            <li class="morales-sola">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/sola_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Conflictos internos por sobre las relaciones externas</a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="marcos-bonelli">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/poggi_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum</a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="osvaldo-bazan">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/fiasche_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/glanz_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro ">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/novarro_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro other">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/mario-markic_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro other last">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/mactas_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
          </ul>
          <a href="http://tn.com.ar/blogs" class="more rounded disabled">Ver más</a>
        </section>
