<%
w= 310
if (@w != nil)
  w = @w
end

h= 427
if (@h != nil)
  h = @h
end
%>
<section id="fb-activity" class="block">
  <h3><%= @title %></h3>
  <div>
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=<%= @fb %>&amp;locale=es_ES&amp;width=<%= w %>&amp;height=<%= h %>colorscheme=light&amp;show_faces=false&amp;stream=true&amp;header=false&border_color=%23dddddd" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:<%= w %>px; height:<%= h %>px;" allowTransparency="true"></iframe>
  </div>
</section>
