<%
w= 310
if (@w != nil)
  w = @w
end
h= 427
if (@h != nil)
  h = @h
end
%>
<section id="fb-activity" class="block">
  <h3><%= @title %></h3>
  
  <div class="fb-activity" data-site="<%= @fb %>" data-width="<%= w %>" data-height="<%= h %>" data-header="false" data-recommendations="false"></div>

</section>
