<section class="block" id="fixture">
  <header>
    <h3>El Fixture</h3>
  </header>

  <iframe id="ifixture" name="ifixture" width="310" height="430" src="http://mam.tn.com.ar/tn/fixture" scrolling="no" frameborder="0"></iframe>
</section>