<%
media = ['video', 'gallery', 'photo', 'video']

title = Array.new

title << 'Ronaldo y Messi, la lucha por la hegemonia en el futbol'
title << 'Schoklender no quiere que Oyarbide siga llevando la causa contra él'
title << 'La “semi plena prueba” de Aníbal F.'
title << 'Sale la "gran" Noelia, entra la "enana" Feudale'
title << 'Peratta: "En Rosario hay mala leche y extorsionadores"'
title << 'Cumbre por la crisis de San Lorenzo'
title << 'Di Caprio, en su mejor estado'
title << 'Un esguince no tan Chiquito'
title << 'Reunión en Trabajo para destrabar el bloqueo en Ezeiza y Aeroparque'
title << 'Santa Cruz: enfrentamientos entre facciones de la UOCRA'

%>

        <section class="other-blogs block">
          <h3><%= @title %></h3>
          <div class="content clearfix">
            
            <% if (@mam == true) %>
            <article class="iframe"><iframe width="230" height="129" frameborder="0" src="http://mam.tn.com.ar/minutofutbol329.html" scrolling="no"></iframe></article>
            <%end%>
            
            <% for i in 1..@items %>
              <%= render 'river-news/grid-article', :item => i, :media=>media.shuffle.first, :grid=>4, :title=>title.shuffle.first %>
            <% end %>
          </div>
          <% if (@more == true) %>
          
            <a href="#" class="more rounded">Ver más</a>
          <% end %>
        </section>