<section class="block">
<h3>Medallero Londres 2012</h3>
<iframe width="310px" height="303px" src="http://mam.tn.com.ar/olimpicos2012/es/medallero_portada.html" seamless="seamless"></iframe>

<a class="more rounded" target="_blank" href="http://tn.com.ar/londres-2012" title="Especial Juegos Olímpicos">Ver Especial Londres 2012</a>
</section>

