<section class="block widget-lasts" id="last-posts">
  <header>
    <h3>Últimos Posts</h3>
  </header>

  <div class="content">
      <article class="comment">
          <header class="comment-meta wrapper clearfix">
            <a class="avatar"rel="me" href="#"><img src="<%= assets_url %>images/data/avatar-tp.png" title="a tp la diseña el enamigo" alt="a tp la diseña el enamigo" width="43" height="43" /></a>
            <div class="content">
             <h1><a class="user-profile" rel="me" title="usuario" href="#">a tp la diseña el enemigo</a></h1> <h1><a href="#">publicó</a></h1> hace 5 horas
            </div>
          </header>
      </article>
      <article class="comment">
          <header class="comment-meta wrapper clearfix">
            <a class="avatar"rel="me" href="#"><img src="<%= assets_url %>images/data/avatar-tp.png" title="juanma9178" alt="juanma9178" width="43" height="43" /></a>
            <div class="content">
            <h1><a class="user-profile" rel="me" title="usuario" href="#">juanma9178</a></h1> <h1><a href="#">publicó</a></h1> hace 4 horas
            </div>
          </header>
      </article>
      <article class="comment">
          <header class="comment-meta wrapper clearfix">
            <a class="avatar"rel="me" href="#"><img src="<%= assets_url %>images/data/avatar-tp.png" title="Moderador Fútbol" alt="Moderador Fútbol" width="43" height="43" /></a>
            <div class="content">
            <h1><a class="user-profile" rel="me" title="usuario" href="#">Moderador Fútbol</a></h1> <h1><a href="#">publicó</a></h1> hace 2 horas
            </div>
          </header>
      </article>

      <article class="comment">
          <header class="comment-meta wrapper clearfix">
            <a class="avatar"rel="me" href="#"><img src="<%= assets_url %>images/data/avatar-tp.png" title="Facundo Sanchez" alt="Facundo Sanchez" width="43" height="43" /></a>
            <div class="content">
            <h1><a class="user-profile" rel="me" title="usuario" href="#">Facundo Sanchez</a></h1> <h1><a href="#">publicó</a></h1> hace 1 hora
            </div>
          </header>
      </article>

      <article class="comment">
          <header class="comment-meta wrapper clearfix">
            <a class="avatar"rel="me" href="#"><img src="<%= assets_url %>images/data/avatar-tp.png" title="Cristian Alexis" alt="Cristian Alexis" width="43" height="43" /></a>
            <div class="content">
            <h1><a class="user-profile" rel="me" title="usuario" href="#">Cristian Alexis Muchut</a></h1> <h1><a href="#">publicó</a></h1> hace 35 minutos
            </div>
          </header>
      </article>

    <article class="comment last">
        <header class="comment-meta wrapper clearfix">
          <a class="avatar"rel="me" href="#"><img src="<%= assets_url %>images/data/avatar-tp.png" title="Maria Casey" alt="Maria Casey" width="43" height="43" /></a>
          <div class="content">
          <h1><a class="user-profile" rel="me" title="usuario" href="#">MARIA CASEY</a></h1> <h1><a href="#">publicó hace</a></h1> 15 minutos
          </div>
        </header>
    </article>
  </div>

</section>