<%
title = 'Ahora'

if (@title != nil)
  title = @title
end
%>
        <section id="last-news" class="block ranking">
          <h3><%= title %></h3>
          <div class="content">
            <ul class="clearfix">
              <li class="me-100 first"><a class="balloon" href="#">08:45</a><h2 class="text"><a href="#">Nullam dictum felis </a></h2></li>
              <li class="me-95"><a class="balloon" href="#">12:45</a><h2 class="text"><a href="#">Nullam dictum felis eu pede mollis pretium, integer tincidunt</a></h2></li>
              <li class="me-90"><a class="balloon" href="#">14:45</a><h2 class="text"><a href="#">Mollis pretium, integer tincidunt</a></h2></li>
              <li class="me-85"><a class="balloon" href="#">16:45</a><h2 class="text"><a href="#">Maecenas nec odio et ante tincidunt tempus ligula</a></h2></li>
              <li class="me-80"><a class="balloon" href="#">20:45</a><h2 class="text"><a href="#">Donec sodales sagittis magna sedconsequat leo eget bibendum</a></h2></li>
              <li class="me-75"><a class="balloon" href="#">22:45</a><h2 class="text"><a href="#">Donec sodales bibendum</a></h2></li>
            </ul>
          </div>
          <a href="#" class="more rounded">Ver más</a>
        </section>
