<section id="the-best" class="block">
  <h3>Lo mejor sobre #<%= @title %></h3>
    <ul class="clearfix">
      <% (1..10).each do |i| %>
      <li <% if (i%5 == 0)%>class="last"<% end %>>
        <h2><a href="#" title="<%= @title %>"><img src="<%= base_url%>images/tnylagente/mejor-<%= i %>.jpg" width="87" height="87" alt="<%= @title %>" title="<%= @title %>" /><%= @title %></a></h2>
      </li>
      <% end %>
    </ul>
  <a href="#" class="more rounded">Ver más</a>
</section>