<section class="block">
  <iframe scrolling="no" height="250px" frameborder="0" width="300" class="iframe_biencasero" src="http://www.ole.com.ar/data/export/site/destacados-ext.html" style="border: medium none; overflow: hidden; width: 300px; height: 250px;"></iframe>
</section>
