        <section id="opinion" class="block block-opinion">
          <h3>Opinión</h3>

          <ul class="clearfix">
            <li class="morales-sola">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/sola_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="marcos-bonelli last">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/novaro_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum</a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="osvaldo-bazan">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/lorena-maciel_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro last">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/gil-vidal_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
          </ul>
          <a href="#" class="more rounded">Ver más</a>
        </section>
