        <% if (@item[:poll] != false) %>
        <section class="block poll-widget" data-poll="<%= @item[:poll] %>">
          <h3>Encuesta</h3>
          <p>¿Martín Palermo tiene que seguir como titular en Boca?</p>
          <div class="content">
            <span class="loading"></span>
				<form id="encuesta" action="<%= base_url %>vote/answer-1.html" method="post" class="form-container form-radio">
					<table>
					    <tr>
					      <td class="check"><span></span></td>
					      <td class="question">
					        <label>Si<br />a<input type="radio" name="answer" value="1" name="check" /></label></td>
					    </tr>
					    <tr>
					      <td class="check"><span></span></td>
					      <td class="question">
					        <label>No<input type="radio" name="answer" value="0" name="check" /></label></td>
					    </tr>
					    <tr>
					      <td class="check"><span></span></td>
					      <td class="question">
					      <label>Me es indiferente<input type="radio" name="answer" value="2" name="check" /></label></td>
					    </tr>
					</table>
		     		<input class="submit more rounded" type="submit" value="Votar" />
				</form>
			<% case @item[:poll]
				when 'answer-1' %>
            <div class="result-container">
              <ul>
              <li class="me-100 top-answer answer">
                  <div class="text">
                    <div class="middle">
                      <div class="inner">Respuesta con 1 lineas</div>
                    </div>
                  </div>
                  <div class="value"><span class="balloon">100%</span></div>
              </li>
              <li class="me-50 answer">
                  <div class="text">
                    <div class="middle">
                      <div class="inner">Respuesta <br /> con 2 lineas forzadas</div>
                    </div>
                  </div>
                  <div class="value"><span class="balloon">50%</span></div>
              </li>
              <li class="me-10 answer">
                  <div class="text">
                    <div class="middle">
                      <div class="inner">Respuesta a dos lineas, centrado respecto al alto de la banda.</div>
                    </div>
                  </div>
                  <div class="value"><span class="balloon">10%</span></div>
              </li>
              </ul>
              <p>Total de votos: <strong>677</strong></p>
              <a href="#" class="more rounded">Ver otras encuestas</a>            
            </div>

            <% when (@item[:poll] == 'answer-2') %>
            <div class="result-container">
		          <ul>
		          <li class="me-100 top-answer answer">
		              <div class="text">
		                <div class="middle">
		                  <div class="inner">Respuesta con 1 lineas</div>
		                </div>
		              </div>
		              <div class="value"><span class="balloon">100%</span></div>
		          </li>
		          <li class="me-50 answer">
		              <div class="text">
		                <div class="middle">
		                  <div class="inner">Respuesta <br /> con 2 lineas forzadas</div>
		                </div>
		              </div>
		              <div class="value"><span class="balloon">50%</span></div>
		          </li>
		          <li class="me-10 answer">
		              <div class="text">
		                <div class="middle">
		                  <div class="inner">Respuesta a dos lineas, centrado respecto al alto de la banda.</div>
		                </div>
		              </div>
		              <div class="value"><span class="balloon">10%</span></div>
		          </li>
		          </ul>
		          <p>Total de votos: <strong>677</strong></p>
		          <a href="#" class="more rounded">Ver otras encuestas</a>            
            </div>
            <% else %>
            <div class="result-container">
		          <ul>
		          <li class="me-100 top-answer answer">
		              <div class="text">
		                <div class="middle">
		                  <div class="inner">Respuesta con 1 lineas</div>
		                </div>
		              </div>
		              <div class="value"><span class="balloon">100%</span></div>
		          </li>
		          <li class="me-50 answer">
		              <div class="text">
		                <div class="middle">
		                  <div class="inner">Respuesta <br /> con 2 lineas forzadas</div>
		                </div>
		              </div>
		              <div class="value"><span class="balloon">50%</span></div>
		          </li>
		          <li class="me-10 answer">
		              <div class="text">
		                <div class="middle">
		                  <div class="inner">Respuesta a dos lineas, centrado respecto al alto de la banda.</div>
		                </div>
		              </div>
		              <div class="value"><span class="balloon">10%</span></div>
		          </li>
		          </ul>
		          <p>Total de votos: <strong>677</strong></p>
		          <a href="#" class="more rounded">Ver otras encuestas</a>            
            </div>            
            <% end %>

          </div>


        </section>
        <% end %>