<section id="qrcode" class="block">
  <h3><%= @title %></h3>
  <div class="code">
    <img src="<%= assets_url %>/images/<%= @img %>" alt="qrCode" width="240" height="240" />
    <p class="qrask"><a class="qrasklink" href="http://es.wikipedia.org/wiki/C%C3%B3digo_QR" target="_blank" rel="nofollow">¿Qué es ésto?</a></p>
  </div>
</section>
