        <section class="rating block">
          <header>
	          <h3>El Rating</h3>
	          <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">Miércoles 15 de mayo</time>
          </header>
          <div class="content">
	          <table>
	            <tr class="first">
	              <td class="channel"><span class="channel trece">Canal 13</span></td>
	              <td class="program">Herederos de una venganza</td>
	              <td class="number">22.7</td>
	            </tr>
              <tr>
                <td class="channel"><span class="channel telefe">Canal 13</span></td>
                <td class="program">Los únicos</td>
                <td class="number">19.4</td>
              </tr>
              <tr>
                <td class="channel"><span class="channel c-7">Canal 13</span></td>
                <td class="program">Seis en el Siete a las 8:00</td>
                <td class="number">10.3</td>
              </tr>
              <tr>
                <td class="channel"><span class="channel c-9">Canal 13</span></td>
                <td class="program">Bendita</td>
                <td class="number">8.7</td>
              </tr>
              <tr>
                <td class="channel"><span class="channel america">Canal 13</span></td>
                <td class="program">Desayuno americano</td>
                <td class="number">2.7</td>
              </tr>
	          </table>
          </div>
        </section>