<section id="rumors" class="block">
	<h3>Rumores</h3>
	<div class="content clearfix">
		<span class="thermometer"></span>
		<div class="rumor-wrapper">
			
			<p class="rumor" data-rand="2" data-sort="1">Vestibulum tortor. Pellentesque purus. <a href="#">Donec</a> pharetra, massa quis malesuada auctor, tortor ipsum lobortis ipsum, eget facilisis ante nisi eget lectus.</p>
			<p class="rumor" data-rand="1" data-sort="0">Sit amet risus et ipsum viverra malesuada. <a href="#">Duis luctus</a>. Curabitur adipiscing metus et felis.</p>
			<p class="rumor" data-rand="0" data-sort="2">Sed a est. Aliquam nec	felis eu sem euismod viverra. <a href="#">Suspendisse</a> felis mi, dictum id, <a href="#">convallis ac</a>, mattis non, nibh.</p>
			
		</div>
		<button>Ordenar</button>
	</div>
	
</section>
