<section class="block">
  <h3>TN Trends</h3>
  <div class="content-data">
    Es la aplicación abierta de <a href="http://tn.com.ar">TN.com.ar</a> donde te informás, entretenés y buscás los temas que te interesan en tiempo real. Creá tu búsqueda modificando la URL. Por ejemplo: <i>tn.com.ar/trends/argentina</i>
  </div>
  <a href="http://tn.com.ar/trends" class="more rounded">Ver más</a>
</section>