<section class="block">
  <h3>Sobre TN y la Gente</h3>
  <div class="content-data">
    Estás viendo una publicación de TN y la Gente, la comunidad de TN.com.ar. Todo el contenido publicado en esta sección es producida por los usuarios registrados en el sitio.
  </div>
  <a href="http://tn.com.ar/terminos-y-condiciones/" class="more rounded">Ver Términos</a>
</section>