<section id="register" class="block">
  <h3>Registrate en TN y la Gente</h3>
  <p>TN y la Gente es la comunidad de <a href="http://tn.com.ar" title="TN.com.ar">TN.com.ar</a>. Creá tus notas, subí tus fotos y videos y compartilos en el sitio de periodismo ciudadano más grande de Hispanoamérica.</p>
  <p>Sentite periodista, contanos historias y mostranos lo que pasa en tu ciudad o barrio. Activá tu cuenta, integrala a tus redes sociales y compartí con amigos y familiares tus publicaciones.</p>
  <p>¿Qué estás esperando? Ya sos parte de TN.</p>
  <a href="#" class="more rounded">¡Publicá ahora!</a>
  
</section>
