        <section id="twperiodistas" class="block">
          <h3><%= @title %></h3>
          <div class="twsb-cont">
            <span class="twsb-bck"></span>
          </div>
          <div id="twpresstnyg" class="content twpress"></div>
          <a href="http://twitter.com/#!/<%= @url %>" target="_blank" class="more rounded">Ver más</a>
        </section>