<%

title = Array.new

title << 'Ronaldo y Messi, la lucha por la hegemonia en el futbol'
title << 'Schoklender no quiere que Oyarbide siga llevando la causa contra él'
title << 'La “semi plena prueba” de Aníbal F.'
title << 'Sale la "gran" Noelia, entra la "enana" Feudale'
title << 'Peratta: "En Rosario hay mala leche y extorsionadores"'
title << 'Cumbre por la crisis de San Lorenzo'
title << 'Di Caprio, en su mejor estado'
title << 'Un esguince no tan Chiquito'
title << 'Reunión en Trabajo para destrabar el bloqueo en Ezeiza y Aeroparque'
title << 'Santa Cruz: enfrentamientos entre facciones de la UOCRA'

reaction = Array.new

reaction << 'orgullo'
reaction << 'envidia'
reaction << 'gusto'

category = Array.new

category << 'Toda Pasión'
category << 'Politica'
category << 'Famosos'
category << 'La Viola'
category << 'Política'
category << 'Economía'

user = Array.new

user << 'juan carlos'
user << 'Nelida Valdez'
user << 'Leandro Vidal'
user << 'Delphinus Hippocampus Orcinus'
user << 'Sebastian Matias Aguilera'
%>

<section class="block widget-lasts">
  <header>
    <h3>Últimas reacciones</h3>
  </header>

  <div class="content">
    <ul>  
    <% (1..10).each do |i| %>
        <li class="comment clearfix <% if (i == 10) %>last<% end %>">
           <a class="avatar"rel="me" href="#"><img src="<%= assets_url %>images/data/avatar-tp.png" title="a tp la diseña el enamigo" alt="a tp la diseña el enamigo" width="48" height="48" /></a>
           <div class="content">
             <p><a href="#"><%= user[rand(user.size)] %></a> se sintió <a href="#"><%= reaction[rand(reaction.size)] %></a> al leer <a href="#"><%= title[rand(title.size)] %></a></p>
             <time >Hace 22 segs</time>
           </div>                 
        </li>
    <% end %>
    </ul>
    <a href="#" class="more rounded">Ver más</a>    
  </div>

</section>