<section id="register" class="block">
  <h3>Te lo cuentan los usuarios</h3>
  <p>Todo el contenido de TN y la Gente es producido por los usuarios registrados en el sitio. Compartí con ellos la experiencia de ser parte de la comunidad. <a href="http://tn.com.ar/tnylagente/preguntas-frecuentes" title="Pregunas Frecuentes">Leé más</a>.</p>  
</section>