<%

href = ['mas-leidas', 'mas-comentadas', 'mas-comentadas']
a = ['+ Leídas', '+ Valoradas', '+ Comentadas']

if (@href != nil)
  href = @href
end

if (@a != nil)
  a = @a
end

title = 'Top 10'

if (@title != nil)
  title = @title
end

%>
        <section id="ranking" class="block ranking">
          <h3><%= title %></h3>
          <div id="coda-nav-1">
            <ul class="sections">
              <li class="readed selected"><a class="xtrig" href="#noticias-<%= href[0] %>" rel="coda-slider-ranking" data-path="/<%= href[0] %>"><%= a[0] %></a></li>
              <li class="rated"><a class="xtrig" href="#noticias-<%= href[1] %>" rel="coda-slider-ranking" data-path="/<%= href[1] %>"><%= a[1] %></a></li>
              <li class="comented"><a class="xtrig" href="#noticias-<%= href[1] %>" rel="coda-slider-ranking" data-path="/<%= href[2] %>"><%= a[2] %></a></li>
            </ul>
          </div>
          <div class="coda-slider-wrapper content ">
            <div class="coda-slider preload" id="coda-slider-ranking">
              <div class="panel first-panel">
                <div class="panel-wrapper">
                  <ul class="clearfix">

                    <li class="me-100 first"><a class="balloon" href="/internacional/000294/eeuu-intenta-sin-exito-eliminar-a-otro-lider-de-al-qaeda">110<span class="tail"></span></a><h2 class="text"><a href="/internacional/000294/eeuu-intenta-sin-exito-eliminar-a-otro-lider-de-al-qaeda">EE.UU. intenta sin éxito eliminar a otro líder de Al Qaeda</a></h2></li>
                    <li class="me-95 "><a class="balloon" href="/show/000300/paul-mccartney-se-compromete">89<span class="tail"></span></a>  <h2 class="text"><a href="/show/000300/paul-mccartney-se-compromete">Paul McCartney se compromete</a></h2></li>
                    <li class="me-90"><a class="balloon" href="#">883<span class="tail"></span></a><h2 class="text"><a href="#">Aníbal F. por el avión: "Si hubiésemos sido nostros, estaríamos en Gauntánamo"</a></h2></li>
                    <li class="me-85"><a class="balloon" href="#">783<span class="tail"></span></a><h2 class="text"><a href="#">Seis detenidos por el asalto boquetero al Provincia</a></h2></li>
                    <li class="me-80"><a class="balloon" href="#">683<span class="tail"></span></a><h2 class="text"><a href="#">Italia: Berlusconi irá a juicio el 6 de abril por el caso Ruby</a></h2></li>
                    <li class="me-75"><a class="balloon" href="#">583<span class="tail"></span></a><h2 class="text"><a href="#">Román: Martir de Boca</a></h2></li>
                    <li class="me-70"><a class="balloon" href="#">483<span class="tail"></span></a><h2 class="text"><a href="#">Aliquet nec vulputate eget arcu in enim justo</a></h2></li>
                    <li class="me-65"><a class="balloon" href="#">383<span class="tail"></span></a><h2 class="text"><a href="#">La Mansión Playboy está en cuarentena</a></h2></li>
                    <li class="me-60"><a class="balloon" href="#">283<span class="tail"></span></a><h2 class="text"><a href="#">Se metió el auto en la boca del subte</a></h2></li>
                    <li class="me-55"><a class="balloon" href="#">83<span class="tail"></span></a><h2 class="text"><a href="#">Chaco: limpieza que arrasó con una escuela en el medio del campo</a></h2></li>

                  </ul>
                </div>
              </div>
              <div class="panel">
                <div class="panel-wrapper">
                  <ul class="clearfix">
                    <li class="me-100 first"><a class="balloon" href="#">8245<span class="tail"></span></a><h2 class="text"><a href="#">2Renunció Hosni Mubarak y dejó el poder en manos del Ejercito</a></h2></li>
                    <li class="me-95"><a class="balloon" href="#">1983<span class="tail"></span></a><h2 class="text"><a href="#">El juez Oyarbide adelantó la indagatoria a Venegas</a></h2></li>
                    <li class="me-90"><a class="balloon" href="#">883<span class="tail"></span></a><h2 class="text"><a href="#">Aníbal F. por el avión: "Si hubiésemos sido nostros, estaríamos en Gauntánamo"</a></h2></li>
                    <li class="me-85"><a class="balloon" href="#">783<span class="tail"></span></a><h2 class="text"><a href="#">Seis detenidos por el asalto boquetero al Provincia</a></h2></li>
                    <li class="me-80"><a class="balloon" href="#">683<span class="tail"></span></a><h2 class="text"><a href="#">Italia: Berlusconi irá a juicio el 6 de abril por el caso Ruby</a></h2></li>
                    <li class="me-75"><a class="balloon" href="#">583<span class="tail"></span></a><h2 class="text"><a href="#">Román: Martir de Boca</a></h2></li>
                    <li class="me-70"><a class="balloon" href="#">483<span class="tail"></span></a><h2 class="text"><a href="#">Aliquet nec vulputate eget arcu in enim justo</a></h2></li>
                    <li class="me-65"><a class="balloon" href="#">383<span class="tail"></span></a><h2 class="text"><a href="#">La Mansión Playboy está en cuarentena</a></h2></li>
                    <li class="me-60"><a class="balloon" href="#">283<span class="tail"></span></a><h2 class="text"><a href="#">Se metió el auto en la boca del subte</a></h2></li>
                    <li class="me-55"><a class="balloon" href="#">83<span class="tail"></span></a><h2 class="text"><a href="#">Chaco: limpieza que arrasó con una escuela en el medio del campo</a></h2></li>                  </ul>
                </div>
              </div>
              <div class="panel">
                <div class="panel-wrapper">
                  <ul class="clearfix">
                    <li class="me-100 first"><a class="balloon" href="#">8245<span class="tail"></span></a><h2 class="text"><a href="#">2Renunció Hosni Mubarak y dejó el poder en manos del Ejercito</a></h2></li>
                    <li class="me-95"><a class="balloon" href="#">1983<span class="tail"></span></a><h2 class="text"><a href="#">El juez Oyarbide adelantó la indagatoria a Venegas</a></h2></li>
                    <li class="me-90"><a class="balloon" href="#">883<span class="tail"></span></a><h2 class="text"><a href="#">Aníbal F. por el avión: "Si hubiésemos sido nostros, estaríamos en Gauntánamo"</a></h2></li>
                    <li class="me-85"><a class="balloon" href="#">783<span class="tail"></span></a><h2 class="text"><a href="#">Seis detenidos por el asalto boquetero al Provincia</a></h2></li>
                    <li class="me-80"><a class="balloon" href="#">683<span class="tail"></span></a><h2 class="text"><a href="#">Italia: Berlusconi irá a juicio el 6 de abril por el caso Ruby</a></h2></li>
                    <li class="me-75"><a class="balloon" href="#">583<span class="tail"></span></a><h2 class="text"><a href="#">Román: Martir de Boca</a></h2></li>
                    <li class="me-70"><a class="balloon" href="#">483<span class="tail"></span></a><h2 class="text"><a href="#">Aliquet nec vulputate eget arcu in enim justo</a></h2></li>
                    <li class="me-65"><a class="balloon" href="#">383<span class="tail"></span></a><h2 class="text"><a href="#">La Mansión Playboy está en cuarentena</a></h2></li>
                    <li class="me-60"><a class="balloon" href="#">283<span class="tail"></span></a><h2 class="text"><a href="#">Se metió el auto en la boca del subte</a></h2></li>
                    <li class="me-55"><a class="balloon" href="#">83<span class="tail"></span></a><h2 class="text"><a href="#">Chaco: limpieza que arrasó con una escuela en el medio del campo</a></h2></li>                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a href="/index.html" id="viewmore-ranking" class="more rounded">Ver más</a>
        </section>
