        <section id="ranking" class="block ranking">
          <h3>Top 5</h3>
          <div id="coda-nav-1">
            <ul class="sections">
              <li class="readed selected"><a class="xtrig" href="#noticias-mas-leidas" rel="coda-slider-ranking" data-path="/mas-leidas">+ Leídas</a></li>
              <li class="rated"><a class="xtrig" href="#noticias-mas-valoradas" rel="coda-slider-ranking" data-path="/mas-valoradas">+ Valoradas</a></li>
              <li class="comented"><a class="xtrig" href="#noticias-mas-comentadas" rel="coda-slider-ranking" data-path="/mas-comentadas">+ Comentadas</a></li>
            </ul>
          </div>
          <div class="coda-slider-wrapper content ">
            <div class="coda-slider preload" id="coda-slider-ranking">
              <div class="panel first-panel">
                <div class="panel-wrapper">
                  <ul class="clearfix">

                    <li class="me-100 first"><a class="balloon" href="/internacional/000294/eeuu-intenta-sin-exito-eliminar-a-otro-lider-de-al-qaeda">110<span class="tail"></span></a><h2 class="text"><a href="/internacional/000294/eeuu-intenta-sin-exito-eliminar-a-otro-lider-de-al-qaeda">EE.UU. intenta sin éxito eliminar a otro líder de Al Qaeda</a></h2></li>
                    <li class="me-90"><a class="balloon" href="#">883<span class="tail"></span></a><h2 class="text"><a href="#">Aníbal F. por el avión: "Si hubiésemos sido nostros, estaríamos en Gauntánamo"</a></h2></li>
                    <li class="me-80"><a class="balloon" href="#">683<span class="tail"></span></a><h2 class="text"><a href="#">Italia: Berlusconi irá a juicio el 6 de abril por el caso Ruby</a></h2></li>
                    <li class="me-70"><a class="balloon" href="#">483<span class="tail"></span></a><h2 class="text"><a href="#">Aliquet nec vulputate eget arcu in enim justo</a></h2></li>
                    <li class="me-60"><a class="balloon" href="#">283<span class="tail"></span></a><h2 class="text"><a href="#">Se metió el auto en la boca del subte</a></h2></li>

                  </ul>
                </div>
              </div>
              <div class="panel">
                <div class="panel-wrapper">
                  <ul class="clearfix">
                    <li class="me-100 first"><a class="balloon" href="#">8245<span class="tail"></span></a><h2 class="text"><a href="#">2Renunció Hosni Mubarak y dejó el poder en manos del Ejercito</a></h2></li>
                    <li class="me-90"><a class="balloon" href="#">883<span class="tail"></span></a><h2 class="text"><a href="#">Aníbal F. por el avión: "Si hubiésemos sido nostros, estaríamos en Gauntánamo"</a></h2></li>
                    <li class="me-80"><a class="balloon" href="#">683<span class="tail"></span></a><h2 class="text"><a href="#">Italia: Berlusconi irá a juicio el 6 de abril por el caso Ruby</a></h2></li>
                    <li class="me-70"><a class="balloon" href="#">483<span class="tail"></span></a><h2 class="text"><a href="#">Aliquet nec vulputate eget arcu in enim justo</a></h2></li>
                    <li class="me-60"><a class="balloon" href="#">283<span class="tail"></span></a><h2 class="text"><a href="#">Se metió el auto en la boca del subte</a></h2></li>
                </div>
              </div>
              <div class="panel">
                <div class="panel-wrapper">
                  <ul class="clearfix">
                    <li class="me-100 first"><a class="balloon" href="#">8245<span class="tail"></span></a><h2 class="text"><a href="#">2Renunció Hosni Mubarak y dejó el poder en manos del Ejercito</a></h2></li>
                    <li class="me-90"><a class="balloon" href="#">883<span class="tail"></span></a><h2 class="text"><a href="#">Aníbal F. por el avión: "Si hubiésemos sido nostros, estaríamos en Gauntánamo"</a></h2></li>
                    <li class="me-80"><a class="balloon" href="#">683<span class="tail"></span></a><h2 class="text"><a href="#">Italia: Berlusconi irá a juicio el 6 de abril por el caso Ruby</a></h2></li>
                    <li class="me-70"><a class="balloon" href="#">483<span class="tail"></span></a><h2 class="text"><a href="#">Aliquet nec vulputate eget arcu in enim justo</a></h2></li>
                    <li class="me-60"><a class="balloon" href="#">283<span class="tail"></span></a><h2 class="text"><a href="#">Se metió el auto en la boca del subte</a></h2></li>
                </div>
              </div>
            </div>
          </div>
          <a href="#ver-mas" id="viewmore-ranking" class="more rounded">Ver más</a>
        </section>
