<% 

blogs = Array.new

blogs << {:class =>'sergio-gendler', :author => 'Sergio Gendler', :img => 'gendler'}
blogs << {:class =>'marcelo-fiasche', :author => 'Marcelo Fiasche', :img => 'fiasche'}

%>

        <section id="blogs" class="block block-opinion">
          <h3>Blogs</h3>

          <ul class="clearfix">
						<% blogs.each_with_index do |blog, index| %>
            <li class="<%= blog[:class] %><%= index % 2 == 0 ? ""  : " last" %>">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/<%= blog[:img] %>_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Conflictos internos por sobre las relaciones externas</a></h2>
                <h2><a href="#" class="author"><%= blog[:author] %></a></h2>
              </div>
            </li>
						<% end %>
					</ul>
          <a href="http://tn.com.ar/blogs" class="more rounded">Ver más</a>
        </section>