<section class="block widget-trends">
  <header>
    <h3>TN Trends <span>los temas que importan en TN.com.ar</span></h3>
  </header>
  <ul class="content">
    <li><a href="/tags/ypf" class="trends-nr1" target="_blank">#ypf</a></li>
    <li><a href="/tags/river" class="trends-nr2" target="_blank">#river</a></li>
    <li><a href="/personajes/carolina-piparo" class="trends-nr3" target="_blank">#Carolina Píparo</a></li>
    <li><a href="/personajes/daniel-scioli" class="trends-nr4" target="_blank">#Daniel Scioli</a></li>
    <li><a href="/personajes/jorge-rial" class="trends-nr5" target="_blank">#Jorge Rial</a></li>
  </ul>
  <a href="#" class="more rounded">Ver más</a>
</section>