<section class="block">
  <h3><%= @title %></h3>
  <span class="twsb-bck"></span>
  <div id="twmenciones" class="content twpress" data-search="<%= @search %>"></div>
  <a href="<%= @url %>" target="_blank" class="more rounded">Ver más</a>
</section>