<section id="twperiodistas" class="block">
  <h3>Periodistas en Twitter</h3>
  <span class="twsb-bck"></span>
  <div id="twpress" class="content twpress"></div>
  <a href="http://twitter.com/#!/todonoticias/tn-com-ar" target="_blank" class="more rounded">Ver más</a>
</section>

