<section class="block widget-youtube">
  <header>
    <h3>Lo más visto en YouTube</h3>
  </header>
  <div id="yt-viewed" class="yt-col">
    <div class="spinner"><img src="<%= base_url %>images/white-loader.gif" width="31" height="31" alt="loader"></div>
  </div>
  <a href="#" class="more rounded">Ver más</a>
</section>