---
title: TÍTULO GRAN TITULAR, tema 1, tema 2, temas, temas, temas, temas, temas | Show TN Famosos | TN.com.ar | Todo Noticias
description: TN Famosos es el sitio más picante del espectáculo. Noticias, videos y los escándalos más explosivos de la farándula.
home: true
page_javascript: "TN.initfuncs.push('setup_home')"
eplanning: show
sidead: true
---
<!-- home-imagen/home.html -->

<%= render 'portadas/site-tnf/main-nota' %>

<div id="bigtwitter" data-kind="search" data-search="#gh2011" class="c-pink">
	<header>
		<h1>Los famosos en vivo</h1>
		<div class="ctw-follow"><a href="https://twitter.com/tnfamosos" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @tnfamosos</a></div>
	</header>
	<div id="bigtwitter_cont" data-kind="search" data-search="#gh2011">
	
	</div>
</div>

<div class="carousels">
  <%= render 'home/carouseltwitter', :kind => 'list', :trends => ['gh2011'], :account => 'tnfamosos' %>
</div>
