---
title: TN Video Trends Deportes | TN.com.ar | Todo Noticias
description: Los videos más vistos y votados en Youtube Argentina sobre Deportes. Todos los videos. Fútbol, Botineras, Goles y más.
page_javascript: "TN.initfuncs.push('setup_trends_deportes');"
ad: false
content_top: 'trends/home-title'
extraclass: 'trends-videos'
eplanning: false
twitter_text: "Estoy viendo los mejores videos de Deportes de Youtube Argentina y están buenísimos!"
trends_kind: deportes
certifica_path: 'TN/Trends/Deportes'
certifica_desc: 'TN Trends Deportes'
new: true
---

<section class="yt-column">
  <h2 class="coltitle">Lo más visto en Youtube</h2>
  <div id="yt-viewed" class="yt-col">
    <div class="spinner"><img src="<%= base_url %>/images/loader.gif"></div>
  </div>
</section>

<section class="yt-column yt-center">
  <h2 class="coltitle">Lo más valorado en Youtube</h2>
  <div id="yt-rated" class="yt-col">
    <div class="spinner"><img src="<%= base_url %>/images/loader.gif"></div>
  </div>
</section>

<section class="yt-column">
  <h2 class="coltitle">Los últimos videos en TN</h2>
  <div id="videos-tn" class="yt-col">
    <div class="spinner"><img src="<%= base_url %>/images/loader.gif"></div>
  </div>
</section>

