---
title: Maradona | TN Trends | TN.com.ar
description: Shocklender en TN Trends. TN Trends es la aplicación de TN.com.ar donde te informás y entretenés en tiempo real con el impacto de las noticias en Twitter.
page_javascript: "TN.initfuncs.push('setup_trends');"
---

<section class="trends-block">
  <header class="flow">
    <p class="trends-head">Resultados de búsqueda en Twitter para:</p>
    <h1>#Schoklender</h1>
  </header>
  <%# render 'share/share-trend' %>
  <%= render 'share/share', :share => 'trend', :trends => true, :color => '186487' %>

  <div id="trend-tag" class="trend-tag" data-text="schoklender"></div>
</section>
