---
title: TN Trends | TN.com.ar | Todo Noticias
description: Los temas de TN.com.ar que más relevancia tuvieron para la gente durante los últimos 30 minutos están en el sitio del canal de noticias más visto de Argentina.
page_javascript: "TN.initfuncs.push('setup_trends_home');"
ad: false
content_top: 'trends/home-title'
extraclass: 'trends-videos'
eplanning: false
twitter_text: "Esto es lo que importa según la gente en TN.com.ar"
trends_kind: musica
certifica_path: 'TN/Trends'
certifica_desc: 'TN Trends'
new: true
---

<div id="trends-list" class="trends-list">
	<div class="trend-cont">
	  <ul>
	    <li class="first">
	      <h2 class="hidden">Ahora</h2>
	      <p><a class="trends-nr1" href="#">#todonoticiasgenialmentebueno</a></p>
	      <p><a class="trends-nr2" href="#">#twitter</a></p>
	      <p><a class="trends-nr3" href="#">#todapasion vamoslospibes</a></p>
	      <p><a class="trends-nr4" href="#">#musica</a></p>
	      <p><a class="trends-nr5" href="#">#comida</a></p>
	    </li>
	    <li>
	      <h2 class="hidden">hace 30 minutos</h2>
	      <p><a class="trends-nr1" href="#">#todonoticias"</a></p>
	      <p><a class="trends-nr2" href="#">#twitter"</a></p>
	      <p><a class="trends-nr3" href="#">#todapasion"</a></p>
	      <p><a class="trends-nr4" href="#">#musica"</a></p>
	      <p><a class="trends-nr5" href="#">#comida"</a></p>
	    </li>
	    <li>
	      <h2 class="hidden">hace 1 hora</h2>
	      <p><a class="trends-nr1" href="#">#todonoticias"</a></p>
	      <p><a class="trends-nr2" href="#">#twitter"</a></p>
	      <p><a class="trends-nr3" href="#">#todapasion"</a></p>
	      <p><a class="trends-nr4" href="#">#musica"</a></p>
	      <p><a class="trends-nr5" href="#">#comida"</a></p>
	    </li>
	    <li>
	      <h2 class="hidden">hace 1 hora y media</h2>
	      <p><a class="trends-nr1" href="#">#todonoticias"</a></p>
	      <p><a class="trends-nr2" href="#">#twitter"</a></p>
	      <p><a class="trends-nr3" href="#">#todapasion"</a></p>
	      <p><a class="trends-nr4" href="#">#musica"</a></p>
	      <p><a class="trends-nr5" href="#">#comida"</a></p>
	    </li>
	    <li>
	      <h2 class="hidden">hace 2 horas</h2>
	      <p><a class="trends-nr1" href="#">#todonoticias"</a></p>
	      <p><a class="trends-nr2" href="#">#twitter"</a></p>
	      <p><a class="trends-nr3" href="#">#todapasion"</a></p>
	      <p><a class="trends-nr4" href="#">#musica"</a></p>
	      <p><a class="trends-nr5" href="#">#comida"</a></p>
	    </li>
	  </ul>
	</div>
  <button class="prev disabled"><span>&laquo;</span></button>
  <button class="next"><span>&raquo;</span></button>
</div>

<%= render 'home/carouseltwitter', :kind => 'search', :trends => ['tn.com.ar'] %>

