---
title: TN Trends Videos | TN.com.ar | Todo Noticias
description: Los videos más vistos y votados en YouTube Argentina. Todos los videos. Deportes. Música.
page_javascript: "TN.initfuncs.push('setup_trends_show');"
ad: false
content_top: 'trends/home-title'
extraclass: 'trends-videos'
eplanning: false
twitter_text: "Estoy viendo los mejores videos de YouTube Argentina y están buenísimos!"
trends_kind: todos
certifica_path: 'TN/trends/videos/show'
certifica_desc: 'TN Trends Videos show'
new: true
---

<section class="yt-column">
  <h2 class="coltitle">Lo más visto en Youtube</h2>
  <div id="yt-viewed" class="yt-col">
    <div class="spinner"><img src="<%= base_url %>/images/loader.gif"></div>
  </div>
</section>

<section class="yt-column yt-center">
  <h2 class="coltitle">Lo más valorado en Youtube</h2>
  <div id="yt-rated" class="yt-col">
    <div class="spinner"><img src="<%= base_url %>/images/loader.gif"></div>
  </div>
</section>

<section class="yt-column">
  <h2 class="coltitle">Los últimos videos en TN</h2>
  <div id="videos-tn" class="yt-col">
    <div class="spinner"><img src="<%= base_url %>/images/loader.gif"></div>
  </div>
</section>

