a {
  cursor: pointer;
  /*color:#0056c3;*/
  color: #000;
}

a:hover {
  color: #000;
}

header {
  overflow: hidden;
}

#header {
  overflow: visible;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

#container {
  margin-top: 20px;
  /*padding-top: 10px;*/
  width: 950px !important;
}

/*
  Figure
*/
figure .play {
  width: 47px;
  height: 26px;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -13px;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  z-index: 5;
  /*background: url(<%= base_url %>images/play-sprite.png) left -33px no-repeat;*/
  background: url(<%= assets_url %>images/main-sprite.png) no-repeat;
}

figure .play-video {
  background-position: left -310px
}

figure .play-photo {
  background-position: -194px -721px
}

figure .play-video:hover {
  background-position: left -419px;
}

figure .play-photo:hover {
  background-position: -262px -738px;
}


figure a {
  position: relative;
}

figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /*
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  background: none;
  */
  background: url(<%= base_url %>images/vertical-sprite.png) left top repeat-x;
  height: 70px;
}

figure figcaption .fn {
  bottom: 0;
  font-size: 16px;
  height: auto;
  padding: 0 5px 5px;
  position: absolute;
}

/*
  //Figure
*/

/*
  Forms and content
*/
input[type=text],input[type=password] { /* never, ever, put border here please */
  border: solid 1px #E3E3E3;
}

form.search {
  position: relative;
}

form.search input.text {
  padding: 4px 26px 4px 10px;
  border: 1px solid #c8c8c8;
  border-width: 2px 1px 1px 2px;
  width: 258px;
  height: 19px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

form.search input.submit {
  border: none;
  width: 26px;
  height: 26px;
  background: url(<%= assets_url %>images/main-sprite.png) -820px -277px no-repeat;
  text-indent: -999em;
  padding: 0;
  position: absolute;
  right: 2px;
  top: 2px;
}

.small-header #footer {
  padding-top: 0;
}

/*
  Header
*/
#header {
  color: #FFF;
  background: #be0000;
  padding-top: 1px;
}

#header a {
  color: #FFF;
}

#header #header-top a {
  padding: 0px 5px 0 0;
}


#header #header-top {
  height: 70px;
  padding: 20px 0 23px 0;
  border-top: 1px solid #E35757;
}
/*
.logged-in #header .login-box {
  height: 56px;
  margin-top: -25px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 195px;
}

.not-logged-in #header .login-box {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -27px;
}
*/
/* header, propuesta roja*/
/*
#header.red {
background: #c30000;
}

#header.red li.link {
border-right: solid 1px #e25858;
}


#header.red #header-top {
border-top: 1px solid #ae8bb3;
}

#header.red #header-ticket {
border-bottom: 1px solid #e35756;
}


#header.red nav li  {
border-right: 1px solid #e35756;
border-left: 1px solid #a80002;
}

#header.red nav li.first  {
border-left: none;
}

#header.red nav li.last {
border-right: none;
}

.red nav li.microsites {background: #9e0000;}
.red nav li.tn-gente {background: #780000;}

*/

/*
  login box
*/
/*
.login-box {
  position: relative;
  height: 50px;
}

.not-logged-in .login-box {
  height: 54px;
}

.login-box li a {
  padding: 0px 5px;
}

.login-box li {
  line-height: 12px;
}

.login-box .content {
  line-height: 16px !important;
}

.login-box li.first a {
  padding-left: 0;
}

.login-box li.link {
  border-right: solid 1px #9e9e9e;
  float: left;
}

.login-box li.last {
  border: none;
  margin-right: 0;
}

.login-box .user {
  margin: 20px 0 5px 0;
}

.login-box .actions {
  float: right;
}

.login-box .last {
  padding-right: 0;
}

.login-box .picture {
  float: right;
  margin: 0px 0 0 10px;
  border: 1px solid #4170b3;
  padding: 1px;
}

#header-top .login-box .picture {
  border-color: #E35757;
}

.login-box .content,.no-sidebar .login-box .content {
  float: left;
}

.not-logged-in .login-box .title {
  font-size: 12px;
  margin-bottom: 5px;
  padding-left: 7px;
}

.login-box .login-conect li {
  float: left;
  margin: 7px 0 7px 8px;
}

.login-box .login-conect {
  border: solid 1px #D83D3D;
  padding-right: 9px;
  padding-left: 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.login-box .login-conect li a {
  background: url(<%= assets_url %>images/main-sprite.png) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  text-indent: -999em;
  padding: 0 !important;
}

.login-box .login-conect .facebook {
  background-position: -739px -609px;
}

.login-box .login-conect .facebook:hover {
  background-position: -812px -609px;
}

.login-box .login-conect .twitter {
  background-position: -763px -609px;
}

.login-box .login-conect .twitter:hover {
  background-position: -836px -609px;
}

.login-box .login-conect .tn {
  background-position: -787px -609px;
}

.login-box .login-conect .tn:hover {
  background-position: -860px -609px;
}
*/
/*
  //login box
*/

/*
.alert-blue {
background: #02265A;
color: white;
}

.alert-red,
.alert-red .wrapper {
background:#8a0303;
position:relative;
}

.alert .title {
  padding: 0 20px 0 10px;
  background: url(<%= base_url %>images/main-sprite.png) no-repeat -859px -277px;

  display: block;
  float: left;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  font-weight: bold;
}

.alert-blue .urgente {
  float: left;
  margin-right: 10px;
}

.alert-red .urgente {
  background: #8a0303;
  font-weight: bold;
  padding-right: 0px;
}

.alert-red {
  border-top: solid 1px #a33;
}

.alert-red  a {
  color: #fd0001 !important;
}

.tweet .wrapper {
  color: black;
}

.tweet .wrapper .bird {
  width: 50px;
  height: 45px;
  display: block;
  float: left;
  background: url(<%= assets_url %>images/main-sprite.png) -577px -277px no-repeat;

}
*/
/*
  //Header
*/

/*
  Banners
*/

/*
  //Banners
*/


/* clima */
.weather-main {
  margin-bottom: 15px;
}

.weather-main #today {
  width: 325px;
  border-right: 1px solid #DADADA;
  padding: 0;
  position: relative;
  height: 418px;
}

.weather-main #today .bg {

  margin: 1px 1px 0 1px;
  width: 323px;
  height: 69px;

  padding-top: 10px;

 text-align: center;
  display: block;
  font-size: 12px;

background: #e7e7e7; /* Old browsers */
background: -moz-linear-gradient(top, #e7e7e7 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* W3C */


}

#today .weather-icons {
    height: 130px;
    margin: 0px auto 10px auto;
    width: 180px;
}

.weather-main #after-days {
  width: 622px;
  padding-top: 10px;
  height: 395px;
}

.weather-main {
  border: 1px solid #DADADA;
  background: url(<%= assets_url %>images/clima/bkgral.jpg) no-repeat right bottom;
}

.weather-main .content .content-ideal {
  text-align: right;
}

.weather-block .content {
  border: none;
}

.weather-block .block {
  float: left;
}

#today .block {
  width: 141px;
  padding: 5px 10px;
  border-left: 1px solid #DADADA;
}

#today .first {
  border: none;
  width: 142px;
}

#today .content {
  border: none;
  position: relative;
  color:#808080;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  height: 48px;
}

#today.no-data .content{
  text-align: left;
  padding: 0 20px;
  line-height: 30px;
  height: auto;
}

#today.no-data .content span {
	display: block;
	font-size: 30px;
	line-height:1em;
	font-weight: bold;
	color:black;
	text-align: center;
}

#today footer {
  margin-bottom: 15px;
  height: 112px;
}

.ideal-for {
  color: #0056c3;
  font-size: 12px;
  margin-right: 20px;
}
/*
.weather-block .ideal-for {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
}
*/

#today .block h3 {
  font-size: 45px;
  position: relative;
  padding-left: 30px;
  text-align: left;
  margin-bottom: 15px;
}

#today .block ul {
  font-size: 12px;
  color: #808080;
  padding-left: 20px;
  text-align: left;
}

#today .block ul li{
  margin-bottom: 2px;
}

#today .block ul strong{
  color:#000;
  font-weight: bold;
}

#today .temp {
  position:absolute;
  font-size: 16px;
  letter-spacing:-1px;
  left:0;
  top: 15px;

     -moz-transform: rotate(270deg);
       -o-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);

}

#after-days .day {
  border-bottom: 1px solid #D5D5D5;
  margin: 0 5px;
  padding: 5px 0;
  height: 80px;
}

#after-days .first {

  padding-top: 0;
  }

#after-days .day .item {
  float: left;
  height: 80px;
}

#after-days .day .date {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

#after-days .day .date span {
  display: block;
  color: #6f6f6f;
  font-size: 25px;
  font-weight: bold;
  margin: 17px 0 7px 0;
}

#after-days .day .weather-icons-small {
  width: 100px;
  height: 72px;
  top:4px;
}

#after-days .day .content {
    color: #808080;
    font-size: 15px;
    line-height: 16px;
    margin-right: 15px;
    width: 303px;
    position: relative;
}

#after-days .day .content .inner{
  height: 75px;
  vertical-align: middle;
  display: table-cell;
}


#after-days .day .max {
  padding-top: 5px;
}

#after-days .day .max,
#after-days .day .min {
  margin-bottom: 10px;
}
/*
.weather-main header {
  position: relative;
  margin-bottom: 18px;
}

.weather-main header h1 {
  float: left;
  margin: 0 15px 0px 0;
}

.weather-main header select {
  font-size: 16px;
  border: 1px solid #ccc;
  height: 33px;
  width: 283px;
  padding-left: 15px;
  line-height: 33px;
  margin-top: 6px;
}
*/
/*
.weather-main .share-small {
  border: none;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 0;
}

.weather-block h2 time {
  font-weight: bold;
  border-left: solid 1px #ddd;
  padding-left: 5px;
}

.weather-block .first-days h2 time {
  font-weight: bold;
  border-left: 1px solid #dcdcdc;
  padding-left: 5px;
}

.weather-block .first-days h3 {
  font-weight: normal;
  font-size: 36px;
}

.weather-block .first-days .day h3,.tomorrow .first-days .day-1 h3 {
  margin-left: 10px;
  margin-top: 8px;
  color: black;
}

.weather-block .first-days .day-1 h3 {
  font-weight: bold;
  color: #c00000;
}

.tomorrow .first-days .day-1 h3 {
  font-weight: normal;
  color: black;
}

.weather-block .first-days .day-3 h3 {
  color: #929292;
}

.weather-main ol {
  list-style-type: none;
}
*/ /*
.weather-block ol.first-days {
  border-bottom: 1px solid white;
  border-top: 1px solid #dadada;
  overflow: hidden;
  width: 100%;
  min-height: 268px;
}

.tomorrow ol.first-days {
  border-bottom: none;
}

.weather-block .conditions li {
  float: left;
  width: 50%;
  margin-bottom: 2px;
}

.weather-block ol.first-days .day {
  width: 315px;
  float: left;
  padding: 0px;
  height: 272px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.weather-block ol.first-days .day .content-top {
  height: 122px;
  overflow: hidden;
}

.weather-block ol.first-days .day .content-top .content {
  float: left;
  margin: 21px 0 0 36px;
}

.weather-block ol.first-days .content-bottom {
  width: 306px;
  position: absolute;
  bottom: 0;
  padding: 10px 0 0 10px;
  height: 96px;
  background: #fff url(<%= base_url %>images/vertical-sprite.png) left bottom repeat-x;

}
*//*
.weather-block ol.first-days  .day-1 .content-bottom {
  border-left: solid 1px white;
  width: 304px;
}

.weather-block ol.first-days  .day-3 .content-bottom {
  border-right: solid 1px white;
  width: 304px;
}

.tomorrow ol.first-days .content-bottom {
  background: none;
  border: none;
}
*/
.weather-block .day .weather-icons {
  float: left;
  margin: 7px 0 0 -60px;
  width: 180px;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.weather-block .bg strong {
  font-size: 42px;
  display: block;
}
/*
.weather-block .forecast {
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
  display: block;
}

.weather-image {
  width: 130px;
  height: 130px;
  background: #f7f7f7;
}

.weather-block .weather-image {
  float: left;
}
*//*
.weather-block ol.first-days li.day-2 {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  width: 316px;
}

.weather-banner,.traffic-banner {
  overflow: hidden;
  position: relative;
  background: #fff;
}

.weather-what {
  width: 300px;
  padding: 0 10px;
  margin-left: 50px;
}

.after-days .weather-image {
  margin-right: 67px;
}
*/
#after-days .max-min {
  font-size: 16px;
}

#today .max-min {
  padding-left: 20px;
  margin-bottom: 12px;
  height: 48px;
  font-size: 24px;
}

.max-min strong {
  display: block;
}

.max-min strong.max {
  color: #E60000;
}

.max-min strong.min {
  color:#0630A9;
}
/*
.after-days li h2 time {
  font-size: 12px;
  color: black;
  display: block;
  margin-top: 10px;
}

.after-days p {
  line-height: 19px;
  margin-bottom: 7px;
}

.weather-banner {
  margin-bottom: 10px;
}
*/
.weather-youtube li {
  position: relative;
}

.about-item .play {
  display: block;
  height: 19px;
  width: 33px;
  right: 8px;
  bottom: 8px;
}

.about-item .play-video {
  background: url('<%= assets_url %>images/main-sprite.png') no-repeat left -277px;
}

.about-item .play-video:hover {
  background-position: left -386px;
}

.about-city {
  padding: 20px 0 0px 0;
  margin: 0 0 7px 0;
  width: 950px !important;
}

.about-city .about-item {
  position: relative;
  margin-bottom: 20px;
  clear: both;
  overflow: visible;
}

.about-city .about-item .media-content {
  height: 87px;
}

.about-city .about-item .share-small {
  position: absolute;
  top:0;
  right: 0;
}

.about-city div h2 {
  border-bottom: 2px solid #000000;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 7px;
  word-spacing: -1px;
}

.about-city .media-content li {
  float: left;
  margin-left: 10px;
  width: 150px;
}

.about-city .media-content li.first {
  margin-left: 0;
}

.about-city .media-content figure {
  position: relative;
  width: 150px;
  height: 84px;
}
/*
.about-city .share-weather {
  top: 0;
  right: 0;
}
*/
.about-city .weather-wiki .block-text {
  clear: none;
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 25px;
  width: 300px;
}

.about-city .weather-wiki div.first {
  margin-left: 0;
}

.about-city .weather-google li {
  float: left;
  width: 300px;
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.3;
}

.about-city .twitter_module {
  margin-bottom: 0;
}

.about-city .weather-google .row1 {
  margin-left: 0;
}

.about-city .weather-google li a {
  color: #0056C3;
}

.about-city .weather-google li .nota {
  display: block;
  color: black;
}
/*
.sidebar .weather-banner .item h3 {
  margin: 20px 0 13px 0;
  padding: 0;
  border: none;
}

.sidebar .hightemp {
  color: #b90703;
}

.sidebar .lowtemp {
  color: #0058c6;
}
*/
.weather-banner h2 {
  float: left;
  width: 61px;
  height: 81px;
  padding: 7px;
  background: #f2f2f2;
  border: 1px  solid white;
}

.sidebar .weather-banner h2 {
  float: none;
  width: auto;
  height: 46px;
  line-height: 46px;
  border: none;
  font-size: 14px;
  color: #000;
  padding: 0 7px;
  font-weight: normal;
  margin-bottom: 10px;
}

.weather-banner h2 span {
  margin-top: 10px;
  display: block;
}

.sidebar .weather-banner .item {
  float: none;
  min-height: 137px;
  width: 187px;
  padding-left: 120px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

.weather-banner .today {
  width: 206px;
}

.weather-banner .weather-icons {
  position: absolute;
  left: -60px;
  top: 50%;
  width: 180px;
  height: 120px;
  margin-top: -60px;
  overflow: hidden;
}

.weather-icons,.weather-icons-small {
  overflow: hidden;
  position: relative;
}

.weather-icons img,.weather-icons-small img {
  position: absolute;
  overflow: hidden;
}

.weather-icons .weather-icon-34{
clip:rect(0px, 180px, 130px, 0px);
top: -0px;
}
.weather-icons .weather-icon-2,
.weather-icons .weather-icon-44{
clip:rect(130px, 180px, 260px, 0px);
top: -130px;
}
.weather-icons .weather-icon-9{
clip:rect(260px, 180px, 390px, 0px);
top: -260px;
}
.weather-icons .weather-icon-7,
.weather-icons .weather-icon-8,
.weather-icons .weather-icon-28{
clip:rect(390px, 180px, 520px, 0px);
top: -390px;
}
.weather-icons .weather-icon-26{
clip:rect(520px, 180px, 650px, 0px);
top: -520px;
}
.weather-icons .weather-icon-3,
.weather-icons .weather-icon-39{
clip:rect(650px, 180px, 780px, 0px);
top: -650px;
}
.weather-icons .weather-icon-5,
.weather-icons .weather-icon-6,
.weather-icons .weather-icon-12{
clip:rect(780px, 180px, 910px, 0px);
top: -780px;
}
.weather-icons .weather-icon-1{
clip:rect(910px, 180px, 1040px, 0px);
top: -910px;
}
.weather-icons .weather-icon-4{
clip:rect(1040px, 180px, 1170px, 0px);
top: -1040px;
}
.weather-icons .weather-icon-16{
clip:rect(1170px, 180px, 1300px, 0px);
top: -1170px;
}
.weather-icons .weather-icon-45{
clip:rect(1300px, 180px, 1430px, 0px);
top: -1300px;
}
.weather-icons .weather-icon-night-34{
clip:rect(1430px, 180px, 1560px, 0px);
top: -1430px;
}
.weather-icons .weather-icon-night-2,
.weather-icons .weather-icon-night-9,
.weather-icons .weather-icon-night-44{
clip:rect(1560px, 180px, 1690px, 0px);
top: -1560px;
}
.weather-icons .weather-icon-night-8{
clip:rect(1690px, 180px, 1820px, 0px);
top: -1690px;
}
.weather-icons .weather-icon-night-3,
.weather-icons .weather-icon-night-7,
.weather-icons .weather-icon-night-26,
.weather-icons .weather-icon-night-28,
.weather-icons .weather-icon-night-39{
clip:rect(1820px, 180px, 1950px, 0px);
top: -1820px;
}
.weather-icons .weather-icon-night-1,
.weather-icons .weather-icon-night-5,
.weather-icons .weather-icon-night-6,
.weather-icons .weather-icon-night-12{
clip:rect(1950px, 180px, 2080px, 0px);
top: -1950px;
}
.weather-icons .weather-icon-night-4,
.weather-icons .weather-icon-night-16,
.weather-icons .weather-icon-night-45{
clip:rect(2080px, 180px, 2210px, 0px);
top: -2080px;
}


/* iconos de dia pequeños */

.weather-icons-small .weather-icon-4{
clip:rect(72px, 100px, 144px, 0px);
top: -72px;
}
.weather-icons-small .weather-icon-7{
clip:rect(360px, 100px, 432px, 0px);
top: -360px;
}
.weather-icons-small .weather-icon-39{
clip:rect(936px, 100px, 1008px, 0px);
top: -936px;
}
.weather-icons-small .weather-icon-6{
clip:rect(1008px, 100px, 1080px, 0px);
top: -1008px;
}

/*
.weather-icons-small .weather-icon-17{
clip:rect(1152px, 100px, 1224px, 0px);
top: -1152px;
}

 */

.weather-icons-small .weather-icon-34{
clip:rect(0px, 100px, 72px, 0px);
top: -0px;
}
.weather-icons-small .weather-icon-2,
.weather-icons-small .weather-icon-9{
clip:rect(144px, 100px, 216px, 0px);
top: -144px;
}
.weather-icons-small .weather-icon-8,
.weather-icons-small .weather-icon-28{
clip:rect(216px, 100px, 288px, 0px);
top: -216px;
}
.weather-icons-small .weather-icon-26{
clip:rect(288px, 100px, 360px, 0px);
top: -288px;
}
.weather-icons-small .weather-icon-1,
.weather-icons-small .weather-icon-4,
.weather-icons-small .weather-icon-12{
clip:rect(432px, 100px, 504px, 0px);
top: -432px;
}
.weather-icons-small .weather-icon-8{
clip:rect(504px, 100px, 576px, 0px);
top: -504px;
}
.weather-icons-small .weather-icon-4{
clip:rect(576px, 100px, 648px, 0px);
top: -576px;
}
.weather-icons-small .weather-icon-16{
clip:rect(648px, 100px, 720px, 0px);
top: -648px;
}
.weather-icons-small .weather-icon-45{
clip:rect(720px, 100px, 792px, 0px);
top: -720px;
}


.weather-icons-small .weather-icon-night-34,
.weather-icons-small .weather-icon-night-16,
.weather-icons-small .weather-icon-night-45{
clip:rect(792px, 100px, 864px, 0px);
top: -792px;
}
.weather-icons-small .weather-icon-night-9,
.weather-icons-small .weather-icon-night-44,
.weather-icons-small .weather-icon-night-28,
.weather-icons-small .weather-icon-night-8,
.weather-icons-small .weather-icon-night-2,
.weather-icons-small .weather-icon-night-26,
.weather-icons-small .weather-icon-night-7{
clip:rect(864px, 100px, 936px, 0px);
top: -864px;
}
.weather-icons-small .weather-icon-night-1,
.weather-icons-small .weather-icon-night-3,
.weather-icons-small .weather-icon-night-4,
.weather-icons-small .weather-icon-night-5,
.weather-icons-small .weather-icon-night-6,
.weather-icons-small .weather-icon-night-12,
.weather-icons-small .weather-icon-night-39 {
clip:rect(1080px, 100px, 1152px, 0px);
top: -1080px;
}


/*
.weather-icons-small .weather-icon-34{
clip:rect(0px, 100px, 78px, 0px);
top: -0px;
}
.weather-icons-small .weather-icon-44{
clip:rect(78px, 100px, 156px, 0px);
top: -78px;
}
.weather-icons-small .weather-icon-2,
.weather-icons-small .weather-icon-9{
clip:rect(233px, 100px, 312px, 0px);
top: -233px;
}
.weather-icons-small .weather-icon-8,
.weather-icons-small .weather-icon-28{
clip:rect(389px, 100px, 468px, 0px);
top: -389px;
}
.weather-icons-small .weather-icon-26{
clip:rect(463px, 100px, 541px, 0px);
top: -463px;
}
.weather-icons-small .weather-icon-7{

clip:rect(541px, 100px, 619px, 0px);
top: -541px;
}
.weather-icons-small .weather-icon-12{
clip:rect(696px, 100px, 772px, 0px);
top: -696px;
}
.weather-icons-small .weather-icon-39{
clip:rect(772px, 100px, 850px, 0px);
top: -772px;
}
.weather-icons-small .weather-icon-3{
clip:rect(850px, 100px, 928px, 0px);
top: -850px;
}
.weather-icons-small .weather-icon-4{
clip:rect(927px, 100px, 1005px, 0px);
top: -927px;
}
.weather-icons-small .weather-icon-6{
clip:rect(1082px, 100px, 1160px, 0px);
top: -1082px;
}
.weather-icons-small .weather-icon-5{
clip: rect(1158px, 100px, 1236px, 0px);
top: -1158px;
}
.weather-icons-small .weather-icon-16{
clip:rect(1236px, 100px, 1314px, 0px);
top: -1236px;
}
.weather-icons-small .weather-icon-45{
clip:rect(1389px, 100px, 1467px, 0px);
top: -1389px;
}
.weather-icons-small .weather-icon-1{
clip:rect(1624px, 100px, 1702px, 0px);
top: -1624px;
}
*/
/* // fin iconos de dia */

/* iconos de noche */
/*
.weather-icons-small .weather-icon-night-34{
clip:rect(2164px, 100px, 2242px, 0px);
top: -2164px;
}
.weather-icons-small .weather-icon-night-2,
.weather-icons-small .weather-icon-night-8,
.weather-icons-small .weather-icon-night-7,
.weather-icons-small .weather-icon-night-9,
.weather-icons-small .weather-icon-night-26,
.weather-icons-small .weather-icon-night-28,
.weather-icons-small .weather-icon-night-44{
clip:rect(2240px, 100px, 2328px, 0px);
top: -2240px;
}
.weather-icons-small .weather-icon-night-16,
.weather-icons-small .weather-icon-night-45{
clip:rect(2470px, 100px, 2548px, 0px);
top: -2470px;
}
.weather-icons-small .weather-icon-night-1,
.weather-icons-small .weather-icon-night-3,
.weather-icons-small .weather-icon-night-5,
.weather-icons-small .weather-icon-night-6,
.weather-icons-small .weather-icon-night-12,
.weather-icons-small .weather-icon-night-4,
.weather-icons-small .weather-icon-night-39{
clip:rect(2624px, 100px, 2702px, 0px);
top: -2624px;
}
*/
/* // fin iconos de noche */

/* no se usan */
/*
.weather-icons-small .weather-icon-31{
clip:rect(2340px, 100px, 2418px, 0px);
top: -2340px;
}
.weather-icons-small .weather-icon-32{
clip:rect(2418px, 100px, 2496px, 0px);
top: -2418px;
}
.weather-icons-small .weather-icon-34{
clip:rect(2574px, 100px, 2652px, 0px);
top: -2574px;
}

.weather-icons-small .weather-icon-36{
clip:rect(2730px, 100px, 2808px, 0px);
top: -2730px;
}
.weather-icons-small .weather-icon-37{
clip:rect(2808px, 100px, 2886px, 0px);
top: -2808px;
}
.weather-icons-small .weather-icon-38{
clip:rect(2886px, 100px, 2964px, 0px);
top: -2886px;
}
.weather-icons-small .weather-icon-39{
clip:rect(2964px, 100px, 3042px, 0px);
top: -2964px;
}
.weather-icons-small .weather-icon-40{
clip:rect(3042px, 100px, 3120px, 0px);
top: -3042px;
}

.weather-icons-small .weather-icon-3{
clip:rect(156px, 100px, 234px, 0px);
top: -156px;
}
.weather-icons-small .weather-icon-5{
clip:rect(312px, 100px, 390px, 0px);
top: -312px;
}
.weather-icons-small .weather-icon-9{
clip:rect(624px, 100px, 702px, 0px);
top: -624px;
}
.weather-icons-small .weather-icon-14{
clip:rect(1014px, 100px, 1092px, 0px);
top: -1014px;
}
.weather-icons-small .weather-icon-18{
clip:rect(1326px, 100px, 1404px, 0px);
top: -1326px;
}
.weather-icons-small .weather-icon-20{
clip:rect(1482px, 100px, 1560px, 0px);
top: -1482px;
}
.weather-icons-small .weather-icon-21{
clip:rect(1560px, 100px, 1638px, 0px);
top: -1560px;
}
.weather-icons-small .weather-icon-23{
clip:rect(1716px, 100px, 1794px, 0px);
top: -1716px;
}
.weather-icons-small .weather-icon-24{
clip:rect(1794px, 100px, 1872px, 0px);
top: -1794px;
}
.weather-icons-small .weather-icon-25{
clip:rect(1872px, 100px, 1950px, 0px);
top: -1872px;
}
.weather-icons-small .weather-icon-26{
clip:rect(1950px, 100px, 2028px, 0px);
top: -1950px;
}
.weather-icons-small .weather-icon-27{
clip:rect(2028px, 100px, 2106px, 0px);
top: -2028px;
}
.weather-icons-small .weather-icon-28{
clip:rect(2106px, 100px, 2184px, 0px);
top: -2106px;
}
*/

/*
.weather-banner .tomorrow {
  width: 202px;
}

.weather-banner .after-tomorrow {
  border-bottom: solid 1px #ccc;
}

.weather-banner .now h3 {
  margin: 5px 0 1px 0;
}

.weather-banner .today h3 {
  margin: 5px 0 7px 0;
}

.weather-banner .tomorrow h3 {
  margin: 5px 0 11px 0;
}

.weather-banner .temp {
  margin-bottom: 4px;
}

.weather-banner a.wmore {
  float: left;
  width: 36px;
  height: 95px;
  background: #f2f2f2;
  border: 1px solid white;
  text-align: center;
  line-height: 92px;
  font-size: 35px;
  color: #007eff;
  font-weight: normal;
  text-shadow: 1px 1px 0 #004a94;
}

.weather-banner a.wmore:hover {
  text-decoration: none;
  color: #333;
}
*/

.main {
  width: 950px;
  float: left;
  /*padding: 20px 0 125px 0;*/
  padding: 0 0 10px 0;
}

/*
.share li {
  float: left;
  font-size: 12px;
  color: #868686;
  line-height: 19px;
}

.share li.link {
  padding: 0;
  margin-left: 8px;
}

.share li.sep {
  border-left: 1px solid #dadada;
  padding-left: 8px;
  margin-left: 0;
}

.share li.link a {
  display: block;
  text-indent: -9999px;
  background: #efefef;
  height: 19px;
  width: 19px;
  background: url(<%= base_url %>images/main-sprite.png) no-repeat;
}
*//*
.share li.link a.icon-print,.share li.link a.icon-email {
  width: 30px;
  height: 21px;
  margin-top: -1px;
}

.share li a.icon-facebook {
  background-position: -602px -599px;
}

.share li a.icon-twitter {
  background-position: -621px -599px;
}

.share li a.icon-share {
  background-position: -640px -599px;
}

.share li a.icon-rss {
  background-position: -318px -222px;
}

.share li a.icon-print {
  background-position: -678px -599px;
}

.share li a.icon-email {
  background-position: -708px -599px;
}

.share li a.icon-facebook:hover {
  background-position: -602px -621px;
}

.share li a.icon-twitter:hover {
  background-position: -621px -621px;
}

.share li a.icon-share:hover {
  background-position: -640px -621px;
}

.share li a.icon-rss:hover {
  background-position: -318px -243px;
}

.share li a.icon-print:hover {
  background-position: -678px -621px;
}

.share li a.icon-email:hover {
  background-position: -708px -621px;
}

article .entry-title {
  margin-bottom: 3px;
  line-height: 19px;
  display: block;
}
*/
.share-small .fb {
  float: left;
  margin: 0px;
}

.share-small .tw {
  float: left;
  width: 112px
}
.share-small .fbsend {
  float: left;
  width: 75px;
}
.fb_iframe_widget iframe {
  width: 66px !important;
}
.fb_send_button_form_widget iframe {
  width: 410px !important;
}


.share-small .glg {
  float: left;
}
/*
article.has-picture .content {
  margin-left: 170px;
}

#reactions {
  background-color: #DEF0FC
}

#reactions article {
  background-color: #DEF0FC
}

.page-comment .main {
  width: 600px;
}


.comments article:last-child {
  border: none;
}
*/
/*
.comments article .comment-body {
  float: left;
  margin-left: 13px;
  padding: 0;
  width: 505px;
}

.page-comment .comment .comment-body {
  float: left;
  margin-left: 10px;
  padding: 0;
  width: 888px;
}

.page-comment .comments article .comment-body {
  width: 443px;
}

.comments article .meta {
  color: black;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.comments article .respond {
  font-size: 12px;
  text-align: right;
  color: #868686;
}

.comments article .respond li {
  display: inline;
  margin-right: 5px;
}

.comments article .respond li.middle {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  padding: 0 8px;
}

.page-comment .comments article .respond li.report {
  border-left: 1px solid #dadada;
  padding-left: 8px;
}

.comments .login-box .avatar {
  float: left;
  padding: 1px;
  border: 1px solid #dadada;
  margin: 0 0 10px 0;
  background: #f2f2f2;
}

.comments article .avatar,.page-comment .comment .avatar {
  float: left;
  background: #f2f2f2;
  padding: 1px;
  border: 1px solid #dadada;
  width: 48px;
  height: 48px;
}

.comments .not-logged {
  margin: 10px 0;
}

.comments .not-logged h3 {
  margin-bottom: 5px;
}

.comments .not-logged h4 {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 20px;
}

.comments .not-logged ul {
  border: solid 1px #e3e3e3;
  background: #fff;
  padding: 30px 76px;
  width: 416px;
  margin: 0;
}

.page-comment .comments .not-logged ul {
  padding-left: 50px;
  padding-right: 50px;
}

.comments .not-logged li {
  height: 36px;
  float: left;
  line-height: 36px;
  position: relative;
}

.comments .not-logged li span {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 10px;
  background: url(<%= assets_url %>images/main-sprite.png) no-repeat;
}

.comments .not-logged li:hover {
  cursor: pointer;
}

.comments .not-logged .facebook {
  background-position: -739px -609px;
}

.comments .not-logged li:hover .facebook {
  background-position: -812px -609px;
}

.comments .not-logged .twitter {
  background-position: -763px -609px;
}

.comments .not-logged li:hover .twitter {
  background-position: -836px -609px;
}

.comments .not-logged .tn {
  background-position: -787px -609px;
}

.comments .not-logged li:hover .tn {
  background-position: -860px -609px;
}

.comments .not-logged li:hover a {
  text-decoration: underline;
}

.comments .not-logged li a {
  float: left;
  height: 36px;
  padding: 0 13px 0 39px;
  color: black;
  font-size: 14px;
}

.comments .not-logged li.link {
  margin-left: 10px;
}

.comments .not-logged li.first {
  margin-left: 5px;
}

.comments .not-logged li.title {
  font-size: 13px;
  color: #9D9D9D;
}

.review-note h3 {
  font-weight: bold;
  margin-bottom: 14px;
  padding-top: 13px;
  font-size: 16px;
  color: black;
  word-spacing: -1px;
}

.review-note {
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 10px;
}

.ranking .content,.review-note ul,.poll-widget .content {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHElEQVQYlWNgQAKPHz/+//jx4/8MuABBBUMWAAAzgw6h5YAvlAAAAABJRU5ErkJggg==);
}

.review-note ul {
  overflow: visible;
  margin: 5px 0 33px 0;
  height: 68px;
  padding-top: 15px;
}

.review-note ul li {
  font-size: 18px;
  float: left;
  width: 110px;
  margin: 0 5px;
  position: relative;
  height: 68px;
}

.review-note  a {
  text-align: center;
  display: block;
  width: 110px;
  height: 30px;
  border: 1px solid #ccc;
  line-height: 29px;
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 13px;
  font-weight: bold;
}

.review-note .voto {
  width: 88px;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -44px;
  background: #dadada;
}

.review-note .voto span {
  position: absolute;
  font-size: 12px;
  left: 50%;
  margin-left: -28px;
  top: -14px;
  padding: 7px 10px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: black;
  line-height: 1;
  color: white;
  width: 36px;
  height: 14px;
}

.review-note .voto0 {
  background: #0065e5;
  height: 100%;
}

.review-note .voto0 span {
  top: -10px;
}

.review-note .voto1 {
  height: 80%;
}

.review-note .voto1 span {
  top: -10px;
}

.review-note .voto2 {
  height: 60%;
}

.review-note .voto2 span {
  top: -15px;
}

.review-note .voto3 {
  height: 40%;
}

.review-note .voto3 span {
  top: -18px;
}

.review-note .voto4 {
  height: 20%;
}

.review-note .voto4 span {
  top: -22px;
}
*/ /*
.tag-list {
  padding: 18px 0 14px 0;
}

.tag-list h2 {
  display: inline;
  font-weight: normal;
}

.tag-list,.tag-list a {
  font-size: 14px;
  color: #0056c3;
  line-height: 1.4;
}

.tag-list span {
  color: #868686;
}

.sponsored-links {
  border: 1px solid #dadada;
  padding-bottom: 20px;
}

.sponsored-links h3 {
  background: #f2f2f2;
  border: 1px solid white;
  font-size: 12px;
  font-weight: bold;
  padding: 9px;
  margin-bottom: 10px;
}
*/


/*
  Search
*/
/*
.search-results form.search {
  width: 372px;
  height: 30px;
  padding: 10px 114px;
  background: #f3f3f3;
  position: relative;
  margin-bottom: 8px;
}

.page-404 .search-results {
  background: #F3F3F3;
}

.page-404 .search-results form.search {
  margin-left: auto;
  margin-right: auto;
}

.search-results form.search .text {
  width: 333px;
}

.search-results form.search input.submit {
  top: 12px;
  right: 116px;
}

.search-results .news {
  clear: both;
  padding-top: 10px;
}

.no-results input {
  width: 588px;
  padding: 6px;
}

.search-results .results-data {
  border-bottom: 2px solid black;
  height: 39px;
  line-height: 26px;
  margin: 3px 0 2px 0;
  font-size: 18px;
}

.results-data strong {
  float: left;
  font-weight: bold;
  line-height: 30px;
}

.results-data span {
  float: right;
  line-height: 30px;
}
*/
/*
  Sidebar
*/


input.more,button.more {
  width: 100%;
  color: #0056C3;
}

.more {
  border: 1px solid #BDBDBD;
  clear: both;
  display: block;
  height: 29px;
  margin-top: 20px;
}

input.more,input.submit {
  height: 31px;
  font-family: Arial;
}



/* Pager */
.no-sidebar .pager {
  font-size: 16px;
}

.pager { /*margin-top: 20px;*/
  font-size: 14px;
}

.pager .more {
  clear: none;
}

.pager .prev {
  float: left;
  margin-top: 0;
}

.pager .next {
  float: right;
  margin-top: 0;
}

.pager a {
  width: 228px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  font-size: 14px;
}

.pager a:hover {
  text-decoration: none;
}


/*
  Footer
*/
#footer {
  position: relative;
  background: #171717;
  padding: 0;
}


#footer div.last,#footer li.last,#footer a.last {
  margin-right: 0;
}

/*
#footer #footer-top .block a {
  color: black;
}

#footer #footer-top .block a:hover {
  text-decoration: underline;
}

#footer #footer-top #block-free a,#footer #footer-top .block figcaption a {
  color: white;
}

#footer #footer-top .block figcaption a:hover {
  text-decoration: underline;
}

#footer-top .grid .block ul {
  border: none;
  padding: 0 10px;
}

#footer-top .block figcaption a {
  font-weight: normal;
  display: block;
  width: 216px;
  padding: 7px 7px 2px 7px;
  position: relative;
  top: 0;
  max-height: 63px;
  overflow: hidden;
  margin: 0;
}
*/
#footer .block {
  float: left;
  width: 182px;
  margin-right: 10px;
  color:white;
}

#footer .block h2{
  font-size: 16px;
}

#footer a.block {
  width: 180px;
  padding: 12px 0;
  border-top: 1px solid #363636;
}

#footer .content .view-more {
  margin-bottom: 18px;
}
/*
#footer .grid .block {
  height: 320px;
  margin-bottom: 0;
}
*/
#footer .block ul {
  padding: 15px 0 5px 0px;
}

#footer .block ul a {
  color: #AFB2B6;
  font-weight: normal;
  font-size: 12px;
}

#footer .block ul a:hover,#footer .block ul a.focus,#footer #footer-bottom  a:hover { /*color: #0056C3;*/
  color: white;
}

#footer .block h3 {
  background: #000;
  color: #878787;
  font-size: 18px;
  padding: 0 10px;
  line-height: 36px;
  height: 34px;
  border: 1px solid #000;
  border-bottom: 1px solid #383838;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: normal;
}

#footer .view-more a.button {
  font-size: 12px;
  /*color: #0056c3;*/
  color: white;
  margin-left: 0;
  font-weight: bold;

  /*border-top: 1px solid #363636*/
}

#footer .block a.button:hover,#footer .block a.button:focus {
  color: white;
}

#footer .block li {
  margin-bottom: 10px;
  font-size: 14px;
}

#footer .grid .block li {
  line-height: 15px;
}

#footer .block li.first {

}

#footer-bottom {
  clear: both;
  padding: 12px 0 13px 0;
  margin: 0 auto;
  font-size: 12px;
  color: #888;
  border-top: 1px solid #3c3c3c;
  background: black;
}

#footer-bottom  .wrapper {
  height: 30px;
  line-height: 30px;
}

#footer-bottom  a { /*color: #0056c3;*/
  color: white
}

#footer-top {
  margin-bottom: 20px;
}

#footer-top .wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #3c3c3c;
}

#footer .content {
  width: 950px;
  padding-top: 30px;
  margin-top: 20px;
}

#tnlogo {
  background: url(<%= assets_url %>images/main-sprite.png) -202px -496px no-repeat;
  /*background: transparent url('<%= base_url %>images/logo-tn-footer.png') no-repeat 0 0;*/
  display: block;
  height: 26px;
  width: 35px;
  text-indent: -9999px;
  float: left;
  margin: 2px 10px 0 3px;
}

.iconosur {
  background: url(<%= assets_url %>images/main-sprite.png) -123px -498px no-repeat;
  display: block;
  height: 24px;
  width: 63px;
  float: right;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  top: 3px;
}

/*
  //Footer
*/

/*
  //Buttons
*/

.rounded,.ie8 .rounded .c,.ie7 .rounded .c,.ie6 .rounded .c {
  color: #0053c3;
  border: solid 1px #cbcbcb;
  border-top-color: #e3e3e3;
  border-bottom-color: #b5b5b5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #EFEFEF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EFEFEF) ); /* webkit */
}

.rounded {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.rounded:hover,.ie8 .rounded:hover .c,.ie7 .rounded:hover .c,.fileinput:hover .fakefile {
  color: #000;
  border-top-color: #b5b5b5;
  border-bottom-color: #e3e3e3;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFEFEF), color-stop(100%, #FFFFFF) ); /* webkit */
}

#overlay {
  border: 4px solid white;
  background: white;
  width: 457px;
  position: absolute;
  left: 50% !important;
  margin-left: -228px !important;
  padding-bottom: 5px;
}

.overlay .header {
  height: 42px;
  background: #f2f2f2;
  line-height: 42px;
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;
}

.overlay .header,.overlay .content {
  font-size: 14px;
}

.overlay .content {
  line-height: 15px;
}

.overlay .toc {
  font-size: 10px;
  color: #868686;
  line-height: 12px;
  padding: 0 10px;
}

.overlay .toc a {
  color: #0056c3;
}

.overlay .header .close {
  position: absolute;
  right: 10px;
  top: 7px;
  height: 26px;
  line-height: 26px;
  color: #0056c3;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  width: 65px;
  font-size: 12px;
}

.overlay  .more:hover,.overlay  .close:hover {
  cursor: pointer;
}

.overlay .title {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 15px;
}

.overlay .content {
  position: relative;
  margin: 0 10px 10px 10px;
}

.overlay .content .message {
  width: 328px;
  margin: 0 auto;
  background: #DDE9FF;
  border: solid 1px #CFE3FB;
  padding: 20px;
  line-height: 15px;
}

.overlay .content .message p {
  margin-bottom: 10px;
}

.overlay .content .panel {
  position: absolute;
  top: 0;
  left: 0px;
  display: none;
  width: 100%;
}

.overlay .content .active {
  display: block;
}

.report .content {
  height: 133px;
}

.send-email .content {
  height: 211px;
}

.overlay div.error {
  display: none;
  margin-bottom: 10px;
}

.overlay .panel-success .close {
  width: 368px;
  margin-left: auto;
  margin-right: auto;
}

.overlay .content .loading {
  background: url(<%= base_url %>images/spinner.gif) no-repeat center center;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}


.overlay .submit-content {
  position: relative;
}

.overlay .spinner {
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;
  width: 302px;
}


.twpress .twtr-hd,.twpress .twtr-ft {
  display: none
}

.twpress a.twtr-timestamp,.twpress a.twtr-reply {
  font-size: 11px !important;
}

.twsb-bck {
  width: 310px;
  height: 47px;
  display: block;
  background: url(<%= assets_url %>images/main-sprite.png) -503px -688px no-repeat;
  margin-bottom: 5px;
}

#twmenciones .twtr-widget .twtr-tweet-text a.twtr-timestamp {
  font-size: 10px !important;
}

#twmenciones .twtr-widget .twtr-tweet-text a.twtr-reply {
  font-size: 10px !important;
}

#content-top {
  margin-bottom: 10px;
  position: relative;
}

#content-top .title {
  font-size: 48px;
  font-weight: normal;
  margin-right: 2px;
}

#content-top .first {
  margin: 0;
}

#content-top .form-inner {
  float:left;
  margin:12px 0 0px 12px;
  height:30px;
  width: 232px;
  position: relative;
}

#content-top .form-inner input {
  background: url("/clima/sites/all/themes/clima/images/base_buscador_largo.gif") no-repeat scroll 0 0 white;
  border: medium none;
  font: 16px Arial,Helvetica,sans-serif;
  height: 18px;
  letter-spacing: 1px;
  margin: 0;
  padding: 4px 10px 6px;
  position: relative;
  width: 210px;
  z-index: 5;
  border: solid 1px #d2d2d2;
  color:#a9a5a2;

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;

}

#content-top .form-inner .input-state {
height: 19px;
overflow: hidden;
position: absolute;
right: 5px;
top: 6px;
width: 19px;
z-index: 10;
background: url(<%= assets_url %>images/clima/ok.png) no-repeat;
}

#cluetip-close {
    background: url("<%= assets_url %>images/clima/cerrar_div.gif") no-repeat scroll left center transparent;
    position:absolute;
    font-size: 18px;
    right: 10px;
    top: 8px;
    width: 13px;
    height: 13px;
}

#cluetip-inner {
  position: relative;
}

#cluetip-close a{
  display: block;
    width: 13px;
    height: 13px;
}

.reacciones_box {
  background-color: #FFFFFF;
  font-size: 14px;
}

.reacciones_box h3 {
  background-color: #E00034;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px 0;
  line-height: 1.3em;
  margin:0;
}

.reacciones {
  list-style: none outside none;
  padding-left: 1em;
  padding-top: 1em;
  margin-bottom: 1em;
}

.reacciones_box .redes {
  border-top: 1px solid #EEEEEE;
  color: #888888;
  font-size: 0.8em;
  padding: 5px;
  text-align: right;
}

.reacciones_box .redes .facebook,
.reacciones_box .redes .twitter {
  color: #00279C;
  cursor: pointer;
}

.reacciones input {
  margin: 3px 3px 0 5px;
}

.reacciones li {
  padding: 1px 0;
}

.form-item label {
  font-weight: bold;
}

.finder-form label {
  display: none;
}

#more-cities {
  margin: 30px 0 0 5px;
}

#more-cities .lista-ciudades {
  float: left;
  margin-right: 19px;
  margin-top: 2px;
  width: 170px;
}

#more-cities .page-ciudades {
  border-right: medium none;
}

#more-cities  h3 {
  border-bottom: 1px solid #4B494B;
  font: bold 16px;
  margin-top: 4px;
  padding-bottom: 8px;
}

#more-cities .lista-ciudades ul {
  margin-bottom: 7px;
  margin-top: 13px;
  padding: 0;
}

#more-cities .lista-ciudades ul li {
  color: #AFB2B6;
  font: 12px Arial,Helvetica,sans-serif;
  height: 18px;
  list-style: none outside none;
}

.small-header #header #header-top {
  height: 77px;
  padding: 0;
}

.logo {
  display: block;
  height: 100px;
  left: 50%;
  margin-left: -44px;
  padding: 0 !important;
  position: absolute;
  top: -8px;
  width: 170px;
  z-index: 50;
}

.logo #tn-home {
  display: block;
  height: 100px;
  left: 0;
  padding: 0 !important;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 128px;
  z-index: 50;
  background: transparent url(<%= assets_url %>images/main-sprite.png) no-repeat -283px -496px;
  /*background: url(<%= base_url %>images/main-sprite.png) center top no-repeat;*/
}

.logo .hd {
  background: transparent url(<%= assets_url %>images/main-sprite.png) no-repeat -235px -540px;
   display: block;
    height: 29px;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 3px;
    width: 48px;
    z-index: 60;
}

.small-header .logo {
  width: 106px;
  height: 62px;
  margin-left: -18px;
  top: 11px;
}

.small-header #tn-home {
  width: 80px;
  height: 62px;
  background-position: -154px -531px;
}

.small-header .hd {
  width: 29px;
  height: 18px;
  top:0;
  background-position: -245px -509px;
}

.small-header .back {
  border: solid 1px #960000;
  border-bottom-color: #E35757;
  background: #AF0000;
  width: 84px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: white;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.forms {
	float:right;
}

.tooltip-hd {

  border: solid 1px white;
  line-height: 14px;
  color:white;
  text-align:center;
  width: 155px;
  font-size: 12px;

  padding: 5px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

   -moz-box-shadow: 0px 1px 7px #000; /* FF3.5+ */
   -webkit-box-shadow: 0px 1px 7px #000; /* Saf3.0+, Chrome */
   box-shadow: 0px 1px 7px #000; /* Opera 10.5, IE9, Chrome 10+ */

   z-index: 100;

  background: black;

}

.small-header .tooltip-hd {
  top:7px !important;
}

@import url(<%= assets_url %>/css/blitzer/jquery-ui-custom.css);

#footer-bottom p {
    line-height: 1.3em;
}

#ad-weather {
  width: 950px;
  margin: 20px auto 0 auto;
  height: 50px;
  line-height:50px;
  text-align: center;
  background: #02265A;
  color:white;
}

#ad-weather a{
  color: cyan;
}

#header .share {
    height: 56px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 50%;
}

.see-more {
	height: 48px;
}

.see-more h1 {
	float:left;
}

.see-more .forms {
  position: absolute;
  right: 0;
  top: 0;
}