*,a{outline:none!important}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:1em;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
select{padding-right:0!important}ul,ol{margin:0;list-style-type:none}ol{list-style-type:decimal}nav ul,nav li{margin:0}td,td img{vertical-align:top}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}label,input[type=button],input[type=submit],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}DD_belatedPNG\\:*,DD_belatedPNG\\:shape,.ie6 .pngfix{visibility:hidden!important}
.js-finished DD_belatedPNG\\:*,.js-finished DD_belatedPNG\\:shape,.js-finished .pngfix{visibility:visible!important}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none;visibility:hidden}.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after{clear:both}.clearfix{zoom:1;clear:both}body{font:16px/1 "Helvetica Neue",Arial,sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}body,select,input,textarea{color:#000}
h1,h2,h3,h4,h5,h6{font-weight:bold}html{overflow-y:scroll}a{text-decoration:none}a:hover,a:active{outline:0}a:hover{text-decoration:underline}::-moz-selection{background:#e00034;color:#fff;text-shadow:none}
::selection{background:#e00034;color:#fff;text-shadow:none}small{font-size:1em}strong,th{font-weight:bold}sub{vertical-align:sub;font-size:smaller}sup{vertical-align:super;font-size:smaller}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
a:link{-webkit-tap-highlight-color:#ff5e99}a.more:hover{text-decoration:none}figure figcaption .fn{color:#fff;font-weight:normal;line-height:1.3}figure figcaption .fn:hover{color:white}article footer{color:#000;font-size:11px}
.grid article h2{font-size:16px;line-height:18px}article .entry-content{font-size:12px}form.search input{font-size:14px;color:#444}#toggle-grid{font-size:12px}.login-box .user{font-size:14px;font-weight:bold;text-align:right}
.comments .login-box .user{text-align:left}.login-box .actions{font-size:12px}.movies article .entry-title,.news article .entry-title{font-size:26px;font-weight:normal;line-height:1.15}.movies .content,.news .content{font-size:14px;color:#000}
.movies article .entry-content,.news article .content p,.news article .entry-content{line-height:1.4;font-size:14px}.note .entry-title,.traffic-maps h1,.vivo h1,.cinemas h2{font-size:44px;font-weight:normal;line-height:43px}
#rss h1{font-size:48px;font-weight:normal;line-height:48px;margin-bottom:10px}.clima-main #container h1,.comunity #container h1,#rating #container h1{font-size:43px;font-weight:normal;line-height:38px}
.comunity #container h1{margin-bottom:18px}.note time{font-size:12px}.note figcaption .fn{font-size:13px;line-height:24px;font-weight:normal;padding-bottom:2px}#header nav{font-size:14px}#header .header-meta{font-size:12px;line-height:1.1em}
.weather-banner h2{font-size:17px;color:#929292}.weather-banner .item{font-size:12px}.weather-banner .item h3{font-size:22px;font-weight:normal}.sidebar .weather-banner .item h3{font-weight:normal;color:#888;font-size:25px}
.sidebar .weather-banner .now h3{color:#222;font-weight:bold;margin-bottom:6px}.weather-banner .tomorrow h3{color:#929292;font-size:17px}.weather-banner .item .nowtemp{font-weight:bold;font-size:30px}
.weather-banner .item .sttemp{font-weight:bold;font-size:14px}.weather-banner .item .hightemp,.weather-banner .item .lowtemp{font-weight:bold;font-size:23px}.weather-banner .forecast{color:#444;line-height:15px;word-spacing:-1px;width:180px;margin-bottom:10px}
#content-top .one-image hgroup{text-align:center}#content-top .one-image h1 .entry-title{display:block}article .size-1{font-size:140px;line-height:1.1em}article .size-2{font-size:120px;line-height:1.1em}
article .size-3{font-size:100px;line-height:1.1em}article .size-4{font-size:85px;line-height:1.1em}article .size-5{font-size:75px;line-height:1.1em}article .size-6{font-size:70px;line-height:1.1em}article .size-7{font-size:60px;line-height:1.1em}
article .size-8{font-size:55px;line-height:1.1em}article .size-9{font-size:50px;line-height:1.1em}article .size-10{font-size:45px;line-height:1.1em}.ranking .content li .text{font-size:16px;line-height:23px}
.main .more,.sidebar .more,.overlay .more{font-size:13px;font-weight:bold;line-height:29px;text-align:center}.overlay .more2{font-size:13px;font-weight:bold;line-height:21px;text-align:center}input.more{padding-bottom:2px!important;height:31px!important}
#opinion li{font-size:14px;line-height:1.21em}.traffic-maps hgroup h2{font-size:29px;font-weight:normal;letter-spacing:-1px;word-spacing:4px}a{cursor:pointer;color:#000}a:hover{color:#000}header{overflow:hidden}#header{overflow:visible}.wrapper{width:950px;margin:0 auto;position:relative;height:100%}.alignleft{float:left}.alignright{float:right}
#container{margin-top:20px;width:950px!important}figure .play{width:47px;height:26px;top:50%;left:50%;margin-left:-23px;margin-top:-13px;padding:0;position:absolute;text-indent:-9999px;z-index:5;background:url(<%= assets_url %>images/main-sprite.png) no-repeat}
figure .play-video{background-position:left -310px}figure .play-photo{background-position:-194px -721px}figure .play-video:hover{background-position:left -419px}figure .play-photo:hover{background-position:-262px -738px}
figure a{position:relative}figure figcaption{position:absolute;left:0;bottom:0;width:100%;background:url(<%= base_url %>images/vertical-sprite.png) left top repeat-x;height:70px}figure figcaption .fn{bottom:0;font-size:16px;height:auto;padding:0 5px 5px;position:absolute}
input[type=text],input[type=password]{border:solid 1px #e3e3e3}form.search{position:relative}form.search input.text{padding:4px 26px 4px 10px;border:1px solid #c8c8c8;border-width:2px 1px 1px 2px;width:258px;height:19px;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px}
form.search input.submit{border:0;width:26px;height:26px;background:url(<%= assets_url %>images/main-sprite.png) -820px -277px no-repeat;text-indent:-999em;padding:0;position:absolute;right:2px;top:2px}
.small-header #footer{padding-top:0}#header{color:#FFF;background:#be0000;padding-top:1px}#header a{color:#FFF}#header #header-top a{padding:0 5px 0 0}#header #header-top{height:70px;padding:20px 0 23px 0;border-top:1px solid #e35757}
.weather-main{margin-bottom:15px}.weather-main #today{width:325px;border-right:1px solid #dadada;padding:0;position:relative}.weather-main #today time{margin:1px 1px 0 1px;width:323px;height:69px;padding-top:10px;text-align:center;display:block;font-size:12px;background:#e7e7e7;background:-moz-linear-gradient(top,#e7e7e7 0,#fff 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e7e7e7),color-stop(100%,#fff));background:-webkit-linear-gradient(top,#e7e7e7 0,#fff 100%);background:-o-linear-gradient(top,#e7e7e7 0,#fff 100%);background:-ms-linear-gradient(top,#e7e7e7 0,#fff 100%);background:linear-gradient(top,#e7e7e7 0,#fff 100%)}
#today .weather-icons{height:130px;margin:0 auto 10px auto;width:180px}.weather-main #after-days{width:622px;padding-top:10px;height:395px}.weather-main{border:1px solid #dadada;background:url(../images/bkgral.jpg) no-repeat right bottom}
.weather-main .content .content-ideal{text-align:right}.weather-block .content{border:0}.weather-block .block{float:left}#today .block{width:141px;padding:5px 10px;border-left:1px solid #dadada}#today .first{border:0;width:142px}
#today .content{border:0;position:relative;color:#808080;font-size:24px;text-align:center;margin-bottom:20px;height:48px}#today footer{margin-bottom:15px;height:112px}.ideal-for{color:#0056c3;font-size:12px;margin-right:20px}
#today .block h3{font-size:45px;position:relative;padding-left:30px;text-align:left;margin-bottom:15px}#today .block ul{font-size:12px;color:#808080;padding-left:20px;text-align:left}#today .block ul li{margin-bottom:2px}
#today .block ul strong{color:#000;font-weight:bold}#today .temp{position:absolute;font-size:16px;letter-spacing:-1px;left:0;top:15px;-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
#after-days .day{border-bottom:1px solid #d5d5d5;margin:0 5px;padding:5px 0;height:80px}#after-days .first{padding-top:0}#after-days .day .item{float:left;height:80px}#after-days .day .date{display:block;font-size:12px;font-weight:bold;text-align:center;width:100px}
#after-days .day .date span{display:block;color:#6f6f6f;font-size:25px;font-weight:bold;margin:17px 0 7px 0}#after-days .day .weather-icons-small{width:100px;height:72px;top:4px}#after-days .day .content{color:#808080;font-size:15px;line-height:16px;margin-right:15px;width:303px;position:relative}
#after-days .day .content .inner{height:75px;vertical-align:middle;display:table-cell}#after-days .day .max{padding-top:5px}#after-days .day .max,#after-days .day .min{margin-bottom:10px}.weather-block .day .weather-icons{float:left;margin:7px 0 0 -60px;width:180px;height:120px;overflow:hidden;position:relative}
.weather-block time strong{font-size:42px;display:block}#after-days .max-min{font-size:16px}#today .max-min{padding-left:20px;margin-bottom:12px;height:48px;font-size:24px}.max-min strong{display:block}
.max-min strong.max{color:#e60000}.max-min strong.min{color:#0630a9}.weather-youtube li{position:relative}.about-item .play{display:block;height:19px;width:33px;right:8px;bottom:8px}.about-item .play-video{background:url('<%= assets_url %>images/main-sprite.png') no-repeat left -277px}
.about-item .play-video:hover{background-position:left -386px}.about-city{padding:20px 0 0 0;margin:0 0 7px 0;width:950px!important}.about-city .about-item{position:relative;margin-bottom:20px;clear:both;overflow:visible}
.about-city .about-item .media-content{height:87px}.about-city .about-item .share-small{position:absolute;top:0;right:0}.about-city div h2{border-bottom:2px solid #000;font-size:20px;margin-bottom:15px;padding-bottom:7px;word-spacing:-1px}
.about-city .media-content li{float:left;margin-left:10px;width:150px}.about-city .media-content li.first{margin-left:0}.about-city .media-content figure{position:relative}.about-city .weather-wiki .block-text{clear:none;float:left;font-size:14px;line-height:20px;margin:0 0 0 25px;width:300px}
.about-city .weather-wiki div.first{margin-left:0}.about-city .weather-google li{float:left;width:300px;margin-left:25px;margin-bottom:10px;font-size:14px;line-height:1.3}.about-city .twitter_module{margin-bottom:0}
.about-city .weather-google .row1{margin-left:0}.about-city .weather-google li a{color:#0056c3}.about-city .weather-google li .nota{display:block;color:black}.weather-banner h2{float:left;width:61px;height:81px;padding:7px;background:#f2f2f2;border:1px solid white}
.sidebar .weather-banner h2{float:none;width:auto;height:46px;line-height:46px;border:0;font-size:14px;color:#000;padding:0 7px;font-weight:normal;margin-bottom:10px}.weather-banner h2 span{margin-top:10px;display:block}
.sidebar .weather-banner .item{float:none;min-height:137px;width:187px;padding-left:120px;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;position:relative;overflow:hidden}
.weather-banner .today{width:206px}.weather-banner .weather-icons{position:absolute;left:-60px;top:50%;width:180px;height:120px;margin-top:-60px;overflow:hidden}.weather-icons,.weather-icons-small{overflow:hidden;position:relative}
.weather-icons img,.weather-icons-small img{position:absolute;overflow:hidden}.weather-icons .weather-icon-34{clip:rect(0px,180px,130px,0px);top:-0px}.weather-icons .weather-icon-2,.weather-icons .weather-icon-44{clip:rect(130px,180px,260px,0px);top:-130px}
.weather-icons .weather-icon-9{clip:rect(260px,180px,390px,0px);top:-260px}.weather-icons .weather-icon-7,.weather-icons .weather-icon-8,.weather-icons .weather-icon-28{clip:rect(390px,180px,520px,0px);top:-390px}
.weather-icons .weather-icon-26{clip:rect(520px,180px,650px,0px);top:-520px}.weather-icons .weather-icon-3,.weather-icons .weather-icon-39{clip:rect(650px,180px,780px,0px);top:-650px}.weather-icons .weather-icon-5,.weather-icons .weather-icon-6,.weather-icons .weather-icon-12{clip:rect(780px,180px,910px,0px);top:-780px}
.weather-icons .weather-icon-1{clip:rect(910px,180px,1040px,0px);top:-910px}.weather-icons .weather-icon-4{clip:rect(1040px,180px,1170px,0px);top:-1040px}.weather-icons .weather-icon-16{clip:rect(1170px,180px,1300px,0px);top:-1170px}
.weather-icons .weather-icon-45{clip:rect(1300px,180px,1430px,0px);top:-1300px}.weather-icons .weather-icon-night-34{clip:rect(1430px,180px,1560px,0px);top:-1430px}.weather-icons .weather-icon-night-2,.weather-icons .weather-icon-night-9,.weather-icons .weather-icon-night-44{clip:rect(1560px,180px,1690px,0px);top:-1560px}
.weather-icons .weather-icon-night-8{clip:rect(1690px,180px,1820px,0px);top:-1690px}.weather-icons .weather-icon-night-3,.weather-icons .weather-icon-night-7,.weather-icons .weather-icon-night-26,.weather-icons .weather-icon-night-28,.weather-icons .weather-icon-night-39{clip:rect(1820px,180px,1950px,0px);top:-1820px}
.weather-icons .weather-icon-night-1,.weather-icons .weather-icon-night-5,.weather-icons .weather-icon-night-6,.weather-icons .weather-icon-night-12{clip:rect(1950px,180px,2080px,0px);top:-1950px}.weather-icons .weather-icon-night-4,.weather-icons .weather-icon-night-16,.weather-icons .weather-icon-night-45{clip:rect(2080px,180px,2210px,0px);top:-2080px}
.weather-icons-small .weather-icon-4{clip:rect(72px,100px,144px,0px);top:-72px}.weather-icons-small .weather-icon-7{clip:rect(360px,100px,432px,0px);top:-360px}.weather-icons-small .weather-icon-39{clip:rect(936px,100px,1008px,0px);top:-936px}
.weather-icons-small .weather-icon-6{clip:rect(1008px,100px,1080px,0px);top:-1008px}.weather-icons-small .weather-icon-34{clip:rect(0px,100px,72px,0px);top:-0px}.weather-icons-small .weather-icon-2,.weather-icons-small .weather-icon-9{clip:rect(144px,100px,216px,0px);top:-144px}
.weather-icons-small .weather-icon-8,.weather-icons-small .weather-icon-28{clip:rect(216px,100px,288px,0px);top:-216px}.weather-icons-small .weather-icon-26{clip:rect(288px,100px,360px,0px);top:-288px}
.weather-icons-small .weather-icon-1,.weather-icons-small .weather-icon-4,.weather-icons-small .weather-icon-12{clip:rect(432px,100px,504px,0px);top:-432px}.weather-icons-small .weather-icon-8{clip:rect(504px,100px,576px,0px);top:-504px}
.weather-icons-small .weather-icon-4{clip:rect(576px,100px,648px,0px);top:-576px}.weather-icons-small .weather-icon-16{clip:rect(648px,100px,720px,0px);top:-648px}.weather-icons-small .weather-icon-45{clip:rect(720px,100px,792px,0px);top:-720px}
.weather-icons-small .weather-icon-night-34,.weather-icons-small .weather-icon-night-16,.weather-icons-small .weather-icon-night-45{clip:rect(792px,100px,864px,0px);top:-792px}.weather-icons-small .weather-icon-night-9,.weather-icons-small .weather-icon-night-44,.weather-icons-small .weather-icon-night-28,.weather-icons-small .weather-icon-night-8,.weather-icons-small .weather-icon-night-2,.weather-icons-small .weather-icon-night-26,.weather-icons-small .weather-icon-night-7{clip:rect(864px,100px,936px,0px);top:-864px}
.weather-icons-small .weather-icon-night-1,.weather-icons-small .weather-icon-night-3,.weather-icons-small .weather-icon-night-4,.weather-icons-small .weather-icon-night-5,.weather-icons-small .weather-icon-night-6,.weather-icons-small .weather-icon-night-12,.weather-icons-small .weather-icon-night-39{clip:rect(1080px,100px,1152px,0px);top:-1080px}
.main{width:950px;float:left;padding:0 0 10px 0}.share-small .fb{float:left;margin:0}.share-small .tw{float:left;width:112px}.share-small .fbsend{float:left;width:75px}.fb_iframe_widget iframe{width:66px!important}
.fb_send_button_form_widget iframe{width:410px!important}.share-small .glg{float:left}input.more,button.more{width:100%;color:#0056c3}.more{border:1px solid #bdbdbd;clear:both;display:block;height:29px;margin-top:20px}
input.more,input.submit{height:31px;font-family:Arial}.no-sidebar .pager{font-size:16px}.pager{font-size:14px}.pager .more{clear:none}.pager .prev{float:left;margin-top:0}.pager .next{float:right;margin-top:0}
.pager a{width:228px;height:29px;text-align:center;line-height:29px;font-size:14px}.pager a:hover{text-decoration:none}#footer{position:relative;background:#171717;padding:0}#footer div.last,#footer li.last,#footer a.last{margin-right:0}
#footer .block{float:left;width:182px;margin-right:10px;color:white}#footer .block h2{font-size:16px}#footer a.block{width:180px;padding:12px 0;border-top:1px solid #363636}#footer .content .view-more{margin-bottom:18px}
#footer .block ul{padding:15px 0 5px 0}#footer .block ul a{color:#afb2b6;font-weight:normal;font-size:12px}#footer .block ul a:hover,#footer .block ul a.focus,#footer #footer-bottom a:hover{color:white}
#footer .block h3{background:#000;color:#878787;font-size:18px;padding:0 10px;line-height:36px;height:34px;border:1px solid #000;border-bottom:1px solid #383838;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-weight:normal}
#footer .view-more a.button{font-size:12px;color:white;margin-left:0;font-weight:bold}#footer .block a.button:hover,#footer .block a.button:focus{color:white}#footer .block li{margin-bottom:10px;font-size:14px}
#footer .grid .block li{line-height:15px}#footer-bottom{clear:both;padding:12px 0 13px 0;margin:0 auto;font-size:12px;color:#888;border-top:1px solid #3c3c3c;background:black}#footer-bottom .wrapper{height:30px;line-height:30px}
#footer-bottom a{color:white}#footer-top{margin-bottom:20px}#footer-top .wrapper{padding-bottom:20px;border-bottom:1px solid #3c3c3c}#footer .content{width:950px;padding-top:30px;margin-top:20px}#tnlogo{background:url(<%= assets_url %>images/main-sprite.png) -202px -496px no-repeat;display:block;height:26px;width:35px;text-indent:-9999px;float:left;margin:2px 10px 0 3px}
.iconosur{background:url(<%= assets_url %>images/main-sprite.png) -123px -498px no-repeat;display:block;height:24px;width:63px;float:right;text-indent:-9999px;position:absolute;right:0;top:3px}.rounded,.ie8 .rounded .c,.ie7 .rounded .c,.ie6 .rounded .c{color:#0053c3;border:solid 1px #cbcbcb;border-top-color:#e3e3e3;border-bottom-color:#b5b5b5;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#efefef;background:-moz-linear-gradient(top,#fff 0,#efefef 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#efefef))}
.rounded{-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}.rounded:hover,.ie8 .rounded:hover .c,.ie7 .rounded:hover .c,.fileinput:hover .fakefile{color:#000;border-top-color:#b5b5b5;border-bottom-color:#e3e3e3;background:#efefef;background:-moz-linear-gradient(top,#efefef 0,#fff 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#efefef),color-stop(100%,#fff))}
#overlay{border:4px solid white;background:white;width:457px;position:absolute;left:50%!important;margin-left:-228px!important;padding-bottom:5px}.overlay .header{height:42px;background:#f2f2f2;line-height:42px;padding:0 10px;margin-bottom:20px;position:relative}
.overlay .header,.overlay .content{font-size:14px}.overlay .content{line-height:15px}.overlay .toc{font-size:10px;color:#868686;line-height:12px;padding:0 10px}.overlay .toc a{color:#0056c3}.overlay .header .close{position:absolute;right:10px;top:7px;height:26px;line-height:26px;color:#0056c3;background-color:#eaeaea;border:1px solid #ccc;border-bottom:1px solid #fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;width:65px;font-size:12px}
.overlay .more:hover,.overlay .close:hover{cursor:pointer}.overlay .title{font-size:24px;font-weight:bold;line-height:26px;margin-bottom:15px}.overlay .content{position:relative;margin:0 10px 10px 10px}
.overlay .content .message{width:328px;margin:0 auto;background:#dde9ff;border:solid 1px #cfe3fb;padding:20px;line-height:15px}.overlay .content .message p{margin-bottom:10px}.overlay .content .panel{position:absolute;top:0;left:0;display:none;width:100%}
.overlay .content .active{display:block}.report .content{height:133px}.send-email .content{height:211px}.overlay div.error{display:none;margin-bottom:10px}.overlay .panel-success .close{width:368px;margin-left:auto;margin-right:auto}
.overlay .content .loading{background:url(<%= base_url %>images/spinner.gif) no-repeat center center;background-color:rgba(0,0,0,.5);width:100%;height:100%;position:absolute;top:0;left:0}.overlay .submit-content{position:relative}
.overlay .spinner{position:absolute;right:0;text-align:center;top:10px;width:302px}.twpress .twtr-hd,.twpress .twtr-ft{display:none}.twpress a.twtr-timestamp,.twpress a.twtr-reply{font-size:11px!important}
.twsb-bck{width:310px;height:47px;display:block;background:url(<%= assets_url %>images/main-sprite.png) -503px -688px no-repeat;margin-bottom:5px}#twmenciones .twtr-widget .twtr-tweet-text a.twtr-timestamp{font-size:10px!important}
#twmenciones .twtr-widget .twtr-tweet-text a.twtr-reply{font-size:10px!important}#content-top{margin-bottom:10px;position:relative}#content-top .title{font-size:48px;font-weight:normal;margin-right:2px}
#content-top .first{margin:0}#content-top .form-inner{float:left;margin:12px 0 0 12px;height:30px;width:232px;position:relative}#content-top .form-inner input{background:url("/clima/sites/all/themes/clima/images/base_buscador_largo.gif") no-repeat scroll 0 0 white;border:medium none;font:16px Arial,Helvetica,sans-serif;height:18px;letter-spacing:1px;margin:0;padding:4px 10px 6px;position:relative;width:210px;z-index:5;border:solid 1px #d2d2d2;color:#a9a5a2;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
#content-top .form-inner .input-state{height:19px;overflow:hidden;position:absolute;right:5px;top:6px;width:19px;z-index:10;background:url(../images/ok.png) no-repeat}#cluetip-close{background:url("../images/cerrar_div.gif") no-repeat scroll left center transparent;position:absolute;font-size:18px;right:10px;top:8px;width:13px;height:13px}
#cluetip-inner{position:relative}#cluetip-close a{display:block;width:13px;height:13px}.reacciones_box{background-color:#fff;font-size:14px}.reacciones_box h3{background-color:#e00034;color:#fff;font-size:16px;font-weight:bold;padding:5px 20px 0;line-height:1.3em;margin:0}
.reacciones{list-style:none outside none;padding-left:1em;padding-top:1em;margin-bottom:1em}.reacciones_box .redes{border-top:1px solid #eee;color:#888;font-size:.8em;padding:5px;text-align:right}.reacciones_box .redes .facebook,.reacciones_box .redes .twitter{color:#00279c;cursor:pointer}
.reacciones input{margin:3px 3px 0 5px}.reacciones li{padding:1px 0}.form-item label{font-weight:bold}.finder-form label{display:none}#more-cities{margin:30px 0 0 5px}#more-cities .lista-ciudades{float:left;margin-right:19px;margin-top:2px;width:170px}
#more-cities .page-ciudades{border-right:medium none}#more-cities h3{border-bottom:1px solid #4b494b;font:bold 16px;margin-top:4px;padding-bottom:8px}#more-cities .lista-ciudades ul{margin-bottom:7px;margin-top:13px;padding:0}
#more-cities .lista-ciudades ul li{color:#afb2b6;font:12px Arial,Helvetica,sans-serif;height:18px;list-style:none outside none}.small-header #header #header-top{height:77px;padding:0}.logo{display:block;height:100px;left:50%;margin-left:-44px;padding:0!important;position:absolute;top:-8px;width:170px;z-index:50}
.logo #tn-home{display:block;height:100px;left:0;padding:0!important;position:absolute;text-indent:-9999px;top:0;width:128px;z-index:50;background:transparent url(<%= assets_url %>images/main-sprite.png) no-repeat -283px -496px}
.logo .hd{background:transparent url(<%= assets_url %>images/main-sprite.png) no-repeat -235px -540px;display:block;height:29px;position:absolute;right:0;text-indent:-999em;top:3px;width:48px;z-index:60}
.small-header .logo{width:106px;height:62px;margin-left:-18px;top:11px}.small-header #tn-home{width:80px;height:62px;background-position:-154px -531px}.small-header .hd{width:29px;height:18px;top:0;background-position:-245px -509px}
.small-header .back{border:solid 1px #960000;border-bottom-color:#e35757;background:#af0000;width:84px;height:28px;text-align:center;line-height:28px;font-size:12px;color:white;position:absolute;left:0;top:50%;margin-top:-15px;padding:0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.forms{float:right}.tooltip-hd{border:solid 1px white;line-height:14px;color:white;text-align:center;width:155px;font-size:12px;padding:5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 1px 7px #000;-webkit-box-shadow:0 1px 7px #000;box-shadow:0 1px 7px #000;z-index:100;background:black}
.small-header .tooltip-hd{top:7px!important}@import url(<%= assets_url %>/css/blitzer/jquery-ui-custom.css);#footer-bottom p{line-height:1.3em}#ad-weather{width:950px;margin:20px auto 0 auto;height:50px;line-height:50px;text-align:center;background:#02265a;color:white}
#ad-weather a{color:cyan}#header .share{height:56px;margin-top:-25px;position:absolute;right:0;top:50%}.see-more{height:48px}.see-more h1{float:left}.see-more .forms{position:absolute;right:0;top:0}.twtr-widget{font:16px/1 "Helvetica Neue",Arial,sans-serif;*font-size:small;zoom:1}.twtr-fullscreen{font-size:220%!important}.twtr-fullscreen .twtr-new-results{_display:none!important}
.twtr-inactive{display:none}.twtr-widget a img{border:0!important}.twtr-doc{overflow:hidden;width:100%;text-align:left;font-weight:normal;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.twtr-bd{padding:0 1px}.twtr-widget .twtr-tweet-wrap{padding:6px 8px;overflow:hidden;zoom:1}.twtr-fullscreen .twtr-tweet-wrap{padding:20px}.twtr-widget .twtr-tweet{border-bottom:1px dotted #ddd;overflow:hidden;zoom:1}
.twtr-widget-profile img.twtr-profile-img{display:block;float:left;width:31px;height:31px;border:0!important}.twtr-widget h3,.twtr-widget h4,.twtr-widget p{margin:0!important;padding:0!important;line-height:1.25!important;width:auto!important}
.twtr-widget-profile h3,.twtr-widget-profile h4{margin:0 0 0 40px!important}.twtr-widget h3{font-size:11px!important;font-weight:normal!important}.twtr-widget h4{font-size:16px!important}.twtr-widget em,.twtr-widget .twtr-new-results{font-size:9px;font-style:normal;display:block;margin-top:2px;zoom:1}
.twtr-widget .twtr-new-results{text-align:center;padding:3px;margin:0 auto -10px auto!important;display:block;position:relative;bottom:5px;line-height:.9}.twtr-results-inner{line-height:1;font-size:100%;padding:4px 0;position:relative;bottom:-2px;width:40%;margin:0 auto;z-index:2;text-align:center}
.twtr-results-hr{width:100%;position:relative;z-index:1;height:1px;border-bottom:1px dotted #ddd;bottom:7px;background:0;overflow:hidden}.twtr-new-results span{position:relative;z-index:3;top:-14px;display:block;font-size:9px!important}
.twtr-fullscreen .twtr-new-results span{font-size:24px!important}.twtr-hd{padding:10px;position:relative;zoom:1;overflow:hidden}.twtr-fullscreen .twtr-hd{height:0;padding:0}.twtr-timeline{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;position:relative;overflow:hidden;z-index:2;height:225px}
.twtr-scroll .twtr-timeline{overflow-x:hidden;overflow-y:auto}.twtr-widget .twtr-tweet:last-child{border-bottom-width:0}.twtr-ft{position:relative}.twtr-ft div{overflow:hidden;padding:10px;zoom:1}.twtr-ft span{float:right;text-align:right}
.twtr-ft a{float:left;display:block}.twtr-ft a img{position:relative;top:2px}.twtr-ft span a{float:none}.twtr-avatar{width:40px;height:40px;float:left;overflow:hidden;display:block}.twtr-fullscreen .twtr-avatar{width:80px;height:80px}
.twtr-img{height:25px;width:25px}.twtr-img img{width:30px;height:30px}.twtr-fullscreen .twtr-img img{width:72px;height:72px}.twtr-fullscreen a.twtr-join-conv{display:none}.twtr-tweet-text{margin-left:40px}
.twtr-fullscreen .twtr-tweet-text{margin-left:90px}.twtr-popular{font-size:10px;padding:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;display:inline-block;margin-top:3px;opacity:.8}
.twtr-doc a{text-decoration:none!important}.twtr-doc a:hover{text-decoration:underline!important}.twitter_module{margin:25px 0;height:555px;border:1px solid #ccc;overflow:hidden;position:relative}.twitter_module .header{background:#f3f9ff url(<%= assets_url %>images/main-sprite.png) left -643px no-repeat;height:45px;position:relative}
.twitter_module .content{height:500px;margin:10px 0 0;padding:0;overflow:auto;overflow-x:hidden;overflow-y:scroll;position:relative}.twitter_module form.search{position:absolute;top:7px;right:8px;padding:0}
.twitter_module form.search input.text{width:235px}.twitter_module .twtr-doc{width:100%!important}.twitter_module .twtr-bd{padding:0 10px 0 17px!important}.twitter_module .twtr-ft,.twitter_module .twtr-hd{display:none!important}
.twitter_module .twtr-timeline{overflow:hidden;height:auto!important}.twtr-widget .twtr-tweet-wrap{padding:6px 3px 0 0;position:relative}.twitter_module .twtr-widget .twtr-tweet,.twitter_module .twtr-widget .twtr-img{width:auto;height:auto}
.twtr-widget .twtr-tweet{border:none!important}.twtr-widget .twtr-avatar{width:52px!important;height:52px!important;overflow:hidden;background:white;border:1px solid #dadada;position:absolute;top:6px;left:0}
.twtr-widget .twtr-img img{width:50px!important;height:50px!important;padding:1px}.twtr-widget .twtr-tweet-text{background:white;padding:6px 12px;border:1px solid #dadada;margin-left:66px!important;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;position:relative}
.twtr-widget .twtr-tweet-text b{display:block;width:7px;height:11px;background:url(<%= assets_url %>images/main-sprite.png) -311px -470px no-repeat;position:absolute;top:14px;left:-7px}.ie6 .twtr-widget .twtr-tweet-text b{left:-6px}
.twtr-widget .twtr-user{font-weight:bold}.twtr-widget .twtr-tweet-text p{line-height:1.5;font-size:12px;overflow:hidden}.twtr-widget .twtr-tweet-text p a{color:#0056c3}.twtr-widget .twtr-tweet-text p em{color:#9d9d9d;font-size:11px;font-style:normal;display:block}
.twtr-widget .twtr-tweet-text a.twtr-timestamp{font-size:12px;color:#888!important}.twtr-widget .twtr-tweet-text a.twtr-timestamp:hover{text-decoration:none!important;color:#0056c3}#twtr-widget-1 .twtr-tweet-text a.twtr-timestamp{color:#9d9d9d!important}
.twtr-widget .twtr-tweet-text a.twtr-reply{color:#0056c3!important;font-size:12px}.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.ui-helper-clearfix{display:inline-block}/*\*/* html .ui-helper-clearfix{height:1%}
.ui-helper-clearfix{display:block}/**/.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-state-disabled{cursor:default!important}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}.ui-widget{font-family:Arial,sans-serif;font-size:1.1em}
.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #eee;background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#333}
.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #e3a1a1;background:#c00 url(images/ui-bg_highlight-soft_15_cc0000_1x100.png) 50% 50% repeat-x;color:#fff;font-weight:bold}.ui-widget-header a{color:#fff}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #d8dcdf;background:#eee url(images/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;font-weight:bold;color:#004276}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#004276;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #cdd5da;background:#f6f6f6 url(images/ui-bg_highlight-hard_100_f6f6f6_1x100.png) 50% 50% repeat-x;font-weight:bold;color:#111}
.ui-state-hover a,.ui-state-hover a:hover{color:#111;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #eee;background:#fff url(images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x;font-weight:bold;color:#c00}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#c00;text-decoration:none}.ui-widget :active{outline:0}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fcd3a1;background:#fbf8ee url(images/ui-bg_glass_55_fbf8ee_1x400.png) 50% 50% repeat-x;color:#444}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#444}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #c00;background:#f3d8d8 url(images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png) 50% 50% repeat;color:#2e2e2e}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#2e2e2e}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#2e2e2e}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-icon{width:16px;height:16px;background-image:url(images/ui-icons_cc0000_256x240.png)}
.ui-widget-content .ui-icon{background-image:url(images/ui-icons_cc0000_256x240.png)}.ui-widget-header .ui-icon{background-image:url(images/ui-icons_ffffff_256x240.png)}.ui-state-default .ui-icon{background-image:url(images/ui-icons_cc0000_256x240.png)}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(images/ui-icons_cc0000_256x240.png)}.ui-state-active .ui-icon{background-image:url(images/ui-icons_cc0000_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(images/ui-icons_004276_256x240.png)}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(images/ui-icons_cc0000_256x240.png)}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}
.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}
.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}
.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}
.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}
.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}
.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}
.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}
.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}
.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}
.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}
.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}
.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}
.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}
.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}
.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}
.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}
.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}
.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}
.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}
.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}
.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}
.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}
.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}
.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}
.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}
.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}
.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}
.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}
.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-off{background-position:-96px -144px}
.ui-icon-radio-on{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}
.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}
.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}
.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}
.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}
.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}
.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}
.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}
.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}
.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}
.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}
.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-moz-border-radius-topleft:6px;-webkit-border-top-left-radius:6px;-khtml-border-top-left-radius:6px;border-top-left-radius:6px}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-moz-border-radius-topright:6px;-webkit-border-top-right-radius:6px;-khtml-border-top-right-radius:6px;border-top-right-radius:6px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{-moz-border-radius-bottomleft:6px;-webkit-border-bottom-left-radius:6px;-khtml-border-bottom-left-radius:6px;border-bottom-left-radius:6px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;-khtml-border-bottom-right-radius:6px;border-bottom-right-radius:6px}
.ui-widget-overlay{background:#a6a6a6 url(images/ui-bg_dots-small_65_a6a6a6_2x2.png) 50% 50% repeat;opacity:.40;filter:Alpha(Opacity=40)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#333 url(images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x;opacity:.10;filter:Alpha(Opacity=10);-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.ui-autocomplete{position:absolute;cursor:default}* html .ui-autocomplete{width:1px}.ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left}.ui-menu .ui-menu{margin-top:-3px}.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1}.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px}