---
title: '¡Cuando le pinta a Bebe! | Música La Viola | Todo Noticias'
description: 'Bebe Contepomi te acerca a otra dimensión: participá a través de Facebook, Twitter y seguí el VIVO en el sitio de La Viola, en TN.com.ar.'
keywords: La Viola, Especiales La Viola, Bebe Contepomi
twitter: ¡Le pintó a @BebeMusicTW! Mirá la entrevista en vivo en TN.com.ar
project: bbstream
certifica_path: "TN/especiales/Vivo-Contepomi"
certifica_desc: "Vivo Bebe Contepomi"
facebookurl: http://tn.com.ar/musica/bebe-en-vivo
facebookcam: bebe-en-vivo
---
<div class="clearfix">
  <section class="video-container">
    <header>
      <h2>Mirá cuando le pinta a Bebe</h2>
      <div class="share">
	      <div class="tw item">
	        <iframe width="120" scrolling="no" height="22" frameborder="0" src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=es&amp;text=Asi esta el tiempo en TN.com.ar&amp;url=http://tn.com.ar/clima&amp;via=todonoticias&amp;" allowtransparency="true" class="tw-share-button"></iframe>
	      </div>
	      <div class="fbsend item">
	        <script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script>
	        <fb:send href="http%3A%2F%2Ftn.com.ar%2Fclima" font=""></fb:send>
	      </div>
	      <div class="fb item">
	        <iframe
	          src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Fclima&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=recommend&amp;colorscheme=light&amp;height=21"
	          scrolling="no" frameborder="0"
	          style="border: none; overflow: hidden; width: 134px; height: 21px;"
	          allowTransparency="true"></iframe>
	      </div>      
      </div>
    </header>
    
    <div class="video">
      <img src="images/bebe.jpg" width="600" height="338" />
    </div>
    
    <ul id="more-info">
      <li>
        <div class="title"><a href="#">Sobre el tema: Enlace a un tag o nota</a><span class="toggle"><span class="bg"></span></span></div>
        <div class="content">Lo que se suponía, finalmente se confirmó: David Nalbandian sufrió un desgarro abdominal y es un hecho que no estará en la serie semifinal de la Copa Davis contra República Checa, que se jugará entre el 14 y el 16 de septiembre.</div>
      </li>
      <li>
        <div class="title"><a href="#">Sobre el tema: Enlace a un tag o nota</a><span class="toggle"><span class="bg"></span></span></div>
        <div class="content">Lo que se suponía, finalmente se confirmó: David Nalbandian sufrió un desgarro abdominal y es un hecho que no estará en la serie semifinal de la Copa Davis contra República Checa, que se jugará entre el 14 y el 16 de septiembre.</div>
      </li>
      <li>
        <div class="title"><a href="#">Sobre el tema: Enlace a un tag o nota</a><span class="toggle"><span class="bg"></span></span></div>
        <div class="content">Lo que se suponía, finalmente se confirmó: David Nalbandian sufrió un desgarro abdominal y es un hecho que no estará en la serie semifinal de la Copa Davis contra República Checa, que se jugará entre el 14 y el 16 de septiembre.</div>
      </li>
      <li>
        <div class="title"><a href="#">Sobre el tema: Enlace a un tag o nota</a><span class="toggle"><span class="bg"></span></span></div>
        <div class="content">Lo que se suponía, finalmente se confirmó: David Nalbandian sufrió un desgarro abdominal y es un hecho que no estará en la serie semifinal de la Copa Davis contra República Checa, que se jugará entre el 14 y el 16 de septiembre.</div>
      </li>                  
    </ul>
  
  </section>
  
  <aside id="sidebar">
    <section class="block" id="chat">
      <header>
        <h2>Dejá tu pregunta</h2>
      </header>
    </section>
    
    <section class="block" id="last-tweet">
      <header>
        <h2>Último tweet de Bebe</h2>
      </header>
      <div class="content">
        <div class="loading"></div>
        <div class="error">
          <p>Hubo un error en la conexión con Twitter. <a href="#" class="try-again">Volvé a intentar.</a></p>
        </div>
        <div class="success">
	        <img src="#" width="73" height="73" alt="Avatar" title="Avatar" />
	        <div class="tweet">
	          <p></p>
	          <div class="time-ago"></div>
	        </div>
	      </div>
      </div>
    </section>    
  
  </aside>

</div>

<%= render 'bbstream/last-videos' %>