---
title: '¡Cuando le pinta a Bebe! | Música La Viola | Todo Noticias'
description: 'Bebe Contepomi te acerca a otra dimensión: participá a través de Facebook, Twitter y seguí el VIVO en el sitio de La Viola, en TN.com.ar.'
keywords: La Viola, Especiales La Viola, Bebe Contepomi
twitter: ¡Le pintó a @BebeMusicTW! Mirá la entrevista en vivo en TN.com.ar
project: bbstream-old
certifica_path: "TN/especiales/Vivo-Contepomi"
certifica_desc: "Vivo Bebe Contepomi"
facebookurl: http://tn.com.ar/musica/bebe-en-vivo
facebookcam: bebe-en-vivo
---
<section class="title">
    <hgroup class="clearfix">
      <h1 class="size-7">¡Cuando le pinta a Bebe!</h1>
      <h2><p>La música desde la perspectiva de personajes y lugares que nunca imaginaste. Bebe Contepomi te acerca a otra dimensión: participá a través de Facebook, Twitter y seguí el VIVO en el sitio de <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a>.</p></h2>
    </hgroup>
</section>

<iframe class="video" width="720" height="431" src="http://www.ustream.tv/embed/11320260?ub=5D1719&lc=CD311B&oc=ffffff&uc=ffffff" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>

<aside id="sidebar" class="clearfix">
  <section id="fb-livestream" class="block">
    <div class="fb-live-stream" data-event-app-id="346699902992" data-width="470" data-height="600" data-xid="TN_BEBE_STREAM" data-always-post-to-friends="false"></div>
  </section>
  
  <section id="twitter-widget" class="block">
	  <div class="twsb-bck">
	    <!-- <a href="https://twitter.com/intent/tweet?hashtags=fail" class="more rounded">Tweet!</a> -->
	  </div>
    <div id="twitter-search" class="content twpress  twtr-widget twtr-scroll"></div>  
  </section>
</aside>