---
title: "Los exclusivos de La Viola | TN.com.ar | Todo Noticias"
description: "La Viola te trae en exclusiva los últimos videoclips del mundo de la música. Miralos en TN.com.ar, el sitio del canal de noticias más visto de Argentina."
twitter: "Estoy viendo los exclusivos de @tnLaViola en TN.com.ar: "
og_url: "http://tn.com.ar/exclusivos/musica/tony-bennett"
project: bennett
certifica_path: "TN/exclusivos/musica/tony-bennett"
certifica_desc: "Exclusivos - TN MUSICA"
---

<section class="title">
    <hgroup class="clearfix">
      <h1 class="size-7">Los exclusivos de La Viola</h1>
      <h2><p>Te presentamos el nuevo video de Tony Bennett, "How do you keep the music playing".</p></h2>
    </hgroup>
</section>

<section class="video">
	<object id="flashObj" width="480" height="270" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0">
		<param name="movie" value="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" />
		<param name="bgcolor" value="#FFFFFF" />
		<param name="flashVars" value="@videoPlayer=1483285874001&playerID=1483179590001&playerKey=AQ~~,AAAAAAAA5vE~,Eeb-O-20Rk-TSTnEbxpP05oilwfQ4Fl-&domain=embed&dynamicStreaming=true" />
		<param name="base" value="http://admin.brightcove.com" />
		<param name="seamlesstabbing" value="false" />
		<param name="allowFullScreen" value="true" />
		<param name="swLiveConnect" value="true" />
		<param name="allowScriptAccess" value="always" />
		<embed src="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" bgcolor="#FFFFFF" flashVars="@videoPlayer=1483285874001&playerID=1483179590001&playerKey=AQ~~,AAAAAAAA5vE~,Eeb-O-20Rk-TSTnEbxpP05oilwfQ4Fl-&domain=embed&dynamicStreaming=true" base="http://admin.brightcove.com" name="flashObj" width="480" height="270" seamlesstabbing="false" type="application/x-shockwave-flash" allowFullScreen="true" allowScriptAccess="always" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
	</object>
</section>
