---
project: cloud
title: TN.com.ar | Todo Noticias
description: desc
certifica_path: "TN/vivo/especiales/crepusculo"
certifica_desc: "TN Avant Crepusculo"
twitter: "Estoy leyendo TITULO GRAN TITLAR en TN.com.ar"
data_page: "nota-interna"
disques: false
---

<article class="hnews hentry item note" id="new">
	<header>
		<h1>
			<a class="url entry-title" href="http://tn.com.ar/politica/00072564/aerolineas-el-saldo-negativo-llegaria-a-us-700-millones">Aerolíneas: el saldo negativo llegaría a U$S 700 millones</a>
		</h1>
		<div class="drop-line">
			<p>Desde el traspaso de la compa&ntilde;&iacute;a, el d&eacute;ficit creci&oacute; y el 2011 cerrar&iacute;a con p&eacute;rdidas record.</p>
		</div>
		<time datetime="Martes, Noviembre 15, 2011 - 04:05" class="updated" pubdate="pubdate"> Martes 15 de Noviembre del 2011<span> | 04:05</span></time>
		
		<%= render 'cloud/share' %>

	</header>	
		<div class="entry-content">
	    <figure class="hmedia">
	      <img class="photo" title="TEXTUAL. &quot;Algunos prefieren poner una oficinita en el microcentro&quot;, dijo." alt="TEXTUAL. &quot;Algunos prefieren poner una oficinita en el microcentro&quot;, dijo." src="http://cdn.tn.com.ar/sites/default/files/imagecache/nota-600x338/2012/03/20/timerman-tapa.jpg">      
	      <figcaption>
	        <span class="fn">TEXTUAL. "Algunos prefieren poner una oficinita en el microcentro", dijo.</span>
	      </figcaption>
	    </figure>		
			<p>
				A los conflictos que <a
					href="http://www.tn.com.ar/tags/aerolineas-argentinas">Aerol&iacute;neas
					Argentinas</a> <strong>tiene con los gremios de los pilotos y
					de los controladores a&eacute;reos</strong> se le debe sumar <strong>su
					situaci&oacute;n financiera</strong> que, desde que el manejo volvi&oacute;
				a manos del Estado nacional, <strong>suma un d&eacute;ficit
					que, en el 2011, llegar&iacute;a a los U$S 700 millones</strong>.
			</p>
			<p>
				Los <strong>US$ 563 millones</strong> de p&eacute;rdidas declaradas
				<strong>en el 2009 y los U$S 486 millones del 2010</strong>, donde
				seg&uacute;n los n&uacute;meros oficiales de Aerol&iacute;nas esa
				baja iba a continuar y en 2011 <strong>la perdida
					llegar&iacute;a s&oacute;lo a los U$S 200 millones</strong>, se contraponen
				con los propios balances que hacen puertas adentro directivos de la
				empresa, seg&uacute;n publica el diario <a
					href="http://www.lanacion.com.ar/1423354-una-empresa-con-numeros-en-rojo"><em>La
						Naci&oacute;n</em></a>.
			</p>
			<p>
				Desde que la empresa pas&oacute; ser manejada por el Estado, que
				design&oacute; a <a
					href="http://www.tn.com.ar/personajes/Mariano-Recalde">Mariano
					Recalde</a>, hijo del abogado de la <a
					href="http://www.tn.com.ar/tags/cgt">CGT</a> y l&iacute;der de la
				agrupaci&oacute;n juvenil kirchnerista <a
					href="http://www.tn.com.ar/tags/la-Campora">La C&aacute;mpora</a>,
				la empresa <strong>sum&oacute; 1500 empleados y
					lleg&oacute; a los 11 mil</strong>.
			</p>
			<p>
				El &aacute;rea donde se produjo uno de los mayores incrementos fue
				en el de <strong>los pilotos que se duplicaron y pasaron de
					800 a 1600</strong>. Por la cantidad de vuelos y rutas que opera
				Aerol&iacute;neas Argentinas y Austral, <strong>se
					necesitar&iacute;an entre 6 mil y 7 mil empleados</strong>, es decir al
				menos&nbsp;<strong>un 30% menos de la plantilla actual</strong>.
			</p>
			<p>
				Sin embargo, <strong>las mayores p&eacute;rdidas
					registradas son por los vuelos internacionales </strong>y llega al 60%.
				All&iacute; la l&iacute;nea de bandera perdi&oacute; fuerza y, en la
				actualidad,&nbsp;<strong>s&oacute;lo el 15% de los
					pasajeros que salen de Ezeiza viajan por Aerol&iacute;neas</strong>,
				mientras que ese porcentaje lleg&oacute; a ser del 50 por ciento.
			</p>
			<p>
				Hace 45 d&iacute;as,&nbsp;la econom&iacute;a de Aerol&iacute;neas ya
				hab&iacute;a sido noticia a ra&iacute;z del relevamiento
				internacional que realiza la revista&nbsp;Air Transport
				World,&nbsp;especializada en el sector aerocomercial, que
				ubic&oacute; a la empresa argentina <a
					href="http://tn.com.ar/politica/00068355/aerolineas-en-el-podio-de-las-empresas-aereas-con-mas-perdidas-del-planeta">entre
					las tres con mayores p&eacute;rdidas en el &uacute;ltimo a&ntilde;o</a>.
			</p>
	</div>


	<footer>
		
		<%= render 'cloud/share' %>

	</footer>

</article>