---
project: cloud
title: TÍTULO GRAN TITULAR | TN.com.ar | Todo Noticias
description: Últimas noticias de Argentina y el mundo. TN en vivo las 24 horas. El sitio del canal de noticias más visto de Argentina.
certifica_path: "TN/vivo/especiales/crepusculo"
certifica_desc: "TN Avant Crepusculo"
twitter: "AHORA EN TN.COM.AR: TITULO GRAN TITLAR"
data_page: home
back: false
disques: false
---
<%

title = Array.new

title << 'Ronaldo y Messi, la lucha por la hegemonia en el futbol'
title << 'Schoklender no quiere que Oyarbide siga llevando la causa contra él'
title << 'La “semi plena prueba” de Aníbal F.'
title << 'Sale la "gran" Noelia, entra la "enana" Feudale'
title << 'Peratta: "En Rosario hay mala leche y extorsionadores"'
title << 'Cumbre por la crisis de San Lorenzo'
title << 'Di Caprio, en su mejor estado'
title << 'Un esguince no tan Chiquito'
title << 'Reunión en Trabajo para destrabar el bloqueo en Ezeiza y Aeroparque'
title << 'Santa Cruz: enfrentamientos entre facciones de la UOCRA'

content = Array.new

content << 'La serie entre Argentina y España entre el 2 y el 4 de diciembre ya tiene sede. La Federación Española de Tenis desestimó la candidatura de Valencia.'
content << 'Fue durante un forcejeo con delincuentes en la puerta de una farmacia. Investigan si fue un intento de robo o un ajuste de cuentas.'
content << 'Argumenta que el primer juzgado que recibió la denuncia fue el de Marcelo Martínez de Giorgi.'
content << 'A la locutora le toca el strip dance junto a Hernán Piquín.'
content << 'Así lo afirmó el ministro de Defensa británico.'
content << 'El presidente y el vice se reunieron con Migliore y Ortigoza. Y un integrante de la barra también participó.'
content << 'El famoso actor terminó su relación con&nbsp;la actriz <a href="http://es.wikipedia.org/wiki/Blake_Lively">Blake Lively</a> y disfruta de su soltería.'
content << 'Sergio Romero no jugaría el viernes ante Chile, y sería preservado para jugar ante Venezuela. El arco será para Andújar.'
content << 'Los camioneros de una empresa de catering aéreo realizan el paro.'
content << 'Fue en el paraje El Bote. Hay siete personas heridas.'

%>

	<article class="hnews hentry item" id="home-new">
		<hgroup class="clearfix">
			<h1><a rel="bookmark" class="url entry-title size-5" href="#">Falleció Nestor Kirchner</a></h1>
			<h2 class="alignleft">El país, conmocionado porla muerte del ex presidente Néstor Kirchner Tras sufrir una descompensación, fue hospitalizado en El Calafate. Fuentes indican que fue por Muerte súbita. Seguí el tema en <a href="#">@muerekirchner</a></h2>
		
		
			<div class="share-home alignright">
				<div class="tw">
					<iframe width="120" scrolling="no" height="25" frameborder="0" src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=es&amp;related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&amp;text=<%= twitter %>&amp;url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&amp;via=todonoticias" allowtransparency="true" class="tw-share-button"></iframe>
				</div>
				<div class="fb">
					<iframe scrolling="no" frameborder="0"
						style="border: none; overflow: hidden; width: 141px; height: 27px;"
						src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Foutput%2Fhome%2Fhome.html&amp;locale=es_LA&amp;send=false&amp;layout=button_count&amp;width=141&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21"
						allowtransparency="true"
						class="fb-share-button fb_share_count_hidden"></iframe>
				</div>
			</div>
		</hgroup>
		

		<footer>
			<time datetime="2009-11-13T20:00-03:00" class="updated"	pubdate="pubdate">20:00</time>
			<div class="author vcard">Autor de la nota</div>
			<div class="source-org vcard">Todo Noticias</div>
		</footer>
	</article>

	<section id="vivo"><!-- id="youtube-tv" -->

    <iframe width="640" height="360" src="http://www.youtube.com/embed/EMyk_eafxvw" frameborder="0" allowfullscreen></iframe>	
	
	</section>
	
	<section id="carousel-twitter" class="carousel wrapper">
	  <header>
	    <h3>Tag:</h3>
	    	<% tags = ['jpquake','japon','terremoto','tsunami','tokio'] %>
	    	<% tags.each do |tag| %>
	    		<h4 class="search" data-search="<%= tag %>">#<%= tag %></h4><% if (tag != tags.last) %>,<%end%>
	    	<% end %>
	  </header>
	
	  <div class="ctw-follow"><a href="https://twitter.com/todonoticias" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @todonoticias</a></div>
	
	  <div class="arrows next"><span></span></div>
	  <div class="arrows prev disabled"><span></span></div>
	
	  <div id="twitbox"></div>
	
	</section>
	
	<section class="news">
			<%= render 'cloud/new-article', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)] %>
			<%= render 'cloud/new-article', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)] %>
			<%= render 'cloud/new-article', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)] %>
		  <%= render 'cloud/new-article', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)] %>
		  <%= render 'cloud/new-article', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)] %>
			<%= render 'cloud/new-article', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)] %>		  
	</section>