---
project: crepusculo
title: Crepúsculo, la alfombra roja | TN.com.ar | Todo Noticias
description: La alfrombra roja de la avant primiere de Amanecer, la primera parte de Crepúsculo, está en TN.com.ar. El sitio del canal de noticias más visto de Argentina.
certifica_path: "TN/vivo/especiales/crepusculo"
certifica_desc: "TN Avant Crepusculo"
twitter: "Estoy viendo en vivo la alfrombra roja de Crepúsculo en TN.com.ar #breakingdawnlive"
og_url: "http://tn.com.ar/crepusculo"
---
<h1>Crepúsculo, la alfrombra roja en vivo</h1>
<iframe frameborder="0" width="720" height="405" src="http://d.yimg.com/nl/movies/site/player.html#vid=27184282&browseCarouselUI=hide"></iframe>

<section id="tw-elecciones" class="block">
	<h3>Crepúsculo en Twitter</h3>
	<span class="twsb-bck"></span>
	<div id="twwidget" class="twtr-widget content"></div>
	<a class="more rounded" href="http://tn.com.ar/trends/%2523breakingdawnlive" target="_blank">Ver más</a>
</section>
