---
title: GPS y Mapas | Todo Noticias Móvil | m.TN.com.ar 
description: Descargá en tu GPS o teléfono celular los mapas más completos y actualizados de Argentina y los países limítrofes en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
project: gps
header: mobile
certifica_path: "TN/gps"
certifica_desc: "TN GPS"
---
<div class="gps-content note">

	<img src="images/gps/arriaga.jpg" width="128" height="128" class="gps-img" alt="Ernesto Arriaga" title="Ernesto Arriaga" />

  <h1>Mapas TN GPS 1.0 con la voz de Ernesto Arriaga</h1>

  <p>Descargá Mapas TN GPS 1.0 y usá los mapas más completos de Argentina con la voz de Ernesto Arriaga, el experto en tránsito de TN, el canal de noticias más visto de Argentina.</p>
  <p>Esta versión está disponible tanto para GPS marca Garmín y compatibles como para celulares que tengan el software Garmin Mobile XT o compatible.</p>

  <p>¡No te pierdas la oportunidad de decargarlo! Es gratis.</p>

	<%= render 'gps/share' %>
	
	<p>Versiones para descargar:</p>

	<div class="gps-box gps-box-1">

	  <h3>Version para sincronizar con Mapsource</h3>
	  <div class="content">
		  <p>Descargá</p>
		  <p>TN GPS 1.0 con la voz instalada en tu equipo <span>(129.5MB)</span></p>
		  <a class="download" href="http://download.tn.com.ar/gps/Mapsource/TNMapsource.zip">download</a>
	  </div>
	  <a class="more rounded" href="http://download.tn.com.ar/gps/Mapsource/TNMapsource.zip">Descargar</a>
	</div>

	<div class="gps-box gps-box-2">
	  <h3>Version para tarjeta SD de GPS o Celular</h3>
	  <div class="content">
		  <p>Descargá</p>
		  <p>TN GPS 1.0 con la voz instalada en tu equipo <span>(144.2MB)</span></p>
		  <a class="download" href="http://download.tn.com.ar/gps/SD/Garmin.zip">download</a>
		</div>
		<a class="more rounded" href="http://download.tn.com.ar/gps/SD/Garmin.zip">Descargar</a>
	</div>

  <div class="clear-both"></div>
  
  <%= render 'gps/share' %>

  <p style="font-size:12px;color:#aaa;text-align:right">(*) Basado en última versión provista por Mapear</p>

</div>
