---
title: GPS y Mapas
description: Descargá en tu GPS o teléfono celular los mapas más completos y actualizados de Argentina y los países limítrofes en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
project: gps
certifica_path: "TN/gps"
certifica_desc: "TN GPS"
---

<%

cels = Array.new

cels << {:brand =>'Amoi', :models => ['N8', 'N800', 'N810']}
cels << {:brand =>'Asus', :models => ['P526', 'P527','P535', 'P750']}
cels << {:brand =>'AT&T', :models => ['Tilt']}
cels << {:brand=>'BenQ-Siemens', :models => ['P51']}
cels << {:brand=>'Dopod', :models => ['CHT 9100', 'CHT 9110','D810', 'P800W', 'U1000']}
cels << {:brand=>'E-TEN', :models => ['glofiish M700', 'glofiish X500','glofiish X800', 'InfoTouch G500', 'InfoTouch G500+']}
cels << {:brand=>'Fujitsu-Siemens Pocket LOOX', :models => ['T810', 'T830']}
cels << {:brand=>'Gigabyte', :models => ['g-Smart i300', 'g-Smart i350']}
cels << {:brand=>'HP iPAQ', :models => ['600/610/612/614', '900/910/912/914','hw6510', 'hw6515', 'hw6910/hw6920/hw6940', 'hw6915/hw6925/hw6945/hw6965']}
cels << {:brand=>'HTC', :models => ['Advantage X7500', 'Advantage X7501','Omni', 'P3300', 'P3600','P4550', 'P5500','P6550', 'Polaris', 'S420', 'S640', 'S730', 'Tilt', 'Touch Cruise', 'TyTN II', 'Vogue', 'X9500']}
cels << {:brand=>'Intermec', :models => ['CN3']}
cels << {:brand=>'Izen Mobile', :models => ['Kmra', 'KSMT']}
cels << {:brand=>'Mitac Mio', :models => ['P501', 'P700','P701', 'P702']}
cels << {:brand=>'Motorola', :models => ['MC35', 'Q Global']}
cels << {:brand=>'Nokia', :models => ['N95', '6110 Navigator']}
cels << {:brand=>'O2 XDA', :models => ['Orbit']}
cels << {:brand=>'Orange', :models => ['SPV M650','SPV M700']}
cels << {:brand=>'ORSiO', :models => ['g735']}
cels << {:brand=>'Samsung', :models => ['SGH-i640v']}
cels << {:brand=>'SFR', :models => ['S300+']}
cels << {:brand=>'T-Mobile', :models => ['MDA AMEO', 'MDA Compact III','MDA Vario III']}
cels << {:brand=>'Torq', :models => ['N100']}
cels << {:brand=>'Vodafone', :models => ['VPA Compact GPS', 'VPA Compact V']}
cels << {:brand=>'XPA', :models =>  ['v1510', 'v1520', 'v1610','A702']}
cels << {:brand=>'Blackberry', :models => ['Bold', '(9000) Curve', '8300 series','Pearl','8100 series', '8800 series', '8700 series','7100 series','7520 series']}


%>

<div class="gps-container clearfix">

  <img src="images/gps/arriaga.jpg" width="300" height="400" class="gps-img" alt="Ernesto Arriaga" />

  <div class="gps-content">

  <h1>Celulares compatibles!</h1>

  <p>Instalá Mapas Clarín en tu celular y disfrutá de la mejor cartografía del país</p>
  <p>Si tu celular se encuentra en la siguiente lista y tenés instalado Garmin Mobile, elegí la versión de tu interés, no dejes pasar la oportunidad.</p>


  <ul id="gps-list">
    <% cels.sort_by { |cels| cels[:brand] }.each do |brand| %>
		  <li class="gps-brand <%= brand[:brand].downcase.gsub(' ', '-') %> clearfix">
		    <h3><%= brand[:brand] %></h3>
		    <ul class="gps-models ">
		      <% brand[:models].each do|model| %>

		      <li><img height="120" src="images/gps/<%= brand[:brand].downcase.gsub(' ', '-') %>-<%= model.downcase.gsub(' ', '-').gsub('/', '-') %>.jpg" alt="<%= brand[:brand] %> - <%= model %>" /><p><%= model %></p></li>

		      <% end %>
		    </ul>
		  </li>
		<% end %>

  </ul>

  <div class="gps-box gps-box-1">

    <h3>Version para sincronizar con Mapsource</h3>
    <div class="content">
      <p>Descargá</p>
		  <p>Clarín GPS 4.0 con la voz instalada en tu equipo <span>(129.5MB)</span></p>
		  <a class="download" href="http://download.tn.com.ar/GPS/Mapsource/TNMapsource.zip">download</a>
    </div>
	  <a class="more rounded" href="http://download.tn.com.ar/GPS/Mapsource/TNMapsource.zip">Descargar</a>
  </div>

  <div class="gps-box gps-box-2">
    <h3>Version para tarjeta SD de GPS o Celular</h3>
    <div class="content">
      <p>Descargá</p>
		  <p>Clarín GPS 4.0 con la voz instalada en tu equipo <span>(144.2MB)</span></p>
		  <a class="download" href="http://download.tn.com.ar/GPS/SD/Garmin.zip">download</a>
    </div>
		<a class="more rounded" href="http://download.tn.com.ar/GPS/SD/Garmin.zip">Descargar</a>
  </div>

  </div>
</div>
