---
title: titulo
description: des
keywords: key
twitter: "En todos lados, en móviles y tabletas podés informarte con TN.com.ar"
project: personalfest
certifica_path: "TN/moviles"
certifica_desc: "TN Moviles"
---
<section class="title">
    <hgroup class="clearfix">
      <h1 class="size-7">Los exclusivos de La Viola</h1>
      <h2><p>Te presentamos el nuevo video de Tony Bennett, "How do you keep the music playing".</p></h2>
    </hgroup>
</section>

<div class="alignleft ad-sky"></div>
<div class="alignright ad-sky"></div>
<iframe class="video" width="640" height="360" src="http://www.youtube.com/embed/kHRf01Gjosk" frameborder="0" allowfullscreen></iframe>
