---
project: quinela
title: Quinela | TN.com.ar | Todo Noticias
description: Quinela.
dax: "quiniela.inicio"
twitter: "Quinela"
---
<div class="contenedor_general">
    <div xmlns="" class="contenedor_navegacion">
      <div class="cabecera">
        <div class="fondo_cabezal">
          <span class="titulo">Loterías</span>
        </div>
      </div>

      <div class="navegador">
        <a href=
        "http://www.df06.com.ar/tn/loterias/quiniela_nacional_primera.html#"
        class=
        "prevPage browse left disabled"><span>anterior</span></a>

        <div class="scrollable">
          <ul class="items">
            <li><a href="./Loterias_files/Loterias.html" class="bot_loterias impar"><span>Quiniela Nacional</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quiniela_provincia_primera.html" class="bot_loterias par"><span>Quiniela Provincia</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quiniela_de_cordoba_matutina.html" class="bot_loterias par"><span>Quiniela Córdoba</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quiniela_uruguaya_matutina.html" class="bot_loterias par"><span>Quiniela Uruguaya</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quiniela_plus.html" class="bot_loterias par"><span>Quiniela Plus</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quini_6.html" class="bot_loterias impar"><span>Quini6 Tradicional</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quini_6_segunda_vuelta.html" class="bot_loterias par"><span>Quini6 Segunda</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quini_6_revancha.html" class="bot_loterias impar"><span>Quini6 Revancha</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quini_6_siempre_sale.html" class="bot_loterias par"><span>Quini6 Siempre Sale</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/quini_6_pozo_extra.html" class="bot_loterias impar"><span>Quini6 Pozo Extra</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/loto.html" class= "bot_loterias par"><span>Loto</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/loto_desquite.html" class="bot_loterias impar"><span>Loto Desquite</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/loto_5.html" class= "bot_loterias par"><span>Loto 5</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/loto_yapa.html" class="bot_loterias impar"><span>Loto Yapa</span></a></li>
            <li><a href="http://www.df06.com.ar/tn/loterias/loto_sale_o_sale.html" class="bot_loterias par"><span>Loto Sale o Sale</span></a></li>
          </ul>
        </div><a href="http://www.df06.com.ar/tn/loterias/quiniela_nacional_primera.html#" class= "nextPage browse right disabled"><span>posterior</span></a>
      </div>

      <div class="clear"></div>
    </div>

    <div class="contenedor_loterias">
      <div class="cabecera">
        <div class="fondo_cabezal">
          <span class="titulo">Quiniela Nacional</span><span class="fecha01">Sorteo:</span><span>21.10.2011</span>
        </div>
      </div>

      <div class="sorteo">
        <a id="despliega_sorteos" href="http://www.df06.com.ar/tn/loterias/quiniela_nacional_primera.html#"> <span>Primera</span></a>
        <ul id="menu_tiposorteo">
          <li class="bot_tipo"><a href="http://www.df06.com.ar/tn/loterias/quiniela_nacional_matutina.html"> <span>Matutina</span></a></li>
          <li class="bot_tipo"><a href="http://www.df06.com.ar/tn/loterias/quiniela_nacional_vespertina.html"> <span>Vespertina</span></a></li>
          <li class="bot_tipo"><a href="http://www.df06.com.ar/tn/loterias/quiniela_nacional_nocturna.html"> <span>Nocturna</span></a></li></ul>
      </div>

      <div class="destacado">
        <span class="numero_destacado">97</span><span class="texto_destacado">A la cabeza</span>
      </div>

      <div class="lista1">
        <table cellpadding="0" cellspacing="0" class="lista">
          <tbody>
            <tr>
              <td class="pos"><span class="numero">1</span></td>
              <td class="sep" rowspan="20">&nbsp;</td>
              <td class="resultado"><span class="numero_destacado2">5597</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">2</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">3619</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">3</span></td>
              <td class="resultado"><span class="numero_destacado2">2392</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">4</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">8643</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">5</span></td>
              <td class="resultado"><span class="numero_destacado2">9261</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">6</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">8331</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">7</span></td>
              <td class="resultado"><span class="numero_destacado2">0809</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">8</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">4014</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">9</span></td>
              <td class="resultado"><span class="numero_destacado2">3990</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">10</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">2722</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">11</span></td>
              <td class="resultado"><span class="numero_destacado2">0463</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">12</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">2126</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">13</span></td>
              <td class="resultado"><span class="numero_destacado2">9909</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">14</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">3515</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">15</span></td>
              <td class="resultado"><span class="numero_destacado2">8232</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">16</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">0029</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">17</span></td>
              <td class="resultado"><span class="numero_destacado2">1650</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">18</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">8603</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">19</span></td>
              <td class="resultado"><span class="numero_destacado2">4870</span></td>
            </tr>

            <tr>
              <td class="pos impar2"><span class="numero">20</span></td>
              <td class="resultado impar2"><span class="numero_destacado2">2482</span></td>
            </tr>

            <tr>
              <td class="pos"><span class="numero">Letras</span></td>
              <td class="sep">&nbsp;</td>
              <td class="resultado"><span class="numero_destacado2">AIDS</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div xmlns="" class="contenedor_significados">
      <div class="cabecera">
        <div class="fondo_cabezal">
          <span class="titulo">Significado de los números</span>
        </div>
      </div>

      <div class="numeros">
        <div class="columna_numeros">
          <ul>
            <li><span class="numero">00</span> <span>Huevos</span></li>
            <li><span class="numero">01</span> <span>Agua</span></li>
            <li><span class="numero">02</span><span>&nbsp;Niño</span></li>
            <li><span class="numero">03</span> <span>San Cono</span></li>
            <li><span class="numero">04</span> <span>La Cama</span></li>
            <li><span class="numero">05</span> <span>Gato</span></li>
            <li><span class="numero">06</span> <span>Perro</span></li>
            <li><span class="numero">07</span> <span>Revolver</span></li>
            <li><span class="numero">08</span> <span>Incendio</span></li>
            <li><span class="numero">09</span> <span>Arrollo</span></li>
            <li><span class="numero">10</span> <span>La Leche</span></li>
            <li><span class="numero">11</span> <span>Palito</span></li>
            <li><span class="numero">12</span> <span>Soldado</span></li>
            <li><span class="numero">13</span> <span>La Yeta</span></li>
            <li><span class="numero">14</span> <span>Borracho</span></li>
            <li><span class="numero">15</span><span>&nbsp;Niña Bonita</span></li>
            <li><span class="numero">16</span> <span>Anillo</span></li>
            <li><span class="numero">17</span> <span>Desgracia</span></li>
            <li><span class="numero">18</span> <span>Sangre</span></li>
            <li><span class="numero">19</span> <span>Pescado</span></li>
            <li><span class="numero">20</span> <span>La Fiesta</span></li>
            <li><span class="numero">21</span> <span>La Mujer</span></li>
            <li><span class="numero">22</span> <span>El Loco</span></li>
            <li><span class="numero">23</span> <span>Mariposa</span></li>
            <li><span class="numero">24</span> <span>Caballo</span></li>
            <li><span class="numero">25</span> <span>Gallina</span></li>
            <li><span class="numero">26</span> <span>La misa</span></li>
            <li><span class="numero">27</span> <span>El Peine</span></li>
            <li><span class="numero">28</span> <span>El Cerro</span></li>
            <li><span class="numero">29</span> <span>San Pedro</span></li>
            <li><span class="numero">30</span> <span>Santa Rosa</span></li>
            <li><span class="numero">31</span> <span>La Luz</span></li>
            <li><span class="numero">32</span> <span>Dinero</span></li>
            <li><span class="numero">33</span> <span>Cristo</span></li>
          </ul>
        </div>

        <div class="columna_numeros">
          <ul>
            <li><span class="numero">34</span> <span>Cabeza</span></li>
            <li><span class="numero">35</span> <span>Pajarito</span></li>
            <li><span class="numero">36</span> <span>Manteca</span></li>
            <li><span class="numero">37</span> <span>Dentista</span></li>
            <li><span class="numero">38</span> <span>Aceite</span></li>
            <li><span class="numero">39</span> <span>Lluvia</span></li>
            <li><span class="numero">40</span> <span>Cura</span></li>
            <li><span class="numero">41</span> <span>Cucho</span></li>
            <li><span class="numero">42</span> <span>Zapatilla</span></li>
            <li><span class="numero">43</span><span>&nbsp;Balcón</span></li>
            <li><span class="numero">44</span><span>&nbsp;La Cárcel</span></li>
            <li><span class="numero">45</span> <span>El Vino</span></li>
            <li><span class="numero">46</span> <span>Tomates</span></li>
            <li><span class="numero">47</span> <span>Muerto</span></li>
            <li><span class="numero">48</span> <span>Muerto Habla</span></li>
            <li><span class="numero">49</span> <span>La Carne</span></li>
            <li><span class="numero">50</span> <span>El Pan</span></li>
            <li><span class="numero">51</span> <span>Serrucho</span></li>
            <li><span class="numero">52</span> <span>Madre</span></li>
            <li><span class="numero">53</span> <span>El Barco</span></li>
            <li><span class="numero">54</span> <span>La Vaca</span></li>
            <li><span class="numero">55</span> <span>Los Gallegos</span></li>
            <li><span class="numero">56</span> <span>La Caida</span></li>
            <li><span class="numero">57</span> <span>Trabajo</span></li>
            <li><span class="numero">58</span> <span>Ahogado</span></li>
            <li><span class="numero">59</span> <span>Planta</span></li>
            <li><span class="numero">60</span> <span>Virgen</span></li>
            <li><span class="numero">61</span> <span>Escopeta</span></li>
            <li><span class="numero">62</span><span>&nbsp;Inundación</span></li>
            <li><span class="numero">63</span> <span>Casamiento</span></li>
            <li><span class="numero">64</span> <span>Llanto</span></li>
            <li><span class="numero">65</span> <span>Cazador</span></li>
            <li><span class="numero">66</span> <span>Lombrices</span></li>
          </ul>
        </div>

        <div class="columna_numeros">
          <ul>
            <li><span class="numero">67</span> <span>Vibora</span></li>
            <li><span class="numero">68</span> <span>Sobrinos</span></li>
            <li><span class="numero">69</span> <span>Vicios</span></li>
            <li><span class="numero">70</span><span>&nbsp;Muerto Sueño</span></li>
            <li><span class="numero">71</span> <span>Excremento</span></li>
            <li><span class="numero">72</span> <span>Sorpresa</span></li>
            <li><span class="numero">73</span> <span>Hospital</span></li>
            <li><span class="numero">74</span> <span>Negros</span></li>
            <li><span class="numero">75</span> <span>Payasos</span></li>
            <li><span class="numero">76</span> <span>Llamas</span></li>
            <li><span class="numero">77</span> <span>Las Piernas</span></li>
            <li><span class="numero">78</span> <span>Ramera</span></li>
            <li><span class= "numero">79</span><span>&nbsp;Ladrón</span></li>
            <li><span class="numero">80</span> <span>La Bocha</span></li>
            <li><span class="numero">81</span> <span>Flores</span></li>
            <li><span class="numero">82</span> <span>Pelea</span></li>
            <li><span class="numero">83</span> <span>Mal Tiempo</span></li>
            <li><span class="numero">84</span> <span>Iglesia</span></li>
            <li><span class="numero">85</span> <span>Linterna</span></li>
            <li><span class="numero">86</span> <span>Humo</span></li>
            <li><span class="numero">87</span> <span>Piojos</span></li>
            <li><span class="numero">88</span> <span>El Papa</span></li>
            <li><span class="numero">89</span> <span>La Rata</span></li>
            <li><span class="numero">90</span> <span>El Miedo</span></li>
            <li><span class="numero">91</span> <span>Excusado</span></li>
            <li><span class= "numero">92</span><span>&nbsp;Médico</span></li>
            <li><span class="numero">93</span> <span>Enamorado</span></li>
            <li><span class="numero">94</span> <span>Cementerio</span></li>
            <li><span class="numero">95</span> <span>Anteojos</span></li>
            <li><span class="numero">96</span> <span>Marido</span></li>
            <li><span class="numero">97</span> <span>La Mesa</span></li>
            <li><span class="numero">98</span> <span>Lavandera</span></li>
            <li><span class="numero">99</span> <span>Hermanos</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="creditoDF">
      <span><span>Información provista por</span> <a href="http://www.datafactory.la/" target="_blank"><span>DataFactory</span></a></span>
    </div>
  </div> <!-- contenedor_general -->
