---
project: tedxr
title: TEDx Río de la Plata en vivo | TN.com.ar | Todo Noticias
description: La trasmisión en vivo de TEDx, todas las charlas y conferencias están en TN.com.ar el sitio del canal de noticias más visto de Argentina.
certifica_path: "TN/tedx"
certifica_desc: "TN tedx"
twitter: "Estoy mirando #TEDx en vivo en TN.com.ar #TEDxRdelaP"
og_url: "http://tn.com.ar/tedx"

---
<a href="http://www.tedxriodelaplata.org/" target="_blank"><img class="tedlogo" src="images/tedxriodelaplata.png" alt="TEXxriodelaplata" title="TEXxriodelaplata" /></a>
<object><embed allowfullscreen="true" width="720" height="480" flashvars="autostart=true&plugins=gapro-1&gapro.accountid=UA-5892197-5&skin=http://videos.lanacion.com.ar/flash/player_v2/skins/modieus/modieus.swf&backcolor=0xEEEEEE&frontcolor=0x666666&lightcolor=0x77AEC8&frontcolor=0x666666&totaltime=0x000000&barcolor=0x77AEC8&streamcolor=0xC9C9C9&barbkcolor=0xE5E5E5&elapsedtime=0xFFFFFF&bufferlength=2&streamer=rtmp://cdntx.lanacion.com.ar/dridco&file=dridco.flv" src="http://videos.lanacion.com.ar/flash/player_v2/flvplayer.swf" /></object>

<section id="tw-elecciones" class="block">
	<h3>TEDxRíodelaPlata en Twitter</h3>
	<span class="twsb-bck"></span>
	<div id="twwidget" class="twtr-widget content"></div>
	<a class="more rounded" href="http://tn.com.ar/trends/%2523TEDxRdelaP" target="_blank">Ver más</a>
</section>
