---
project: 'todapasion-iframe'
title: 'Especial Euro 2012 | Deportes Toda Pasión | Todo Noticias'
description: 'Agenda, resultados, goles, partidos en vivo y todas las estadísticas de la Euro 2012 en Toda Pasión, el sitio de deportes de TN.com.ar.'
twitter: 'Estoy viendo todo sobre la #Euro 2012'
via: 'todapasion'
certifica_path: "TN/exclusivos/deportes/euro-2012"
certifica_desc: "Especial Euro 2012"
script: false
---
<section class="title">
    <hgroup class="clearfix">
      <h1 class="size-7">Especial Euro 2012</h1>
      <h2><p>Agenda, resultados, goles, partidos en vivo y todas las estadísticas de la Euro 2012.</p></h2>
    </hgroup>
</section>

<iframe style="margin:0 auto; display:block" src="http://mam.tn.com.ar/eurocopa/index.html" seamless="seamless" width="950" height="682"></iframe>