---
project: 'todapasion-gamecast'
extracss: gamecast
title: 'Estadísticas de todos los partidos | Toda Pasión | Todo Noticias'
description: 'Resultados, posiciones, incidencias de todos los partidos de Primera A, B Nacional, Liga de España, Liga de Italia, Liga de Inglaterra, Eliminatorias'
twitter: 'Estoy mirando los partidos en vivo en'
via: 'todapasion'
certifica_path: "TN/secciones/deportes/ficha"
certifica_desc: "TN Deportes Ficha"
script: gamecast
back: false
---
<!-- 
<section class="title">
    <hgroup class="clearfix">
      <h1 class="size-7">Especial Euro 2012</h1>
      <h2><p>Agenda, resultados, goles, partidos en vivo y todas las estadísticas de la Euro 2012.</p></h2>
    </hgroup>
</section>
 -->

<div id="gamecast">

	<div id="widget-futbol" class="widget">
		<div class="title">
			<h2>Primera A</h2>
			<div class="fecha">Fecha 4</div>
		</div>
		<div id="minuto">Finalizado</div>
		<div id="contrincantes" class="clearfix">
			<div class="equipo equipo-a">
				<div class="goles">2</div>
				<div class="escudo">
					<a href="http://tn.com.ar/tags/all-boys"><img width="31"
						height="30" id="png32a" class="allboys" target="_blank"
						src="http://stats.todapasion.tn.com.ar/images/deportes/668.gif" />All
						Boys</a>
				</div>
			</div>
			<div class="equipo equipo-b">
				<div class="goles">2</div>
				<div class="escudo">
					<a href="http://tn.com.ar/tags/tigre"><img width="31"
						height="30" id="png32b" class="tigre" target="_blank"
						src="http://stats.todapasion.tn.com.ar/images/deportes/136.gif" />Tigre</a>
				</div>
			</div>
		</div>
		<div id="estadisticas">
			<h3>Goles</h3>
			<div class="estadistica" id="goles">
				<table>
					<tr>
						<td><span class="alignleft">10' PT</span> <a target="_blank"
							href="http://tn.com.ar/trends/Iván Borghello ">Iván Borghello
						</a></td>
						<td class="last-child"><span class="alignright">10' ST</span>
							<a target="_blank"
							href="http://tn.com.ar/trends/Martín S. Galmarini ">Martín S.
								Galmarini </a></td>
					</tr>
					<tr class="last-child">
						<td><span class="alignleft">24' ST</span> <a target="_blank"
							href="http://tn.com.ar/trends/Mauro Matos ">Mauro Matos </a></td>
						<td class="last-child"><span class="alignright">45' ST</span>
							<a target="_blank"
							href="http://tn.com.ar/trends/Diego N. Ftacla ">Diego N.
								Ftacla </a></td>
					</tr>
				</table>
			</div>
			<h3>Tarjetas</h3>
			<div class="estadistica" id="tarjetas">
				<table>
					<tr>
						<td><span class="alignleft"><img class="alignleft"
								width="19" height="16" alt="Tarjeta Amarilla"
								title="Tarjeta Amarilla"
								src="http://stats.todapasion.tn.com.ar/images/tarjeta-amarilla.png" />2'
								ST</span> <a target="_blank"
							href="http://tn.com.ar/trends/Martín G. Morel ">Martín G.
								Morel </a></td>
						<td class="last-child"><span class="alignright"><img
								class="alignright" width="19" height="16" alt="Tarjeta Amarilla"
								title="Tarjeta Amarilla"
								src="http://stats.todapasion.tn.com.ar/images/tarjeta-amarilla.png" />19'
								ST</span> <a target="_blank"
							href="http://tn.com.ar/trends/Alejandro Donatti ">Alejandro
								Donatti </a></td>
					</tr>
					<tr>
						<td><span class="alignleft"><img class="alignleft"
								width="19" height="16" alt="Tarjeta Amarilla"
								title="Tarjeta Amarilla"
								src="http://stats.todapasion.tn.com.ar/images/tarjeta-amarilla.png" />21'
								ST</span> <a target="_blank"
							href="http://tn.com.ar/trends/Carlos Soto ">Carlos Soto </a></td>
						<td class="last-child" />
					</tr>
					<tr>
						<td><span class="alignleft"><img class="alignleft"
								width="19" height="16" alt="Tarjeta Amarilla"
								title="Tarjeta Amarilla"
								src="http://stats.todapasion.tn.com.ar/images/tarjeta-amarilla.png" />26'
								ST</span> <a target="_blank"
							href="http://tn.com.ar/trends/Oscar A. Ahumada ">Oscar A.
								Ahumada </a></td>
						<td class="last-child" />
					</tr>
					<tr>
						<td><span class="alignleft"><img class="alignleft"
								width="19" height="16" alt="Tarjeta Amarilla"
								title="Tarjeta Amarilla"
								src="http://stats.todapasion.tn.com.ar/images/tarjeta-amarilla.png" />26'
								ST</span> <a target="_blank"
							href="http://tn.com.ar/trends/Juan P. Rodríguez ">Juan P.
								Rodríguez </a></td>
						<td class="last-child" />
					</tr>
					<tr class="last-child">
						<td><span class="alignleft"><img class="alignleft"
								width="19" height="16" alt="Tarjeta Amarilla"
								title="Tarjeta Amarilla"
								src="http://stats.todapasion.tn.com.ar/images/tarjeta-amarilla.png" />31'
								ST</span> <a target="_blank"
							href="http://tn.com.ar/trends/Emmanuel Perea ">Emmanuel Perea
						</a></td>
						<td class="last-child" />
					</tr>
				</table>
			</div>
			<h3>Cambios</h3>
			<div class="estadistica" id="cambios">
				<table>
					<tr>
						<td><span class="alignleft">31' ST</span>
						<div class="alignleft">
								<p class="out">
									<a target="_blank"
										href="http://tn.com.ar/trends/Martín G. Morel">Martín G.
										Morel</a>
								</p>
								<p class="in">
									<a target="_blank"
										href="http://tn.com.ar/trends/Patricio D. Toranzo">Patricio
										D. Toranzo</a>
								</p>
							</div></td>
						<td class="last-child"><span class="alignright">25' ST</span>
						<div class="alignright">
								<p class="out">
									<a target="_blank"
										href="http://tn.com.ar/trends/Matías Pérez García">Matías
										Pérez García</a>
								</p>
								<p class="in">
									<a target="_blank"
										href="http://tn.com.ar/trends/Rubén A. Botta">Rubén A.
										Botta</a>
								</p>
							</div></td>
					</tr>
					<tr>
						<td><span class="alignleft">31' ST</span>
						<div class="alignleft">
								<p class="out">
									<a target="_blank"
										href="http://tn.com.ar/trends/Iván Borghello">Iván
										Borghello</a>
								</p>
								<p class="in">
									<a target="_blank" href="http://tn.com.ar/trends/Ángel Vildozo">Ángel
										Vildozo</a>
								</p>
							</div></td>
						<td class="last-child"><span class="alignright">25' ST</span>
						<div class="alignright">
								<p class="out">
									<a target="_blank"
										href="http://tn.com.ar/trends/Ezequiel C. Maggiolo">Ezequiel
										C. Maggiolo</a>
								</p>
								<p class="in">
									<a target="_blank"
										href="http://tn.com.ar/trends/Agustín Torassa">Agustín
										Torassa</a>
								</p>
							</div></td>
					</tr>
					<tr class="last-child">
						<td />
						<td class="last-child"><span class="alignright">37' ST</span>
						<div class="alignright">
								<p class="out">
									<a target="_blank"
										href="http://tn.com.ar/trends/Diego Ferreira">Diego
										Ferreira</a>
								</p>
								<p class="in">
									<a target="_blank"
										href="http://tn.com.ar/trends/Matías L. Escobar">Matías L.
										Escobar</a>
								</p>
							</div></td>
					</tr>
				</table>
			</div>
			<h3>Alineaciones</h3>
			<div class="estadistica clearfix">
				<table class="equipo" id="equipo-a">
					<thead>
						<tr>
							<th class="numero">Nro.</th>
							<th class="jugador">Jugador</th>
							<th class="posicion last-child">Posici&oacute;n</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Nicolás Cambiasso">Nicolás
									Cambiasso</a></td>
							<td class="last-child">Arquero</td>
						</tr>
						<tr>
							<td>4</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Hernán Gustavo Grana">Hernán
									G. Grana</a></td>
							<td class="last-child">Defensor</td>
						</tr>
						<tr>
							<td>18</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Matias Emanuel Lequi">Matias
									E. Lequi</a></td>
							<td class="last-child">Defensor</td>
						</tr>
						<tr>
							<td>33</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Facundo Quiroga">Facundo
									Quiroga</a></td>
							<td class="last-child">Defensor</td>
						</tr>
						<tr>
							<td>6</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Carlos Soto">Carlos Soto</a></td>
							<td class="last-child">Defensor</td>
						</tr>
						<tr>
							<td>14</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Oscar Adrián Ahumada">Oscar A.
									Ahumada</a></td>
							<td class="last-child">Volante</td>
						</tr>
						<tr>
							<td>10</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Martín Gerardo Morel">Martín
									G. Morel</a></td>
							<td class="last-child">Volante</td>
						</tr>
						<tr>
							<td>11</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Emmanuel Perea">Emmanuel Perea</a></td>
							<td class="last-child">Volante</td>
						</tr>
						<tr>
							<td>22</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Juan Pablo Rodríguez">Juan P.
									Rodríguez</a></td>
							<td class="last-child">Volante</td>
						</tr>
						<tr>
							<td>7</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Iván Borghello">Iván Borghello</a></td>
							<td class="last-child">Delantero</td>
						</tr>
						<tr class="last-child">
							<td>9</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Mauro Matos">Mauro Matos</a></td>
							<td class="last-child">Delantero</td>
						</tr>
					</tbody>
				</table>
				<table class="equipo" id="equipo-b">
					<thead>
						<tr>
							<th class="posicion first-child">Posici&oacute;n</th>
							<th class="jugador">Jugador</th>
							<th class="numero">Nro.</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="first-child">Arquero</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Javier Hernán García">Javier
									H. García</a></td>
							<td>1</td>
						</tr>
						<tr>
							<td class="first-child">Defensor</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Alejandro Donatti">Alejandro
									Donatti</a></td>
							<td>2</td>
						</tr>
						<tr>
							<td class="first-child">Defensor</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Mariano Echeverría">Mariano
									Echeverría</a></td>
							<td>21</td>
						</tr>
						<tr>
							<td class="first-child">Defensor</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Lucas Alfonso Orban">Lucas A.
									Orban</a></td>
							<td>22</td>
						</tr>
						<tr>
							<td class="first-child">Volante</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Diego Rafael Castaño">Diego R.
									Castaño</a></td>
							<td>5</td>
						</tr>
						<tr>
							<td class="first-child">Volante</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Gastón Ángel Díaz">Gastón Á.
									Díaz</a></td>
							<td>15</td>
						</tr>
						<tr>
							<td class="first-child">Volante</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Diego Ferreira">Diego Ferreira</a></td>
							<td>4</td>
						</tr>
						<tr>
							<td class="first-child">Volante</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Martín Sebastián Galmarini">Martín
									S. Galmarini</a></td>
							<td>8</td>
						</tr>
						<tr>
							<td class="first-child">Volante</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Matías Pérez García">Matías
									Pérez García</a></td>
							<td>10</td>
						</tr>
						<tr>
							<td class="first-child">Delantero</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Diego Nadir Ftacla">Diego N.
									Ftacla</a></td>
							<td>16</td>
						</tr>
						<tr class="last-child">
							<td class="first-child">Delantero</td>
							<td><a target="_blank"
								href="http://tn.com.ar/trends/Ezequiel Carlos Maggiolo">Ezequiel
									C. Maggiolo</a>#datafactory {display: block;width: 279px;height: 50px;margin: 5px auto;}</td>
							<td>9</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3>Director T&eacute;cnico</h3>
			<div id="dt" class="clearfix estadistica">
				<div class="alignleft">
					<span>DT</span> <a target="_blank"
						href="http://tn.com.ar/trends/José Santos Romero">José S.
						Romero</a>
				</div>
				<div class="alignright">
					<span>DT</span> <a target="_blank"
						href="http://tn.com.ar/trends/Rodolfo Martín Arruabarrena">Rodolfo
						M. Arruabarrena</a>
				</div>
			</div>
			<h3>Suplentes</h3>
			<div class="estadistica clearfix">
				<table class="suplente" id="suplente-a">
					<tr>
						<td class="numero">32</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Bernardo Leyenda">Bernardo
								Leyenda</a></td>
						<td class="posicion last-child">Arquero</td>
					</tr>
					<tr>
						<td class="numero">23</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Maximiliano Coronel">Maximiliano
								Coronel</a></td>
						<td class="posicion last-child">Defensor</td>
					</tr>
					<tr>
						<td class="numero">26</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Jonathan Ferrari">Jonathan
								Ferrari</a></td>
						<td class="posicion last-child">Defensor</td>
					</tr>
					<tr>
						<td class="numero">25</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Elvio Leonel Fredrich">Elvio L.
								Fredrich</a></td>
						<td class="posicion last-child">Volante</td>
					</tr>
					<tr>
						<td class="numero">8</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Fernando Sánchez">Fernando
								Sánchez</a></td>
						<td class="posicion last-child">Volante</td>
					</tr>
					<tr>
						<td class="numero">20</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Patricio Daniel Toranzo">Patricio
								D. Toranzo</a></td>
						<td class="posicion last-child">Volante</td>
					</tr>
					<tr class="last-child">
						<td class="numero">17</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Ángel Vildozo">Ángel Vildozo</a></td>
						<td class="posicion last-child">Delantero</td>
					</tr>
				</table>
				<table class="suplente" id="suplente-b">
					<tr>
						<td class="posicion first-child">Arquero</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Agustín Sebastián Cousillas">Agustín
								S. Cousillas</a></td>
						<td class="numero">12</td>
					</tr>
					<tr>
						<td class="posicion first-child">Defensor</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Javier Hernán Malagueño">Javier
								H. Malagueño</a></td>
						<td class="numero">3</td>
					</tr>
					<tr>#datafactory {display: block;width: 279px;height: 50px;margin: 5px auto;}
						<td class="posicion first-child">Volante</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Nelson Javier Carrasco">Nelson
								J. Carrasco</a></td>
						<td class="numero">25</td>
					</tr>
					<tr>
						<td class="posicion first-child">Volante</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Matías Leonardo Escobar">Matías
								L. Escobar</a></td>
						<td class="numero">20</td>
					</tr>
					<tr>
						<td class="posicion first-child">Volante</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Emmanuel Pío">Emmanuel Pío</a></td>
						<td class="numero">17</td>
					</tr>
					<tr>
						<td class="posicion first-child">Delantero</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Rubén Alejandro Botta">Rubén A.
								Botta</a></td>
						<td class="numero">19</td>
					</tr>
					<tr class="last-child">
						<td class="posicion first-child">Delantero</td>
						<td><a target="_blank"
							href="http://tn.com.ar/trends/Agustín Torassa">Agustín
								Torassa</a></td>
						<td class="numero">7</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>

<a href="http://datafactory.la" target="blank" rel="nofollow" id="datafactory"><img src="images/datafactory.gif" alt="DataFactory" title="DataFactory" width="279" height="50"></a>

<div class="fb-live-stream" data-event-app-id="346699902992" data-width="620" data-height="500" data-xid="TN_GAMECAST" data-via-url="http://www.tn.com.ar" data-always-post-to-friends="false"></div>