---
title: Especial 40 años de la muerte de Tanguito | Música La Viola | Todo Noticias
description: Te presentamos un especial con testimonios nunca antes publicados, los mejores videos y toda la música que dejó Tanguito a 40 años de su muerte.
keywords: Tanguito, La Viola, Especiales La Viola, Muerte de Tanguito, Especial La Viola Tanguito
twitter: "Se viene el especial de La Viola sobre los 40 años de la muerte de Tanguito"
project: viola
certifica_path: "TN/musica/tanguito"
certifica_desc: "Especial La Viola Tanguito"
---
<section class="title">
    <hgroup class="clearfix">
      <h1 class="size-7">Los exclusivos de La Viola</h1>
      <h2><p>Te presentamos el nuevo video de Tony Bennett, "How do you keep the music playing".</p></h2>
    </hgroup>
</section>

<iframe class="video" width="853" height="480" src="http://www.youtube.com/embed/kHRf01Gjosk" frameborder="0" allowfullscreen></iframe>