<section role="banner" class="jjoo-banner">
  <a target="_blank" href="http://tn.com.ar/londres-2012" title="Especial Juegos Olímpicos"><img src="<%= assets_url %>images/banner-olimpiadas.jpg" width="950" height="50" alt="Especial Juegos Olímpicos" title="Especial Juegos Olímpicos" /></a>
</section>