<section class="banner">
<div class="content">
  <iframe class="async-iframe" src="about:blank" data-src="http://www.librocity.com/ld/todonot " height="252" width="300" frameborder="0" scrolling="no"></iframe>
</div>
</section>
