  <div role="banner" id="movistar-ad">
    <hgroup>
      <h2>Chequeá el tránsito en tu celular</h2>
      <h3>Lláma al <b>*99399</b> desde tu celular y escuchá la información del tránsito</h3>
    </hgroup>
    <!-- <a href="#" class="logo" title="movistar">Movistar</a> -->
    <h4>Datos sobre:</h4>
    <table>
      <tr>
        <td class="first">Acceso Norte, Gral. Paz. Lugones, Cantilo o Autopista Illia.</td>
        <td>Acceso Oeste, Autopista Perito Moreno o Autopista 25 de Mayo.</td>
        <td>Autopista Ezeiza-Cañuelas, Autopista Richieri, Autopista Dellepiane o Autopista 25 de Mayo</td>
        <td>Puentes de acceso a la Ciudad de Buenos Aires.</td>
        <td class="last">Avenidas de la Ciudad de Buenos Aires.</td>
      </tr>
    </table>
    <div class="legal"><span>Servicio de lunes a viernes de 8 a 20Hs. Movistar, Claro, Personal: $0,95 final. Nextel: $1,25 final. ~ <a href="#">Condiciones Legales</a></span></div>
  </div>