<section class="banner">
  <div class="content content-neg">
    <iframe class="async-iframe" src="about:blank" data-src="http://publicidades.cmd.com.ar/tn/contenido-tn-publicidad.html" height="252" width="300" frameborder="0" scrolling="no"></iframe>
  </div>
</section>

