      <% if (@item[:sidead] == true) %>
        <div class="scrapper ad-left">
          <div style="width: 120px; height: 600px;" id="Skyx120x600IZQ"></div>
        </div>
        <div class="scrapper ad-right">
          <div style="width: 120px; height: 600px;" id="Skyx120x600DER"></div>
        </div>
      <% end %>