<div id="ad-transito">
	¡Llevá TN con vos! El <a href="http://m.tn.com.ar/transito-mobile">estado del tránsito</a>, los <a href="http://m.tn.com.ar/transito-mobile/accesos">accesos</a>, <a href="http://m.tn.com.ar/transito-mobile/subtes">subtes</a> y <a href="http://m.tn.com.ar/transito-mobile/trenes">trenes</a> en tu celular. Ingresá <a href="http://m.tn.com.ar/">TN Móvil</a>.
</div>