    <div id="footer-bottom">
        <div class="wrapper"><a id="tnlogo" href="#">TN</a> Copyright 1996 - 2011 ARTEAR. All rights reserved. <a href="#">Contacto</a> | <a href="#">Ayuda</a></div>
    </div>