    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Descubrí TN Móvil | TN.com.ar | Todo Noticias</title>
    <meta name="description" content="Simple y r&amp;aacute;pido: Ingres&amp;aacute; desde el navegador de tu tel&amp;eacute;fono a m.tn.com.ar Todas las noticias y videos, minuto a minuto, al alcance de tu mano desde cualquier dispositivo con acceso a Internet. Adem&amp;aacute;s: Versiones gratis y especialmente optimizadas para iPhone, iPad, Blackberry y Android OS." />
    <meta name="keywords" content="iPad, Android, Wap, Galaxy Tab, Backberry, iPhone" />

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<link rel="stylesheet" href="<%= assets_url %>css/reset.css" type="text/css" />
		<link rel="stylesheet" href="<%= assets_url %>css/style.css" type="text/css" />
		<link rel="stylesheet" href="<%= assets_url %>css/fonts.css" type="text/css" />
		<link rel="stylesheet" href="<%= assets_url %>css/moviles.css" type="text/css" />

    <link rel="dns-prefetch" href="//st0.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st1.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st2.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st3.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//platform.twitter.com/">
    <link rel="dns-prefetch" href="//platform0.twitter.com/">
    <link rel="dns-prefetch" href="//facebook.com/">
    <link rel="dns-prefetch" href="//static.ak.fbcdn.net/">
    <link rel="dns-prefetch" href="//urls.api.twitter.com/">

		<!--[if IE ]>
			<link rel="stylesheet" href="<%= assets_url %>css/ie.css" type="text/css" />
		<![endif]-->
    <script type="text/javascript" charset="utf-8">
      var TN = {}; // define namespace global
      TN.initfuncs = [];
    </script>

		<!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="<%= base_url %>js/libs/head.min.js" type="text/javascript"></script>
    <script src="<%= base_url %>js/libs/lab.min.js" type="text/javascript"></script>
