    <div id="fb-root"></div>

		<!-- Aqui van los tags de cerifica y google analitic, antes que todo javascript -->

    <% if (@site.config[:environment] == 'develop') %>

    <script type="text/javascript" charset="utf-8">
      $LAB.script('<%= assets_url %>js/myhead-moviles-dev.js')
        .wait(function() {
          <% unless @item[:page_javascript].nil? %>
            <%= @item[:page_javascript] %>
          <% end %>
      });
    </script>

    <% else %>
    <script type="text/javascript" charset="utf-8">
/*
      head.js('<%= assets_url %>js/myhead.js',
              function() {
                  <% unless @item[:page_javascript].nil? %>
                    <%= @item[:page_javascript] %>
                  <% end %>
              });
*/
      $LAB.script('<%= assets_url %>js/myhead-moviles.js')
        .wait(function() {
          <% unless @item[:page_javascript].nil? %>
            <%= @item[:page_javascript] %>
          <% end %>
      });
    </script>
    <% end %>

