<section class="comments">
  <header>
    <h3>Comentarios <span>(46)</span>:</h3>
    <a href="">Ver todos los comentarios</a>
  </header>

  <section>

  <% if @item[:unsubscribe] %>
  <div class="unsubs unsubs-top">
    <p>Estás subscripto para seguir las respuestas a esta nota. <a href="#">Con éste link podes desuscribirte</a></p>
  </div>
  <% end %>
  <article class="clearfix first">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <div class="comment-body">
      <div class="meta">
        <h1><a class="user-profile" title="usuario" href="#">Sed consequat</a></h1>
      </div>
      <div class="content">La repu$#$ mad$#" que lo repario!.</div>
      <ul class="respond">
        <li><time>11.01.11 - 10:25</time></li>
        <li class="replys"><a href="#">8 respuestas</a></li>
        <li><a class="reportar" href="#reportar" data-id="id-1">Reportar</a></li>
      </ul>
    </div>
  </article>
  <article class="clearfix">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <div class="comment-body">
      <div class="meta">
        <h1><a class="user-profile" title="usuario" href="#">Sed consequat</a></h1>
      </div>
      <div class="content">Donec ante est, egestas at tristique vitae, posuere nec lectus. Nullam nunc ligula, ultrices at dapibus id, laoreet et risus. Duis tincidunt, ipsum ultricies dapibus condimentum, nisl velit malesuada mi, a commodo purus ipsum sit amet leo. Donec id tempus justo. Nullam at sapien at massa luctus consequat. Nunc semper, mauris ac blandit aliquet, turpis ligula cursus enim, in fringilla purus lorem id magna.</div>
      <ul class="respond">
        <li><time>11.01.11 - 10:25</time></li>
        <li class="replys"><a href="#">8 respuestas</a></li>
        <li><a class="reportar" href="#reportar" data-id="id-2">Reportar</a></li>
      </ul>
    </div>
  </article>
  <article class="clearfix">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <div class="comment-body">
      <div class="meta">
        <h1><a class="user-profile" title="usuario" href="#">Sed consequat</a></h1>
      </div>
      <div class="content">ultrices at dapibus id, laoreet et risus. Duis tincidunt, ipsum ultricies dapibus condimentum, nisl velit malesuada mi, a commodo purus ipsum sit amet leo. Donec id tempus justo. Nullam at sapien at massa luctus consequat. Nunc semper, mauris ac blandit aliquet, turpis ligula cursus enim, in fringilla purus lorem id magna.</div>
      <ul class="respond">
        <li><time>11.01.11 - 10:25</time></li>
        <li class="replys"><a href="#">Responder</a></li>
        <li><a class="reportar" href="#reportar" data-id="id-3">Reportar</a></li>
      </ul>
    </div>
  </article>
  <article class="clearfix">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <div class="comment-body">
      <div class="meta">
        <h1><a class="user-profile" title="usuario" href="#">Sed consequat</a></h1>
      </div>
      <div class="content">Donec ultrices at dapibus id, laoreet et risus. Duis tincidunt, ipsum ultricies dapibus condimentum, nisl velit malesuada mi, a commodo purus ipsum sit amet leo. Donec id tempus justo. Nullam at sapien at massa luctus consequat. Nunc semper, mauris ac blandit aliquet, turpis ligula cursus enim, in fringilla purus lorem id magna.</div>
      <ul class="respond">
        <li><time>11.01.11 - 10:25</time></li>
        <li class="replys"><a href="#">Responder</a></li>
        <li><a class="reportar" href="#reportar" data-id="id-4">Reportar</a></li>
      </ul>
    </div>
  </article>
  <article class="clearfix">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <div class="comment-body">
      <div class="meta">
        <h1><a class="user-profile" title="usuario" href="#">Sed consequat</a></h1>
      </div>
      <div class="content">Donec ante est, egestas at tristique vitae, posuere nec lectus. Nullam nunc ligula, ultrices at dapibus id, laoreet et risus. Duis tincidunt, ipsum ultricies dapibus condimentum, nisl velit malesuada mi, a commodo purus ipsum sit amet leo. Donec id tempus justo. Nullam at sapien at massa luctus consequat. Nunc semper, mauris ac blandit aliquet, turpis ligula cursus enim, in fringilla purus lorem id magna.</div>
      <ul class="respond">
        <li><time>11.01.11 - 10:25</time></li>
        <li class="replys"><a href="#">Responder</a></li>
        <li><a class="reportar" href="#reportar" data-id="id-5">Reportar</a></li>
      </ul>
    </div>
  </article>
  <footer>
    <a href="">Ver todos los comentarios</a>
  </footer>

  <% if @item[:unsubscribe] %>
  <div class="unsubs unsubs-bottom">
    <p>Estás subscripto para seguir las respuestas a esta nota. <a href="#">Con éste link podes desuscribirte</a></p>
  </div>
  <% end %>

  <%= render 'popup-reportar' %>

  </section>

  <% if (@item[:onlytitle]) %>
    <% if (@item[:firstpage]) %>
      <a href="#" class="more rounded">Más comentarios</a>
    <%else %>
      <%= render 'pager', :tag => 'div' %>
    <%end%>
  <% end %>

  <%= render 'nota-interna/login-box' %>

</section>
