  <footer>
<% if (@item[:notloggedin] == true) %>


         <div class="not-logged">
          <h3>Escribir un comentario:</h3>
          <h4>Para escribir un comentario deberás estar logueado</h4>
          <%= render 'nota-interna/login' %>
        </div>
    <% else %>

       <div class="login-box clearfix">
           <div class="content">
             <div class="user">Lorem Ipsum Dolor</div>
             <ul class="actions clearfix">
               <li class="link first"><a href="#" title="">Configurar</a></li>
               <li class="link last"><a href="#" title="">Salir</a></li>
             </ul>
           </div>
           <img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" class="picture avatar avatar48 lzl" />
           <div class="counterbox">
             <p><span id="counter" class="counter">0</span><span> / 300</span></p>
           </div>
       </div>

      <form class="clearfix logged" id="edit-form">
        <textarea id="edit-comment"></textarea>
        <div class="comment-box">
          <%= render 'nota-interna/publish-to' %>
          <% if @item[:unsubscribe] != true %>
          <label class="subscribe-comment" for="subscribe-comment"><input id="subscribe-comment" checked="checked" value="true" type="checkbox" /> Quiero seguir  por email las respuestas a mi comentario</label>
          <% end %>
          <input class="submit rounded" type="submit" value="Enviar" />
        </div>
      </form>



    <% end %>
</footer>
