          <ul class="clearfix not-logged-login">
            <% if (@title != false) %><li class="title">Ingresar con:</li><%end%>
            <li class="link first rounded"><span class="facebook"></span><a href="#" class="fbconnect-tn">Facebook</a></li>
            <li class="link rounded"><span class="twitter"></span><a href="/twitter/redirect" >Twitter</a></li>
            <li class="link rounded"><span class="tn"></span><a href="#">TN</a></li>
          </ul>