<div class="overlay hidden login-reaction">
	<div class="header">
			Conectate
  		<div class="close">Cerrar</div>
  </div>
  <div class="content">
	  <h2>Lorem ipsum dolor sit!</h2>
	  <p>Participá con</p>
		<%= render 'nota-interna/login', :title=>false %>
	  <p>¿No sos usuario todavía? <a href="#">Registrate</a></p>
  </div>
</div>
