<article id="new" class="hnews hentry item note" data-node="1234">
  <header>
    <h1><a href="#" class="url entry-title">Brasil prometió abrir más sus mercados a la Argentina, pero con tres lineas no se que pasa</a></h1>
    <% if (@item[:opinion] == true) %>

      <% if (@item[:avatar] == true) %>
				<div id="meta-author" class="avatar">
					<img width="93" height="52" src="<%= base_url %>images/meta-author.jpg" alt="Joaquin Morales Sola"  />
					<div class="content">
						<div class="author vcard">Por <a href="#">Juan Morales Sola</a></div>
						<time datetime="2009-11-13T20:00-03:00" pubdate="pubdate"><span class="updated" title="2009-11-13T20:00-03:00">Martes 11 de Marzo del 2011 <span>| 20:00</span></span></time>
					</div>
					<% if (select_proyect == 'site-tp')%>
					<div class="comunidad-tp">Comunidad Toda Pasión</div>
					<% end %>
				</div>
	    <% else %>
	      <div id="meta-author" class="no-avatar">
	        <div class="author vcard">por <a href="#">Juan Morales Sola</a></div>
	        <time datetime="2009-11-13T20:00-03:00" pubdate="pubdate"><span class="updated" title="2009-11-13T20:00-03:00">Martes 11 de Marzo del 2011 <span>| 20:00</span></span></time>
	      </div>
	    <% end %>

    <% else %>
      <div class="drop-line">
        <p>Vel ligula. Nam venenatis neque quis mauris. Proin felis. Cum sociis natoque <i>penatibus et magnis dis parturient montes</i>, nascetur ridiculus mus. Aliquam quam. Nam felis velit, semper nec,
            aliquam nec, <a href="#">iaculis vel, mi</a>. Nullam et augue vitae nunc tristique vehicula.  Suspendisse eget elit. Duis <a href="#">#adipiscing</a> dui non quam.</p>
      </div>
      <time datetime="2009-11-13T20:00-03:00" pubdate="pubdate"><span class="updated" title="2009-11-13T20:00-03:00">Martes 11 de Marzo del 2011 <span>| 20:00</span></span></time>
      <a class="admovilink" href="http://m.tn.com.ar" target="_blank">Leé esta nota en tu celular</a>
    <% end %>

    <%= render 'share/share-nota' %>
  </header>

  <% if (@item[:onlytitle] != true) %>
  <% case @item[:media]
    when 'photo' %>
		  <figure class="hmedia">
		            <a class="play play-photo url cplayer" data-json='{
		                    "items": [
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi1.jpg",
		                            "width": 600,
		                            "height": 338,
		                            "caption": "Lionel Messi"
		                        },
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi2.jpg",
		                            "width": 600,
		                            "height": 338,
		                            "caption": "La topadora"
		                        },
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi3.jpg",
		                            "width": 600,
		                            "height": 338,
		                            "caption": "<a href=\"http://google.com\">Google</a>"
		                        },
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi4.jpg",
		                            "width": 600,
		                            "height": 338
		                        }
		                    ]
		                }' data-op='{"fx": "cover", "node": ".hmedia", "hideCarControls": true}'>Play</a>
		      <img class="photo" alt="" src="<%= assets_url %>images/data/nota-interna-1.jpg" width="600" height="338" />

		    <figcaption><span class="fn" href="#" title="">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
		  </figure>

    <% when 'video' %>

	  <figure class="hmedia">
	     <a class="play play-video url dplayer" data-player='{"file":"http://contenidos2.tn.com.ar/2011/04/26/abdos.mp4", "width":600,"height":338,"image":"<%= assets_url %>images/data/nota-interna-1.jpg"}' data-op='{"node":"figure","caption":"Título de la nota en el player","force":true}'>Play</a>

	    <img class="photo lzl" alt="" src="<%= base_url %>images/watermark-600x338.png" data-src="<%= assets_url %>images/data/nota-interna-1.jpg" width="600" height="338" />
	    <figcaption><span class="fn">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
	  </figure>

    <% when 'audio' %>

    <figure class="hmedia">
       <a class="play play-video url dplayer" data-player='{"file": "http://contenidos2.tn.com.ar/2012/09/03/peralta-modelo.mp3","width": 600,"height": 338,"image": "<%= assets_url %>images/data/nota-interna-1.jpg"}' data-op='{"node":"figure","caption": "Título de la nota en el player", "force":true}'>Play</a>
        <img class="photo lzl" alt="" src="<%= base_url %>images/watermark-600x338.png" data-src="<%= assets_url %>images/data/nota-interna-1.jpg" width="600" height="338" />
      <figcaption><span class="fn">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
    </figure>

  <% when 'album' %>
      
      <figure class="hmedia big-gallery">
                <a class="play play-photo url cplayer" data-json='{
                        "items": [
                            {
                                "media_type": "image",
                                "url": "http://tn.com.ar/londres-2012/images/headquarters/bmx-track-1.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "Lionel Messi"
                            },
                            {
                                "media_type": "image",
                                "url": "http://tn.com.ar/londres-2012/images/headquarters/bmx-track-2.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "Bicis"
                            },
                            {
                                "media_type": "image",
                                "url": "http://tn.com.ar/londres-2012/images/headquarters/bmx-track-3.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "Google"
                            },
                            {
                                "media_type": "image",
                                "url": "http://tn.com.ar/londres-2012/images/headquarters/velodromo-2.jpg",
                                "width": 950,
                                "height": 534
                            }
                        ]
                    }' data-op='{"fx": "cover", "node": ".hmedia", "hideCarControls": true}'>Play</a>
          <img class="photo" alt="" src="http://tn.com.ar/londres-2012/images/headquarters/bmx-track-1.jpg" width="950" height="534" />

        <figcaption><span class="fn" href="#" title="">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
      </figure>
      
  <% else %>
	  <figure class="hmedia">
	    <img class="photo lzl" alt="" src="<%= base_url %>images/watermark-600x338.png" data-src="<%= assets_url %>images/data/nota-interna-1.jpg" width="600" height="338" />
	    <figcaption><span class="fn">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
	  </figure>
  <% end %>

  <% if (@item[:media] != 'album') %>
  <div class="content">
    <% if (@poll != nil) %>
    <div class="poll-widget <% if (@poll == 'closed') %>poll-closed<%end%>" data-poll="<%= @poll %>">
      <h3>¿Vivamus elementum semper nisi aenean vulputate eleifend tellus?</h3>
      <div class="content">
        <% if (@poll != 'closed') %>
        <span class="loading"></span>
	      <form action="<%= base_url %>vote/vote.html" method="post" class="form-container">
	        <ul>
	          <li><label for="item-1"><input id="item-1" type="radio" value="1" name="check" />Nam quan nunc</label></li>
	          <li><label for="item-2"><input id="item-2" type="radio" value="2" name="check" />Blandit vel luctus pulvinar</label></li>
	          <li><label for="item-3"><input id="item-3" type="radio" value="3" name="check" />Hendrerit id, lorem</label></li>
	          <li><label for="item-4"><input id="item-4" type="radio" value="4" name="check" />Maecenas nec odio et ante tincidunt tempus</label></li>
	        </ul>
	        <input class="more submit rounded" type="submit" value="Votar" />
	      </form>
        <% end %>
	      <div class="result-container">
	        <ul>
	          <li>
	            <div class="title">Nam quan nunc 60% (1234)</div>
	            <div class="result"><span style="width:60%"></span></div>
	          </li>
	          <li>
	            <div class="title">Blandit vel luctus pulvinar 20% (123)</div>
	            <div class="result"><span style="width:20%"></span></div>
	          </li>
	          <li>
	            <div class="title">Hendrerit id, lorem 15% (12)</div>
	            <div class="result"><span style="width:15%"></span></div>
	          </li>
	          <li>
	            <div class="title">Maecenas nec odio et ante tincidunt tempusc 5% (1)</div>
	            <div class="result"><span style="width:5%"></span></div>
	          </li>
	        </ul>
          <div class="tw"><div class="twitter-share-button" data-src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=EL%20TITULO%20DE%20LA%20ENCUESTA%20%5B%5B%5D%5D&url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&via=todonoticias" data-width="120" data-height="22"></div></div>
	        <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": true, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://labs.pressbox.com.ar/holaasss.html"}'></div>
	      </div>

      </div>
    </div>
    <% end %>

    <div class="entry-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <em>Donec ante est</em>, egestas at tristique vitae, posuere nec lectus. Nullam nunc ligula, ultrices at dapibus id, laoreet et risus. Duis tincidunt, ipsum ultricies dapibus condimentum, nisl velit malesuada mi, a <strong>commodo purus ipsum sit amet leo</strong>. Donec id tempus justo. Nullam at sapien at massa luctus consequat.</p>
      <p>Nunc semper, <a href="#">mauris ac blandit aliquet</a>, turpis ligula cursus enim, <strong>in fringilla purus lorem id magna</strong>. Pellentesque a justo in massa ultricies luctus. Aliquam varius bibendum velit eu imperdiet. Aliquam metus ligula, bibendum ac porta congue, vestibulum vel quam. <em>Pellentesque massa ante</em>, dapibus eu volutpat non, posuere vitae justo.</p>
      <p>Sed consectetur, felis eget consectetur condimentum, nisi quam aliquet turpis, nec bibendum eros eros in nisi. Sed vestibulum, massa in faucibus lacinia, ipsum turpis tincidunt elit, in <a href="#">vestibulum</a> magna tortor quis lectus. Nam dapibus vestibulum felis pretium feugiat. Duis sem mi, viverra vulputate eleifend eu, <a href="#">@venenatis</a> eget eros. Pellentesque id diam ipsum, non dapibus felis.</p>
      <p><img width="700" height="466" alt="" src="http://blog.cochesalaventa.com/_fotos2/2011/06/24/aston-martin-v12-zagato-vuelve-para-el-enfrentamiento-final-en-el-circuito-de-n-rburgring--w---video-98.jpg"></p>
      <p>Sed consectetur, felis eget consectetur condimentum, nisi quam aliquet turpis, nec bibendum eros eros in nisi. Sed vestibulum, massa in faucibus lacinia, ipsum turpis tincidunt elit, in <a href="#">vestibulum</a> magna tortor quis lectus. Nam dapibus vestibulum felis pretium feugiat. Duis sem mi, viverra vulputate eleifend eu, <a href="#">@venenatis</a> eget eros. Pellentesque id diam ipsum, non dapibus felis.</p>
      <p><iframe allowfullscreen="" src="http://www.youtube.com/embed/OgDtnaXHOYQ?wmode=transparent" width="600" frameborder="0" height="338"></iframe></p>
    </div>
  </div>
  <% end %>
  <div class="tag-list">
    <span>Leer más:</span> <h2><a href="#" rel="tag">Brasil</a></h2>, <h2><a href="#" rel="tag">Dilma Rousseff</a></h2>, <h2><a href="#" rel="tag">Comercio Exterior</a></h2>, <h2><a href="#" rel="tag">Lorem</a></h2>, <h2><a href="#" rel="tag">Ipsum</a></h2>, <h2><a href="#" rel="tag">dolor</a></h2>, <h2><a href="#" rel="tag">sit</a></h2>, <h2><a href="#" rel="tag">amet</a></h2>, <h2><a href="#" rel="tag">America Latina</a></h2>, <h2><a href="#" rel="tag">Mercosur</a></h2>, <h2><a href="#" rel="tag">Petroleo</a></h2>, <h2><a href="#" rel="tag">Pesca</a></h2>, <h2><a href="#" rel="tag">Gobierno</a></h2>,
    <h2><a href="#" rel="tag">Lorem Ipsum</a></h2>, <h2><a href="#" rel="tag">Dolor Sit amet</a></h2>, <h2><a href="#" rel="tag">Argentina</a></h2>, <h2><a href="#" rel="tag">Chile</a></h2>
  </div>
  <%#= render 'nota-interna/qrcode' %>

  <footer>
  	<div class="hidden">
          <div class="author vcard"><span class="fn">Autor de la nota</span></div>
          <div class="source-org vcard"><span class="org fn">Todo Noticias</span></div>
  	</div>

    <%= render 'share/share-nota' %>
  </footer>
  <%end%>
  <%= render 'popup-enviar' %>
</article>
