          <ul id="publish-to" class="clearfix">
            <li class="title">Publicar también en:</li>
            <li class="link facebook <% if (@item[:fbdisabled] == true) %>disabled<% end %>"><label for="item-5"><span></span><input id="item-5" type="checkbox" value="" />Facebook</label></li>
            <li class="link twitter <% if (@item[:twdisabled] == true) %>disabled<% end %>"><label for="item-6"><span></span><input id="item-6" type="checkbox" value="" />Twitter</label></li>
            <% if (@item[:fbdisabled] == true) %>
            <div id="tooltip-facebook" class="tooltip">Debes sincronizar tu cuenta de Facebook desde tu <a href="#">perfil</a></div>
            <% end %>
            <% if (@item[:twdisabled] == true) %>
            <div id="tooltip-twitter" class="tooltip">Debes sincronizar tu cuenta de Twitter desde tu <a href="#">perfil</a></div>
            <% end %>
          </ul>