  <div class="qrcode clearfix">
    <span class="title">Llevá la nota con vos:</span>
    <img class="qrimg" src="https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=http://tn.com.ar/" width="100" height="100" alt="Titulo de la nota"/>
  </div>
