<section id="reactions-wrap" class="reactions comments">
  <header>
    <h3 class="title">Resonancia en Twitter</h3>
  </header>

  <section id="reactions">
  </section>
  
  <a href="#mas-reacciones" class="more rounded" id="more-reactions" rel="1">Ver más</a>

</section>
