<section class="related clearfix">
  <header>
    <h2 class="title">Más sobre: <a href="#">Dilma Rousseff</a></h2>
  </header>

  <div class="grid3 clearfix">

  <%= render 'river-news/grid-article', :item => 1, :media=>'header', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 2, :media=>'gallery', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 3, :media=>'photo', :grid=>3, :title=>Texts.title %>
  
  <%= render 'river-news/grid-article', :item => 1, :media=>'video', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 2, :media=>'header', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 3, :media=>'photo', :grid=>3, :title=>Texts.title %>

  <%= render 'river-news/grid-article', :item => 1, :media=>'video', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 2, :media=>'gallery', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 3, :media=>'photo', :grid=>3, :title=>Texts.title %>
<!--   
  <article class="hnews hentry item item-1 has-picture">
    <figure class="hmedia">
      <a href="#" class="url">
        <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-193x109.png" data-src="<%= assets_url %>images/data/grid-2.jpg" width="193" height="109" />
        <span class="bg"></span>
      </a>
      <figcaption><h2><a class="url fn entry-title" href="" title="">Lorem ipsum dolor sit amet, consectetuer adipiscing</a></h2></figcaption>
    </figure>
    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:03</time>
    </footer>
  </article>

  <article class="hnews hentry item item-2 has-picture">
    <figure class="hmedia">
      <a href="#" class="play play-photo">Play</a>
      <a href="#" class="url">
        <img class="player lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-193x109.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="193" height="109" />
        <span class="bg"></span>
      </a>
      <figcaption><h2><a class="url fn entry-title" href="" title="">Lorem ipsum dolor sit</a></h2></figcaption>
    </figure>
    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:03</time>
    </footer>
  </article>

  <article class="hnews hentry item item-3 no-picture no-content">
    <h2><a href="#" class="entry-title url" >Maecenas tempus, tellus eget condimentum rhoncus sem quam</a></h2>
    <footer>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:00</time>
      <div class="num-comments">329<span></span></div>
      <div class="views">957<span></span></div>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
    </footer>
  </article>

  <article class="hnews hentry item item-1 has-picture">
    <figure class="hmedia">
      <a href="#" class="url">
        <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-193x109.png" data-src="<%= assets_url %>images/data/grid-1.jpg" width="193" height="109" />
        <span class="bg"></span>
      </a>
      <figcaption><h2><a class="url fn entry-title" href="" title="">Lorem ipsum dolor sit amet</a></h2></figcaption>
    </figure>
    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:03</time>
    </footer>
  </article>

  <article class="hnews hentry item no-picture no-content item-2">
    <h2><a href="#" class="entry-title url" >Maecenas tempus, tellus eget condimentum rhoncus sem quam di dkfjdkj idif djfidifidjf idfjdijfdi fjidfjidfjidj fjidfjidfj difjd fidjf dffj</a></h2>
    <footer>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:00</time>
      <div class="num-comments">329<span></span></div>
      <div class="views">957<span></span></div>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
    </footer>
  </article>

  <article class="hnews hentry item has-picture item-3">
    <figure class="hmedia">
      <a href="#" class="play play-photo">Play</a>
      <a href="#" class="url">
        <img class="player lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-193x109.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="193" height="109" />
        <span class="bg"></span>
      </a>
      <figcaption><h2><a class="url fn entry-title" href="" title="">Lorem ipsum dolor sit</a></h2></figcaption>
    </figure>
    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:03</time>
    </footer>
  </article>

  <article class="hnews hentry item has-picture item-1">
    <figure class="hmedia">
      <a href="#" class="play  play-video">Play</a>
      <a href="#" class="url">
        <img class="player lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-193x109.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="193" height="109" />
        <span class="bg"></span>
      </a>
      <figcaption><h2><a class="url fn entry-title" href="" title="">Lorem ipsum dolor sit</a></h2></figcaption>
    </figure>
    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:03</time>
    </footer>
  </article>

  <article class="hnews hentry item has-picture item-2">
    <figure class="hmedia">
      <a href="#" class="play  play-photo">Play</a>
      <a href="#" class="url">
        <img class="player lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-193x109.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="193" height="109" />
      </a>
      <figcaption><h2><a class="url fn entry-title" href="" title="">Lorem ipsum dolor sit</a></h2></figcaption>
    </figure>
    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:03</time>
    </footer>
  </article>

  <article class="hnews hentry item has-picture item-3">
    <figure class="hmedia">
      <a href="#" class="play play-video">Play</a>
      <a href="#" class="url">
        <img class="player lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-193x109.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="193" height="109" />
        <span class="bg"></span>
      </a>
      <figcaption><h2><a class="url fn entry-title" href="" title="">Lorem ipsum dolor sit</a></h2></figcaption>
    </figure>
    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
      <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:03</time>
    </footer>
  </article>
   -->
  </div>
<a href="#" class="more rounded">Más noticias</a>
</section>
