<div class="twitter_module">
  <div class="header">
        <form class="search">
      <input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder" />
      <input class="submit" type="submit" value="Buscar" />
    </form>
  </div>
  <div class="content" id="twtsearch" data-search="JPQuake" data-width="593" data-height="1000" >

  </div>

</div><!-- end .twitter-module -->
