            <div class="result-container">
              <ul>
              <li class="me-100 top-answer answer">
                  <div class="text">
                    <div class="middle">
                      <div class="inner">Respuesta con 1 lineas</div>
                    </div>
                  </div>
                  <div class="value"><span class="balloon">100%</span></div>
              </li>
              <li class="me-50 answer">
                  <div class="text">
                    <div class="middle">
                      <div class="inner">Respuesta <br /> con 2 lineas forzadas</div>
                    </div>
                  </div>
                  <div class="value"><span class="balloon">50%</span></div>
              </li>
              <li class="me-10 answer">
                  <div class="text">
                    <div class="middle">
                      <div class="inner">Respuesta a dos lineas, centrado respecto al alto de la banda.</div>
                    </div>
                  </div>
                  <div class="value"><span class="balloon">10%</span></div>
              </li>
              </ul>
              <p>Total de votos: <strong>677</strong></p>
              <a href="#" class="more rounded">Ver otras encuestas</a>            
            </div>