        <div class="result-container">
          <ul>
            <li>
              <div class="title">Nam quan nunc 60% (1234)</div>
              <div class="result"><span style="width:60%"></span></div>
            </li>
            <li>
              <div class="title">Blandit vel luctus pulvinar 20% (123)</div>
              <div class="result"><span style="width:20%"></span></div>
            </li>
            <li>
              <div class="title">Hendrerit id, lorem 15% (12)</div>
              <div class="result"><span style="width:15%"></span></div>
            </li>
            <li>
              <div class="title">Maecenas nec odio et ante tincidunt tempusc 5% (1)</div>
              <div class="result"><span style="width:5%"></span></div>
            </li>
          </ul>
          <div class="tw" style="height: 28px"><div class="twitter-share-button" data-src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=LA%20PREGUNTA%20DE%20LA%20ENCUESTA%20SE%20REPITE%20AQUI&url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&via=todonoticias" data-width="120" data-height="22"></div></div>
          <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": true, "layout":"button_count", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://labs.pressbox.com.ar/holaasss.html"}'></div>
        </div>
