  <div id="descenso-widget-fixture" class="widget widget-fixture">
  
    <div class="header">
      <div class="title">
        <h2>Descenso</h2>
      </div>
    </div>
    
    <div id="posiciones" class="tab clearfix fixW">
      <table id="descenso" class="defineW">
        <thead>
          <tr class="bgTitle">
            <th class="equipo">Equipo</th>
            <th class="thDate">09-10</th>
            <th class="thDateSecond">10-11</th>
            <th class="thDateThree">11-12</th>
            <th class="total">Total</th>
            <th class="pj">Pj</th>
            <th class="prom promo">Prom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /> Velez Sarfield</td>
            <td class="num">31</td>
            <td class="num">31</td>
            <td class="num">1</td>
            <td class="num">434</td>
            <td class="num">1</td>
            <td class="prom num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/san-lorenzo.png" width="19" height="21" />Boca juniors</td>
            <td class="num">31</td>
            <td class="num">31</td>
            <td class="num">1</td>
            <td class="num">434</td>
            <td class="num">1</td>
            <td class="num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/sanmartin.png" width="19" height="21" />River Plate</td>
            <td class="num">11</td>
            <td class="num">11</td>
            <td class="num">1</td>
            <td class="num">145</td>
            <td class="num">1</td>
            <td class="num">1.221</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/unionsantafe.png" width="19" height="21" />Racing Club</td>
            <td class="num">71</td>
            <td class="num">71</td>
            <td class="num">1</td>
            <td class="num">122</td>
            <td class="num">1</td>
            <td class="num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/velez.png" width="19" height="21" />Independiente</td>
            <td class="num">31</td>
            <td class="num">31</td>
            <td class="num">1</td>
            <td class="num">122</td>
            <td class="num">1</td>
            <td class="num">3.000</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/allboys.png" width="19" height="21" />Velez Sarfield</td>
            <td class="num">31</td>
            <td class="num">31</td>
            <td class="num">1</td>
            <td class="num">134</td>
            <td class="num">1</td>
            <td class="num">1.221</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/argentinos.png" width="19" height="21" />Boca Juniors</td>
            <td class="num">21</td>
            <td class="num">21</td>
            <td class="num">1</td>
            <td class="num">535</td>
            <td class="num">1</td>
            <td class="num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" />River Plate</td>
            <td class="num">51</td>
            <td class="num">51</td>
            <td class="num">1</td>
            <td class="num">621</td>
            <td class="num">1</td>
            <td class="num">3.000</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/belgranocba.png" width="19" height="21" />Racing Club</td>
            <td class="num">31</td>
            <td class="num">31</td>
            <td class="num">1</td>
            <td class="num">346</td>
            <td class="num">1</td>
            <td class="num">1.221</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/boca.png" width="19" height="21" />Independiente</td>
            <td class="num">60</td>
            <td class="num">60</td>
            <td class="num">0</td>
            <td class="num">36</td>
            <td class="num">0</td>
            <td class="num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/colon.png" width="19" height="21" />Velez Sarfield</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">12</td>
            <td class="num">0</td>
            <td class="num">3.000</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/velez.png" width="19" height="21" />Boca Juniors</td>
            <td class="num">07</td>
            <td class="num">07</td>
            <td class="num">0</td>
            <td class="num">234</td>
            <td class="num">0</td>
            <td class="num">1.221</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/godoy-cruz.png" width="19" height="21" />River Plate</td>
            <td class="num">20</td>
            <td class="num">20</td>
            <td class="num">0</td>
            <td class="num">124</td>
            <td class="num">0</td>
            <td class="num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/independiente.png" width="19" height="21" />Racing Club</td>
            <td class="num">60</td>
            <td class="num">60</td>
            <td class="num">0</td>
            <td class="num">642</td>
            <td class="num">0</td>
            <td class="num">3.000</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/lanus.png" width="19" height="21" />Independiente</td>
            <td class="num">04</td>
            <td class="num">04</td>
            <td class="num">0</td>
            <td class="num">561</td>
            <td class="num">0</td>
            <td class="num">1.221</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/newell.png" width="19" height="21" />Velez Sarfield</td>
            <td class="num">40</td>
            <td class="num">40</td>
            <td class="num">0</td>
            <td class="num">534</td>
            <td class="num">0</td>
            <td class="num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/quilmes.png" width="19" height="21" />Boca Juniors</td>
            <td class="num">4</td>
            <td class="num">4</td>
            <td class="num">0</td>
            <td class="num">121</td>
            <td class="num">0</td>
            <td class="num">3.000</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/racing.png" width="19" height="21" />River Plate</td>
            <td class="num">40</td>
            <td class="num">40</td>
            <td class="num">0</td>
            <td class="num">123</td>
            <td class="num">0</td>
            <td class="num">1.221</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/atleticorafaela.png" width="19" height="21" />Racing Club</td>
            <td class="num">64</td>
            <td class="num">64</td>
            <td class="num">0</td>
            <td class="num">141</td>
            <td class="num">0</td>
            <td class="num">1.935</td>
          </tr>
          <tr>
            <td class="equipo"><img title="Arsenal" src="<%= base_url %>images/escudos/river.png" width="19" height="21" /> Velez Sarfield</td>
            <td class="num">12</td>
            <td class="num">12</td>
            <td class="num">0</td>
            <td class="num">414</td>
            <td class="num">0</td>
            <td class="num">3.000</td>
          </tr> 
        </tbody>
      </table>

    </div>

  </div>