---
title: MaM
sport: iframe
---

<div class="widget-container">

<section class="wrapper widget-mam">
  
  <header class="status">
    ST 34:22
  </header>

  <div class="content">
    <div class="team team-a">
      <div class="flag"><img src="images/argentina.png" width="30" height="21" /></div>
      <div class="result win">4</div>
      <h2>Argentina</h2>
    </div>
    <div class="team team-b">
      <div class="flag"><img src="images/inglaterra.png" width="30" height="21" /></div>
      <div class="result">3</div>
      <h2>Inglaterra</h2>    
    </div>
  </div>
  
  <footer>
    <a class="" href="#">Ver ficha &raquo;</a>
  </footer>

</section>

</div>