---
title: MaM
sport: iframe
---
  
<div class="widget-container">

<section class="wrapper jjoo-futbol widget-mam">
  
  <header class="status">
    <div class="desc">Rugby Championship 2012</div>
    <div class="status">ST 34:22</div>
  </header>

  <div class="content">
    <div class="team team-a">
      <div class="flag"><img src="images/argentina.png" width="30" height="21" /></div>
      <div class="result win">35</div>
      <h2>Argentina</h2>
    </div>
    <div class="team team-b">
      <div class="flag"><img src="images/inglaterra.png" width="30" height="21" /></div>
      <div class="result">22</div>
      <h2>Inglaterra</h2>    
    </div>
  </div>
  
  <footer>
    <marquee direction="LEFT" behavior="SCROLL" scrollamount="3" scrolldelay="1">&nbsp;gol:&nbsp;’&nbsp;&nbsp;Aymen Toumi &nbsp;
              (TUN)
              ; gol:&nbsp;’&nbsp;&nbsp;Wael Jallouz &nbsp;
              </marquee>
  </footer>

</section>

</div>