---
title: MaM
sport: tenis
---

<div class="widget-container">

<section class="wrapper widget-mam">
  
  <header>
  	<div class="status">34:22</div>
  	<hgroup>
			<h1>Tenis Roland Garros 2011</h1>
			<h2>CABALLEROS.CUARTOS DE FINAL</h2>
		</hgroup>    
  </header>

  <div class="content">
    <div class="team team-a ball">
			<div class="player"><span>D. jose Nalbandian</span></div>
			<div class="game"><span>30</span></div>
			<ul class="set">
				<li class="first">6</li>
				<li>4</li>
				<li>6</li>
				<li>5</li>
				<li class="last">16</li>
			</ul>	    
    </div>
    <div class="team team-b">
			<div class="player"><span>N. Djokovic</span></div>
			<div class="game"><span>15</span></div>
			<ul class="set">
				<li class="first">4</li>
				<li>6</li>
				<li>6</li>
				<li>7</li>
				<li class="last">18</li>
			</ul>	    
    </div>
  </div>
  
</section>

</div>