---
title: Clima
city: true
ad_clima_ribbon: true
---
<section class="weather-main clearfix">

		<section class="weather-block alignleft" id="today">
		  <time class="bg">
		    <strong>Ahora</strong> Martes 10 de Mayo de 2011 | <span class="jclock">11:00</span>
		  </time>

	    <div class="weather-icons">
        <img width="180" height="2210" title="Parcialmente nublado" alt="Parcialmente nublado" src="<%= assets_url %>images/wheather-page-icons.jpg" class="weather-icon-12">
	    </div>

			<div class="content">
		    Parcialmente nublado
		    <div class="content-ideal"><a class="ideal-for" rel="#rcbox_clima0" href="#rcbox" title="">&raquo; Ideal para...</a></div>
		    <div class="reac"></div>
			</div>

			<footer class="clearfix">
				<div class="block first">
			  	<h3>
				    <span class="temp">Temp</span>14.3°
			    </h3>
			    <ul>
					 <li>St: <strong>N/A°</strong></li>
					 <li>H: <strong>86%</strong></li>
					 <li>Presión: <strong>1010.4 hPa</strong></li>
		      </ul>
				</div>

				<div class="block">
		      <div class="max-min">
		        <strong id="max0" class="max">Max 31º</strong>
		        <strong id="min0" class="min">Min 24º</strong>
		      </div>
		      <ul>
					   <li>Visibilidad: <strong>10Km</strong></li>
					   <li>Viento: <strong>5Km</strong></li>
					   <li>Dirección: <strong>Norte</strong></li>
				  </ul>
				</div>
			</footer>
		</section>

	  <section class="weather-block alignright" id="after-days">

			<div class="day first">

				<time class="date item" datetime="05.11.2011"><span>Mar</span>05.11.2011</time>

	      <div class="item weather-icons-small">
	        <img width="100" height="1152" src="<%= assets_url %>images/weather-icons-small.png" class="weather-icon-7"/>
	      </div>

				<div class="item content">
				  <div class="middle">
				    <div class="inner">Neblinas, especialmente en área suburbana. Nubosidad en aumento. Probabilidad de lluvias y chaparrones. Vientos leves del sector norte.</div>
				  </div>
				</div>

	      <div class="item max-min">
	        <strong id="max1" class="max">Max 31º</strong>
	        <strong id="min1" class="min">Min 24º</strong>
	        <div class="content-ideal">
	        <a class="ideal-for" rel="#rcbox_clima1" href="#rcbox" title="">&raquo; Ideal para...</a>
          <div class="reac"></div>
	      </div>

		   </div>
		 </div>

      <div class="day">

        <time class="date item" datetime="06.11.2011"><span>Mar</span>06.11.2011</time>

        <div class="item weather-icons-small">
          <img width="100" height="1152" src="<%= assets_url %>images/weather-icons-small.png" class="weather-icon-26" />
        </div>

        <div class="item content">
          <div class="middle">
            <div class="inner">Cielo parcialmente nublado a nublado. Neblinas. Bancos de niebla en el área suburbana. Probabilidad de lloviznas aisladas y chaparrones. Vientos leves del noreste, rotando al sudeste.</div>
          </div>
        </div>

        <div class="item max-min">
          <strong id="max2" class="max">Max 31º</strong>
          <strong id="min2" class="min">Min 24º</strong>
          <div class="content-ideal">
          <a class="ideal-for" rel="#rcbox_clima2" href="#rcbox" title="">&raquo; Ideal para...</a>
          <div class="reac"></div>
        </div>

       </div>
     </div>

      <div class="day">

        <time class="date item" datetime="07.11.2011"><span>Mar</span>07.11.2011</time>

        <div class="item weather-icons-small">
          <img width="100" height="1152" src="<%= assets_url %>images/weather-icons-small.png" class="weather-icon-night-16" />
        </div>

        <div class="item content">
          <div class="middle">
            <div class="inner">Cielo algo nublado. Vientos leves.</div>
          </div>
        </div>

        <div class="item max-min">
          <strong id="max3" class="max">Max 31º</strong>
          <strong id="min3" class="min">Min 24º</strong>
          <div class="content-ideal">
          <a class="ideal-for" rel="#rcbox_clima3" href="#rcbox" title="">&raquo; Ideal para...</a>
          <div class="reac"></div>
        </div>

       </div>
     </div>

	  </section>
</section>
<%= render 'related' %>
