<header>
  <ul class="head">
    <li><h1><a class="lnk-head active" href="http://tn.com.ar/trends">TN Trends</a></h1></li>
    <li class="sep">|</li>
    <li><h2><a class="lnk-head" href="http://tn.com.ar/trends/videos">Videos</a></h2></li>
    <li class="sep">|</li>
    <li><h2><a class="lnk-head" href="http://tn.com.ar/trends/deportes">Deportes</a></h2></li>
    <li class="sep">|</li>
    <li><h2><a class="lnk-head" href="http://tn.com.ar/trends/musica">Música</a></h2></li>
    <li class="sep">|</li>
    <li><h2><a class="lnk-head" href="http://tn.com.ar/trends/show">Show</a></h2></li>
  </ul>

 <p>
   Los temas de <a href="http://tn.com.ar">TN.com.ar</a> más relevantes para la gente durante los últimos 30 minutos. Los títulos de la Comunidad.
  <%= render 'share/share', :share => 'section', :trends=> true, :twitter => @item[:twitter_text], :via => 'TNTrends' %>
</header>
