<header>
  <ul class="head">
    <li><h1><a class="active" href="">Videos Trends</a></h1></li>
    <li class="sep">|</li>
    <li><h2><a class="lnk-head" href="">Deportes</a></h2></li>
    <li class="sep">|</li>
    <li><h2><a class="lnk-head" href="">Música</a></h2></li>
  </ul>
  <% if @item[:trends_kind] == 'deportes' %>
    <p>Te servimos en tiempo real los videos que son tendencia en <a href="http://youtube.com.ar" target="blank" rel="nofollow">YouTube</a> Argentina sobre Deportes, y los últimos videos publicados en <a href="http://tn.com.ar">TN.com.ar</a>.
      Miralos y compartilos. También podés subir los tuyos a <a href="http://tnylagente.com.ar" target="_blank">TN y la Gente</a>.</p>
  <% elsif @item[:trends_kind] == 'musica' %>
    <p>Te servimos en tiempo real los videos que son tendencia en <a href="http://youtube.com.ar" target="blank" rel="nofollow">YouTube</a> Argentina sobre Música, y los últimos videos publicados en <a href="http://tn.com.ar">TN.com.ar</a>.
      Miralos y compartilos. También podés subir los tuyos a <a href="http://tnylagente.com.ar" target="_blank">TN y la Gente</a>.</p>
  <% else %>
    <p>Te servimos en tiempo real los videos que son tendencia en <a href="http://youtube.com.ar" target="blank" rel="nofollow">YouTube</a> Argentina, y los últimos videos publicados en <a href="http://tn.com.ar">TN.com.ar</a>.</p>
    <p>Miralos y compartilos. También podés subir los tuyos a <a href="http://tnylagente.com.ar" target="_blank">TN y la Gente</a>.</p>
  <% end %>
  <%= render 'share/share', :share => 'section', :trends => true %>
</header>
