
  <div class="wrapper">
    <a id="tnlogo" href="http://tn.com.ar">TN</a>
    <div class="data">
      <p>Copyright 1996 - 2011 ARTEAR. &nbsp;&nbsp;&nbsp;
        <a href="mailto:info@tn.com.ar">Contacto</a> &nbsp;~&nbsp;
        <a href="http://tn.com.ar/terminos-y-condiciones" target="_blank">Términos y Condiciones</a> &nbsp;~&nbsp;
        <a href="http://tn.com.ar/proteccion-de-datos-personales" target="_blank">Protección de Datos Personales</a>
      </p>
      <p>
        <span class="label">Direcci&oacute;n:</span> Lima 1261 ~
        <span class="label">N&uacute;mero de tel&eacute;fono:</span> 4999-0000 ~
        <span class="label">Correo electr&oacute;nico:</span> mensajes@tn.com.ar
      </p>
    </div>
  </div>
