<%

twitter = "El canal de noticias más visto de Argentina."

if (@item[:twitter] != nil)
	twitter = @item[:twitter]
end



%>
<!-- header -->
		<div id="header-top">
			<div class="wrapper">
				<% if ( (@back != false) ) %>
			  <a class="back" href="http://tn.com.ar">&laquo;Volver</a>
			  <% end %>
        <div class="logo">        
          <a id="tn-home" href="http://tn.com.ar">TN</a>
          <span title="El primer canal de noticias de Argentina en HD" class="hd">HD</span>
        </div>
        <%= render 'layout/desktop/share/share-header',
                    :twitter=>[:via=>'todonoticias',
                               :tweet=>twitter,
                               :related=>'todapasion:El sitio de deportes más actualizado de Argentina.'],
                    :facebook=>[:url=>@item[:facebookurl],
                                :cam=>@item[:facebookcam]] %>
			</div>
		</div>
<!-- end header -->
