a {
  cursor: pointer;
  color:#0056c3;
  outline: none;
}

a:hover {
  color: #000;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

#header {
  overflow: visible;
}

#container {
  margin: 20px auto;
}


/* shares */
.fb_send_button_form_widget iframe {
  width: 410px !important;
}

/*
  Forms and content
*/
input[type=text],input[type=password] { /* never, ever, put border here please */
  border: solid 1px #E3E3E3;
}


/*
  Header
*/
#header {
  color: #FFF;
  background: #000000;
  padding-top: 1px;
  padding: 0; 
}

#header,
#header #header-top {height: 77px;}

#header a {
  color: #FFF;
  padding: 0px 5px 0 0;
}

#header .back {
  border: solid 1px #151515;
  border-bottom-color: #505050;
  background: #333333;
  width: 84px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: white;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#header .share{
    height: 56px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 50%;
  
}


#header .logo {
  display: block;
  height: 50px;
  padding: 0 !important;
  width: 211px;
  z-index: 50;
  margin: 0 auto 0 auto;
  position: relative;
  top:12px;
}

#header #viola-home {
  background: url("../images/logo-viola.png") no-repeat scroll 0 0 transparent;
  display: block;
  padding: 0;
  text-indent: -9999px;
  z-index: 50;
  
  height: 100%;
  width: 100%;  
  
}


.rounded {
  color: #0053c3;
  border: solid 1px #cbcbcb;
  border-top-color: #e3e3e3;
  border-bottom-color: #b5b5b5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #EFEFEF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EFEFEF) ); /* webkit */

  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.rounded:hover {
  color: #000;
  border-top-color: #b5b5b5;
  border-bottom-color: #e3e3e3;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFEFEF), color-stop(100%, #FFFFFF) ); /* webkit */
}

input.more,
button.more {
  width: 100%;
  color: #0056C3;
}

.more {
  border: 1px solid #BDBDBD;
  clear: both;
  display: block;
  height: 29px;
}





#footer {
  clear: both;
  position: relative;
  background: #171717;
  padding: 0;
}

#footer-bottom                            { clear: both; padding: 12px 0 13px 0; margin: 0 auto; font-size: 12px; color: #888; border-top: 1px solid #3c3c3c; background: black; }
#footer-bottom  .wrapper                  { height: 30px; line-height: 30px; }
#footer-bottom  a                         { color: white }
#footer-bottom  p                         { line-height: 1.3em }

#footer-bottom #tnlogo {
  background: url(../images/iframe-sprite.png) -82px -36px no-repeat;
  /*background: transparent url('../images/logo-tn-footer.png') no-repeat 0 0;*/
  display: block;
  height: 31px;
  width: 35px;
  text-indent: -9999px;
  float: left;
  margin: 2px 10px 0 3px;
}

body > img { display: none }

h1,h2,h3 {font-weight: normal;}

.video-container {
	width: 600px;
	float: left;
}

section .share {
  width: 321px;
  height: 24px;

}

section {
	position: relative;
}

section .share {
	
	height: 24px;
	float: right;
	
}

section .share .item {
	float: left;
}

section .share .fbsend {
	margin-right: 5px;
	width: 62px;
	height: 20px;
}

#chat {
	margin-bottom: 15px;
}

.video-container ul {}
.video-container li {
	height: 40px;
	position: relative;
	overflow: hidden;
}

.video-container li .toggle {
	height: 40px;
	width: 30px;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
}

.video-container li .bg {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 5px;
	top: 17px;
	background: url(../images/bbstream.png);
}
.video-container .toggle:hover .bg,
.video-container li.open .bg {
	background-position: 0 -24px;
}

.video-container li .title {
	height: 39px;
	line-height: 53px;
	overflow: hidden;
	border-bottom:solid 1px #dcdcdc;
}

.video-container li .title a{
	color:black;
	display: block;
	width: 570px;
	height: 40px;
}

.video-container li .content {
	background: #f7f7f7;
	padding: 5px 5px 10px 5px;
	font-size: 13px;
	line-height: 16px;
}

#sidebar {
	width: 310px;
	float: right;
}

#last-videos {
	margin-top: 15px;
}



#last-videos .media-content{
	margin-top: 15px;
}

#last-videos .media-content li {
	float:left;
	width: 150px;
	margin-left: 10px;
}

#last-videos .media-content li:first-child {
	margin: 0;
}

#last-videos .media-content figure {
   height: 84px;
    position: relative;
    width: 150px;	
}

#last-videos .media-content .image {
	display: block;
	width: 100%;
	height: 100%;
}

#last-videos .media-content .play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 33px;
	height: 19px;
	margin: -13px 0 0-23px;
	text-indent:-999em;
	background: url(../images/bbstream.png) -17px 0;
}

#last-videos .media-content .play:hover {
	background-position: -17px -21px;
}

.video {
	height:338px; 
}

section header {

	border-bottom: 2px solid #000000;
	margin-bottom: 1px;
	padding-bottom: 7px;
}

section h2 {
  font-size: 20px;
  font-weight: bold;
  display: inline;
	
}

#last-tweet .content{
	height: 90px;
	position: relative;
	background: #f7f7f7
}

#last-tweet .loading {
	background: #f7f7f7 url(../images/bbstream-loader.gif) no-repeat center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
  z-index: 50;	



}

#last-tweet .error {
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 40; 
  

}

#last-tweet .error p {
	position: absolute;
	top:26px;
  line-height: 1.1em;
	
	
}

#last-tweet .success {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 30;
	background: #f7f7f7;
}

#last-tweet .success p {
	font-size: 14px;
	line-height: 15px;
}
#last-tweet .success .time-ago {
	 font-size: 14px;
	 line-height: 1em;
	 position: absolute;
	 left: 0;
	 bottom: 0;
}

#last-tweet .success img {
	float: left;
	margin: 6.5px 0 0 6px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow: hidden;
}
#last-tweet .success .tweet {
	float: right;
	margin: 6.5px 6px 0 0;
	width: 213px;
	height: 73px;
	overflow: hidden;
	position: relative;
}

/*
.title {
    margin-bottom: 14px;
    margin-top: -14px;
}

.title h1 {margin-bottom: 3px; font-weight: bold; text-align: center;}

.title .size-7 {
    font-size: 60px;
    line-height: 1.1em;
}

.title h2 {font-size: 20px;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top: -2px;
    word-spacing: -2px;
    text-align: center;
    margin-bottom: 5px;}
    
    
.video {
  display:block;
  margin: 0 auto 14px auto;
}

#sidebar {
  height: 600px;
}

#fb-livestream {
	float: left;  
}

#sidebar .block {
	width: 470px;
	height: 600px;
}
#twitter-widget {
  float: right;	
}

#twitter-widget .twsb-bck {
	background: url(../images/twperiodistas.png) no-repeat left top #D5EFFF;
	height: 46px;
	position: relative;
	margin-bottom: 10px;
}

#twitter-widget .more {
	width: 85px;
	position: absolute;
	right: 8px;
	top:8px;
}
*/