h1,h2,h3 {font-weight: normal;}

.title {
    margin-bottom: 14px;
    margin-top: -14px;
}

.title h1 {margin-bottom: 3px; font-weight: bold; text-align: center;}

.title .size-7 {
    font-size: 60px;
    line-height: 1.1em;
}

.title h2 {font-size: 20px;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top: -2px;
    word-spacing: -2px;
    text-align: center;
    margin-bottom: 5px;}
    
    
.video {
	text-align: center;
	margin: 40px 0;
}