a {
	cursor: pointer;
	color:#0056c3;
	outline: none;
}

a:hover {
	color: #000;
}

.wrapper {
	width: 950px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

#header {
  overflow: visible;
}

#container {
	margin: 20px auto;
}


/* shares */

.fb_send_button_form_widget iframe {
  width: 410px !important;
}


/*
	Header
*/
#header {
	color: #FFF;
	background: #be0000;
	padding-top: 1px;
  padding: 0;	
}

#header,
#header #header-top {height: 77px;}

#header a {
	color: #FFF;
	padding: 0px 5px 0 0;
}

#header .back {
  border: solid 1px #960000;
  border-bottom-color: #E35757;
  background: #AF0000;
  width: 84px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: white;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#header .share{
    height: 56px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 50%;
  
}


#header .logo {
  display: block;
  height: 62px;
  left: 50%;
  margin-left: -18px;
  padding: 0 !important;
  position: absolute;
  top: 11px;
  width: 106px;
  z-index: 50;
}

#header #tn-home {
  background: url("../images/cloud/cloud-sprite.png") no-repeat scroll 0 0 transparent;
  display: block;
  left: 0;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  z-index: 50;
  
  height: 62px;
  width: 80px;  
  
}

#header .hd {
  background: url("../images/cloud/cloud-sprite.png") no-repeat scroll -77px 0px transparent;
  display: block; 
  position: absolute;
  right: 0;
  text-indent: -999em;
  top: 0;

  z-index: 60;
  
  height: 18px;
  top: 0;
  width: 29px;
}





.rounded {
  color: #0053c3;
  border: solid 1px #cbcbcb;
  border-top-color: #e3e3e3;
  border-bottom-color: #b5b5b5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #EFEFEF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EFEFEF) ); /* webkit */
}

.rounded {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.rounded:hover {
  color: #000;
  border-top-color: #b5b5b5;
  border-bottom-color: #e3e3e3;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFEFEF), color-stop(100%, #FFFFFF) ); /* webkit */
}

input.more,
button.more {
  width: 100%;
  color: #0056C3;
}

.more {
  border: 1px solid #BDBDBD;
  clear: both;
  display: block;
  height: 29px;
  margin-top: 20px;
}





#footer {
	clear: both;
	position: relative;
	background: #171717;
	padding: 0;
}

#footer                            { clear: both; padding: 12px 0 13px 0; margin: 0 auto; font-size: 12px; color: #888; border-top: 1px solid #3c3c3c; background: black; }
#footer  .wrapper                  { height: 30px; line-height: 30px; }
#footer	a                         { color: white }
#footer	p                         { line-height: 1.3em }

#footer #tnlogo {
  background: url(../images/cloud/cloud-sprite.png) -522px 0px no-repeat black;
  /*background: transparent url('../images/logo-tn-footer.png') no-repeat 0 0;*/
  display: block;
  height: 26px;
  width: 35px;
  text-indent: -9999px;
  float: left;
  margin: 2px 10px 0 3px;
}

.tooltip {
	display: none;
	background: url(../images/cloud/cloud-sprite.png) -269px -277px no-repeat;
	font-size: 12px;
	padding: 25px;
	color: #fff;
	padding: 8px 8px 15px 8px;
	width: 121px;
	height: 56px;
	text-align: center;
	line-height: 1.5;
	z-index: 100;
}

.tooltip-hd {

  border: solid 1px white;
  line-height: 14px;
  color:white;
  text-align:center;
  width: 155px;
  font-size: 12px;

  padding: 5px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

   -moz-box-shadow: 0px 1px 7px #000; /* FF3.5+ */
   -webkit-box-shadow: 0px 1px 7px #000; /* Saf3.0+, Chrome */
   box-shadow: 0px 1px 7px #000; /* Opera 10.5, IE9, Chrome 10+ */

   z-index: 100;
top:7px !important;
  background: black;

}

body > img { display: none }

.share-nota {
	height: 20px;
	position: relative;
	border-bottom: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;
	padding: 7px 0;
	margin: 10px 0;
	z-index: 105;
}

.share-nota li {float:left;}

.news .share-nota {
  z-index: auto;
}

.share-nota .fb {
	float: left;
	margin-right: 10px;
}

.share-nota .fb-button {
  height: 21px;
	margin-right: 10px;
}

.share-nota .tw {
	float: left;
	width: 112px
}

.share-nota .fbsend {
	float: left;
	height: 21px;
}

.share-nota .glg {
	float: left;
	margin-right: 5px;
}

.fb_send_button_form_widget iframe {
	width: 410px !important;
}

.share-nota ul li {
	float: left;
}

.share-nota .follow li{float:left; margin-left: 10px}
.share-nota .follow .tn iframe{width: 150px !important; }
.share-nota .follow .trends iframe{width: 130px !important;}

.share-nota .link a {
	display: block;
	text-indent: -9999px;
	height: 21px;
	width: 30px;
}

.share-nota  .icon-print {
	background: url(../images/cloud/cloud-sprite.png)  -119px 0px no-repeat;
}

.share-nota  .icon-print:hover {
	background-position: -119px -23px;
}

.entry-title {color:black}

#home-new footer {
	display: none;
	visibility: hidden;
}

#home-new hgroup {
	margin: 0px 0 13px 0;
}

#home-new hgroup h2 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1.3em;
	margin-top: -2px;
	word-spacing: -2px;
	min-height: 52px;
	border-right: 1px solid #dedede;
	width: 788px;
	text-align: left;
}

#home-new hgroup .entry-title {
	font-weight: bold;
}



#home-new hgroup	{
text-align: center;
}

#home-new h1 .entry-title {
	display: block;
}

article .size-1 {
	font-size: 140px;
	line-height: 1.1em;
}
article .size-2 {
	font-size: 120px;
	line-height: 1.1em;
}
article .size-3 {
	font-size: 100px;
	line-height: 1.1em;
}
article .size-4 {
	font-size: 85px;
	line-height: 1.1em;
}
article .size-5 {
	font-size: 75px;
	line-height: 1.1em;
}
article .size-6 {
	font-size: 70px;
	line-height: 1.1em;
}
article .size-7 {
	font-size: 60px;
	line-height: 1.1em;
}
article .size-8 {
	font-size: 55px;
	line-height: 1.1em;
}
article .size-9 {
	font-size: 50px;
	line-height: 1.1em;
}
article .size-10 {
	font-size: 45px;
	line-height: 1.1em;
}





.share-home {
	float: right;
	margin: 1px 0 0 0;
	width: 145px;
	padding: 0;
	border: none;
}

.share-home .tw {
	width: 125px;
}

.ie6 .share-home .tw {
	margin-left: -20px;
}

#news {
	margin-bottom: 20px;
	
}













.carousel {
	height: 104px;
	overflow: hidden;
	border: solid 1px #dadada;
	margin: 10px 0 30px 0;
	padding: 1px;
	background: #f0f0f0;
	width: 946px;
}

.carousel .arrows {
	width: 39px;
	height: 102px;
	display: none;
	visibility: hidden;
	position: relative;
	/*background: rgba(0, 0, 0, .3);*/
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGDwBQAAUgBOtzTNbwAAAABJRU5ErkJggg==);
	z-index: 100;
}

.no-js .carousel:hover .arrows {
	display: none;
	visibility: hidden;
}

.carousel .disabled {
	display: block;
	position: relative;
}

.carousel:hover .arrows {
	display: block;
	visibility: visible;
}

.carousel:hover .disabled {
	visibility: hidden;
	display: none;
}

.carousel .arrows span {
	background: url(../images/cloud/cloud-sprite.png) no-repeat;
	width: 10px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -5px;
}

.carousel .arrows:hover {
	cursor: pointer;
}

.carousel .prev {
	float: left;
}

.carousel .prev span {
	background-position: -176px 0px;
}

.carousel .prev:hover span {
	background-position: -152px 0px;
}

.carousel .next {
	float: right;
}

.carousel .next span {
	background-position: -188px 0;
}

.carousel .next:hover span {
	background-position: -164px 0;
}

.carousel li {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#carousel-twitter {
	height: 163px;
	background: url(../images/cloud/cloud-sprite.png) left bottom no-repeat #DEF1FA;
	width: 947px !important;
	margin: 15px 0
}

#carousel-twitter .arrows {
	height: 163px;
}

#carousel-twitter header {
	height: 20px;
	padding: 0px;
	margin-top: 10px;
	width: 862px;
	left: 16px;
	overflow: hidden;
	position: absolute;
}

#carousel-twitter .content {
	height: 122px;
	overflow: hidden;
	position: absolute !important;
	bottom: 7px;
	width: 945px !important;
	left: 2px !important;
}

#carousel-twitter .twtr-tweet {
	float: left;
	width: 285px;
	padding: 0 17px 0 13px;
	margin: 0;
	height: 122px;
	clear: none;
}

#carousel-twitter li.first {
	margin: 0;
}

#carousel-twitter .twtr-timestamp {
	border: none;
	font-size: 10px;
}

#carousel-twitter .twtr-tweet-text p {
	line-height: 1.25em;
}

#carousel-twitter h3,
#carousel-twitter h4 {
	display: inline;
	font-size: 14px;
}

#carousel-twitter header h4 a {
	/*color: #0056c3;*/
	margin-left: 5px;
}

#carousel-twitter ul.twtr-container {
	width: 6000px;
}

#carousel-twitter a {
	text-decoration: none
}

#carousel-twitter a:hover {
	text-decoration: underline
}

#carousel-twitter .ctw-follow {
  position: absolute;
  top: 10px;
  right: 130px;
}

#youtube-tv {
	width: 600px;
	height: 338px;
	margin: 40px auto;
	background: black;	
}

#vivo {
  width: 640px;
  height: 360px;
  margin: 40px auto;  
}


.nota-1 #new .entry-content{width: 600px;margin: 0 auto;}

.nota-2 .entry-content {float:left; width: 600px;}
.nota-2 .block {float:right; width: 310px;}

#new {padding-top: 7px;}

#new h1 a,.vivo h1 {
	font-weight: normal !important;
}


.note h1 {
	margin-bottom: 6px;
}

.note .entry-title	{
  font-size: 44px;
    font-weight: normal;
    line-height: 43px;
   }


.note time {
	color: #868686;
	font-size: 12px;
}

.note p {
	font-size: 16px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 5px;
}


.note .entry-content { /*margin-top: 15px;*/
	padding: 0;


	
}

.note footer {
	display: block;
	visibility: visible;
	height: auto;
}

.block {
	position: relative;
}

.block h3 {
	border-bottom: 2px solid #000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1px;
    padding-bottom: 7px;
    margin-top: 20px;
	
}
.block .twsb-bck {
	display: block;
    height: 46px;
    margin-bottom: 5px;
    width: 310px;
    background: url(../images/cloud/cloud-sprite.png) -200px 0 no-repeat;
}

.twpress .twtr-hd,
.twpress .twtr-ft {
    display: none;
    visibility: hidden;
}

.twtr-scroll .twtr-timeline {
    overflow-x: hidden;
    overflow-y: scroll !important;
    
}

#twpress {min-height: 330px;}

.ie6 #tw-periodistas .twtr-widget .twtr-tweet-text b {
		background-position: -93px -21px;
		font-size: 1px;
}

.ie6 #carousel-twitter .twtr-widget .twtr-tweet-text b {
	display: none;
	visibility: hidden;
}





















.twtr-widget                                      { font: 16px/1 "Helvetica Neue", Arial, sans-serif; *font-size:small; zoom:1; }
.twtr-fullscreen                                  { font-size:220%!important; }
.twtr-fullscreen .twtr-new-results                { _display:none!important; }
.twtr-inactive                                    { display:none; }
.twtr-widget a img                                { border:0!important; }
.twtr-doc                                         { overflow:hidden; width:100%; text-align:left; font-weight:normal; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.twtr-bd                                          { padding:0 1px; }
.twtr-widget .twtr-tweet-wrap                     { padding:6px 8px; overflow:hidden; zoom:1; }
.twtr-fullscreen .twtr-tweet-wrap                 { padding:20px; }
.twtr-widget .twtr-tweet                          { border-bottom:1px dotted #ddd; overflow:hidden; zoom:1; }
.twtr-widget-profile img.twtr-profile-img         { display:block; float:left; width:31px; height:31px; border:0!important; }
.twtr-widget h3,.twtr-widget h4,.twtr-widget p    { margin:0!important; padding:0!important; line-height:1.25 !important; width:auto!important; }
.twtr-widget-profile h3,.twtr-widget-profile h4   { margin:0 0 0 40px!important; }
.twtr-widget h3                                   { font-size:11px!important; font-weight:normal!important; }
.twtr-widget h4                                   { font-size:16px!important; }
.twtr-widget em,
.twtr-widget .twtr-new-results                    { font-size:9px; font-style:normal; display:block; margin-top:2px; zoom:1; }
.twtr-widget .twtr-new-results                    { text-align:center; padding:3px; margin:0 auto -10px auto!important; display:block; position:relative; bottom:5px; line-height:.9; }
.twtr-results-inner                               { line-height:1; font-size:100%; padding:4px 0; position:relative; bottom:-2px; width:40%; margin:0 auto; z-index:2; text-align:center; }
.twtr-results-hr                                  { width:100%; position:relative; z-index:1; height:1px; border-bottom:1px dotted #ddd; bottom:7px; background:none; overflow:hidden; }
.twtr-new-results span                            { position:relative; z-index:3; top:-14px; display:block; font-size:9px!important; }
.twtr-fullscreen .twtr-new-results span           { font-size:24px!important; }
.twtr-hd                                          { padding:10px; position:relative; zoom:1; overflow:hidden; }
.twtr-fullscreen .twtr-hd                         { height:0; padding:0; }
.twtr-timeline                                    { -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; position:relative; overflow:hidden; z-index:2; height:225px; }
.twtr-scroll .twtr-timeline                       { overflow-x:hidden; overflow-y:auto; }
.twtr-widget .twtr-tweet:last-child               { border-bottom-width:0; }
.twtr-ft                                          { position:relative; }
.twtr-ft div                                      { overflow:hidden; padding:10px; zoom:1; }
.twtr-ft span                                     { float:right; text-align:right; }
.twtr-ft a                                        { float:left; display:block; }
.twtr-ft a img                                    { position:relative; top:2px; }
.twtr-ft span a                                   { float:none; }
.twtr-avatar                                      { width:40px; height:40px; float:left; overflow:hidden; display:block; }
.twtr-fullscreen .twtr-avatar                     { width:80px; height:80px; }
.twtr-img                                         { height:25px; width:25px; }
.twtr-img img                                     { width:30px; height:30px; }
.twtr-fullscreen .twtr-img img                    { width:72px; height:72px; }
.twtr-fullscreen a.twtr-join-conv                 { display:none; }
.twtr-tweet-text{
margin-left:40px;
}

.twtr-fullscreen .twtr-tweet-text{
margin-left:90px;
}

.twtr-popular{
font-size:10px;
padding:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
display:inline-block;
margin-top:3px;
opacity:.8;
}

.twtr-doc a{
text-decoration:none!important;
}

.twtr-doc a:hover{
text-decoration:underline!important;
}

/* Widget de twitter */
.twitter_module {
margin: 25px 0;
height: 555px;
border: 1px solid #ccc;
overflow: hidden;
position: relative;
}
.twitter_module .header{
background: #F3F9FF;
height: 45px;
position: relative;
}

.twitter_module .content {
height: 500px;
margin: 10px 0 0;
padding: 0;
overflow: auto;
overflow-x: hidden;
overflow-y: scroll;
position: relative;
}

.twitter_module form.search {
position: absolute;
top: 7px;
right: 8px;
padding: 0;
}

.twitter_module form.search input.text {
width: 235px;
}

.twitter_module .twtr-doc {
width: 100% !important;
}

.twitter_module .twtr-bd {
padding: 0 10px 0 17px !important;
}

.twitter_module .twtr-ft,
.twitter_module .twtr-hd {
display: none !important;
}

.twitter_module .twtr-timeline {
overflow: hidden;
height: auto !important;
}
/*
.twitter_module .twtr-timeline {
  height: 289px !important;
}
*/


.twtr-widget .twtr-tweet-wrap {
padding: 6px 3px 0 0;
position: relative;
}

.twitter_module .twtr-widget .twtr-tweet,
.twitter_module .twtr-widget .twtr-img {
width: auto;
height: auto;
}

.twtr-widget .twtr-tweet {
border: none !important;
/*
clear: both;
float: none;
*/
}

.twtr-widget .twtr-avatar {
width: 52px !important;
height: 52px !important;
overflow: hidden;
background: white;
border: 1px solid #dadada;
position: absolute;
top: 6px;
left: 0;
}

.twtr-widget .twtr-img img {
width: 50px !important;
height: 50px !important;
padding: 1px;
}

.twtr-widget .twtr-tweet-text {
background: white;
padding: 6px 12px;
border: 1px solid #dadada;
margin-left: 66px !important;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
position: relative;
}

.twtr-widget .twtr-tweet-text b {
display: block;
width: 7px;
height: 11px;
background: url("../images/cloud/cloud-sprite.png") no-repeat scroll -82px -21px transparent;

position: absolute;
top: 14px;
left: -7px;
}

.ie6 .twtr-widget .twtr-tweet-text b {
	left: -19px;
	height: 10px;
}

.twtr-widget .twtr-user {
font-weight: bold;
}

.twtr-widget .twtr-tweet-text p {
line-height: 1.5;
font-size: 12px;
overflow: hidden;
}

.twtr-widget .twtr-tweet-text p a {
color: #0056c3;
}

.twtr-widget .twtr-tweet-text p em {
color: #9d9d9d;
font-size: 11px;
font-style: normal;
display: block;
}

.twtr-widget .twtr-tweet-text a.twtr-timestamp {
font-size: 12px;
color: #888 !important;
}

.twtr-widget .twtr-tweet-text a.twtr-timestamp:hover {
text-decoration: none !important;
color: #0056c3;
}

#twtr-widget-1 .twtr-tweet-text a.twtr-timestamp {
color: #9d9d9d !important;
}

.twtr-widget .twtr-tweet-text a.twtr-reply {
color: #0056c3 !important;
font-size: 12px;
}


#disqus_thread .more {height: 34px; line-height: 34px;}

.news {
	width: 600px;
	margin: 0 auto
}

.news article {
	border-bottom: solid 1px #dbdbdb;
	position: relative;
	padding: 15px 0 10px 70px;
	margin: 0;
	font-size: 14px;
	background: none;
}

.news article footer{
	display: none;
	visibility: hidden;	
}

.news .content {
	width: auto;
	float: none;
	padding-bottom: 0;
	position: relative;
	font-size: 14px;
	color: #000;
}

.news article.has-picture .content {
    margin-left: 170px;
}

.news article .content p,
.news article .entry-content {
	line-height: 1.4;
	font-size: 14px;
}


.news article time {
	position: absolute;
	top: 18px;
	left: 0px;
}

.news figure {
	width: 150px;
	height: 84px;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}


.news article .entry-content {
	padding: 0;
	margin-top: 10px;
}

.news article .entry-title	{
font-size: 26px;
font-weight: normal;
line-height: 1.15;
}

#new figure {
	width: 600px;
	height: 338px;
	display:block;
	position: relative;
	margin: 0 auto;
}

.nota-2 #new figure {
	margin-top: 20px;
}

#new figcaption{
   bottom: 0;
    height: 70px;
    left: 0;
    position: absolute;
    width: 100%;
	background: url("../images/cloud/shadow.png") left top repeat-x;
}

#new figcaption .fn {
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    padding:0 5px 2px 5px;
    width: 590px;
    height: auto;
    position: absolute;
    left:0;
    bottom:0;
    color:white;
}