#container.wrapper
{
	width: 720px;
}

.block {
    margin: 20px 0;
    position: relative;
}

.block h3 {
    border-bottom: 2px solid #000000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 4px;
}

h1 {
  font-size: 34px;
  font-weight: normal;
  margin-bottom: 10px;
}

.twsb-bck {
    background: url('../images/tw-720.jpg');
    display: block;
    height: 47px;
    width: 720px;
}

.twtr-widget {

    height: 573px;
}

.twtr-scroll .twtr-timeline {overflow-y: scroll !important}

.more {
	font-size: 13px;
	font-weight: bold;
	line-height: 29px;
	text-align: center;


border: 1px solid #BDBDBD;
clear: both;
display: block;
height: 29px;
margin-top: 10px;
}



.rounded {
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

color: #0053C3;
border: solid 1px #CBCBCB;
border-top-color: #E3E3E3;
border-bottom-color: #B5B5B5;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: #EFEFEF;
background: -moz-linear-gradient(top,white 0,#EFEFEF 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#EFEFEF));
}

.rounded:hover {
color: black;
border-top-color: #B5B5B5;
border-bottom-color: #E3E3E3;
background: #EFEFEF;
background: -moz-linear-gradient(top,#EFEFEF 0,white 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#EFEFEF),color-stop(100%,white));
}
