#container {
	margin-top: 10px;
}

.more {
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	
	color: #0053c3;
	border: solid 1px #cbcbcb;
	border-top-color: #e3e3e3;
	border-bottom-color: #b5b5b5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EFEFEF; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #EFEFEF 100%);
	/* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EFEFEF) ); /* webkit */

	width: 100%;
	height: 29px;
	line-height: 29px;
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 13px;
}

.more:hover {
	color: #000;
	border-top-color: #b5b5b5;
	border-bottom-color: #e3e3e3;
	background: #EFEFEF; /* old browsers */
	background: -moz-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFEFEF), color-stop(100%, #FFFFFF) ); /* webkit */

}

.gps-content {
	margin: 10px;
}

.gps-img {
  float: left;
  margin-right: 15px;
}

.gps-box {
  margin: 10px auto;
  position: relative;
  max-width: 350px;
  
}

.gps-box-1 {
	margin-bottom: 30px;
}

.gps-box-2 {
	margin-bottom: 20px;
}

.share-nota {
	margin: 10px 0;
}
.gps-box h3,
.gps-brand h3 {
  font-size: 15px;
  border-bottom: 2px solid #000000;
  margin-bottom: 1px;
  padding-bottom: 7px;
}

.gps-brand h3 {
  margin-bottom: 5px;
}

.gps-box .content {
  padding: 4px 4px 4px 52px;
  font-size: 14px;
  position: relative;
  height: 54px;
  margin: 10px 0;
}

.gps-content .gps-box .content p {
  line-height: 1.3em;
  margin: 0;
}
.gps-content .gps-box .content span {
  color: #888;
  font-size: 12px;
}

.gps-container p {
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.gps-content a {
  color: #0053C3;
}
.gps-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color:black;
}
.gps-container .gps-content {
  width: 635px;
  float: right;
}

.gps-container .gps-content {
  width: 635px;
  float: right;
}

#gps-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gps-brand {
  margin-bottom: 10px;
}

.gps-models li {
  width: 120px;
  text-align: center;
  height: auto;
  float: left;
  margin: 0 3px;
}

#gps-list .htc li{
  height: 168px;
}

.gps-models li p {
  margin: 5px 0 0 0;
}

.gps-box .more {
  margin-top: 10px;
}

.gps-box .download {
  left: 5px;
  top: 10px;
  position: absolute;
  width: 44px;
  height: 44px;
  text-indent: -999em;
  background: url(../images/gps/descargar.jpg);
}

#gps-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gps-brand {
  margin-bottom: 10px;
}

.gps-models li {
  width: 120px;
  text-align: center;
  height: auto;
  float: left;
  margin: 0 3px;
}

#gps-list .htc li{
  height: 168px;
}

.gps-models li p {
  margin: 5px 0 0 0;
}
