/* filters */

.rounded {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#EFEFEF',GradientType=0 ); /* ie */
}

.rounded:hover {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFEFEF', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
}