h1,h2,h3 {font-weight: normal;}

.title {
    margin-bottom: 14px;
    margin-top: -14px;
}

.title h1 {margin-bottom: 3px; font-weight: bold; text-align: center;}

.title h1 .size-7 {
    font-size: 60px;
    line-height: 1.1em;
}

.title h2 {font-size: 20px;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top: -2px;
    min-height: 52px;
    word-spacing: -2px;
    text-align: center;
    margin-bottom: 5px;}
    
.title h3 {
font-size: 16px;

    line-height: 1.4em;
    margin-top: 30px;
    min-height: 52px;	
	
}

.videos .more {margin-top: 15px;}

.videos article {
	float: left;
    margin: 25px 0 14px 0;
    position: relative;
    text-align: center;
    width: 450px;}
    
.videos article.even  {   
       padding-right:25px;
}

.videos article.odd{padding-left: 25px;}
    
    .videos object {
    display: block;
    margin: 0 auto;
}

.videos article header{text-align: left;}

.videos article h1 {margin-bottom: 10px;}

.videos .vote 
{
	margin-top: 15px;
	border: solid 1px #ccc;
	width: 100%;
	height: 27px;
	text-align: right;
	line-height: 27px;
	position: relative;
	text-align: center;
	background: #ffffcc;
}

.has-voted .submit {
	display: none;
	visibility: hidden;
}

.no-voted .vote {
	display: none;
	visibility: hidden;
}


#dialog {
	position: absolute;
	left: 50% !important;
	top:50% !important;
	margin: -40px 0 0 -200px;
	width: 400px;
	height: 80px;
	border: 4px solid #666666;
	text-align: center;
	line-height: 80px;
	background: white;
	font-size: 20px;
}