#container {
	width: 980px;
}

#navigation {
	width: 100%;
	position: absolute;
	z-index: 20;
}

.no-js #navigation {
	z-index: 150;
}

#navigation-main {
	width: 550px;
	position: absolute;
	left:0;
	top: 0;
}

#navigation-main a:hover{
	text-decoration: underline;
}

#navigation-main .back {
	color: #003391;
	text-decoration: none;
	position: absolute;
	right: 13px;
	top: 12px;
}

#navigation,
#navigation-main {
	height: 40px;
}

#navigation-tabs {
	margin: 0;
	list-style: none;
	width: 470px;
	margin-top: 10px;
	height: 24px;
}

#navigation-tabs li.current {
    border-bottom: 2px solid #00338d !important;
}

#navigation-tabs li {
	margin: 0 7px;
	padding-bottom: 3px;	
}

#navigation-tabs li:hover {
	 border-bottom: 2px solid #ddd;
}

#navigation-tabs a{
	color: #242424;
	text-decoration: none;
	font-size: 16px;
	margin: 0 3px;
	outline: none;
}

.no-js #navigation-tabs li:hover  {
	cursor: default;
	border: none;
}

.no-js #navigation-tabs a:hover  {
	cursor: default;
}


#navigation-tabs .div{
	background: #ddd;
    height: 18px;
    margin:0 6px;
    width: 2px;	
	border: none;
}

#navigation-tabs {
	list-style: none;
	position: absolute;
	right: 0;
}

#navigation-tabs li {
	float: left;
}


#banner-container {
   height: 593px;
    
    width: 980px;
    z-index: 10;
    top: 0px;
    position: relative;
}

.banner {
	position: relative;
	top:0;
}

.top {
	z-index: 100 !important;
}

#banner-container ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	z-index: 30;
	height: 593px;
}

#banner-container li {
	float: left;
	height: 593px;
	width: 980px;
	position: relative;
}

#black{background:#000000;z-index:53;}
#tnmovil{background:#000000 url(../images/moviles/standby.jpg)}
.loader{height:553px;position:absolute;top:40px;width:980px;z-index:50;}

#banner-container li img{
	position: absolute;
	bottom: 0;
}

#banner-container li.tab-1 img{
	display: none;	
}