html {
	overflow: hidden;
}
.clear{
    clear:both;
}
.contenedor_general {
    width: 660px;
    margin: 0 auto;
    zoom: 1;
}
.contenedor_navegacion {
    width: 180px;
    float: left;
}

.navegador {
    width: 180px;
}
.contenedor_loterias {
    width: 460px;
    float: left;
    margin-left: 20px;
}

.contenedor_significados {
    width: 660px;
    clear: both;
    padding-top: 50px;
}
.cabecera {
    width: 100%;
}
.cabecera .fondo_cabezal {
}
.contenedor_loterias .cabecera .fondo_cabezal {
    /*width: 587px;*/
}
.contenedor_significados .cabecera .fondo_cabezal {
    text-align: center;
    background-color: #eee;
    margin-bottom: 10px;
}
.contenedor_significados .titulo {
  line-height: 50px;
}

.titulo {
    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: 10px;
    text-transform:uppercase;
}
.titulo_min {

    font-size: 11px;
    font-weight: bold;
    text-transform: capitalize;
    color: #CC0000;
    text-decoration: none;
    line-height: 30px;
    text-align:center;
}
span.titulo_min {
	color:#666666;
	font-size: 16px;
	font-weight: normal;
}
.fecha01 {
    background-repeat: no-repeat;
    background-position: 10px;

    font-size: 12px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
    padding-left: 25px;
}
.items {
     position:absolute;
     width:100%;
}
.bot_loterias {

    font-size: 16px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;


    height: 30px;
    background-color: #FFFFFF;
    display: block;


    line-height: 30px;
}
.bot_loterias:hover {
    color:#CC0000;
    text-decoration: underline;
}
.par{
    background-color:transparent;
}
.impar2{
    background-color:#ebeced;
}
.numero {

    font-size: 16px;
    font-weight: bold;


    color: #000;
    text-align:center;


    padding: 0 5px;

}
.columna_numeros{
    width: 200px;
    float: left;
    margin: 0px 6px;
}
.columna_numeros li {
		margin: 9px 0;
    color: #666;
}

.scrollable{
    position:relative;
    width: 180px;
}
.browse {
    width: 127px;
    height: 18px;
    display:block;
    cursor:pointer;
    margin-bottom:4px;
    margin-top:4px;
}
.browse span {
    display:none;
}
.browse:hover {
    background-position:0 -18px;
}
.disabled{
    background-position:0 -36px;
}
.disabled:hover{
    background-position:0 -36px;
}

.sorteo {
    float:right;
    margin-top:10px;
}
.destacado {
    height: 45px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #d8d8d8;
    border-bottom-color: #d8d8d8;
    margin-top: 30px;
}
.numero_destacado{
    text-align:left;
		height:45px;
		line-height:45px;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding-left: 5px;
    float:left;
}
.numero_destacado2 {

    font-size: 16px;


    font-weight: normal;
    color: #666666;
    text-decoration: none;
    text-align: center;
}
.numero_destacado2 impar {
}
.numero_destacado2 par {
}
.texto_destacado {
    background-repeat: no-repeat;
    background-position: 10px;

    font-size: 12px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
    padding-left: 25px;
    float:left;
    line-height:45px;
    height:45px;
}
.lista1 {
    width:150px;
    float:left;
}
.lista {
    width:121px;
    margin-top:7px;
    text-align:center;
}
.lista .pos{
	vertical-align: middle;
}
.lista .sep{
    width:5px;
}
.lista .resultado{
    width:58px;
    text-align: center;
    padding: 5px 16px;
}
.contenedor_caja{
    width:284px;
    float:left;
    margin-top:7px;
    margin-left:8px;
}
.contenedor_caja2{
    height:450px;
    width:460px;
    float:left;
    margin-top:22px;
}
.contenedor_caja .fondo_cabezal {
    height:30px;
    width:109px;
    float:left;
    text-align:center;
    font-weight: normal;
    font-size: 14px;
}
.contenedor_caja2 .fondo_cabezal2 {
    height:30px;
    background-repeat: repeat-x;
    background-position: center;
    text-align:center;
    font-weight: normal;
    font-size: 14px;
}
.contenedor_caja2 .fondo_cabezal2.titulo_min {
  padding-top: 20px;
}
.contenedor_caja2 td.fondo_cabezal2 {width: 33.3%}
.contenedor_caja2 .fondo_cabezal3 {
    height:30px;
    background-repeat: repeat-x;
    background-position: center;
    border: 1px dashed #666666;
    float:left;
    margin-bottom:7px;
    text-align:center;
}
.caja_01{
    width:284px;
    margin-bottom:7px;
}
.caja_02{
    width:460px;
    margin-bottom:7px;
}
.individual{
    height:35px;
    border: 1px solid #CCCCCC;
    vertical-align:middle;
}
.individual numero_destacado2{
    border: 1px solid #CCCCCC;
    text-align: center;
}
.caja_01 .fondo_cabezal{
    float:none;
}
.separador{
    height:7px;
}
#despliega_sorteos {
    background-repeat: no-repeat;
    display:block;
    width:86px;
    height:19px;
    text-decoration: none;
    position:relative;
    top:34px;
    left:-14px;
    color: #666666;
    line-height: 19px;
}

#despliega_sorteos:hover {
    background-position:0 -19px;
    color: #cc0000;
}
#despliega_sorteos span{
    padding-left:10px;
    font-size: 14px;
    font-weight: normal;
    width:100%;
    height:19px;
    display:block;
    text-decoration: none;
}
#menu_tiposorteo{
    display:none;
    width:100px;
    height:90px;
    text-decoration: none;
    border: 1px solid #d8d8d8;
    background-color: #d8d8d8;
    padding-top: 10px;
    border-radius: 4px;
}
.bot_tipo{
    width:100%;
}
.bot_tipo a{
    font-size: 14px;
    font-weight: normal;
    color: #444;
    text-decoration: none;
    width:100%;
    display:block;
    line-height: 25px;
}
.bot_tipo a span{
    padding-left:10px;
}
.bot_tipo a:hover{
    color: #FFFFFF;
    background-color:#CC0000;
}
.creditoDF{
    width:100%;
}
.creditoDF span{
    padding-left:5px;
}
.creditoDF span span{
    display:none;
}
.creditoDF span a{
    width:244px;
    height:45px;
    display:block;
}

