#header                                       { text-align: center; color: #fff; margin: 0; }
#header .logo 																{vertical-align: middle; height: 66px;}
#header .logo 																{padding-top: 2px;}

#header .vivo                                 { vertical-align: middle; padding-left: 15px; background: none;}
#header .vivo img                             { vertical-align: middle; }
#header .vivo a                               { color: #fff }

.banner                                       { text-align: center; }

.main-nota                                    { text-align: center; padding-top: 0 !important; }
.main-nota .dropline                          { margin: 0 !important; text-align: left !important; }
.news h1                                      { margin-bottom: 10px}
.news h1 .entry-title                         { color:  #000; }

.hnews                                        { padding: 15px 5px 5px; border-bottom: 1px solid #dadada; margin: 0; }
.note p                            { line-height: 20px; margin-bottom: 10px; font-size: 16px; color: #000}
.hnews .footer                                { display: none; visibility: hidden; }
.hnews .entry-title                           { font-weight: normal; font-size: 22px; line-height: 1em; margin-bottom: 5px; }
.hnews .size-5                                { font-size: 26px; font-weight: bold; }
.hnews .size-4                                { font-size: 22px; font-weight: bold; }
.hnews .size-3                                { font-size: 24px; font-weight: bold; }
.hnews .size-2                                { font-size: 28px; font-weight: bold; }
.hnews .size-1                                { font-size: 30px; font-weight: bold; }
.hnews .time                                  { height: 16px; line-height: 16px; font-size: 12px; color: #888 }
.note a,
.hnews .dropline a                            { color: #0056C3; }
.hnews h2                                     { margin-bottom: 10px }
.hnews .dropline .photo                       { text-align: center }

.note p                                       { line-height: 20px; margin-bottom: 10px }
.note .vervideo                               { margin-bottom: 10px }

.legal                                        { font-size: 8px; color: #666; height: 12px; line-height: 12px; }

.link-sections                                { background-color: #171717 }

.link-sections a:active {
	background: #333333;
}

.sections li,
.link-sections li                             { border-bottom: 1px solid #333; }

.sections a                                   { font-size: 18px; color: #00338d }

.sections li a,
.link-sections a                              { font-size: 18px; display: block; padding: 15px 5px; }

.link-sections a {color: #eee;}

.link-sections .now a {text-transform: uppercase;}

#footer                                       { background-color: #171717; color: #ddd; text-align: center }

.nota .hnews                                  { border-bottom: none; padding-top: 0 }
.nota .hnews .entry-title                     { font-size: 24px; color: #000 !important; }
.nota .dropline .time                         { margin-bottom: 15px; color: #868686; margin: 10px 0 }

.share .button                                { padding: 2px 10px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-size: 12px; display: inline-block;}
.share .twitter                               { background-color: #DBEAF5; color: #0056C3 !important; border: 1px solid #AED7F5; }
.share .facebook                              { background-color: #ECEEF5; color: #3B5998 !important; border: 1px solid #CAD4E7; }
.share .email                                 { background-color: #dfdfdf; color: #444 !important; border: 1px solid #ccc; }

.share-nota                             { border-bottom: 1px solid #DADADA; border-top: 1px solid #DADADA; padding: 5px 0; margin-bottom: 5px; }
.intern .share-nota                           { border-bottom: 1px solid #DADADA; padding: 10px 5px; }
.ranking .share-nota                          { border: 0px solid #fff !important; margin: 0 !important }
.transito .share-nota,
.clima .share-nota                            { padding: 10px 0; margin: 0 5px; }
.secciones .share-nota                        { padding: 10px 0; margin: 0 5px 10px 5px; }

h2.title                                      { font-size: 30px; font-weight: normal; display: inline }
.clima .header,
.rating .header,
.transito .header,
.ranking .header,
.secciones .header                            { border-bottom: 2px solid black; margin: 0 5px 0px 5px; padding-bottom: 10px; padding-left: 5px; color: black }

.rating .header .rtime                        { font-size: 12px; text-align: left; color: #666; }

.top10                                        { margin: 0 5px; }
.top10 li                                     { padding: 15px 5px 20px; border-bottom: 1px solid #fff; }
.top10 a                                      { font-size: 18px; color: #000; }
.top10 .rank1                                 { background-color: #e30000; }
.top10 .rank2                                 { background-color: #FA3B42; }
.top10 .rank3                                 { background-color: #FD787D; }
.top10 .rank4                                 { background-color: #FDAEB1;}

.clima td                                     { vertical-align: middle; }
.clima h3                                     { font-size: 24px; font-weight: normal; color: #888; }
.clima .ahora                                 { color: #000 }
.clima .temp                                  { font-size: 12px }
.clima .nowtemp                               { font-size: 22px }
.clima .lowtemp,
.clima .hightemp                              { font-size: 22px }
.clima .hightemp                              { color: #B90703 }
.clima .lowtemp                               { color: #0058C6 }
.clima .forecast                              { font-size: 16px }

.transito table                               { width: 100% }
.transito td                                  { vertical-align: middle; font-size: 18px; border-bottom: 1px solid #dadada; }
.transito td img                              { margin-top: 5px }
.transito .lineas                             { padding: 10px 0 10px 10px; text-align: left }
.transito .fichas                             { width: 35px; text-align: center; }

.transito .subte                              { -moz-border-radius: 2px; -webkit-border-radius: 3px; border-radius: 3px; padding: 0 2px; margin-right: 10px; }
.transito .subte-a                            { background-color: #1AA3DF; border: 1px solid #1AA3DF; color: white; }
.transito .subte-b                            { background-color: red; border: 1px solid red; color: white; }
.transito .subte-c                            { background-color: blue; border: 1px solid blue; color: white; }
.transito .subte-d                            { background-color: #09743D; border: 1px solid #09743D; color: white; }
.transito .subte-e                            { background-color: #60458F; border: 1px solid #60458F; color: white; }
.transito .subte-h                            { background-color: #FFDE00; border: 1px solid #FFDE00; color: #444; }
.transito .subte-p                            { background-color: #FDB930; border: 1px solid #FDB930; color: #444; }

.rating table                                 { width: 100%; margin: 0 5px }
.rating td                                    { vertical-align: middle; font-size: 18px; border-bottom: 1px solid #dadada; }
.rating .programa                             { padding: 10px 0 10px 10px; text-align: left; width: 220px }
.rating .fichas                               { width: 45px; height: 60px; text-align: center; }
.rating .score                                { width: 50px; }
.rating .score.first                          { font-weight: bold }
.rating .canales                              { width: 45px; height: 45px; text-align: center; background-image: url(../images/canales.gif); display: block; text-indent: -999em }
.rating .trece                                { background-position: 45px 0px }
.rating .telefe                               { background-position: 90px 0px }
.rating .c-9                                  { background-position: 135px 0px }
.rating .america                              { background-position: 180px 0px }
.rating .c-7                                  { background-position: 225px 0px }
.rating .fichas img                           { vertical-align: middle }

.todapasion                                   { color: #67AB00 !important; }
.vivo                                         { background-color: #be0000; }
.vivo a                                       { color: #fff; }

.alerts                                       { padding: 11px 0 9px 5px; text-align: left; }
.alert-related                                { background-color: #790000; color: #fff }
.alert-related a                              { color: #ff0a15 }
.alert-norelated                              { background-color: #000000; color: #fff }
.alert-norelated a                            { color: #88f }
.alert-norelated2                             { background-color: #02265A; color: #fff }
.alert-norelated2 a                           { color: #88f }

.ad                                           { margin: 5px auto; width: 320px; text-align: center }

/*
 * Media queries for responsive design http://goo.gl/awe0l
 */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-device-width: 569px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (max-device-width: 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


#footer,
#content {
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}
body > img { display: none}


#header {
    background-color: #BE0000;
}