.twtr-widget                                      { font: 16px/1 "Helvetica Neue", Arial, sans-serif; *font-size:small; zoom:1; }
.twtr-fullscreen                                  { font-size:220%!important; }
.twtr-fullscreen .twtr-new-results                { _display:none!important; }
.twtr-inactive                                    { display:none; }
.twtr-widget a img                                { border:0!important; }
.twtr-doc                                         { overflow:hidden; width:100%; text-align:left; font-weight:normal; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.twtr-bd                                          { padding:0 1px; }
.twtr-widget .twtr-tweet-wrap                     { padding:6px 8px; overflow:hidden; zoom:1; }
.twtr-fullscreen .twtr-tweet-wrap                 { padding:20px; }
.twtr-widget .twtr-tweet                          { border-bottom:1px dotted #ddd; overflow:hidden; zoom:1; }
.twtr-widget-profile img.twtr-profile-img         { display:block; float:left; width:31px; height:31px; border:0!important; }
.twtr-widget h3,.twtr-widget h4                   { margin:0!important; padding:0!important; line-height:1.25 !important; width:auto!important; }
.twtr-widget p    { margin:0;padding:0!important; line-height:1.25 !important; width:auto!important; }
.twtr-widget-profile h3,.twtr-widget-profile h4   { margin:0 0 0 40px!important; }
.twtr-widget h3                                   { font-size:11px!important; font-weight:normal!important; }
.twtr-widget h4                                   { font-size:16px!important; }
.twtr-widget em,
.twtr-widget .twtr-new-results                    { font-size:9px; font-style:normal; display:block; margin-top:2px; zoom:1; }
.twtr-widget .twtr-new-results                    { text-align:center; padding:3px; margin:0 auto -10px auto!important; display:block; position:relative; bottom:5px; line-height:.9; }
.twtr-results-inner                               { line-height:1; font-size:100%; padding:4px 0; position:relative; bottom:-2px; width:40%; margin:0 auto; z-index:2; text-align:center; }
.twtr-results-hr                                  { width:100%; position:relative; z-index:1; height:1px; border-bottom:1px dotted #ddd; bottom:7px; background:none; overflow:hidden; }
.twtr-new-results span                            { position:relative; z-index:3; top:-14px; display:block; font-size:9px!important; }
.twtr-fullscreen .twtr-new-results span           { font-size:24px!important; }
.twtr-hd                                          { padding:10px; position:relative; zoom:1; overflow:hidden; }
.twtr-fullscreen .twtr-hd                         { height:0; padding:0; }
.twtr-timeline                                    { -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; position:relative; overflow:hidden; z-index:2; height:225px; }
.twtr-scroll .twtr-timeline                       { overflow-x:hidden; overflow-y:auto; }
.twtr-widget .twtr-tweet:last-child               { border-bottom-width:0; }
.twtr-ft                                          { position:relative; }
.twtr-ft div                                      { overflow:hidden; padding:10px; zoom:1; }
.twtr-ft span                                     { float:right; text-align:right; }
.twtr-ft a                                        { float:left; display:block; }
.twtr-ft a img                                    { position:relative; top:2px; }
.twtr-ft span a                                   { float:none; }
.twtr-avatar                                      { width:40px; height:40px; float:left; overflow:hidden; display:block; }
.twtr-fullscreen .twtr-avatar                     { width:80px; height:80px; }
.twtr-img                                         { height:25px; width:25px; }
.twtr-img img                                     { width:30px; height:30px; }
.twtr-fullscreen .twtr-img img                    { width:72px; height:72px; }
.twtr-fullscreen a.twtr-join-conv                 { display:none; }
.twtr-tweet-text{
margin-left:40px;
}

.twtr-fullscreen .twtr-tweet-text{
margin-left:90px;
}

.twtr-popular{
display:none;visibility: hidden;
}

.twtr-doc a{
text-decoration:none!important;
}

.twtr-doc a:hover{
text-decoration:underline!important;
}

/* Widget de twitter */
.twitter_module {
margin: 25px 0;
height: 555px;
border: 1px solid #ccc;
overflow: hidden;
position: relative;
}
.twitter_module .header{
background: #F3F9FF url(<%= base_url %>images/misc-sprite.png) 0 -73px no-repeat;
height: 45px;
position: relative;
}

.twitter_module .content {
height: 500px;
margin: 10px 0 0;
padding: 0;
overflow: auto;
overflow-x: hidden;
overflow-y: scroll;
position: relative;
}

.twitter_module form.search {
position: absolute;
top: 7px;
right: 8px;
padding: 0;
}

.twitter_module form.search input.text {
width: 235px;
}

.twitter_module .twtr-doc {
width: 100% !important;
}

.twitter_module .twtr-bd {
padding: 0 10px 0 17px !important;
}

.twitter_module .twtr-ft,
.twitter_module .twtr-hd {
display: none !important;
}

.twitter_module .twtr-timeline {
overflow: hidden;
height: auto !important;
}
/*
.twitter_module .twtr-timeline {
  height: 289px !important;
}
*/


.twtr-widget .twtr-tweet-wrap {
padding: 6px 3px 0 0;
position: relative;
}

.twitter_module .twtr-widget .twtr-tweet,
.twitter_module .twtr-widget .twtr-img {
width: auto;
height: auto;
}

.twtr-widget .twtr-tweet {
border: none !important;
/*
clear: both;
float: none;
*/
}

.twtr-widget .twtr-avatar {
width: 52px !important;
height: 52px !important;
overflow: hidden;
background: white;
border: 1px solid #dadada;
position: absolute;
top: 6px;
left: 0;
}

.twtr-widget .twtr-img img {
width: 50px !important;
height: 50px !important;
padding: 1px;
}

.twtr-widget .twtr-tweet-text {
background: white;
padding: 6px 12px;
border: 1px solid #dadada;
margin-left: 66px !important;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
position: relative;
}

.twtr-widget .twtr-tweet-text b {
display: block;
width: 7px;
height: 11px;
background: url(<%= base_url %>images/main-sprite-home.png) -492px -222px no-repeat;
/*background: transparent url(<%= base_url %>images/callout.png) no-repeat left top;*/
position: absolute;
top: 14px;
left: -7px;
}

.ie6 .twtr-widget .twtr-tweet-text b {
left: -6px;
}

.twtr-widget .twtr-user {
font-weight: bold;
}

.twtr-widget .twtr-tweet-text p {
line-height: 1.5;
font-size: 12px;
overflow: hidden;
}

.twtr-widget .twtr-tweet-text p a {
color: #0056c3;
}

.twtr-widget .twtr-tweet-text p em {
color: #9d9d9d;
font-size: 11px;
font-style: normal;
display: block;
}

.twtr-widget .twtr-tweet-text a.twtr-timestamp {
font-size: 12px;
color: #888 !important;
}

.twtr-widget .twtr-tweet-text a.twtr-timestamp:hover {
text-decoration: none !important;
color: #0056c3;
}

#twtr-widget-1 .twtr-tweet-text a.twtr-timestamp {
color: #9d9d9d !important;
}

.twtr-widget .twtr-tweet-text a.twtr-reply {
color: #0056c3; /* !important;*/
font-size: 12px;
}
