a {
  cursor: pointer;
  color:#0056c3;
  outline: none;
}

a:hover {
  color: #000;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

#header {
  overflow: visible;
}

#container {
  margin: 20px auto;
}


/* shares */
.fb_iframe_widget iframe {
  width: 66px !important;
}

.fb_send_button_form_widget iframe {
  width: 410px !important;
}

/*
  Forms and content
*/
input[type=text],input[type=password] { /* never, ever, put border here please */
  border: solid 1px #E3E3E3;
}


/*
  Header
*/
#header {
  color: #FFF;
  background: #000000;
  padding-top: 1px;
  padding: 0; 
}

#header,
#header #header-top {height: 77px;}

#header a {
  color: #FFF;
  padding: 0px 5px 0 0;
}

#header .back {
  border: solid 1px #151515;
  border-bottom-color: #505050;
  background: #333333;
  width: 84px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: white;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#header .share{
    height: 56px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 50%;
  
}


#header .logo {
  display: block;
  height: 50px;
  padding: 0 !important;
  width: 211px;
  z-index: 50;
  margin: 0 auto 0 auto;
  position: relative;
  top:12px;
}

#header #viola-home {
  background: url("../images/logo-viola.png") no-repeat scroll 0 0 transparent;
  display: block;
  padding: 0;
  text-indent: -9999px;
  z-index: 50;
  
  height: 100%;
  width: 100%;  
  
}


.rounded {
  color: #0053c3;
  border: solid 1px #cbcbcb;
  border-top-color: #e3e3e3;
  border-bottom-color: #b5b5b5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #EFEFEF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EFEFEF) ); /* webkit */
}

.rounded {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.rounded:hover {
  color: #000;
  border-top-color: #b5b5b5;
  border-bottom-color: #e3e3e3;
  background: #EFEFEF; /* old browsers */
  background: -moz-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFEFEF), color-stop(100%, #FFFFFF) ); /* webkit */
}

input.more,
button.more {
  width: 100%;
  color: #0056C3;
}

.more {
  border: 1px solid #BDBDBD;
  clear: both;
  display: block;
  height: 29px;
  margin-top: 20px;
}





#footer {
  clear: both;
  position: relative;
  background: #171717;
  padding: 0;
}

#footer-bottom                            { clear: both; padding: 12px 0 13px 0; margin: 0 auto; font-size: 12px; color: #888; border-top: 1px solid #3c3c3c; background: black; }
#footer-bottom  .wrapper                  { height: 30px; line-height: 30px; }
#footer-bottom  a                         { color: white }
#footer-bottom  p                         { line-height: 1.3em }

#footer-bottom #tnlogo {
  background: url(../images/iframe-sprite.png) -82px -36px no-repeat;
  /*background: transparent url('../images/logo-tn-footer.png') no-repeat 0 0;*/
  display: block;
  height: 31px;
  width: 35px;
  text-indent: -9999px;
  float: left;
  margin: 2px 10px 0 3px;
}

body > img { display: none }

h1,h2,h3 {font-weight: normal;}

.title {
    margin-bottom: 14px;
    margin-top: -14px;
}

.title h1 {margin-bottom: 3px; font-weight: bold; text-align: center;}

.title .size-7 {
    font-size: 60px;
    line-height: 1.1em;
}

.title h2 {font-size: 20px;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top: -2px;
    word-spacing: -2px;
    text-align: center;
    margin-bottom: 5px;}
    
    
.video {
  display:block;
  margin: 0 auto 0 auto;
}