---
title: "[TITLE] | TN.com.ar"
description: [DESC]
keywords: lorem, ipsum, dolor sit, admet
datapage: flb-tn
class: flb-page
adtop: false
certifica_path: TN/Home
certifica_desc: TN Home
---

<div class="flb-bg top-bg"></div>
<section id="flb-device" class="clearfix">
	<article>
		<div id="device"></div>
			<div class="flb-device-content">
				<h1>
					<b>TN.com.ar</b> está en <b>Flipboard</b>
				</h1>
				<div class="content-text">
					Las últimas noticias y las mejores fotos y videos de TN ya estàn en Flipboard, la revista para móviles y tablets más utilizada en el mundo.
					En pocos segundos podés estar disfrutando de los mejores contenidos de TN.com.ar en tu dispositivo Android, iPhone o en tu iPad.
				</div>
				<footer class="download-cta">
					<a title="app-store" href="" class="app-store">
						App Store
					</a>
				<a title="android-store" href="" class="android-store">
					Android Store
				</a>
			</footer>
		</div>
	</article>
</section>

<div class="bottom-bg">
  <section id="app-description" class="clearfix">
    <article>
      <div class="content">
        <h2>
          ¿Qué es Flipboard?
        </h2>
        <p>
          Es una Herramienta para tabletas y celulares disponible en Android, iPhone y iPad que te permite acceder a noticias y otros contenidos en un formato similar al de una revista.
        </p>
        <h2>
          ¿Cómo encuentro el contenido de TN en Flipboard?
        </h2>
        <p>
          Es fácil: descarga Flipboard en tu dispositivo. Una vez en la app, presioná en la búsqueda, escribí <a title="flipboard" href="http://tn.com.ar/flipboard">http://tn.com.ar/flipboard</a> y cuando aparezca TN.com.ar seleccionalo. Cuando ingreses, presioná en la opción "Agregar a Flipboard" que está en el margen superior izquierdo de la pantalla.
        </p>
        <h2>
          ¿Qué contenido voy a ver en Flipboard?
        </h2>
        <p>
          Vas a tener acceso a todas las notas de Tn.com.ar, las fotos y los mejores videos del sitio.
          Es completamente gratis.
        </p>
        </div>
    </article>
  </section>
</div>