---
title: Preguntas frecuentes | TN y la Gente | TN.com.ar | Todo Noticias
description: Todas las cosas que querés saber para aprovechar mejor TN y la Gente, la comunidad de TN.com.ar, el sitio del canal de noticias más visto de Argentina.
---
<section id="faq" class="terms">
  <h1>Preguntas frecuentes</h1>
	<ol>
    <li>  
      <h2>¿Qué es TN y la Gente?</h2>
      <p>TN y la Gente es la comunidad de TN.com.ar. Combina todas tus interacciones en el sitio (comentarios y reacciones) con las notas, fotos y videos que quieras publicar. Hacerlo es realmente sencillo: podés crear tu cuenta en TN.com.ar o sincronizar tus redes sociales en el sitio.</p>
    </li>
    <li>  
      <h2>¿Cómo creo mi cuenta en TN y la Gente?</h2>
      <p>Es fácil. <a href="http://tn.com.ar/user" title="Registrate">Podés crear tu cuenta en TN.com.ar</a> en dos simples pasos o podés integrarte a TN y la Gente con tus usuarios de <a href="http://www.facebook.com" title="Facebook" target="_blank">Facebook</a> o <a href="http://www.twitter.com" title="Twitter" target="_blank">Twitter</a>. Solo tenés que hacer clic en los íconos que se encuentran en la parte superior del sitio y, en menos de un minuto, vas a tener tu cuenta enlazada a TN y la Gente.</p>
    </li> 
    <li>  
      <h2>¿Mis contenidos pueden ser destacados en TN.com.ar o la televisión?</h2>
      <p>¡Sí, pueden! Mientras más calidad tengan tus fotos o videos y más clara sea la redacción de tus notas, más posibilidades tienen de ser destacadas en TN.com.ar y de aparecer en la pantalla de Todo Noticias. Queremos que seas parte de todos los contenidos de TN.</p>
    </li> 
    <li>  
      <h2>¿Cómo subo una foto o un video?</h2>
      <p>En la <a href="http://tn.com.ar/tnylagente/publicar" title="¡Publicá ahora!">página de publicación</a> de tu nota vas a ver que debajo del formulario hay dos campos: en uno podés elegir las fotos de tu computadora que van a ser parte de tu nota, y en el otro el video que quieras publicar en TN y la Gente.</p> 
      <p>Soportamos casi cualquier formato, así que si tenés videos de tu celular o cámara digital, no dudes en compartirlos. Tené en cuenta lo mismo para las fotos.</p>
      <p>Mientras mejor calidad tengan tus videos e imágenes mejor van a ilustrar tus notas.</p>
    </li> 
    <li>  
      <h2>¿Puedo subir una galería de imágenes?</h2>
      <p>Sí. Podés subir una galería con la cantidad de fotos que quieras. En la <a href="http://tn.com.ar/tnylagente/publicar" title="¡Publicá ahora!">página de publicación</a> vas a encontrar en la parte inferior del formulario un botón para subir de a una imagen desde tu PC. Debajo de este botón, tenés la opción de agregar otra foto. Podés agregar cuantas quieras en tu nota, mientras esta no cuente con un video. En ese caso, podés subir un video y una foto.</p>
      <p>También podés embeber un video desde YouTube y crear una galería con todas las fotos que necesites.</p>
    </li> 
    <li>  
      <h2>¿Puedo poner un video de YouTube en mis notas?</h2>
      <p>Claro que sí. Solo tenés que pegar el código para embeber el video de YouTube en la parte de la nota que quieras (siempre en el cuerpo de las notas; no vas a poder hacerlo en las bajadas) y al completar tu nota, publicarla. El video se va a insertar donde lo hayas indicado.</p>
    </li> 
    <li>  
      <h2>¿Qué elementos tiene que tener una nota en el sitio?</h2>
      <p>Puede que no tengas toda la información, pero hay partes que no pueden faltar. ¿Qué sucede, cómo, dónde, cuándo y por qué?</p>
    </li> 
    <li>  
      <h2>¿Cómo se decide qué acontecimientos merecen ser noticia para mi comunidad?</h2>
			<p>Sentite libre para proponer las noticias que sean relevantes para vos y para tus amigos de TN y la Gente.</p>  
			<p>Pueden ser importantes por cualquiera de estos motivos: la cantidad de personas afectadas, el impacto, lo imprevisible y fuera de lo común del hecho, la novedad, la originalidad, la cercanía geográfica, la jerarquía de los personajes.</p>  
			<p>Puede haber más criterios, lo interesante es que sientas que esa noticia que elegiste contar también le importa a tu comunidad.</p>
    </li>
    <li>
      <h2>¿Sobre qué temas puedo hablar en mis notas?</h2>
			<p>No te sientas limitado. En TN y la Gente pensamos que todo lo que sucede en tu comunidad es importante. Si sos fan de las mascotas, escribinos sobre los perros perdidos de tu barrio. Si tenés una banda de rock, contanos las fechas próximas en las que tocás, o subí una muestra de lo que hacés. Si sos lector empedernido, recomendá libros. Podés hablar de hobbies, arte, deporte, tránsito, pareja, ecología, tecnología, viajes, comida, ¡sobre lo que quieras!</p> 
			<p>No te ates a las secciones tradicionales de Economía, Política, Sociedad, Espectáculos, Internacionales, ¡armá tus propias categorías y proponenos los temas que te interesan!</p> 
    </li> 
    <li>
      <h2>¿Cómo se escribe un buen título?</h2>
      <p>Si querés que tu nota sea leída, tenés que esforzarte para que tu título capte la atención y se distinga del resto. Un buen título sintetiza un conflicto y capta el interés del lector. Los mejores son los breves, claros y contundentes.</p>
    </li> 
    <li>
      <h2>¿Qué contiene una bajada?</h2>
      <p>Amplía el título y le proporciona un contexto. No repite la información que ya se dio: la completa y le agrega tensión. Diseña el suspenso, y deja con ganas al lector para que siga leyendo. Sólo anticipa un poquito lo que vendrá. Por eso, sólo conviene revelar lo imprescindible.</p>
    </li> 
    <li>
      <h2>¿Qué son y para qué sirven los tags y los enlaces? ¿Cómo se usan?</h2>
			<p>Los tags son las palabras clave y sirven para posicionar bien el contenido en buscadores. Para pensarlas, es útil preguntarnos: ¿qué keywords tipeariamos si buscamos determinado contenido en Google? (se taguean protagonistas, nombres propios, lugares, casos, secciones, disciplinas, etc.).</p> 
			<p>Los enlaces son el alma de internet porque conectan la información. Nos permiten contextualizar una nota, ampliarla, hacer aclaraciones, agregarle antecedentes o repercusiones, entre otras funciones (se enlaza a biografías de personajes, notas relacionadas, etc.)</p> 
    </li> 
    <li>
      <h2>¿Qué extensión tiene que tener mi nota?</h2>
			<p>No hay una longitud exacta e idéntica para todas las noticias. Cada información demanda la extensión que se merece. A veces con una foto, un video o un título es suficiente. Otras veces, se necesita una explicación más detallada.</p> 
			<p>Pese a esto, mientras más breve, mejor, porque facilita la lectura online. Podés decir más con  menos palabras y suplir lo accesorio con los enlaces pertinentes.</p>
    </li>
    <li>
      <h2>¿Puedo editar mis notas?</h2>
      <p>Si, claro. Para ello tenés que estar logueado y vas a ver un enlace con la palabra “Editar” encima del título. Si hacés clic, vas a estar en la página de edición de tu artículo.</p>
    </li> 
    <li>
      <h2>¿Cómo publico mis notas en Twitter y Facebook?</h2>
      <p>Una vez que termines de escribir tu nota o subir tus fotos y videos, solo tenés que activar las opciones que se encuentran al pie de la <a href="http://tn.com.ar/tnylagente/publicar" title="¡Publicá ahora!">página de publicación</a>. Cuando publiques el artículo, TN y la Gente lo enviará automáticamente a tu Facebook y Twitter. Recordá que tenés que tener relacionadas tus cuentas con la de TN.com.ar</p>
    </li> 
	</ol>
</section>
