---
title: Tips y claves | TN y la Gente | TN.com.ar | Todo Noticias
description: Todas las cosas que tenés que saber para usar mejor TN y la Gente, la comunidad de TN.com.ar, el sitio del canal de noticias más visto de Argentina.
---

<section id="help">
  <h1>¡Ya estás en TN y la Gente! Ahora, te damos la bienvenida con algunas claves para participar de la comunidad:</h1>
  <ol class="help-list clearfix">
    <li class="item item-1">
      <span class="number">1</span>
      <h2><a href="http://tn.com.ar/user" title="Registrate">¡Unite, es fácil!</a></h2>
      <p><a href="http://tn.com.ar/user" title="Registrate">Creá tu cuenta</a> en TN.com.ar: podés activar una o integrar TN.com.ar a tus cuentas de <a href="http://www.facebook.com" title="Facebook" target="_blank">Facebook</a> y/o <a href="http://www.twitter.com" title="Twitter" target="_blank">Twitter</a>.</p>
    </li>
    <li class="item item-2">
      <span class="number">2</span>
      <h2><a href="http://tn.com.ar/tnylagente/publicar" title="¡Empezá a publicar!">¡Empezá a publicar!</a></h2>
      <p><a href="http://tn.com.ar/tnylagente/publicar" title="Escribí tu primera nota">Escribí tu primera nota</a>, subí tus fotos o videos y comenzá a ser parte de TN y la Gente, la comunidad de TN.com.ar</p>
    </li>
    <li class="item item-3">
      <span class="number">3</span>
      <h2>Más calidad es mejor</h2>
      <p>Mientras más calidad tengan tus fotos y videos, mejor ilustradas van a estar tus notas</p>
    </li>
    <li class="item item-4">
      <span class="number">4</span>
      <h2>¡Distribuí tus ideas!</h2>
      <p>Compartí tus notas en redes sociales de manera sencilla: con un clic podés enviar tus notas a <a href="http://www.facebook.com" title="Facebook" target="_blank">Facebook</a> o <a href="http://www.twitter.com" title="Twitter" target="_blank">Twitter</a></p>
    </li>
    <li class="item item-5">
      <span class="number">5</span> 
      <h2><a href="http://tn.com.ar/tnylagente/ahora" title="Ahora en TN y La Gente">Toda tu actividad en TN.com.ar está en TN y la Gente</a></h2>
      <p>Comentá las notas del sitio y las de los otros usuarios de TN y la Gente. Expresate a través de tus reacciones: todo se publica en tu perfil de usuario.</p>
    </li>
    <li class="item item-6">
      <span class="number">6</span>
      <h2>Seguinos y enterate de todo</h2>
      <p>Sumate a nuestras cuentas de <a href="http://www.facebook.com/todonoticias" title="TN en Facebook" target="_blank">Facebook</a> o <a href="http://www.twitter.com/todonoticias" title="TN en Twitter" target="_blank">Twitter</a> y mantenete al tanto de todo lo que pasa en la comunidad de TN.com.ar</p>
      <p class="second-p">Para más preguntas sobre cómo participar y cómo mejorar tu contenido, te dejamos nuestra página de: <a class="faq-link" href="">Preguntas Frecuentes</a></p>
    </li>
    <li class="item item-7">
      <span class="number">7</span>
      <h2>Queremos que seas parte</h2>
      <p>Por eso, tus notas pueden ser destacadas en cualquier sección de TN.com.ar y llegar a la <a href="http://tn.com.ar/envivo/24hs" title="TN en vivo">pantalla de TN</a></p>
    </li> 
  </ol>

</section>