---
title: Términos de uso
header: alert
billboard: no
---
<div class="terms">
  <header class="flow">
    <h2>Proteccion de Datos Personales</h2>
  </header>
  <div class="center">
    <img src="http://cdn.tn.com.ar/sites/all/themes/dozer/images/Afiche_derecho_de_acceso.gif"><br>
    <a href="http://www.jus.gov.ar/datos-personales.aspx/" target="_blank">
      <img src="http://cdn.tn.com.ar/sites/all/themes/dozer/images/isologotipo-registro-2011v.3.jpg">
    </a>
  </div>
</div>