---
title: Términos de uso
header: alert
billboard: no
---
<!-- terms/terms.html -->
<div class="terms">
  <header class="flow">
    <h2>Términos y condiciones</h2>
  </header>

<ol>
<li><span class="b">Aceptación:</span> Al usar y/o Visitar el sitio web “TN y la gente” alojado en la URL www.tnylagente.com.ar, incluido todo el Contenido disponible en el mismo, manifiesta su consentimiento a los presentes términos y condiciones (Las “Condiciones de Uso” o “de Servicio”) y a las condiciones de notificación de privacidad de TN Y LA GENTE, que se encuentran publicadas en el presente. En caso de no estar de acuerdo con alguna de estas condiciones, por favor absténgase de usar el Sitio Web TN y la gente.
</li>
<li><span class="b">Sitio Web TN y la gente:</span>
Las presentes Condiciones de Servicio se aplican a todos los usuarios del Sitio Web TN y la gente, incluidos aquellos que aportan contenido de video, información y otros materiales o servicios al Sitio Web, cualquiera sea el medio utilizado para el aporte de dicho contenido. El Sitio Web TN y la gente puede contener enlaces a sitios web de terceros que no son de propiedad de TN y la gente ni están controlados por éste. TN y la gente no controla el contenido ni las políticas o prácticas de privacidad de sitios web de terceros, como así tampoco asume responsabilidad alguna por dichos contenidos, políticas o prácticas. Asimismo, TN y la gente no procederá a censurar o editar el contenido de sitios web de terceros, como así tampoco tendrá la facultad de hacerlo. Al hacer uso del Sitio Web, usted exime expresamente a TN y la gente de toda responsabilidad que pudiera surgir por hacer uso de sitios web de terceros. En tal sentido, le sugerimos que una vez que abandone el Sitio Web TN y la gente, lea los términos y condiciones y la política de privacidad de cualquier otro sitio web que visite.</li>
<li><span class="b">Acceso al Sitio Web</span>
<ol class="letras"><li>Por el presente TN y la gente lo autoriza a usar el Sitio Web según lo establecido en las presentes Condiciones de Servicio, siempre y cuando usted: (i) haga uso del Sitio Web para fines exclusivamente personales y no comerciales; (ii) se abstenga de copiar o distribuir alguna parte del Sitio Web en cualquier medio sin la autorización previa por escrito de TN y la gente ; (iii) no altere ni modifique alguna parte del Sitio Web y (iv) cumpla con los términos y condiciones de las presentes Condiciones de Servicio.</li>
<li>Para poder acceder a algunos de los contenidos del Sitio Web, usted deberá ingresar a la URL www.tnylagente.com.ar. Una vez que haya ingresado, podrá acceder a los contenidos expuestos en el Sitio Web como así también podrá mandarnos sus fotos y videos a fin de que los mismos sean publicados por TN y la gente en su Sitio Web; esto mismo también podría ser realizado a través de su teléfono celular.</li>
<li>Usted se compromete a no usar o lanzar ningún sistema automático, incluidos entre otros “robots”, “arañas” [spiders], “lectores offline” [offline readers], etc., que accedan al Sitio Web de manera tal que envíen más mensajes de solicitud a los servidores de TN y la gente durante un período determinado de lo que un ser humano podría producir razonablemente utilizando un buscador web on-line durante ese mismo período.</li></ol></li>
<li><span class="b">Información a Publicar</span>
Una vez que haya ingresado en el Sitio Web de TN y la gente y clickeado en la opción habilitada a fin de que pueda hacer llegar a nuestros servidores sus fotos y/o videos, usted podrá, previa aceptación obligatoria de las presentes Condiciones de Servicio, enviarnos las mencionadas fotos y/o videos. A su sola discreción, podrá ingresar sus datos de identificación personal como su nombre y apellido. Solo le será exigible el ingreso de una dirección de correo electrónico. De igual forma, y en el caso en que las fotos y/o videos hayan sido enviadas desde un teléfono celular a través de un mensaje multimedia (MMS), el solo envío de dicho mensaje implica la aceptación de todos los términos y condiciones de las presentes Condiciones de Servicio. Inicialmente solo podrán utilizar esta facilidad, los usuarios de Movistar (Telefónica Móviles Argentina S.A.) y el envío de cada mensaje tendrá un valor de $1,50 más impuestos, los que dependerán de la operadora celular.</li>
<li><span class="b">Reserva de Derechos.</span>
TN y la gente se reserva el derecho, a su exclusiva discreción, de rechazar, suprimir, negarse a publicar, restringir, suspender o dar por terminado su acceso a todos o a algunos de los Servicios de TN y la gente en cualquier momento, con o sin causa, con o sin aviso y sin que ello le genere responsabilidad alguna a ésta última
<ol class="num">
<li>Plazo. El presente permanecerá plenamente vigente mientras usted use los Servicios de TN y la gente.</li>
<li>Uso no comercial. Los Servicios de TN y la gente son únicamente para uso personal y no pueden ser utilizados en relación con actividades comerciales, salvo aquéllas que estén expresamente autorizadas o aprobadas por TN y la gente. Se prohíbe todo uso ilegal y/o no autorizado de los Servicios de TN y la gente, como por ejemplo la recopilación de direcciones de correo electrónico o números de teléfonos celulares por medios electrónicos o de otra clase con el fin de enviar correos no solicitados, la colocación no autorizada de marcos en el Website TN y la gente o la realización de un enlace con este último. Se tomarán las medidas legales que correspondan ante cualquier uso ilegal o no autorizado de los Servicios de TN y la gente.</li>
<li>Derechos de Propiedad sobre el Contenido de TN y la gente. TN y la gente no se atribuye ni detenta derechos de propiedad sobre el texto, los archivos, imágenes, fotografías, videos, sonidos, obras musicales, obras de autoría ni sobre ningún otro material (en conjunto el “Contenido”) que usted envía al Sitio Web de TN y la gente para su publicación. Después de enviar su Contenido al Sitio Web de TN y la gente, usted continúa teniendo todos los derechos de propiedad sobre dicho Contenido. Al enviar cualquier Contenido al Sitio Web de TN y la gente, usted otorga a TN y la gente una licencia - para usar, modificar, ejecutar y exhibir públicamente, reproducir y distribuir dicho Contenido - en el Sitio Web de TN y la gente, como así también a través de la Señal Televisiva de Todo Noticias (TN) y/o a través de los programas de Canal 13 de Buenos Aires y tanto en el Territorio de la República Argentina como en los países del resto del mundo.- Estas exhibiciones podrán ser realizadas por Canales de Cable; Circuitos Cerrados; Televisión Satelital (DTH); Televisión Digital: Alta Definición; y/o por cualquier otra forma creada o a crearse en el futuro que permita o fuere capaz transportar; recibir y/o emitir imágenes y sonidos.- Sin la referida licencia, TN y la gente no podría publicar dichos Contenidos. Por ejemplo, si no tuviera el derecho de modificar el Contenido enviado por los usuarios, TN y la gente no podría comprimir digitalmente los archivos de música que se envían o formatear el Contenido para satisfacer los requerimientos técnicos. La licencia que usted otorga a TN y la gente es de carácter no exclusivo (lo que implica que usted puede licenciar su Contenido a cualquier otra persona además de TN y la gente, se la considera íntegramente pagada y exenta del pago de regalías (lo que implica que TN y la gente no está obligada a pagarle a usted por el uso que se haga en el Web Site de TN y la gente y/o su emisión por TN y/o los programas de Canal 13 de Buenos Aires y tanto en el Territorio de la República Argentina como en los países del resto del mundo.- Estas exhibiciones podrán ser realizadas por Canales de Cable; Circuitos Cerrados; Televisión Satelital (DTH); Televisión Digital: Alta Definición; y/o por cualquier otra forma creada o a crearse en el futuro que permita o fuere capaz transportar; recibir y/o emitir imágenes y sonidos.- del Contenido que usted envíe), susceptible de ser sublicenciada (de modo que TN y la gente pueda usar a sus afiliadas y subcontratistas, tales como redes de distribución de contenidos vía internet y/o televisiva, a fin de brindar los Servicios de TN y la gente ) y de índole internacional (porque internet y los Servicios de TN y la gente tienen alcance mundial). Esta licencia concluirá en el momento en que TN y la gente retire su Contenido del Web Site. La licencia no otorga a TN y la gente el derecho de vender su Contenido ni de distribuirlo fuera de los Servicios de TN y la gente previstos en la presente cláusula.</li>
<li>Usted declara y garantiza que: (i) es propietario del Contenido que usted envía a los Servidores de TN y la gente o que de otro modo posee el derecho de otorgar la licencia referida en este artículo, y (ii) el Contenidos enviado para su publicación en el Web Site de TN y la gente no viola los derechos de privacidad, publicidad, el copyright, derechos contractuales ni ningún otro derecho de persona alguna. Usted acuerda pagar todas las regalías, honorarios y demás sumas que deban abonarse a cualquier persona con motivo de cualquier Contenido enviado por usted al Sitio de TN y la gente.</li>
<li>Los Servicios de TN y la gente incluyen Contenidos que pertenecen a TN y la gente (el "Contenido de TN y la gente). El Contenido de TN y la gente está protegido conforme a las leyes de copyright, marcas, patentes, secretos comerciales y de otra clase y TN y la gente es titular y conserva todos los derechos sobre el Contenido de TN y la gente y los Servicios de TN y la gente. TN y la gente por el presente le otorga a usted el derecho de visualización del Website de TN y la gente y la utilización de los Servicios de TN y la gente.</li>
</ol>
</li>
<li><span class="b">Contenido Publicado:</span>
<ol class="num"><li>TN y la gente puede abstenerse de publicar sin incurrir en responsabilidad alguna, cualquier Contenido por usted enviado que, a exclusivo criterio de TN y la gente conforme parámetros periodísticos y éticos, viole a lo que por el presente se publica o que pueda resultar ofensivo, ilegal o violatorio de derechos o que pueda dañar o atentar contra la seguridad de cualquier persona. TN y la gente no asume la responsabilidad de controlar los Servicios de TN y la gente con el objeto de detectar la existencia de Contenido o conductas impropias. Aunque en algún momento TN y la gente opte, a su exclusiva discreción, por controlar los Servicios de TN y la gente, TN y la gente no asume ninguna responsabilidad por el Contenido como tampoco se responsabiliza por la conducta del Usuario que envía dicho Contenido.</li>
<li>Usted es exclusivamente responsable del Contenido que envía al Sitio Web de TN y la gente.</li></ol></li>
<li><span class="b">Contenido/Actividad Prohibidos:</span>
Se incluye a continuación un listado no taxativo de Contenidos que se consideran ilegales o que TN y la gente se abstendrá de publicar en el Web Site de TN y la gente. TN y la gente se reserva el derecho de investigar y de tomar las medidas legales pertinentes contra cualquier persona que, a su exclusiva discreción, viole esta disposición. Contenido Prohibido incluye, pero sin carácter limitativo, todo Contenido que, a exclusiva discreción de TN y la gente:
<ul><li>Sea claramente ofensivo y fomente el racismo, la intolerancia, el odio o el daño físico de cualquier índole contra un grupo o una persona.</li>
<li>Acose o incite a acosar a otras personas.</li>
<li>Explote personas en forma violenta o sexualmente.</li>
<li>Contenga material de desnudez, violento u obsceno o contenga un enlace a un sitio para adultos.</li>
<li>Solicite información personal a personas menores de 21 años.</li>
<li>Suministre números telefónicos, direcciones, apellidos, URLs o direcciones de correo electrónico.</li>
<li>Promocione información que usted sabe que es falsa o engañosa o fomente actividades o conductas ilegales que sean abusivas, peligrosas, obscenas, difamatorias o infamantes.</li>
<li>Promocione una copia ilegal o no autorizada de la obra de otra persona protegida con el copyright, como por ejemplo ofrecer programas de computación clandestinos (pirateados) o enlaces a los mismos, brindar información para evadir dispositivos de protección de copias instaladas de fábrica, o suministrar música en forma clandestina (pirateada) o enlaces a archivos de música tomados en forma clandestina (pirateada).</li>
<li>Implique la transmisión de correos no deseados [“junk mail”], cartas en cadenas o correos masivos no solicitados, mensajes instantáneos u otro tipo de correos similares [“spimming”, “spamming”].</li>
<li>Contenga páginas con acceso restringido o exclusivamente con contraseña o páginas u imágenes ocultas (aquellas que no se enlacen a o desde otras páginas accesibles).</li>
<li>Promueva o favorezca alguna actividad o empresa ilícita o instruya sobre actividades ilegales, incluyendo, pero sin carácter taxativo, la fabricación o compra de armas ilegales, la violación de la privacidad de las personas o el envío o creación de virus informáticos.</li>
<li>Solicite a otros Usuarios información de identificación personal para fines comerciales o ilícitos.</li>
<li>Involucre actividades comerciales y/o ventas sin nuestro previo consentimiento por escrito, como por ejemplo concursos, sorteos, canjes, publicidad o negocios piramidales.</li>
<li>Incluya una fotografía de otra persona que usted haya enviado sin el consentimiento de dicha otra persona o en el caso de perfiles de grupos musicales y productores cinematográficos, use imágenes sexualmente sugestivas o cualquier otro Contenido engañoso, confuso o erróneo, con la intención de atraer tráfico hacia el perfil. Se incluye a continuación un listado no taxativo del tipo de actividad que se considera ilegal o que se prohíbe en el Website de TN y la gente y en el uso de los Servicios de TN y la gente. TN y la gente se reserva el derecho de investigar y de tomar las medidas legales pertinentes contra cualquier persona que, a exclusiva discreción de TN y la gente viole esta disposición, incluyendo, sin carácter taxativo, denunciarlo a las autoridades legales pertinentes. </li></ul>
Actividad Prohibida incluye, pero sin carácter limitativo:
<ul>
<li>Actividades delictivas o ilícitas, incluyendo la pornografía infantil, fraudes, el tráfico de material obsceno, el tráfico de drogas, apuestas, acoso, persecuciones, envío correos no deseados [“spamming”, “spimming”], de virus informáticos u otros archivos dañinos, infracciones al copyright, violaciones de patentes o robo de secretos comerciales.</li>
<li>Publicidad u ofrecimientos dirigidos a algún Usuario para la compra o venta de productos o servicios a través de los Servicios de TN y la gente. Usted no puede transmitir cartas en cadena o correos no deseados [“junk email”] a otros usuarios.</li>
<li>Cubrir u oscurecer los anuncios publicitarios [“banner advertisements”] en cualquier página de TN y la gente mediante HTML/CSS o por cualquier otro medio.</li>
<li>Todo uso automatizado del sistema, como por ejemplo utilizar secuencias de instrucciones para agregar amigos o enviar comentarios o mensajes.</li>
<li>Interferir, interrumpir o crear una sobrecarga en los Servicios de TN y la gente o en las redes o servicios conectados a los Servicios de TN y la gente.</li>
<li>Usar cualquier información obtenida de los Servicios de TN y la gente con el fin de acosar, abusar de o dañar a otra persona.</li>
<li>Aceptar un pago o algo de valor de un tercero a cambio de que usted realice una actividad comercial en los Servicios de TN y la gente o a través de los mismos en representación de dicha persona.</li>
<li>Usar los Servicios de TN y la gente en forma contraria a las leyes y reglamentaciones aplicables.</li></ul></li>
<li><span class="b">Derechos de Propiedad Intelectual:</span>
Con excepción del Material Enviado por el Usuario (definido más adelante), el contenido del Sitio Web TN y la gente, incluidos entre otros texto, software, guiones, gráficos, fotos, sonidos, música, videos, contenidos interactivos y similares (el “Contenido”), así como las marcas registradas, marcas de servicio y logos (“Marcas”) son de propiedad de TN y la gente o han sido otorgados a éste bajo licencia, y quedan sujetos a derechos de autor u otros derechos de propiedad intelectual de conformidad con la legislación Argentina, la legislación extranjera y convenciones internacionales. El Contenido del Sitio Web es suministrado EN EL ESTADO EN QUE SE ENCUENTRA a los fines informativos y únicamente para uso personal, y no podrá ser utilizado, copiado, reproducido, distribuido, transmitido, exhibido, vendido, sujeto a licencias o explotado de cualquier otro modo ni con algún otro fin sin que mediare el consentimiento previo por escrito de sus respectivos propietarios. TN y la gente se reserva todos los derechos que no sean otorgados expresamente al Sitio Web y al Contenido. Usted se compromete a no hacer uso, copiar o distribuir el Contenido salvo en que se lo autorice expresamente por medio del presente, incluido el uso, copia o distribución del Material de terceros Enviado por el Usuario obtenido a través del sitio Web con fines comerciales. Si usted descarga o imprime una copia del Contenido para uso personal, deberá guardar todas las notificaciones de derechos de autor y otros derechos de propiedad que allí se encuentran. Usted se compromete a no omitir, desactivar o interferir con los contenidos de seguridad del Sitio Web TN y la gente ni con los contenidos que eviten o restrinjan la utilización o la copia de algún Contenido o que impongan límites al uso del Sitio Web TN y la gente o su Contenido.</li>
<li><span class="b">Material Enviado por el Usuario:</span>
<ol class="letras"><li>Ampliando el punto 6 precedente se establece que El Sitio Web TN y la gente puede, actualmente o en el futuro, permitir la presentación de videos u otras comunicaciones que usted y otros usuarios presenten (“Material Enviado por el Usuario”). Usted entiende que independientemente de que el Material Presentado por el Usuario se publique o no, TN y la gente no garantiza confidencialidad alguna respecto de dicho material presentado.</li>
<li>Usted será el único responsable de su propio Material Enviado por el Usuario y de las consecuencias de presentar o enviar para su publicación de dicho material. Respecto del Material Enviado por el Usuario, usted manifiesta, declara y/o garantiza: (i) ser el propietario o contar con todas las licencias, derechos, consentimientos y permisos de uso necesarios, y autoriza a TN y la gente a usar todas las patentes, marcas comerciales, secretos comerciales, derechos de autor o cualquier otro derecho de propiedad intelectual sobre el Material Enviado por el Usuario para que TN y la gente pueda incluir o usar dicho Material de conformidad con el modo contemplado en el Sitio Web y las presentes Condiciones de Servicio; y (ii) contar con el consentimiento, autorización y/o permiso por escrito de cada una de las personas que aparecen en el Material Enviado por el Usuario a los fines de usar el nombre u otro modo de identificación similar de dichas personas a los fines de permitir la publicación del Material Enviado por el Usuario y que se pueda hacer uso del mismo de conformidad con el modo contemplado en el Sitio Web y las presentes Condiciones de Servicio. A los fines de evitar confusiones, usted retendrá todos los derechos de propiedad sobre el Material Enviado por el Usuario. No obstante, al enviar el Material Enviado por el Usuario a TN y la gente, usted le otorga por el presente a TN y la gente una licencia mundial, no exclusiva, libre de regalías, susceptible de otorgamiento de sublicencias y transferible para usar, reproducir, distribuir, preparar obras derivadas, exhibir y efectuar la presentación de Material Enviado por el Usuario en relación con el Sitio Web TN y la gente y la actividad comercial de TN y la gente (y sus sucesores), incluidas entre otras, la promoción y redistribución de todo o parte del Sitio Web TN y la gente (y obras derivadas de éste) en cualquier formato de medios y a través de cualquier canal. Por el presente usted también otorga a cada usuario de TN y la gente una licencia no exclusiva para acceder a su Material Enviado por el Usuario a través del Sitio Web, y para usar, reproducir, distribuir, preparar obras derivadas, exhibir y presentar Material Enviado por el Usuario en la medida en que la funcionalidad del Sitio Web lo permita y de conformidad con las presentes Condiciones de Servicio. Dicha licencia se extinguirá una vez que TN y la gente quite o borre el Material Enviado por el Usuario del Sitio Web TN y la gente.</li>
<li>Respecto del Material Enviado por el Usuario, usted se compromete a no: (i) enviar material que esté protegido por derechos de autor, por secretos industriales o que de algún modo estuviera sujeto a derechos de propiedad de terceros, a menos que usted fuera propietario de dichos derechos o contara con autorización del propietario para enviar el material y conceder a TN y la gente todos los derechos de licencia otorgados en virtud del presente; (ii) enviar información falsa o efectuar declaraciones falsas que pudieran ocasionar daños a TN y la gente o a terceros; (iii) enviar material que fuera ilegal, obsceno, calumnioso, difamatorio, amenazante, pornográfico, hostil, odioso, ofensivo desde el punto de vista racial o étnico, que aliente una conducta que podría ser considerada delito, que dé lugar a responsabilidad civil, viole alguna ley o sea inadecuado en algún otro aspecto; (iv) enviar avisos u ofrecimientos comerciales; (v) hacerse pasar por otra persona. TN y la gente no respalda el Material Enviado por el Usuario, así como tampoco ningún tipo de opinión, recomendación o consejo expresados en éste, y se exime expresamente de toda responsabilidad emergente del Material Enviado por el Usuario. TN y la gente no permite actividades que violen derechos de autor ni la violación de derechos de propiedad intelectual dentro de su Sitio Web, y filtrará en forma previa a su publicación todo el Contenido y Material Presentado por el Usuario si dicho Contenido o Material Enviado por el Usuario infringe derechos de propiedad intelectual ajenos. TN y la gente se reserva el derecho de filtrar y editar conforme a su criterio periodístico el Contenido y el Material Enviado por el Usuario sin previo aviso. TN y la gente también dará por concluido el acceso del Usuario a su Sitio Web si se corrobora que el Usuario ha incurrido en reiteradas violaciones de derechos. TN y la gente se reserva el derecho de decidir si el Contenido o el Material Enviado por el Usuario es apropiado y cumple con las presentes Condiciones de Servicio al no incurrir en otras violaciones además de la violación a derechos de autor y de propiedad intelectual, como ser, entre otras, pornografía, material obsceno o difamatorio o de longitud excesiva.</li></ol></li>
<li><span class="b">Copyright:</span>
Usted no puede enviar, modificar, distribuir o reproducir en modo alguno ningún material protegido con el copyright, marcas registradas u otra información protegida perteneciente a otras personas sin haber obtenido el previo consentimiento por escrito del titular de tales derechos protegidos. Es política de TN y la gente filtrar y no publicar tales Contenidos. Sin que implique limitar lo antedicho, si usted cree que su obra ha sido copiada y publicada en los Servicios de TN y la gente en violación del copyright, le agradeceremos que envíe a nuestro Representante de Copyright la siguiente información: (i) una firma electrónica o física de la persona autorizada para actuar en representación del titular del copyright; (ii) una descripción de la obra protegida con el copyright que usted manifiesta que ha sido infringida; (iii) una descripción del lugar en el que está ubicado dentro de los Servicios de TN y la gente el material que usted manifiesta que está en violación; (iv) su domicilio, número de teléfono y dirección de correo electrónico; (v) una declaración escrita mediante la cual usted manifieste su creencia de buena fe de que el uso que está cuestionando no cuenta con la autorización del titular del copyright, su representante o la ley; (vi) una declaración, efectuada bajo pena de perjurio, en la que manifieste que la referida información incluida en su notificación es exacta y que usted es el titular del copyright o que está autorizado para actuar en nombre del titular del copyright. Para notificar reclamos relativos a violaciones del copyright, puede contactarse al Representante de Copyright de TN y la gente: “TN Noticias” y correo electrónico: mensajes@tn.com.ar.</li>
<li><span class="b">Exención de responsabilidad: </span>
TN y la gente no se hace responsable del Contenido incorrecto o inexacto que usted envíe y luego se publique en el Website TN y la gente o en relación con los Servicios de TN y la gente, ya sea que los mismos provengan de Usuarios de los Servicios de TN y la gente o de cualquiera de los equipos o programas asociados con los Servicios de TN y la gente o utilizados en los mismos. TN y la gente no se responsabiliza por la conducta en línea o fuera de línea de cualquier Usuario de los Servicios de TN y la gente. TN y la gente no asume responsabilidad alguna por errores, omisiones, interrupciones, supresiones, defectos, demoras en la operación o transmisión, desperfectos en las líneas de comunicación, robo o destrucción, acceso no autorizado a cualquier comunicación de los Usuarios o su alteración. TN y la gente no se responsabiliza por problemas o desperfectos técnicos de las redes o líneas telefónicas, sistemas informáticos en línea, servidores o proveedores, equipos de computación, software, desperfectos de correos electrónicos o de reproductores, derivados de inconvenientes técnicos o congestión en el tráfico en internet o en cualquiera de los Servicios de TN y la gente o cualquier combinación de los mismos. Los inconvenientes antedichos incluyen los daños o lesiones a Usuarios o a la computadora de cualquier persona que tenga relación o que resulte de la participación o la descarga de materiales en relación con los Servicios de TN y la gente. Los Servicios de TN y la gente son brindados tal como son, están y aparecen y en la medida en que se encuentren disponibles y TN y la gente desconoce expresamente toda garantía de no violación o de aptitud para un fin específico. TN y la gente no puede garantizar y no promete resultados específicos como consecuencia del uso de los Servicios de TN y la gente.</li>
<li><span class="b">Limitación de Responsabilidad: </span>
Bajo ningún concepto TN y la gente, sus funcionarios, directores, empleados o representantes serán responsables por cualquier daño directo, indirecto, incidental, especial o punitivo que pudiera ser causado por (i) errores o inexactitudes en el contenido; (ii) daños de cualquier naturaleza a la persona o a la propiedad emergentes de su acceso a nuestro sitio web o de su utilización del mismo; (iii) cualquier acceso no autorizado a nuestros servidores seguros y/o a toda información personal y/o financiera almacenada en dicho servidor o utilización de los mismos; (iv) cualquier interrupción o cese de la transmisión desde o hacia nuestro sitio web; (iv) cualquier “bug”, virus, troyano o virus similares que pudieran ser transmitidos por terceros desde o hacia nuestro sitio web; y/o (v) errores u omisiones en el contenido, pérdida o daño de cualquier índole que se pudiera sufrir como consecuencia del contenido enviado y publicado o que fuera puesto a disposición a través del sitio web TN y la gente que tuviera sustento en una garantía, contrato, responsabilidad civil o cualquier otra teoría jurídica, independientemente de si la empresa fue advertida acerca de la posibilidad de que se suscitaran dichos daños. La mencionada limitación debe aplicarse en la medida en que la legislación vigente en la jurisdicción que corresponda lo autorice. En especial, usted reconoce que TN y la gente no será responsable por el material Enviado por el usuario o por conductas difamatorias, ofensivas o ilegales de terceros, y usted asume total riesgo de sufrir algún daño o menoscabo causado por dicho material o conducta. Este sitio web es controlado y llega a usted por TN y la gente desde sus instalaciones en Argentina. TN y la gente se abstiene de manifestar que el sitio web TN y la gente es apropiado para otros lugares, como así tampoco que se encuentre disponible en éstos. Aquellas personas que accedan al sitio web TN y la gente o hagan uso de éste desde otras jurisdicciones lo hacen por su propia voluntad y asumen la responsabilidad de respetar la legislación local.</li>
<li><span class="b">Indemnidad: </span>
Usted se compromete a defender, indemnizar y mantener indemne a TN y la gente, su sociedad controlante, sus funcionarios, directores, empleados o representantes ante cualquier reclamo, indemnización por daños, obligación, pérdida, deuda, costo o gasto (incluidos, entre otros, los honorarios de abogados) que pudieran surgir como consecuencia de (i) su utilización del sitio web TN y la gente o su acceso al mismo; (ii) violación de su parte de cualquiera de las cláusulas de las presentes condiciones de servicio; (iii) violación de su parte de derechos de terceros, incluidos, entre otros, los derechos de autor, de propiedad o de privacidad, o (iv) cualquier reclamo por daños causados a terceros emergentes del material enviado por el usuario de su propiedad. La presente obligación de defensa e indemnización subsistirá aún una vez extinguidas las presentes condiciones de servicio o una vez finalizada su utilización del sitio web TN y la gente.</li>
<li><span class="b">Capacidad para aceptar las condiciones de servicio: </span>
Usted declara poseer capacidad plena para aceptar los términos, condiciones, obligaciones, declaraciones y manifestaciones enunciados en las presentes condiciones de servicio. Asimismo, usted se compromete a respetar y cumplir las presentes condiciones de servicio.</li>
<li><span class="b">Cesión: </span>
Usted deberá abstenerse de ceder o transferir las presentes condiciones de servicio y los derechos y licencias que se conceden en virtud del presente; no obstante, TN y la gente podrá ceder dichos derechos y licencia sin restricción alguna.</li>
<li><span class="b">Generales: </span>
Estas condiciones son aceptadas en el momento en que usted utiliza el Website TN y la genteo cualquiera de los Servicios de TN y la gente o envía un mensaje multimedia (MMS). Estas Condiciones rigen entre usted y TN y la gente con respecto al uso de los Servicios de TN y la gente. El hecho de que TN y la gente no ejerza un derecho o no exija el cumplimiento de una disposición no será interpretado como una renuncia a ejercer dicho derecho o a exigir el cumplimiento de tal disposición en el futuro. Los títulos de los artículos de las presentes condiciones han sido incluidos para comodidad únicamente y no tienen efectos legales o contractuales. TN y la gente es marca registrada de Arte Radiotelevisivo Argentino S.A. Usted acepta que (i) el sitio web TN y la gente sólo tiene su base en la Ciudad Autónoma de Buenos Aires, República Argentina y que (ii) el sitioweb TN y la gente es un sitio web pasivo que no da lugar a que usted ejerza jurisdicción personal sobre TN y la gente, de carácter especial o general, en otras jurisdicciones que no sean las de la Ciudad Autónoma de Buenos Aires. Las presentes Condiciones de servicio se regirán por la legislación de la República Argentina, sin tener en cuenta los principios de derecho internacional privado. Todo reclamo o controversia que pudiera surgir entre usted y TN y la gente como consecuencia de la utilización total o parcial del sitio web TN y la gente será dirimido únicamente por los Tribunales Ordinarios Competentes de la Capital Federal de la República Argentina. Las presentes condiciones de servicio, junto con la notificación de privacidad que se encuentra en http://www.tnylagente.com.ar y demás notificaciones legales publicadas por TN y la gente en el sitio web constituyen la totalidad del acuerdo entre usted y TN y la gente en todos los aspectos concernientes al sitio web TN y la gente. Si alguna de las cláusulas de las presentes condiciones de servicio se tornara inválida en virtud de una declaración judicial de un tribunal competente, la invalidez de dicha cláusula no afectará la validez de las demás cláusulas de las presentes condiciones de servicio, que mantendrán su plena vigencia. La renuncia a cualquiera de los términos de las presentes condiciones de servicio no se interpretará como una renuncia continua o posterior a dicha condición u otras condiciones. Asimismo, la falta de ejercicio de algunos de los derechos o cláusulas de las presentes condiciones de servicio por parte de TN y la gente no constituirá una renuncia a dicho derecho o cláusula. TN y la gente se reserva el derecho de modificar las presentes condiciones de servicio en cualquier momento y sin previo aviso, y usted será responsable de revisar las presentes condiciones de servicio para verificar si se ha producido alguna modificación. Si usted hace uso del sitio web TN y la gente una vez producida la modificación de las presentes condiciones de servicio, dicho uso implicará aceptación de su parte de los términos modificados. Por favor contáctenos a mensajes@tn.com.ar por cualquier consulta relacionada a las presentes Condiciones de Servicio.</li>
<li><span class="b">HE LEIDO LAS PRESENTES CONDICIONES DE SERVICIO Y ADHIERO A TODAS LAS CLAUSULAS CONTENIDAS EN LAS MISMAS.</span></li>
</ol>

</div><!-- end of .singlesection -->
