        
  <div id="posiciones-widget-fixture" class="widget widget-posiciones widget-fixture">
  
    <div class="header">
            <div class="title">
        <h2>Posiciones</h2>
      </div>
    </div>
    
    <div id="posiciones" class="tab clearfix">
      <table class="posicionesCab">
        <thead>
          <tr class="bgTitle">
            <th class="posicion">Nº</th>
            <th class="equipo">Equipo</th>
            <th class="pts">Pts</th>
            <th>Pj</th>
            <th>Pg</th>
            <th>Pe</th>
            <th>Pp</th>
            <th>Gf</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="num">1</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /></td>
            <td class="num">3</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">2</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/san-lorenzo.png" width="19" height="21" /></td>
            <td class="num">3</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">3</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/sanmartin.png" width="19" height="21" /></td>
            <td class="num">3</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">4</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/unionsantafe.png" width="19" height="21" /></td>
            <td class="num">3</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">5</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" /></td>
            <td class="num">2</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">6</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/allboys.png" width="19" height="21" /></td>
            <td class="num">2</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">7</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/argentinos.png" width="19" height="21" /></td>
            <td class="num">2</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">8</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /></td>
            <td class="num">2</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">9</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/belgranocba.png" width="19" height="21" /></td>
            <td class="num">2</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">10</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/boca.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">11</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/colon.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">12</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">13</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/godoy-cruz.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">14</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/independiente.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">15</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/lanus.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">16</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/newell.png" width="19" height="21" /></td>
            <td class="num">1</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">17</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/quilmes.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>
          <tr>
            <td class="num">18</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/racing.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">19</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/atleticorafaela.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">1</td>
          </tr>  
          <tr>
            <td class="num">20</td>
            <td class="equipo"><img src="<%= base_url %>images/escudos/river.png" width="19" height="21" /></td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">0</td>
            <td class="num">0</td>
            <td class="num">1</td>
            <td class="num">1</td>
          </tr>           
        </tbody>
      </table>
      
    </div>

  </div>