---
title: Enloquecen | TN y la Gente | TN.com.ar | Todo Noticias
description: Las notas de TN Famosos que enloquecen a los usuarios de TN y la Gente están en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
ad: false
content_top: 'tnylagente/titulo_reacciones_enloquecen'
extraclass: 'tnylg'
eplanning: false
twitter_text: "Con estas notas enloquecen los usuarios de TN y la Gente"
certifica_path: 'TN/tnylagente/reacciones/enloquecen'
certifica_desc: 'TN y la Gente - Ahora/Me Enloquece'
new: true
---

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me">Lorem Ipsum</a> enloqueció con esto: <a href="">Título de la nota</a> en <a href="http://tn.com.ar/show" title="Famosos">Famosos</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me">Cristina Kirchner</a> enloqueció con esto: <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a> en <a href="http://tn.com.ar/show" title="Famosos">Famosos</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Clark Kent</a> enloqueció con esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a> en <a href="http://tn.com.ar/show" title="Famosos">Famosos</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Peter Parker</a> enloqueció con esto: <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a> en <a href="http://tn.com.ar/show" title="Famosos">Famosos</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Bruno Días</a> enloqueció con esto: <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a> en <a href="http://tn.com.ar/show" title="Famosos">Famosos</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>
