---
title: Buscar en TN y la Gente | TN y la Gente | TN.com.ar | Todo Noticias
description: Buscá todo lo que querés saber sobre los últimos acontecimientos de Argentina y el Mundo en TN y la Gente, la comunidad de TN.com.ar.
header: tweet
billboard: no
ad: true
new: true
---
<!-- busqueda/busqueda.html -->
<section class="search-results only-search">
	<header>
		<h2>Buscar en TN y la Gente</h2>
	</header>
	  <form class="search">
		  <input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder">
		  <input type="submit" value="Buscar" class="submit" />
	  </form>
</section>

<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
