---
title: Búsqueda sin resultados | TN y la Gente | TN.com.ar | Todo Noticias
description: Tu búsqueda no está en TN y la Gente, la comunidad de TN.com.ar, el sitio del canal de noticias más visto de Argentina.
header: urgente
billboard: no
ad: true
new: true
---
<!-- busqueda/busqueda.html -->
<section class="search-results no-results">
	<header>
		<h2>Búsqueda en TN y la Gente</h2>
	</header>
	<p class="results-data">No se encontraron coincidencias. Intentá nuevamente.</p>
	  <form class="search">
		  <input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder">
		  <input type="submit" value="Buscar" class="submit" />
	  </form>
</section>

<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
