---
title: BÚSQUEDA en TN y la Gente | TN y la Gente | TN.com.ar | Todo Noticias
description: Lo que querés saber sobre BÚSQUEDA está en TN y la Gente, la comunidad de TN.com.ar, el sitio del canal de noticias más visto de Argentina.
header: alert
billboard: no
ad: true
new: true
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
more: true
twitter_text: "Estoy leyendo todo sobre [BÚSQUEDA] en TN y la Gente"
---
<!-- busqueda/busqueda.html -->
<section class="search-results">
		<header>
		<h2>Búsqueda en TN y la Gente</h2>
		</header>
	  <p class="results-data">1675 resultados</p>
		<form class="search">
		<input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder">
		<input type="submit" value="Buscar" class="submit" />
		</form>

	<section class="news">

	        <%= render 'river-news/tnylagente-flow' %>
	</section><!-- .news -->

</section><!-- end .search-results -->
<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
