--- 
title: Página no encontrada
header: alert
billboard: no
pager: true
---

<!-- 404/404.html -->

	<div class="tv">
	  <div class="static">
	     <span class="hidden">404</span>
	  </div>
	</div>
	
	<h1>No se encontró la página solicitada.</h1>
	<a class="go-home" href="#">Ir a la pagina de Inicio</a>

  <ul class="reasons">
    <li class="title">Posibles razones del error:</li>
    <li>Que haya escrito la dirección en forma incorrecta.</li>
    <li>Que el vínculo esté desactualizado o apunte a una dirección equivocada.</li>
    <li>Que la página que busca haya sido cambiada de lugar, actualizada y/o borrada.</li>    
  </ul>

	<section class="search-results no-results">
	  <form class="search">
		  <input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder">
		  <input type="submit" value="Buscar" class="submit" />
	  </form>
	</section>