      <div id="content-top">
        <div class="arrow"></div>
        <div class="content">

          <h2><a class="entry-title">Brasil prometió abrir más de sus mercados a la Argentina</a></h2>
          <time>Martes 11 de Enero de 2011</time>
          <div class="comments-count">2 Respuestas</div>

        </div>
      </div>

      <section class="comment clearfix">
        <a class="avatar" href="#"><img src="<%= @site.config[:base_urlz] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
        <div class="comment-body">
          <div class="meta">
             <h1><a class="user-profile" title="usuario" href="#">Nullam</a></h1> dice:
             <time>11.01.11 - 10:25</time>
          </div>
          <h1 class="content">Rodolfo Stefanon, cuyo rostro se desconocía, concurrió con su mochila a prestar declaración indagatoria. Un fotógrafo del Diario Libre, de próxima.</h1>
          <%= render 'share/share', :share => 'comment' %>
        </div>
      </section>
