<section class="comments">

  <section>
	  <article class="clearfix first">
	    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
	    <div class="comment-body">
	      <h1 class="meta">
	         <a class="user-profile" title="usuario" href="#">Sed consequat</a>
	      </h1>
	      <div class="content">Donec ante est, egestas at tristique vitae, posuere nec lectus. Nullam nunc ligula, ultrices at dapibus id, laoreet et risus. Duis tincidunt, ipsum ultricies dapibus condimentum, nisl velit malesuada mi, a commodo purus ipsum sit amet leo. Donec id tempus justo. Nullam at sapien at massa luctus consequat. Nunc semper, mauris ac blandit aliquet, turpis ligula cursus enim, in fringilla purus lorem id magna.</div>
	      <ul class="respond">
	        <li><time>11.01.11 - 10:25</time></li>
	        <li class="report"><a href="#">Reportar</a></li>
	      </ul>
	    </div>
	  </article>
	  <article class="clearfix">
	    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
	    <div class="comment-body">
	      <h1 class="meta">
	         <a class="user-profile" title="usuario" href="#">Sed consequat</a>
	      </h1>
	      <div class="content">Donec ante est, egestas at tristique vitae, posuere nec lectus. Nullam nunc ligula, ultrices at dapibus id, laoreet et risus. Duis tincidunt, ipsum ultricies dapibus condimentum, nisl velit malesuada mi, a commodo purus ipsum sit amet leo. Donec id tempus justo. Nullam at sapien at massa luctus consequat. Nunc semper, mauris ac blandit aliquet, turpis ligula cursus enim, in fringilla purus lorem id magna.</div>
	      <ul class="respond">
	        <li><time>11.01.11 - 10:25</time></li>
	        <li class="report"><a href="#">Reportar</a></li>
	      </ul>
	    </div>
	  </article>
  </section>
  <%= render 'nota-interna/login-box' %>
</section>
