#ie6 #widget-futbol #minuto,
#ie7 #widget-futbol #minuto {
	margin: 0;
	left:255px;
}

#ie6 #widget-futbol #goles td,
#ie7 #widget-futbol #goles td,
#ie6 #widget-futbol #tarjetas td,
#ie7 #widget-futbol #tarjetas td,
#ie6 #widget-futbol #cambios td,
#ie7 #widget-futbol #cambios td {
	width: 50%;
}

#ie6 #widget-tennis .jugadores,
#ie7 #widget-tennis .jugadores {
	left:10px;
}

#ie6 #widget-tennis .genero {
	margin-left:5px;
}

#ie6 #widget-tennis .jugador .set li {
	margin:0 17px;
}

#ie6 #widget-futbol #equipo-a,
#ie6 #widget-futbol #suplente-a {
	margin-left:6px !important;
}

#ie6 #widget-futbol #contrincantes .equipo {
	width:309px;
}

#ie6 #widget-futbol #contrincantes .equipo-b {
	border-left:solid 1px #202020;
}

#ie6 #widget-futbol #contrincantes .equipo-a {
	border-right:solid 1px #2d2d2d;
	background:none;
}

#ie6 .escudo {
	margin-top:20px;
}

#ie6 .escudo span{
	margin-right:10px;
}

#ie6 #widget-futbol .in,
#ie6 #widget-futbol .out {
	width:210px;
}




/* pngfix */

#ie6 #widget-futbol #minuto,
#ie6 #widget-tennis #minuto,
#ie6 #widget-tennis .jugador .saque,
#ie6 #widget-tennis #jugador-a {
	background:none;
}

#ie6 #widget-tennis #minuto {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-tennis-minuto.png',sizingMethod='image');
}

#ie6 #widget-tennis .jugador .saque {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tennis-pelota.png',sizingMethod='image');
}

#ie6 #widget-futbol #minuto {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-futbol-minuto.png',sizingMethod='image');
}