*,a{outline:none!important}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:1em;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
select{padding-right:0!important}ul,ol{margin:0;list-style-type:none}ol{list-style-type:decimal}nav ul,nav li{margin:0}td,td img{vertical-align:top}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}label,input[type=button],input[type=submit],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}DD_belatedPNG\\:*,DD_belatedPNG\\:shape,.ie6 .pngfix{visibility:hidden!important}
.js-finished DD_belatedPNG\\:*,.js-finished DD_belatedPNG\\:shape,.js-finished .pngfix{visibility:visible!important}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none!important;visibility:hidden!important}.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.invisible{visibility:hidden}.clearfix:before,.clearfix:after,.clear-block:before,.clear-block:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after,.clear-block:after{clear:both}.clearfix,.clear-block{zoom:1;clear:both}.alignleft{float:left}.alignright{float:right}input[type="text"],input[type="password"]{border:1px solid #e3e3e3}
body{font:16px/1 "Helvetica Neue",Arial,sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}body,select,input,textarea{color:#000}
h1,h2,h3,h4,h5,h6{font-weight:bold}html{overflow-y:scroll}a{text-decoration:none}a:hover,a:active{outline:0}a:hover{text-decoration:underline}::-moz-selection{background:#75a904;color:#fff;text-shadow:none}
::selection{background:#e00034;color:#fff;text-shadow:none}small{font-size:1em}strong,th{font-weight:bold}sub{vertical-align:sub;font-size:smaller}sup{vertical-align:super;font-size:smaller}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
pre,code{font-size:1.1em;font-family:"Courier New","DejaVu Sans Mono",monospace}a:link{-webkit-tap-highlight-color:#ff5e99}a,a:link,a:visited,a:active{color:#75a904}body>img{display:none;visibility:hidden}.wrapper{width:950px;margin:0 auto;position:relative;height:100%}.no-sidebar #container{width:960px}.no-sidebar #content,.comunity-no-sidebar #content{float:none;width:100%}
#sidebar{float:right;width:300px}#content{float:left;width:620px;position:relative;z-index:100}.login-box .actions{font-size:12px;float:right}.login-box .content{line-height:16px!important;height:43px}
.login-box .last{padding-right:0}.login-box .login-conect{float:right;padding:2px 5px}.login-box .login-conect li{float:left;margin-left:8px;display:block}.login-box .login-conect li.fb{margin-left:0}
.login-box .login-conect li a{background:url(../images/main-sprite.png) no-repeat;width:24px;height:24px;display:block;text-indent:-999em;padding:0!important}.login-box .login-conect .twitter{background-position:-312px -87px}
.login-box .login-conect .twitter:hover{background-position:-312px -111px}.login-box .login-conect .tp{background-position:-336px -87px}.login-box .login-conect .tp:hover{background-position:-336px -111px}
.login-box .login-conect .facebook{background-position:-288px -87px}.login-box .login-conect .facebook:hover{background-position:-288px -111px}.login-box .picture{float:right}.login-box .user{font-size:13px;font-weight:bold;text-align:right;color:white;margin:3px 0}
.login-box li{line-height:12px}.login-box li.link{border-right:1px solid #fff;float:left}.login-box li.last{border:0;margin-right:0}.login-box li.last a{padding-right:0!important}.login-box li.first a{padding-left:0}
.login-box .link a{padding:0 5px;color:white}.not-logged-in .login-box .content{float:right;height:34px}.not-logged-in .login-box .title{font-size:12px;padding-left:7px;text-align:right;height:28px;line-height:28px;width:95px;float:left}
.logged-in .login-box{position:relative;height:43px;padding:6px 0}.not-logged-in #header .login-box{position:relative;height:28px;padding:14px 10px 13px 0}#header{background:url(../images/headers/tp.jpg) no-repeat center -80px #83be05;margin-bottom:20px}
.small-header #header{background-image:none!important;background-color:#83be05!important}.small-header .back{position:absolute;left:0;top:50%;height:28px;margin-top:-14px;width:84px;background:#cdef00;border:1px solid #9eb900;border-bottom:0;color:#5e6e00;font-size:12px;padding:0 10px;line-height:28px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer}
#header .login-box,#header .search{border-bottom:1px solid #a3ec07;margin-top:10px}#header .login-box{float:left;width:202px;padding:6px 10px 6px 0}.small-header #header .login-box{border:0;padding:0;margin-top:9px}
.small-header #header .login-box .title,.small-header #header .login-box .login-conect{margin-top:7px;margin-bottom:7px}#header-top{height:140px}.small-header #header-top{height:60px}#header-top .meta{position:absolute;width:420px;height:120px;top:10px;right:0}
.small-header #header-top .meta{top:0;width:auto;height:auto}#header-top .login-box .picture{border-color:#e35757;margin-left:8px}#logo{display:block;position:absolute;width:286px;height:89px;left:0;top:30px;background:url(../images/main-sprite-tp.png) left -38px no-repeat;text-indent:-999em}
.small-header #logo{width:119px;height:37px;left:50%;top:50%;margin:-18px 0 0 -60px;background-position:-186px -257px}.button,.button:hover,.fileinput,.fileinput:hover,#field-imagenes-items .form-submit,#field-imagenes-items .form-submit:hover{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.button,#field-imagenes-items .form-submit{font-family:arial;color:#000;font-size:11px;height:24px;line-height:24px;text-align:center;display:block;border:solid 1px #d0d0d0;border-top-color:#dedede;border-bottom-color:#c3c3c3;background:#f3f3f3;background:-moz-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f3f3f3),color-stop(100%,#e3e3e3));background:-webkit-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:-o-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:-ms-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:linear-gradient(top,#f3f3f3 0,#e3e3e3 100%)}
.button:hover,#field-imagenes-items .form-submit:hover{border-color:#6c9809;border-top-color:#87be0f;border-bottom-color:#537503;color:#fff;text-decoration:none;background:#71a304;background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);background:linear-gradient(top,#71a304 0,#608704 100%);cursor:pointer}
form .button,.pager .button,.fileinput,#field-imagenes-items .form-submit{color:white;border-color:#6c9809;border-top-color:#87be0f;border-bottom-color:#537503;background:#71a304;background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);background:linear-gradient(top,#71a304 0,#608704 100%)}
form .button:hover,.pager .button:hover,.fileinput:hover{border-color:#6c9809;border-top-color:#537503;border-bottom-color:#87be0f;background:#608704;background:-moz-linear-gradient(top,#608704 0,#71a304 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#608704),color-stop(100%,#71a304));background:-webkit-linear-gradient(top,#608704 0,#71a304 100%);background:-o-linear-gradient(top,#608704 0,#71a304 100%);background:-ms-linear-gradient(top,#608704 0,#71a304 100%);background:linear-gradient(top,#608704 0,#71a304 100%)}
form.search{position:relative}form.search input.text{padding:5px 7px 4px 7px;border:2px solid #74a805;border-right:0;width:151px;height:15px;font-size:14px}form.search .submit{font-weight:bold;font-size:0;color:white;padding:4px 0 8px 0;margin:0;border:0;width:28px;height:28px;text-indent:-999em;padding:0;position:absolute;right:0;top:14px;background:#74a805 url("../images/main-sprite.png") no-repeat -213px -211px}
header.title h1{font-size:48px;font-weight:normal;letter-spacing:-1px;line-height:48px;border-bottom:2px solid #000;padding-bottom:10px;margin-bottom:20px}.share{position:absolute;top:4px;right:-15px}
.share .tw{margin-bottom:4px}section.block{margin-bottom:20px}.block header{background:#71a304;background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#71A304',endColorstr='#608704',GradientType=0);background:linear-gradient(top,#71a304 0,#608704 100%);color:#fff;font-size:20px;font-weight:bold;line-height:36px;overflow:hidden}
.block header h2{padding:2px 0 2px 10px;font-weight:normal}.block header ul{height:34px;background:url("../images/shadow-sprite.png") repeat-x scroll left 26px}.block header ul li{float:left;padding:0 5px}
.block header ul li a{color:white;display:block;float:left;font-size:14px;height:34px;line-height:34px;padding:0 5px;font-weight:normal}.block header ul li.selected a{background:none repeat scroll 0 0 white;border-top-left-radius:5px;border-top-right-radius:5px;box-shadow:2px 4px 6px #000;color:#75a904}
.block .content{border:solid 1px #cbcbcb;border-top:0}#sidebar .river-news article{margin:8px auto 0 auto;float:none}#sidebar .river-news article.first{margin-top:0}#sidebar .more{width:230px;margin:0 auto 10px auto;height:34px;line-height:34px;color:black;font-size:14px}
#sidebar .more:hover{color:white}#social-network .loading{height:200px!important;text-indent:-999em}#social-network .error{height:100px!important;text-indent:0;padding:0 10px;font-size:13px;color:#999;text-align:center;line-height:100px;background:white;border:0}
#social-network .twitter .loading{width:298px;position:absolute;top:0;left:0;background:url(../images/ajax-loader.gif) no-repeat center center}#social-network .twitter,#social-network .panel a{font-size:11px}
#social-network .twitter .content{border:0;margin-bottom:3px}#social-network .twitter article{width:278px;margin:10px auto 0 auto}#social-network .twitter .respond{width:100%}#social-network .twitter .respond li{float:right;margin:0;color:#999}
#social-network .twitter .respond a{color:#b4d570}#social-network .twitter .respond li.first{float:left}#social-network .twitter .avatar{float:left}#social-network .twitter .comment-body{float:right;width:215px;padding-left:5px;border-left:solid 1px #dadada;margin-bottom:3px;position:relative}
#social-network .twitter .comment-body b{background:url("../images/main-sprite.png") repeat scroll -345px -162px transparent;display:block;height:11px;left:-7px;position:absolute;top:6px;width:7px}
#social-network .content ul{width:278px;margin:0 auto}#social-network .content li{margin-top:10px}#social-network .twitter article.first,#social-network .content li.first{margin-top:0}#social-network .youtube figure{float:left;margin-right:5px}
#footer{background:#bfdf00 url(../images/shadow-sprite.png) repeat-x left -148px;padding-top:25px;margin-top:20px}.small-header #footer{padding:0}#footer #internal-links{margin-left:0}#footer #internal-links a{font-size:13px}
#footer #internal-links ul{padding:0}#footer #internal-links ul li{margin-bottom:5px}#footer #internal-links h3{background:0;border:0;height:37px;width:119px;margin:3px 0 25px 0;padding:0}#footer #internal-links h3 a{text-indent:-999em;display:block;height:100%;width:100%;background:url(../images/main-sprite.png) -186px -250px no-repeat}
#footer a{color:#000;font-size:14px;font-weight:normal}#footer a.first{margin-left:192px}#footer .block{float:left;margin-left:10px;width:182px}#footer .block h3{background:#cdef00;border:1px solid #9eb900;border-bottom:0;color:#5e6e00;font-size:16px;padding:0 10px;line-height:34px;height:34px;margin-bottom:12px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;position:relative;z-index:0}
#footer .block ul{padding-left:10px}#footer .block ul li{margin-bottom:10px;line-height:12px}#footer .view-more{margin-bottom:25px}#footer .view-more a.block{margin-bottom:0;font-size:14px;padding:5px 0 0 10px;width:172px;border-top:1px solid #9eb900}
#footer .visit-to{position:absolute;top:6px;left:25px}#footer .visit-to li{float:left;height:13px;line-height:13px;margin-right:3px;padding-left:3px}#footer .visit-to li.link{border-left:1px solid #8c8c8c}
#footer .visit-to li.first{border:0}#footer .visit-to li.link a{float:left;font-size:12px;height:14px;line-height:14px;padding:0 3px}#footer .visit-to .title{font-size:13px;font-weight:bold;margin-right:5px;padding:0}
#footer-bottom{border-top:1px solid #9eb900;padding-top:12px;padding-bottom:12px;font-size:11px;background:#bfdf00;height:24px;line-height:24px}.small-header #footer-bottom{padding-top:18px;background:0}
#footer-bottom .copyright{position:absolute;right:0;top:0;width:215px}#footer .iconosur{position:absolute;top:0;right:0;width:63px;height:24px;background:url(../images/main-sprite.png) -138px -211px no-repeat;text-indent:-999em;margin-left:10px;overflow:hidden}
.page-comment .meta time{right:5px;position:absolute;top:0}.page-comment #comments section{border:1px solid #cbcbcb}.page-comment #comments .logged ul .twitter{margin:0}.page-comment #comments form textarea{width:512px}
.page-comment #comments section{margin:0!important}.page-comment section#comments{margin:0 0 0 53px;border:0}.page-comment #comments article{padding:0 7px 0 0}.page-comment #comments footer{padding:12px 19px 12px 12px}
.page-comment #comment .comment-body{float:left;margin-left:10px;padding:0;width:888px}.page-comment #comments article .comment-body{width:435px}.page-comment #comments article .respond li.report{border-left:1px solid #dadada;padding-left:8px}
.page-comment #comments .not-logged ul{padding-left:50px;padding-right:50px}.page-comment #content-top{height:71px;margin:10px 0 30px 0}.page-comment #content-top .arrow{background:url(../images/main-sprite.png) -150px -294px;float:left;height:71px;width:27px}
.page-comment #content-top .content{border:solid 1px #dadada;border-left:none;float:left;width:887px;padding-left:29px;height:69px;position:relative}.page-comment #content-top .comments-count{position:absolute;top:20px;right:5px;font-size:12px}
.page-comment #comment .avatar{float:left;width:43px;height:43px}.page-comment #comment .meta{padding-left:3px}.page-comment #comment .meta h1{display:inline}.page-comment #comment-related{font-size:12px;padding-left:62px}
.page-comment #comment .meta{position:relative;font-size:14px;font-weight:bold}.page-comment #comment .content{font-size:42px;margin-top:5px;word-spacing:-5px;font-weight:normal}.page-comment #content-top h2{margin:13px 0 6px 0}
.page-comment #content-top h2 a{font-size:18px;word-spacing:1px}.page-comment #content-top time{font-size:12px}.publish{margin-bottom:20px}.publish fieldset label,.publish fieldset .title{height:40px;display:block;text-align:left;line-height:40px;font-size:18px;font-weight:normal;width:115px}
.publish .text,#field-imagenes-items .form-text{padding:4px;height:30px;background:#f6f6f6;font-size:18px}.publish fieldset select{height:40px;line-height:40px;width:710px;padding-top:6px;font-size:18px}
.publish .text{width:770px}.publish.small-form .text{float:left}.publish fieldset .text{width:700px}.publish fieldset li{margin-bottom:10px}.publish fieldset .desc{width:210px;float:right;color:#999;line-height:1.25em}
.publish.small-form input.submit{float:right;font-size:16px;height:40px;width:158px}.publish textarea{width:938px;margin:0 auto;height:265px;padding:5px;border:solid 1px #000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.embed{margin-bottom:10px}.publish .embed .embed-selector li{float:left;margin:0 10px 0 0;height:38px;width:54px}.embed .embed-selector a{float:left;text-indent:-999em;background-image:url(../images/main-sprite.png);width:54px;height:38px}
.embed .embed-selector .image a{background-position:-240px -333px}.embed .embed-selector .image a:hover,.embed .embed-selector .image .selected{background-position:-240px -371px}.embed .embed-selector .video a{background-position:-186px -333px}
.embed .embed-selector .video a:hover,.embed .embed-selector .video .selected{background-position:-186px -371px}.embed .upload{height:0;overflow:hidden}.embed .upload .item{display:none;opacity:0;padding-top:10px;background:white}
.embed .upload .active{display:block}.embed .upload .uploaded,#field-imagenes-items .filefield-element{position:relative;padding-bottom:7px;min-height:64px}#field-imagenes-items .ahah-new-content .filefield-element{min-height:26px}
.embed .upload .uploaded img,#field-imagenes-items .widget-preview{float:left;width:100px}.embed .upload .uploaded .meta,#field-imagenes-items .widget-edit{position:absolute;left:118px;top:50%;margin-top:-32px;width:732px;height:64px}
#field-imagenes-items .content-add-more{margin:10px 0 0 0}#field-imagenes-items .ahah-new-content .widget-edit{height:26px;left:auto;top:auto;margin:10px 0 0 0;position:relative}#field-imagenes-items .widget-edit .ahah-processed{position:absolute;top:50%;right:0;width:110px}
.publish .embed .upload .uploaded .meta label,#field-imagenes-items .widget-edit label{line-height:1em;height:18px;margin-bottom:5px}.publish .embed .upload .uploaded .meta .text,#field-imagenes-items .form-text{width:582px}
.embed .upload .uploaded .meta .button{width:110px;float:right;height:26px;line-height:26px;margin-top:5px}.embed .upload .to-upload .fileinput{width:200px;margin:0 auto}.embed .upload .to-upload{margin:0 0 15px 110px;width:740px}
#field-imagenes-items .ahah-new-content .filefield-upload{margin:0 0 15px 0;width:741px;position:relative}#field-imagenes-items .ahah-new-content .filefield-upload input{float:left;position:static!important;margin-right:10px}
.embed .upload .to-upload input.submit{float:right;height:26px;line-height:26px;width:112px}#field-imagenes-items .ahah-new-content .widget-edit .ahah-processed{height:26px;line-height:26px;width:112px;position:absolute;right:0;top:0}
.embed .upload .add-image{margin-left:110px;height:28px;line-height:28px;padding:0 20px}#field-imagenes-items .description{display:none;visibility:hidden}.publish .actions{margin-top:10px}.publish .actions ul,.publish .actions input.submit{float:left}
.publish .actions ul{margin:10px 20px 10px 0}.publish .actions input.submit{margin-left:10px;height:40px;padding:0 15px 2px 15px;font-size:18px;font-weight:normal}.publish-to{font-size:12px;color:#000;float:left;position:relative}
.publish-to li{margin-right:10px;float:left;height:19px;padding:0;line-height:19px}.publish-to li input{margin:0 5px 0 0;vertical-align:middle}.publish-to li label{float:left;height:19px;line-height:19px}
.publish-to .link{margin-right:20px}.publish-to .link span{float:left;width:19px;height:19px;background:url("../images/main-sprite.png") no-repeat;margin-right:5px}.publish-to li.twitter span{background-position:-132px 0}
.publish-to li.twitter:hover span{background-position:-132px -19px}.publish-to li.facebook span{background-position:-113px 0}.publish-to li.facebook:hover span{background-position:-113px -19px}#reactions{min-height:1px}
input.placeholder{color:#666}#ver-todos{width:950px;padding:0 0 80px 0;overflow:hidden;font-size:12px}#ver-todos .block{float:left;width:310px;margin-right:10px}#ver-todos .last{margin-right:0}#ver-todos a{font-size:16px;font-weight:normal;line-height:24px;color:black}
#ver-todos li ul li{margin:12px 0}#ver-todos li ul{clear:left;padding:0 10px}#ver-todos .title{font-size:16px}#datafactory{display:block;width:279px;height:50px;margin:5px auto 0 auto}body.team-cabj #header{background-color:#102397;background-image:url(../images/headers/cabj.jpg)}body.team-caab #header{background-color:#000;background-image:url(../images/headers/caab.jpg)}
body.team-caaj #header{background-color:#102397;background-image:url(../images/headers/caaj.jpg)}body.team-afc #header{background-color:#21a4cd;background-image:url(../images/headers/afc.jpg)}
body.team-cab #header{background-color:#07873a;background-image:url(../images/headers/cab.jpg)}body.team-cac #header{background-color:#d70303;background-image:url(../images/headers/cac.jpg)}
body.team-edelp #header{background-color:#d70303;background-image:url(../images/headers/edelp.jpg)}body.team-gelp #header{background-color:#102397;background-image:url(../images/headers/gelp.jpg)}
body.team-cdgcat #header{background-color:#102397;background-image:url(../images/headers/cdgcat.jpg)}body.team-cah #header{background-color:#d80707;background-image:url(../images/headers/cah.jpg)}
body.team-cai #header{background-color:#d70303;background-image:url(../images/headers/cai.jpg)}body.team-cal #header{background-color:#73022c;background-image:url(../images/headers/cal.jpg)}
body.team-nob #header{background-color:#000;background-image:url(../images/headers/nob.jpg)}body.team-olimpo #header{background-color:#000;background-image:url(../images/headers/olimpo.jpg)}
body.team-qac #header{background-color:#102397;background-image:url(../images/headers/qac.jpg)}body.team-racing #header{background-color:#029bd3;background-image:url(../images/headers/racing.jpg)}
body.team-carp #header{background-color:#d70303;background-image:url(../images/headers/carp.jpg)}body.team-casla #header{background-color:#102397;background-image:url(../images/headers/casla.jpg)}
body.team-cat #header{background-color:#102397;background-image:url(../images/headers/cat.jpg)}body.team-cavs #header{background-color:#102397;background-image:url(../images/headers/cavs.jpg)}
body.has-team #navigation,body.has-team #header .login-box,body.has-team #header .search{border-color:#fff}body.has-team #header-top{color:white}body.team-afc #header-top,body.team-afc #header-top a,body.team-afc #header-top .login-box .user{color:black}
body.team-afc #header-top .link{border-color:black}
