*,a{outline:none!important}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:1em;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
select{padding-right:0!important}ul,ol{margin:0;list-style-type:none}ol{list-style-type:decimal}nav ul,nav li{margin:0}td,td img{vertical-align:top}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}label,input[type=button],input[type=submit],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}DD_belatedPNG\\:*,DD_belatedPNG\\:shape,.ie6 .pngfix{visibility:hidden!important}
.js-finished DD_belatedPNG\\:*,.js-finished DD_belatedPNG\\:shape,.js-finished .pngfix{visibility:visible!important}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none;visibility:hidden}.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.invisible{visibility:hidden}.clearfix:before,.clearfix:after,.clear-block:before,.clear-block:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after,.clear-block:after{clear:both}.clearfix,.clear-block{zoom:1;clear:both}.alignleft{float:left}.alignright{float:right}input[type="text"],input[type="password"]{border:1px solid #e3e3e3}
body{font:16px/1 "Helvetica Neue",Arial,sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}body,select,input,textarea{color:#000}
h1,h2,h3,h4,h5,h6{font-weight:bold}a{text-decoration:none}a:hover,a:active{outline:0}a:hover{text-decoration:underline}::-moz-selection{background:#75a904;color:#fff;text-shadow:none}::selection{background:#e00034;color:#fff;text-shadow:none}
small{font-size:1em}strong,th{font-weight:bold}sub{vertical-align:sub;font-size:smaller}sup{vertical-align:super;font-size:smaller}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
pre,code{font-size:1.1em;font-family:"Courier New","DejaVu Sans Mono",monospace}a:link{-webkit-tap-highlight-color:#ff5e99}a,a:link,a:visited,a:active{color:#75a904}body{font-family:Arial,Helvetica,sans-serif;font-size:.75em}.widget{width:510px;float:left;position:relative}.widget .alignleft{float:left}.widget .alignright{float:right}.widget .title{position:relative;color:black;height:37px;}
.widget .title h2{font-size:1.75em;height:37px;letter-spacing:-0.05em;line-height:37px;word-spacing:.05em;float:left;font-weight:normal}.widget #otros-torneos{position:absolute;right:3px;top:10px}

#posiciones a, #widget-fixture #goleadores a, #goleadores .jugador a, #descenso .equipo a {color:black; text-decoration: none;}
table a:hover {text-decoration: underline !important;}
.widget #fechas_1{position: absolute;right: 3px; bottom: -30px;}
#fixture tbody tr {height: 40px;}#posiciones tbody tr {height: 40px;}#goleadores tbody tr, #descenso tbody tr {height: 28px;}
tr:hover {background: #FFFFD7;}

#widget-fixture .header{height:76px; padding: 0 0 0 3px}#widget-fixture .header ul{display:block;height:38px;margin:0;list-style:none;}
#widget-fixture .header ul li{float:left;position:relative;height:30px;top:1px;margin:8px 5px 0 5px}#widget-fixture .header ul li.first{margin-left: 0}#widget-fixture .header ul li a{display:block;height:30px;line-height:30px;padding:0 5px;color:black;text-decoration:none;float:left}
#widget-fixture .header ul li.selected{background: #75A904;border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px}#widget-fixture .header ul li.selected a{color:white}
#widget-fixture .tab{padding-bottom:5px}#widget-fixture .tab table{width:99%;margin:0 auto}#widget-fixture .tab th{background:#75A904;border-bottom:solid 1px #75a904;height:32px;vertical-align:middle;font-weight:normal;color:white;}
#widget-fixture .tab table .first td,
#goleadores .first a,
#posiciones .first a,
#descenso .first a{color:#75a904}

#widget-fixture #descenso table .equipo{padding-left:5px;width:100px;text-align:left}#widget-fixture #goleadores table .jugador{text-align:left;width:125px;padding-left: 5px}#widget-fixture #goleadores table .equipo{width:125px}
#widget-fixture .tab table .prom{width:45px}#widget-fixture .tab table tbody .prom{font-weight:bold}#widget-fixture #descenso table .first .equipo,#widget-fixture #goleadores table .first .jugador,#widget-fixture #fixture table .first .equipo-a{color:#000;font-weight:bold}
#widget-fixture #goleadores table th{font-weight:bold}#widget-fixture #descenso table tbody .equipo,#widget-fixture #goleadores table tbody .jugador,#widget-fixture #posiciones table tbody .equipo{color:#000;text-align:left}
#widget-fixture .tab table tbody td{border-bottom:solid 1px #bbb7b8;text-align:center;height:22px;vertical-align: middle;}#widget-fixture .tab table .prom{text-align:right; padding-right: 5px;}#widget-fixture #posiciones .equipo{text-align:left;width:170px}
#widget-fixture #posiciones table tbody td,#widget-fixture #fixture table tbody td{height:32px;vertical-align:middle;line-height:32px}#widget-fixture #posiciones td img{margin:1px 5px 0 0;float:left}
#widget-fixture #fixture .now a{font-weight:bold;color:#000}#widget-fixture #fixture .fechas .old a{color:#000}#widget-fixture #fixture .resultado{width:60px}#widget-fixture #fixture tbody .resultado p{height:21px;line-height:22px;margin-top:3px;padding:0 6px;width:10px;font-weight:bold;color:white;background:#75a904}
#widget-fixture #fixture th.equipo-a,#widget-fixture #fixture th.equipo-b{width:150px}#widget-fixture #fixture table tbody .equipo-a,#widget-fixture #fixture table tbody .equipo-b{color:#000}#widget-fixture #fixture table tbody .equipo-a{text-align:right;padding-right:10px}
#widget-fixture #fixture a {color:black; text-decoration: none;}
#widget-fixture #fixture table tbody .equipo-b{text-align:left;padding-left:10px}#widget-fixture #fixture table .fecha{width:110px;line-height:16px;text-align: left;color:#666}#widget-fixture #fixture td.equipo-a img{float:right;margin:1px 0 0 5px}
#widget-fixture #fixture td.equipo-b img{float:left;margin:1px 5px 0 0}#widget-fixture #fixture .now .equipo-a,#widget-fixture #fixture .now .equipo-b{font-weight:bold}#widget-fixture #fixture td.detalle{width:20px;text-align:center}
#widget-fixture #fixture td.detalle a{background:#f2f2f2;display:block;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;color:black;text-decoration:none;height:15px;line-height:15px;width:15px;margin:auto}
#widget-fixture #fixture td.detalle a:hover{text-decoration:underline}#widget-fixture .share{color:#959494;width:200px;line-height:16px;float:right;margin:7px 15px 1px 0}#widget-fixture .share p{float:left}
#widget-fixture .share ul{margin-left:5px;list-style:none;float:right}#widget-fixture .share li{float:left;margin-left:5px}#widget-fixture .share li a{color:#666;float:left;height:16px;text-decoration:none;padding-left:20px;background:url(../images/sprite.png) no-repeat #fff}
#widget-fixture .share li a:hover{text-decoration:underline}#widget-fixture .share li.facebook a{background-position:left top}#widget-fixture .share li.twitter a{background-position:left -32px}#widget-fixture .share li.facebook a:hover{background-position:left -16px}
#widget-fixture .share li.twitter a:hover{background-position:left -48px}#widget-fixture .share li span{background-image:url(../images/sprite.png);display:block;float:left;width:16px;height:16px;margin:0 5px 0 0}
#widget-fixture .share li.twitter{margin-left:0}#widget-fixture .share li.facebook span{background-position:-156px -91px}#widget-fixture .share li.twitter span{background-position:-156px -107px}#widget-fixture .fechas select{margin-left:5px}