*,a{outline:none!important}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:1em;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
select{padding-right:0!important}ul,ol{margin:0;list-style-type:none}ol{list-style-type:decimal}nav ul,nav li{margin:0}td,td img{vertical-align:top}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}label,input[type=button],input[type=submit],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}DD_belatedPNG\\:*,DD_belatedPNG\\:shape,.ie6 .pngfix{visibility:hidden!important}
.js-finished DD_belatedPNG\\:*,.js-finished DD_belatedPNG\\:shape,.js-finished .pngfix{visibility:visible!important}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none!important;visibility:hidden!important}.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.invisible{visibility:hidden}.clearfix:before,.clearfix:after,.clear-block:before,.clear-block:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after,.clear-block:after{clear:both}.clearfix,.clear-block{zoom:1;clear:both}.alignleft{float:left}.alignright{float:right}input[type="text"],input[type="password"]{border:1px solid #e3e3e3}
body{font:16px/1 "Helvetica Neue",Arial,sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}body,select,input,textarea{color:#000}
h1,h2,h3,h4,h5,h6{font-weight:bold}html{overflow-y:scroll}a{text-decoration:none}a:hover,a:active{outline:0}a:hover{text-decoration:underline}::-moz-selection{background:#75a904;color:#fff;text-shadow:none}
::selection{background:#e00034;color:#fff;text-shadow:none}small{font-size:1em}strong,th{font-weight:bold}sub{vertical-align:sub;font-size:smaller}sup{vertical-align:super;font-size:smaller}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
pre,code{font-size:1.1em;font-family:"Courier New","DejaVu Sans Mono",monospace}a:link{-webkit-tap-highlight-color:#ff5e99}a,a:link,a:visited,a:active{color:#75a904}.coda-slider-wrapper{padding:0}.coda-slider-no-js .coda-slider{height:200px;overflow:auto!important;padding-right:20px}.coda-slider-wrapper.arrows .coda-slider,.coda-slider-wrapper.arrows .coda-slider .panel{width:600px}
.coda-slider-wrapper.arrows .coda-slider{margin:0 10px}.coda-nav-left a,.coda-nav-right a{background:#000;color:#fff;padding:5px;width:100px}.coda-nav ul li a.current{background:#39c}.coda-slider p.loading{padding:20px;text-align:center}
.coda-nav ul{clear:both;display:block;margin:auto;overflow:hidden}.coda-nav ul li{display:inline}.coda-nav ul li a{background:#000;color:#fff;display:block;float:left;margin-right:1px;padding:3px 6px;text-decoration:none}
.coda-slider-wrapper{clear:both;overflow:hidden!important;padding:10px 0 6px 0;position:relative;width:308px}.coda-slider{overflow:hidden;position:relative;width:308px}.coda-slider .panel{display:block;visibility:visible;float:left;width:308px}
.preload{width:894px}.coda-slider .panel-container{position:relative}.coda-nav-left,.coda-nav-right{float:left}.coda-nav-left a,.coda-nav-right a{display:block;text-align:center;text-decoration:none}.wrapper{width:950px;margin:0 auto;position:relative;height:100%}.no-sidebar #container{width:960px}.no-sidebar #content,.comunity-no-sidebar #content{float:none;width:100%}#content{float:left;width:620px;position:relative;z-index:100}
#sidebar{float:right;width:310px}.iframe-fixture{float:right;margin:4px;border:1px solid #c2c2c2;position:relative;height:268px}.iframe-fixture .ver-mas{position:absolute;right:0;bottom:0;background:#71a304;background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#71A304',endColorstr='#608704',GradientType=0);background:linear-gradient(top,#71a304 0,#608704 100%);line-height:16px;padding:5px;border-top:solid 1px #75a803;font-size:12px;width:460px;text-align:right;color:white!important}
article a{font-weight:normal}article iframe{position:relative;z-index:100;background:white}article .closevideo{width:28px;height:20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-size:26px;line-height:22px;overflow:hidden;text-align:center;background-color:#333;background-color:rgba(34,34,34,0.5);background-repeat:no-repeat;background-image:url(../images/carc.png);background-position:-103px 6px;border:1px solid #555;display:block;text-indent:-999em;color:#bbb;position:absolute;left:7px;top:5px;z-index:200;cursor:pointer;padding:0 0 4px 0}
article .closevideo:hover{background-color:#9fca3a;background-color:rgba(159,202,58,0.7);color:#fff;border:1px solid #fff;box-shadow:0 0 4px #ddd;background-position:-103px -16px}.river-news article{float:left;height:129px;margin:4px;position:relative;width:230px;border:1px solid #c2c2c2;overflow:hidden}
.river-news article header{left:0;position:absolute;bottom:0;z-index:5;background:0;line-height:14px;overflow:visible;width:100%}.river-news article figure{height:129px;width:230px;position:relative;z-index:0}
article figure a{display:block;height:100%;width:100%;position:relative}.river-news article .post-by{position:absolute;top:-17px;color:#7b7b7b;font:bold 11px/10px Arial,Helvetica,sans-serif;padding:4px 0 4px 5px}
.river-news article.twitter .post-by,.river-news article.no-media .post-by{top:auto;bottom:-18px}.river-news article.twitter .post-by{background:#1591fd}.river-news article .post-by h1{display:inline}
.river-news article .post-by .author{color:#fff;padding:0 4px 0 0}.river-news article .post-by .author:hover{color:#75a904;text-decoration:underline}.river-news article .post-by time{border-left:1px solid #7b7b7b;font-weight:normal;padding:0 4px}
.river-news article.twitter .post-by time{border-color:white;color:white}.river-news article.twitter .post-by .author:hover{color:black}.river-news article footer,.river-news article .source-org{color:#fff;display:none;font-size:11px;font-weight:bold;padding:0;position:absolute;text-transform:uppercase;top:0;z-index:5;width:auto}
.river-news article .post-by{background:#2a2a2c}.river-news article .source-org{left:0;padding:0}.river-news article .source-org a{color:#fff;padding:0 5px;height:19px;line-height:19px;float:left;background:#2a2a2c}
.river-news article:hover .source-org{display:block}.river-news article:hover .source-org a{background:rgba(117,169,4,.9)}.river-news article .source-org a:hover{color:#000;text-decoration:underline}article.has-media .entry-title{color:#fff;font:16px/17px Arial,Helvetica,sans-serif;padding:5px;display:block}
article.has-media a .bg{position:absolute;bottom:0;left:0;width:100%;height:70px;background:url("../images/shadow-sprite.png") repeat-x scroll left -8px transparent}article.has-media:hover a .bg{background-position:left -78px}
.river-news article footer{display:none;right:0;padding:4px 0 4px 3px;background:#2a2a2c;font-weight:normal}.river-news article:hover footer{display:block}.river-news article footer div{display:inline;padding-right:20px;position:relative}
.river-news article footer .views{margin-right:5px}.river-news article footer span{height:12px;background:url(../images/main-sprite.png) no-repeat;width:16px;position:absolute;right:0;top:0}
.river-news article footer .views span{background-position:-253px -154px}.river-news article footer .visited span{background-position:-254px -170px}.river-news article footer a:hover{text-decoration:underline;color:#75a904}
.river-news article.surprice{border-color:#e7f000;background:#f3fc00;cursor:pointer}.river-news article.surprice h1{height:129px;line-height:129px;text-align:center;font-size:36px;position:relative;z-index:5}
.river-news article.surprice h1 a{display:block;width:100%;height:100%;font-weight:bold}.river-news article.surprice h1 a,.river-news article.surprice h1 a:hover{color:#000;text-decoration:none}.river-news article.surprice .bg{width:74px;height:69px;display:none;visibility:hidden;background:url(../images/main-sprite.png) right top;position:absolute;right:0;bottom:0}
.river-news article.surprice:hover .bg{display:block;visibility:visible}article.no-media{background:#f6f6f6}article.no-media:hover{background:#fff}article.no-media:hover .entry-title{color:#75a904}article.no-media .entry-title{font:bold 18px/18px Arial,Helvetica,sans-serif}
article.featured,article.featured figure{width:470px;height:268px}article.featured .entry-title{font:normal 28px/30px Arial,Helvetica,sans-serif}article.twitter{background:#d5efff url(../images/main-sprite.png) 117px 95px no-repeat;border-color:#7dcbfb}
article.twitter .author a:hover{color:#000}article.twitter .entry-title,article.no-media .entry-title{color:#000;font:normal 16px/17px Arial,Helvetica,sans-serif;background:none!important;filter:none!important;display:block;padding:0 8px;text-indent:0;left:0;white-space:normal;display:table-cell;height:92px;vertical-align:middle}
article.twitter:hover .entry-title{color:#179aff;text-decoration:underline}article.twitter header,article.no-media header{top:19px;height:92px;position:relative}article.twitter footer span a:hover,article.twitter .source-org a:hover{color:#000}
article.twitter .source-org a,article.twitter:hover .source-org a,article.twitter footer{background:#1591fd}.play{background:url(../images/main-sprite.png) no-repeat;width:47px;height:26px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -23px;z-index:10;text-indent:-999em}
article .play{background-position:-203px -183px}article.featured .play{width:66px;height:37px;margin:-18px 0 0 -33px;background-position:-184px -135px}article .play:hover{cursor:pointer;background-position:-137px -135px}
article.featured .play:hover{background-position:-137px -172px}input.submit{height:31px;padding-bottom:2px}.not-logged-in #login-box .content,.not-logged-in#comments-footer .content{opacity:.1}#login-box .actions{font-size:12px;float:right;margin-top:5px}
#login-box .content{line-height:16px!important;height:43px}#login-box .last{padding-right:0}#login-box .login-conect{float:right;padding:2px 5px}#login-box .login-conect li{float:left;margin-left:8px;display:block}
#login-box .login-conect li.fb{margin-left:0}#login-box .login-conect li a{background:url(../images/main-sprite.png) no-repeat;width:24px;height:24px;display:block;text-indent:-999em;padding:0!important}
#login-box .login-conect .twitter{background-position:-312px -87px}#login-box .login-conect .twitter:hover{background-position:-312px -111px}#login-box .login-conect .tp{background-position:-336px -87px}
#login-box .login-conect .tp:hover{background-position:-336px -111px}#login-box .login-conect .facebook{background-position:-288px -87px}#login-box .login-conect .facebook:hover{background-position:-288px -111px}
#login-box .picture{float:right}#login-box h1{text-align:right}#login-box .user{font-size:13px;font-weight:bold;color:white!important;margin:3px 0}#login-box li{line-height:12px}#login-box li.link{border-right:1px solid #fff;float:left}
#login-box li.last{border:0;margin-right:0}#login-box li.last a{padding-right:0!important}#login-box li.first a{padding-left:0}#login-box .link a{padding:0 5px;color:white}.not-logged-in #login-box .content{float:right;height:34px}
.not-logged-in #login-box .title{font-size:12px;padding-left:7px;text-align:right;height:28px;line-height:28px;width:95px;float:left}.logged-in #login-box{position:relative;height:43px;padding:6px 0}.not-logged-in #header #login-box{position:relative;height:28px;padding:14px 10px 13px 0}
#ad-header{text-align:center;margin:0 auto}.banner div{margin:0 auto 20px auto}aside .banner div{padding:4px;border:solid 1px #cbcbcb}#ad-header td{text-align:center;margin:0 auto}#ad-header div div div{margin-bottom:10px}
#header{background:url(../images/headers/tp.jpg) no-repeat center -66px #83be05;margin-bottom:20px;position:relative;padding-top:6px}#header .bg{width:100%;height:8px;background:url(../images/shadow-sprite.png) repeat-x 0 0}
.small-header #header{background-image:none!important;background-color:#83be05!important;padding:0}.small-header .back{position:absolute;left:0;top:50%;height:28px;margin-top:-14px;width:84px;background:#cdef00;border:1px solid #9eb900;border-bottom:0;color:#5e6e00;font-size:12px;padding:0 10px;line-height:28px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer}
#header #login-box,#header .search{border-bottom:1px solid #a3ec07;margin-top:10px}#header .search{float:right;border-left:1px solid #a3ec07;width:192px;padding:14px 0 13px 15px;position:relative;height:28px}
#header #login-box{float:left;width:202px;padding:6px 10px 6px 0}.small-header #header #login-box{border:0;padding:0;margin-top:0}.small-header #header #login-box .title,.small-header #header #login-box .login-conect{margin-top:7px;margin-bottom:7px}
#header .follow-up{padding-top:7px;margin-bottom:7px;height:14px;line-height:14px}#header .follow-up a{color:white;font-size:12px}#header .follow-up .title{font-size:12px}#header .follow-up .link{border-left:solid 1px #fff;padding:0 5px}
#header .follow-up .title,#header .follow-up .first{border:0}#header .follow-up li,#header .follow-up a{height:14px;line-height:14px;float:left}#header-top{height:140px}#header-top .manager-zone{position:absolute;right:0;bottom:34px;font-size:12px}
#header-top .manager-zone a{color:white}.small-header #header-top{height:60px}#header-top .meta{position:absolute;width:420px;height:120px;top:10px;right:0}.small-header #header-top .meta{top:9px;width:auto;height:auto}
#header-top #login-box .picture{border-color:#e35757;margin-left:8px}#header-top .fb-like-button>iframe{width:326px}#header-top .fb-like-button>div{float:left!important}#logo{display:block;position:absolute;width:286px;height:89px;left:0;top:30px;background:url(../images/main-sprite.png) left -38px no-repeat;text-indent:-999em}
.small-header a#logo{width:119px;height:37px;left:50%;top:50%;margin:-18px 0 0 -60px;background-position:-186px -257px}#navigation{background:#1591fd;position:relative;width:100%;overflow:hidden}#navigation li{float:left;height:41px}
#navigation li a{color:white;font-size:14px;text-transform:uppercase;display:block;line-height:41px;padding:0 10px;color:white;font-weight:normal}#navigation .primary-menu li.first a{padding-left:0}#navigation li.selected a{color:black;background:white;padding-left:10px}
#navigation .primary-menu li.selected a{padding-left:10px}#navigation li a,#navigation li h2{height:41px;float:left}#navigation .leftcolor{position:absolute;left:0;width:55%;height:41px;background:#75a904 url(../images/shadow-sprite.png) repeat-x 0 33px}
#navigation .wrapper{height:41px;overflow:hidden}#navigation .primary-menu li{background:0}#navigation .twitter-menu li{background:0}#navigation .twitter-menu a{text-transform:none;padding-right:5px}#navigation .tags-menu li{background-color:black}
#navigation .twitter-menu a,#navigation .tags-menu a{padding-right:0}#navigation .tags-menu .more{padding-right:10px}#navigation .tags-menu a{text-transform:capitalize}#navigation .more a{padding-right:15px;text-transform:capitalize!important}
#navigation .tags-menu .more a{background:url("../images/main-sprite.png") no-repeat -311px -232px}#navigation .tags-menu .more-expanded a{background-position:-311px -209px}#navigation .twitter-menu .more a{background:url("../images/main-sprite.png") no-repeat -294px -232px}
#navigation .twitter-menu .more-expanded a{background-position:-294px -209px}#navigation .primary-menu .first{margin-left:0!important}#navigation,#navigation li{background-image:url(../images/shadow-sprite.png);background-repeat:repeat-x;background-position:0 33px}
#sub-menu{height:0;overflow:hidden;position:relative}#sub-menu section span{margin-right:5px}#sub-menu h2{display:inline;font-size:14px;font-weight:normal!important}#sub-menu section a{color:white;height:100%;line-height:26px;white-space:nowrap}
#sub-menu .close{background:white;position:relative;top:-20px}#sub-menu .close a{background:url("../images/main-sprite.png") no-repeat -295px -222px;font-size:13px;line-height:15px;padding:0 20px 5px 5px;text-align:center;width:50px;height:15px;margin:0 auto;display:block;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;color:white}
#sub-menu .active{display:block!important}#sub-menu .item{display:none;position:absolute;width:100%;height:auto;top:0;left:0;padding:10px 0;color:white}.bg-tags,.bg-tags .close a{background-color:black!important}
.bg-twitter,.bg-twitter .close a{background-color:#1591fd!important}.button,.button:hover,.fileinput,.fileinput:hover,#field-imagenes-items .form-submit,#field-imagenes-items .form-submit:hover{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.button,#field-imagenes-items .form-submit{font-family:arial;color:#000;font-size:11px;height:24px;line-height:24px;text-align:center;display:block;border:solid 1px #d0d0d0;border-top-color:#dedede;border-bottom-color:#c3c3c3;background:#f3f3f3;background:-moz-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f3f3f3),color-stop(100%,#e3e3e3));background:-webkit-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:-o-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:-ms-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);background:linear-gradient(top,#f3f3f3 0,#e3e3e3 100%)}
#field-imagenes-items .form-submit{height:31px;padding-bottom:2px;font-size:13px}.button:hover,#field-imagenes-items .form-submit:hover{border-color:#6c9809;border-top-color:#87be0f;border-bottom-color:#537503;color:#fff;text-decoration:none;background:#71a304;background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);background:linear-gradient(top,#71a304 0,#608704 100%);cursor:pointer}
form .button,.pager .button,.fileinput,#meta-author .button,#related .button,#reactions .button,#field-imagenes-items .form-submit,#rate-widget .voted,#overlay .button{color:white;border-color:#6c9809;border-top-color:#87be0f;border-bottom-color:#537503;background:#71a304;background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);background:linear-gradient(top,#71a304 0,#608704 100%)}
form .button:hover,.pager .button:hover,.fileinput:hover,#meta-author .button:hover,#related .button:hover,#reactions .button:hover,#field-imagenes-items .form-submit:hover,#rate-widget .voted:hover,#overlay .button:hover{border-color:#6c9809;border-top-color:#537503;border-bottom-color:#87be0f;background:#608704;background:-moz-linear-gradient(top,#608704 0,#71a304 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#608704),color-stop(100%,#71a304));background:-webkit-linear-gradient(top,#608704 0,#71a304 100%);background:-o-linear-gradient(top,#608704 0,#71a304 100%);background:-ms-linear-gradient(top,#608704 0,#71a304 100%);background:linear-gradient(top,#608704 0,#71a304 100%)}
#overlay .button{height:29px;line-height:29px;font-size:13px}#overlay .message{margin-bottom:20px}form .fileinput{position:relative;overflow:hidden;height:26px}form .fileinput .fakefile{position:absolute;top:0;left:0;z-index:1;font-size:12px;height:26px;line-height:26px;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
input.file{position:relative;text-align:right;opacity:0;z-index:2;height:auto!important}.comunity #container h1{margin-bottom:18px;font-size:43px;font-weight:normal;line-height:38px}.comunity .not-registered-yet{font-size:14px;text-align:right;padding:9px 90px 9px 0}
.comunity form fieldset{background:#f2f2f2;margin-bottom:1px}.comunity form fieldset.submit{color:#999;position:relative;padding:9px 0}.comunity form fieldset.submit label{height:16px;position:absolute;top:17px;left:10px;font-size:12px}
.comunity form fieldset.title{padding:0 0 0 20px;height:50px;line-height:50px}.comunity form.login .title{padding-left:40px}.comunity .conect-social{width:100%;background:#dfdfdf;text-align:center;height:50px;line-height:50px;border-bottom:solid 1px #fff;font-size:14px}
.comunity form.reset-pass fieldset.title{height:auto;line-height:25px;padding:10px 0 10px 20px}.comunity form fieldset.title h2{font-weight:normal;font-size:14px;line-height:50px}.comunity form fieldset.content{padding:20px 85px}
.comunity form fieldset.content td{width:301px;padding-bottom:10px}.comunity form fieldset.content select{width:305px}.comunity form fieldset.content a{font-size:12px}.comunity form fieldset.content .forgot-text{color:#999;font-size:14px;font-weight:normal;line-height:1.1em;margin-bottom:10px}
.comunity form fieldset.content img.avatar{float:left;border:1px solid #dadada;background:#f2f2f2;padding:1px}.comunity form fieldset.content .radio input{width:auto;margin-right:5px}.comunity form fieldset.content .radio label{float:left;width:auto;margin-right:5px;color:#444}
.comunity form fieldset.content label,.comunity form fieldset.content th{display:block;text-align:right;color:#999;font-size:14px;height:33px;line-height:33px;font-weight:normal;padding-right:10px;width:130px}
.comunity form fieldset.content input,.comunity form fieldset.content select{width:293px;height:29px;line-height:29px;padding-left:5px;padding-right:5px}.comunity form fieldset.content select{width:305px;padding:0}
.comunity form fieldset .submit{width:140px;float:right;margin:0;font-size:13px}.comunity form.reset-pass fieldset .submit{float:left;margin-left:20px}.comunity form.config-accounts .account{float:left;width:140px;height:42px;background:url(../images/main-sprite.png) no-repeat;text-indent:-999em}
.comunity form.config-accounts .facebook{background-position:0 -372px}.comunity form.config-accounts .button{width:150px;float:right;clear:none;margin:5px 0;height:29px;line-height:29px}.comunity form.config-accounts .twitter{background-position:0 -330px}
.comunity form.config-accounts ul{width:470px}.comunity form.config-accounts ul li{padding:10px 0;height:42px;border-top:solid 1px #fff}.comunity form.config-accounts ul li.first{border:0}.comunity form.config-basic fieldset.no-margin{margin:0}
.comunity form.config-basic fieldset.submit{padding-left:226px}.comunity form.config-basic fieldset.submit input{float:left;clear:none;margin-right:25px}.comunity form.config-basic tr.avatar .content{float:right;text-align:center;width:222px}
.comunity form.config-basic tr.avatar .content .file{width:222px}.comunity form.config-basic tr.avatar .content .delete-avatar{text-align:center;padding:0;margin-top:7px;font-size:12px;height:15px;line-height:15px;color:#000;width:100%}
.comunity form.config-basic tr.avatar .content .delete-avatar input{height:14px;margin-right:5px;width:14px}.comunity form.config-basic tr.avatar .more{width:220px;margin-top:0}.comunity form.config-delete-account input.submit{margin:0 auto;float:none}
.comunity form.forgot-pass fieldset.content label{text-align:left}.comunity form.forgot-pass fieldset.submit,.comunity form.login fieldset.submit,.comunity form.register fieldset.submit{padding-right:90px}
.container-recaptcha{height:69px}#recaptcha_widget{height:59px;position:relative;display:block;width:445px}#recaptcha_widget #recaptcha_image{width:300px!important;height:57px!important;padding:0 2px 0 1px;border:1px solid #e3e3e3;background:white;float:right}
#recaptcha_widget .cantReadBox{position:absolute;right:-25px;top:0;width:24px}#recaptcha_widget .cantReadBox li{margin:1px 0 0 0;height:20px;line-height:20px;width:24px}#recaptcha_widget .cantReadBox li.first{margin:0}
#recaptcha_widget .cantReadBox .listen{height:17px;line-height:17px}#recaptcha_widget .cantReadBox .captcha-icon{float:left;width:24px;height:20px;background:url(../images/main-sprite.png) no-repeat;text-indent:-999em}
#recaptcha_widget .cantReadBox .refresh .captcha-icon{background-position:-137px -237px}#recaptcha_widget .cantReadBox .refresh .captcha-icon:hover{background-position:-161px -237px}#recaptcha_widget .cantReadBox .listen .captcha-icon{background-position:-137px -257px;height:17px}
#recaptcha_widget .cantReadBox .listen .captcha-icon:hover{background-position:-161px -257px}#recaptcha_widget .cantReadBox .help .captcha-icon{background-position:-137px -274px}#recaptcha_widget .cantReadBox .help .captcha-icon:hover{background-position:-161px -274px}
.recaptcha-error label{float:left}.general-menu{background:#71a304;background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#71A304',endColorstr='#608704',GradientType=0);background:linear-gradient(top,#71a304 0,#608704 100%);font-size:14px;width:100%;height:46px;position:relative;margin-top:15px;overflow:hidden}
.general-menu li{height:46px;float:left}.general-menu a{color:white;float:left;margin:0;height:26px;margin:8px 0;padding:0 10px;outline:0;line-height:29px}.general-menu .active{background:#cdef00;border:1px solid #9eb900;border-bottom:0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;height:28px;margin:8px 0;line-height:27px;color:#5e6e00;font-weight:bold}
.general-menu .first{margin-left:10px}form.search{position:relative}form.search input.text{padding:5px 7px 4px 7px;border:2px solid #74a805;border-right:0;width:151px;height:15px;font-size:14px}form.search .submit{font-weight:bold;font-size:0;color:white;padding:4px 0 8px 0;margin:0;border:0;width:28px;height:28px;text-indent:-999em;padding:0;position:absolute;right:0;top:14px;background:#74a805 url("../images/main-sprite.png") no-repeat -213px -211px}
header.search-results .results-data{border-bottom:2px solid black;font-size:18px;height:39px;line-height:26px;margin:3px 0 2px}header.search-results .search{background:none repeat scroll 0 0 #f3f3f3;height:30px;margin-bottom:8px;padding:10px 289px;position:relative;width:372px}
header.search-results form.search input.submit{top:10px;right:289px}header.search-results form.search input.text{width:328px}header.search-results h2{font-size:48px;font-weight:normal;letter-spacing:-1px;line-height:48px}
header.title h1,header.title h2{font-size:48px;font-weight:normal;letter-spacing:-1px;line-height:48px;border-bottom:2px solid #000;padding-bottom:10px}.page-404 header.title{text-align:center;margin-top:50px}
.page-404 header.title h1{margin-bottom:10px}.page-404 header.title p{font-size:25px;margin-bottom:50px}.messages{color:#444;margin-bottom:20px;padding:10px 20px;font-size:16px}.messages.error{background-color:#ffad9b;border:1px solid #ffad9b}
.messages.error ul{list-style-type:disc;margin-left:20px}.messages.error ul li{padding:5px 0}.messages.status{background-color:#d4ffb0;border:1px solid #d4ffb0;line-height:26px}.messages a{color:#0056c3}
.tag-list{color:#6a6a6a;font-size:14px}.tag-list h2{display:inline;font-weight:normal}.tag-list a{font-size:14px}#meta-author{font-size:14px}#meta-author.no-avatar{height:27px}#meta-author.avatar{height:43px}
#meta-author .button{float:right;width:100px;margin-top:8px}#meta-author.avatar .content{height:43px;float:left;position:relative;width:460px;border:0;background:0}#meta-author.avatar .content time{position:absolute;bottom:0;left:0;color:#6a6a6a;font-size:13px}
#meta-author.avatar .author{position:absolute;left:0;top:10px}#meta-author.avatar .author h1{display:inline}#meta-author img{float:left;margin-right:10px}#meta-author .author{visibility:visible;display:block;margin:0 0 3px 0}
#meta-author .source-org{background:#e10f0f;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px;text-transform:uppercase;padding:1px 9px;margin-left:5px;position:relative;top:-1px}
#new .entry-title{font-size:40px;font-weight:normal;margin:-4px 0 13px 0;color:#000;display:block;line-height:37px;word-spacing:-2px}#new a.back{display:block;margin-bottom:10px}#new figure{position:relative;height:349px}
#new .entry-content{margin-top:20px;overflow:hidden;position:relative}#new .entry-content,#new .entry-content p{color:#1f1f1f;font:16px/24px Arial,Helvetica,sans-serif}.entry-content ul{padding-left:20px;list-style:disc;margin-bottom:15px}
.entry-content ol{padding-left:20px;list-style:decimal;margin-bottom:15px}#new .entry-content p{margin-bottom:15px}#new .tag-list{margin:7px 0}#tweet{position:relative}#tweet header{position:relative;margin-bottom:20px;z-index:60}
#tweet header .bird{background:url(../images/main-sprite.png) 0 -436px;bottom:-40px;height:51px;position:absolute;right:-25px;width:90px}#tweet .content{position:relative!important;border:1px solid #7dcbfb;background:#d5efff}
#tweet .content .cloud{width:119px;height:75px;background:url(../images/main-sprite.png) -144px -412px;position:absolute;left:1px;bottom:1px}#tweet .entry-content{position:relative;font-size:24px;line-height:28px;padding:42px 18px 42px 40px;word-wrap:break-word}
#tweet .content a{color:#75a904}#tweet .share{border-top:0}.tag-list{line-height:1.4}#rate-widget{margin:25px 0 10px 0}#rate-widget .container{position:relative}#rate-widget .spinner{bottom:0;display:none;height:34px;left:0;position:absolute;width:99px}
#rate-widget .spinner span{position:absolute;left:50%;top:50%;margin:-6px 0 0 -8px;background:url(../images/green-spinner.gif);width:16px;height:11px}#rate-widget li{float:left;width:99px;margin-left:5px}
#rate-widget li.first{margin-left:0}#rate-widget h3{font-size:20px;font-weight:bold;line-height:19px;border-bottom:3px solid #000;padding-bottom:10px;margin-bottom:15px;word-spacing:-2px}#rate-widget ul .voto{border:solid 1px #cbcbcb;background:#f7f7f7;width:auto;height:50px;line-height:50px;text-align:center;font-size:20xp;font-weight:bold;margin-bottom:5px}
#rate-widget .button{color:#000;font-size:14px;height:32px;line-height:32px}#rate-widget .voted{color:white}#rate-widget .button:hover{color:white}#relationship_notas{height:0;overflow:hidden;position:relative}
#relationship_notas.voto{border-bottom:1px solid #cbcbcb}#relationship_notas .loading{background:rgba(255,255,255,.7);position:absolute;left:0;top:0;width:100%;height:100%;z-index:100}#relationship_notas.voto-2 b{left:246px}
#relationship_notas.voto-1 b{left:142px}#relationship_notas.voto-0 b{left:38px}#relationship_notas.voto-4 b{left:454px}#relationship_notas.voto-5 b{left:558px}#relationship_notas.voto-3 b{left:350px}#relationship_notas b{display:block;position:relative;width:24px;height:12px;top:1px;background:url(../images/main-sprite.png) no-repeat -250px -135px;z-index:150;font-size:1px}
#relationship_notas h3{font-size:14px;border:0;margin-bottom:14px;font-weight:normal}#relationship_notas .content{border:1px solid #cbcbcb;border-bottom:0;padding:10px 0;position:relative}#relationship_notas .content div.share{border:medium none;float:left;height:auto;margin:0 5px;padding:5px 20px 0 20px;width:147px}
#relationship_notas .share li{height:36px;width:147px;margin-bottom:25px;margin-left:0}#relationship_notas .share li a{background:url(../images/main-sprite.png) -345px -136px;display:block;height:100%;width:100%}
#relationship_notas .share li .facebook{background-position:-213px -294px}#relationship_notas .share li .facebook:hover{background-position:-213px -487px}#relationship_notas .share li .twitter{background-position:0 -294px}
#relationship_notas .share li .twitter:hover{background-position:0 -487px}#relationship_notas .related{width:390px;padding:0 15px;float:right;border-left:1px solid #cbcbcb}#relationship_notas .related article{float:left;margin-left:34px;width:107px}
#relationship_notas .related article.first{margin-left:0}#relationship_notas .related article.no-picture{padding-top:70px}#relationship_notas .related article footer{display:none;visibility:hidden}#relationship_notas .related article .entry-title{color:#75a904;font-size:13px;font-weight:bold;line-height:16px;padding:0 0 6px}
#relationship_notas .related article figure{height:60px;position:relative;width:107px;z-index:0;margin:0;margin-bottom:10px}#relationship_notas .share,#relationship_notas .related{padding-top:5px}#comments{margin-top:20px}
#comments .comments-header a{float:right;font-size:12px;color:white}#comments .see-all{padding:19px 0 0 19px;border:0}#comments .see-all a{font-size:12px}#comments article{padding:18px 8px 0 8px;border-top:1px solid #cbcbcb;position:relative}
#comments article.first{padding-top:6px;border:0}#comments section,#comments footer{padding:12px;background:#f7f7f7}#comments .comments-body,#comments .comments-footer{border:1px solid #cbcbcb;border-top:0}
.page-comment #comments .comments-body,.page-comment #comments .comments-footer{border:1px solid #cbcbcb}.page-comment #comments .comments-body{border-bottom:0}#comments footer{padding:19px}#comments footer h2{margin-bottom:10px}
#comments .comment-body{float:right;width:512px;position:relative;padding:0;font-size:12px;margin:22px 0 10px 0}#comments .comment-body .content{color:#333;margin:0 0 15px 0;overflow:hidden;position:relative}
#comments .comment-body .content{font:16px/17px Arial,Helvetica,sans-serif}#comments .comment-body .content iframe{margin:10px auto 0 auto;display:block}.page-comment #comments .comment-body .content img,.page-comment #comments .comment-body .content iframe{max-width:458px!important;display:block;margin:0 auto}
.node-type-nota #comments .comment-body .content img,.node-type-nota #comments .comment-body .content iframe{max-width:512px!important;display:block;margin:5px auto}#comments .comment-body .content img{height:auto!important}
.node-type-nota #new .entry-content img,.node-type-nota #new .entry-content iframe{max-width:620px!important;margin:0 auto;display:block}.node-type-nota #new .entry-content img{height:auto!important}.comment-body .content p{margin-bottom:5px}
#new .entry-content p.rteleft,.comment-body .content p.rteleft{text-align:left}#new .entry-content p.rtecenter,.comment-body .content p.rtecenter{text-align:center}#new .entry-content p.rteright,.comment-body .content p.rteright{text-align:right}
.comment-body .content ul,.comment-body .content ol{padding-left:20px;margin-bottom:5px}.comment-body .content ul li{list-style:disc}.comment-body .content ol li{list-style:decimal}.node-type-nota #new figure .play{width:66px;height:37px}
.node-type-nota #new figure .play-photo{background-position:-294px -413px}.node-type-nota #new figure .play-photo:hover{background-position:-294px -450px}.node-type-nota #new figure .play-video{background-position:-137px -172px}
.node-type-nota #new figure .play-video:hover{background-position:-184px -135px}.comment-body .actions{height:18px;position:relative}#comments .comment-meta{position:absolute;font-size:14px}.node-type-nota #comments .comment-meta{width:578px}
.page-comment #comments .comment-meta{width:525px}#comments .comment-meta .avatar{display:block;width:43px;height:43px;padding:1px;border:1px solid #cbcbcb;float:left}#comments .comment-meta h1{position:absolute;top:0;left:67px}
#comments .comment-meta a{font-size:14px;color:black;font-weight:bold}#comments .comment-meta time{font-size:11px;color:#999;position:absolute;right:0;top:3px}#comments form textarea{width:558px;height:255px;padding:10px;margin-bottom:8px;border:1px solid #e3e3e3}
#cke_ckeditor-comment{margin-bottom:8px}.cke_editor_ckeditor-note{position:relative;z-index:200;background:white}.cke_skin_kama{background:white}span.cke_dialog_ui_html,span.cke_dialog_ui_html li{color:#666}
#comments .comments-header,#ver-todos .title{background:#71a304;background:linear-gradient(top,#71a304 0,#608704 100%);background:-moz-linear-gradient(top,#71a304 0,#608704 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71a304),color-stop(100%,#608704));background:-webkit-linear-gradient(top,#71a304 0,#608704 100%);background:-o-linear-gradient(top,#71a304 0,#608704 100%);background:-ms-linear-gradient(top,#71a304 0,#608704 100%);color:#fff;font-size:20px;font-weight:normal;line-height:36px;padding:2px 10px;height:36px}
#comments .comments-header h3{font-weight:normal;float:left}#comments .not-logged li span{position:absolute;width:24px;height:24px;top:6px;left:10px;background:url(../images/main-sprite.png) no-repeat}
#comments .not-logged h4{font-size:12px;font-weight:normal;margin-bottom:20px}#comments .not-logged li{height:36px;float:left;line-height:36px;position:relative}#comments .not-logged li.link{margin-left:10px;font-weight:normal}
#comments .not-logged li.first{margin-left:5px}#comments .not-logged li.title{font-size:13px;color:#9d9d9d}#comments .not-logged li:hover{cursor:pointer}#comments .not-logged li:hover a{text-decoration:none;color:white}
#comments .not-logged .tp{background-position:-336px -87px}#comments .not-logged li:hover .tp{background-position:-336px -111px}#comments .not-logged .twitter{background-position:-312px -87px}#comments .not-logged li:hover .twitter{background-position:-312px -111px}
#comments .not-logged .facebook{background-position:-288px -87px}#comments .not-logged li:hover .facebook{background-position:-288px -111px}#comments .not-logged li a{float:left;height:36px;padding:0 13px 0 39px;color:black;font-size:14px}
#comments .not-logged ul{background:none repeat scroll 0 0 #fff;border:1px solid #e3e3e3;margin:0;padding:30px 66px;width:446px}#comments form .submit{float:right;font-size:13px;padding:0 0 2px 0;width:158px}
.comment-body .actions .report{color:#999}#comments .actions .rate{width:115px}#comments .actions .rate a:hover{text-decoration:none;cursor:pointer}#comments .actions .rate .thumbs{background:url(../images/main-sprite.png) no-repeat;display:block;float:left;height:16px;line-height:16px;margin-right:13px;padding-right:17px;width:25px}
#comments .actions .rate .thumb-down{background-position:-302px -135px}#comments .actions .rate .thumb-up{background-position:-302px -151px}.comment-body .actions .actions{float:right}.comment-body .actions .actions li{float:left;margin-left:10px}
.comment-body .actions .actions li a{padding-left:16px;background:url("../images/main-sprite.png") no-repeat;height:15px;line-height:15px;font-size:12px}.comment-body .actions .actions li .edit{background-position:-274px -182px}
.comment-body .actions .actions li .delete{background-position:-274px -168px}.comment-body .actions .actions li .respond{background-position:-274px -196px}#comments .actions .rate,.comment-body .actions .report{float:left;font-size:12px}
#overlay{border:4px solid white;background:white;width:457px;position:absolute;left:50%!important;margin-left:-228px!important;padding-bottom:5px}.overlay .more:hover,.overlay .close:hover{cursor:pointer}
.overlay .content{line-height:15px;position:relative;margin:0 10px 10px 10px}.overlay .content .panel{position:absolute;top:0;left:0;display:none;width:100%}.overlay .content .message{width:328px;margin:0 auto;background:#dde9ff;border:solid 1px #cfe3fb;padding:20px;line-height:15px}
.overlay .content .message p{margin-bottom:10px}.overlay .content .active{display:block}.overlay .content .loading{background:url(../images/spinner.gif) no-repeat center center;background-color:rgba(0,0,0,.5);width:100%;height:100%;position:absolute;top:0;left:0}
.overlay .header{height:42px;background:#f2f2f2;line-height:42px;padding:0 10px;margin-bottom:20px;position:relative}.overlay .header .close{position:absolute;right:10px;top:7px;height:26px;line-height:26px;color:#0056c3;background-color:#eaeaea;border:1px solid #ccc;border-bottom:1px solid #fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;width:65px;font-size:12px}
.overlay .header,.overlay .content{font-size:14px}.overlay .panel-success .close{width:368px;margin-left:auto;margin-right:auto}#overlay .report-submit{color:white;background:red;border-color:#950100 #950101 #930104 #950101;margin-right:10px;height:32px;background:#bd0102;background:-moz-linear-gradient(top,#bd0102 0,#af0000 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bd0102),color-stop(100%,#af0000));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#BD0102',endColorstr = '#AF0000',GradientType = 0);background:-o-linear-gradient(top,#bd0102 0,#af0000 100%)}
#overlay .report-submit:hover{background:#af0000;background:-moz-linear-gradient(top,#af0000 0,#bd0102 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#af0000),color-stop(100%,#bd0102));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#AF0000',endColorstr = '#BD0102',GradientType = 0);background:-o-linear-gradient(top,#af0000 0,#bd0102 100%);border-color:#930104 #950100 #950100 #950100}
.overlay .spinner{position:absolute;right:0;text-align:center;top:10px;width:302px}.overlay .submit-content{position:relative}.overlay .title{font-size:24px;font-weight:bold;line-height:26px;margin-bottom:15px}
.overlay .toc{font-size:10px;color:#868686;line-height:12px;padding:0 10px}.overlay .toc a{color:#0056c3}.overlay div.error{display:none;margin-bottom:10px}.report .content{height:133px}.report .spinner{top:30px;width:150px}
.report .submit-content{width:150px;text-align:center;float:left;margin-right:10px}.report form{width:312px;margin:20px auto 10px auto}.report form .submit{float:left;clear:none;width:150px;height:29px;line-height:29px;font-size:13px}
.report form input.submit{height:32px;padding-bottom:3px}.send-email .content{height:211px}.send-email form input,.send-email form textarea{padding:5px;width:280px;border:1px solid #e3e3e3;font-size:13px}
.send-email form input.error{background:#ffffd3}.send-email form input.submit{margin:0;float:right;width:292px;padding:0 5px}.send-email form td{padding-bottom:5px}.send-email form textarea{height:100px}
.send-email form th{font-size:14px;text-align:left;font-weight:normal;vertical-align:middle;padding-right:10px}.pager .button{height:40px;font-size:18px;line-height:40px;margin:0 auto;width:950px}.pager .prev,.pager .next{width:230px}
.pager .prev{float:left}.pager .next{float:right}.no-sidebar .pager{margin-top:4px}.no-sidebar .pager .prev{margin-left:4px}.no-sidebar .pager .next{margin-right:4px}.share{height:21px;position:relative;border-bottom:1px solid #d3d3d3;border-top:1px solid #d3d3d3;padding:7px 0;margin:10px 0;z-index:105}
.share-comments,.share-trend,.share-category,.share-user,.share-tag{margin-top:0;border-top:0;margin-bottom:20px}#new footer .share{margin-bottom:22px}.share-nota .alignleft{height:21px}.share-comment .comments a,.share-nota .alignleft a{width:88px;float:left}
.share-nota .alignright{height:21px;position:absolute;right:0}.share-comment .comments .comments-number,.share-nota .comments-number{float:left;position:relative;height:19px;padding:0 6px;border:#6c9809 solid 1px;border-top-color:#87be0f;border-bottom-color:#537503;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;font-size:12px;line-height:19px;margin-left:5px}
.share-nota .comments-number b,.share-comment .comments .comments-number b{width:4px;height:8px;background:url(../images/main-sprite.png) -203px -212px;position:absolute;left:-4px;top:50%;margin-top:-4px;font-size:1px;display:block}
.share-comment .comments,.share-nota li.comments{width:140px;float:left}.share-nota li.comments a,.share-comment .comments a{height:19px;line-height:19px}.share-nota ul li{float:left}.share-nota ul li.link a{display:block;text-indent:-9999px;background:#efefef;height:21px;width:30px;background:url(../images/main-sprite.png) no-repeat;margin-left:10px}
.share-nota ul li a.icon-print{background-position:-181px 0}.share-nota ul li a.icon-print:hover{background-position:-241px 0}.share-nota ul li a.icon-email{background-position:-151px 0;margin-left:0}
.share-nota ul li a.icon-email:hover{background-position:-211px 0}.share .send-by-fb{width:75px;height:100%;float:left}.share .send-by-fb span iframe{width:75px!important}.share .send-by-fb span.fb_iframe_widget iframe{width:401px!important;z-index:100;background:white}
.share .fb{float:left;margin-right:5px;width:134px}.share .tw{float:left;width:112px}.share .glg{float:left;margin-right:5px}.tooltip{display:none;background:url(../images/main-sprite.png) 0 -135px no-repeat;font-size:12px;padding:25px;color:#fff;padding:8px 8px 15px 8px;width:121px;height:56px;text-align:center;line-height:1.5;z-index:1000}
#tooltip.bottom,#tooltip-facebook.bottom,#tooltip-twitter.bottom{background-position:0 -214px;padding:15px 8px 8px 8px;z-index:1000}section.block{margin-bottom:20px}.block header h3{border-bottom:2px solid #000;font-size:20px;font-weight:bold;margin-bottom:1px;padding-bottom:7px}
.block .sections,.block .sections li{height:46px;line-height:46px}.block .sections{font-size:14px;background:#bfdf00}.block .sections li{float:left;margin:0 5px;text-align:center}.block .sections a{padding:5px;color:black;border:solid 1px #bfdf00;border-bottom:0}
.block .sections li.selected a{background:#cdef00;border:1px solid #9eb900;border-bottom:0;color:#5e6e00;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;position:relative;z-index:0}
.block .content{border:solid 1px #cbcbcb;border-top:0}section.last-registerd ul{margin:0 auto;padding:14px 0 0 0;width:271px}section.last-registerd li{float:left;margin:0 14px 14px 0;width:43px;height:43px}
section.last-registerd li.last{margin-right:0}section.last-registerd .content{border:solid 1px #cbcbcb!important;margin-top:10px}#sidebar .river-news article{margin:8px auto 0 auto;float:none}#sidebar .river-news article.first{margin-top:0}
#sidebar .more{width:230px;margin:0 auto 10px auto;height:34px;line-height:34px;font-size:14px}#sidebar .more:hover{color:white}#social-network .loading{height:200px!important;text-indent:-999em}#social-network .error{height:100px!important;text-indent:0;padding:0 10px;font-size:13px;color:#999;text-align:center;line-height:100px;background:white;border:0}
#social-network .panel a{font-size:11px}#social-network .youtube a,#social-network .blogs a{font-size:13px!important}#social-network #tw-search{height:300px;width:278px;margin:0 auto}#social-network .content ul{width:278px;margin:0 auto}
#social-network .content li{margin-top:10px}#social-network .content li.first{margin-top:0}#social-network .youtube figure{float:left;margin-right:5px}#footer{background:#bfdf00 url(../images/shadow-sprite.png) repeat-x left -148px;padding-top:25px;margin-top:20px}
.small-header #footer{padding:0}#footer #internal-links{margin-left:0}#footer #internal-links a{font-size:13px}#footer #internal-links ul{padding:0}#footer #internal-links ul li{margin-bottom:5px}#footer #internal-links h3{background:0;border:0;height:37px;width:119px;margin:3px 0 25px 0;padding:0}
#footer #internal-links h3 a{text-indent:-999em;display:block;height:100%;width:100%;background:url(../images/main-sprite.png) -186px -257px no-repeat}#footer a{color:#000;font-size:14px;font-weight:normal}
#footer a.first{margin-left:192px}#footer .block{float:left;margin-left:10px;width:182px}#footer .block h3{background:#cdef00;border:1px solid #9eb900;border-bottom:0;color:#5e6e00;font-size:16px;padding:0 10px;line-height:34px;height:34px;margin-bottom:12px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;position:relative;z-index:0}
#footer .block ul{padding-left:10px}#footer .block ul li{margin-bottom:10px;line-height:12px}#footer .view-more{margin-bottom:25px}#footer .view-more a.block{margin-bottom:0;font-size:14px;padding:5px 0 0 10px;width:172px;border-top:1px solid #9eb900}
#footer .visit-to{position:absolute;top:6px;left:25px}#footer .visit-to li{float:left;height:13px;line-height:13px;margin-right:3px;padding-left:3px}#footer .visit-to li.link{border-left:1px solid #8c8c8c}
#footer .visit-to li.first{border:0}#footer .visit-to li.link a{float:left;font-size:12px;height:14px;line-height:14px;padding:0 3px}#footer .visit-to .title{font-size:13px;font-weight:bold;margin-right:5px;padding:0}
#footer-bottom{border-top:1px solid #9eb900;padding-top:12px;padding-bottom:12px;font-size:11px;background:#bfdf00;height:24px;line-height:24px}.small-header #footer-bottom{padding-top:18px;background:0}
#footer-bottom .copyright{position:absolute;right:0;top:0}#footer .iconosur{position:absolute;top:0;right:0;width:63px;height:24px;background:url(../images/main-sprite.png) -138px -211px no-repeat;text-indent:-999em;margin-left:10px;overflow:hidden}
.page-comment .meta time{right:5px;position:absolute;top:0}.page-comment #comments section{border:1px solid #cbcbcb}.page-comment #comments .logged ul .twitter{margin:0}.page-comment #comments form textarea{width:512px}
.page-comment #comments section{margin:0!important}.page-comment section#comments{margin:0 0 0 53px;border:0}.page-comment #comments footer{padding:15px}.page-comment #comment .comment-body{float:left;margin-left:10px;padding:0;width:888px}
.page-comment #comments article .comment-body{width:458px}.page-comment #comments .not-logged ul{padding-left:43px;padding-right:43px}.page-comment #content-top{height:71px;margin:10px 0 30px 0}.page-comment #content-top .arrow{background:url(../images/main-sprite.png) -150px -294px;float:left;height:71px;width:27px}
.page-comment #content-top .content{border:solid 1px #dadada;border-left:none;float:left;width:887px;padding-left:29px;height:69px;position:relative}.page-comment #content-top .comments-count{position:absolute;top:20px;right:5px;font-size:12px}
.page-comment #comment .avatar{float:left;width:43px;height:43px}.page-comment #comment .meta{padding-left:3px}.page-comment #comment .meta h1{display:inline}.page-comment #comment .meta{position:relative;font-size:14px;font-weight:bold}
.page-comment #comment .content{font-size:42px;margin-top:5px;word-spacing:-5px;font-weight:normal}.page-comment #content-top h2{margin:13px 0 4px 0}.page-comment #content-top h2 a{font-size:18px;word-spacing:1px}
.page-comment #content-top time{font-size:12px}.publish{margin-bottom:20px}.publish fieldset label,.publish fieldset .title{height:35px;display:block;text-align:left;line-height:40px;font-size:18px;font-weight:normal;width:125px}
.publish fieldset .upload-video label{width:auto}.publish .text,#field-imagenes-items .form-text{padding:4px;height:30px;background:#f6f6f6;font-size:18px}.publish fieldset select{height:30px;line-height:30px;width:710px;font-size:18px}
.publish .text{width:770px}.publish.small-form .text{float:left}.publish fieldset .text{float:left;width:700px}.publish fieldset li{margin-bottom:10px}.publish fieldset .desc{width:210px;float:right;color:#999;line-height:1.25em}
.publish.small-form input.submit{float:right;font-size:18px;height:40px;width:158px;line-height:38px}.publish textarea{width:938px;margin:0 auto;height:265px;padding:5px;border:solid 1px #000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.embed{margin-bottom:10px}.publish .embed .embed-selector li{float:left;margin:0 10px 0 0;height:38px;width:54px}.embed .embed-selector a{float:left;text-indent:-999em;background-image:url(../images/main-sprite.png);width:54px;height:38px}
.embed .embed-selector .image a{background-position:-240px -333px}.embed .embed-selector .image a:hover,.embed .embed-selector .image .selected{background-position:-240px -371px}.embed .embed-selector .video a{background-position:-186px -333px}
.embed .embed-selector .video a:hover,.embed .embed-selector .video .selected{background-position:-186px -371px}.embed .upload{height:0;overflow:hidden}.embed .upload .item{display:none;opacity:0;padding-top:10px;background:white}
.embed .upload .active{display:block}.embed .upload .uploaded,#field-imagenes-items .filefield-element{margin-bottom:7px;height:84px;position:relative;overflow:hidden}#field-imagenes-items .ahah-new-content .filefield-element{min-height:26px}
.embed .upload .uploaded img,#field-imagenes-items .widget-preview{float:left;width:100px}#field-imagenes-items .imagefield-preview{display:table-cell;height:84px;text-align:center;vertical-align:middle}
.embed .upload .uploaded .meta,#field-imagenes-items .widget-edit{height:64px;left:118px;position:absolute;top:10px;width:732px}#field-imagenes-items .content-add-more{margin:10px 0 0 0}#field-imagenes-items .ahah-new-content .widget-edit{height:26px;left:auto;top:auto;margin:10px 0 0 0;position:relative}
#field-imagenes-items .widget-edit .ahah-processed,#field-imagenes-items .widget-edit input.form-submit{height:31px;position:absolute;right:0;top:45%;width:110px}.publish .embed .upload .uploaded .meta label,#field-imagenes-items .widget-edit label{line-height:1em;height:18px;margin-bottom:5px}
.publish .embed .upload .uploaded .meta .text,#field-imagenes-items .form-text{width:582px}.embed .upload .uploaded .meta .button{width:110px;float:right;height:26px;line-height:26px;margin-top:5px}.embed .upload .to-upload .fileinput{width:200px;margin:0 auto}
.embed .upload .to-upload{margin:0 0 15px 110px;width:740px}#field-imagenes-items .filefield-upload{margin:0 0 15px 0;width:741px;position:absolute;left:-118px;top:20px}#field-imagenes-items .ahah-new-content .filefield-upload{left:0}
#field-imagenes-items .filefield-upload input{float:left;position:static!important;margin-right:10px}#field-imagenes-items .file-upload-js-error{padding:17px 5px 17px 469px;position:relative;margin-bottom:0;width:474px;height:48px;overflow:hidden;left:-118px;top:-10px}
#field-imagenes-items .ahah-new-content .file-upload-js-error{left:0;top:-16px}.embed .upload .to-upload input.submit{float:right;height:26px;line-height:26px;width:112px}#field-imagenes-items .filefield-upload input.form-submit{height:31px;width:112px;position:absolute;right:0;top:0;padding-bottom:2px;margin-top:-3px}
#field-imagenes-items #edit-field-imagenes-field-imagenes-add-more{padding-left:15px;padding-right:15px}.embed .upload .add-image{margin-left:110px;height:28px;line-height:28px;padding:0 20px}#field-imagenes-items .description{display:none;visibility:hidden}
.publish .actions{margin-top:10px}.publish .actions ul,.publish .actions input.submit{float:left}.publish .actions ul{margin:10px 20px 10px 0}.publish .actions input.submit{font-size:18px;font-weight:normal;margin-left:10px;padding:0 6px 2px 6px;width:158px;height:40px;line-height:38px}
#publish-to{font-size:12px;color:#000;float:left;position:relative}#publish-to li{margin-right:10px;float:left;height:19px;padding:0;line-height:19px}#publish-to li input{margin:0 5px 0 0;vertical-align:middle}
#publish-to li label{float:left;height:19px;line-height:19px}#publish-to .link{margin-right:20px}#publish-to .link span{float:left;width:19px;height:19px;background:url("../images/main-sprite.png") no-repeat;margin-right:5px}
#publish-to li.twitter span{background-position:-132px 0}#publish-to li.twitter:hover span{background-position:-132px -19px}#publish-to li.facebook span{background-position:-113px 0}#publish-to li.facebook:hover span{background-position:-113px -19px}
#reactions{height:0;overflow:hidden}#reactions .more{height:28px;line-height:28px;font-size:13px;margin-top:10px}#reactions header .title{font-size:16px;font-weight:bold;padding-top:10px}#reactions section.content{background:none repeat scroll 0 0 #def0fc;color:#000;font-size:14px;margin:15px 0 0;padding:5px 10px 0}
#reactions article{border-top:1px solid white;padding:10px 5px}#reactions article.first{border:0}#reactions article .avatar{background:none repeat scroll 0 0 #f2f2f2;border:1px solid #dadada;float:left;height:48px;padding:1px;width:48px}
#reactions article .comment-body{float:left;margin-left:13px;padding:0;width:525px}#reactions article .meta{color:black;font-size:14px;font-weight:bold;margin-bottom:3px;position:relative}#reactions article .user-profile{color:black;font-size:14px;font-weight:bold}
#reactions div.content{font-size:14px;line-height:20px;margin-bottom:10px;word-wrap:break-word}#reactions a{color:#0056c3}#reactions article .respond{color:#868686;font-size:12px;text-align:right}#reactions article .respond li{display:inline;margin-right:5px}
#reactions article .first{border-right:1px solid #dadada;padding-right:5px}input.placeholder{color:#666}#ver-todos{width:950px;padding:0 0 80px 0;overflow:hidden;font-size:12px}#ver-todos .block{float:left;width:310px;margin-right:10px}
#ver-todos .last{margin-right:0}#ver-todos a{font-size:16px;font-weight:normal;line-height:24px;color:black}#ver-todos li ul li{margin:12px 0}#ver-todos li ul{clear:left;padding:0 10px}#ver-todos .title{font-size:16px}
.proteccion-datos img{display:block;margin:0 auto}.terms li{font-size:16px;line-height:22px;margin-top:20px;margin-bottom:5px}.terms ol{margin-left:30px}.terms ol ul,.terms ol ol{margin-left:20px}.terms ol .b{font-weight:bold}
.terms ol.num{list-style-type:lower-roman}.terms ol.letras{list-style-type:lower-alpha}ul.circle li{list-style:disc}.banner{margin:0 auto}.banner-470x268{height:268px;width:470px;float:right;margin:4px;border:1px solid #c2c2c2;text-align:center}
.banner-300x250{width:310px}.banner-470x268 div{margin:9px 0 0 0}#sidebar .banner{background:none repeat scroll 0 0 white;position:relative;margin-bottom:20px}#banner-middle{background-color:#000}body>img,body>iframe{display:none;visibility:hidden}
.trendlink{font-size:14px;position:absolute;right:0;top:70px;z-index:110}a.twitter-follow-button{display:none;visibility:hidden}iframe.twitter-follow-button{width:150px!important;position:absolute;top:119px;left:0}
.node-type-publish .ie-support{padding:20px;border:1px solid #75a904;margin:20px 0;background-color:#f5f5f5;display:none}.node-type-publish .ie-support dt{margin-bottom:20px}.node-type-publish .ie-support li{display:inline;margin-right:5px}
.coda-slider .no-content{margin:20px auto;width:230px;color:#666;font-size:13px;text-align:center}.node-type-nota .fb-block .content{border:0}.trend-tag{height:2500px;padding:0 5px}#trend-tag .twtr-hd{display:none}
#trend-tag .twtr-ft{display:none}#trend-tag .twtr-tweet{border:0;margin-bottom:20px}#trend-tag .twtr-tweet,#trend-tag .twtr-tweet-text{min-height:66px}#trend-tag .twtr-tweet-text{border:0}#trend-tag .twtr-tweet-text b{display:none}
#trend-tag .twtr-tweet-text p{font-size:16px;margin-top:-9px!important}#trend-tag .twtr-timeline{overflow:hidden}#trend-tag .twtr-tweet a{color:red}.trend-tag .wrapper{padding:10px 0}.trend-tag .comment-meta .avatar{display:block;height:43px;width:43;float:left;padding:1px;border:solid 1px #dadada;margin-right:23px}
.trend-tag .comment-meta h1{display:inline}.trend-tag .comment-body{float:right;width:880px;margin-top:10px;color:#444}.trend-tag .comment-body div.actions{margin-top:5px;font-size:12px}.trend-tag time{color:#999}
#last-comments{margin-top:10px;height:auto;overflow:hidden}#last-comments.block .comment,#last-comments .tmp .comment{height:auto;opacity:1}#last-comments .tmp,#last-comments .comment{height:0;overflow:hidden;opacity:0}
#last-comments .last{height:auto;opacity:1}#last-comments.block .wrapper{width:100%;line-height:17px}#last-comments.block .content{height:auto;border:solid 1px #cbcbcb}#last-comments.block .content .content{float:right;width:240px;border:0;font-size:14px;line-height:16px}
#last-comments.block .avatar{margin-right:10px}#last-comments .user-profile{color:#000;font-weight:bold}body.team-cabj #header{background-color:#102397;background-image:url(../images/headers/cabj.jpg)}body.team-caab #header{background-color:#000;background-image:url(../images/headers/caab.jpg)}
body.team-caaj #header{background-color:#102397;background-image:url(../images/headers/caaj.jpg)}body.team-afc #header{background-color:#21a4cd;background-image:url(../images/headers/afc.jpg)}
body.team-cab #header{background-color:#07873a;background-image:url(../images/headers/cab.jpg)}body.team-cac #header{background-color:#d70303;background-image:url(../images/headers/cac.jpg)}
body.team-edelp #header{background-color:#d70303;background-image:url(../images/headers/edelp.jpg)}body.team-gelp #header{background-color:#102397;background-image:url(../images/headers/gelp.jpg)}
body.team-cdgcat #header{background-color:#102397;background-image:url(../images/headers/cdgcat.jpg)}body.team-cah #header{background-color:#d80707;background-image:url(../images/headers/cah.jpg)}
body.team-cai #header{background-color:#d70303;background-image:url(../images/headers/cai.jpg)}body.team-cal #header{background-color:#73022c;background-image:url(../images/headers/cal.jpg)}
body.team-nob #header{background-color:#000;background-image:url(../images/headers/nob.jpg)}body.team-olimpo #header{background-color:#000;background-image:url(../images/headers/olimpo.jpg)}
body.team-qac #header{background-color:#102397;background-image:url(../images/headers/qac.jpg)}body.team-racing #header{background-color:#029bd3;background-image:url(../images/headers/racing.jpg)}
body.team-carp #header{background-color:#d70303;background-image:url(../images/headers/carp.jpg)}body.team-casla #header{background-color:#102397;background-image:url(../images/headers/casla.jpg)}
body.team-cat #header{background-color:#102397;background-image:url(../images/headers/cat.jpg)}body.team-cavs #header{background-color:#102397;background-image:url(../images/headers/cavs.jpg)}
body.has-team #navigation,body.has-team #header .login-box,body.has-team #header .search{border-color:#fff}body.has-team #header-top{color:white}body.team-afc #header-top,body.team-afc #header-top a,body.team-afc #header-top .login-box .user{color:black}
body.team-afc #header-top .link{border-color:black}div.cplayer{z-index:100;position:relative;background:#000;font-family:Helvetica,Arial,sans-serif!important;-moz-user-select:none;-webkit-user-select:none;user-select:none}div.cplayer a{cursor:pointer}
div.cplayer div.cp-items,div.cplayer div.cp-media,div.cplayer div.cp-error{display:block;width:100%;height:100%;position:absolute;top:0;left:0;outline:0}div.cplayer div.cp-items,div.cplayer div.cp-media,div.cplayer div.cp-error{overflow:hidden}
div.cplayer div.cp-media{background:#000}div.cplayer div.cp-media,div.cplayer div.cp-media embed,div.cplayer div.cp-media object{z-index:0;outline:0}div.cplayer div.cp-items div.cp-item{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:0}
div.cplayer div.cp-item-caption{position:absolute;top:0;left:0;background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000050,endColorstr=#00000050);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000050,endColorstr=#00000050)";zoom:1;background:rgba(0,0,0,0.5);color:#fff;font-size:14px;width:100%;zoom:1}
div.cplayer-small div.cp-item-caption{font-size:12px!important}div.cplayer div.cp-item-caption span{display:block;padding:11px 15px 11px 45px;margin:0}div.cp-carrousel div.cp-item-caption span{padding-left:15px}
div.cplayer div.cp-item-caption a{color:#75a904}.cp-critical-error{color:white!important;background:red!important;font-family:Helvetica,Arial,sans-serif!important;font-size:15px!important;padding:10px!important}
div.cplayer div.cp-error{background:#222;color:white;font-size:16px;z-index:100;top:0;left:0;line-height:1.5}div.cplayer div.cp-error p{padding:5px 30px}div.cplayer div.cp-error a{color:#4c93ff}div.cplayer a.cp-carplay,div.cplayer a.cp-carpause,div.cplayer a.cp-close,div.cplayer a.cp-prev-item,div.cplayer a.cp-next-item{position:absolute;color:#bbb;display:block;overflow:hidden;border:1px solid #555;background-color:#333;background-color:rgba(34,34,34,0.5);background-repeat:no-repeat;background-image:url(..//images/carc.png);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;padding:0;margin:0;outline:0;-moz-user-select:none;-webkit-user-select:none;user-select:none;text-indent:-999px}
div.cplayer a.cp-carplay:hover,div.cplayer a.cp-carpause:hover,div.cplayer a.cp-close:hover,div.cplayer a.cp-prev-item:hover,div.cplayer a.cp-next-item:hover{background-color:#9fca3a;background-color:rgba(159,202,58,0.7);color:#fff;border:1px solid #fff;box-shadow:0 0 4px #ddd}
div.cplayer a.cp-carplay:active,div.cplayer a.cp-carpause:active,div.cplayer a.cp-close:active,div.cplayer a.cp-prev-item:active,div.cplayer a.cp-next-item:active{box-shadow:inset 0 0 2px #ddd}div.cplayer a.cp-close{z-index:101;top:5px;left:7px;width:28px;height:20px;padding:0;line-height:22px;padding:0 0 4px 0;text-align:center;font-size:26px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;overflow:hidden}
div.cplayer-small a.cp-close{height:14px;width:19px}div.cp-carrousel a.cp-close{top:4px}div.cplayer a.cp-close{background-position:-103px 6px}div.cplayer a.cp-close:hover{background-position:-103px -16px}
div.cplayer-small a.cp-close{background-position:-189px 5px!important}div.cplayer-small a.cp-close:hover{background-position:-189px -16px!important}div.cp-carrousel div.cp-item-caption{top:auto;bottom:0}
div.cplayer div.cp-car-controls{position:absolute;width:100%;height:33px;background:#222;top:0;left:0;z-index:100}div.cplayer a.cp-carplay,div.cplayer a.cp-carpause{top:5px;right:110px;width:28px;height:22px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
div.cplayer a.cp-carpause{display:none}div.cplayer a.cp-carplay:hover,div.cplayer a.cp-carpause:hover,div.cplayer a.cp-prev-item:hover,div.cplayer a.cp-next-item:hover{box-shadow:0 0 2px #aaa}div.cplayer a.cp-prev-item,div.cplayer a.cp-next-item{top:5px;right:50px;width:26px;height:22px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
div.cplayer a.cp-next-item{left:auto;right:10px}div.cplayer span.cp-index-item{position:absolute;bottom:0;left:0;color:#bbb;text-align:center;width:100%;height:30px;line-height:30px;font-size:14px}div.cplayer a.cp-carplay{background-position:9px 5px}
div.cplayer a.cp-carplay:hover{background-position:9px -17px}div.cplayer a.cp-carpause{background-position:-19px 5px}div.cplayer a.cp-carpause:hover{background-position:-19px -17px}div.cplayer a.cp-prev-item{background-position:-48px 5px}
div.cplayer a.cp-prev-item:hover{background-position:-48px -17px}div.cplayer a.cp-next-item{background-position:-75px 5px}div.cplayer a.cp-next-item:hover{background-position:-75px -17px}.hide{position:absolute!important;left:-99999px!important;top:-99999px!important}.twtr-widget{font:16px/1 "Helvetica Neue",Arial,sans-serif;*font-size:small;zoom:1}.twtr-fullscreen{font-size:220%!important}.twtr-fullscreen .twtr-new-results{_display:none!important}
.twtr-inactive{display:none}.twtr-widget a img{border:0!important}.twtr-doc{overflow:hidden;width:100%;text-align:left;font-weight:normal;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.twtr-bd{padding:0 1px}.twtr-widget .twtr-tweet-wrap{padding:6px 8px;overflow:hidden;zoom:1}.twtr-fullscreen .twtr-tweet-wrap{padding:20px}.twtr-widget .twtr-tweet{border-bottom:1px dotted #ddd;overflow:hidden;zoom:1}
.twtr-widget-profile img.twtr-profile-img{display:block;float:left;width:31px;height:31px;border:0!important}.twtr-widget h3,.twtr-widget h4,.twtr-widget p{margin:0!important;padding:0!important;line-height:1.25!important;width:auto!important}
.twtr-widget-profile h3,.twtr-widget-profile h4{margin:0 0 0 40px!important}.twtr-widget h3{font-size:11px!important;font-weight:normal!important}.twtr-widget h4{font-size:16px!important}.twtr-widget em,.twtr-widget .twtr-new-results{font-size:9px;font-style:normal;display:block;margin-top:2px;zoom:1}
.twtr-widget .twtr-new-results{text-align:center;padding:3px;margin:0 auto -10px auto!important;display:block;position:relative;bottom:5px;line-height:.9}.twtr-results-inner{line-height:1;font-size:100%;padding:4px 0;position:relative;bottom:-2px;width:40%;margin:0 auto;z-index:2;text-align:center}
.twtr-results-hr{width:100%;position:relative;z-index:1;height:1px;border-bottom:1px dotted #ddd;bottom:7px;background:0;overflow:hidden}.twtr-new-results span{position:relative;z-index:3;top:-14px;display:block;font-size:9px!important}
.twtr-fullscreen .twtr-new-results span{font-size:24px!important}.twtr-hd{padding:0;position:relative;zoom:1;overflow:hidden}.twtr-fullscreen .twtr-hd{height:0;padding:0}.twtr-timeline{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;position:relative;overflow:hidden;z-index:2;height:225px}
.twtr-scroll .twtr-timeline{overflow-x:hidden;overflow-y:auto}.twtr-widget .twtr-tweet:last-child{border-bottom-width:0}.twtr-ft{position:relative}.twtr-ft div{overflow:hidden;padding:10px;zoom:1}.twtr-ft span{float:right;text-align:right}
.twtr-ft a{float:left;display:block}.twtr-ft a img{position:relative;top:2px}.twtr-ft span a{float:none}.twtr-avatar{width:40px;height:40px;float:left;overflow:hidden;display:block}.twtr-fullscreen .twtr-avatar{width:80px;height:80px}
.twtr-img{height:25px;width:25px}.twtr-img img{width:30px;height:30px}.twtr-fullscreen .twtr-img img{width:72px;height:72px}.twtr-fullscreen a.twtr-join-conv{display:none}.twtr-tweet-text{margin-left:40px}
.twtr-fullscreen .twtr-tweet-text{margin-left:90px}.twtr-popular{font-size:10px;padding:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;display:inline-block;margin-top:3px;opacity:.8}
.twtr-doc a{text-decoration:none!important}.twtr-doc a:hover{text-decoration:underline!important}.twitter_module{margin:25px 0;height:555px;border:1px solid #ccc;overflow:hidden;position:relative}.twitter_module .header{background:#f3f9ff url(../images/main-sprite.png) left -643px no-repeat;height:45px;position:relative}
.twitter_module .content{height:500px;margin:10px 0 0;padding:0;overflow:auto;overflow-x:hidden;overflow-y:scroll;position:relative}.twitter_module form.search{position:absolute;top:7px;right:8px;padding:0}
.twitter_module form.search input.text{width:235px}.twitter_module .twtr-doc{width:100%!important}.twitter_module .twtr-bd{padding:0 10px 0 17px!important}.twitter_module .twtr-ft,.twitter_module .twtr-hd{display:none!important}
.twitter_module .twtr-timeline{overflow:hidden;height:auto!important}.twtr-widget .twtr-tweet-wrap{padding:6px 3px 0 0;position:relative}.twitter_module .twtr-widget .twtr-tweet,.twitter_module .twtr-widget .twtr-img{width:auto;height:auto}
.twtr-widget .twtr-tweet{border:none!important}.twtr-widget .twtr-avatar{width:52px!important;height:52px!important;overflow:hidden;background:white;border:1px solid #dadada;position:absolute;top:6px;left:0}
.twtr-widget .twtr-img img{width:50px!important;height:50px!important;padding:1px}.twtr-widget .twtr-tweet-text{background:white;padding:6px 12px;border:1px solid #dadada;margin-left:66px!important;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;position:relative}
.twtr-widget .twtr-tweet-text b{display:block;width:7px;height:11px;background:url(../images/main-sprite.png) -204px -239px no-repeat;position:absolute;top:14px;left:-7px}.ie6 .twtr-widget .twtr-tweet-text b{left:-6px}
.twtr-widget .twtr-user{font-weight:bold}.twtr-widget .twtr-tweet-text p{line-height:1.5;font-size:12px;overflow:hidden}.twtr-widget .twtr-tweet-text p a{color:#0056c3}.twtr-widget .twtr-tweet-text p em{color:#9d9d9d;font-size:11px;font-style:normal;display:block}
.twtr-widget .twtr-tweet-text a.twtr-timestamp{font-size:12px;color:#888!important}.twtr-widget .twtr-tweet-text a.twtr-timestamp:hover{text-decoration:none!important;color:#0056c3}#twtr-widget-1 .twtr-tweet-text a.twtr-timestamp{color:#9d9d9d!important}
.twtr-widget .twtr-tweet-text a.twtr-reply{font-size:12px}