body{font-family:Arial, Helvetica, sans-serif;font-size:.75em;}
.widget{width:620px;float:left;position:relative;}
.widget .alignleft{float:left;}
.widget .alignright{float:right;}
.widget .title{height:52px;border:solid 1px #6C7B11;background:url("../images/tennis-vertical-sprite.png") repeat-x left top #74A804;position:relative;color:#fff;}
.widget .title h2{font-size:1.75em;height:52px;letter-spacing:-0.05em;line-height:46px;padding-left:11px;word-spacing:0.05em;float:left;}
.widget .fecha{float:left;height:24px;line-height:24px;margin:12px 0 0 20px;padding:0 10px;text-align:center;border:solid 1px #6A9816;background:#3C5B05;background:-moz-linear-gradient(top, #3C5B05 0%, #527906 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3C5B05), color-stop(100%,#527906));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C5B05', endColorstr='#527906',GradientType=0);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.widget #otros-torneos{position:absolute;right:12px;top:15px;}
.widget #minuto{text-align:center;color:#333;font-size:1.15em;font-weight:bold;height:20px;padding-top:10px;word-spacing:-0.05em;padding-top:12px;position:absolute;top:49px;z-index:50;}
.widget #contrincantes{height:162px;width:620px;background:url(../images/tennis-sprite.png) left -38px no-repeat;position:relative;}
.widget #otros-partidos, .widget .marquee-container{border-top:solid 1px #4B4B4B;border-bottom:1px solid #3d3d3d;height:39px;background:url(../images/tennis-sprite.png) left -200px no-repeat;position:relative;}
.widget #otros-partidos select{left:8px;position:absolute;top:8px;}
#widget-tennis #minuto{background:url(../images/tennis-sprite.png) right top no-repeat;right:14px;width:139px;text-transform:uppercase;}
#widget-tennis .genero, #widget-tennis .fase{text-transform:uppercase;color:#BDBCBC;float:left;margin-top:9px;}
#widget-tennis .genero{font-weight:bold;margin-left:10px;}
#widget-tennis .fase{margin-left:1px;}
#widget-tennis .jugador{width:594px;margin:0 auto;height:46px;color:#fff;}
#widget-tennis .jugador div, #widget-tennis .jugador li{float:left;height:28px;line-height:28px;}
#widget-tennis .jugador .set{float:right;list-style:none;width:294px;margin:0;}
#widget-tennis .jugador .game{color:#F7F401;height:28px;padding:0 7px;width:22px;}
#widget-tennis .jugador .nombre{font-size:1.65em;font-weight:bold;letter-spacing:0;margin-right:5px;width:200px;word-spacing:-0.2em;}
#widget-tennis .jugador .nombre span{font-size:0.7em;font-weight:normal;margin-left:5px;}
#widget-tennis .jugador .set li{width:20px;text-align:center;margin:0 19px;}
#widget-tennis .jugador .set, #widget-tennis .jugador .game{background:url(../images/tennis-vertical-sprite.png) repeat-x left bottom;height:28px;border-left:solid 1px #101010;border-right:solid 1px #101010;font-size:1.7em;font-weight:bold;}
#widget-tennis #jugador-a{background:url(../images/tennis-sprite.png) center bottom no-repeat;margin-bottom:14px;}
#widget-tennis .jugadores{position:absolute;width:594px;margin:auto;left:0;right:0;top:56px;}
#widget-tennis .jugador .saque{background:url(../images/tennis-sprite.png) left top no-repeat;}
#widget-tennis .jugador .pelota{margin:2px 10px 0 0;width:28px;height:30px;}
#widget-tennis .marquee-container{height:29px;}
#widget-tennis marquee{color:#FFFFFF;height:29px;line-height:29px;width:620px;}