body{font-family:Arial, Helvetica, sans-serif;font-size:.75em;}
.widget{width:620px;float:left;position:relative;}
.widget .alignleft{float:left;}
.widget .alignright{float:right;}
.widget .title{height:52px;border:solid 1px #6C7B11;background:url(../images/futbol-vertical-sprite.png) left top #74A804 repeat-x;position:relative;color:#fff;}
.widget .title h2{font-size:1.75em;height:52px;letter-spacing:-0.05em;line-height:46px;padding-left:11px;word-spacing:0.05em;float:left;}
.widget .fecha{float:left;height:24px;line-height:24px;margin:12px 0 0 20px;padding:0 10px;text-align:center;border:solid 1px #6A9816;background:#3C5B05;background:-moz-linear-gradient(top, #3C5B05 0%, #527906 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3C5B05), color-stop(100%,#527906));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C5B05', endColorstr='#527906',GradientType=0);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.widget #otros-torneos{position:absolute;right:12px;top:15px;}
.widget #minuto{text-align:center;color:#333;font-size:1.15em;font-weight:bold;height:20px;padding-top:10px;word-spacing:-0.05em;padding-top:12px;position:absolute;top:49px;z-index:50;}
.widget #contrincantes{height:162px;width:620px;background:url(../images/futbol-sprite.png) no-repeat right -74px;position:relative;}
.widget #otros-partidos, .widget marquee{border-top:solid 1px #4B4B4B;border-bottom:1px solid #3d3d3d;height:39px;background:url(../images/futbol-sprite.png) no-repeat right bottom;position:relative;}
.widget #otros-partidos select{left:8px;position:absolute;top:8px;}
#widget-futbol #minuto{background:url(../images/futbol-sprite.png) no-repeat right -41px;left:0;right:0;margin:auto;width:99px;}
#widget-futbol #contrincantes .equipo{width:310px;height:162px;color:#fff;font-weight:bold;}
#widget-futbol #contrincantes .win{color:#F7F401;}
#widget-futbol #contrincantes .goles{font-size:5.8em;text-align:center;height:76px;padding-top:24px;}
#widget-futbol #contrincantes .goles span{color:#c2c0c0;}
#widget-futbol #contrincantes .escudo{font-size:1.7em;position:relative;text-align:center;margin-top:4px;}
#widget-futbol #contrincantes .escudo img{position:relative;top:8px;margin-right:8px;}
#widget-futbol #contrincantes .equipo-a{float:left;background:url("../images/futbol-vertical-sprite.png") no-repeat scroll right -55px transparent;}
#widget-futbol #contrincantes .equipo-b{float:right;}
#widget-futbol #estadisticas{border-bottom:solid 1px #cbcbcb;}
#widget-futbol #contrincantes a{color:white; text-decoration: none}
#widget-futbol #contrincantes a:hover{text-decoration: underline;}
#widget-futbol #estadisticas a {color:#666; text-decoration: none}
#widget-futbol #estadisticas a:hover{text-decoration: underline;}
#widget-futbol #estadisticas .estadistica{border-left:solid 1px #cbcbcb;border-right:solid 1px #cbcbcb;}
#widget-futbol #estadisticas #goles table, #widget-futbol #estadisticas #tarjetas table, #widget-futbol #estadisticas #cambios table{width:596px;margin:0 auto;}
#widget-futbol #estadisticas table tr{height:35px;}
#widget-futbol #estadisticas table tr td{line-height:34px;color:#666;border-bottom:solid 1px #bab7b7;}
#widget-futbol #estadisticas table tr.last-child td{border:none;}
#widget-futbol h3{border:solid 1px #A9A9A7;width:607px;height:20px;padding:8px 0 0 11px;background:#D4D4D3;background:-moz-linear-gradient(top, #D4D4D3 0%, #ABACAA 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D4D4D3), color-stop(100%,#ABACAA));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4D4D3', endColorstr='#ABACAA',GradientType=0);}
#widget-futbol #goles tr td.last-child, #widget-futbol #tarjetas tr td.last-child{text-align:right;background:url("../images/futbol-vertical-sprite.png") no-repeat scroll left -294px;}
#widget-futbol #goles span{background:url(../images/futbol-sprite.png) no-repeat;display:block;color:#000;height:15px;line-height:14px;margin-top:10px;width:35px;text-align:center;}
#widget-futbol #goles span.alignleft{background-position:left -47px;padding-left:28px;margin-left:3px;margin-right:8px}
#widget-futbol #goles span.alignright{background-position:44px -47px;padding-right:28px;margin-right:3px;margin-left:8px;}
#widget-futbol #tarjetas span{display:block;color:#000;height:16px;line-height:14px;margin-top:10px;width:73px;text-align:center;}
#widget-futbol #estadisticas #cambios table tr td{line-height:2.15em;height:55px;width:50%;}
#widget-futbol #cambios span{display:block;color:#000;height:40px;line-height:14px;margin-top:10px;width:39px;padding-top:3px;margin-top:7px;}
#widget-futbol #cambios div.alignright{margin-right:5px;text-align:right;}
#widget-futbol #cambios p{height:19px;line-height:19px;}
#widget-futbol #cambios tr td.last-child{background:url("../images/futbol-vertical-sprite.png") no-repeat scroll left -225px transparent}
#widget-futbol #cambios .alignleft p, #widget-futbol #cambios .alignright p{background:url(../images/futbol-sprite.png);}
#widget-futbol #cambios .alignleft p{padding-left:27px;}
#widget-futbol #cambios p.out{margin:7px 0 3px 0;}
#widget-futbol #cambios .alignleft p.in{background-position:left -23px;}
#widget-futbol #cambios .alignleft p.out{background-position:left top;}
#widget-futbol #cambios .alignright p{padding-right:27px;}
#widget-futbol #cambios .alignright p.in{background-position:right -22px;}
#widget-futbol #cambios .alignright p.out{background-position:right top;}
#widget-futbol #estadisticas .equipo, #widget-futbol #estadisticas .suplente{width:298px;}
#widget-futbol #estadisticas table.equipo tr, #widget-futbol #estadisticas table.suplente tr{background:none;}
#widget-futbol #equipo-a, #widget-futbol #suplente-a{margin-left:12px !important;float:left;}
#widget-futbol #equipo-b, #widget-futbol #suplente-b{float:left;}
#widget-futbol #estadisticas .equipo thead tr th{border-bottom:solid 1px #75A904;height:38px;line-height:38px;}
#widget-futbol #estadisticas .equipo th.numero, #widget-futbol #estadisticas .suplente td.numero{width:34px;}
#widget-futbol #estadisticas .equipo th.posicion, #widget-futbol #estadisticas .suplente td.posicion{width:104px;}
#widget-futbol #estadisticas #equipo-a thead th.last-child, #widget-futbol #estadisticas #equipo-a tr td.last-child, #widget-futbol #estadisticas #suplente-a tr td.last-child{background:url("../images/futbol-vertical-sprite.png") no-repeat scroll left -294px;text-align:center;}
#widget-futbol #estadisticas #equipo-a thead, #widget-futbol #estadisticas #equipo-a tbody, #widget-futbol #estadisticas #suplente-a td{text-align:left;}
#widget-futbol #estadisticas #equipo-b thead, #widget-futbol #estadisticas #equipo-b tbody, #widget-futbol #estadisticas #suplente-b tbody{text-align:right;}
#widget-futbol #estadisticas #equipo-b thead th.first-child, #widget-futbol #estadisticas #equipo-b tr td.first-child, #widget-futbol #estadisticas #suplente-b tr td.first-child{background:url("../images/futbol-vertical-sprite.png") no-repeat scroll right -294px;text-align:center;}
#widget-futbol #estadisticas #equipo-a tbody tr td.last-child, #widget-futbol #estadisticas #suplente-a tr td.last-child{border-right:solid 1px #75A904;}
#widget-futbol #estadisticas #dt{height:43px;line-height:43px;padding:0 11px;}
#widget-futbol #estadisticas #dt .alignleft{border-right:solid 1px #75A904;width:298px;}
#widget-futbol #estadisticas #dt .alignleft span{margin-left:10px}
#widget-futbol #estadisticas #dt .alignright span{margin-right:10px}
