body{font-family:Arial, Helvetica, sans-serif;font-size:.75em;}
.widget{width:620px;float:left;position:relative;}
.widget .alignleft{float:left;}
.widget .alignright{float:right;}
.widget .title{border-top:solid 1px #9FC150;position:relative;color:#fff;height:37px;background:#75A803;background:-moz-linear-gradient(top, #75A803 0%, #669304 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#75A803), color-stop(100%,#669304));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00338D', endColorstr='#00338D',GradientType=0);}
.widget .title h2{font-size:1.75em;letter-spacing:-0.05em;padding-left:11px;word-spacing:0.05em;margin-top:10px}
.widget #otros-torneos{position:absolute;right:12px;top:10px;}
#widget-fixture .header{border:solid 1px #69760C;border-bottom-color:#667609;height:76px;}
#widget-fixture .header ul{width:613px;;height:38px;padding-left:5px;margin:0;list-style:none;background:#669304;background:-moz-linear-gradient(top, #669304 0%, #567E04 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#669304), color-stop(100%,#567E04));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00338D', endColorstr='#00338D',GradientType=0);}
#widget-fixture .header ul li{float:left;position:relative;height:30px;top:1px;margin:8px 5px 0 5px;}
#widget-fixture .header ul li a{display:block;height:30px;line-height:30px;padding:0 5px;color:#fff;text-decoration:none;}
#widget-fixture .header ul li.selected{background:#fff;border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;}
#widget-fixture .header ul li.selected a{color:#75A904;}
#widget-fixture .tab{border:solid 1px #cbcbcb;border-top:none;padding-bottom:5px;}
#widget-fixture .tab table{width:596px;margin:0 auto;}
#widget-fixture .tab th{border-bottom:solid 1px #75A904;height:28px;font-weight:normal;color:#000;padding-bottom:4px;vertical-align:bottom;}
#widget-fixture .tab table .first td{color:#75A904;}
#widget-fixture #descenso table .equipo{width:100px;text-align:left;}
#widget-fixture #goleadores table .jugador{text-align:left;width:130px;}
#widget-fixture #goleadores table .equipo{width:130px;}
#widget-fixture .tab table .prom{width:45px;}
#widget-fixture #descenso table .first .equipo, #widget-fixture #goleadores table .first .jugador #widget-fixture #fixture table .first .equipo-a{color:#000;font-weight:bold;}
#widget-fixture #goleadores table th{font-weight:bold;}
#widget-fixture #descenso table tbody .equipo, #widget-fixture #goleadores table tbody .jugador, #widget-fixture #posiciones table tbody .equipo{color:#000;text-align:left;}
#widget-fixture .tab table tbody td{border-bottom:solid 1px #BBB7B8;color:#BBB7B8;text-align:center;height:22px;line-height:22px;}
#widget-fixture .tab table .prom{text-align:right;}
#widget-fixture #posiciones .equipo{text-align:left;width:170px;}
#widget-fixture #posiciones table tbody td, #widget-fixture #fixture table tbody td{height:32px;vertical-align:middle;line-height:32px;}
#widget-fixture #posiciones table tbody td.equipo{}
#widget-fixture #posiciones td img{margin:1px 5px 0 0;}
#widget-fixture #fixture{padding-top:10px;}
#widget-fixture #fixture .fechas{width:596px;margin:0 auto;}
#widget-fixture #fixture .now a{font-weight:bold;color:#000;}
#widget-fixture #fixture .fechas .old a{color:#000;}
#widget-fixture #fixture .resultado{width:60px;}
#widget-fixture #fixture tbody .resultado p{height:21px;line-height:22px;margin-top:3px;padding:0 6px;width:10px;font-weight:bold;color:white;background:#75A904;}
#widget-fixture #fixture th.equipo-a, #widget-fixture #fixture th.equipo-b{width:150px;}
#widget-fixture #fixture table tbody .equipo-a{text-align:right;color:#000;padding-right:10px;}
#widget-fixture #fixture table tbody .equipo-b{text-align:left;color:#000;padding-left:10px;}
#widget-fixture #fixture td.equipo-a img{float:right;margin:1px 0 0 5px;}
#widget-fixture #fixture td.equipo-b img{float:left;margin:1px 5px 0 0;}
#widget-fixture #fixture .now .equipo-a, #widget-fixture #fixture .now .equipo-b{font-weight:bold;}
#widget-fixture #fixture td.detalle{width:20px;text-align:center;}
#widget-fixture #fixture td.detalle a{background:#75A904;display:block;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;color:#fff;text-decoration:none;height:15px;line-height:15px;width:15px;margin:auto;}
#widget-fixture #fixture td.detalle a:hover{text-decoration:underline;}

.wrapper { width: 620px;}
#widget-fixture .header ul { background: #00338D !important; }
.widget .title { background: #00338D; border-top: 1px solid #00338D}
#widget-fixture #fixture tbody .resultado p { background-color: #00338D; }
#widget-fixture #fixture td.detalle a { display: none !important; }
#widget-fixture .tab th { border-bottom: 1px solid #00338d; }
.small-header #tn-home { background: transparent url(../images/main-sprite.png) no-repeat -183px -529px; margin-left: -44px}
#tnlogo { background: url(../images/main-sprite.png) -202px -496px no-repeat; }
#footer { bottom: 0; height: 55px; left: 0; position: fixed; width: 100%; z-index: 99; position: fixed !important; background-color: white !important}
#widget-fixture .header ul li.selected a {color: #00338D;}
