*,a{outline:none!important}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:1em;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
select{padding-right:0!important}ul,ol{margin:0;list-style-type:none}ol{list-style-type:decimal}nav ul,nav li{margin:0}td,td img{vertical-align:top}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}label,input[type=button],input[type=submit],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}DD_belatedPNG\\:*,DD_belatedPNG\\:shape,.ie6 .pngfix{visibility:hidden!important}
.js-finished DD_belatedPNG\\:*,.js-finished DD_belatedPNG\\:shape,.js-finished .pngfix{visibility:visible!important}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none;visibility:hidden}.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after{clear:both}.clearfix{zoom:1;clear:both}body{font:16px/1 "Helvetica Neue",Arial,sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}body,select,input,textarea{color:white}
h1,h2,h3,h4,h5,h6{font-weight:normal}html{overflow-y:scroll}a{text-decoration:none}a:hover,a:active{outline:0}a:hover{text-decoration:underline}::-moz-selection{background:#e00034;color:#fff;text-shadow:none}
::selection{background:#e00034;color:#fff;text-shadow:none}small{font-size:1em}strong,th{font-weight:bold}sub{vertical-align:sub;font-size:smaller}sup{vertical-align:super;font-size:smaller}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
a:link{-webkit-tap-highlight-color:#ff5e99}a.more:hover{text-decoration:none}figure figcaption .fn{color:#fff;font-weight:normal;line-height:1.3}figure figcaption .fn:hover{color:white}article footer{color:#000;font-size:11px}
.grid article h2{font-size:16px;line-height:18px}article .entry-content{font-size:12px}form.search input{font-size:14px;color:#444}#toggle-grid{font-size:12px}.login-box .user{font-size:14px;font-weight:bold;text-align:right}
.comments .login-box .user{text-align:left}.login-box .actions{font-size:12px}.movies article .entry-title,.news article .entry-title{font-size:26px;font-weight:normal;line-height:1.15}.movies .content,.news .content{font-size:14px;color:#000}
.movies article .entry-content,.news article .content p,.news article .entry-content{line-height:1.4;font-size:14px}.note .entry-title,.traffic-maps h1,.vivo h1,.cinemas h2{font-size:44px;font-weight:normal;line-height:43px}
#rss h1{font-size:48px;font-weight:normal;line-height:48px;margin-bottom:10px}.clima-main #container h1,.comunity #container h1,#rating #container h1{font-size:43px;font-weight:normal;line-height:38px}
.comunity #container h1{margin-bottom:18px}.note time{font-size:12px}.note figcaption .fn{font-size:13px;line-height:24px;font-weight:normal;padding-bottom:2px}#header nav{font-size:14px}#header .header-meta{font-size:12px;line-height:1.1em}
.weather-banner h2{font-size:17px;color:#929292}.weather-banner .item{font-size:12px}.weather-banner .item h3{font-size:22px;font-weight:normal}.sidebar .weather-banner .item h3{font-weight:normal;color:#888;font-size:25px}
.sidebar .weather-banner .now h3{color:#222;font-weight:bold;margin-bottom:6px}.weather-banner .tomorrow h3{color:#929292;font-size:17px}.weather-banner .item .nowtemp{font-weight:bold;font-size:30px}
.weather-banner .item .sttemp{font-weight:bold;font-size:14px}.weather-banner .item .hightemp,.weather-banner .item .lowtemp{font-weight:bold;font-size:23px}.weather-banner .forecast{color:#444;line-height:15px;word-spacing:-1px;width:180px;margin-bottom:10px}
#content-top .one-image hgroup{text-align:center}#content-top .one-image h1 .entry-title{display:block}article .size-1{font-size:140px;line-height:1.1em}article .size-2{font-size:120px;line-height:1.1em}
article .size-3{font-size:100px;line-height:1.1em}article .size-4{font-size:85px;line-height:1.1em}article .size-5{font-size:75px;line-height:1.1em}article .size-6{font-size:70px;line-height:1.1em}article .size-7{font-size:60px;line-height:1.1em}
article .size-8{font-size:55px;line-height:1.1em}article .size-9{font-size:50px;line-height:1.1em}article .size-10{font-size:45px;line-height:1.1em}.ranking .content li .text{font-size:16px;line-height:23px}
.main .more,.sidebar .more,.overlay .more{font-size:13px;font-weight:bold;line-height:29px;text-align:center}.overlay .more2{font-size:13px;font-weight:bold;line-height:21px;text-align:center}input.more{padding-bottom:2px!important;height:31px!important}
#opinion li{font-size:14px;line-height:1.21em}.traffic-maps hgroup h2{font-size:29px;font-weight:normal;letter-spacing:-1px;word-spacing:4px}.wrapper{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFklEQVQImWMwNzf/z8DAgI4xBCgVBAA5HBmN96Tv3QAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;height:129px;position:relative;width:230px}.ie6 .wrapper{background:url(../images/fixture-bg.png) repeat}.iframe header{-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background:none repeat scroll 0 0 #262626;border-color:#000 #000000 #383838;border-style:solid;border-width:1px;color:white;font-size:11px;height:19px;line-height:19px;margin:0 auto;text-align:center;width:64px}
footer{background:none repeat scroll 0 0 #262626;border-top:1px solid #323232;bottom:0;height:22px;left:0;line-height:22px;position:absolute;text-align:right;width:100%}footer a,footer marquee{color:white;float:right;font-size:11px;height:22px;line-height:22px;margin-right:10px}
footer marquee{margin:0 5px}.iframe .team{height:60px;margin-top:12px;position:relative;width:108px}.iframe .team-a{float:left;margin-right:7px}.iframe .team-a .result{float:right}.iframe .team-a .flag{position:absolute;right:52px}
.iframe .team-b{float:right}.iframe .team-b .result{float:left}.iframe .team-b .flag{left:52px;position:absolute}.iframe .team .result{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:none repeat scroll 0 0 #262626;border:2px solid #353535;color:white;font-size:24px;font-weight:bold;height:35px;line-height:35px;text-align:center;width:35px}
.iframe .team .win{background:none repeat scroll 0 0 #c40002;border-color:#c40002}.iframe .flag{height:21px;top:10px;width:30px}.iframe h2{bottom:0;color:white;display:block;font-size:14px;font-weight:normal;left:0;position:absolute;text-align:right;width:100%}
.iframe .team-a h2{text-align:right}.iframe .team-b h2{text-align:left}.tenis header{height:40px;position:relative;color:white;margin-bottom:14px}.tenis header .status{position:absolute;right:0;margin:0;background:none repeat scroll 0 0 #262626;border-color:#000 #000000 #383838;border-style:solid;border-width:1px;color:white;font-size:11px;height:19px;line-height:19px;margin:0 auto;text-align:center;width:40px}
.tenis header hgroup{padding:4px 0 0 5px}.tenis header h1{font-size:14px;height:20px;line-height:20px;width:175px;overflow:hidden}.tenis header h2{font-size:10px;height:20px;line-height:20px;color:#bdbcbc;overflow:hidden}
.tenis .team{height:36px;margin:0 5px;font-size:15px;overflow:hidden;line-height:36px}.tenis .team-a{border-bottom:solid 1px #999}.tenis .team-b{border-top:solid 1px #666}.tenis .player,.tenis .game{float:left}
.tenis .game span{text-align:center;line-height:20px;height:20px;border:solid 1px black;border-bottom-color:#333;display:inline-block;background:black;color:#f7f401;width:25px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.ie6 .tenis .team .game span,.ie7 .tenis .team .game span{margin-top:7px;margin-left:1px}.tenis .ball .game span{border:solid 1px #d9d926;background:#d9d926;color:black}.ie7 .tenis .ball .game span{border:0}
.tenis .set{float:right}.tenis .set li{float:left;width:10px;text-align:center;margin:0 2px}.tenis .set li.first{margin-left:0}.tenis .set li.last{width:20px;margin-right:0}.tenis .player{width:107px;overflow:hidden;margin-right:5px}
.tenis .player span{width:310px;display:block}.iframe .jjoo-futbol .result{width:45px}.iframe .jjoo-futbol .team-a .flag{right:62px}.iframe .jjoo-futbol .team-b .flag{left:62px}.iframe .jjoo-futbol header div{background:none repeat scroll 0 0 #262626;border-color:#000 #000000 #383838;border-style:solid;border-width:1px;color:white;font-size:11px;height:19px;line-height:19px;text-align:center;padding:0 5px}
.iframe .jjoo-futbol header{width:100%;background:0;border:0}.iframe .jjoo-futbol header .desc{float:left;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px}
.iframe .jjoo-futbol header .status{float:right;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px}