body { font: 16pt/1 Arial, sans-serif;
      *font-size:small; /* hack retained to preserve specificity */
       background: white;
       color:#444;
       padding: 10px} 

.disclaimer {
  font-size: 10px;
}

#grid, #header, #sub-menu, table, .sidebar, .share-nota, figure, .poll, .tag-list, #new footer, .comments, #reactions-wrap, .related, .twitter_module,
#footer #footer-top, #footer .content,
.overlay {
  display: none !important;
  visibility: hidden !important;
}

.main {
  margin: 0;
  padding: 0;
}

#new table {
  display: block;
  visibility: visible;
}

#container, .main, #new, #new .content {
  width: 100%;
} 

#new {
  padding-bottom: 10px;
  border-bottom:solid 1px #CCCCCC;
  margin-bottom: 10px;

}
/*
#tagline {
  height: 30px;
  line-height: 30px;
}

#logo {
  display: block;
  height: 30px;
  width: 38px;
  float: left;
  margin: 0px 10px 0 0;
}
*/

#new h1 a  {
  text-decoration: none;
  color:#444;
  font-size: 24pt;
  font-weight: bold !important;
  line-height: .95em;
}

#new .drop-line p {
  font-size: 13pt;
  letter-spacing: -1px;
}

#new .drop-line p a{color:#444;}

#new .drop-line {
  margin: 5px 0 0 0;
}

#new time {
  font-size: 10pt;
}

#new header {
  margin-bottom: 20px;
}

#new .content a,
.drop-line a{
  text-decoration: underline;
}

.entry-content p {
  margin-bottom: 10px;
  line-height: 1.1;
}

#footer,
#footer #footer-bottom {
  border:0;
  background: none;
  padding: 0;
  margin: 0;
  background: none;  
}

#footer #footer-bottom a,
#footer #footer-bottom span{
	display: none;
	visibility: hidden;
	}
	
#footer-bottom .wrapper {
	width: 100%;
}	

#footer p {
	font-size: 10pt;
}
	

@page {
  margin: auto;
}

a:link, a:visited {
	color:black;
  background: transparent;
  font-weight: bold !important;
  }

#new .content,
#new .entry-content,
#new .entry-content p {
  font-size: 12pt;
}

#new .entry-content p {
  margin: 0 0 10px 0;
}