.wrapper {

    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFklEQVQImWMwNzf/z8DAgI4xBCgVBAA5HBmN96Tv3QAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
    height: 129px;
    position: relative;
    width: 230px;
}

.widget-container{
    width: 310px;
    height: 174px;
}

.widget-mam{
    width: 100%;
    height: 100%;
}

.ie6 .wrapper {
  background: url(../images/fixture-bg.png) repeat;
}

.iframe header {
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;

    background: none repeat scroll 0 0 #262626;
    border-color: #000000 #000000 #383838;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: 11px;
    height: 19px;
    line-height: 19px;
    margin: 0 auto;
    text-align: center;
    width: 64px;
}

footer {
    background: none repeat scroll 0 0 #262626;
    border-top: 1px solid #323232;
    bottom: 0;
    height: 22px;
    left: 0;
    line-height: 22px;
    position: absolute;
    text-align: right;
    width: 100%;
}

footer a,
footer marquee {
    color: white;
    float: right;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
}

footer marquee {
	margin: 0 5px;
}

.iframe .team {
    height: 60px;
    margin-top: 12px;
    position: relative;
    width: 108px;
}

.iframe .team-a {
    float: left;
    margin-right: 7px;
}

.iframe .team-a .result {
    float: right;
}

.iframe .team-a .flag {
    position: absolute;
    right: 52px;
}

.iframe .team-b {
    float: right;
}

.iframe .team-b .result {
    float: left;
}

.iframe .team-b .flag {
    left: 52px;
    position: absolute;
}

.iframe .team .result {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    background: none repeat scroll 0 0 #262626;
    border: 2px solid #353535;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}

.iframe .team .win {
    background: none repeat scroll 0 0 #C40002;
    border-color: #C40002;
}

.iframe .flag {
    height: 21px;
    top: 10px;
    width: 30px;
}

.iframe h2 {
    bottom: 0;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: right;
    width: 100%;
}

.iframe .team-a h2 {
    text-align: right;
}

.iframe .team-b h2 {
    text-align: left;
}

.tenis header {
	height: 40px;
	position: relative;
	color:white;
	margin-bottom: 14px;
}

.tenis header .status{
	position:absolute;
	right:0;
	margin: 0;
	
		background: none repeat scroll 0 0 #262626;
    border-color: #000000 #000000 #383838;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: 11px;
    height: 19px;
    line-height: 19px;
    margin: 0 auto;
    text-align: center;
    width: 40px;
		
}

.tenis header hgroup{
	padding: 4px 0 0 5px;
	
}

.tenis header h1 {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	width: 175px;
	overflow: hidden;
}

.tenis header h2 {
	font-size: 10px;
	height: 20px;
	line-height: 20px;	
	color:#BDBCBC;
	overflow: hidden;
}

.tenis .team {
	height: 36px;
	margin: 0 5px;
	font-size: 15px;
	overflow: hidden;
	line-height: 36px;
}

.tenis .team-a{
	border-bottom: solid 1px #999;
	
}

.tenis .team-b{
	border-top: solid 1px #666;
}


.tenis .player,
.tenis .game{
	float: left;
}

.tenis .game span {
	text-align: center;
	line-height: 20px;
	height: 20px;
	border: solid 1px black;
	border-bottom-color: #333;
	display:inline-block;
	background: black;
	color:#F7F401;
	width: 25px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.ie6 .tenis .team .game span,
.ie7 .tenis .team .game span {margin-top: 7px; margin-left: 1px;}

.tenis .ball .game span {
	border: solid 1px #D9D926;
	background: #D9D926;
	color:black;
}

.ie7 .tenis .ball .game span {border:none;}

.tenis .set {
	float: right;
}

.tenis .set li{
	float: left;
	width: 10px;
	text-align: center;
	margin: 0 2px;
}

.tenis .set li.first{
	margin-left: 0;
}

.tenis .set li.last{
	width: 20px;
	margin-right: 0;
}

.tenis .player {
	width: 107px;
	overflow: hidden;
	margin-right: 5px;
	}
.tenis .player span {
	width: 310px;
	display: block;
}


.iframe .jjoo-futbol .result {
	width: 45px;
}

.iframe .jjoo-futbol .team-a .flag {
	right: 62px;
}
.iframe .jjoo-futbol .team-b .flag {
	left: 62px; 
}

.iframe .jjoo-futbol header div {
    background: none repeat scroll 0 0 #262626;
    border-color: #000000 #000000 #383838;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: 11px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    padding: 0 5px;
}

.iframe .jjoo-futbol header {
	width: 100%;
	background: none;
	border: none;
}

.iframe .jjoo-futbol header .desc {float: left;
     -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}
.iframe .jjoo-futbol header .status {float: right;
     -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}