    <div class="block">
      <h3>Secciones</h3>

<ul>
      
    <li class="first">
  <h2>
  <a href="/eliminatorias">Eliminatorias</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/otros">Otros</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/botineras">Botineras</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/musica">Música</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/ligas-del-interior">Ligas del interior</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/automovilismo">Automovilismo</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/polideportivo">Polideportivo</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/golf">Golf</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/voley">Vóley</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/rugby">Rugby</a>  </h2>
</li>
    <li>
  <h2>
  <a href="/basquet">Básquet</a>  </h2>
</li>

    </ul>

    </div>