<ul id="fixture-all" class="menu-fixture">
        <li><a <% if(@item[:selected] == "primera-a") %>class="active"<% end %> href="#" data-path="primeraa">Primera A</a></li>
        <li><a <% if(@item[:selected] == "nacional-b") %>class="active"<% end %> href="#" data-path="nacionalb">B Nacional</a></li>
        <li><a <% if(@item[:selected] == "ligadeespana") %>class="active"<% end %> href="#" data-path="ligadeespana">Liga de España</a></li>
        <li><a <% if(@item[:selected] == "premierleague") %>class="active"<% end %> href="#" data-path="premierleague">Premier League</a></li>
        <li><a <% if(@item[:selected] == "calcioitaliano") %>class="active"<% end %> href="#" data-path="calcioitaliano">Calcio</a></li>
        <li><a <% if(@item[:selected] == "brasileirao") %>class="active"<% end %> href="#" data-path="brasileirao">Brasileirao</a></li>
        <li><a <% if(@item[:selected] == "ligaalemana") %>class="active"<% end %> href="#" data-path="ligaalemana">Liga Alemana</a></li>
        <li><a <% if(@item[:selected] == "eliminatoriasconmegol") %>class="active"<% end %> href="#" data-path="eliminatoriasconmegol">Eliminatorias CONMEBOL</a></li>
        <li><a <% if(@item[:selected] == "copasudamericana") %>class="active"<% end %> href="#" data-path="copasudamericana" data-asis="false">Copa Sudamericana</a></li>
</ul>

<div class="clearfix"></div>