<%

extracss = false

if (@item[:extracss])
  extracss = @item[:extracss].split(',')
end

%>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

		<title><%= @item[:title] %></title>

		<% if (@item[:new] == true) %>
			<meta property="og:type" content="article" />
			<meta property="og:title" content="<%= item[:title] %>" />
			<meta property="og:url" content="http://tn.com.ar" />
			<meta property="og:description" content="<%= @item[:description] %>" />

		<% else %>
			<meta property="og:title" content="TN ~ Todo Noticias" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="http://tn.com.ar" />
			<meta property="og:description" content="El canal de 24 horas de noticias más visto de la Argentina." />
		<% end %>

		<meta property="og:image" content="http://cdn.tn.com.ar/sites/all/themes/dozer/images/logo-tn.png" />
		<meta property="og:site_name" content="Todo Noticias" />
		<meta property="og:region" content="Buenos Aires" />
		<meta property="og:country-name" content="Argentina"/>
		<meta property="fb:app_id" content="197081563653884" />

		<meta name="description" content="<%= @item[:description] %>" />
		<% if (@item[:keywords] != nil) %>
		<meta name="keywords" content="<%= @item[:keywords] %>" />
		<% end %>
		<meta name="author" content="" />

		<link rel="shortcut icon" type="image/ico" href="http://tn.com.ar/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		
   <!-- IE9 Pinned site -->
    <meta name="application-name" content="TN - Todo Noticias" />
    <meta name="msapplication-starturl" content="http://tn.com.ar" />
    <meta name="msapplication-navbutton-color" content="#be0000" />
    <meta name="msapplication-window" content="width=1024;height=768" />
    <meta name="msapplication-tooltip" content="TN - Todo Noticias" />
    <meta name="msapplication-task" content="name=En vivo;action-uri=http://tn.com.ar/envivo/24hs;icon-uri=http://tn.com.ar/favicon.ico;window-type=tab">
    <meta name="msapplication-task" content="name=Toda Pasión;action-uri=http://tn.com.ar/deportes;icon-uri=http://tn.com.ar/favicon-tp.ico;window-type=tab">
    <meta name="msapplication-task" content="name=La Viola;action-uri=http://tn.com.ar/musica;icon-uri=http://tn.com.ar/favicon-tnm.ico;window-type=tab">
    <meta name="msapplication-task" content="name=Famosos;action-uri=http://tn.com.ar/show;icon-uri=http://tn.com.ar/favicon-tnf.ico;window-type=tab">		
		
    <% if @site.config[:environment] == 'production' %>
		  <link rel="stylesheet" href="<%= assets_url %>css/core-min.css" type="text/css" media="screen" />
		  <link rel="stylesheet" href="<%= assets_url %>css/<%= select_proyect %>-min.css" type="text/css" media="screen" />

		  <%
		  if (@item[:extracss])
		    extracss.each do |item| %>
		  <link rel="stylesheet" href="<%= assets_url %>css/<%= item %>-min.css" type="text/css" media="screen" />
		    <% end %>
		  <% end %>

    <% else %>
      <link rel="stylesheet" href="<%= assets_url %>css/reset.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/core-layout.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/style.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/site-flb.css" type="text/css" />
      <!-- <link rel="stylesheet" href="<%= assets_url %>css/menu-fixture.css" type="text/css" /> -->
      <link rel="stylesheet" href="<%= assets_url %>css/fonts.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/<%= select_proyect %>.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/coda-slider-2.0.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/twitter-widget.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/cplayer.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/dplayer.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/pulse.css" type="text/css" />
      <%
      if (@item[:extracss])
        extracss.each do |item| %>
      <link rel="stylesheet" href="<%= assets_url %>css/<%= item %>.css" type="text/css" media="screen" />
        <% end %>
      <% end %>

    <% end %>
    <% if (@item[:especial] != nil) %>
      <% if @site.config[:environment] == 'production' %>
        <link rel="stylesheet" href="<%= assets_url %>css/<%= @item[:especial] %>-min.css" type="text/css" media="screen" />
      <% else %>
        <link rel="stylesheet" href="<%= assets_url %>css/<%= @item[:especial] %>.css" type="text/css" media="screen" />
      <% end %>
    <% end %>
		<link rel="stylesheet" href="<%= assets_url %>css/print.css" type="text/css" media="print" />

    <link rel="dns-prefetch" href="//st0.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st1.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st2.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st3.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//platform.twitter.com/">
    <link rel="dns-prefetch" href="//platform0.twitter.com/">
    <link rel="dns-prefetch" href="//facebook.com/">
    <link rel="dns-prefetch" href="//static.ak.fbcdn.net/">
    <link rel="dns-prefetch" href="//urls.api.twitter.com/">

		<!--[if IE ]>
			<link rel="stylesheet" href="<%= assets_url %>css/ie.css" type="text/css" />
		<![endif]-->
    <script type="text/javascript" charset="utf-8">
      var TN = {}; // define namespace global
      TN.BASE_PATH = '<%= base_url%>';
      TN.initfuncs = [];
    </script>

		<!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="<%= base_url %>js/libs/head.min.js" type="text/javascript"></script>