---
title: Archivo de MES de AÑO | TN y la Gente | Todo Noticias
description: "Todas las notas, fotos y noticias publicadas en TN y la Gente por los usuarios de TN.com.ar, el sitio del canal de noticias más visto de Argentina."
pager: true
more: true
twitter_text: "Estoy leyendo todo sobre TAG en TN y la Gente"
---
<!-- tags/tags.html -->

<section class="news file-news">
  <header class="flow">
    <h2><time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">Miércoles 22 de Diciembre, 2010</time></h2>
  </header>
  <%= render 'river-news/flow' %>
</section>
<!-- .main stream -->

<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>		
