<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->
	<head>
		<%= render 'clima/head' %>
	</head>

	<body class="small-header <% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<%end%> no-sidebar">

		<header id="header">
			<%= render 'clima/header' %>
		</header>

		<% if (@item[:ad_clima_ribbon] == true) %>
			<%= render 'clima/clima-ribbon' %>
		<%end%>

    <% if (@item[:ad] == true) %>
    <table width="100%"><tr><td align="center">
      <div id="top998" role="banner" class="banner banner-950x50"></div>
    </td></tr></table>
    <% end %>

    <div id="container" class="wrapper">
      <div id="content-top" class="clearfix <% if (@item[:remove] == true) %>see-more<%end%>">

        <h1 class="title">El Tiempo<% if (@item[:remove] == nil) %> en Ciudad de Buenos Aires<%end%></h1>
        <div class="forms">
          <div class="form-inner">
            <form action="" method="post">
              <label><input type="text" name="search_pais" value="Argentina" disabled="disabled" /></label>
              <div class="input-state"></div>

            </form>
          </div>

          <div class="form-inner" id="form-provincia">
             <div id="edit-1-wrapper" class="form-item">
               <input type="text" class="form-text form-autocomplete" value="Provincia..." size="60" id="edit-provincia" name="1" maxlength="128" autocomplete="OFF">
               <div class="input-state" style="display:none"></div>
             </div>
          </div>

          <div class="form-inner" id="form-ciudad">
             <div id="edit-2-wrapper" class="form-item">
               <input type="text" class="form-text form-autocomplete" value="Ciudad..." size="60" id="edit-ciudad" name="1" maxlength="128" autocomplete="OFF">
               <div class="input-state" style="display:none" ></div>
             </div>
          </div>
        </div>
      </div> <!-- content-top -->

      <div role="main" class="clearfix">
        <div id="content" class="main">
          <%= yield %>
        </div>
      </div>
    </div>

		<footer id="footer">
			<%= render 'clima/footer' %>
		</footer>

		<%= render 'clima/scripts' %>

	</body>
</html>
