	<div class="content wrapper">
		<!-- block -->
		<div class="blocks clearfix">

			<div class="block">
				<h2>Mendoza</h2>
				<ul>
					<li><a href="/clima/malargue">Malargue</a></li>
					<li><a href="/clima/mendoza">Mendoza</a></li>
					<li><a href="/clima/san-rafael">San Rafael</a></li>
					<li><a href="/clima/uspallata">Uspallata</a></li>
					<li><a href="/clima/mendoza-observatorio">Mendoza Observatorio</a></li>
				</ul>
			</div>

			<div class="block">
				<h2>Corrientes</h2>
				<ul>
					<li><a href="/clima/corrientes">Corrientes</a></li>
					<li><a href="/clima/curuzu-cuatia">Curuzu Cuatia</a></li>
				</ul>
			</div>

			<div class="block">
				<h2>Formosa</h2>
				<ul>
					<li><a href="/clima/formosa">Formosa</a></li>
					<li><a href="/clima/las-lomitas">Las Lomitas</a></li>
				</ul>
			</div>

			<div class="block">
				<h2>Río Negro</h2>
				<ul>
					<li><a href="/clima/bariloche">Bariloche</a></li>
					<li><a href="/clima/cipolletti">Cipolletti</a></li>
					<li><a href="/clima/viedma">Viedma</a></li>
					<li><a href="/clima/el-bolson">El Bolson</a></li>
					<li><a href="/clima/san-antonio-oeste">San Antonio Oeste</a></li>
				</ul>
			</div>

			<div class="block last">
				<h2>Chubut</h2>
				<ul>
					<li><a href="/clima/comodoro-rivadavia">Comodoro Rivadavia</a></li>
					<li><a href="/clima/puerto-madryn">Puerto Madryn</a></li>
					<li><a href="/clima/trelew">Trelew</a></li>
					<li><a href="/clima/esquel">Esquel</a></li>
					<li><a href="/clima/paso-de-indios">Paso de Indios</a></li>
				</ul>
			</div>
		</div>

		<div class="view-more clearfix">
			<a href="/clima/clima-argentina" class="block button">» Más
				ciudades</a> <a href="/clima/clima-argentina" class="block button">»
				Más ciudades</a> <a href="/clima/clima-argentina" class="block button">»
				Más ciudades</a> <a href="/clima/clima-argentina" class="block button">»
				Más ciudades</a> <a href="/clima/clima-argentina"
				class="block last button">» Más ciudades</a>
		</div>
		<!-- /.block -->
	</div>

	<div id="footer-bottom">
		<div class="wrapper">
	    <a id="tnlogo" href="#">TN</a>
	    <div class="data">
	      <p>Copyright 1996 - 2011 ARTEAR. &nbsp;&nbsp;&nbsp;
	        <a href="#">Contacto</a> &nbsp;~&nbsp;
	        <a href="/terminos-y-condiciones">Términos y Condiciones</a> &nbsp;~&nbsp;
	        <a href="/proteccion-de-datos-personales">Protección de Datos Personales</a>
	      </p>
	      <p>
	        <span class="label">Direcci&oacute;n:</span> Lima 1261 ~
	        <span class="label">N&uacute;mero de tel&eacute;fono:</span> 4999-0000 ~
	        <span class="label">Correo electr&oacute;nico:</span> mensajes@tn.com.ar
	      </p>
	    </div>
	  </div>
	</div>
