		<meta charset="utf-8" />

		<title><%= @item[:title] %></title>


		<meta property="og:title" content="TN ~ Todo Noticias" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://tn.com.ar/clima" />
		<meta property="og:description" content="El canal de 24 horas de noticias más visto de la Argentina." />
		<meta property="og:image" content="http://cdn.tn.com.ar/sites/all/themes/dozer/images/logo-tn.png" />
		<meta property="og:site_name" content="Todo Noticias" />
		<meta property="og:region" content="Buenos Aires" />
		<meta property="og:country-name" content="Argentina"/>
    <meta property="fb:admins" content="687524605" />

		<meta name="description" content="" />
		<meta name="author" content="" />

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		
		<% if @site.config[:environment] == 'production' %>
		
			<link rel="stylesheet" href="<%= assets_url %>css/weather-min.css" type="text/css" />
	
	    <!--[if IE ]>
	      <link rel="stylesheet" href="css/weather-ie-min.css" type="text/css" />
	    <![endif]-->		
		<% else %>
	    <link rel="stylesheet" href="<%= assets_url %>css/clima/reset.css" type="text/css" />
			<link rel="stylesheet" href="<%= assets_url %>css/clima/fonts.css" type="text/css" />
			<link rel="stylesheet" href="<%= assets_url %>css/clima/style.css" type="text/css" />
			<link rel="stylesheet" href="<%= assets_url %>css/clima/twitter-widget.css" type="text/css" />
			<link rel="stylesheet" href="<%= assets_url %>css/clima/blitzer/jquery-ui-custom.css" type="text/css" />
	
	    <!--[if IE ]>
	      <link rel="stylesheet" href="<%= assets_url %>css/clima/ie.css" type="text/css" />
	    <![endif]-->
		
		<% end %>


    <link rel="dns-prefetch" href="//st0.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st1.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st2.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st3.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//platform.twitter.com/">
    <link rel="dns-prefetch" href="//platform0.twitter.com/">
    <link rel="dns-prefetch" href="//facebook.com/">
    <link rel="dns-prefetch" href="//static.ak.fbcdn.net/">
    <link rel="dns-prefetch" href="//urls.api.twitter.com/">


    <script type="text/javascript" charset="utf-8">
      var TN = {}; // define namespace global
      TN.BASE_PATH='<%= assets_url %>';
      TN.initfuncs = [];
    </script>

		<!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="<%= assets_url %>js/libs/head.min.js" type="text/javascript"></script>
    
