<!-- header -->
		<div id="header-top">
			<div class="wrapper">
			  <a class="back">&laquo;Volver</a>
        <div class="logo">
          <a id="tn-home" href="#">TN</a>
          <span title="El primer canal de noticias de Argentina en HD" class="hd">HD</span>
        </div>
        <div class="share">
          <div class="tw">
            <iframe class="twitter-share-button" allowtransparency="true" frameborder="0" scrolling="no" src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=es&amp;related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&amp;text=Descargá los mapas más completos y actualizados para tu GPS o celular en TN.com.ar&amp;url=http%3A%2F%2Ftn.com.ar%2Fgps&amp;via=todonoticias" width="120" height="22"></iframe>
          </div>
          <div class="fb">
            <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:150px; height:27px;" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Fgps&amp;locale=es_LA&amp;send=false&amp;layout=button_count&amp;width=190&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;height=21&amp;utm_source=facebook&amp;utm_medium=button&amp;utm_campaign=gps"></iframe>
          </div>
        </div>
			</div>
		</div>
<!-- end header -->
