					<div class="share-small clearfix">

            <div class="tw">
              <iframe class="tw-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                   src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=es&amp;text=Asi esta el tiempo en TN.com.ar&amp;url=http://tn.com.ar/clima&amp;via=todonoticias&amp;"
                      width="120" height="22"></iframe>
            </div>
						<div class="fbsend">
              <script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:send href="http%3A%2F%2Ftn.com.ar%2Fclima" font=""></fb:send>
            </div>
            <div class="fb">
              <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no"
              src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Fclima&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=recommend&amp;colorscheme=light&amp;height=21"
                       style="border:none; overflow:hidden; width:150px; height:22px;"></iframe>
            </div>
            <div class="glg">
              <g:plusone size="medium" count="true"></g:plusone>
            </div>

					</div>



