    <form action="http://tn.com.ar/test-form.php" class="publish wrapper clearfix" method="post">
      <h1 class="head-title" >Publicá en TN y la Gente</h1>
      <fieldset>
        <ul>
         <li class="clearfix">
           <label>Título:</label>
           <input class="text" type="text"/>
           <div class="help">
             <span class="icon"></span>
             <div class="arrow_box">Presentá tu nota, usando palabras clave. Por ejemplo: "Las mejores fotos del Bicentenario en Buenos Aires".</div>            
           </div>
         </li>
          <li class="combo-box">
            <label>Categoría:</label>
              <select >
                <option>Opcion 1</option>
                <option>Opcion 2</option>
                <option>Opcion 1</option>
                <option>Opcion 2</option>                
              </select>
             <div class="help">
               <span class="icon"></span>
               <div class="arrow_box">Elegí en qué categoría publicar tu nota.</div>             
             </div>              
          </li>
         
          <li class="clearfix">
            <label>Tags:</label>
            <div id="autocomplete" style="margin-top: 40px; width: 806px; display: none;">
							<ul>
							<li class=""><div>lunapark</div></li>
							<li><div>otra prueba mas</div></li>
							<li><div>pepe</div></li>
							<li><div>primera</div></li>
							<li><div>prueba</div></li>
							</ul>
						</div>
            <input class="text autocomplete" type="text" id="algo" />
             <div class="help">
               <span class="icon"></span>
               <div class="arrow_box">Son los temas que incluye tu nota, separados por comas. Por ejemplo: "Bicentenario, Buenos Aires, Festejos, Fotos".</div>             
             </div>
          </li>

          <li class="clearfix">
            <label>Ubicación:</label>
            <input class="text" type="text" />
             <div class="help">
               <span class="icon"></span>
               <div class="arrow_box">Contanos dónde pasó lo que estás publicando. Por ejemplo: "San Miguel de Tucumán".</div>             
             </div>            
          </li>         
          
         <li class="clearfix textarea help-left">
           <label>Bajada:</label>
           <div class="help">
             <span class="icon"></span>
             <div class="arrow_box">Describí en pocas palabras la nota. Por ejemplo: "Una galería con las imágenes de los festejos en la 9 de julio".</div>             
           </div>           
           <textarea id="ckeditor-dropline"></textarea>
         </li>
          
         <li class="clearfix colapse toggle help-left">
           <span class="rounded arrow down"></span>
           <label>Cuerpo de la nota:</label>
           <div class="help">
             <span class="icon"></span>
             <div class="arrow_box">Escribí todos los detalles de tu historia, o describí tus fotos y videos.</div>             
           </div>                 
           <div class="content" style="display:none">
             <textarea id="ckeditor-note"></textarea>
           </div>
         </li>

         <li class="clearfix colapse toggle multimedia help-left">
           <span class="rounded arrow down"></span>
           <label>Videos e imagenes</label>
           <div class="help">
             <span class="icon"></span>
             <div class="arrow_box">Subí los videos desde tu PC. Si lo tenés en YouTube u otra plataforma, <br /> podés pegar el código en el cuerpo de la nota. Hasta 100 MB.</div>             
           </div>            
           <div class="content" style="display:none">
             <div id="video-uploader">
                  <div class="hidden">
										<div class="form-item" id="edit-field-video-tnylg-0-value-wrapper">
										 <label for="edit-field-video-tnylg-0-value">Video: </label>
										 <input type="text" name="field_video_tnylg[0][value]" id="edit-field-video-tnylg-0-value" size="60" value="" class="form-text text" />
										</div>                  
                  </div>           
                 
                 <div class="video-container clearfix">
                   <div class="title">Video</div>
                   <div class="video-status">
                     <div class="namefile"></div>
                     <div class="progressbar">
                       <span></span>
                     </div>
                     <div class="delete"></div>
                   </div>
                   <div id="video-pickfiles" class="pickfile more rounded">Seleccionar video</div>
                 </div>
                 <div class="info">Están permitidos los archivos: 3gp, 3gpp, avi, flv, mjpg, mov, mp4, mpeg2, mpeg4, mpegps, mpg, wmv</div>
             </div>
             
             <div id="image-uploader">
                 <div class="image-container clearfix">
                   <div class="title">Imágenes</div>
                   <div id="image-list">
  
                   </div>
                   <div id="image-pickfiles" class="pickfile more rounded">Seleccionar imagenes</div>
                 </div>
                 <div class="info">Están permitidos los archivos: gif, jpeg, jpg, png</div>
             </div>           
           </div>
         </li>
        </ul>
      </fieldset>     

      <div class="actions clearfix">
        <%= render 'nota-interna/publish-to' %>

        <input id="publish-button" type="submit" class="more rounded submit" value="Publicar" />
        <input type="reset" class="more rounded submit reset" value="Descartar" />
      </div>
      
      
	    <div class="overlay uploader hidden">
		    <div class="header">
		      Video e imagenes
		      <div class="close">Cerrar</div>
		     </div>
	      
	      <div class="content">
	      
		      <div class="panel panel-600">
		         <div class="message">
		           <p>Tu archivo es demasiado grande. Podés subir videos de hasta 250 MB e imágenes hasta 10 MB.</p>
		         </div>
		         <div class="more rounded close">Cerrar ventana</div>
		      </div>
		      
         <div class="panel panel-wait">
            <div class="message">
              <p>Tus archivos se están subiendo. Al terminar la carga, se publicará tu nota.</p>
            </div>
         </div>
         
         <div class="panel panel-default">
            <div class="message">
              <p>Hubo un error subiendo tu archivo. Por favor, volvé a intentarlo en unos minutos..</p>
            </div>
         </div>         		            
	      
	      </div>
	      
	     <div class="toc">
	        <a href="http://tn.com.ar/terminos-y-condiciones">Términos y condiciones</a>
	     </div>      
	      
	    </div>      
    </form>