<ul id="all-news" class="general-menu clearfix">
	<li class="first"><a class="active" href="/" data-src="/" data-id="0">Todo</a></li>
	<li><a href="/politica" data-src="politica" data-id="1">Política</a></li>
	<li><a href="/policiales" data-src="policiales" data-id="2">Policiales</a></li>
	<li><a href="/economia" data-src="economia" data-id="3">Economía</a></li>
	<li><a href="/deportes" data-src="deportes" data-id="4">Deportes</a></li>
	<li><a href="/internacional" data-src="internacional" data-id="5">Internacional</a></li>
	<li><a href="/salud" data-src="salud" data-id="6">Salud</a></li>
	<li><a href="/sociedad" data-src="sociedad" data-id="7">Sociedad</a></li>
	<li><a href="/show" data-src="show" data-id="8">Show</a></li>
	<li><a href="/tecnologia" data-src="tecnologia" data-id="9">Tecnología</a></li>
	<li><a href="/opinion">Opinión</a></li>
  <li class="spinner"><img src="<%= assets_url %>images/spinner.gif" /></li>
</ul>