		<meta charset="utf-8" />

		<title><%= @item[:title] %></title>

		<!-- <% if (assets_url != '../') %><base href="<%= assets_url %>" /><% end %>-->

		<% if (@item[:new] == true) %>
			<meta property="og:type" content="article" />
			<meta property="og:title" content="<%= item[:title] %>" />
			<meta property="og:url" content="http://dozer.pressbox.com.ar/output<%= item.path %>" />
			<meta property="og:description" content="<%= @item[:description] %>" />

		<% else %>
			<meta property="og:title" content="TN ~ Todo Noticias" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="http://dozer.pressbox.com.ar/output/home/home.html" />
			<meta property="og:description" content="El canal de 24 horas de noticias más visto de la Argentina." />
		<% end %>

		<meta property="og:image" content="http://dozer.pressbox.com.ar/output/images/tn-logo2.png" />
		<meta property="og:site_name" content="Todo Noticias" />
		<meta property="og:region" content="Buenos Aires" />
		<meta property="og:country-name" content="Argentina"/>
		<meta property="fb:app_id" content="197081563653884" />

		<meta name="description" content="<%= @item[:description] %>" />
		<meta name="author" content="" />

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <% if @site.config[:environment] == 'production' %>
		  <link rel="stylesheet" href="<%= assets_url %>css/tn.css" type="text/css" media="screen" />
    <% else %>
      <link rel="stylesheet" href="<%= assets_url %>css/reset.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/core-layout.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/style.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/fonts.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/coda-slider-2.0.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/twitter-widget.css" type="text/css" />
      <link rel="stylesheet" href="<%= assets_url %>css/cplayer.css" type="text/css" />
    <% end %>
		<link rel="stylesheet" href="<%= assets_url %>css/print.css" type="text/css" media="print" />

    <link rel="dns-prefetch" href="//st0.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st1.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st2.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//st3.pressbox.com.ar/">
    <link rel="dns-prefetch" href="//platform.twitter.com/">
    <link rel="dns-prefetch" href="//platform0.twitter.com/">
    <link rel="dns-prefetch" href="//facebook.com/">
    <link rel="dns-prefetch" href="//static.ak.fbcdn.net/">
    <link rel="dns-prefetch" href="//urls.api.twitter.com/">

		<!--[if IE ]>
			<link rel="stylesheet" href="<%= assets_url %>css/ie.css" type="text/css" />
		<![endif]-->
    <script type="text/javascript" charset="utf-8">
      var TN = {}; // define namespace global
      TN.BASE_PATH = '../';
      TN.initfuncs = [];
    </script>

		<!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="<%= base_url %>js/libs/head.min.js" type="text/javascript"></script>
    <script src="<%= base_url %>js/libs/lab.min.js" type="text/javascript"></script>

