<% require 'uri' %>

        <div class="share">
          <div class="tw">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="<%= @twitter[0][:via] %>" data-text="<%= @twitter[0][:tweet] %>" data-related="<%= @twitter[0][:related] %>" data-lang="es">Tweet</a>
          </div>
          <div class="fb">
            <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:150px; height:27px;" src="http://www.facebook.com/plugins/like.php?href=<%= URI.encode_www_form_component(@facebook[0][:url]) %>&amp;locale=es_LA&amp;send=false&amp;layout=button_count&amp;width=190&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;height=21&amp;utm_source=facebook&amp;utm_medium=button&amp;utm_campaign=<%= @facebook[0][:cam] %>"></iframe>
          </div>
        </div>