    <meta charset="utf-8" />

    <title><%= @item[:title] %></title>
    <meta name="description" content="<%= @item[:description] %>" />
    <% if(@item[:keywords]) %>
    <meta name="keywords" content="<%= @item[:keywords] %>" />
    <% end %>

    <link rel="shortcut icon" href="http://cdn.tn.com.ar/favicon.ico" />
    <link rel="apple-touch-icon" href="http://cdn.tn.com.ar/apple-touch-icon.png" />

    <meta property="og:title" content="<%= @item[:title] %>" />
    <meta property="og:description" content="<%= @item[:description] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= @item[:og_url] %>" />
    <meta property="og:image" content="http://cdn.tn.com.ar/sites/all/themes/dozer/images/logo-tn.png" />
    <meta property="og:site_name" content="Todo Noticias" />
    <meta property="og:locale" content="es_LA" />
    <meta property="fb:admins" content="687524605" />

		<% if (@item[:project] != nil) %>
	    <% if @site.config[:environment] == 'production' %>
	      <link rel="stylesheet" href="css/<%= @item[:project] %>-min.css" type="text/css" />
	      <!--[if IE ]>
	        <link rel="stylesheet" href="css/<%= @item[:project] %>-ie-min.css" type="text/css" />
	      <![endif]-->
	    <% else %>
	      <link rel="stylesheet" href="css/reset.css" type="text/css" />
	      <link rel="stylesheet" href="css/fonts.css" type="text/css" />
	      <link rel="stylesheet" href="css/<%= @item[:project] %>.css" type="text/css" />
	      <!--[if IE ]>
	        <link rel="stylesheet" href="css/ie.css" type="text/css" />
	        <link rel="stylesheet" href="css/<%= @item[:project] %>-ie.css" type="text/css" />
	      <![endif]-->
	    <% end %>
		<% end %>
	
    <!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="js/libs/head.min.js" type="text/javascript"></script>
    <script src="js/libs/lab.min.js" type="text/javascript"></script>		
		

