---
title: Resultados de la búsqueda
header: alert
billboard: no
ad: true
new: true
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
more: true
---
<!-- busqueda/busqueda.html -->
<section class="search-results">
		<header>
		<h2>Resultado de búsqueda</h2>
		</header>
	  <p class="results-data">1675 resultados</p>
		<form class="search">
		<input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder">
		<input type="submit" value="Buscar" class="submit" />
		</form>

	<section class="news">

	        <%= render 'home-main' %>
	</section><!-- .news -->

</section><!-- end .search-results -->
<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
