---
title: Resultados de la búsqueda
header: alert
billboard: no
ad: true
new: true
---
<!-- busqueda/busqueda.html -->
<section class="search-results no-results">
	<header>
		<h2>Resultado de búsqueda</h2>
	</header>
	<p class="results-data">No se encontraron coincidencias. Intentá nuevamente.</p>
	  <form class="search">
		  <input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder">
		  <input type="submit" value="Buscar" class="submit" />
	  </form>
</section>

<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
