---
title: Estadísticas de todos los partidos | Toda Pasión | Todo Noticias 
description: Resultados, posiciones, incidencias de todos los partidos de Primera A, B Nacional, Liga de España, Liga de Italia, Liga de Inglaterra, Eliminatorias
more: true
page_javascript: "TN.initfuncs.push('setup_home_fx');"
extracss: "menu-fixture,iframe-fixture"
eplanning: "fixture"
sidead: true
selected: brasileirao
bannerFx: brasileirao-v2
twitter_text_fx: Brasileirao
twitter_link: brasileirao
---

<div id="content-fixture">
      
	<section id="fixture-wrap" class="clearfix">
      

      <div id="fixture19Wrap" data-info="1">

      	<%= render 'fixture/brasileirao/fixture' %>

      </div>

	    <div id="posicionesWrap" data-info="2">

	    <%= render 'fixture/brasileirao/posiciones' %>

		</div>

	    <div id="descensoWrap" data-info="3">

	  	<%= render 'fixture/brasileirao/descenso' %>

	    </div>

	    <div id="goleadoresWrap" data-info="4">

	    	<%= render 'fixture/brasileirao/goleadores' %>
	    	
	    </div>

	</section>

	<a href="http://www.datafactory.la/" target="_blank"><img src="../../../images/logodf.gif" width="279" heigth="50" /></a>
    
</div>