---
title: Estadísticas de todos los partidos | Toda Pasión | Todo Noticias 
description: Resultados, posiciones, incidencias de todos los partidos de Primera A, B Nacional, Liga de España, Liga de Italia, Liga de Inglaterra, Eliminatorias
more: true
page_javascript: "TN.initfuncs.push('setup_home_fx');"
extracss: "menu-fixture,iframe-fixture"
eplanning: "fixture"
sidead: true
selected: copasudamericana
bannerFx: copasudamericana-v2
twitter_text_fx: Copa Sudamericana
twitter_link: copa-sudamericana
---

<div id="content-fixture">
      
<section id="fixture-wrap" class="clearfix">
    <div id="fixture19Wrap" data-info="1">
    	<%= render 'fixture/copasudamericana/fixture' %>
    </div>
    <!--<div id="descensoWrap" data-info="3"><iframe id="iframe-fixture" height="650" width="468" seamless="seamless" frameborder="0" scrolling="no" src="http://stats.todapasion.tn.com.ar/html/sudamericana/descenso.html"></iframe></div>-->
    <div id="goleadoresWrap" data-info="4">
    	<%= render 'fixture/copasudamericana/goleadores' %>
    </div>
</section>

<a href="http://www.datafactory.la/" target="_blank"><img src="../../../images/logodf.gif" width="279" heigth="50" /></a>
    
</div>