---
title: Estadísticas de todos los partidos | Toda Pasión | Todo Noticias 
description: Resultados, posiciones, incidencias de todos los partidos de Primera A, B Nacional, Liga de España, Liga de Italia, Liga de Inglaterra, Eliminatorias
more: true
page_javascript: "TN.initfuncs.push('setup_home_fx');"
extracss: "menu-fixture,iframe-fixture"
eplanning: "fixture"
sidead: true
selected: premierleague
bannerFx: premierleague-v2
twitter_text_fx: Premier League
twitter_link: premier
---

<div id="content-fixture">
      
<section id="fixture-wrap" class="clearfix">
    <div id="fixture19Wrap" data-info="1">
    	<%= render 'fixture/premierleague/fixture' %>
    </div>
    <div id="posicionesWrap" data-info="2">
    	<%= render 'fixture/premierleague/posiciones' %>
    </div>
    <div id="descensoWrap" data-info="3">
    	<%= render 'fixture/premierleague/descenso' %>
    </div>
    <div id="goleadoresWrap" data-info="4">
    	<%= render 'fixture/premierleague/goleadores' %>
    </div>
</section>

<a href="http://www.datafactory.la/" target="_blank"><img src="../../../images/logodf.gif" width="279" heigth="50" /></a>
    
</div>