---
title: Estadísticas de todos los partidos | Toda Pasión | Todo Noticias 
description: Resultados, posiciones, incidencias de todos los partidos de Primera A, B Nacional, Liga de España, Liga de Italia, Liga de Inglaterra, Eliminatorias
more: true
page_javascript: "TN.initfuncs.push('setup_home_fx');"
extracss: "menu-fixture,iframe-fixture"
eplanning: "fixture"
sidead: true
selected: primera-a
bannerFx: nacionala-v2
twitter_text_fx: Primera A
twitter_link: argentina/primera-division
---

<div id="content-fixture">
      
<section id="fixture-wrap" class="clearfix">
    <div id="supercampeon" data-info="1">
    	<%= render 'fixture/supercampeon/fixture' %>
    </div>
</section>

<a href="http://www.datafactory.la/" target="_blank"><img src="../../../images/logodf.gif" width="279" heigth="50" /></a>
    
</div>