---
title: Condiciones Legales de Uso del Régimen de Prestación de Servicios de Transito
---

<section class="terms">
  <header class="flow">
    <h2>Condiciones de Uso del Servicio de Tránsito</h2>
  </header>

  <h4>Condiciones de Uso del régimen de prestación de servicios ofrecidos por
        COMPAÑÍA DE MEDIOS DIGITALES (CMD) S.A. en su modalidad de suscripción.</h4>
  <ol>
    <li>COMPAÑÍA DE MEDIOS DIGITALES (CMD) S.A. (en adelante “el organizador”) ofrece a los potenciales usuarios un
servicio que se encuentra regulado por las presentes Condiciones de Uso.</li>
    <li>El servicio mencionado no ofrece garantías o seguros de ninguna clase o naturaleza, y no será el organizador,
responsable por el uso o interpretación que el usuario haga del servicio, o con la información y datos que reciba
por utilizarlo, dado que todo el material del cual se compone el servicio ofrecido es producto de transcripciones de informes recibidos.</li>
    <li>El costo del servicio será de setenta y cinco centavos de peso ($ 0,75) más impuestos (Noventa y cinco
centavos de peso ($0,95) final) por minuto para los usuarios de Movistar, Claro y Personal. De un peso ($1) más
impuestos para usuarios de Nextel (Uno con veinticinco centavos de peso (1,25 final)). En todos los casos, la prestación del
servicio se condiciona a que en los planes de servicio de modalidad “prepaga,” el suscriptor, posea un monto  de crédito suficiente,
que haga posible la prestación efectiva del servicio o no solicite la baja o rescisión del mismo. Válido para el territorio de la República Argentina.</li>
    <li>Para los usuarios de “Movistar, Personal, Claro y Nextel” la unidad de compra mínima es de un (1) llamado.</li>
    <li>Podrá utilizar el servicio cualquier persona que resida en el ámbito de la República Argentina, y sea titular de una línea de celular.<br /> 
En el caso de que el celular sea propiedad de una persona jurídica, se entenderá que a todos los efectos legales ésta es quien ha utilizado
el servicio. En todos los casos los titulares de las líneas de teléfonos móviles deberán ser mayores de 18 años y no encontrase en mora en
el pago de las facturas correspondientes a los referidos servicios.</li>
    <li>Prohibida su difusión (bien sea gratuita o rentada) habida cuenta de la protección brindada por las leyes de Propiedad Intelectual y el
Código Penal Argentino, los Convenios y Leyes Internacionales aplicables a la materia.</li>
    <li>La realización de un (1) llamado al *99399 implicará la aceptación total de estas Condiciones de Uso.</li>
  </ol>
</section>
