---
title: Estado del tránsito en Buenos Aires | TN.com.ar | Todo Noticias
description: Calles, Avenidas, Subtes, Colectivos, Taxis. Cómo aprovechar la ciudad y ahorrar tiempo. El tránsito en tiempo real en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
keywords: El tránsito, Transporte, Subte, Trenes, Buenos Aires, Tránsito Buenos Aires, Tránsito en Buenos Aires,Tránsito en Capital Federal, Trenes Buenos Aires, Trenes de Buenos Aires, Subtes Buenos Aires, TBA, Metrovías, Colectivos, Colectivos recorrido.
header: alert
ad: true
ad_trasito_ribbon: true
---
<!-- transito/transito-alert.html -->

<section class="traffic-maps">

  <%#= render 'ads/movistar' %>
  <%= render 'share/share', :share => 'traffic' %>
	<section class="maps clearfix">
	  <h1 class="hidden">Estado del tránsito en Buenos Aires: subtes, trenes y accesos</h1>
      <object width="950" height="900" type="application/x-shockwave-flash" id="mapaTransito" name="mapaTransito" data="http://tn.com.ar/sites/all/themes/dozer/swf/mapaextendido.swf">
	      <param name="movie" value="http://www.tn.com.ar/sites/all/themes/tn/swf/transito/mapaextendido.swf" />
	      <param name="wmode" value="transparent" />

	      <param name="quality" value="high" />
	      <param name="flashvars" value="transitoV=http://www.tn.com.ar/transito/transito&amp;subtesV=http://www.tn.com.ar/transito/subtes&amp;trenesV=http://www.tn.com.ar/transito/trenes" />
	      <embed src="http://tn.com.ar/sites/all/themes/dozer/swf/mapaextendido.swf" width="950" height="900" flashvars="transitoV=/transito/transito&amp;subtesV=/transito/subtes&amp;trenesV=/transito/trenes" />
      </object>
      <a style="float:right; margin-right: 72px" href="http://datafactory.la" target="_blank" rel="nofollow"><img src="../images/datafactory.gif" alt="DataFactory" /></a>
	</section>
  <%= render 'share/share', :share => 'traffic' %>

	<section class="transito-twitter">
		<h2 class="twitter_title">El tránsito, minuto a minuto</h2>

		<div class="twitter_module">
			<div class="header">
		      <form class="search">
					<input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder" />
					<input class="submit" type="submit" value="Buscar" />
				</form>
			</div>
			<div class="content">
		      <script src="<%= assets_url %>js/libs/twitter-widget-min.js"></script>
		      <script>
		       var twt_search = new TWTR.Widget({
		        version: 2,
		        type: 'search',
		        search: '#JPQuake',
		        interval: 4000,
		        width: 593,
		        height: 1000,
		        theme: { shell: { background: '#ffffff', color: '#444444' },
		                 tweets: { background: '#ffffff', color: '#444444' }
		        },
		        features: { scrollbar: false, loop: true, live: true, hashtags: true, timestamp: true, avatars: true, toptweets: true, behavior: 'default' }
		      });
		      setTimeout("twt_search.render().start()", 2000);
		      </script>
			</div>
		</div>
	</section>

</section>
