	<div id="fb-root"></div>
	
	<script type="text/javascript">
	<!--//--><![CDATA[//><!--
	  hitCertifica("200045", "TN/clima/buenos-aires", "TN Clima buenos-aires");
	//--><!]]>
	</script>
	
	<script type="text/javascript">
	<!--//--><![CDATA[//><!--
	  var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-4436008-13"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
	//--><!]]>
	</script>
	
	<script type="text/javascript" charset="utf-8">
		<% if (@site.config[:environment] == 'develop') %>
		  $LAB.script('js/myhead-dev.js')
		<% else %>
		  $LAB.script('js/myhead-prod.js')
	  <% end %>	
	</script>
	
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>