					<div class="share-small clearfix">

            <div class="tw">
              <iframe class="tw-share-button" allowtransparency="true" frameborder="0" scrolling="no"
                   src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&lang=es&related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&text=Loren%20ipsum%20dolor%20sit%20amet&url=http%3A%2F%2Fdozer.pressbox.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&via=todonoticias"
                      width="120" height="22"></iframe>
            </div>
						<div class="fbsend">
              <script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:send href="http://dozer.pressbox.com.ar" font=""></fb:send>
            </div>
            <div class="fb">
              <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no"
              src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdozer.pressbox.com.ar%2Foutput%2Fhome%2Fhome.html&amp;locale=es_LA&amp;send=true&amp;layout=button_count&amp;width=230&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=22"
                       style="border:none; overflow:hidden; width:150px; height:22px;"></iframe>
            </div>
            <div class="glg">
              <g:plusone size="medium" count="true"></g:plusone>
            </div>

					</div>



