---
title: Archivo, Tweet
header: tweet
ad: true
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
more: true
---
<!-- archivo/archivo-tweet.html -->

<section class="news file-news">
  <header class="flow">
    <h2><time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">Miércoles 22 de Diciembre, 2010</time></h2>
  </header>
  <%= render 'river-news/tnylagente-flow' %>
</section>
<!-- .main stream -->

<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
