<%

title = Array.new

title << 'Ronaldo y Messi, la lucha por la hegemonia en el futbol'
title << 'Schoklender no quiere que Oyarbide siga llevando la causa contra él'
title << 'La “semi plena prueba” de Aníbal F.'
title << 'Sale la "gran" Noelia, entra la "enana" Feudale'
title << 'Peratta: "En Rosario hay mala leche y extorsionadores"'
title << 'Cumbre por la crisis de San Lorenzo'
title << 'Di Caprio, en su mejor estado'
title << 'Un esguince no tan Chiquito'
title << 'Reunión en Trabajo para destrabar el bloqueo en Ezeiza y Aeroparque'
title << 'Santa Cruz: enfrentamientos entre facciones de la UOCRA'

content = Array.new

content << 'La serie entre Argentina y España entre el 2 y el 4 de diciembre ya tiene sede. La Federación Española de Tenis desestimó la candidatura de Valencia.'
content << 'Fue durante un forcejeo con delincuentes en la puerta de una farmacia. Investigan si fue un intento de robo o un ajuste de cuentas.'
content << 'Argumenta que el primer juzgado que recibió la denuncia fue el de Marcelo Martínez de Giorgi.'
content << 'A la locutora le toca el strip dance junto a Hernán Piquín.'
content << 'Así lo afirmó el ministro de Defensa británico.'
content << 'El presidente y el vice se reunieron con Migliore y Ortigoza. Y un integrante de la barra también participó.'
content << 'El famoso actor terminó su relación con&nbsp;la actriz <a href="http://es.wikipedia.org/wiki/Blake_Lively">Blake Lively</a> y disfruta de su soltería.'
content << 'Sergio Romero no jugaría el viernes ante Chile, y sería preservado para jugar ante Venezuela. El arco será para Andújar.'
content << 'Los camioneros de una empresa de catering aéreo realizan el paro.'
content << 'Fue en el paraje El Bote. Hay siete personas heridas.'

%>

 <div class="title-fix">
     <h1>Últimas Noticias</h1>
 </div>

<section class="news">

  <%= render 'river-news/new-article', :media=>'video', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :first=>true, :auspicio => true, :nid => 1 %>
  <%= render 'river-news/new-article', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 2 %>
  <%= render 'river-news/new-article', :media=>'gallery', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 3 %>
  <%= render 'river-news/new-article', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 4 %>
  
  <div class="cambio-dia"><p><span>&darr;&nbsp;&nbsp;&nbsp;AYER&nbsp;&nbsp;&nbsp;&darr;</span></p></div>
  
  <%= render 'river-news/new-article', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :auspicio => true, :nid => 5 %>
  <%= render 'river-news/new-article', :media=>'gallery', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 6 %>
  <%= render 'river-news/new-article', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 7 %>
  <%= render 'river-news/new-article', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 8 %>
  <%= render 'river-news/new-article', :media=>'gallery', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 9 %>
  <%= render 'river-news/new-article', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :auspicio => true, :nid => 10 %>

  <%= render 'pager' %>
</section>