<%

articleclass = 'no-picture'

if (['video','photo','gallery'].include? @media)
  articleclass = 'has-picture'
else
  articleclass = 'no-picture '
  if (@media == 'header')
    articleclass << ' no-content'
  else
    articleclass << ' has-content' 
  end
end

case @grid
  when 3
    w=193
    h=109
  when 4
    w=230
    h=129    
end
%>

      <article class="hnews hentry item item-<%= @item %> <%= articleclass %>">
        <% if (articleclass == 'has-picture')%>
          <figure class="hmedia">
          
          
						<% case @media
						  when 'video' %>
                <a class="play play-video">Play</a>						 
            <% when 'gallery' %>
						    <a href="#" class="play play-photo">Play</a>
						<% end %>          
          
	          <a href="#" class="url">
	            <img class="<% if (@media == 'video') %>player<%else%>photo<%end%> lzl" alt="<%= @title %>" src="<%= base_url%>images/data/grid-<%= rand(8)+1 %>.jpg" width="<%= w %>" height="<%= h %>" />
	            <span class="bg"></span>
	          </a>          
            <figcaption><a class="url fn" rel="bookmark" href="" title=""><span class="entry-title"><%= @title %></span></a></figcaption>
          </figure>
        <%end%>


        <% if (articleclass != 'has-picture')%>
          <h2><a href="#" class="entry-title url" rel="bookmark"><%= @title %></a></h2>
          <% if (@media == 'dropline') %><div class="entry-content"><%= @dropline %></div><%end%>
        <%end%>
        
        <footer>
        
          <% if (articleclass != 'has-picture')%>
	          <time pubdate="pubdate"  datetime="2009-11-13T20:00-03:00"><span class="updated" title="2009-11-13T20:00-03:00">20:03</span></time>
	          <div class="num-comments"><%= rand(9999) %><span></span></div>
	          <div class="views"><%= rand(9999) %><span></span></div>
          <%end%>
        
          <div class="author vcard"><span class="fn" >Autor de la nota</span></div>
          <div class="source-org vcard"><span class="org fn">Todo Noticias</span></div>
          <% if (articleclass == 'has-picture')%><time pubdate="pubdate"  datetime="2009-11-13T20:00-03:00"><span class="updated" title="2009-11-13T20:00-03:00">20:03</span></time><%end%>
        </footer>      
      
      </article>      