<article class="hnews hentry item item-4 iframe">
  <iframe width="230" scrolling="no" height="129" frameborder="0" src="http://mam.tn.com.ar/minutofutbol26.html"></iframe>
  <a href="http://mam.tn.com.ar/minutofutbol26.html" class="entry-title url" target="_blank">Ver ficha</a>
</article>