<%

articleclass = 'no-picture'

if (['video','photo','gallery'].include? @media)
  articleclass = 'has-picture'
else
  articleclass = 'no-picture'
  if (@media == 'header')
    articleclass << ' no-content'
  else
    articleclass << ' has-content'
  end
end

if (@nid % 2 == 0)
  clase = 'odd'
else 
  clase = 'even'
end

time = Array.new

time << 'Hace una hora'
time << 'Hace 15 minutos'
time << 'Hace unos instantes'
time << 'Hace 5 horas'
time << 'Hace unos minutos'

reaction = Array.new
reaction << 'Me Importa'
reaction << 'Me Gusta'
reaction << 'Me Aburre'
reaction << 'Me da igual'
reaction << 'Me Indigna'
reaction << 'Euforia'
reaction << 'Orgullo'
reaction << 'Nada'
reaction << 'Ira'
reaction << 'Verguenza'
reaction << 'Me Hago Fan'
reaction << 'Me Gusta'
reaction << 'Ponele'
reaction << 'Me Duermo'
reaction << 'Derrota Cultural'
reaction << 'Me Enfurece'
reaction << 'Me Calienta'
reaction << 'Me Resbala'
reaction << 'Me Estafaron'
reaction << 'Me Enloquece'

com = rand(1000)
fb = rand(10000)
tw = rand(10000)
img =  rand(8)+1 
tim = rand(10000)
%>

<article id="nid-<%= @nid %>" class="hnews hentry item has-picture <% if (@first != nil) %>first<%end%> <%= clase %> contracted" data-status="contracted" data-pop="<%= @pop %>" data-com="<%= com %>" data-twitter="<%= tw %>" data-facebook="<%= fb %>" data-time="<%= tim %>">
  
  <div class="contracted">
  
	  <div class="popularity">
	    <span class="bar" style="width: <%= @pop %>%"></span>
	  </div>  
	  
	  <div class="container">
	      <% if (articleclass == 'has-picture') %>
	      <figure class="hmedia">
	        <img class="<% if (@media == 'video') %>player<%else%>photo<%end%> lzl" alt="<%= @title %>" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= @site.config[:base_url] %>images/data/news-<%= img %>.jpg" width="91" height="51" />
	        <figcaption class="fn hidden"><%= @title %></figcaption>
	      </figure>
	      
	      <% else %>
          <img class="no-picture" alt="<%= @title %>" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" width="91" height="51" />
	      <% end %>
	  
	      <div class="content">
	        <h1><a href="#" class="url entry-title" rel="bookmark" title="<%= @title %>" target="_blank"><%= @title %></a></h1>
	        <span class="toggle">Expandir</span>
	      </div>    
	  </div>
	  
	  <footer>
	          <div class="reaction"><%= reaction[rand(reaction.size)] %></div>
	          <time pubdate="pubdate" datetime="2009-11-13T20:00-03:00"><span class="updated" title="2009-11-13T20:00-03:00"><%= time[rand(time.size)] %></span></time>
	          <div class="comments"><%= com %></div>
	          <div class="share tw"><%= tw %></div>
	          <div class="share fb"><%= fb %></div>
	          <div class="author vcard hidden"><span class="fn">Autor de la nota</span></div>
	          <div class="source-org vcard hidden"><span class="org fn">Todo Noticias</span></div>
	  </footer>	  
	  
  </div>




















  <div class="expanded">
  
      <% if (articleclass == 'has-picture') %>
      <div class="media-wrapper">
	      <figure class="hmedia">
	  
	        <% case @media
	          when 'video' %>
<a class="play play-video url dplayer" data-player='{"file":"http://contenidos2.tn.com.ar/2011/04/26/abdos.mp4", "width":600,"height":338,"image":"<%= assets_url %>images/data/nota-interna-1.jpg"}' data-op='{"node":".container", "caption":"Título de la nota en el player","force":true}'>Play</a>
	          <% when 'gallery' %>
	          <a class="play play-photo url cplayer" data-json='{
	                  "items": [
	                      {
	                          "media_type": "image",
	                          "url": "<%= base_url %>images/data/messi1.jpg",
	                          "width": 321,
	                          "height": 180,
	                          "caption": "Lionel Messi"
	                      },
	                      {
	                          "media_type": "image",
	                          "url": "<%= base_url %>images/data/messi2.jpg",
	                          "width": 321,
	                          "height": 180,
	                          "caption": "La topadora"
	                      },
	                      {
	                          "media_type": "image",
	                          "url": "<%= base_url %>images/data/messi3.jpg",
	                          "width": 321,
	                          "height": 180,
	                          "caption": "<a href=\"http://google.com\">Google</a>"
	                      },
	                      {
	                          "media_type": "image",
	                          "url": "<%= base_url %>images/data/messi4.jpg",
	                          "width": 321,
	                          "height": 298
	                      }
	                  ]
	              }' data-op='{"fx": "cover", "node": ".hmedia"}'>play</a>
	        <% end %>
	        <a href="#" class="url"><img class="<% if (@media == 'video') %>player<%else%>photo<%end%> lzl" alt="<%= @title %>" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= @site.config[:base_url] %>images/data/news-<%= img %>.jpg" width="321" height="180" /></a>
	        <figcaption class="fn hidden"><%= @title %></figcaption>
	      </figure>
	    </div>
      <% else %>
        <img class="no-picture" alt="<%= @title %>" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" width="321" height="180" />
      <% end %>	    
  
      <div class="content">
        <h1><a href="#" class="url entry-title" rel="bookmark" title="<%= @title %>" target="_blank"><%= @title %></a></h1>
        <span class="toggle">Contraer</span>
        <div class="entry-content"><%= @content * 2%></div>
        
        <div class="footer">
          <strong><%= time[rand(time.size)] %></strong> | <span><strong><%= com %></strong> comentarios</span>
        </div>
        <%= render 'share/share-flow' %>
      </div>      
  
  </div>





</article>
