<%

articleclass = 'no-picture'

if (['video','photo','gallery'].include? @media)
  articleclass = 'has-picture'
else
  articleclass = 'no-picture'
  if (@media == 'header')
    articleclass << ' no-content'
  else
    articleclass << ' has-content'
  end
end

%>

<article id="nid-<%= @nid %>" class="hnews hentry item <%= articleclass %> <% if (@first != nil) %>first<%end%>">
  <time pubdate="pubdate" datetime="2009-11-13T20:00-03:00"><span class="updated" title="2009-11-13T20:00-03:00">21:00</span></time>

  <div class="container clearfix">

    <% if (articleclass == 'has-picture') %>
    <figure class="hmedia">

      <% case @media
        when 'video' %>
        <a class="play play-video url cplayer" data-json='{
               "items": [
                   {
                       "media_type": "video",
                       "width": 530,
                       "height": 298,
                       "caption": "Título de la nota en el player",
                       "cover": "http://lorempixum.com/530/530/abstract/1/",
                       "provider": "rtmp",
                       "streamer": "rtmp://vod.tn.com.ar/vod/tnylg",
                       "levels": [{ "bitrate": "500000", "file": "tnylg/ufe/2012/06/05/9c1118258b/20120514_215118-9c1118258b-360p.mp4", "width": "480" }]                    
                   }
               ]
           }' data-op='{"autostart": false, "node": ".container"}'>Play</a>
        <% when 'gallery' %>
        <a class="play play-photo url cplayer" data-json='{
                "items": [
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi1.jpg",
                        "width": 530,
                        "height": 298,
                        "caption": "Lionel Messi"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi2.jpg",
                        "width": 530,
                        "height": 298,
                        "caption": "La topadora"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi3.jpg",
                        "width": 530,
                        "height": 298,
                        "caption": "<a href=\"http://google.com\">Google</a>"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi4.jpg",
                        "width": 530,
                        "height": 298
                    }
                ]
            }' data-op='{"fx": "cover", "node": ".container", "hideCarControls": true}'>play</a>
      <% end %>
      <a href="#" class="url"><img class="<% if (@media == 'video') %>player<%else%>photo<%end%> lzl" alt="<%= @title %>" src="<%= @site.config[:base_url] %>images/watermark-460x259.png" data-src="<%= @site.config[:base_url] %>images/data/news-<%= rand(8)+1 %>.jpg" width="150" height="84" /></a>
    </figure>
    <% end %>

    <div class="content">
      <h1><a href="#" class="url entry-title" rel="bookmark" title="<%= @title %>"><%= @title %></a></h1>
          <% if (@item[:featured] != false)%>
            <% if (@featured != nil)%><span class="featured" title="nota destacada"></span><%end%>
          <% end %>

      <div class="entry-content"><%= @content %></div>
      <div class="user">
        <span>Por:</span> <h2><a href="#" title="Jacinta Pichimaguida">Jacinta Pichimaguida</a></h2>
      </div>
      <%= render 'share/share-flow' %>
    </div>
  </div>

  <footer>
          <div class="author vcard"><span class="fn">Autor de la nota</span></div>
          <div class="source-org vcard"><span class="org fn">Todo Noticias</span></div>
  </footer>
  <%= @auspicio.nil? ? '' : '<div class="flujo-auspicio"></div>' %>
</article>
