<%

articleclass = 'no-picture'

if (['video','photo','gallery'].include? @media)
  articleclass = 'has-picture'
else
  articleclass = 'no-picture'
  if (@media == 'header')
    articleclass << ' no-content'
  else
    articleclass << ' has-content'
  end
end

%>

<article id="nid-<%= @nid %>" class="hnews hentry item <%= articleclass %> <% if (@first != nil) %>first<%end%>">

  <div class="container clearfix">

    <% if (articleclass == 'has-picture') %>
    <figure class="hmedia">

      <% case @media
        when 'video' %>
        <a class="play play-video url cplayer" data-json='{
               "items": [
                   {
                       "media_type": "video",
                       "width": 460,
                       "height": 259,
                       "caption": "Título de la nota en el player",
                       "cover": "http://lorempixum.com/460/460/abstract/1/",
                       "url":"tnylg/ufe/2012/06/05/9c1118258b/20120514_215118-9c1118258b-360p.mp4",
                       "provider": "rtmp",
                       "streamer": "rtmp://vod.tn.com.ar/vod/tnylg"                                            
                   }
               ]
           }' data-op='{"autostart": true, "node": ".hmedia"}'>Play</a>
        <% when 'gallery' %>
        <a class="play play-photo url cplayer" data-json='{
                "items": [
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi1.jpg",
                        "width": 460,
                        "height": 259,
                        "caption": "Lionel Messi"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi2.jpg",
                        "width": 460,
                        "height": 259,
                        "caption": "La topadora"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi3.jpg",
                        "width": 460,
                        "height": 259,
                        "caption": "<a href=\"http://google.com\">Google</a>"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi4.jpg",
                        "width": 460,
                        "height": 259
                    }
                ]
            }' data-op='{"fx": "cover", "node": ".hmedia", "hideCarControls": true}'>play</a>
      <% end %>
      <a href="#" class="url"><img class="<% if (@media == 'video') %>player<%else%>photo<%end%> lzl" alt="<%= @title %>" src="<%= @site.config[:base_url] %>images/watermark-460x259.png" data-src="<%= @site.config[:base_url] %>images/data/news-<%= rand(8)+1 %>.jpg" width="460" height="259" /></a>
    </figure>
    <% end %>

    <div class="content">
      <h1><a href="#" class="url entry-title" rel="bookmark" title="<%= @title %>"><%= @title %></a></h1>
          <% if (@item[:featured] != false)%>
            <% if (@featured != nil)%><span class="featured" title="nota destacada"></span><%end%>
          <% end %>

      <div class="entry-content"><%= @content %></div>

    </div>
  </div>

  <footer>
      <div class="user">
        <a class="avatar" href="#" title="USUARIO"><img width="32" height="32" src="<%= base_url %>images/data/avatar-<%= rand(2)+1%>.png" alt="Joaquin Morales Sola"  /></a>
        <h2><a href="#" title="Jacinta Pichimaguida">Jacinta Pichimaguida</a></h2>
        <time pubdate="pubdate" datetime="2009-11-13T20:00-03:00"><span class="updated" title="2009-11-13T20:00-03:00">30 de abril 02:08hs</span></time>
      </div>    
      <%= render 'share/share-flow' %>
      <div class="hidden">
          <div class="author vcard"><span class="fn">Autor de la nota</span></div>
          <div class="source-org vcard"><span class="org fn">Todo Noticias</span></div>
      </div>          
  </footer>
</article>
