<%

title = Array.new

title << 'Ronaldo y Messi, la lucha por la hegemonia en el futbol'
title << 'Schoklender no quiere que Oyarbide siga llevando la causa contra él'
title << 'La “semi plena prueba” de Aníbal F.'
title << 'Sale la "gran" Noelia, entra la "enana" Feudale'
title << 'Peratta: "En Rosario hay mala leche y extorsionadores"'
title << 'Cumbre por la crisis de San Lorenzo'
title << 'Di Caprio, en su mejor estado'
title << 'Un esguince no tan Chiquito'
title << 'Reunión en Trabajo para destrabar el bloqueo en Ezeiza y Aeroparque'
title << 'Santa Cruz: enfrentamientos entre facciones de la UOCRA'

content = Array.new

content << 'La serie entre Argentina y España entre el 2 y el 4 de diciembre ya tiene sede. La Federación Española de Tenis desestimó la candidatura de Valencia.'
content << 'Fue durante un forcejeo con delincuentes en la puerta de una farmacia. Investigan si fue un intento de robo o un ajuste de cuentas.'
content << 'Argumenta que el primer juzgado que recibió la denuncia fue el de Marcelo Martínez de Giorgi.'
content << 'A la locutora le toca el strip dance junto a Hernán Piquín.'
content << 'Así lo afirmó el ministro de Defensa británico.'
content << 'El presidente y el vice se reunieron con Migliore y Ortigoza. Y un integrante de la barra también participó.'
content << 'El famoso actor terminó su relación con&nbsp;la actriz <a href="http://es.wikipedia.org/wiki/Blake_Lively">Blake Lively</a> y disfruta de su soltería.'
content << 'Sergio Romero no jugaría el viernes ante Chile, y sería preservado para jugar ante Venezuela. El arco será para Andújar.'
content << 'Los camioneros de una empresa de catering aéreo realizan el paro.'
content << 'Fue en el paraje El Bote. Hay siete personas heridas.'

%>

<div class="main-stream">

<section class="news">

    <header id="coda-nav-1">
      <ul class="general-menu clearfix">
        <li class="selected"><a class="xtrig" href="#lo-destacado" rel="coda-slider-tnyg">Lo destacado</a></li>
        <li><a class="xtrig" href="#lo-ultimo" rel="coda-slider-tnyg">Lo último</a></li>
      </ul>
    </header> 
     
    <div class="coda-slider-wrapper content ">
			<div class="coda-slider preload" id="coda-slider-tnyg">
			  <div class="panel first-panel">
			    <div class="panel-wrapper">
					  <%= render 'river-news/tnylagente-article-home', :media=>'video', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :first=>true, :auspicio => true, :nid => 1 %>
					  <%= render 'river-news/tnylagente-article-home', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 2 %>
					  <%= render 'river-news/tnylagente-article-home', :media=>'gallery', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 3 %>
					  <%= render 'river-news/tnylagente-article-home', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 4 %>
					  <%= render 'river-news/tnylagente-article-home', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :auspicio => true, :nid => 5 %>
					  <%= render 'river-news/tnylagente-article-home', :media=>'gallery', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 6 %>
					  <%= render 'river-news/tnylagente-article-home', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 7 %>
					  <%= render 'river-news/tnylagente-article-home', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 8 %>
					  <%= render 'pager', :texto=>'' %>
			    </div>
			  </div>
			
			  <div class="panel">
			    <div class="panel-wrapper">
			      <%= render 'river-news/tnylagente-article-home', :media=>'video', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :first=>true, :auspicio => true, :nid => 1 %>
			      <%= render 'river-news/tnylagente-article-home', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 2 %>
			      <%= render 'river-news/tnylagente-article-home', :media=>'gallery', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 3 %>
			      <%= render 'river-news/tnylagente-article-home', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 4 %>
			      <%= render 'river-news/tnylagente-article-home', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :auspicio => true, :nid => 5 %>
			      <%= render 'river-news/tnylagente-article-home', :media=>'gallery', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 6 %>
			      <%= render 'river-news/tnylagente-article-home', :media=>'text', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 7 %>
			      <%= render 'river-news/tnylagente-article-home', :media=>'photo', :title=>title[rand(title.size)], :content=>content[rand(content.size)], :nid => 8 %>
			      <%= render 'pager', :texto=>'' %>
			    </div>
			  </div>
			</div>  
  </div>
  <%= render 'ads/megaexpandible' %>
</section>
</div>