<%

articleclass = 'no-picture'

if (['video','photo','gallery'].include? @media)
  articleclass = 'has-picture'
else
  articleclass = 'no-picture'
  if (@media == 'header')
    articleclass << ' no-content'
  else
    articleclass << ' has-content'
  end
end

%>

<article class="hnews hentry item <%= articleclass %> <% if (@first != nil) %>first<%end%>">
	<time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">21:00</time>

	<div class="container clearfix">

	  <% if (articleclass == 'has-picture') %>
		<figure class="hmedia">

      <% case @media
        when 'video' %>
<a class="play play-video url dplayer" data-player='{"file":"http://contenidos2.tn.com.ar/2011/04/26/abdos.mp4", "width":600,"height":338,"image":"<%= assets_url %>images/data/nota-interna-1.jpg"}' data-op='{"node":".container", "caption":"Título de la nota en el player","force":true}'>Play</a>
        <% when 'gallery' %>
        <a class="play play-photo url cplayer" data-json='{
                "items": [
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi1.jpg",
                        "width": 530,
                        "height": 298,
                        "caption": "Lionel Messi"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi2.jpg",
                        "width": 530,
                        "height": 298,
                        "caption": "La topadora"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi3.jpg",
                        "width": 530,
                        "height": 298,
                        "caption": "<a href=\"http://google.com\">Google</a>"
                    },
                    {
                        "media_type": "image",
                        "url": "<%= base_url %>images/data/messi4.jpg",
                        "width": 530,
                        "height": 298
                    }
                ]
            }' data-op='{"fx": "cover", "node": ".container", "hideCarControls": true}'>play</a>
      <% end %>
			<a href="#" class="url"><img class="<% if (@media == 'video') %>player<%else%>photo<%end%> lzl" alt="<%= @title %>" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= @site.config[:base_url] %>images/data/news-<%= rand(8)+1 %>.jpg" width="150" height="84" /></a>
			<figcaption class="fn hidden"><%= @title %></figcaption>
		</figure>
		<% end %>

		<div class="content">
			<h1><a href="#" class="url entry-title" rel="bookmark" title="<%= @title %>"><%= @title %></a></h1>
      		<% if (@item[:featured] != false)%>
      			<% if (@featured != nil)%><span class="featured" title="nota destacada"></span><%end%>
      		<% end %>

			<div class="entry-content"><%= @content %></div>
		  <%= render 'share/share-flow' %>
		</div>
	</div>

	<footer>
		Por: <div class="author vcard"><h1><a href="#" rel="me">Autor de la nota</a></h1></div>
		<div class="source-org vcard">Todo Noticias</div>
	</footer>
  <%= @auspicio.nil? ? '' : '<div class="flujo-auspicio"></div>' %>
</article>
