<!-- home-main --><% reset_first5 %>
<div class="main-stream">

  <article class="has-picture first">

    <div class="container clearfix">
      <figure class="hmedia">
        <a href="#" class="url">
          <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-1.jpg" width="150" height="84" />

        </a>
        <figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
      </figure>

      <div class="content">
        <h1><a href="#" class="url entry-title" rel="bookmark">Ronaldo y Messi, la lucha por la hegemonia en el futbol</a></h1>
        <div class="entry-content">
          Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. <a href="#">Sed fringilla mauris </a>sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.
        </div>
        <%= render 'share/share-flow' %>
      </div>
    </div>

    <footer>
      <div class="author vcard">Autor de la nota</div>
      <div class="source-org vcard">Todo Noticias</div>
    </footer>
  </article>

				<article class="no-picture">

          <div class="container clearfix">

						<div class="content">

							<h1><a href="#" class="url entry-title" rel="bookmark">Cum sociis natoque penatibus et magnis dis parturient montes</a></h1>
							<div class="entry-content">
								<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
							</div>
							<%= render 'share/share-flow' %>
						</div>
          </div>

					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
         <div class="container clearfix">
						<figure class="hmedia">
							<a href="#" class="url">
								<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-2.jpg" width="150" height="84" />

							</a>
							<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
						</figure>
						<div class="content">
							<h1><a href="#" class="url entry-title" rel="bookmark">Etiam sit amet orci eget eros tincidunt duis leo sed fringilla</a></h1>
							<div class="entry-content">
	              <p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed <a href="#">#consequat</a>, leo eget bibendum.</p>
							</div>
							<%= render 'share/share-flow' %>
						</div>
          </div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">

         <div class="container clearfix">

						<figure class="hmedia">
							<a href="#" class="url">
	             				 <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-3.jpg" width="150" height="84" />

							</a>
							<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
						</figure>
						<div class="content">
							<h1><a href="#" class="url entry-title" rel="bookmark">Integer tincidunt cras dapibus vivamus</a></h1>
							<div class="entry-content">
								<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
							</div>
	            <%= render 'share/share-flow' %>
						</div>
          </div>

					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">

          <div class="container clearfix">
						<div class="content">
							<h1><a href="#" class="url entry-title" rel="bookmark">Sed consequat eget bibendum</a></h1>
							<div class="entry-content">
								<p>Etiam sit amet orci eget eros faucibus <a href="#">tincidunt</a>. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
							</div>
							<%= render 'share/share-flow' %>
						</div>
          </div>

					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
         <div class="container clearfix">
						<div class="content">
							<h1><a href="#" class="url entry-title" rel="bookmark">Sed consequat eget bibendum</a></h1>
							<div class="entry-content">
								<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
							</div>
							<%= render 'share/share-flow' %>
						</div>
          </div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">

          <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Sed consequat eget bibendum</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
          </div>

					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-4.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Nota para testear algo, blandit luctus pulvinar vel, hendreit id lorem</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
          </div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Penatibus et magnis dis perturient montes</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
          </div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-5.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Etiam sit amet orci eget eros tincidunt duis leo sed fringilla</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

<div id="megaexpandible" class="banner banner-480x60" role="banner"></div>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
             				 <img class="photo lzl" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-6.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">In enim justo, rhoncus imperdiet</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Cras ivamus elementum semper nisi aenean vulputate</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-7.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Pulvinar hendrerit id, lorem</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
             				 <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-8.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Natoque penatibus et magnis dis parturient</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Vivamus elementum semper nisi aenean vulputate</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-9.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Aliquam lorem ante dapibus in, viverra quis feugiat a tellus</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Donec quam felis, ultricies nec pellentesque pretium quis, sem nulla consequat massa</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-10.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Aenean vulputate eleifend tellus leo ligula porttitor consequat</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
             				 <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-11.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Donec quam felis, ultricies nec pellentesque pretium quis, sem nulla consequat massa</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Etiam ultricies nisi vel augue</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Maecenas nec odio et ante tincidunt tempus</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
             				 <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-12.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Quam nuc blandit vel luctus pulvinar hendrerit id lorems</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">We need a title to style</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-13.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Donec quam felis, ultricies nec</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Cum sociis natoque penatibus et magnis dis parturient montes</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-14.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Etiam sit amet orci eget eros tincidunt duis leo sed fringilla</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
             				 <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-15.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Integer tincidunt cras dapibus vivamus</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Sed consequat eget bibendum</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Pulvinar hendrerit id, lorem</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-14.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Etiam sit amet orci eget eros tincidunt duis leo sed fringilla</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
             				 <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-15.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Integer tincidunt cras dapibus vivamus</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Sed consequat eget bibendum</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Pulvinar hendrerit id, lorem</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
							<img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-14.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Etiam sit amet orci eget eros tincidunt duis leo sed fringilla</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="has-picture">
					         <div class="container clearfix">
					<figure class="hmedia">
						<a href="#" class="url">
             				 <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news-15.jpg" width="150" height="84" />

						</a>
						<figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
					</figure>
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Integer tincidunt cras dapibus vivamus</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

				<article class="no-picture">
					         <div class="container clearfix">
					<div class="content">
						<h1><a href="#" class="url entry-title" rel="bookmark">Sed consequat eget bibendum</a></h1>
						<div class="entry-content">
							<p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.</p>
						</div>
						<%= render 'share/share-flow' %>
					</div>
					</div>
					<footer>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>

</div><!-- .main stream -->
<!-- end home-main -->
