<section class="movie-info">
	<dl>
    <dt>Duración:</dt>
    <dd>116 minutos</dd>

    <dt>Precio:</dt>
    <dd>$ 55.00</dd>

		<dt>Actores:</dt>
		<dd>Alberto Alarcon, Sulma Faiath, Sandra Ballesteros</dd>

		<dt>Género:</dt>
		<dd>Drama</dd>

	</dl>
</section>
