<section class="cinemas">


<h2>¿Dónde y cuando?</h2>
<ul>
<li class="first">
<h3>Belgrano</h3>
<p>Showcase</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
<p class="address">Av Corrientes 1235</p>
<p>Cinemark</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
<p class="address">Av Corrientes 1235</p>
<p>Hoyts</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
<p class="address">Av Corrientes 1235</p>
</li>
<li>
<h3>Abasto</h3>
<p>Hoyts Abasto de Buenos Aires</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
</li>
<li>
<h3>Campana</h3>
<p>Cine Campana</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
</li>
<li>
<h3>Abasto</h3>
<p>Hoyts Abasto de Buenos Aires</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
</li>
<li>
<h3>Abasto</h3>
<p>Hoyts Abasto de Buenos Aires</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
</li>
<li>
<h3>Abasto</h3>
<p>Hoyts Abasto de Buenos Aires</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
</li>
<li>
<h3>Abasto</h3>
<p>Hoyts Abasto de Buenos Aires</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
</li>
<li>
<h3>Abasto</h3>
<p>Hoyts Abasto de Buenos Aires</p>
<p class="schedules">Horarios: 12:40, 15:10, 17:40, 20:00 y 22:20. | Trasnoche: 00:50</p>
</li>
</ul>

</section>
