<select class="alignleft">
<option>Seleccioná un espectáculo</option>
<option>Piratas del Caribe: Navegando aguas misteriosas 3D</option>
<option>Piratas del Caribe: Navegando aguas misteriosas</option>
<option>El hombre que podía recordar sus vidas pasadas</option>
<option>Querida, voy a comprar cigarrillos y vuelvo</option>
<option>Revoluciín. El cruce de Los Andes</option>
<option>Rípidos y furiosos 5in control</option>
<option>Potiche - Mujeres al poder</option>
<option>Mis tardes con Margueritte</option>
<option>La chica de la capa roja</option>
<option>¿Que pasó ayer? Parte 2</option>
<option>Hop, rebelde sin Pascua</option>
<option>Un tren a Pampa Blanca</option>
<option <% if @movie %>selected="selected"<% end %>>Una esposa de mentira</option>
<option>El encanto del erizo</option>
<option>Que la cosa funcione</option>
<option>La noche del demonio</option>
<option>Morir como un hombre</option>
<option>Culpable o inocente</option>
<option>La palabra empeñada</option>
<option>El discurso del Rey</option>
</select>
