  <div id="widget-fixture" class="widget widget-torneo">
  
    <div class="header">
            <div class="title">
        <h2>Crucero del Norte</h2>
      </div>
    </div>

    <div class="fecha-extend">Fecha:</div>

    <div class="options options-extend">
       <ul>
          <li class="date select" data-selection="0">01</li>
          <li class="date" data-selection="1">02</li>
          <li class="date" data-selection="2">03</li>
          <li class="date" data-selection="3">04</li>
          <li class="date" data-selection="4">05</li>
          <li class="date" data-selection="5">06</li>
          <li class="date" data-selection="6">07</li>
          <li class="date" data-selection="7">08</li>
          <li class="date" data-selection="8">09</li>
          <li class="date" data-selection="9">10</li>
          <li class="date" data-selection="10">11</li>
          <li class="date" data-selection="11">12</li>
          <li class="date" data-selection="12">13</li>
          <li class="date" data-selection="13">14</li>
          <li class="date" data-selection="14">15</li>
          <li class="date" data-selection="15">16</li>
          <li class="date" data-selection="16">17</li>
          <li class="date" data-selection="17">18</li>
          <li class="date" data-selection="18">19</li>
          <li class="date" data-selection="19">20</li>
          <li class="date" data-selection="20">21</li>
          <li class="date" data-selection="21">22</li>
          <li class="date" data-selection="22">23</li>
          <li class="date" data-selection="23">24</li>
          <li class="date" data-selection="24">25</li>
          <li class="date" data-selection="25">26</li>
          <li class="date" data-selection="26">27</li>
          <li class="date" data-selection="27">28</li>
          <li class="date" data-selection="28">29</li>
          <li class="date" data-selection="29">30</li>
          <li class="date" data-selection="30">31</li>
          <li class="date" data-selection="31">32</li>
          <li class="date" data-selection="32">33</li>
          <li class="date" data-selection="33">34</li>
          <li class="date" data-selection="34">35</li>
          <li class="date" data-selection="35">36</li>
          <li class="date" data-selection="36">37</li>
          <li class="date" data-selection="37">38</li>
       </ul>
    </div>

    <div class="for-extend">Por equipo<img src="../../../images/row.jpg" width="9" height="5"/>
        <ul id="torneos-fixture" class="torneos-fixture">
                <li class="locateEquipo"><a href="#" data-fixture="nacionalb" data-path="equipos" data-equipo="gimnasia">Gimnasia</a></li>
                <li class="locateEquipo"><a href="#" data-fixture="nacionalb" data-path="equipos" data-equipo="crucerodelnorte">Crucero del Norte</a></li>
                <li class="locateEquipo"><a href="#">Def. y Justicia</a></li>
                <li class="locateEquipo"><a href="#">Aldosivi</a></li>
                <li class="locateEquipo"><a href="#">Almirante Brown</a></li>
                <li class="locateEquipo"><a href="#">Independiente Mdz.</a></li>
                <li class="locateEquipo"><a href="#">Sarmiento</a></li>
                <li class="locateEquipo"><a href="#">Atlètico Tucumàn</a></li>
                <li class="locateEquipo"><a href="#">Douglas Haig</a></li>
                <li class="locateEquipo"><a href="#">Rosario Central</a></li>
                <li class="locateEquipo"><a href="#">Dep. Merio</a></li>
                <li class="locateEquipo"><a href="#">Banfield</a></li>
                <li class="locateEquipo"><a href="#">Gimnasia(J)</a></li>
                <li class="locateEquipo"><a href="#">Olimpo</a></li>
                <li class="locateEquipo" ><a href="#">Nueva Chicago</a></li>
                <li class="locateEquipo"><a href="#">Instituto</a></li>
                <li class="locateEquipo"><a href="#">Ferro</a></li>
                <li class="locateEquipo"><a href="#">Patronato</a></li>
                <li class="locateEquipo"><a href="#">Boca Unidos</a></li>
                <li class="locateEquipo"><a href="#">Huracàn</a></li>
        </ul>
    </div>
    
    

    <div id="fixture" class="tab clearfix fxSpacer">  
        
      <table class="bg">
        <tbody>
          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />San Martìn SJ</td>
            <td class="resultado-extend"><p class="alignleft">24</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/colon.png" width="38" height="38" />Colòn SF</td>
            <td class="fecha">Viernes 03/08<br />18:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/sanmartin.png" width="38" height="38" />Lanùs</td>
            <td class="resultado-extend"><p class="alignleft">4</p><p class="alignright">2</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Newell's</td>
            <td class="fecha">Viernes 03/08<br />19:10</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Estudiantes</td>
            <td class="resultado-extend"><p class="alignleft">0</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/sanmartin.png" width="38" height="38" />River</td>
            <td class="fecha">Viernes 03/08<br />15:30</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Belgrano</td>
            <td class="resultado-extend"><p class="alignleft">2</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/san-lorenzo.png" width="38" height="38" />San Lorenzo</td>
            <td class="fecha">Viernes 03/08<br />21:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>
          
          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Belgrano</td>
            <td class="resultado-extend"><p class="alignleft">2</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/sanmartin.png" width="38" height="38" />San Lorenzo</td>
            <td class="fecha">Viernes 03/08<br />21:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />All Boys</td>
            <td class="resultado-extend"><p class="alignleft">1</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/quilmes.png" width="38" height="38" />Quilmes</td>
            <td class="fecha">Viernes 03/08<br />15:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Independiente</td>
            <td class="resultado-extend"><p class="alignleft">1</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/sanmartin.png" width="38" height="38" />Vèlez</td>
            <td class="fecha">Viernes 03/08<br />19:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Argentinos Jr.</td>
            <td class="resultado-extend"><p class="alignleft">0</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Racing</td>
            <td class="fecha">Viernes 03.08<br />14:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/sanmartin.png" width="38" height="38" />Uniòn SF</td>
            <td class="resultado-extend"><p class="alignleft">-</p><p class="alignright">-</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Belgrano</td>
            <td class="fecha">Viernes 03/08<br />finalizado</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Boca Jr.</td>
            <td class="resultado-extend"><p class="alignleft">-</p><p class="alignright">-</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/tigre.png" width="38" height="38" />Tigre</td>
            <td class="fecha">Viernes 03/08<br />finalizado</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

      </table>
      </div>
     </div>
