---
title: Programas
ad: false
page_javascript: "TN.initfuncs.push('setup_programas');"
eplanning: programas
---
<!-- programas/programas.html -->
<section id="programs">
  <%= render 'programas/menu' %>
  <div class="programa">
   <h1>Argentina para armar</h1>
   <p>Porque necesitamos entendernos para poder entender. Los temas más relevantes para construir un país grande. <a href="path/al/programa">Argentina para Armar</a>, con <a href="path/al/periodista">María Laura Santillán</a>. Domingos a las 22 por <a href="http://www.tn.com.ar">TN</a>.</p>
   <%= render 'share/share', :share => 'programs' %>
  </div>
  
  <%= render 'programas/listado' %>
  <%= render 'pager', :siguiente => false %>
</section>