
      <table class="bg">
        <tbody>
          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />San Martìn SJ</td>
            <td class="resultado"><p class="alignleft">24</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/colon.png" width="38" height="38" />Colòn SF</td>
            <td class="fecha">Viernes 03/08<br />18:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Lanùs</td>
            <td class="resultado"><p class="alignleft">4</p><p class="alignright">2</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/newell.png" width="38" height="38" />Newell's</td>
            <td class="fecha">Viernes 03/08<br />19:10</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/colon.png" width="38" height="38" />Estudiantes</td>
            <td class="resultado"><p class="alignleft">0</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/river.png" width="38" height="38" />River</td>
            <td class="fecha">Viernes 03/08<br />15:30</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Belgrano</td>
            <td class="resultado"><p class="alignleft">2</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/colon.png" width="38" height="38" />San Lorenzo</td>
            <td class="fecha">Viernes 03/08<br />21:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>
          
          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Belgrano</td>
            <td class="resultado"><p class="alignleft">2</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/san-lorenzo.png" width="38" height="38" />San Lorenzo</td>
            <td class="fecha">Viernes 03/08<br />21:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/colon.png" width="38" height="38" />All Boys</td>
            <td class="resultado"><p class="alignleft">1</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Quilmes</td>
            <td class="fecha">Viernes 03/08<br />15:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Independiente</td>
            <td class="resultado"><p class="alignleft">1</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/velez.png" width="38" height="38" />Vèlez</td>
            <td class="fecha">Viernes 03/08<br />19:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/colon.png" width="38" height="38" />Argentinos Jr.</td>
            <td class="resultado"><p class="alignleft">0</p><p class="alignright">1</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Racing</td>
            <td class="fecha">Viernes 03.08<br />14:00</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/unionsantafe.png" width="38" height="38" />Uniòn SF</td>
            <td class="resultado"><p class="alignleft">-</p><p class="alignright">-</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Belgrano</td>
            <td class="fecha">Viernes 03/08<br />finalizado</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

          <tr class="underline">
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/racing.png" width="38" height="38" />Boca Jr.</td>
            <td class="resultado"><p class="alignleft">-</p><p class="alignright">-</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/tigre.png" width="38" height="38" />Tigre</td>
            <td class="fecha">Viernes 03/08<br />finalizado</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
          </tr>

      </table>

