<%
url = 'http%3A%2F%2Fm.tn.com.ar%2Fgps'
text = 'Descarg%C3%A1%20los%20mapas%20m%C3%A1s%20completos%20y%20actualizados%20para%20tu%20GPS%20o%20celular%20en%20TN.com.ar'
tw_via = 'todonoticias'
tw_related = 'todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web'
subject = 'Mapas%20TN%20GPS%201.0%20con%20la%20voz%20de%20Ernesto%20Arriaga'

%>

  <div class="share share-nota">
    <a class="button twitter" href="http://twitter.com/share?url=<%= url %>&amp;text=<%= text %>&amp;via=<%= tw_via %>&amp;related=<%= tw_related %>" target="_blank">Twittear</a>&nbsp;<a class="button facebook" href="http://m.facebook.com/sharer.php?u=<%= url %>&amp;t=<%= text %>" target="_blank">Recomendar</a>&nbsp;<a class="button email" href="mailto:?subject=<%= subject %>&amp;body=<%= text %>">email</a>
  </div>