---
title: Publicar una nueva nota | TN y la Gente | TN.com.ar | Todo Noticias
description: Publicá una nota, fotos y videos en TN y la Gente. Ya sos parte de TN.com.ar, el sitio del canal de noticias más visto de Argentina.
extraclass: 'tnylg ckeditor node-type-publish pupload'
datapage: 'publish'
extracss: 'publish'
page_javascript: "TN.initfuncs.push('setup_publish');"
---

  <div class="messages error">
    <ul>
      <li>El campo Nombre de usuario es obligatorio.</li>
      <li>El campo Contraseña es obligatorio.</li>
    </ul>
  </div>

<%= render 'portadas/site-tnylagente/publish' %>