<div class="iframe-jjoo">

  <a class="see-more" target="_blank" href="http://tn.com.ar/londres-2012" title="Especial Juegos Olímpicos">Ver Especial Londres 2012</a>

  <iframe width="<%= @w %>px" seamless="seamless"  height="<%= @h %>px" src="http://mam.tn.com.ar/olimpicos2012/es/<%= @if %>.html"></iframe>

</div>