---
title: Comentarios y reacciones | TN y la Gente | TN.com.ar | Todo Noticias
description: Lo que se dice y se siente en TN y la Gente al leer las últimas noticias de TN.com.ar, el sitio del canal de noticias más visto de Argentina.
#page_javascript: "TN.initfuncs.push('');"
ad: false
content_top: 'tnylagente/titulo_ahora'
extraclass: 'tnylg'
eplanning: false
twitter_text: "Así se siente la gente con las noticias del día en TN.com.ar "
certifica_path: 'TN/tnylagente/ahora'
certifica_desc: 'TN y la Gente - Ahora'
new: true
---

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me">Nelson Fernandez</a> le <a href="/tnylagente/ahora/leimporta">importa</a> esto: <a href="">Título de la nota</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me">Nelson Fernandez</a> se <a href="/tnylagente/ahora/fan">hizo fan</a> de esto: <a href="">Título de la nota</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me">Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Título de la nota</a>, en <a href="">Música</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/legusta">gusta</a> esto: <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/legusta">gusta</a> esto: <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a>, en <a href="">Política</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/leaburre">aburre</a> esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> le tiró un <a href="/tnylagente/ahora/ponele">ponele</a> a esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a>, en <a href="">Show</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/ledaigual">da igual</a> esto: <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> se <a href="/tnylagente/ahora/duerme">duerme</a> esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a>, en <a href="">Deportes</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/leindigna">indigna</a> esto: <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">Para <a href="/g33k" rel="me" >Nelson Fernandez</a> esto es una <a href="/tnylagente/ahora/derrotacultural">derrota cultural</a>: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a>, en <a href="">Internacionales</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

