---
title: Últimos comentarios | TN y la Gente | TN.com.ar | Todo Noticias
description: Los últimos comentarios y los debates más encendidos de TN y La Gente y TN.com.ar, el sitio del canal de noticias más visto de Argentina.
#page_javascript: "TN.initfuncs.push('');"
ad: false
content_top: 'tnylagente/titulo_comentarios'
extraclass: 'tnylg'
eplanning: false
twitter_text: "Estos son los últimos comentarios de TN.com.ar"
certifica_path: 'TN/tnylagente/ahora/comentarios'
certifica_desc: 'TN y la Gente - Ahora/Comentarios'
new: true
---

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me">Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Título de la nota en TN y la Gente</a>, en <a href="">Sección</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a> en <a href="">Política</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a>, en <a href="">Show</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a>, en <a href="">Política</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a>, en <a href="">Internacional</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Título de la nota en TN</a>, en <a href="">Música</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

