---
title: Lo que gusta | TN y la Gente | TN.com.ar | Todo Noticias
description: Lo que gusta en la comunidad de TN y la Gente cuando se leen las noticias en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
#page_javascript: "TN.initfuncs.push('');"
ad: false
content_top: 'tnylagente/titulo_reacciones_gusta'
extraclass: 'tnylg'
eplanning: false
twitter_text: "Estoy viendo las notas que más les gustan a los usuarios de TN.com.ar"
certifica_path: 'TN/tnylagente/reacciones/gustan'
certifica_desc: 'TN y la Gente - Ahora/Me Gusta'
new: true
---

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me">Lorem Ipsum</a> le gusta esto: <a href="">Título de la nota</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me">Cristina Kirchner</a> le gusta esto: <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Clark Kent</a> le gusta esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Peter Parker</a> le gusta esto: <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Bruno Días</a> le gusta esto: <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>
