---
title: Últimas reacciones | TN y la Gente | TN.com.ar | Todo Noticias
description: Lo que se siente en TN y la Gente cuando se leen las noticias. Lo que importa. Lo que da igual. Lo que gusta. Lo que divierte. Lo que indigna. Todo está en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
#page_javascript: "TN.initfuncs.push('');"
ad: false
content_top: 'tnylagente/titulo_reacciones'
extraclass: 'tnylg'
eplanning: false
twitter_text: "Estoy viendo todas las últimas reacciones a las notas en TN.com.ar "
certifica_path: 'TN/tnylagente/ahora/reacciones'
certifica_desc: 'TN y la Gente - Ahora/Reacciones'
new: true
---

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me">Nelson Fernandez</a> le <a href="/tnylagente/ahora/leimporta">importa</a> esto: <a href="">Título de la nota en TN y la Gente</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/legusta">gusta</a> esto: <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/leaburre">aburre</a> esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/ledaigual">da igual</a> esto: <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>

<section class="comentarios">
  <div class="user-meta">
    <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="50" height="50" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
    <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/leindigna">indigna</a> esto: <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a></p>
    <p class="timeago">hace 6 horas</p>
  </div>
</section>
