<%

header = "tn"

if (@item[:header] != nil)
  header = @item[:header]
end

%>
<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->


  <head>
    <%= render 'layout/desktop/head' %>
  </head>

  <body id="<%= @item[:project] %>" class="<%= @item[:body_classes] %>" <%if (@item[:data_page])%>data-page="<%= @item[:data_page] %>"<%end%> >
    
    <% if ( @item[:dax] != nil) %>
			<script type="text/javascript">// <![CDATA[
			function udm_(a){var b="comScore=",c=document,d=c.cookie,e="",f="indexOf",g="substring",h="length",i=2048,j,k="&ns_",l="&",m,n,o,p,q=window,r=q.encodeURIComponent||escape;if(d[f](b)+1)for(o=0,n=d.split(";"),p=n[h];o<p;o++)m=n[o][f](b),m+1&&(e=l+unescape(n[o][g](m+b[h])));a+=k+"_t="+ +(new Date)+k+"c="+(c.characterSet||c.defaultCharset||"")+"&c8="+r(c.title)+e+"&c7="+r(c.URL)+"&c9="+r(c.referrer),a[h]>i&&a[f](l)>0&&(j=a[g](0,i-8).lastIndexOf(l),a=(a[g](0,j)+k+"cut="+r(a[g](j+1)))[g](0,i)),c.images?(m=new Image,q.ns_p||(ns_p=m),m.src=a):c.write("<","p","><",'img src="',a,'" height="1" width="1" alt=\"*\"',"><","/p",">")}
			udm_('http'+(document.location.href.charAt(4)=='s'?'s://sb':'://b')+'.scorecardresearch.com/b?c1=2&c2=6906409&ns_site=tn&name=<%= @item[:dax] %>');
			// ]]>
			</script>
			<noscript><p><img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=6906409&amp;ns_site=tn&amp;name=<%= @item[:dax] %>" height="1" width="1" alt="*"></p></noscript>      
    
    <% end %>
    
    <header id="header">
    	<%= render 'layout/desktop/header-' << header %>
		</header>
		
    <div id="container" class="wrapper">
      <div role="main" class="clearfix">
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>

		<div id="footer-bottom">
    	<%= render 'layout/desktop/footer' %>
		</div>
		
    <%= render 'layout/desktop/scripts' %>

  </body>
</html>
