        <div class="header-meta">
          <time datetime="2009-11-13T20:00-03:00">Viernes 26 de Noviembre del 2010</time>
          <ul class="follow-up clearfix">
            <li class="title">Esenciales: </li>
            <li class="link first"><a href="http://tn.com.ar/clima">Tiempo</a></li>
            <li class="link"><a href="http://tn.com.ar/transito">Tránsito</a></li>
            <li class="link"><a href="http://tn.com.ar/flip">Flip</a></li>
            <li class="link last"><a href="http://m.tn.com.ar">Móvil</a></li>
          </ul>
          <ul class="follow-up clearfix">
            <li class="title"><a href="http://tn.com.ar/usuarios/A">TN en:</a></li>
            <li class="link first"><a href="http://facebook.com/todonoticias">Facebook</a></li>
            <li class="link"><a href="http://twitter.com/todonoticias">Twitter</a></li>
            <li class="link"><a rel="publisher" href="https://plus.google.com/u/0/108528784163372196946/">Google+</a></li>
            <li class="link last"><a href="http://tn.com.ar/rss">RSS</a></li>
          </ul>
          <ul class="follow-up clearfix">
            <li class="title">Estrenos: </li>
            <li class="link first"><a href="http://tn.com.ar/trends/videos">Youtube</a></li>
            <li class="link "><a href="http://tn.com.ar/cine">Cines</a></li>
            <li class="link last"><a href="http://tn.com.ar/teatro">Teatros</a></li>
          </ul>
        </div>
