				<article class="hnews hentry item one-image">
					<hgroup class="clearfix">
						<h1><a href="#" class="url entry-title size-5" rel="bookmark">Falleció Nestor Kirchner</a></h1>
            <h2 class="alignleft">El país, conmocionado porla muerte del ex presidente Néstor Kirchner Tras sufrir una descompensación, fue hospitalizado en El Calafate. Fuentes indican que fue por Muerte súbita. Seguí el tema en <a href="">@muerekirchner</a></h2>

            <%= render 'share/share-home' %>
					</hgroup>

					<figure>
						<a href="#" class="url">
              <% if @ribbon == 'advance' %>
							  <span class="ribbon ribbon-advance"></span>
              <% elsif @ribbon == 'lastmoment' %>
							  <span class="ribbon ribbon-last-moment"></span>
              <% elsif @ribbon == 'now' %>
							  <span class="ribbon ribbon-now"></span>
              <% elsif @ribbon == 'breaking-news' %>
							  <span class="ribbon ribbon-breaking-news"></span>
              <% elsif @ribbon == 'live' %>
							  <span class="ribbon ribbon-live"></span>
              <% elsif @ribbon == 'last-moment' %>
							  <span class="ribbon ribbon-last-moment"></span>
              <% end %>

						  <img class="photo" alt="" src="<%= assets_url %>images/data/main-2.jpg" width="950" height="534" />
						  <span class="bg"></span>
						</a>
            <figcaption class="fn">
              <a title="" href="#" rel="bookmark" class="url fn entry-title">El velorio de Kirchner en la Casa Rosada se inició hoy a partir de las 10 de la mañana en el Salón de los Patriotas. AP</a>
            </figcaption>
					</figure>

					<footer>
						<time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:00</time>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>
