<!-- sidebar -->
<aside class="sidebar">        

				<%= render 'ads/sidebar', :id=>'Right1x300x250' %>

        <%= render 'sidebar-widgets/imperdibles', :title=>'Imperdibles', :mam => true, :items => 5 %>
        
        <%= render 'sidebar-widgets/imperdibles', :title=>'En otros medios', :mam => false, :items => 3 %>
        
        <%= render 'sidebar-widgets/imperdibles', :title=>'Concursos', :mam => false, :items => 2 %>
        
			  <section class="weather block">
						<h3>El Tiempo</h3>

						<div class="weather-banner">
						<h2>Buenos Aires</h2>
						<div class="item now">
						  <h3><time datetime="2011-03-11T05:00">Ahora</time></h3>

						  <div class="weather-icons">
						    <img class="weather-icon-1" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
						  </div>

						  <div class="temp">Temp <span class="nowtemp">24°</span> ST <span class="sttemp">26°</span></div>
						  <div class="forecast">Lluvias y fuertes vientos</div>

						</div>
						<div class="item today w2">
						<h3><time datetime="2011-03-11">Hoy</time></h3>

						<div class="weather-icons">
						  <img class="weather-icon-2" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
						</div>

						<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">19º</span></div>
						<div class="forecast">Cielo despejado a parcialmente nublado. Vientos moderados del sector oeste, cambiando al sector sur y disminuyendo a leves.</div>
						</div>
						<div class="item tomorrow w3">
						<h3><time datetime="2011-03-12">Mañana</time></h3>

            <div class="weather-icons">
              <img class="weather-icon-3" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
            </div>

						<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">26º</span></div>
						<div class="forecast">Parcialmente nublado con probabilidades de lluvias</div>
						</div>
						<div class="item after-tomorrow w1">
						<h3><time datetime="2011-03-12">Miércoles</time></h3>


            <div class="weather-icons">
              <img class="weather-icon-4" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
            </div>
						<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">26º</span></div>
						<div class="forecast">Parcialmente nublado con probabilidades de lluvias</div>
						</div>
						</div>
						<a href="#" class="more rounded">Ver más</a>
						</section>

        <%= render 'sidebar-widgets/opinion' %>

        <%= render 'sidebar-widgets/top-10' %>
        
        <%= render 'sidebar-widgets/fixture' %>
        
        <section id="traffic-widget" class="block ranking">
          <h3>Estado del Tránsito</h3>

          <div id="coda-nav-2">
            <ul class="sections">
              <li class="selected"><a class="xtrig" href="#trafico-subtes" rel="coda-slider-traffic">Subtes</a></li>
              <li class=""><a class="xtrig" href="#trafico-accesos" rel="coda-slider-traffic">Accesos</a></li>
              <li class=""><a class="xtrig" href="#trafico-trenes" rel="coda-slider-traffic">Trenes</a></li>

            </ul>
          </div>
          <div class="coda-slider-wrapper content ">
            <div class="coda-slider preload" id="coda-slider-traffic">

              <div class="panel first-panel subtes">
                <div class="panel-wrapper">
                    <div class="item first">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">Línea <span class="metro subtea">A</span> Demorado (45 min.) pero si esperas, llega</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">Linea <span class="metro subteb">B</span> Demorado (45 min.)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                              Línea <span class="metro subtec">C</span> Demorado (45 min.)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                          Línea <span class="metro subted">D</span> Demorado (45 min.)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte red"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                          Línea <span class="metro subtee">E</span> Demorado (45 min.)
                            </div>
                          </div>
                        </div>
                       </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                              Línea <span class="metro subteh">H</span> Demorado (45 min.)
                            </div>
                           </div>
                         </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                              Línea <span class="metro subtep">P</span> Demorado (45 min.)
                            </div>
                           </div>
                         </div>
                      </div>
                    </div>

                </div>
              </div>


              <div class="panel">
                <div class="panel-wrapper">

                    <div class="item first clearfix">
                      <span class="circle subte red"></span>
                      <div class="alignright">
	                      <div class="place">Au. 25 de Mayo hacia Liniers:</div>
	                      <div class="status">Demorado (45 min.) <br /> y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
	                      <div class="place">Panamerica hacia Capital Federal:</div>
	                      <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
	                    </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
	                      <div class="place">Au. 25 de Mayo hacia Liniers:</div>
	                      <div class="status">Demorado (45 min.)</div>
	                    </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
	                      <div class="place">Panamerica hacia Provincia:</div>
	                      <div class="status">Normal</div>
	                    </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>

                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>

                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>

                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-wrapper">

                    <div class="item first">
                      <span class="circle subte red"></span>
                      <div class="alignright">
                      <div class="place">Tren de las nubes:</div>
                      <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                      <div class="place">Panamerica hacia Capital Federal:</div>
                      <div class="status">Congestionado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                      <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                      <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                      <div class="place">Panamerica hacia Provincia:</div>
                      <div class="status">Normal</div>
                      </div>
                    </div>

                </div>
              </div>

            </div>
          </div>
          <a href="#" class="more rounded">Ver más</a>
        </section>
        
        <%= render 'ads/sidebar', :id=>'Right2x300x250' %>        

        <%= render 'sidebar-widgets/blogs' %>
        
        <%= render 'ads/shopping-icons' %>
        
        <%= render 'ads/libro-city' %>
        
				<%= render 'sidebar-widgets/rating' %>
				
				<%= render 'ads/sidebar', :id=>'Right3x300x250' %>
				
        <%= render 'sidebar-widgets/billboard' %>

				<%= render 'sidebar-widgets/qrcode', :title=>'Llevá TN con vos', :img=>'tnqrmovil.png', :img_alt=>'TN', :img_title=>'TN.com.ar' %>
				
				<%= render 'ads/sidebar', :id=>'Right4x300x250' %>				

        <!-- 
        <%= render 'sidebar-widgets/tnylagente' %>
        
        <%= render 'sidebar-widgets/twperiodistas' %>
         -->

</aside>