---
title: Resultados de la búsqueda
header: alert
billboard: no
ad: true
new: true
production: true
more: true
page_javascript: "TN.initfuncs.push('setup_cartelera')"
---
<!-- busqueda/busqueda.html -->
<section class="search-results movies-results">
  <header>
  <h2>Resultado de búsqueda</h2>
  </header>
  <%= render 'cine/search-form', :movie => true %>  

	<section class="movies">
	  <%= render 'cine/salas' %>
		<%= render 'pager' %>
	</section><!-- .news -->

</section><!-- end .search-results -->
<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
