---
title: Resultados de la búsqueda
header: alert
billboard: no
ad: true
new: true
production: true
page_javascript: "TN.initfuncs.push('setup_cartelera')"
---
<!-- busqueda/busqueda.html -->
<section class="search-results movies-results">
  <header>
  <h2>Resultado de búsqueda</h2>
  </header>
  <p class="results-data">1675 resultados</p>
  <%= render 'cine/search-form' %>  

	<section class="movies">
	  <%= render 'cine/cine-river' %>
    <a class="more rounded" href="#">Más peliculas</a>
	</section><!-- .news -->

</section><!-- end .search-results -->
<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
