---
title: Resultados de la búsqueda
header: alert
billboard: no
ad: true
new: true
production: true
page_javascript: "TN.initfuncs.push('setup_cartelera')"
---
<!-- busqueda/busqueda.html -->
<section class="search-results movies-results">
  <header>
  <h2>Resultado de búsqueda</h2>
  </header>
  <p class="results-data">No se encontraron coincidencias. Buscá nuevamente en Cartelera.</p>
  <%= render 'cine/search-form' %>  
</section>


<section class="movies-releases">
  
  <h2 class="title">Las últimas películas</h2>

  <section id="releases" class="carousel">
    <header>
      <h3>Estrenos de la semana</h3>20 al 27 de Febrero
    </header>
  
    <div class="content-wrapper">
      <div class="arrows next hidden"><span></span></div>
      <div class="arrows prev disabled hidden"><span></span></div>    
      <div class="content">
        <ul class="clearfix">
         <% for i in 1..6 do%>
         <li>
            <article class="hnews hentry item has-picture">
              <figure class="hmedia">
                <a href="#" class="url">
                  <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/news.jpg" width="150" height="84" />
                </a>
                <figcaption class="fn hidden">Lorem Ipsum dolor sit</figcaption>
              </figure>
              <div class="content">
                <h2><a href="#" class="url entry-title" rel="bookmark">We need a title to style</a></h2>
                <div class="entry-content">
                  <p><% if (i == 2) %>aaEtiam sit amet orci eget eros faucibus tincidunt. Duis leo. aaEtiam sit amet orci eget eros faucibus tincidunt. Duis leo.<% end %>Sed fringilla Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla</p>
                </div>
              </div>  
              <footer>
                <div class="author vcard">Autor de la nota</div>
                <div class="source-org vcard">Todo Noticias</div>
                <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:00</time>            
              </footer>
            </article>
           </li>       
         <% end %>
        </ul>
      </div>
    </div>
    
    <footer>
     <%= render 'share/share', :share => 'cine' %>
    </footer>
  </section>

  <%= render 'cine/related' %>
  
</section>


<script type="text/javascript" charset="utf-8">
  TN.twit_search = 'www.tn.com.ar';
</script>
