---
title: Temas y tags de TN y la Gente | TN y la Gente | TN.com.ar | Todo Noticias
description: Los temas que interesan a los usuarios de TN.com.ar están en TN y la Gente. Participá de la comunidad de Todo Noticias en el sitio del canal de noticias más visto de Argentina.
pager: true
more: true
eplanning: tag
---
<%

tags = Array.new

tags << 'devoción'
tags << '“Rabiosa”'
tags << '“Loca”'
tags << 'hospital General de Las Heras'
tags << 'tupungato'
tags << 'ex diputada'
tags << 'lucas barrios a china'
tags << 'Guangzhoy Evergrande'
tags << 'debuta teo gutierrez'
tags << 'los octavos de final de la copa libertadores'
tags << 'goleadores de españa'
tags << 'trofeo pichichi'
tags << 'AICA'
tags << 'Rock Race Bike Lititz'
tags << 'comisaría 12'
tags << 'panadería robada 16 veces'
tags << 'vomisión Especial'
tags << 'Candela sol Rodriguez'
tags << 'momia Ötzi'
tags << 'Espectroscopia Raman'
tags << 'Gustavo Grobocopatel'
tags << 'Albert Zink'
tags << 'Ötzi'
tags << 'Rubén Etcheverry'
tags << 'Mario Rodríguez'
tags << 'Sofía Gatica'
tags << 'Lawrence Schiller'
tags << 'Martín Bauer'
tags << 'Alfredo Cornejo'

%>


<!-- tags/tags.html -->

		<header class="tag-title">
			<h2>Tags</h2>
		</header>
		<div class="clearfix">
			<ul class="tag-content">
			  <% tags.each do |tag| %>
			    <li>
	          <h2><a href="#" title="<%= tag %>"><%= tag %></a></h2>
	        </li>
			  <% end %>
			</ul>
	    <ul class="tag-content">
	      <% tags.each do |tag| %>
	        <li>
	          <h2><a href="#" title="<%= tag %>"><%= tag %></a></h2>
	        </li>
	      <% end %>
	    </ul>		
    </div>