---
title: UBICACIÓN en TN y la Gente   | TN y la Gente | TN.com.ar | Todo Noticias
description: Las últimas notas, fotos y videos de UBICACIÓN publicadas por los usuarios de TN y la Gente están en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
pager: true
more: true
twitter_text: "Estoy leyendo todo sobre [UBICACIÓN] en TN y la Gente"
eplanning: tag
---
<!-- tags/tags.html -->

		<header class="flow">
      <ul class="subscribe">
        <li class="title">Suscribite</li>
        <li class="link first"><a class="rss" href="#">RSS</a></li>
      </ul>
			<h2>Neuquén</h2>
      <p class="trendlink"><a href="http://tn.com.ar/trends/Michael Hamintong Taylor">Neuquén en TN Trends</a></p>
			<%= render 'share/share', :share => 'section', :trends => false, :color => '186487' %>
		</header>
