<%

videos =  Array.new

videos << {:title =>'Egipto al rojo vivo', :author => 'María Laura Marcos', :url => 'http://www.tnylagente.com.ar/e/IrfXoNpPT0gl&fs=1' }
videos << {:title =>'Parando un vagón con las manos', :author => 'Matías Pedernera', :url => 'http://www.tnylagente.com.ar/e/HhbE6Zi8PBkd&fs=1' }
videos << {:title =>'Granizo en la Ruta 65', :author => 'Leonardo', :url => 'http://www.tnylagente.com.ar/e/D1Oq5NpxdrKu&fs=1' }
videos << {:title =>'Viajando por el techo', :author => 'Pablo', :url => 'http://www.tnylagente.com.ar/e/kKW0ZDi8jX5i&fs=1' }
videos << {:title =>'Crecida del Río Quines', :author => 'Nelson Flores', :url => 'http://www.tnylagente.com.ar/e/xF77cuLq5zl3&fs=1' }
videos << {:title =>'Réplica del tsunami desde el mar', :author => 'Juan José Benitez', :url => 'http://www.tnylagente.com.ar/e/MYOZJ41weTHK&fs=1' }
videos << {:title =>'Rescate en el río', :author => 'Nati Erbes', :url => 'http://www.tnylagente.com.ar/e/UTAQQTVyVzIr&fs=1' }
videos << {:title =>'Bengala Mortal', :author => 'Federico Schiantarelli', :url => 'http://www.tnylagente.com.ar/e/SElGkLhkeAgW&fs=1' }
videos << {:title =>'Olas de cenizas', :author => 'Gustavo', :url => 'http://www.tnylagente.com.ar/e/jOWt7KPEYVWw&fs=1' }
videos << {:title =>'Incendio del tren Sarmiento', :author => 'Pablo Morales Peña', :url => 'http://www.tnylagente.com.ar/e/qBgKx1PkjmHQ&fs=1' }

%>
					<section class="title">
					    <hgroup class="clearfix">
					      <h1><a class="size-7" href="#">Premios Mario Mazzone al Periodismo Ciudadano 2011</a></h1>
					      <h2><p>Por cuarto año llegó el momento de premiar los videos que ustedes suben a TN y la Gente: llegó el Premio Mario Mazzone al Periodismo Ciudadano 2011.</p></h2>
					      <h3>Estos son 10 videos seleccionados entre los más vistos, los más votados y los que más repercusión tuvieron. Ahora es el momento de elegir. Entre los cinco más votados, un jurado de periodistas de TN premiará al mejor. Hay tiempo de votar hasta el 4 de diciembre. En la noche del 12 de diciembre, en una ceremonia, se dará a conocer al ganador.</h3>
					    </hgroup>
				  </section>
				  
				  <section class="videos clearfix">

						<% videos.each_with_index do |video, index| %>
						<article class="<%= index % 2 == 0 ? "even"  : "odd" %>">
								<object width="450" height="390">
									<param name="movie" value="<%= video[:url] %>"></param>
									<param name="allowFullScreen" value="true"></param>
									<embed allowFullScreen="true" Wmode="transparent" src="<%= video[:url] %>" type="application/x-shockwave-flash" width="450" height="390"></embed>
								</object>
								<header>
									<hgroup class="clearfix">
										<h1><%= video[:title] %></h1>
										<h2>por: <%= video[:author] %></h2>
									</hgroup>
								</header>
								<button class="submit rounded more" href="#" data-vid="1234">Votame!</button>
								<% n = 1 + rand(100) %>
								<div class="vote">Votos: <%= n %>%</div>
						</article>
						<% end %>
						
				  </section>         