<script>
	$LAB.script('js/libs/jquery-164.js').wait()
	    .script('js/plugins/jquery.tooltip.min.js')
	    .script('js/plugins/jquery-overlay-min.js')
	    .script('js/plugins/jquery-cookie.js')
	    .wait(function() { 
	    	$(document).ready(function() {
	    	    $('.hd').tooltip({tipClass: 'tooltip-hd',offset: [-5,10],effect:'fade',position: 'center right'});
	    	    $('body').append('<div id="dialog" style="display:none">¡Gracias por participar en la votación!</div>');
	    	    $('#dialog').overlay({left: 'center', top: 'center', mask: {color: '#000', opacity: 0.8}});

	    	    $('.submit').click(function(e) {
	    	        e.stopPropagation();
	    	        
	    	        if ( $.cookie('mazzone_voto') != null ) {
	    	          $('#dialog').html('Sólo se permite un voto por persona');
	    	          $('#dialog').data('overlay').load();
	    	          return false;
	    	        }
	    	        
	    	        $.ajax({
	    	          url: 'poll/68631/vote',
	    	          type: 'POST',
	    	          data: {'choice': $(this).data('vid') },
	    	          complete: function( data ) {
	    	            $.cookie('mazzone_voto','voto', {expires: 7, path: '/'});
	    	            $('#dialog').data('overlay').load();
	    	          }
	    	        });
	    	        
	    	        return false;
	    	     });
	    	    
	    	 });    	
	    });
	
    if (head.browser.ie)  {
        if (parseInt(head.browser.version) <= 6)   {
          $LAB.script('js/libs/dd_belatedpng.js')
          .wait(function(){
        	  DD_belatedPNG.fix('.hd, #tnlogo');
          })
        }
     }
</script>