<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->


  <head>
    <%= render 'bbstream/head' %>

  </head>

  <body id="<%= @item[:project] %>" class="<%= @item[:body_classes] %>" <%if (@item[:data_page])%>data-page="<%= @item[:data_page] %>"<%end%> >
    <header id="header">
      <%= render 'layout/desktop/header-tnm', :back => @item[:back] %>
    </header>

    <div id="container" class="wrapper">
      <div role="main" class="clearfix">
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer-bottom">
      <%= render 'layout/desktop/footer' %>
    </div>
    
    <div id="fb-root"></div>

    <%= render 'layout/desktop/scripts' %>

  </body>
</html>
