---
title: Rating
ad: true
---
<!-- rating/lunes.html -->

<section id="rating">
  <header>
    <h1>Rating</h1>
    <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">Lunes 11 de Marzo del 2011 <span>| 20:00</span></time>

    <%= render 'share/share-nota' %>
  </header>
  
  
  <table id="rating-table">
    <thead>
      <tr>
        <th class="time">Hora</th>
        <th class="america">América 2</th>
        <th class="c-7">Canal 7</th>
        <th class="c-9">Canal 9</th>
        <th class="telefe">Telefe</th>
        <th class="trece">El trece</th>
      </tr>
    </thead>
    <tbody>
      <tr class="first">
        <td class="time">06:00</td>
        <td class="america" rowspan="16"></td>
        <td class="c-7" rowspan="2">Especiales de deportes</td>
        <td class="c-9">El chavo<div class="rating">2.3</div></td>
        <td class="telefe" rowspan="7"></td>
        <td class="trece" rowspan="2">El auto fantastico</td>
      </tr>
      
      <tr>
        <td class="time">06:20</td>
        <td class="c-9" rowspan="2">Palabras de vida<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">06:30</td>
        <td class="c-7" rowspan="3">El tiempo<div class="rating">2.3</div></td>
        <td class="trece" rowspan="2">Agro Síntesis</td>
      </tr>

      <tr>
        <td class="time">06:50</td>
        <td class="c-9" rowspan="3">Paka Paka<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">06:57</td>
        <td class="trece" rowspan="5">Arriba argentinos</td>
      </tr>
      
      <tr>
        <td class="time">06:59</td>
        <td class="c-7" rowspan="3">Visión 7 Mañana<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">08:20</td>
        <td class="c-9" rowspan="6">Telenueve al amanecer<div class="rating">2.3</div></td>
      </tr>

      <tr>
        <td class="time">09:05</td>
        <td class="telefe" rowspan="3">Chiquititas (rep)</td>
      </tr>
      
      <tr>
        <td class="time">09:29</td>
        <td class="c-7" rowspan="4">Con sentido público<div class="rating">2.3</div></td>
      </tr> 
      
      <tr>
        <td class="time">09:36</td>
        <td class="trece" rowspan="2">Panam corazón</td>
      </tr>
      
      <tr>
        <td class="time">09:58</td>
        <td class="telefe" rowspan="11">Am, antes del mediodía</td>
      </tr>

      <tr>
        <td class="time">10:22</td>
        <td class="trece" rowspan="3">Piñon fijo (rep)</td>
      </tr>
      
      <tr>
        <td class="time">10:30</td>
        <td class="c-7" rowspan="5">Médicos por naturaleza<div class="rating">2.3</div></td>
        <td class="c-9">La cocina del 9<div class="rating">2.3</div></td>        
      </tr> 
      
      <tr>
        <td class="time">11:01</td>
        <td class="c-9" rowspan="5">Perro amor<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">11:13</td>
        <td class="trece">La mañana en el trece</td>
      </tr>

      <tr>
        <td class="time">11:24</td>
        <td class="trece" rowspan="4">Las aventuras de Hijitus</td>
      </tr>
      
      <tr>
        <td class="time">11:28</td>
        <td class="america" rowspan="6">America Noticias (1°)</td>
      </tr> 
      
      <tr>
        <td class="time">11:29</td>
        <td class="c-7" rowspan="3">Cocineros Argentinos<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">12:00</td>
        <td class="c-9" rowspan="5">Telenueve (1ª)<div class="rating">2.3</div></td>        
      </tr>

      <tr>
        <td class="time">12:07</td>
        <td class="trece" rowspan="2">El zorro</td>
      </tr>
      
      <tr>
        <td class="time">12:59</td>
        <td class="c-7" rowspan="4">Visión 7 Mediodía<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">13:00</td>
        <td class="telefe" rowspan="3">Telefe noticias (1ª)</td>
        <td class="trece" rowspan="5">Noticieron Trece</td>
      </tr>
      
      <tr>
        <td class="time">13:01</td>
        <td class="america" rowspan="7">Intrusos</td>
      </tr>

      <tr>
        <td class="time">13:30</td>
        <td class="c-9" rowspan="2">Gata salvaje<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">14:00</td>
        <td class="c-7" rowspan="3">Amar en tiempos revueltos<div class="rating">2.3</div></td>
        <td class="telefe" rowspan="7">Zapping diario</td>
      </tr>
      
      <tr>
        <td class="time">14:26</td>
        <td class="c-9" rowspan="3">Teresa<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">14:29</td>
        <td class="trece" rowspan="10">Este es el show</td>
      </tr>

      <tr>
        <td class="time">15:04</td>
        <td class="c-7" rowspan="3">Ciega a citas (rep)<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">15:28</td>
        <td class="c-9" rowspan="5">Cuando me enamoro<div class="rating">2.3</div></td>        
      </tr> 
      
      <tr>
        <td class="time">15:30</td>
        <td class="america" rowspan="5">Los unos y los otros</td>
      </tr>
      
      <tr>
        <td class="time">15:58</td>
        <td class="c-7" rowspan="5">Caja rodante<div class="rating">2.3</div></td>
      </tr>

      <tr>
        <td class="time">15:59</td>
        <td class="telefe">PM, pasado el mediodía</td>
      </tr>
      
      <tr>
        <td class="time">16:59</td>
        <td class="telefe" rowspan="7">Gran Hermano 2011 (Diario tarde)</td>
      </tr> 
      
      <tr>
        <td class="time">17:00</td>
        <td class="c-9" rowspan="5">Viviana<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">17:01</td>
        <td class="america" rowspan="4">Infama</td>
      </tr>

      <tr>
        <td class="time">18:00</td>
        <td class="c-7" rowspan="2">Encuentro<div class="rating">2.3</div></td>        
      </tr>
      
      <tr>
        <td class="time">18:16</td>
        <td class="trece" rowspan="5">Cuestión de peso</td>
      </tr> 
      
      <tr>
        <td class="time">18:57</td>
        <td class="c-7" rowspan="5">Elsegante Sport<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">19:00</td>
        <td class="america" rowspan="2">América noticias (2ª)</td>
        <td class="c-9" rowspan="5">Telenueve (2ª)<div class="rating">2.3</div></td>        
      </tr>

      <tr>
        <td class="time">19:10</td>
        <td class="telefe" rowspan="3">Los Simpson</td>
      </tr>
      
      <tr>
        <td class="time">19:59</td>
        <td class="america" rowspan="6">RSM</td>
      </tr>
      
      <tr>
        <td class="time">20:00</td>
        <td class="trece" rowspan="6">Telenoche</td>
      </tr>

      <tr>
        <td class="time">20:01</td>
        <td class="c-7" rowspan="3">Visión 7 Central<div class="rating">2.3</div></td>        
        <td class="telefe" rowspan="2">Telefe noticias (2ª)</td>
      </tr>
      
      <tr>
        <td class="time">20:31</td>
        <td class="c-9" rowspan="5">Bendita Tv<div class="rating">2.3</div></td>        
      </tr> 
      
      <tr>
        <td class="time">21:02</td>
        <td class="telefe" rowspan="5">Gran Hermano 2011 (Intimo)</td>
      </tr>
      
      <tr>
        <td class="time">21:04</td>
        <td class="c-7" rowspan="6">Seis en el Siete a las 8:00<div class="rating">2.3</div></td>
      </tr>

      <tr>
        <td class="time">21:30</td>
        <td class="america" rowspan="4">Un mundo perfecto</td>
      </tr>
      
      <tr>
        <td class="time">22:00</td>
        <td class="trece" rowspan="5">Los únicos</td>
      </tr> 
      
      <tr>
        <td class="time">22:01</td>
        <td class="c-9" rowspan="8">Duro de domar<div class="rating">2.3</div></td>
      </tr>
      
      <tr>
        <td class="time">22:13</td>
        <td class="telefe" rowspan="4">Un año para recordar</td>
      </tr>

      <tr>
        <td class="time">22:31</td>
        <td class="america" rowspan="5">Documentos América (rep)</td>
      </tr>
      
      <tr>
        <td class="time">22:34</td>
        <td class="c-7" rowspan="3">Contra las cuerdas<div class="rating">2.3</div></td>
      </tr> 
      
      <tr>
        <td class="time">23:10</td>
        <td class="trece" rowspan="7">Herederos de una venganza</td>
      </tr>
      
      <tr>
        <td class="time">23:12</td>
        <td class="telefe" rowspan="7">El elegido</td>
      </tr>

      <tr>
        <td class="time">23:29</td>
        <td class="c-7" rowspan="4">Visión 7 Medianoche<div class="rating">2.3</div></td>        
      </tr>
      
      <tr>
        <td class="time">23:30</td>
        <td class="america" rowspan="7">Animales sueltos</td>
      </tr>
      
      <tr>
        <td class="time">23:32</td>
        <td class="c-9">Acuarela del amor<div class="rating">2.3</div></td>        
      </tr>
      
      <tr>
        <td class="time">00:00</td>
        <td class="c-9" rowspan="5">Telenueve (3ª)<div class="rating">2.3</div></td>
      </tr>

      <tr>
        <td class="time">00:07</td>
        <td class="c-7" rowspan="4">Filmoteca<div class="rating">2.3</div></td>        
      </tr>
      
      <tr>
        <td class="time">00:14</td>
        <td class="trece" rowspan="3">En síntesis</td>
      </tr>
      
      <tr>
        <td class="time">00:19</td>
        <td class="telefe">Gran Hermano 2011</td>
      </tr>
      
      <tr>
        <td class="time">00:50</td>
        <td class="telefe">Diario de medianoche</td>
      </tr>

    </tbody>
  </table>
  <table id="rating-result">
      <tr class="day">
        <th class="time">Hora</th>
        <th class="america">América 2</th>
        <th class="c-7">Canal 7</th>
        <th class="c-9">Canal 9</th>
        <th class="telefe">Telefe</th>
        <th class="trece">El trece</th>
      </tr>

      <tr class="">
        <td class="time">12-16</td>
        <td class="america"></td>
        <td class="c-7">Especiales de deportes</td>
        <td class="c-9">El chavo<div class="rating">2.3</div></td>
        <td class="telefe"></td>
        <td class="trece">El auto fantastico</td>
      </tr>
    </tbody>        
  </table>

</section>