<!-- header -->
		<div id="header">
			<div class="wrapper">
			  
			  <a class="back">&laquo;Volver</a>
        
        <div class="logo">
          <a id="tntodapasion" href="http://www.tn.com.ar/deportes">Toda pasion</a>
        </div>

        <%= render 'share/share-fixture' %>
			</div>
		</div>
<!-- end header -->
