.ie #footer-top #block-tp figcaption a{background:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#B267AB00',EndColorStr='#B267AB00')}
.ie #footer-top #block-musica figcaption a{background:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#B21E66F5',EndColorStr='#B21E66F5')}
.ie #footer-top #block-nyt figcaption a{background:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#B2C70000',EndColorStr='#B2C70000')}
.ie #footer-top #block-free figcaption a{background:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#B2060606',EndColorStr='#B2060606')}
.ie6 .carousel .arrows{background:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);zoom:1}.ie #movistar-ad{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#B4CFE2',GradientType=0)}
.overlay .report-submit{background:#bd0102;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BD0102',endColorstr='#AF0000',GradientType=0)}
.overlay .report-submit:hover{background:#af0000;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AF0000',endColorstr='#BD0102',GradientType=0)}
.rounded,.ie8 .rounded .c,.ie7 .rounded .c,.ie6 .rounded .c{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#EFEFEF',GradientType=0)}
.rounded:hover,.ie8 .rounded:hover .c,.ie7 .rounded:hover .c{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF',endColorstr='#FFFFFF',GradientType=0)}
.ie6 article .entry-content{margin-top:5px}.ie6 article .views span{line-height:8px;font-size:8px}.ie6 article .num-comments span{line-height:9px;font-size:9px}.ie8 .alert .urgente,.ie7 .alert .urgente{background-position:-513px -260px}
.ie6 .alert .urgente{background-position:-513px -260px}.ie6 #header-ticket .wrapper{background-image:none}.ie7 .logged-in #header .login-box,.ie6 .logged-in #header .login-box{width:210px}.ie7 .logged-in #header .login-box .content,.ie6 .logged-in #header .login-box .content{width:140px;text-align:right}
.ie6 .not-logged-in .login-box .login-conect a{width:23px}.ie6 #content-top .one-image hgroup h2{width:778px}.ie6 .news figure .play-photo,.ie6 .about-city .media-content figure a.play-photo{background-position:-194px -689px}
.ie #footer .grid .block figure{border:0}.ie6 #footer figure figcaption{bottom:2px;border-bottom:solid 1px black}.ie6 #footer #block-free figure figcaption{bottom:-2px}.ie6 #footer-top article{border:0}
.ie8 #footer-top .block-logo{-ms-filter:"alpha(opacity=70)"!important}.ie8 #footer-top .block-logo:hover{-ms-filter:"alpha(opacity=100)"!important}.ie7 #footer-top .block-logo,.ie6 #footer-top .block-logo{filter:alpha(opacity=70)!important}
.ie7 #footer-top .block-logo:hover,.ie6 #footer-top .block-logo:hover{filter:alpha(opacity=100)!important}.ie7 .page-comment .comments form textarea,.ie6 .page-comment .comments form textarea{margin-left:-62px}
.ie6 .comments article,.ie7 .comments article{background:#f2f2f2;zoom:1}.ie6 figure figcaption{bottom:3px}.ie6 #new figure figcaption{bottom:2px}.ie7 #opinion .content{width:126px!important}.ie8 .comments form ul li input,.ie7 .comments form ul li input,.ie6 .comments form ul li input{margin-top:-5px}
.ie6 .comments form ul li input{margin-top:0}.ie6 .page-comment .comments form ul{position:relative;top:5px}.ie7 .comments form ul li input{position:relative;top:2px}.ie8 .comments form ul li label{height:14px;line-height:21px;vertical-align:top}
.ie7 .comments form ul li label{line-height:20px}.ie7 .comments form ul li,.ie6 .comments form ul li{position:relative;top:-3px}.ie7 article .poll,.ie6 article .poll{margin-top:20px}.ie6 article .poll li{width:168px}
.ie6 .review-note ul li{margin:0 4px}.ie6 article{zoom:1}.ie6 .ranking .content span.tail{display:none;visibility:hidden}.ie6 .comments header{background:white;height:37px}.ie6 .ranking .content li{height:37px}
.ie7 .ranking .content li .text{display:block!important;height:auto;min-height:37px!important}.ie7 .ranking .content li h2{height:auto;display:block;padding:0;margin:0}.ie7 .ranking .content li .balloon{top:45%}
.ie6 .twitter_module .twtr-widget .twtr-tweet-text,.ie6 .twitter_module .twtr-widget .twtr-tweet-text p{width:464px!important;zoom:1}.ie6 .transito-twitter .twitter_module .twtr-tweet-text,.ie6 .transito-twitter .twitter_module .twtr-tweet-text p{width:814px!important;zoom:1}
.ie6 #twperiodistas .twtr-widget .twtr-tweet-text,.ie6 #twperiodistas .twtr-widget .twtr-tweet-text p{width:188px!important;zoom:1}.ie6 #movistar-ad h3,.ie7 #movistar-ad h3{zoom:1;display:inline}.ie7 .traffic-maps ul.share{width:226px}
.ie6 .ranking .content,.ie6 .review-note ul,.ie6 .poll-widget .content{background:transparent url(<%= base_url %>images/ranking.gif) repeat 0 0}.ie7 #opinion .more{margin-top:10px}.ie7 #blogs .more{margin-top:0}
.ie7 .node-type-nota .related .more,.ie7 .movies-releases .related .more{margin-top:15px}.ie7 form.search input.submit,.ie6 form.search input.submit{font-size:0;padding:0 0 0 26px}.ie7 .movies-releases form.search input.submit,.ie6 .movies-releases form.search input.submit{font-size:13px}
.ie7 .movies-releases form select,.ie7 .movies-results form select{height:auto;margin-bottom:0}.ie7 .movies-releases form .more,.ie7 .movies-results form .more{margin-top:10px}.ie6 form.search input{height:18px}
.ie6 .grid #toggle-grid{height:24px;line-height:24px;display:block}.ie6 span.featured{height:300%}.ie7 #traffic-widget .content .item,.ie6 #traffic-widget .content .item{width:283px}.ie7 #traffic-widget .alignright{width:230px}
.ie7 #traffic-widget .alignright .inner{width:230px}.ie6 #traffic-widget .alignright{width:215px}.ie7 #programs .pager{margin-top:15px}.ie6 #header nav{background:url(<%= base_url %>images/nav-bg.png) repeat-x left top}
.ie8 .sidebar #fixture .more,.ie7 .sidebar #fixture .more,.ie6 .sidebar #fixture .more{margin-top:10px}.ie7 #traffic-widget .metro{padding:0 3px;border:solid 1px white;border-left:none;border-right:0;zoom:1}
.ie8 .sidebar .rating .content{padding-top:10px;padding-bottom:10px}.ie8 .sidebar .rating .content td.channel,.ie7 .sidebar .rating .content td.channel,.ie6 .sidebar .rating .content td.channel{height:45px}
.ie7 .general-menu a{margin-top:6px}.ie7 .page-comment #content-top{margin-top:0}.ie7 #voto-spinner{bottom:12px}.ie7 #tooltip-facebook,.ie6 #tooltip-facebook{left:-132px!important}.ie7 #tooltip-twitter,.ie6 #tooltip-twitter{left:-16px!important}
.ie7 .middle,.ie6 .middle{top:50%;position:absolute}.ie7 .inner,.ie6 .inner{position:relative;top:-50%;display:block!important;height:auto!important}.ie8 .comunity form.config-basic tr.avatar .content .delete-avatar input{position:relative;top:3px}
.ie7 .comunity form.config-basic tr.avatar .content .delete-avatar input{position:relative;top:-1px}.ie8 .comunity form fieldset.content tr.radio th,.ie8 .comunity form fieldset.content tr.avatar th,.ie8 .recaptcha-error label,.ie7 .recaptcha-error label{padding-right:20px!important}
.ie8 .comunity form tr.radio,.ie9 .comunity form tr.radio{height:44px}.ie8 .comunity form tr.radio label,.ie9 .comunity form tr.radio label{height:14px;line-height:14px;margin-top:-10px}.ie8 .comunity form tr.radio input,.ie9 .comunity form tr.radio input{position:relative;top:10px}
.ie7 .comunity form tr.radio,.ie6 .comunity form tr.radio{height:34px}.ie7 .comunity form tr.radio label,.ie6 .comunity form tr.radio label{height:14px;line-height:14px;margin-top:-5px}.ie7 .comunity form tr.radio input,.ie6 .comunity form tr.radio input{position:relative;top:7px}
.ie .comunity form.config-basic fieldset.submit{padding-left:227px}.ie7 input.more{padding:0!important;line-height:15px!important}.ie .comunity form.forgot-pass fieldset.submit,.ie .comunity form.login fieldset.submit,.ie .comunity form.register fieldset.submit{padding-right:70px}
.ie #recaptcha_widget{right:-10px}.ie6 #recaptcha_widget .cantReadBox{right:-30px}.ie7 #recaptcha_widget .cantReadBox li,.ie6 #recaptcha_widget .cantReadBox li{margin-top:-2px}.ie7 #recaptcha_widget .cantReadBox li.first,.ie6 #recaptcha_widget .cantReadBox li.first{margin-top:0}
.ie7 .recaptcha-error,.ie6 .recaptcha-error{height:33px;width:455px}.ie6 #recaptcha_response_field{margin-left:5px}.ie9 #recaptcha_response_field{margin-left:10px}.ie6 input.file,.ie7 input.file{filter:alpha(opacity:0)}
.ie8 input.file{-ms-filter:"alpha(opacity=0)"}.ie8 form .fileinput .fakefile{height:22px;line-height:22px}.ie7 form .fileinput .fakefile{height:21px;line-height:21px;left:auto;right:0;width:215px!important}
.ie6 form .fileinput .fakefile{height:23px;line-height:23px}.ie8 input.file,.ie9 input.file{width:220px!important;border-right:160px solid #000;float:right}.ie7 input.file{width:50px;margin-left:-180px;border-right:180px solid #000}
.ie6 input.file{width:50px;margin-left:-150px;border-right:150px solid #000}.ie6 .sidebar .weather-banner .item{height:165px}.ie6 .poll-widget .content .check{background:url(../images/ie6-table-bg.gif) center top repeat-y}
.ie6 .poll-widget .content span.checked{background-position:-334px -470px}.ie6 .iconosur{height:20px}.ie7 .comments a.reportar{margin-left:5px}.ie6 .comments a.reportar{margin-left:7px}.ie6 .share-nota{padding-bottom:0}
.ie6 .comments article{padding-bottom:5px}.ie6 .comunity form fieldset.content th label{position:relative;top:-9px}.ie6 .comunity form fieldset.content{padding-left:70px;padding-right:70px}.ie7 .terms ol li,.ie6 .terms ol li{margin-left:15px}