.wrapper {
    width: 310px;
}
.sections {
    background: none repeat scroll 0 0 #F2F2F2;
    font-size: 14px;
    padding: 0 2px;
}
.sections, .sections li {
    height: 46px;
    line-height: 46px;;
}
.sections li {
    float: left;
    text-align: center;
    margin: 0 5px
}
.sections li.selected {
    background: none repeat scroll 0 0 transparent;
}
.sections .selected a {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background: none repeat scroll 0 0 #E0E0E0;
    border-color: #CCCCCC #CCCCCC #EAEAEA;
    border-style: solid;
    border-width: 1px;
    color: #000000;

    outline: none;
}
.sections li.selected a {
    outline: none;
}
.sections li.selected a:hover {
    color: #000000;
}
.sections a {
    border: 1px solid #F2F2F2;
    color: #000000;
    padding: 5px;
}
.sections a:hover {
    color: #0056C3;
    text-decoration: none;
}
.coda-slider-wrapper {
    margin-top: 10px;
}

#fixture {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAL0lEQVQYV2NkIBIwEqmOgU4Kr1y58l9HRwfFNgyrQYpg7kZWjNWNRJmIKxSo72sAnn0MC45UEvgAAAAASUVORK5CYII=) repeat;
}

#fixture .wrapper {
  background-color: #fff;
}

#fixture .panel h2 {
    background: none repeat scroll 0 0 #000000;
    color: white;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
#fixture .panel .content,
#fixture .contenedor_resultados {
    border: solid 1px #D9D9D9;
    border-top:none;
    /*border-bottom:none;*/
    padding: 10px 10px 0 10px;
}

#fixture .content table {
    font-size: 13px;
    /*margin: 0 10px 15px;*/
    width: 288px;
    margin-bottom: 15px;
}
#fixture .content table.last {
    margin-bottom: 0;
}
#fixture .content table.last tr.last td {
    border: medium none;
}
#fixture table .team {
    width: 105px;
}
#fixture table .team a{
	color:black;
}
#fixture table tr td {
    border-bottom: 1px solid #D9D9D9;
    height: 20px;
    vertical-align: middle;
}
#fixture table .team-a {
    text-align: right;
}
#fixture table .team-b {
    text-align: left;
}
#fixture table .team .resultado {
    color: #0062DE;
    font-weight: bold;
    text-align: center;
    width: 10px;
    float:none !important;
}
#fixture table .team-a .resultado {
    margin-left: 5px;
}
#fixture table .team-b .resultado {
    margin-right: 5px;
}
#fixture table .pipe {
    color: #D9D9D9;
    text-align: center;
    width: 8px;
}
#fixture table .time {
    color: #A2A2A2;
    width: 50px;
}
#fixture table .time .vivo {
    background: none repeat scroll 0 0 red;
    color: white;
    padding: 0 5px;
    text-transform: capitalize;
}
#fixture table .time .final {
    color: black;
    padding: 0 5px;
    text-transform: capitalize;
}
#fixture table .detalle {
	width: 20px;
	text-align: center;
}
#fixture table .detalle a{
	background: none repeat scroll 0 0 #f2f2f2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: black;
    display: block;
    height: 15px;
    line-height: 12px;
    margin: auto;
    text-decoration: none;
    width: 15px;	
}
#fixture table tr th {
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
    text-align: left;
}
#fixture ul.links {
    border: 1px solid #D9D9D9;
    height: 13px;
    padding: 12px 10px;
    display: none;
}

#fixture ul.links li {
    float: left;
    height: 13px;
    width: 72px;
}

.ie6 #fixture ul.links li {
    width: 70px;
}

#fixture ul.links li a {
    border-left: 1px solid #D9D9D9;
    color: #0053C3;
    float: left;
    font-size: 11px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    width: 100%;
}
#fixture ul.links li.first a {
    border: medium none;
}
#mam .wrapper {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFklEQVQImWMwNzf/z8DAgI4xBCgVBAA5HBmN96Tv3QAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
    height: 129px;
    position: relative;
    width: 230px;
}

.ie6 #mam .wrapper {
  background: url(../images/fixture-bg.png) repeat;
}

#mam header {
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

    background: none repeat scroll 0 0 #262626;
    border-color: #000000 #000000 #383838;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: 11px;
    height: 19px;
    line-height: 19px;
    margin: 0 auto;
    text-align: center;
    width: 64px;
}
#mam footer {
    background: none repeat scroll 0 0 #262626;
    border-top: 1px solid #323232;
    bottom: 0;
    height: 22px;
    left: 0;
    line-height: 22px;
    position: absolute;
    text-align: right;
    width: 100%;
}
#mam footer a {
    color: white;
    float: right;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
}
#mam .team {
    height: 60px;
    margin-top: 12px;
    position: relative;
    width: 108px;
}
#mam .team-a {
    float: left;
    margin-right: 7px;
}
#mam .team-a .result {
    float: right;
}
#mam .team-a .flag {
    position: absolute;
    right: 52px;
}
#mam .team-b {
    float: right;
}
#mam .team-b .result {
    float: left;
}
#mam .team-b .flag {
    left: 52px;
    position: absolute;
}
#mam .team .result {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    background: none repeat scroll 0 0 #262626;
    border: 2px solid #353535;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}
#mam .team .win {
    background: none repeat scroll 0 0 #C40002;
    border-color: #C40002;
}
#mam .flag {
    height: 21px;
    top: 10px;
    width: 30px;
}
#mam h2 {
    bottom: 0;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: right;
    width: 100%;
}
#mam .team-a h2 {
    text-align: right;
}
#mam .team-b h2 {
    text-align: left;
}
.contenedor_resultados p {
  display: none;
  visibility: hidden;
}

