---
title: Seccion
section: true
ad: true
production: true
eplanning: politica
---
<!-- seccion/flujo-seccion.html -->

		<header class="flow">
      <ul class="subscribe">
        <li class="title">Suscribite</li>
        <li class="link first"><a class="rss" href="#">RSS</a></li>
      </ul>
			<h2>Michael Hamintong Taylor</h2>
      <p class="trendlink"><a href="http://tn.com.ar/trends/Michael Hamintong Taylor">Michael Hamintong Taylor en TN Trends</a></p>
			<%= render 'share/share', :share => 'section' %>
		</header>
