<!-- carouseltn -->
<section id="carousel" class="wrapper carousel">
  <div class="arrows next"><span></span></div>
  <div class="arrows prev disabled"><span></span></div>
  <div class="content">
    
    <ul>
      <li>
	        <figure class="hmedia">
	          <a href="#" class="url">
	            <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-1.jpg" width="150" height="84" />
	          </a>
            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>	          
	        </figure>
      </li>
      
      <li>
	        <figure class="hmedia">
	          <a href="#" class="url">
	            <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-2.jpg" width="150" height="84" />
	          </a>
            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>	          
	        </figure>
      </li>
      
      <li>
	        <figure class="hmedia">
	          <a href="#" class="url">
	            <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="150" height="84" />
	          </a>
	          <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
	        </figure>
      </li>
      
      <li>
          <figure class="hmedia">
            <a href="#" class="url">
              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-5.jpg" width="150" height="84" />
            </a>
            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
          </figure>   
      </li> 
      
      <li>
          <figure class="hmedia">
            <a href="#" class="url">
              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-1.jpg" width="150" height="84" />
            </a>
            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>            
          </figure>
      </li>
      
      <li>
          <figure class="hmedia">
            <a href="#" class="url">
              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-2.jpg" width="150" height="84" />
            </a>
            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>            
          </figure>
      </li>
      
      <li>
          <figure class="hmedia">
            <a href="#" class="url">
              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="150" height="84" />
            </a>
            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
          </figure>
      </li>
      
      <li>
          <figure class="hmedia">
            <a href="#" class="url">
              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-5.jpg" width="150" height="84" />
            </a>
            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
          </figure>   
      </li>            
    </ul>
  </div>
</section>


<!-- end carouseltn -->
