<!-- carouseltn -->
<section id="carouseltn" class="wrapper carousel">
  <header>
    <h3><a href="tnylagente.com.ar" target="_blank">TN y la Gente</a></h3>
    <p>Mañana de neblina sobre Buenos Aires</p>
  </header>

  <div class="arrows next"><span></span></div>
  <div class="arrows prev disabled"><span></span></div>

  <div class="content-wrapper">
	  <div class="content">

	    <ul>
	      <li>
		        <figure class="hmedia">
		          <a href="#" class="url">
		            <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-1.jpg" width="150" height="84" />
		          </a>
	            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
		        </figure>
	      </li>

	      <li>
		        <figure class="hmedia">
		          <a href="#" class="url">
		            <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-2.jpg" width="150" height="84" />
		          </a>
	            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
		        </figure>
	      </li>

	      <li>
		        <figure class="hmedia">
		          <a href="#" class="url">
		            <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="150" height="84" />
		          </a>
		          <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
		        </figure>
	      </li>

	      <li>
	          <figure class="hmedia">
	            <a href="#" class="url">
	              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-5.jpg" width="150" height="84" />
	            </a>
	            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
	          </figure>
	      </li>

	      <li>
	          <figure class="hmedia">
	            <a href="#" class="url">
	              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-1.jpg" width="150" height="84" />
	            </a>
	            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
	          </figure>
	      </li>

	      <li>
	          <figure class="hmedia">
	            <a href="#" class="url">
	              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-2.jpg" width="150" height="84" />
	            </a>
	            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
	          </figure>
	      </li>

	      <li>
	          <figure class="hmedia">
	            <a href="#" class="url">
	              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-3.jpg" width="150" height="84" />
	            </a>
	            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
	          </figure>
	      </li>

	      <li>
	          <figure class="hmedia">
	            <a href="#" class="url">
	              <img class="photo lzl" alt="" src="<%= @site.config[:base_url] %>images/watermark-150x84.png" data-src="<%= assets_url %>images/data/grid-5.jpg" width="150" height="84" />
	            </a>
	            <figcaption class="fn hidden">Lorem ipsum dolor sit</figcaption>
	          </figure>
	      </li>
	    </ul>
	  </div>
  </div>
</section>


<!-- end carouseltn -->
