<!-- carouseltn -->
<%

if (@trends == nil)
  trends = ['jpquake','japon','terremoto','tsunami','tokio']
else
  trends = @trends
end

account = 'tntrends'
if (@account != nil)
	account = @account
end

i = 1
%>

<section id="carouseltwitter" class="carouseltwitter carousel wrapper">
  <header>
    <h3>Tag:</h3>
    <% trends.each do |item| %>
      <h4><a class="busqueda" data-search="<%= item %>" href="http://tn.com.ar/trends/<%= item %>" target="_blank">#<%= item %></a></h4><% if (i>1) %>,<%end%>
      <% i = i +1 %>
    <% end %>

  </header>
  <div class="ctw-follow"><a href="https://twitter.com/<%= account %>" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @<%= account %></a></div>

  <div class="arrows next"><span></span></div>
  <div class="arrows prev disabled"><span></span></div>

  <div id="twitbox"></div>

</section>
<!-- end carouseltn -->
