				<article class="hnews hentry item one-image model-<%= @id %>">
					<hgroup class="clearfix">
						<h1><a href="#" class="url entry-title size-5" rel="bookmark">Falleció Nestor Kirchner</a></h1>
            <h2 class="alignleft">El país, conmocionado porla muerte del ex presidente Néstor Kirchner Tras sufrir una descompensación, fue hospitalizado en El Calafate. Fuentes indican que fue por Muerte súbita. Seguí el tema en <a href="">@muerekirchner</a></h2>

            <%= render 'share/share-home' %>
					</hgroup>

          

					<figure class="hmedia">
                           <% if @ribbon == 'advance' %>
                <span class="ribbon ribbon-advance"></span>
              <% elsif @ribbon == 'lastmoment' %>
                <span class="ribbon ribbon-last-moment"></span>
              <% elsif @ribbon == 'now' %>
                <span class="ribbon ribbon-now"></span>
              <% elsif @ribbon == 'breaking-news' %>
                <span class="ribbon ribbon-breaking-news"></span>
              <% elsif @ribbon == 'live' %>
                <span class="ribbon ribbon-live"></span>
              <% elsif @ribbon == 'last-moment' %>
                <span class="ribbon ribbon-last-moment"></span>
              <% end %>
                <a class="play play-photo url cplayer" data-json='{
                        "items": [
                            {
                                "media_type": "image",
                                "url": "http://cdn.tn.com.ar/sites/default/files/imagecache/home-950x534/2012/07/04/entras_0.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "Lionel Messi"
                            },
                            {
                                "media_type": "image",
                                "url": "http://cdn.tn.com.ar/sites/default/files/imagecache/home-950x534/2012/07/04/entras_0.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "La topadora"
                            },
                            {
                                "media_type": "image",
                                "url": "http://cdn.tn.com.ar/sites/default/files/imagecache/home-950x534/2012/07/03/astorpiazzolla.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "Lionel Messi"
                            },
                            {
                                "media_type": "image",
                                "url": "http://cdn.tn.com.ar/sites/default/files/imagecache/home-950x534/2012/07/04/charlottetapahoy.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "La topadora"
                            },
                             {
                                "media_type": "image",
                                "url": "http://cdn.tn.com.ar/sites/default/files/imagecache/home-950x534/2011/09/07/pasion-7septiembre.jpg",
                                "width": 950,
                                "height": 534,
                                "caption": "La topadora"
                            }                           
                        ]
                    }' data-op='{"fx": "cover", "node": ".hmedia", "hideCarControls": true}'>Galeria de fotos</a>
          <img class="photo" alt="" src="http://cdn.tn.com.ar/sites/default/files/imagecache/home-950x534/2012/07/04/entras_0.jpg" width="950" height="534" />

            <figcaption class="fn">
              <a title="" href="#" rel="bookmark" class="url fn entry-title">El velorio de Kirchner en la Casa Rosada se inició hoy a partir de las 10 de la mañana en el Salón de los Patriotas. AP</a>
            </figcaption>
					</figure>

					<footer>
						<time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:00</time>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>
