<!-- gridhome -->
<div id="grid-home" class="grid">
		<div class="content clearfix wrapper">

        <%= render 'river-news/grid-article', :item => 1, :media=>'video', :grid=>4, :title=>'U2 se prepara para la presentacion en Argentina luego de Brazil' %>
        <%= render 'river-news/grid-article', :item => 2, :media=>'gallery', :grid=>4, :title=>'U2 se prepara para la presentacion en Argentina' %>
        <%= render 'river-news/grid-article', :item => 3, :media=>'header', :grid=>4, :title=>'U2 se prepara para la presentacion en Argentina' %>
        <%= render 'river-news/grid-iframe', :item => 4 %>

		</div>
</div>
<!-- end gridhome -->
