<% i = 1 %>
<ul id="all-news" class="general-menu clearfix">
	<li class="first"><a class="active" href="/" data-src="/" data-id="0">Todo</a></li>
	<% @items.each do |item| %>
    <li><a href="/<%= item.urlize %>" data-src="<%= item.urlize %>" data-id="<%= i %>"><%= item %></a></li><% i = i +1 %>
	<% end %>
	<% if (@extra) %>
		<% @extra.each do |item| %>
			<li><a href="<%= item[:url] %>"><%= item[:text] %></a></li><% i = i +1 %>
		<%end%>
	<%end%>
  <li class="spinner"><img src="<%= assets_url %>images/spinner.gif" /></li>
</ul>