<!-- sidebar -->
<aside class="sidebar">        

				<%= render 'ads/sky1' %>

        <%= render 'sidebar-widgets/imperdibles' %>

			  <section class="weather block">
						<h3>El Tiempo</h3>

					<!-- clima -->
						<div class="weather-banner">
						<h2>Buenos Aires</h2>
						<div class="item now">
						  <h3><time datetime="2011-03-11T05:00">Ahora</time></h3>

						  <div class="weather-icons">
						    <img class="weather-icon-1" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
						  </div>

						  <div class="temp">Temp <span class="nowtemp">24°</span> ST <span class="sttemp">26°</span></div>
						  <div class="forecast">Lluvias y fuertes vientos</div>

						</div>
						<div class="item today w2">
						<h3><time datetime="2011-03-11">Hoy</time></h3>

						<div class="weather-icons">
						  <img class="weather-icon-2" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
						</div>

						<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">19º</span></div>
						<div class="forecast">Cielo despejado a parcialmente nublado. Vientos moderados del sector oeste, cambiando al sector sur y disminuyendo a leves.</div>
						</div>
						<div class="item tomorrow w3">
						<h3><time datetime="2011-03-12">Mañana</time></h3>

            <div class="weather-icons">
              <img class="weather-icon-3" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
            </div>

						<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">26º</span></div>
						<div class="forecast">Parcialmente nublado con probabilidades de lluvias</div>
						</div>
						<div class="item after-tomorrow w1">
						<h3><time datetime="2011-03-12">Miércoles</time></h3>


            <div class="weather-icons">
              <img class="weather-icon-4" width="180" height="2210" src="<%= base_url %>images/wheather-page-icons.jpg" />
            </div>
						<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">26º</span></div>
						<div class="forecast">Parcialmente nublado con probabilidades de lluvias</div>
						</div>
						</div>
						<a href="#" class="more rounded">Ver más</a>
		      <!-- end clima -->
						</section>
				<!-- else -->

				<% if (@item[:opinion] != false) %>
				<section id="opinion" class="block">
					<h3>Opinión</h3>

					<ul class="clearfix">
						<li class="morales-sola">
							<a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/sola_a.jpg" width="150" height="84" /></a>
							<div class="content">
								<h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
								<h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
							</div>
						</li>
						<li class="marcos-bonelli last">
							<a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/novaro_a.jpg" width="150" height="84" /></a>
							<div class="content">
								<h2><a href="#" class="title">Lorem Ipsum quisque rutrum</a></h2>
								<h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
							</div>
						</li>
						<li class="osvaldo-bazan">
							<a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/lorena-maciel_a.jpg" width="150" height="84" /></a>
							<div class="content">
								<h2><a href="#" class="title">Lorem Ipsum quisque rutrum </a></h2>
								<h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
							</div>
						</li>
						<li class="nelson-castro last">
							<a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/gil-vidal_a.jpg" width="150" height="84" /></a>
							<div class="content">
								<h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
								<h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
							</div>
						</li>
					</ul>
					<a href="#" class="more rounded">Ver más</a>
				</section>
				<% end %>

        <%= render 'sidebar-widgets/ranking' %>
        
        <%= render 'ads/transito' %>

        <section id="traffic-widget" class="block ranking">
          <h3>Estado del Tránsito</h3>

          <div id="coda-nav-2">
            <ul class="sections">
              <li class="selected"><a class="xtrig" href="#trafico-subtes" rel="coda-slider-traffic">Subtes</a></li>
              <li class=""><a class="xtrig" href="#trafico-accesos" rel="coda-slider-traffic">Accesos</a></li>
              <li class=""><a class="xtrig" href="#trafico-trenes" rel="coda-slider-traffic">Trenes</a></li>

            </ul>
          </div>
          <div class="coda-slider-wrapper content ">
            <div class="coda-slider preload" id="coda-slider-traffic">

              <div class="panel first-panel subtes">
                <div class="panel-wrapper">
                    <div class="item first">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">Línea <span class="metro subtea">A</span> Demorado (45 min.) pero si esperas, llega</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">Linea <span class="metro subteb">B</span> Demorado (45 min.)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                              Línea <span class="metro subtec">C</span> Demorado (45 min.)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                          Línea <span class="metro subted">D</span> Demorado (45 min.)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte red"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                          Línea <span class="metro subtee">E</span> Demorado (45 min.)
                            </div>
                          </div>
                        </div>
                       </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                              Línea <span class="metro subteh">H</span> Demorado (45 min.)
                            </div>
                           </div>
                         </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="outer">
                          <div class="middle">
                            <div class="inner">
                              Línea <span class="metro subtep">P</span> Demorado (45 min.)
                            </div>
                           </div>
                         </div>
                      </div>
                    </div>

                </div>
              </div>


              <div class="panel">
                <div class="panel-wrapper">

                    <div class="item first clearfix">
                      <span class="circle subte red"></span>
                      <div class="alignright">
	                      <div class="place">Au. 25 de Mayo hacia Liniers:</div>
	                      <div class="status">Demorado (45 min.) <br /> y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
	                      <div class="place">Panamerica hacia Capital Federal:</div>
	                      <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
	                    </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
	                      <div class="place">Au. 25 de Mayo hacia Liniers:</div>
	                      <div class="status">Demorado (45 min.)</div>
	                    </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
	                      <div class="place">Panamerica hacia Provincia:</div>
	                      <div class="status">Normal</div>
	                    </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>

                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>

                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>

                    <div class="item clearfix">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Capital Federal:</div>
                        <div class="status">Congestionado (45 min.) y tengo mucho texto y tengo mucho texto y tengo mucho texto</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                        <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item clearfix">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                        <div class="place">Panamerica hacia Provincia:</div>
                        <div class="status">Normal</div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-wrapper">

                    <div class="item first">
                      <span class="circle subte red"></span>
                      <div class="alignright">
                      <div class="place">Tren de las nubes:</div>
                      <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte yellow"></span>
                      <div class="alignright">
                      <div class="place">Panamerica hacia Capital Federal:</div>
                      <div class="status">Congestionado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                      <div class="place">Au. 25 de Mayo hacia Liniers:</div>
                      <div class="status">Demorado (45 min.)</div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="circle subte green"></span>
                      <div class="alignright">
                      <div class="place">Panamerica hacia Provincia:</div>
                      <div class="status">Normal</div>
                      </div>
                    </div>

                </div>
              </div>

            </div>
          </div>
          <a href="#" class="more rounded">Ver más</a>
        </section>

        <section id="blogs" class="block">
          <h3>Blogs</h3>

          <ul class="clearfix">
            <li class="morales-sola">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/sola_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Conflictos internos por sobre las relaciones externas</a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="marcos-bonelli">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/poggi_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum</a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="osvaldo-bazan">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/fiasche_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/glanz_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro ">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/novarro_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro other">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/mario-markic_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
            <li class="nelson-castro other last">
              <a href="#" class="author"><img class="lzl" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4DwABBAEAfbLI3wAAAABJRU5ErkJggg==" data-src="<%= assets_url %>images/periodistas/mactas_a.jpg" width="150" height="84" /></a>
              <div class="content">
                <h2><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h2>
                <h2><a href="#" class="author">Joaquín Morales Solá</a></h2>
              </div>
            </li>
          </ul>
          <a href="http://tn.com.ar/blogs" class="more rounded disabled">Ver más</a>
        </section>

        <%= render 'ads/shopping-icons' %>
        
        <%= render 'sidebar-widgets/poll' %>

        <section id="twperiodistas" class="block">
          <h3>Periodistas en Twitter</h3>
          <span class="twsb-bck"></span>
          <div id="twpress" class="content twpress"></div>
          <a href="http://twitter.com/#!/todonoticias/tn-com-ar" target="_blank" class="more rounded">Ver más</a>
        </section>

        <section class="rating block">
          <header>
	          <h3>El Rating</h3>
	          <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">Miércoles 15 de mayo</time>
          </header>
          <div class="content">
	          <table>
	            <tr class="first">
	              <td class="channel"><span class="channel trece">Canal 13</span></td>
	              <td class="program">Herederos de una venganza</td>
	              <td class="number">22.7</td>
	            </tr>
              <tr>
                <td class="channel"><span class="channel telefe">Canal 13</span></td>
                <td class="program">Los únicos</td>
                <td class="number">19.4</td>
              </tr>
              <tr>
                <td class="channel"><span class="channel c-7">Canal 13</span></td>
                <td class="program">Seis en el Siete a las 8:00</td>
                <td class="number">10.3</td>
              </tr>
              <tr>
                <td class="channel"><span class="channel c-9">Canal 13</span></td>
                <td class="program">Bendita</td>
                <td class="number">8.7</td>
              </tr>
              <tr>
                <td class="channel"><span class="channel america">Canal 13</span></td>
                <td class="program">Desayuno americano</td>
                <td class="number">2.7</td>
              </tr>
	          </table>
          </div>
        </section>

        <%= render 'ads/sky3' %>

				<section class="billboard" class="block">
					<header><h3>Cartelera de cine</h3></header>
					<form class="clearfix">
						<div class="slideshow">
							<a class="active" href="#a"><img src="<%= assets_url %>images/data/cartelera-cine-1.jpg" alt="el turista" width="310" height="174" /></a>
							<a href="#b"><img src="<%= assets_url %>images/data/cartelera-cine-2.jpg" alt="el turista" width="310" height="174" /></a>
						</div>
						<fieldset>
							<select>
								<option>Buscar por titulo</option>
							</select>
							<select>
								<option>Buscar por cine</option>
							</select>
						</fieldset>
						<input class="more submit rounded" type="submit" value="Buscar" />
					</form>
					<a href="#" class="more rounded">Buscar Teatros</a>
				</section>

        <%= render 'ads/libro-city' %>
</aside>
<!-- end sidebar -->
