<div id="fixture-widget-fixture" class="widget widget-supercampeon widget-fixture">
  
    <div class="header">
            <div class="title">
        <h2>Final</h2>
      </div>
    </div>
    <div id="supercampeon">
    <table class="supercampeon">
        <tr>
            <td class="equipo-a"><img src="<%= base_url %>images/escudos/sanmartin.png" width="44" height="44" /><br>San Martìn SJ</td>
            <td class="resultado"><p class="ant">4</p><p class="ant">4</p><br><br><p>(7)</p><p>(5)</p></td>
            <td class="equipo-b"><img src="<%= base_url %>images/escudos/sanmartin.png" width="44" height="44" /><br>San Martìn SJ</td>
            <td class="fecha">Viernes 03 de septiembre a las 18:00 hs</td>
            <td class="go">Ir a la fecha</td>
            <td class="detalle"><a href="#">&raquo;</a></td>
        </tr>
    </table>
    </div>
</div>