<section class="movie-info">
	<dl>
    <dt>Duración:</dt>
    <dd>116 minutos</dd>

    <dt>Idioma:</dt>
    <dd>Castellano</dd>

		<dt>Género:</dt>
		<dd>Ciencia Ficción, Aventuras</dd>

    <dt>Sitio oficial:</dt>
    <dd><a href="#" rel="no-follow">Sitio oficial</a></dd>

    <dt>Año:</dt>
    <dd>2011</dd>
    
    <dt>Fecha Estreno:</dt>
    <dd>Back to the Future</dd>
   		
		<dt>Origen:</dt>
		<dd>Estados Unidos</dd>

    <dt>Dirección:</dt>
    <dd>Robert Zemeckis</dd>
		
		<dt>Actores:</dt>
		<dd>Michael J. Fox, Christopher Lloyd. Crispin Glover, Thomas F.	Wilson, Billy Zane, Lea Thompson</dd>
		
		
		<dt>Calificación:</dt>
		<dd>Apta todo público</dd>
		    
    <dt>Título original:</dt>
    <dd>Back to the Future</dd>
	</dl>
</section>