<article id="new" class="hnews hentry item note">
  <header>
    <h1><a href="#" class="url entry-title">Brasil prometió abrir más sus mercados a la Argentina, pero con tres lineas no se que pasa</a></h1>
    <div class="drop-line">
      <p>Vel ligula. Nam venenatis neque quis mauris. Proin felis. Cum sociis natoque <i>penatibus et magnis dis parturient montes</i>, nascetur ridiculus mus. Aliquam quam. Nam felis velit, semper nec,
            aliquam nec, <a href="#">iaculis vel, mi</a>. Nullam et augue vitae nunc tristique vehicula.  Suspendisse eget elit. Duis <a href="#">#adipiscing</a> dui non quam.</p>
    </div>

    <time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">Martes 11 de Marzo del 2011 <span>| 20:00</span></time>
    <%= render 'share/share-nota' %>
  </header>

  <% case @item[:media]
    when 'photo' %>
		  <figure class="hmedia">
		            <a class="play play-photo url cplayer" data-json='{
		                    "items": [
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi1.jpg",
		                            "width": 600,
		                            "height": 338,
		                            "caption": "Lionel Messi"
		                        },
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi2.jpg",
		                            "width": 600,
		                            "height": 338,
		                            "caption": "La topadora"
		                        },
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi3.jpg",
		                            "width": 600,
		                            "height": 338,
		                            "caption": "<a href=\"http://google.com\">Google</a>"
		                        },
		                        {
		                            "media_type": "image",
		                            "url": "<%= base_url %>images/data/messi4.jpg",
		                            "width": 600,
		                            "height": 338
		                        }
		                    ]
		                }' data-op='{"fx": "cover", "node": ".hmedia", "hideCarControls": true}'>Play</a>
		      <img class="photo" alt="" src="<%= assets_url %>images/data/nota-interna-1.jpg" width="600" height="338" />

		    <figcaption><span class="fn" href="#" title="">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
		  </figure>

    <% when 'video' %>

	  <figure class="hmedia">
       <a class="play play-video url dplayer" data-player='{"file":"http://contenidos2.tn.com.ar/2011/04/26/abdos.mp4", "width":600,"height":338,"image":"<%= assets_url %>images/data/nota-interna-1.jpg"}' data-op='{"node":"figure","caption":"Título de la nota en el player","force":true}'>Play</a>

	    <img class="photo lzl" alt="" src="<%= base_url %>images/watermark-600x338.png" data-src="<%= assets_url %>images/data/nota-interna-1.jpg" width="600" height="338" />
	    <figcaption><span class="fn">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
	  </figure>

    <% when 'audio' %>

    <figure class="hmedia">
       <a class="play play-video url dplayer" data-player='{"file": "http://contenidos2.tn.com.ar/2012/09/03/peralta-modelo.mp3","width": 600,"height": 338,"image": "<%= assets_url %>images/data/nota-interna-1.jpg"}' data-op='{"node":"figure","caption": "Título de la nota en el player", "force":true}'>Play</a>
        <img class="photo lzl" alt="" src="<%= base_url %>images/watermark-600x338.png" data-src="<%= assets_url %>images/data/nota-interna-1.jpg" width="600" height="338" />
      <figcaption><span class="fn">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
    </figure>

  <% else %>
	  <figure class="hmedia photo-hmedia">
	    <img class="photo lzl" alt="" src="<%= base_url %>images/watermark-600x338.png" data-src="<%= assets_url %>images/data/pelicula-1.jpg" />
	    <figcaption><span class="fn">Dilma Rousseff asumio la presicendia de Brasil en un emotivo acto</span></figcaption>
	  </figure>
  <% end %>


<div class="content">
    
    <div class="entry-content">
      <p>Llegó el día que otro <a href="http://www.tn.com.ar/tags/beatles">Beatle</a> pisa un escenario de la Argentina. En dos oportunidades, <a href="http://www.tn.com.ar/personajes/paul-mccartney">Paul McCartney</a> tocó en el país con muy buena respuesta del público. El carismático baterista de 71 años prometió un <strong>gran show</strong>. Viejito, rockero y con toda la fuerza.</p>
<p>	Te damos un set list para disfrutar antes de llegar al <strong>Luna Park.</strong></p>
<p>	<strong>Don´t pass me by</strong></p>
<p>		<strong width="" height=""><iframe width="600" height="338" frameborder="0" src="http://www.youtube.com/embed/IMQSTpxH9yI?wmode=transparent" allowfullscreen=""></iframe></strong></p>
<p>	<strong>Photograph</strong></p>
<p>		<strong width="" height=""><iframe width="600" height="338" frameborder="0" src="http://www.youtube.com/embed/EzGAkVK-Prw?wmode=transparent" allowfullscreen=""></iframe></strong></p>
<p>	<strong>I wanna be your man</strong></p>
<p>		<strong width="" height=""><iframe width="600" height="338" frameborder="0" src="http://www.youtube.com/embed/PKXC2av_51k?wmode=transparent" allowfullscreen=""></iframe></strong></p>
<p>	<strong>With A Little Help From My Friends</strong></p>
<p>		<strong width="" height=""><iframe width="600" height="338" frameborder="0" src="http://www.youtube.com/embed/19C5l_keLJU?wmode=transparent" allowfullscreen=""></iframe></strong></p>
<p>	<strong>Boys</strong></p>
<p>		<strong width="" height=""><iframe width="600" height="338" frameborder="0" src="http://www.youtube.com/embed/rN6ZZiKWZYA?wmode=transparent" allowfullscreen=""></iframe></strong></p>
<p>	<strong>Yelow Submarine</strong></p>
<p>		<strong width="" height=""><iframe width="600" height="338" frameborder="0" src="http://www.youtube.com/embed/2WERRddBESI?wmode=transparent" allowfullscreen=""></iframe></strong></p>
    </div>

  </div>

  <%= render 'recital/ficha' %>

  <%= render 'recital/estadios' %>

  <div class="tag-list">
    <span>Leer más:</span> <h2><a href="#" rel="tag">Brasil</a></h2>, <h2><a href="#" rel="tag">Dilma Rousseff</a></h2>, <h2><a href="#" rel="tag">Comercio Exterior</a></h2>, <h2><a href="#" rel="tag">Lorem</a></h2>, <h2><a href="#" rel="tag">Ipsum</a></h2>, <h2><a href="#" rel="tag">dolor</a></h2>, <h2><a href="#" rel="tag">sit</a></h2>, <h2><a href="#" rel="tag">amet</a></h2>, <h2><a href="#" rel="tag">America Latina</a></h2>, <h2><a href="#" rel="tag">Mercosur</a></h2>, <h2><a href="#" rel="tag">Petroleo</a></h2>, <h2><a href="#" rel="tag">Pesca</a></h2>, <h2><a href="#" rel="tag">Gobierno</a></h2>,
    <h2><a href="#" rel="tag">Lorem Ipsum</a></h2>, <h2><a href="#" rel="tag">Dolor Sit amet</a></h2>, <h2><a href="#" rel="tag">Argentina</a></h2>, <h2><a href="#" rel="tag">Chile</a></h2>
  </div>

  <footer>
    <%= render 'share/share-nota' %>
  </footer>
  <%= render 'popup-enviar' %>
</article>
