<section class="related clearfix">
  <header>
    <h2 class="title">En cartelera</h2>
  </header>

  <div class="grid3 clearfix">
  <%= render 'river-news/grid-article', :item => 1, :media=>'header', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 2, :media=>'gallery', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 3, :media=>'photo', :grid=>3, :title=>Texts.title %>
  
  <%= render 'river-news/grid-article', :item => 1, :media=>'video', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 2, :media=>'header', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 3, :media=>'photo', :grid=>3, :title=>Texts.title %>

  <%= render 'river-news/grid-article', :item => 1, :media=>'video', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 2, :media=>'gallery', :grid=>3, :title=>Texts.title %>
  <%= render 'river-news/grid-article', :item => 3, :media=>'photo', :grid=>3, :title=>Texts.title %>
  </div>
<a href="#" class="more rounded" rel="next">Más recitales</a>
</section>
