<!-- clima -->
<div class="weather-banner">
<h2>Clima <span>Buenos Aires<b></b></span></h2>
<div class="item now w1">
<h3><time datetime="2011-03-11T05:00">Ahora</time></h3>
<div class="temp">Temp <span class="nowtemp">24°</span> ST <span class="sttemp">26°</span></div>
<div class="forecast">Lluvias y fuertes vientos</div>
</div>
<div class="item today w2">
<h3><time datetime="2011-03-11">Hoy</time></h3>
<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">19º</span></div>
<div class="forecast">Despejado</div>
</div>
<div class="item tomorrow w3">
<h3><time datetime="2011-03-12">Mañana</time></h3>
<div class="temp">Máx <span class="hightemp">28º</span> Mín <span class="lowtemp">26º</span></div>
<div class="forecast">Parcialmente nublado con probabilidades de lluvias</div>
</div>										
<a class="wmore" href="#" title="Más sobre el clima">+</a>
</div>
<!-- end clima -->