<!-- footer -->
<div id="footer-bottom">
	<div class="wrapper">
    <a id="tnlogo" href="#">TN</a>
    <div class="data">
      <p>Copyright 1996 - 2011 ARTEAR. &nbsp;&nbsp;&nbsp;
        <a href="#">Contacto</a> &nbsp;~&nbsp;
        <a href="/terminos-y-condiciones">Términos y Condiciones</a> &nbsp;~&nbsp;
        <a href="/proteccion-de-datos-personales">Protección de Datos Personales</a>
      </p>
      <p>
        <span class="label">Direcci&oacute;n:</span> Lima 1261</span> ~
        <span class="label">N&uacute;mero de tel&eacute;fono:</span> 4339-1666 ~
        <span class="label">Correo electr&oacute;nico:</span> mensajes@tn.com.ar
      </p>
    </div>
	</div>
</div>
<!-- end footer -->
