<section class="last-registerd block">
<h3>Últimos registrados</h3>
<ul class="clearfix">
    
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li class="last">
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li class="last">
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li>
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>
      <li class="last">
        <a href="#">
          <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" alt="avatar" />
        </a>
      </li>                
       	
</ul>
</section>