<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" lang="es" class="no-js"> <!--<![endif]-->
	<head>
		<%= render 'layout/head' %>
	</head>

	<body class="comunity <% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<%end%>">
    
    <%= render 'layout/header' %>
		
		<div id="container" class="wrapper">
			<div role="main" class="clearfix">
				<%= yield %>
				<aside class="sidebar">
					<%= render 'sidebar/sidebar-comunity' %>
				</aside>
			</div>

		</div>
		
		<footer id="footer">
			<%= render 'footer' %>
		</footer>
		
		<%= render 'scripts' %>		
		
	</body>
</html>