<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->


  <head>
    <%= render 'layout/head' %>
  </head>

  <body class="small-header user-profile comunity <% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<%end%> <%= select_proyect %>">

    <header id="header">
      <%= render 'comments/comments-header' %>
    </header>

    <div id="container" class="wrapper">

      <div role="main" class="main main_comunity clearfix <% if (@item[:heightfixed] != nil) %>height-fixed<%end%>">
            <%= yield %>
      </div>
    </div>

    <footer id="footer">
      <%= render 'comments-footer' %>
    </footer>

    <%= render 'scripts' %>

  </body>
</html>