<ul id="comunity-menu" class="general-menu" class="clearfix">
	<li class="first"><a <% if (@item[:menuitem] == 1) %>class="active"<% end %> href="#">Mis datos</a></li>
	<li><a <% if (@item[:menuitem] == 2) %>class="active"<% end %> href="#">Integrar mis redes sociales</a></li>
	<li><a <% if (@item[:menuitem] == 3) %>class="active"<% end %> href="#">Desactivar cuenta</a></li>
</ul>
