<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->


  <head>
    <meta charset="utf-8" />

    <title><%= @item[:title] %></title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="<%= assets_url %>css/reset.css" type="text/css" />
    <link rel="stylesheet" href="<%= assets_url %>css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="<%= assets_url %>css/copamerica.css" type="text/css" />

    <!--[if IE ]>
      <link rel="stylesheet" href="<%= assets_url %>css/ie.css" type="text/css" />
    <![endif]-->

    <!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="<%= base_url %>js/libs/head.min.js" type="text/javascript"></script>
    <script src="<%= base_url %>js/libs/lab.min.js" type="text/javascript"></script>

  </head>


  <body class="<% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<% end %> iframe small-header " id="<%= @item[:iframe] %>">

    <%= yield %>

<script type="text/javascript" src="http://static.tn.com.ar/sites/all/modules/common/certifica/js/certifica.js"></script>
<script type="text/javascript">
hitCertifica("200045", "TN/copa-america-2011", "TN copa-america-2011");
</script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4436008-13']);
    _gaq.push(['_setDomainName', '.tn.com.ar']);
    _gaq.push(['_trackPageLoadTime']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">

  $LAB.script('<%= base_url%>js/libs/jquery-1.5.2.min.js').wait()
  .script('<%= base_url%>js/plugins/jquery.tools.min.js')
  .wait(function() {

	  $('.hd').tooltip({tipClass: 'tooltip-hd',offset: [-5,10],effect:'fade',position: 'center right'});

  });

if (head.browser.ie)  {
	if (parseInt(head.browser.version) <= 6)   {
	  $LAB.script('<%= base_url%>js/libs/dd_belatedpng.js','<%= base_url%>js/libs/pngfix.js');
	}
}

  </script>

  </body>
</html>
