<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->
	<head>
		<%= render 'layout/head' %>
	</head>

  <body class="<%= select_proyect %> show-grid <% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<%end%> <% if (@item[:new] == true) %>node-type-nota<%end%> <% if (@item[:movie] == true) %>node-type-pelicula<%end%> <%= @item[:extraclass] %>">
    
    <%= render 'layout/header' %>

    <%= render 'ads/top998' %>

		<div id="container" class="wrapper">
      <% if (@item[:ecologia] == true) %>
        <div class="ad-nota-left">
          <div id="ad-nota-left"></div>
        </div>
        <div class="ad-nota-right">
          <div id="ad-nota-right"></div>
        </div>
      <% end %>		
			<div role="main" class="clearfix">
				<div class="main">
          <% if (@item[:section] == true) %>
            <%= render 'flujo-secction' %>
					  <section class="news">
						  <%= render 'home-main' %>
							<%= render 'pager' %>
					  </section>
          <% else %>
					  <%= yield %>
          <% end %>
				</div>
        <%= render 'portadas/' << select_proyect << '/sidebar-site' %>
			</div>
		</div>

		<footer id="footer">
			<%= render 'footer' %>
		</footer>

    <%= render 'scripts' %>
	</body>
</html>
