---
title: Seccion
section: true
---
<!-- seccion/flujo-seccion.html -->

		<header class="flow">
			<h2>Política</h2>
			<ul class="share subscribe">
				<li class="title">Suscribete:</li>
				<li class="link"><a class="rss" href="#">RSS</a></li>
			</ul>
		</header>
