<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" lang="es" class="no-js"> <!--<![endif]-->
	<head>
		<%= render 'layout/head' %>
	</head>

	<body class="<% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<%end%>">

    <%= render 'layout/header' %>

    <%= render 'ads/top998' %>

		<div id="container" class="wrapper">
      <div id="content-top">
        <%= yield %>
      </div>

			<div role="main" class="clearfix">
				<div class="main">
					<section class="news">
					  <%= render 'share/share', :share => 'more' %>
						<%= render 'home-main' %>
					</section>
				</div>
				<aside class="sidebar">
					<% if (@item[:home] == true) %>
						<%= render 'portadas/' << select_proyect << '/sidebar-home' %>
					<% else %>
						<%= render 'portadas/' << select_proyect << '/sidebar-site' %>
					<% end %>
				</aside>
			</div>
		</div>

		<footer id="footer">
			<%= render 'footer' %>
		</footer>

		<%= render 'scripts' %>
	</body>
</html>
