<!-- footer -->
<div id="footer-top">
	<div class="wrapper">
	
	<%= render 'portadas/' << select_proyect << '/footer-top' %>

	</div>
</div>
<!-- end of #footer-top -->
<div class="content wrapper">
  <div class="blocks clearfix">
		<div class="block">
			<h3>Temas</h3>
			<ul>
				<li class="first"><h2><a href="#">Cristina Kirchner</a></h2> </li>
				<li><h2><a href="#">Desalojo en Villa Soldati</a></h2> </li>
				<li><h2><a href="#">Copa Sudamericana</a></h2> </li>
				<li><h2><a href="#">Chile</a></h2> </li>
				<li><h2><a href="#">Jhhn Lennon</a></h2> </li>
				<li><h2><a href="#">Wikileaks</a></h2> </li>
				<li><h2><a href="#">Maecenas tempus</a></h2> </li>
				<li><h2><a href="#">Vivera ultrices</a></h2> </li>
				<li><h2><a href="#">Tincidun integer cras</a></h2> </li>
				<li><h2><a href="#">Consequat massa nulla</a></h2> </li>
				<li class=""><h2><a href="#">Wikileaks</a></h2> </li>
			</ul>
		</div>


    <%= render 'portadas/' << select_proyect << '/footer-block-2' %>
		<%= render 'portadas/' << select_proyect << '/footer-block-3' %>
		<%= render 'portadas/' << select_proyect << '/footer-block-4' %>

  </div>
  <div class="view-more clearfix">
    <a class="block button" href="#">Ver más</a>
    <a class="block button" href="#">Ver más</a>
    <a class="block button" href="#">Ver más</a>
    <a class="block last button" href="#">Ver más</a>
  </div>
</div>
<!-- end of content wrapper -->
<div id="footer-bottom">
	<div class="wrapper">
	    <a id="tnlogo" href="#">TN</a>
	    <div class="data">
	      <p>Copyright 1996 - 2011 ARTEAR. &nbsp;&nbsp;&nbsp;
	        <a href="#">Contacto</a> &nbsp;~&nbsp;
	        <a href="/terminos-y-condiciones">Términos y Condiciones</a> &nbsp;~&nbsp;
	        <a href="/proteccion-de-datos-personales">Protección de Datos Personales</a>
	      </p>
	      <p>
	        <span class="label">Direcci&oacute;n:</span> Lima 1261 ~
	        <span class="label">N&uacute;mero de tel&eacute;fono:</span> 4339-1666 ~
	        <span class="label">Correo electr&oacute;nico:</span> mensajes@tn.com.ar
	      </p>
	    </div>
	</div>
</div>
<!-- end footer -->
