<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->
	<head>
		<%= render 'layout/head' %>
	</head>

	<body class="<% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<% end %> <%= select_proyect %>">

    <%= render 'mini-header/header' %>

    <%= render 'ads/top998' %>

		<div id="container" class="wrapper">
      <%= render 'ads/sky' %>
      
			<div id="content-top">
                            
                            <%= render 'portadas/site-tp/menu-fixture' %>
                            
                            <div class="estadisticas-fixture">

                                <img src="<%= base_url %>images/banners/<%= @item[:bannerFx] %>.png" width="947" height="113">

                                <%= render 'share/share-fixture' %>
                            </div>
                                
                                <%= yield %>
			</div>

			<div role="main" class="clearfix">
				<div class="main">
					<%= render 'river-news/flow-fixture' %>
				</div>
        <%= render "portadas/site-tp/sidebar-fixture" %>
			</div>
		</div>
    
		<footer id="footer">
			<%= render 'mini-header/footer' %>
		</footer>

		<%= render 'scripts' %>
	</body>
</html>
