<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->

	<head>
		<%= render 'layout/head' %>
	</head>

  <body class="<%= @item[:extraclass] %> <% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<% end %>">

    <%= render 'layout/header' %>

    <% if (@item[:ad] == true) %>
    <table width="100%"><tr><td align="center">
      <div id="top998" role="banner" class="banner banner-950x50"></div>
    </td></tr></table>
    <% end %>

		<div id="container" class="wrapper">
			<div id="content-top">
        <%= render @item[:content_top] %>
			</div>

			<div role="main" class="clearfix">
			  <%= yield %>
			</div>
		</div>

		<footer id="footer">
			<%= render 'footer' %>
		</footer>

		<%= render 'scripts' %>
	</body>
</html>
