<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->

	<head>
		<%= render 'layout/head' %>
	</head>

  <body class="<%= select_proyect %> <%= @item[:extraclass] %> <% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<% end %>">

    <%= render 'layout/header' %>

    <%= render 'ads/top998' %>

    <div id="container" class="wrapper">
      <div role="main" class="clearfix">
        <div class="main">
          <div id="content-top">
            <%= render 'tnylagente/reaction' %>
          </div>

          <%= yield %>
        </div>
        <aside class="sidebar">
          <%= render "portadas/#{select_proyect}/sidebar-site" %>
        </aside>
      </div>
    </div>

		<footer id="footer">
			<%= render 'footer' %>
		</footer>

		<%= render 'scripts' %>
	</body>
</html>
