<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->


  <head>
    <meta charset="utf-8" />

    <title><%= @item[:title] %></title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="<%= assets_url %>css/reset.css" type="text/css" />
    <link rel="stylesheet" href="<%= assets_url %>css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="<%= assets_url %>css/coda-slider-2.0.css" type="text/css" />
    <link rel="stylesheet" href="<%= assets_url %>css/iframe.css" type="text/css" />

    <!--[if IE ]>
      <link rel="stylesheet" href="<%= assets_url %>css/ie.css" type="text/css" />
    <![endif]-->

    <!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="<%= base_url %>js/libs/head.min.js" type="text/javascript"></script>
    <script src="<%= base_url %>js/libs/lab.min.js" type="text/javascript"></script>

  </head>


  <body class="iframe" id="<%= @item[:iframe] %>">

    <%= yield %>

    <script type="text/javascript" charset="utf-8">
/*
    head.js('<%= base_url%>js/libs/jquery-1.5.2.min.js',
            '<%= base_url%>js/plugins/jquery-coda-slider-2.0.js',
            '<%= base_url%>js/plugins/jquery-easing.1.3.js',
		        function() {
			        $('#coda-slider-fixture').codaSlider({
			            dynamicArrows: false,
			            dynamicTabs: false
			          });
			      });
*/
    $LAB.script('<%= base_url%>js/libs/jquery-1.5.2.min.js').wait()
        .script('<%= base_url%>js/plugins/jquery-coda-slider-2.0.js')
        .script('<%= base_url%>js/plugins/jquery-easing.1.3.js')
		    .wait(function() {
			        $('#coda-slider-fixture').codaSlider({
			            dynamicArrows: false,
			            dynamicTabs: false
			          });
			    });
    </script>
  </body>
</html>
