<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->
	<head>
	
	<meta charset="utf-8" />
	<% if @site.config[:environment] == 'production' %>
            <link rel="stylesheet" href="<%= base_url %>css/fixture-min.css" type="text/css"/>
  <% else %>
            <link rel="stylesheet" href="<%= base_url %>css/reset.css" type="text/css"/>
            <link rel="stylesheet" href="<%= base_url %>css/iframe-fixture.css" type="text/css"/>
            <link rel="stylesheet" href="<%= base_url %>css/menu-fixture.css" type="text/css"/>
            <!-- <link rel="stylesheet" href="<%= base_url %>css/style.css" type="text/css"/> -->
  <% end %>
        </head>

	<body>                    
                <%= yield %>
                
            <script src="http://stats.todapasion.tn.com.ar/js/jquery.js" type="text/javascript"></script>
            <script src="<%= base_url %>js/tpiframes<% if @site.config[:environment] == 'production' %>-min<%end%>.js"></script>
	</body>
</html>
