				<div class="login-box clearfix">
				  
				  <% if (@item[:notloggedin] == true) %>
				    <div class="title">Participá con:</div>
				    <div class="content">
				      <ul class="login-conect clearfix">
				        <li class="fb"><a href="#" class="facebook">Facebook</a></li>
				        <li><a href="#" class="twitter">Twitter</a></li>
				        <li><a href="#" class="tn">TN</a></li>
				      </ul>
				    </div>
				    <div id="tooltip" class="tooltip">Conectate con Facebook, Twitter o TN</div>
				  
				  <% elsif (@item[:notloggedin] == 'social') %>
            <div class="lbshare">
              <div class="tw">
                <iframe class="twitter-share-button" allowtransparency="true" frameborder="0" scrolling="no" src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=es&amp;related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&amp;text=Descargá los mapas más completos y actualizados para tu GPS o celular en TN.com.ar&amp;url=http%3A%2F%2Ftn.com.ar%2Fgps&amp;via=todonoticias" width="120" height="22"></iframe>
              </div>
              <div class="fb">
                <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:150px; height:27px;" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Fgps&amp;locale=es_LA&amp;send=false&amp;layout=button_count&amp;width=190&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;height=21&amp;utm_source=facebook&amp;utm_medium=button&amp;utm_campaign=gps"></iframe>
              </div>
            </div>
				  
				  <% else %>
            <a href=""><img src="<%= assets_url %>images/data/avatar.jpg" width="48" height="48" class="picture avatar avatar48" /></a>
	          <div class="content">
              <h1 class="user"><a href="" rel="me">Lorem Ipsum Dolor</a></h1>
	            <ul class="actions clearfix">
	              <li class="link first"><a href="#" title="">Configurar</a></li>
	              <li class="link last"><a href="#" title="">Salir</a></li>
	            </ul>
	          </div>
				  <% end %>
				</div>
