<%
  tag = 'footer';
  if (!@tag.nil?)
    tag = @tag
  end
  
  texto = " noticias"
  if (!@texto.nil?)
    texto = ' ' << @texto
  end
  
%>

<<%= tag %> class="pager clearfix">

	<% if @item[:more] == true %>
	  <a class="more rounded" href="#" rel="next">Ver más<%= texto %></a>
	<% else %>
	  <% if @item[:prev] == true %>
	    <a class="more rounded prev" href="#" rel="prev">&laquo; Anterior</a>
	  <% end %>
	  <% if @item[:next] == true %>
	    <a class="more rounded next" href="#" rel="next">Siguiente &raquo;</a>
	  <% end %>
	<% end %>		

</<%= tag %>>
