  <div class="overlay report hidden">
    <div class="header">
      Reportar abuso
      <div class="close">Cerrar</div>
     </div>
     <div class="content">
        <div class="active panel panel-first">
            <div class="error">Ha ocurrido un error</div>
	          <div class="message">Reportar abuso significa que el comentario sera eliminado y el autor sera multado.</div>
			       <form action="http://algo.com/report/" method="post" class="clearfix">
			         <input type="hidden" value="" name="id-comment" id="id" />
			         <div class="submit-content">
			           <input type="submit" class="more rounded submit report-submit" value="Reportar" data-txt="" />
                 <div class="spinner" style="display:none"><img src="<%= assets_url %>images/blue-spinner.gif" /></div>
			         </div>
			         <div class="more rounded submit close">Cancelar</div>

			      </form>
	      </div>
	       <div class="panel panel-success">
            <div class="message">
              <p>El comentario fue reportado</p>
              <p>Gracias</p>
            </div>
	          <div class="more rounded close">Cerrar ventana</div>
	       </div>

     </div>
     <div class="toc">
        <a href="http://tn.com.ar/terminos-y-condiciones">Términos y condiciones</a>
     </div>
  </div>
