  <div class="overlay report-note hidden">
    <div class="header">
      Reportar nota
      <div class="close">Cerrar</div>
     </div>
     <div class="content">
        <div class="active panel panel-first">
	       La nota esta siendo reportada <img class="spinner" src="<%= assets_url %>images/blue-spinner.gif" width="16" height="11" />
	      </div>
        <div class="panel panel-success">
           <div class="message">
             <p>La nota fue reportada</p>
             <p>Gracias</p>
           </div>
          <div class="more rounded close">Cerrar ventana</div>
        </div>
        <div class="panel panel-error">
           <div class="message">
             <p>Ha ocurrido un error, vuelva a intentarlo en unos minutos</p>
             <p>Gracias</p>
           </div>
           <div class="more rounded close">Cerrar ventana</div>
        </div>

     </div>
     <div class="toc">
        <a href="http://tn.com.ar/terminos-y-condiciones">Términos y condiciones</a>
     </div>
  </div>
