  <div class="overlay send-email hidden">
    <div class="header">
      Enviar a un amigo
      <div class="close">Cerrar</div>
     </div>
     <div class="content">
       <div class="active panel panel-first">
        <div class="title">Brasil prometió abrir más sus mercados a la Argentina, pero con tres lineas no se que pasa</div>
        <form  action="http://algo.com/enviarnota/" method="post">
          <input type="hidden" value="" name="id-note" id="id" />
          <div class="error">Por favor, revise las direcciones de correo</div>
          <table>
		        <tr>
		          <th><label for="popup-dest">Destinatario:</label></th>
		          <td><input type="text" id="popup-dest" name="popup-dest" value="" /></td>
		        </tr>
		        <tr>
		          <th><label for="popup-comm">Comentario:</label></th>
		          <td><textarea id="popup-comm" name="popup-comm"></textarea> </td>
		        </tr>
		        <tr>
		          <td colspan="2">
		            <div class="submit-content">
			            <input class="more2 submit rounded"  type="submit" value="Enviar"  data-txt="" />
			            <div class="spinner" style="display:none"><img src="<%= assets_url %>images/blue-spinner.gif" /></div>
		            </div>
		          </td>
		        </tr>
          </table>
        </form>
       </div>
       <div class="panel panel-success">
          <div class="message">
            <p>El mail fue enviado con exito a los siguientes destinatarios: <strong class="email"></strong></p>
            <p>Lorem ipsum. Gracias</p>
          </div>
          <div class="more rounded close">Cerrar ventana</div>
       </div>
       <div class="panel panel-error">
          <div class="message">
            <p>El mail fue enviado con exito a los siguientes destinatarios: <strong class="email"></strong></p>
            <p>Lorem ipsum. Gracias</p>
          </div>
          <div class="more rounded close">Cerrar ventana</div>
       </div>
     </div>
  </div>
