<!-- header -->
<div class="alignleft">
<p id="tagline"><a id="logo" href="#"><img src="<%= base_url %>images/logo-tn-footer.png" /></a> Todo Noticias</p>
<p class="disclaimer">En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, consumían las tres partes de su hacienda.</p>
</div>

<div class="alignright"><a href="#"><img src="http://graphics8.nytimes.com/adx/images/ADS/26/05/ad.260512/ww_120x60_10k_np.gif" width="120" height="60" /></a></div>
<!-- end header -->
