<!doctype html>
<!--[if lt IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->


  <head>
    <%= render 'layout/head' %>
  </head>

  <body class="small-header pulse <% if (@item[:notloggedin] == true) %>not-logged-in<% else %>logged-in<%end%> <%= select_proyect %>">

    <header id="header">
      <%= render 'mini-header/header' %>
    </header>

    <div id="container" class="wrapper">

      <%
      
      items = Array.new
      
      items << 'Política'
      items << 'Deportes'
      items << 'Famosos'
      items << 'La Viola'
      items << 'Policiales'
      items << 'Sociedad'
      items << 'Opinión'
      items << 'Internacional'
      items << 'Tecnología'
            
      %>

      <div class="content-top clearfix">
        <% i = 1 %>
        <h1 class="pulse-title size-1">Pulso TN, el latido de las noticias en las redes sociales</h1>
        <div id="pulse-categories">
         <h2>Filtros</h2>
         
         <ul class="clearfix">
          <!--
          <li class="first" data-src="/" data-id="0">
            <span class="checkbox checked"></span>
            <a href="#" >Todo</a>
          </li>
          -->
          <% items.each do |it| %>
          <li data-src="<%= it.urlize %>" data-id="<%= i %>">
            <span class="checkbox checked"></span>
            <a href="#" ><%= it %></a>
          </li>
          <% end %>
        </ul>       
        
        </div>
        <%= render 'share/share' %>             
      </div>
			
			<ul class="pulse-menu">
			   <li class="sort popularity" data-order="true" data-col="pop">Popular</li>
			   <li class="news">Noticias</li>
			   <li class="reaction">Reaccion</li>
			   <li class="sort updated" data-order="false" data-col="time">Actualizada</li>
			   <li class="sort comments" data-order="false" data-col="com">Comentarios</li>
			   <li class="sort shared shared-tw" data-order="false" data-col="twitter"><span class="tw">Twitter</span></li>
			   <li class="sort shared shared-fb" data-order="false" data-col="twitter"><span class="fb">Facebook</span></li>
			</ul>

      <div role="main" class="clearfix">
        <div class="main clearfix">
            <%= yield %>
        </div>
      </div>

    </div>

    <footer id="footer">
      <%= render 'mini-header/footer' %>
    </footer>

    <%= render 'scripts' %>

  </body>
</html>
