               <div class="container-recaptcha">
                 <div class="recaptcha_nothad_incorrect_sol recaptcha_isnot_showing_audio clearfix" id="recaptcha_widget">
                      <div id="reload_captcha"></div>
                      <div id="recaptcha_image">
                        <img height="57" width="300" src="https://www.google.com/recaptcha/api/image?c=03AHJ_VuthVV4lw8YxR-8dGQ3pwFatkzShjeyDkPGlqO-i-lNeChBncGHoex_Bw_-a6_j11-BrIDfY_rPgqIIsH7FaKf42hcRHJzA5Uq5i3iDBy2Zi3NgruD5-185iUr3I6kQv4NBnrkINS7MGYS-KMgDKrAtNVRszpw" style="display:block;">
                      </div>
                      <ul class="cantReadBox">
                         <li class="refresh first">
                           <a title="Actualizar" href="javascript:Recaptcha.reload()" class="captcha-icon">Actualizar</a>
                         </li>
                         <li class="recaptcha_only_if_image listen">
                           <a title="Escuchar" class="recaptcha_audio_cant_hear_link captcha-icon" href="javascript:Recaptcha.switch_type('audio')">Escuchar</a>
                          </li>
                         <li class="recaptcha_only_if_audio read">
                           <a title="Leer" class="recaptcha_audio_cant_hear_link captcha-icon" href="javascript:Recaptcha.switch_type('image')">Leer</a>
                          </li>
                         <li id="recaptcha_help" class="help">
                           <a title="Ayuda" href="javascript:Recaptcha.showhelp()" class="captcha-icon">Ayuda</a>
                         </li>
                      </ul>
                  </div>
                </div>
                  <div class="recaptcha-error">
                      <label for="recaptcha_response_field">Escribe el código:</label>
                      <span id="recaptcha_challenge_field_holder" style="display: none;"><input type="hidden" value="03AHJ_VuthVV4lw8YxR-8dGQ3pwFatkzShjeyDkPGlqO-i-lNeChBncGHoex_Bw_-a6_j11-BrIDfY_rPgqIIsH7FaKf42hcRHJzA5Uq5i3iDBy2Zi3NgruD5-185iUr3I6kQv4NBnrkINS7MGYS-KMgDKrAtNVRszpw" id="recaptcha_challenge_field" name="recaptcha_challenge_field" autocomplete="off"></span><input type="text" class="mandatory noMessageWhenEmpty captcha" id="recaptcha_response_field" name="captcha_response" autocomplete="off">
                      <div class="fieldError"></div>
                  </div>
                  <script type="text/javascript">
                  var RecaptchaOptions = {
                      theme : 'custom',
                      custom_theme_widget: 'recaptcha_widget',
                      lang: 'es'
                  };
                  </script>
                  <script src="https://www.google.com/recaptcha/api/challenge?k=6LcPKbsSAAAAAGu4Ij1OkTO8v-89IA7tOYPRZgvo" type="text/javascript"></script>
                  <script src="https://www.google.com/recaptcha/api/js/recaptcha.js" type="text/javascript"></script>
									<noscript>
									  <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcPKbsSAAAAAGu4Ij1OkTO8v-89IA7tOYPRZgvo" height="300" width="500" frameborder="0"></iframe><br>
									  <textarea name="recaptcha_challenge_field" rows="3" cols="40"> </textarea>
									  <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
									</noscript>                  