    <div id="fb-root"></div>
    <% if (@item[:clicktale] != nil) %>
    <div id="ClickTaleDiv" class="display:none"></div>
    <% end %>

		<!-- Aqui van los tags de cerifica y google analitic, antes que todo javascript -->

    <script src="<%= base_url %>js/libs/lab.min.js" type="text/javascript"></script> 

    
    <% if (@item[:clicktale] != nil) %>
    <script type='text/javascript'>
    document.write(unescape("%3Cscript%20src='"+(document.location.protocol=='https:'?'https://clicktale.pantherssl.com/':'http://s.clicktale.net/')+"WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var ClickTaleSSL=1;
    if(typeof ClickTale=='function') ClickTale(<%= @item[:clicktale] %>,"www14");
    </script>
    <% end %>   

    <script type="text/javascript" charset="utf-8">
    
    TN.ads = {
            sec:'<%= @item[:eplanning] %>',
            eIs: [<%= get_ads(@item[:eplanning]) %>]
    }

    TN.initfuncs.push('adsetup');
    
    /*
      var jqe;
      TN.adsetup = function() {
        jqe = TN.eplanning( { eplDoc: document,
                               eplLL: false,
                                 eS1: 'us.img.e-planning.net',
                                 eplArgs: { iIF:1, sV:"http://ads.e-planning.net/", vV:"4",sI:"563b",sec: "<%= @item[:eplan_sec].nil? ? "HomeV2" : @item[:eplan_sec] %>", <%= @item[:eplan_ss].nil? ? '' : "ss: '#{@item[:eplan_ss]}'," %>
                             eIs:["Top998x50", "megabaner", "Right1x300x250", "Right4x300x250", "Right5x300x250", "Right7_Transito", "Right3x300x250",
                                  "Skyx120x600xDER", "Skyx120x600xIZQ", "tnmovil", "Auspicio" ] }
                          });
        jqe.add('#top998','Top998x50');
        jqe.add('#megaexpandible','megabaner');
        jqe.add('#sky1','Right1x300x250');
        jqe.add('#sky2','Right4x300x250');
        jqe.add('#sky3','Right3x300x250');
        jqe.add('#sky5','Right5x300x250');
        jqe.add('#skyleft','Skyx120x600xIZQ');
        jqe.add('#skyright','Skyx120x600xDER');
        jqe.add('#adtransito','Right7_Transito');
        jqe.add('#tnmovil','tnmovil');
      }
      TN.initfuncs.push('adsetup');
      */
    </script>

    <% if (@site.config[:environment] == 'develop') %>

    <script type="text/javascript" charset="utf-8">

      $LAB.script(TN.BASE_PATH + 'js/myhead-dev.js')
        .wait(function() {
          <% unless @item[:page_javascript].nil? %>
            <%= @item[:page_javascript] %>
          <% end %>
      });
    </script>

    <% else %>
    <script type="text/javascript" charset="utf-8">
      $LAB.script(TN.BASE_PATH + 'js/myhead.js')
        .wait(function() {
          <% unless @item[:page_javascript].nil? %>
            <%= @item[:page_javascript] %>
          <% end %>
      });
    </script>
    <% end %>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang: 'es-419', parsetags: 'explicit'}
    </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4436008-13']);
    _gaq.push(['_setDomainName', '.tn.com.ar']);
    _gaq.push(['_trackPageLoadTime']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <!-- script type="text/javascript" src="http://static.tn.com.ar/sites/all/modules/common/certifica/js/certifica.js?y"></script>
  <script type="text/javascript" -->
  <!--//--><![CDATA[//><!--
  hitCertifica("200045", "<%= certifica_path %>", "<%= certifica_desc %>");
  //--><!]]>
  <!-- /script -->
