---
title: Opinion
header: tweet
opinion: false
ad: true
production: true
---
<!-- opinion/opinion.html -->

	<section id="opinion_main">
		<header class="flow">
      <ul class="subscribe">
        <li class="title">Suscribite</li>
        <li class="link first"><a class="rss" href="#">RSS</a></li>
      </ul>
			<h2>Opinión</h2>
      <%= render 'share/share', :share => 'section' %>
		</header>

		<div class="opinion">
      <a class="author" href="#">
        <img height="84" width="150" src="<%= assets_url %>images/periodistas/canaletti_a.jpg" class="picture" />
      </a>
			<div class="content">
				<h1><a href="#" class="title">Lorem Ipsum quisque rutrum. Aenean imperdiet </a></h1>
				<h2>por <a href="#" class="author">Fermentum Interdum</a></h2>
			  <%= render 'share/share-flow' %>
			</div>
		</div>

		<div class="opinion">
      <a class="author" href="#">
        <img height="84" width="150" src="<%= assets_url %>images/periodistas/castro_a.jpg" class="picture" />
      </a>
			<div class="content">
				<h1><a href="#" class="title">Phasellus mollis dictum nulla. Integer vitae neque vitae eros fringilla</a></h1>
				<h2>por <a href="#" class="author">Fermentum Interdum</a></h2>
			  <%= render 'share/share-flow' %>
			</div>
		</div>

		<div class="opinion">
      <a class="author" href="#">
        <img height="84" width="150" src="<%= assets_url %>images/periodistas/fiasche_a.jpg" class="picture" />
      </a>
			<div class="content">
				<h1><a href="#" class="title">Vestibulum in pede adipiscing</a></h1>
				<h2>por <a href="#" class="author">Fermentum Interdum</a></h2>
			  <%= render 'share/share-flow' %>
			</div>
		</div>

		<div class="opinion">
      <a class="author" href="#">
        <img height="84" width="150" src="<%= assets_url %>images/periodistas/sola_a.jpg" class="picture" />
      </a>
			<div class="content">
				<h1><a href="#" class="title">Sed accumsan aliquam enim. Etiam hendrerit, metus eu</a></h1>
				<h2>por <a href="#" class="author">Fermentum Interdum</a></h2>
			  <%= render 'share/share-flow' %>
			</div>
		</div>
<!--		<div class="pager clearfix">
			<div class="prev">&laquo; Anterior</div>
			<div class="next">Siguiente &raquo;</div>
		</div>		-->
		<a href="#" class="more rounded">Más noticias</a>
	</section>
