    <meta charset="utf-8" />

    <title><%= @item[:title] %></title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <% if @site.config[:environment] == 'production' %>
	    <link rel="stylesheet" href="css/fixture-min.css" type="text/css" />
	    <!--[if IE ]>
	      <link rel="stylesheet" href="cs s/ie-min.css" type="text/css" />
	    <![endif]-->
    <% else %>
	    <link rel="stylesheet" href="css/reset.css" type="text/css" />
	    <link rel="stylesheet" href="css/fonts.css" type="text/css" />
	    <link rel="stylesheet" href="css/coda-slider-2.0.css" type="text/css" />
	    <link rel="stylesheet" href="css/style.css" type="text/css" />
	    <!--[if IE ]>
	      <link rel="stylesheet" href="css/ie.css" type="text/css" />
	    <![endif]-->        
    <% end %>

    <!-- All JavaScript at the bottom, except for Head which enables HTML5 elements & feature detects -->
    <script src="js/libs/head.min.js" type="text/javascript"></script>
    <script src="js/libs/lab.min.js" type="text/javascript"></script>    