<%

twitter = "El canal de noticias más visto de Argentina."

if (@item[:twitter] != nil)
	twitter = @item[:twitter]
end

%>
<!-- header -->
		<div id="header-top">
			<div class="wrapper">
				<% if ( (@back != false) ) %>
			  <a class="back" href="/">&laquo;Volver</a>
			  <% end %>
        <div class="logo">
          <a id="tn-home" href="/">TN</a>
          <span title="El primer canal de noticias de Argentina en HD" class="hd">HD</span>
        </div>
        <div class="share">
          <div class="tw">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="todonoticias" data-text="<%= twitter %>" data-related="todonoticias:El canal de noticias más visto de Argentina." data-lang="es">Tweet</a>
          </div>
          <div class="fb">
            <iframe class="fb-share-button" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:150px; height:27px;" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftn.com.ar%2Fgps&amp;locale=es_LA&amp;send=false&amp;layout=button_count&amp;width=190&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;height=21&amp;utm_source=facebook&amp;utm_medium=button&amp;utm_campaign=gps"></iframe>
          </div>
        </div>
			</div>
		</div>
<!-- end header -->
