<%

articleclass = 'no-picture'

if (['photo'].include? @media)
  articleclass = 'has-picture'
else
  articleclass = 'no-picture'
  if (@media == 'header')
    articleclass << ' no-content'
  else
    articleclass << ' has-content'
  end
end

%>

<article class="hnews hentry item <%= articleclass %> <% if (@first != nil) %>first<%end%>">
	<time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">21:00</time>

	<div class="container clearfix">

	  <% if (articleclass == 'has-picture') %>
		<figure class="hmedia">
			<a href="#" class="url"><img class="lzl" alt="<%= @title %>" src="images/data/news-1.jpg" width="150" height="84" /></a>
			<figcaption class="fn hidden"><%= @title %></figcaption>
		</figure>
		<% end %>

		<div class="content">
			<h1><a href="#" class="url entry-title" rel="bookmark" title="<%= @title %>"><%= @title %></a></h1>
			<div class="entry-content"><%= @content %></div>
		</div>
	</div>

	<footer>
		<div class="author vcard">Autor de la nota</div>
		<div class="source-org vcard">Todo Noticias</div>
	</footer>
</article>