<div id="fb-root"></div>

<% if ( (@item[:disques] != false) ) %>
<script type="text/javascript">
		/* * * REMOVER ESTA LINEA EN PRODUCCION * * */
		var disqus_developer = 1;

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://tncloud.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<% end %>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
<% if @site.config[:environment] == 'production' %>
$LAB.script('js/libs/jquery-164.js').wait()
	.script('js/cloud-min.js')
<% else %>
$LAB.script('js/libs/jquery-164.js').wait()
	.script('js/libs/twitter-widget.js')
	.script('js/libs/tw-carousel-min.js')	
	.script('js/plugins/jquery.tooltip.min.js')
	.script('js/plugins/jcarousellite-min.js')
	.script('js/cloud-init.js')
<% end %>

</script>