		<div class="share-nota">
			<ul class="alignleft">
        <li>
        	<iframe width="120" scrolling="no" height="25" frameborder="0" src="http://platform0.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=es&amp;related=todapasion%3ALa%20tribuna%20del%20hincha%20en%20la%20web&amp;text=<%= @item[:twitter] %>&amp;url=http%3A%2F%2Ftn.com.ar%2Fnoticias%2F39394949-lorem-ipsum-dolor-sit-amet&amp;via=todonoticias" allowtransparency="true" class="tw-share-button"></iframe>
        </li>
        <li>
        	<fb:like width="210" type="like" send="true" layout="button_count" show_faces="false" action="recommend" colorscheme="light" href="http://tn.com.ar/envivo/24hs/HD"></fb:like>
        </li>
			</ul>
			<ul class="alignright follow">
				
				<li class="tn"><a href="https://twitter.com/todonoticias" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @todonoticias</a></li>
				<li class="trends"><a href="https://twitter.com/tntrends" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @tntrends</a></li>
				
				<li class="link"><a href="#" class="icon-print" title="versión de la nota para imprimir">Print</a></li>
			</ul>
		</div>
