---
title: ¿Qué es el RSS?
---
<section id="rss">
	<header class="flow">
		<h1>¿Qué es el RSS?</h1>
	</header>

	<div class="content">
    <div class="drop-line">
      <p>Ya no necesitas buscar las noticias: ahora ellas te encuentran. La tecnología RSS (Real Simple Syndication), es un sistema que te alertará automáticamente de las novedades
         de www.TN.com.ar y de otros sitios de su interés.</p>
      <p>Para ello necesitas de un agregador RSS, un programa que te permitirá visualizar las últimas noticias cuando lo desees. Algunos pueden ser descargados de Internet en tu
         computadora, mientras que otros funcionan en un sitio web, sin necesidad de instalar ningún programa.</p>
      <p>Si querés saber más, consulta <a href="http://es.wikipedia.org/wiki/RSS" target="_blank" rel="nofollow">este artículo de la Wikipedia</a>.
         Si querés comenzar a usar los RSS www.TN.com.ar, estos son los canales.</p>
    </div>

		<ul>
			<li>
			   <a href="/ultimas_noticias/rss.xml" class="icon"></a>
				<h2>Canal TN Hoy</h2> <a href="/ultimas_noticias/rss.xml">
					http://www.tn.com.ar/ultimas_noticias/rss.xml </a>
			</li>
			<li>
			   <a class="icon" href="/secciones/politica/feed"></a>
				<h2>Canal Política</h2> <a href="/secciones/politica/feed">http://www.tn.com.ar/secciones/politica/feed</a>
			</li>
			<li>
			 <a class="icon"  href="/secciones/policiales/feed"></a>
				<h2>Canal Policiales</h2> <a href="/secciones/policiales/feed">http://www.tn.com.ar/secciones/policiales/feed</a>
			</li>
			<li>
			 <a class="icon"  href="/secciones/deportes/feed"></a>
				<h2>Canal Deportes</h2> <a href="/secciones/deportes/feed">http://www.tn.com.ar/secciones/deportes/feed</a>
			</li>
			<li>
			 <a class="icon"  href="/secciones/internacional/feed"></a>
				<h2>Canal Internacional</h2> <a href="/secciones/internacional/feed">http://www.tn.com.ar/secciones/internacional/feed</a>
			</li>
			<li>
			 <a class="icon"  href="/secciones/sociedad/feed"></a>
				<h2>Canal Sociedad</h2> <a href="/secciones/sociedad/feed">http://www.tn.com.ar/secciones/sociedad/feed</a>
			</li>
			<li>
			 <a class="icon"  href="/secciones/salud/feed"></a>
				<h2>Canal Salud</h2> <a href="/secciones/salud/feed">http://www.tn.com.ar/secciones/salud/feed</a>
			</li>
			<li>
			 <a class="icon"  href="/secciones/tecno/feed"></a>
				<h2>Canal Tecno</h2> <a href="/secciones/tecno/feed">http://www.tn.com.ar/secciones/tecno/feed</a>
			</li>
			<li>
			 <a class="icon"  href="/secciones/show/feed"></a>
				<h2>Canal Show</h2> <a href="/secciones/show/feed">http://www.tn.com.ar/secciones/show/feed</a>
			</li>
		</ul>
	</div>
</section>
