---
extraclass: 'ckeditor node-type-publish'
datapage: 'publish'
extracss: 'publish'
page_javascript: "TN.initfuncs.push('setup_publish');"
---
    <form action="http://tn.com.ar/test-form.php" class="publish wrapper clearfix" method="post">
      <fieldset>
	      <ul>
	       <li class="clearfix">
	         <label>Título:</label>
	         <input class="text" type="text"/>
	       </li>
         <li class="clearfix">
           <label>Personajes:</label>
           <input class="text" type="text"/></td>
           <div class="desc">Ejemplo: Diego Maradona, Carlos Tevez, etc.</div>
         </li>
	        <li class="clearfix">
	          <label>Temas:</label>
	          <input class="text" type="text" />
	          <div class="desc">Ejemplo: Violencia en el fútbol, Superclásico, etc.</div>
	        </li>
          <li>
            <label>Sección:</label>
              <select >
                <option>Opcion 1</option>
                <option>Opcion 2</option>
              </select>
          </li>
        </ul>
	    </fieldset>

			<textarea id="ckeditor-note"></textarea>

			<div class="actions clearfix">
        <%= render 'nota-interna/publish-to' %>

			  <input id="publish-button" type="submit" class="more rounded submit" value="Publicar" />
			  <input type="reset" class="more rounded submit" value="Cancelar" />
			</div>
			</form>
