<ul class="general-menu clearfix" id="all-news">
  <li class="first"><a href="#" <% if (@active == 'cine') %>class="active"<%end%>>Cine</a></li>
  <li><a  href="#" <% if (@active == 'teatros') %>class="active"<%end%>>Teatros</a></li>
  <li><a  href="#" <% if (@active == 'recital') %>class="active"<%end%>>Recitales</a></li>
</ul>