<div class="twitter_module">
  <div class="header">
        <form class="search">
      <input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder" />
      <input class="submit" type="submit" value="Buscar" />
    </form>
  </div>
  <div class="content">
      <script src="<%= assets_url %>js/libs/twitter-widget-min.js"></script>
      <script>
       var twt_search = new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '#Xmen',
        interval: 4000,
        width: 593,
        height: 1000,
        theme: { shell: { background: '#ffffff', color: '#444444' },
                 tweets: { background: '#ffffff', color: '#444444' }
        },
        features: { scrollbar: false, loop: true, live: true, hashtags: true, timestamp: true, avatars: true, toptweets: true, behavior: 'default' }
      });
      setTimeout("twt_search.render().start()", 2000);
      </script>
  </div>

</div><!-- end .twitter-module -->
