<div id="copasudamericana-widget-fixture" class="widget widget-torneo widget-fixture">

    <div id="fixture-road-map" class="tab clearfix">  
        
        <div class="headerMap">
            <div class="titleMap">
             <h2>Fixture</h2>
            </div>
        </div>

        <div class="col-1">
          <ul>
            <li class="date-fixture">26/08 al 24/09</li>
            <li class="country-fixture"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
          </ul>
        </div>

        <div class="col-2">
          <ul>
            <li class="mod-1">IDA</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num ">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num"> 2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>

        <div class="col-3">
           <ul>
            <li class="mod-2">VUE<br/>LTA</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num ">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>
        <div class="col-4">
            <ul>
            <li class="mod-3">GLOBAL</li>
            <li class="country-fixture-num">2(7)</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num ">0</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">4(5)</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">3(2)</li>
          </ul>
        </div>

        <div class="col-5">
            <ul>
              <li class="space"><div class="connect"></div></li>
              <li class="fx1"><div class="connect"></div></li>
              <li class="fx2"><div class="connect"></div></li>
              <li class="fx3"><div class="connect"></div></li>
            </ul>
        </div>
        
        <div class="col-6">
          <ul>
            <li class="date-fixture">26/08 al 24/09</li>
            <li class="country-fixture space"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space fx1"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space fx2"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture space fx2"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
          </ul>
        </div>
        <div class="col-7">
          <ul>
            <li class="mod-4">IDA</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space fx1">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space fx2">2</li>
            <li class="country-fixture-num ">2</li>
            <li class="country-fixture-num space fx2">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>
        <div class="col-8">
            <ul>
            <li class="mod-5">VUE<br/>LTA</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space fx1">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num space fx2">2</li>
            <li class="country-fixture-num ">2</li>
            <li class="country-fixture-num space fx2">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>
        <div class="col-9">
          <ul>
            <li class="mod-6">GLOBAL</li>
            <li class="country-fixture-num space">2</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num space fx1">2</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num space fx2">2</li>
            <li class="country-fixture-num ">0</li>
            <li class="country-fixture-num space fx2">2</li>
            <li class="country-fixture-num">0</li>
          </ul>
        </div>
        <div class="col-10">
            <ul>
              <li class="space"><div class="connect"></div></li>
              <li class="fx1"><div class="connect"></div></li>
            </ul>
        </div>
        <div class="col-11">
          <ul>
            <li class="date-fixture">26/08 al 24/09</li>
            <li class="country-fixture fx1"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
            <li class="country-fixture fx2"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
          </ul>
        </div>
        <div class="col-12">
          <ul>
            <li class="mod-1">IDA</li>
            <li class="country-fixture-num fx1">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num fx2">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>

        <div class="col-13">
           <ul>
            <li class="mod-2">VUE<br/>LTA</li>
            <li class="country-fixture-num fx1">2</li>
            <li class="country-fixture-num">2</li>
            <li class="country-fixture-num fx2">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>
        <div class="col-14">
            <ul>
            <li class="mod-3">GLOBAL</li>
            <li class="country-fixture-num fx1">2</li>
            <li class="country-fixture-num">0</li>
            <li class="country-fixture-num fx2">2</li>
            <li class="country-fixture-num">0</li>
          </ul>
        </div>
        <div class="col-15">
          <ul>
              <li class="space"><div class="connect"></div></li>
          </ul>
        </div>
        <div class="col-16">
          <ul>
            <li class="date-fixture">26/08 al 24/09</li>
            <li class="country-fixture fx3"><img src="<%= base_url %>images/paraguay.jpg"/><a href="#" title="Ficha">Velez Sarfield</a></li>
            <li class="country-fixture"><img src="<%= base_url %>images/argentina.jpg"/><a href="#" title="Ficha">Boca Junior</a></li>
          </ul>
        </div>
        <div class="col-17">
          <ul>
            <li class="mod-1">IDA</li>
            <li class="country-fixture-num fx3">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>

        <div class="col-18">
           <ul>
            <li class="mod-2">VUE<br/>LTA</li>
            <li class="country-fixture-num fx3">2</li>
            <li class="country-fixture-num">2</li>
          </ul>
        </div>
        <div class="col-19">
            <ul>
            <li class="mod-3">GLOBAL</li>
            <li class="country-fixture-num fx3">2</li>
            <li class="country-fixture-num">0</li>
          </ul>
        </div>
    </div>

  </div>