  <div id="goleadores-widget-fixture" class="widget widget-fixture">
  
    <div class="header">
      <div class="title">
        <h2>Asistidores</h2>
      </div>
    </div>
    
    <div id="posiciones" class="tab clearfix fixW">
      <table id="descenso" class="defineW">
        <thead>
          <tr class="bgTitle">
            <th class="equipo">Jugador</th>
            <th class="thDate">Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" /> Velez Sarfield</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/san-lorenzo.png" width="19" height="21" />Boca juniors</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/sanmartin.png" width="19" height="21" />River Plate</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/unionsantafe.png" width="19" height="21" />Racing Club</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" />Independiente</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/allboys.png" width="19" height="21" />Velez Sarfield</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/argentinos.png" width="19" height="21" />Boca Juniors</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/arsenal.png" width="19" height="21" />River Plate</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/belgranocba.png" width="19" height="21" />Racing Club</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/boca.png" width="19" height="21" />Independiente</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/colon.png" width="19" height="21" />Velez Sarfield</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/velez.png" width="19" height="21" />Boca Juniors</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/godoy-cruz.png" width="19" height="21" />River Plate</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/independiente.png" width="19" height="21" />Racing Club</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/lanus.png" width="19" height="21" />Independiente</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/newell.png" width="19" height="21" />Velez Sarfield</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/quilmes.png" width="19" height="21" />Boca Juniors</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/racing.png" width="19" height="21" />River Plate</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/atleticorafaela.png" width="19" height="21" />Racing Club</td>
          </tr>
          <tr>
            <td class="nombre nomfix">Sebastiàn Domìnguez</td>  
            <td class="equipo eqfix"><img src="<%= base_url %>images/escudos/river.png" width="19" height="21" /> Velez Sarfield</td>
          </tr> 
        </tbody>
      </table>

    </div>

  </div>

<!-- asistidores -->