---
title: Fixture
---
<div class="wrapper">

	<div id="coda-nav-1">
		<ul class="sections">
			<li class="readed selected"><a class="xtrig" href="#1" rel="coda-slider-fixture">Primera</a></li>
			<li class="rated"><a class="xtrig" href="#2" rel="coda-slider-fixture">Nacional B</a></li>
			<li class="comented"><a class="xtrig" href="#3"	rel="coda-slider-fixture">Liga Española</a></li>
		</ul>
	</div>
	<div class="coda-slider-wrapper content ">
		<div class="coda-slider preload" id="coda-slider-fixture">
			<div class="panel first-panel">
				<div class="panel-wrapper">

          <h2>
            <strong>Primera A <span> Fecha 9</span></strong>
          </h2>

          <div class="content">

            <table>
              <thead>
                <tr>
                  <th colspan="5">Vie<strong>08.04</strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="time"><span class="final">Final</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/estudiantes" target="_blank">Estudiantes</a> <span class="resultado">0</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/san-lorenzo" target="_blank">S.Lorenzo</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="vivo">Vivo</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/independiente" target="_blank">Independiente</a> <span
                    class="resultado">3</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/godoy-c" target="_blank">Godoy C.</a>
                  <td class="detalle"><a href="#">»</a></td>
                  </td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="5">Sáb<strong>09.04</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/colon" target="_blank">Colón</a><span class="resultado">0</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">2</span><a href="http://tn.com.ar/tags/olimpo" target="_blank">Olimpo</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/arsenal" target="_blank">Arsenal</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>

                  <td class="team team-b"><span class="resultado">2</span><a href="http://tn.com.ar/tags/quilmes" target="_blank">Quilmes</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>

                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/huracan" target="_blank">Huracán</a><span class="resultado">0</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/racing" target="_blank">Racing</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>


                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/river" target="_blank">River</a><span class="resultado">1</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/banfield" target="_blank">Banfield</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>

              </tbody>
            </table>

            <table class="last">
              <thead>
                <tr>
                  <th colspan="5">Dom<strong>10.04</strong></th>
                </tr>
              </thead>
              <tbody>


                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/argentinos" target="_blank">Argentinos</a><span class="resultado">1</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">1</span><a href="http://tn.com.ar/tags/gimnasia" target="_blank">Gimnasia</a></td>
									<td class="detalle"><a href="#">»</a></td>

                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/lanus" target="_blank">Lanús</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/boca" target="_blank">Boca</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/tigre" target="_blank">Tigre</a><span class="resultado">0</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">1</span><a href="http://tn.com.ar/tags/all-boys" target="_blank">All  Boys</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr class="last">
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/velez" target="_blank">Vélez</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>

                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/newell" target="_blank">Newell`s</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
              </tbody>
            </table>
          </div>

				</div>
			</div>
			<div class="panel">
				<div class="panel-wrapper">

          <h2>
            <strong>Nacional B <span>Fecha 3</span> </strong>
          </h2>

          <div class="content">

            <table>
              <thead>
                <tr>
                  <th colspan="5">Vie<strong>08.04</strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="time"><span class="final">Final</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/estudiantes" target="_blank">Estudiantes</a> <span class="resultado">0</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/san-lorenzo" target="_blank">S.Lorenzo</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="vivo">Vivo</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/independiente" target="_blank">Independiente</a> <span
                    class="resultado">3</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/godoy-c" target="_blank">Godoy C.</a>
                  <td class="detalle"><a href="#">»</a></td>
                  </td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="5">Sáb<strong>09.04</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/colon" target="_blank">Colón</a><span class="resultado">0</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">2</span><a href="http://tn.com.ar/tags/olimpo" target="_blank">Olimpo</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/arsenal" target="_blank">Arsenal</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>

                  <td class="team team-b"><span class="resultado">2</span><a href="http://tn.com.ar/tags/quilmes" target="_blank">Quilmes</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>

                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/huracan" target="_blank">Huracán</a><span class="resultado">0</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/racing" target="_blank">Racing</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>


                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/river" target="_blank">River</a><span class="resultado">1</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/banfield" target="_blank">Banfield</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>

              </tbody>
            </table>

            <table class="last">
              <thead>
                <tr>
                  <th colspan="5">Dom<strong>10.04</strong></th>
                </tr>
              </thead>
              <tbody>


                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/argentinos" target="_blank">Argentinos</a><span class="resultado">1</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">1</span><a href="http://tn.com.ar/tags/gimnasia" target="_blank">Gimnasia</a></td>
									<td class="detalle"><a href="#">»</a></td>

                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/lanus" target="_blank">Lanús</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/boca" target="_blank">Boca</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/tigre" target="_blank">Tigre</a><span class="resultado">0</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">1</span><a href="http://tn.com.ar/tags/all-boys" target="_blank">All  Boys</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr class="last">
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/velez" target="_blank">Vélez</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>

                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/newell" target="_blank">Newell`s</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
      <div class="panel">
				<div class="panel-wrapper">

          <h2>
            <strong>Liga Española <span>Fecha 12</span></strong>
          </h2>

          <div class="content">

            <table>
              <thead>
                <tr>
                  <th colspan="5">Vie<strong>08.04</strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="time"><span class="final">Final</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/estudiantes" target="_blank">Estudiantes</a> <span class="resultado">0</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/san-lorenzo" target="_blank">S.Lorenzo</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="vivo">Vivo</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/independiente" target="_blank">Independiente</a> <span
                    class="resultado">3</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/godoy-c" target="_blank">Godoy C.</a>
                  <td class="detalle"><a href="#">»</a></td>
                  </td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="5">Sáb<strong>09.04</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/colon" target="_blank">Colón</a><span class="resultado">0</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">2</span><a href="http://tn.com.ar/tags/olimpo" target="_blank">Olimpo</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/arsenal" target="_blank">Arsenal</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>

                  <td class="team team-b"><span class="resultado">2</span><a href="http://tn.com.ar/tags/quilmes" target="_blank">Quilmes</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>

                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/huracan" target="_blank">Huracán</a><span class="resultado">0</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/racing" target="_blank">Racing</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>


                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/river" target="_blank">River</a><span class="resultado">1</span></td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/banfield" target="_blank">Banfield</a></td>
                  <td class="detalle"><a href="#">»</a></td>
                </tr>

              </tbody>
            </table>

            <table class="last">
              <thead>
                <tr>
                  <th colspan="5">Dom<strong>10.04</strong></th>
                </tr>
              </thead>
              <tbody>


                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/argentinos" target="_blank">Argentinos</a><span class="resultado">1</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">1</span><a href="http://tn.com.ar/tags/gimnasia" target="_blank">Gimnasia</a></td>
									<td class="detalle"><a href="#">»</a></td>

                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/lanus" target="_blank">Lanús</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/boca" target="_blank">Boca</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr>
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/tigre" target="_blank">Tigre</a><span class="resultado">0</span>
                  </td>
                  <td class="pipe">|</td>
                  <td class="team team-b"><span class="resultado">1</span><a href="http://tn.com.ar/tags/all-boys" target="_blank">All  Boys</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
                <tr class="last">
                  <td class="time"><span class="to-play">19:00hs</span></td>
                  <td class="team team-a"><a href="http://tn.com.ar/tags/velez" target="_blank">Vélez</a><span class="resultado">2</span>
                  </td>
                  <td class="pipe">|</td>

                  <td class="team team-b"><span class="resultado">0</span><a href="http://tn.com.ar/tags/newell" target="_blank">Newell`s</a></td>
									<td class="detalle"><a href="#">»</a></td>
                </tr>
              </tbody>
            </table>
    
          </div>

				</div>
			</div>
		</div>
	</div>
</div>
