---
title: Comunidad configuracion
menuitem: 1
---
<!-- comunidad/configuracion-alert.html -->

  <div class="messages error">
    <ul>
      <li>El campo Nombre de usuario es obligatorio.</li>
      <li>El campo Contraseña es obligatorio.</li>
    </ul>
  </div>

  <h1>La Comunidad de TN</h1>

   <%= render 'comunity-menu' %>

  <form method="post" enctype="multipart/form-data" action="<%= test_form %>" class="config-basic">
    <fieldset class="title">
     <h2>Mis datos</h2>
    </fieldset>
    <fieldset class="content no-margin">
      <table>
        <tr>
          <th><label for="reg-firstname">Nombre:</label></th>
          <td><input type="text" id="reg-firstname" name="reg-firstname" value="Lorem ipsum" /></td>
        </tr>
        <tr>
          <th><label for="reg-lastname">Apellidos:</label></th>
          <td><input type="text" id="reg-lastname" name="reg-lastname" value="Dolor" /></td>
        </tr>
        <tr>
          <th><label for="reg-email">Correo electrónico:</label></th>
          <td><input type="text" id="reg-email" name="reg-email" value="lorem@ipsum.com" /></td>
        </tr>

        <tr class="avatar">
          <th>Imagen:</th>
          <td>
            <img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="avatar lzl" width="48" height="48" />
            <div class="content">

							<div class="fileinput">
							  <input type="file" class="file" name="file-avatar">
							  <div class="fakefile rounded more">Cambiar imagen:</div>
							</div>

	            <label for="delete-avatar" class="delete-avatar"><input value="delete-avatar" type="checkbox" name="delete-avatar" id="delete-avatar" />Eliminar esta imagen</label>
            </div>
          </td>
        </tr>
        <tr class="radio">
          <th><span>Sexo:</span></th>
          <td>
             <label><input type="radio" id="reg-sex-m" name="reg-sex" value="masculino" checked="checked" />Masculino</label>
             <label><input type="radio" id="reg-sex-f" name="reg-sex" value="feminino" />Femenino</label>
           </td>
        </tr>

        <tr>
          <th><label for="reg-estado">Estado civil:</label></th>
          <td>
            <select name="reg-estado" id="reg-estado">
              <option>Soltero</option>
              <option>Casado</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label for="reg-bd">Fecha de nac.:</label></th>
          <td><input type="text" id="reg-bd" name="reg-bd" value="" /></td>
        </tr>
    </table>
    </fieldset>
    <fieldset class="title">
      <h2>Cambio de contraseña</h2>
    </fieldset>
    <fieldset class="content">
      <table>
        <tr>
          <th><label for="reg-password">Nueva Contraseña:</label></th>
          <td><input type="password" id="reg-password" name="reg-password" /> </td>
        </tr>
        <tr>
          <th><label for="reg-password2">Repetir Contraseña:</label> </th>
          <td><input type="password" id="reg-password2" name="reg-password2" /> </td>
        </tr>
      </table>
    </fieldset>

    <fieldset class="submit">
      <input class="more submit rounded"  type="submit" value="Guardar" />
      <input class="more submit rounded"  type="submit" value="Cancelar" />
    </fieldset>
  </form>
