--- 
title: Comunidad configuracion
menuitem: 2
---
<!-- comunidad/configuracion-alert.html -->


  <h1>La Comunidad de TN</h1>
  
   <%= render 'comunity-menu' %>

  <form method="post" action="" class="config-accounts">
    <fieldset class="title">
     <h2>Conectá tu cuenta de la Comunidad TN con las siguientes redes sociales y
elegí qué actividades deseás compartir.</h2>
    </fieldset>
    
    <fieldset class="content">
      <ul>
        <li class="first">
          <div class="account twitter">Twitter</div>
          <a class="more rounded">Desactivar</a>
        </li>
        <li>
          <div class="account facebook">Facebook</div>
          <a class="more rounded">Activar</a>
        </li>
      </ul>
    </fieldset>
  </form>