--- 
title: Comunidad configuracion
menuitem: 3
---
<!-- comunidad/configuracion-alert.html -->


  <h1>La Comunidad de TN</h1>
  
   <%= render 'comunity-menu' %>

  <form method="post" action="" class="config-delete-account">
    <fieldset class="title">
     <h2>Lorem ipsum</h2>
    </fieldset>  
    <fieldset class="submit">
      <input class="more submit rounded"  type="submit" value="Desactivar" />
    </fieldset>
  </form>