  <h1>La Comunidad de TN</h1>

<form action="#" accept-charset="UTF-8" method="post" id="user-pass-reset" class="reset-pass">
	<fieldset class="title">
	 <p>Este es un acceso de un solo uso para <em>Juan Farias</em> y caducará el <em>Mié, 2011-06-15 10:39</em>.</p>
	 <p>Pulse este botón para conectarse al sitio y cambiar su contraseña.</p>
	 <p>Este inicio de sesión sólo se puede realizar una vez.</p>
  </fieldset>
  <fieldset class="submit">
	 <input type="submit" name="op" id="edit-submit" value="Iniciar sesión" class="form-submit submit more rounded">
	</fieldset>
	<input type="hidden" name="form_build_id" id="form-20dbbb4ded6a7e7d6a6835578d38b000" value="form-20dbbb4ded6a7e7d6a6835578d38b000">
	<input type="hidden" name="form_id" id="edit-user-pass-reset" value="user_pass_reset">
</form>