--- 
title: Comunidad contraseña, Alerta
header: alert
login: true
notloggedin: true
---
<!-- comunidad/contrasena-alert.html -->

<div class="main">

  <form method="post" action="" class="forgot-pass">
    <h1>La Comunidad de TN</h1>  
    <fieldset class="title">
     <h2>¿Olvidaste tu contraseña?</h2>
    </fieldset>
    <fieldset class="content">
      <div class="forgot-text">Se te enviarán las instrucciones sobre cómo reestablecer tu contraseña a
la dirección de correo electrónico asociada a tu cuenta.</div>
      <table>
        <tr>
          <th><label for="reg-email">Correo electrónico:</label></th>
          <td><input type="text" id="reg-email" name="reg-email" value="" /></td>
        </tr>
      </table>
    </fieldset>
    <fieldset class="submit">
      <input class="more submit rounded" type="submit" value="Ingresar" />
    </fieldset>
  </form>

</div>