---
title: Comunidad login, Alerta
header: alert
login: true
notloggedin: true
---
<!-- comunidad/login-alert.html -->
<div class="main">
	<form method="post" action="" class="login">
    <h1>La Comunidad de TN</h1>	
    <p class="conect-social">También podés registrarte con <a class="fbconnect-tn" href="#">Facebook</a> y <a href="/twitter/redirect">Twitter</a></p>
	  <fieldset class="title">
	   <h2>Ingresá a la Comunidad TN</h2>
	  </fieldset>
		<fieldset class="content">
			<table>
				<tr>
					<th><label for="reg-user">Correo electrónico:</label></th>
					<td><input type="text" id="reg-user" name="reg-user" value="" /></td>
				</tr>
				<tr>
					<th><label for="reg-password">Contraseña:</label></th>
					<td>
					   <input type="password" id="reg-password" name="reg-password" />
					   <a href="#">¿Olvidaste la contraseña?</a>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset class="submit">
			<input class="more submit rounded" type="submit" value="Ingresar" />
		</fieldset>
		<fieldset class="not-registered-yet">
			  ¿No sos usuario todavía? <a href="/user/register">Registrate</a>
	  </fieldset>		
	</form>

</div>