---
title: Lorem Ipsum | TN.com.ar | Todo Noticias
description: Nombre y Apellido (si no tiene, nombre de usuario) está en TN. Unite para contactarte con Nombre y Apellido (si no tiene, nombre de usuario) y con otras personas que quizá conozcas. TN te mantiene informado y te conecta con la gente que te interesa
new: true
menuitem: 1
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
---
<section class="user-data">
  <div class="user-meta">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <h1>Lorem Ipsum es en TN <a href="#">@loremip</a></h1>
  </div>
  <%= render 'share/share', :share => "profile" %>
</section>

<section class="last-comments">
  <h3>Últimos comentarios <span class="comments-count">(146 en los últimos 3 meses)</span></h3>
  <div id="last-comments" data-usuario="yyy">
    <p><a href="#">Comentó</a> la nota <a href="#">Morales: "Un empate técnico entre Alfonsín y Duhalde complica las cosas para octubre"</a>, en <a href="#">Política</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Cristina Kirchner dará una conferencia de prensa a las 11.30</a>, en <a href="#">Política</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Emma Watson, ¿de novia?</a>, en <a href="#">Show</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Crack y amigo de Messi: Cesc Fabregas ya enamora al Barcelona</a>, en <a href="#">Deportes</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Skatalites: "Contamos con una larga trayectoria en la música"</a>, en <a href="#">Música</a></p>
  </div>
  <!-- a id="community-more-comments" href="#" class="more rounded">Ver más comentarios</a -->
</section>

<section class="last-comments">
<h3>Últimas reacciones</h3>
  <div id="last-comments" data-usuario="yyy">
    <p>Le <a href="">importa</a> esto: <a href="http://tn.com.ar/deportes/00055352/superclasico-sale-baldassi-entra-loustau">Superclásico: sale Baldassi, entra Loustau</a></p>
    <p>Le <a href="">indigna</a> esto: <a href="http://tn.com.ar/internacional/00055465/prision-preventiva-para-strauss-kahn">Strauss Kahn: del FMI a una cárcel en una isla</a></p>
    <p>Le <a href="">aburre</a> esto: <a href="http://tn.com.ar/show/00055486/madonna-y-lady-gaga-son-primas-lejanas">Madonna y Lady Gaga son primas lejanas</a></p>
    <p>Le <a href="">gusta</a> esto: <a href="http://tn.com.ar/deportes/00055646/palermo-conto-el-final-de-su-pelicula">Palermo contó el final de su película </a></p>
  </div>
</section>


<section class="last-registerd block">
<p class="register">Si ya sos usuario, <a href="/login">entrá</a>. Si no, podés <a href="/registrar">registrarte</a></p>
<h3>Últimos registrados</h3>
  <ul class="clearfix">
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st2.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st3.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st0.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>
    <li class="last"> <a href="#" title="Nombre Apellido" rel="me"> <img class="lzl avatar" src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="http://st1.pressbox.com.ar/output/images/data/avatar.jpg" width="48" height="48" alt="avatar" style="display: block; "> </a> </li>

</ul>
</section>

<section class="directory">
  <h3>Directorio de la Comunidad TN</h3>
  <ul class="alpha-dir">
    <li><a href="#">A</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">C</a></li>
    <li><a href="#">D</a></li>
    <li><a href="#">E</a></li>
    <li><a href="#">F</a></li>
    <li><a href="#">G</a></li>
    <li><a href="#">H</a></li>
    <li><a href="#">I</a></li>
    <li><a href="#">J</a></li>
    <li><a href="#">K</a></li>
    <li><a href="#">L</a></li>
    <li><a href="#">M</a></li>
    <li><a href="#">N</a></li>
    <li><a href="#">O</a></li>
    <li><a href="#">P</a></li>
    <li><a href="#">Q</a></li>
    <li><a href="#">R</a></li>
    <li><a href="#">S</a></li>
    <li><a href="#">T</a></li>
    <li><a href="#">U</a></li>
    <li><a href="#">V</a></li>
    <li><a href="#">W</a></li>
    <li><a href="#">X</a></li>
    <li><a href="#">Y</a></li>
    <li><a href="#">Z</a></li>
  </ul>
</section>
