---
title: Comunidad registro, Alerta
header: alert
login: false
notloggedin: true
---
<!-- comunidad/registro-alert.html -->
<div class="main">
	<form method="post" action="" class="register">
    <h1>Unite a La Comunidad de TN</h1>
    <p class="conect-social">También podés registrarte con <a class="fbconnect-tn" href="#">Facebook</a> y <a href="/twitter/redirect">Twitter</a></p>
		<fieldset class="content">
			<table>
				<tr>
					<th><label for="reg-firstname">Nombre:</label></th>
					<td><input type="text" id="reg-firstname" name="reg-firstname" value="" /></td>
				</tr>
				<tr>
					<th><label for="reg-lastname">Apellidos:</label></th>
					<td><input type="text" id="reg-lastname" name="reg-lastname" value="" /></td>
				</tr>
				<tr>
					<th><label for="reg-user">Usuario:</label></th>
					<td><input type="text" id="reg-user" name="reg-user" value="" /></td>
				</tr>
				<tr>
					<th><label for="reg-email">Correo electrónico:</label></th>
					<td><input type="text" id="reg-email" name="reg-email" value="" /></td>
				</tr>
				<tr class="radio">
					<th><span>Sexo:</span></th>
					<td>
					   <label><input type="radio" id="reg-sex-m" name="reg-sex" value="masculino" checked="checked" />Masculino</label>
					   <label><input type="radio" id="reg-sex-f" name="reg-sex" value="feminino" />Femenino</label>
					 </td>
				</tr>
			
        <tr>
          <th><label for="reg-estado">Estado civil:</label></th>
          <td>
						<select name="reg-estado" id="reg-estado">
						  <option>Soltero</option>
						  <option>Casado</option>
						</select>
          </td>
        </tr>
        <tr>
          <th><label for="reg-bd">Fecha de nac.:</label></th>
          <td><input type="text" id="reg-bd" name="reg-bd" value="" /></td>
        </tr>
                				
				<tr>
					<th><label for="reg-password">Contraseña:</label></th>
					<td><input type="password" id="reg-password" name="reg-password" />	</td>
				</tr>
				<tr>
					<th><label for="reg-password2">Repetir Contraseña:</label>	</th>
					<td><input type="password" id="reg-password2"	name="reg-password2" />	</td>
				</tr>
				<tr class="recaptcha">
					<td colspan="2">
				    <%= render 'recaptcha' %> 
          					   
			   </td>
				</tr>
			</table>
		</fieldset>

		<fieldset class="submit">
			<label for="reg-tos"><input type="checkbox" name="reg-tos" id="reg-tos" /> He leído y acepto los <a href="#">Términos y	condiciones de uso</a>.</label>
      <input class="more submit rounded"  type="submit"	value="Registrarse" />
		</fieldset>
	</form>

</div>