  <div class="comentarios tmp">
    <div class="comment-container">
      <div class="user-meta clearfix">
        <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
        <p class="text">A <a href="/g33k" rel="me">Nelson Fernandez</a> le <a href="/tnylagente/ahora/leimporta">importa</a> esto: <a href="">Título de la nota</a></p>
        <p class="timeago" data-timestamp="1337871195">hace 4 horas</p>
      </div>
    </div>
  </div>
  
  <div class="comentarios tmp">
   <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me">Nelson Fernandez</a> se <a href="/tnylagente/ahora/fan">hizo fan</a> de esto: <a href="">Título de la nota</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
      <p class="timeago" data-timestamp="1337871185">hace 5 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios tmp">
   <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me">Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Título de la nota</a>, en <a href="">Música</a></p>
      <p class="timeago" data-timestamp="1337871180">hace 6 horas</p>
    </div>
    </div>
  </div>