---
title: Notas, fotos y videos de USUARIO | TN y la Gente | TN.com.ar | Todo Noticias
description: Las últimas notas, fotos y videos de USUARIO en TN y la Gente. Leélas, compartilas y sorprendete en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
new: true
menuitem: 1
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
prev: true
next: true
heightfixed: true
twitter_text: "Estoy mirando las últimas notas publicadas de [USUARIO] en TN y la Gente"
---
<section class="user-data">
  <div class="user-meta">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <h1>Notas de <a href="#">@loremip</a> en TN y la Gente</h1>
  </div>
  <%= render 'share/share', :share => "profile" %>
</section>

<section class="last-comments">
  <h3>Notas publicadas</h3>
  <div id="last-comments" data-usuario="yyy">
    <p><a href="#">Morales: "Un empate técnico entre Alfonsín y Duhalde complica las cosas para octubre"</a>, en <a href="#">Política</a></p>
    <p><a href="#">Cristina Kirchner dará una conferencia de prensa a las 11.30</a>, en <a href="#">Política</a></p>
    <p><a href="#">Emma Watson, ¿de novia?</a>, en <a href="#">Show</a></p>
    <p><a href="#">Crack y amigo de Messi: Cesc Fabregas ya enamora al Barcelona</a>, en <a href="#">Deportes</a></p>
    <p><a href="#">Skatalites: "Contamos con una larga trayectoria en la música"</a>, en <a href="#">Música</a></p>
  </div>
  <!-- a id="community-more-comments" href="#" class="more rounded">Ver más comentarios</a -->
</section>

<%= render 'pager/', :tag=>'div' %>