---
title: USUARIO en VIVO | TN y la Gente | TN.com.ar | Todo Noticias
description: Lo que está haciendo USUARIO en TN y la Gente está en TN.com.ar, el sitio del canal de noticias más visto de Argentina. Conectate y se parte de TN y la Gente.
new: true
menuitem: 1
page_javascript: "TN.initfuncs.push('setup_nota_interna'); TN.initfuncs.push('setup_vivo');"
more: true
extraclass: tnylg
twitter_text: "Esto%20est%C3%A1%20haciendo%20USUARIO%20%23ahora%20en%20TN%20y%20la%20Gente%3A"
---
  <header>
    <h1 class="head-title"><a href="#">loremip</a> en TN y la gente</h1>
     <%= render 'share/share', :share => "section" %>
  </header>


  <div class="content" id="realtime">
    
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/legusta">gusta</a> esto: <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a></p>
      <p class="timeago" data-timestamp="1337871187">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/legusta">gusta</a> esto: <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me">Nelson Fernandez</a> publicó la nota <a href="">Título de la nota</a>, en <a href="">TN y la Gente</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.</a>, en <a href="">Política</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/leaburre">aburre</a> esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> le tiró un <a href="/tnylagente/ahora/ponele">ponele</a> a esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a>, en <a href="">Show</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/ledaigual">da igual</a> esto: <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> se <a href="/tnylagente/ahora/duerme">duerme</a> esto: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Pellentesque at dolor non lectus sagittis semper. Donec quis mi. Duis eget pede</a>, en <a href="">Deportes</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text">A <a href="/g33k" rel="me" >Nelson Fernandez</a> le <a href="/tnylagente/ahora/leindigna">indigna</a> esto: <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text">Para <a href="/g33k" rel="me" >Nelson Fernandez</a> esto es una <a href="/tnylagente/ahora/derrotacultural">derrota cultural</a>: <a href="">Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel, condimentum vitae, est</a> en <a href="http://laviola.tn.com.ar" title="La Viola">La Viola</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
  
  <div class="comentarios">
  <div class="comment-container">
    <div class="user-meta clearfix">
      <a href="/g33k" rel="me" class="avatar"><img src="<%= base_url %>/images/data/avatar.jpg" width="48" height="48" alt="Nelson Fernandez" title="Nelson Fernandez"/></a>
      <p class="text"><a href="/g33k" rel="me" >Nelson Fernandez</a> publicó un <a href="">comentario</a> en la nota <a href="">Phasellus arcu tellus, ultricies id, consequat id, lobortis nec</a>, en <a href="">Internacionales</a></p>
      <p class="timeago">hace 6 horas</p>
    </div>
    </div>
  </div>
</div>

<%= render 'pager/', :tag=>'div' %>