---
title: Reacciones de USUARIO | TN y la Gente | TN.com.ar | Todo Noticias
description: Las reacciones de USUARIO a las notas en TN.com.ar. Miralas, compartilas y opiná en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
new: true
menuitem: 1
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
more: true
heightfixed: true
twitter_text: "Estoy mirando las últimas reacciones de [USUARIO] en TN.com.ar"
---
<section class="user-data">
  <div class="user-meta">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <h1>Reacciones de <a href="#">@loremip</a> en TN.com.ar</h1>
  </div>
  <%= render 'share/share', :share => "profile" %>
</section>

<section class="last-comments">
<h3>Últimas reacciones</h3>
  <div id="last-comments" data-usuario="yyy">
    <p>Le dió <a href="">bronca</a> esto: <a href="http://tn.com.ar/deportes/00055352/superclasico-sale-baldassi-entra-loustau">Superclásico: sale Baldassi, entra Loustau</a></p>
    <p>Sintió <a href="">verguenza</a> con esto: <a href="http://tn.com.ar/internacional/00055465/prision-preventiva-para-strauss-kahn">Strauss Kahn: del FMI a una cárcel en una isla</a></p>
    <p>Le fue <a href="">indiferente</a> esto: <a href="http://tn.com.ar/show/00055486/madonna-y-lady-gaga-son-primas-lejanas">Madonna y Lady Gaga son primas lejanas</a></p>
    <p>Le <a href="">impacto</a> esto: <a href="http://tn.com.ar/deportes/00055646/palermo-conto-el-final-de-su-pelicula">Palermo contó el final de su película </a></p>
    <p>Le <a href="">encantó</a> esto: <a href="http://tn.com.ar/internacional/00055465/prision-preventiva-para-strauss-kahn">Strauss Kahn: del FMI a una cárcel en una isla</a></p>
  </div>
</section>

<%= render 'pager/', :tag=>'div', :texto => 'reacciones'%>