---
title: Comentarios de USUARIO | TN y la Gente | TN.com.ar | Todo Noticias
description: Los comentarios y las ideas de USUARIO están en TN.com.ar. Leélos, compartilos y opiná en TN.com.ar, el sitio del canal de noticias más visto de Argentina.
new: true
menuitem: 1
page_javascript: "TN.initfuncs.push('setup_nota_interna');"
prev: true
heightfixed: true
next: true
twitter_text: "Estoy leyendo los últimos comentarios de [USUARIO] en TN.com.ar"
---
<section class="user-data">
  <div class="user-meta">
    <a class="avatar" href="#"><img src="<%= @site.config[:base_url] %>images/watermark-avatar-2.png" data-src="<%= assets_url %>images/data/avatar.jpg" class="lzl" width="48" height="48" /></a>
    <h1>Comentarios de <a href="#">@loremip</a> en TN.com.ar</h1>
  </div>
  <%= render 'share/share', :share => "profile" %>
</section>

<section class="last-comments">
  <h3>Últimos comentarios <span class="comments-count">(146 en los últimos 3 meses)</span></h3>
  <div id="last-comments" data-usuario="yyy">
    <p><a href="#">Comentó</a> la nota <a href="#">Morales: "Un empate técnico entre Alfonsín y Duhalde complica las cosas para octubre"</a>, en <a href="#">Política</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Cristina Kirchner dará una conferencia de prensa a las 11.30</a>, en <a href="#">Política</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Emma Watson, ¿de novia?</a>, en <a href="#">Show</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Crack y amigo de Messi: Cesc Fabregas ya enamora al Barcelona</a>, en <a href="#">Deportes</a></p>
    <p><a href="#">Comentó</a> la nota <a href="#">Skatalites: "Contamos con una larga trayectoria en la música"</a>, en <a href="#">Música</a></p>
  </div>
  <!-- a id="community-more-comments" href="#" class="more rounded">Ver más comentarios</a -->
</section>

<%= render 'pager/', :tag=>'div' %>