    <div class="block">
      <h3>Secciones</h3>

      <ul>
        <li class="first"><a data-src="/taxonomy/term/0" data-id="0" data-title="Todo" href="/">Todo</a></li>
        <li><a data-src="/politica" data-id="1" data-title="Básicas" href="/basicas">Básicas</a></li>
        <li><a data-src="/policiales" data-id="2" data-title="Escándalos" href="/escándalos">Escándalos</a></li>
        <li><a data-src="/deportes" data-id="4" data-title="El Twitter" href="/el-twitter">El Twitter</a></li>
        <li><a data-src="/internacional" data-id="5" data-title="ShowMatch" href="/showmatch">ShowMatch</a></li>
        <li><a data-src="/sociedad" data-id="7" data-title="Realities" href="/realities">Realities</a></li>
        <li><a data-src="/show" data-id="8" data-title="Zarpadas" href="/zarpadas">Zarpadas</a></li>
        <li><a data-src="/tecnologia" data-id="9" data-title="Sábanas" href="/sabanas">Sábanas</a></li>
        <li><a data-src="/opinion" data-id="10" data-title="Hollywood" href="/hollywood">Hollywood</a></li>
        <li><a data-src="/programas" data-id="11" data-title="Glamour" href="/glamour">Glamour</a></li>
     </ul>

    </div>