<%

items = Array.new

items << 'Susana Giménez'
items << 'Mirta Legrand'
items << 'Marcelo Tinelli'
items << 'Adrián Suar'
items << 'Diego Maradona'
items << 'Moria Casán'
items << 'Jorge Rial'
items << 'Wanda Nara'
items << 'Flor de la V'
items << 'Juanita Viale'
items << 'Natalia Oreiro'

first = true
%>

		<div class="block last">
			<h3>Famosos</h3>
      <ul>
		<% items.each do |item| %>
	    	<li <% if(first == true) %>class="first"<%end%>><h2><a href="/generos/<%= item.urlize(:convert_spaces => true) %>" title="<%= item %>" ><%= item %></a></h2></li>
	    	<% first = false %>
		<% end %>      
      </ul>

		</div>