				<article class="hnews hentry item one-image">
					<hgroup class="clearfix">
						<h1><a href="#" class="url entry-title size-6" rel="bookmark">Demi Moore anunció su divorcio de Ashton Kutcher</a></h1>
            <h2 class="alignleft">Tras los rumores de infidelidad por parte del actor, la actriz hizo público un comunicado que confirma la separación</h2>

            <%= render 'share/share-home' %>
					</hgroup>

					<figure>
						<a href="#" class="url">
              <% if @ribbon == 'advance' %>
							  <span class="ribbon ribbon-advance"></span>
              <% elsif @ribbon == 'lastmoment' %>
							  <span class="ribbon ribbon-last-moment"></span>
              <% elsif @ribbon == 'now' %>
							  <span class="ribbon ribbon-now"></span>
              <% elsif @ribbon == 'breaking-news' %>
							  <span class="ribbon ribbon-breaking-news"></span>
              <% elsif @ribbon == 'live' %>
							  <span class="ribbon ribbon-live"></span>
              <% elsif @ribbon == 'last-moment' %>
							  <span class="ribbon ribbon-last-moment"></span>
              <% end %>

						  <img class="photo" alt="" src="<%= assets_url %>images/data/tnf-main-1.jpg" width="950" height="534" />
						  <span class="bg"></span>
						</a>
            <figcaption class="fn">
              <a title="" href="#" rel="bookmark" class="url fn entry-title">Demi Moore anunció su divorcio de Ashton Kutcher.</a>
            </figcaption>
					</figure>

					<footer>
						<time pubdate="pubdate" class="updated" datetime="2009-11-13T20:00-03:00">20:00</time>
						<div class="author vcard">Autor de la nota</div>
						<div class="source-org vcard">Todo Noticias</div>
					</footer>
				</article>
