    <div class="review-note">
      <h3>¿Y a vos qué te pasa?</h3>

      <div id="votes">
        <ul class="clearfix">
          <li>
            <div class="voto voto2"><span>20%</span></div>
            <button class="rounded button" href="/review/importante" data-rating="0" data-txt="Esta nota de TN.com.ar me gustó">Me hago fan</button>
          </li>
          <li>
            <div class="voto voto0 voto-max"><span>45%</span></div>
            <button class="rounded button" href="/review/increible" data-rating="1" data-txt="Esta nota de TN.com.ar me aburrió">Me Gusta</button>
          </li>
          <li>
            <div class="voto voto2"><span>5%</span></div>
            <button class="rounded button" href="/review/me-gusto" data-rating="2" data-txt="Esta nota de TN.com.ar me dió igual">Ponele</button>
          </li>
          <li>
            <div class="voto voto1"><span>25%</span></div>
            <button class="rounded button" href="/review/mediocre" data-rating="3" data-txt="Esta nota de TN.com.ar me importó">Me Duermo</button>
          </li>
          <li>
            <div class="voto voto4"><span class="below">10%</span></div>
            <button class="rounded button" href="/review/irrelevante" data-rating="4" data-txt="Esta nota de TN.com.ar me dió indignó">Derrota Cultural</button>
          </li>
        </ul>

        <div id="voto-spinner" style="display:none;"><img src="<%= assets_url %>images/blue-spinner.gif" /></div>
      </div>
      <div id="votes-share-fb"><input type="checkbox" name="votes-share-fb" />Compartir el voto en Facebook</div>
      <%= render 'nota-interna/login-reacciones' %>
    </div>