<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*" />
        
        <title>Comunidad</title>
				<style type="text/css">
					/* Client-specific Styles */
					#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
					body{width:100% !important;} /* Force Hotmail to display emails at full width */
					body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */
				</style>
		</head>
		<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin:0; padding:0; font-size: 16px; font-family:Arial; color:#000000;">
      
      <table width="620px" align="center" border="0" cellpadding="0" cellspacing="0" height="100%">
        <tr>
          <td width="60px"></td>
          <td width="510px" height="33px" valign="top"><div style="color:#9C9E9F;font-size: 12px;">Este es un mensaje de correo electr&oacute;nico autom&aacute;tico, no lo respondas.</div></td>
        </tr>
        <tr>
          <td height="64px" colspan="3">
	          <table width="620px" align="center" border="0" cellpadding="0" cellspacing="0" height="74px" style="background:#BE0000;">
	            <tr>
	              <td width="500px" height="12px"><h1 style="color: #FFFFFF;display: block;font-family: arial;font-size: 24px;font-weight: bold;height: 41px;line-height: 41px;margin-left:10px; margin-right:0px;margin-bottom:0px;margin-top:0px;padding-left: 50px;">La Comunidad de TN</h1></td>
	              <td width="120" valign="middle"><img src="<%= base_url %>images/bg.jpg" width="120" height="74" style="display:block; float:right;margin-right: 10px;" /></td>              
	            </tr>
	          </table>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div style="margin-bottom: 75px;">
              <p style="display: block;font-size: 17px;margin-top:25px;margin-bottom:12px;color:#000000;">Lorem ipsum,</p>
              <p style="margin-bottom:13px;">Gracias por registrarse en <a style="color:#0056C3;" href="#">TN.com.ar</a> | Todo Noticias.</p>
              <p style="margin-bottom:13px;">Ahora puede iniciar una sesi&oacute;n en <a style="color:#0056C3;" href="#">http://tn.com.ar/user</a></p>
            </div>
            <div style="font-size: 14px;margin-bottom:18px">El equipo de <a style="color:#0056C3;" href="#">TN.com.ar</a> | Todo Noticias</div>
            <div style="color:#9C9E9F; margin-top:18px; margin-bottom: 45px;border-top: #EFEFF0 1px solid;padding-top: 9px;font-size: 10px;">
              <p style="margin-bottom:13px;">Record&aacute; que el uso de La Comunidad est&aacute; sujeto a lo estipulado en los <span style="color:#000000;">T&eacute;rminos y condiciones de uso</span>.</p>
              <p style="margin-bottom:13px;"><span style="color:#000000;">&copy;2011 TN.com.ar</span> | Todos los derechos reservados.</p>
            </div>
          </td>
          <td></td>
        </tr>      
      </table>
      
    </body>
</html>