  <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
  <title><%= @item[:title] %></title>

  <meta property="og:title" content="<%= @item[:title] %>" />
  <meta property="og:description" content="<%= @item[:description] %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://m.tn.com.ar/<%= @item[:project] %>" />
  <meta property="og:image" content="http://cdn.tn.com.ar/sites/all/themes/dozer/images/logo-tn.png" />
  <meta property="og:site_name" content="Todo Noticias Móvil" />
  <meta property="og:region" content="Buenos Aires" />
  <meta property="og:country-name" content="Argentina"/>
  <meta property="fb:app_id" content="346699902992" />

  <meta name="description" content="<%= @item[:description] %>" />

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://cdn.tn.com.ar/sites/all/themes/mobile_dozer/images/touch-icon-114-tn.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://cdn.tn.com.ar/sites/all/themes/mobile_dozer/images/touch-icon-72-tn.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="http://cdn.tn.com.ar/sites/all/themes/mobile_dozer/images/touch-icon-57-tn.png">
    <!-- For nokia devices: -->
    <link rel="shortcut icon" href="http://cdn.tn.com.ar/favicon.ico">

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <meta http-equiv="cleartype" content="on">
	<!-- more tags for your 'head' to consider https://gist.github.com/849231 -->
  

	<% if (@item[:project] != nil) %>
    <% if @site.config[:environment] == 'production' %>
      <link rel="stylesheet" href="css/<%= @item[:project] %>-min.css" type="text/css" />
		  <!--[if IEMobile 7 ]>
		  	<link rel="stylesheet" href="css/iem7-min.css" type="text/css">
		  <![endif]-->
    <% else %>
      <link rel="stylesheet" href="css/reset-mobile.css" type="text/css" />
      <link rel="stylesheet" href="css/style-mobile.css" type="text/css" />
      <link rel="stylesheet" href="css/<%= @item[:project] %>.css" type="text/css" />
		  <!--[if IEMobile 7 ]>
		  	<link rel="stylesheet" href="css/iem7.css" type="text/css">
		  <![endif]-->
    <% end %>
	<% end %>
