    <table width="100%">
      <tr>
        <td width="50%" align="right" class="logo">
          <a title="Todo Noticias" href="http://m.tn.com.ar"><img height="60" width="60" src="images/logo_tn_60x60.png" alt="Todo Noticias"/></a>
        </td>
        <td width="50%" align="left" class="vivo">
          <a href="rtsp://stream.tn.com.ar/live/tnmovil3"><img width="16" height="16" src="images/play.png" /> En Vivo</a>
        </td>
      </tr>
    </table>