<%

twitter = "El canal de noticias más visto de Argentina."

if (@item[:twitter] != nil)
	twitter = @item[:twitter]
end

%>
<!-- header -->
		<div id="header-top">
			<div class="wrapper">
				<% if ( (@back != false) ) %>
			  <a class="back" href="http://tn.com.ar">&laquo;Volver</a>
			  <% end %>
        <div class="logo">
          <a id="todapasion-home" href="http://tn.com.ar/deportes">Todapasion</a>
        </div>
        <%= render 'todapasion-gamecast/share-header',
                    :twitter=>[:via=>'todapasion',
                               :tweet=>twitter,
                               :related=>'todonoticias:El canal de noticias más visto de Argentina.'],
                    :facebook=>[:url=>@item[:facebookurl],
                                :cam=>@item[:facebookcam]] %>
			</div>
		</div>
<!-- end header -->
