	<div id="fb-root"></div>
	<script type="text/javascript" src="http://static.tn.com.ar/sites/all/modules/common/certifica/js/certifica.js?M"></script>
	<script type="text/javascript">
	<!--//--><![CDATA[//><!--
	hitCertifica("200045", "<%= certifica_path %>", "<%= certifica_desc %>");
	//--><!]]>
	</script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4436008-13']);
    _gaq.push(['_setDomainName', '.tn.com.ar']);
    _gaq.push(['_trackPageLoadTime']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
  <script type="text/javascript">
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = "//platform.twitter.com/widgets.js";
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>  
  

	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=346699902992";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>  
