<% require 'uri' %>

        <div class="share">
          <div class="tw">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="<%= @twitter[0][:via] %>" data-text="<%= @twitter[0][:tweet] %>" data-related="<%= @twitter[0][:related] %>" data-lang="es">Tweet</a>
          </div>
          <div class="fb">
            <div class="fb-like" data-href="<%= @facebook[0][:url] %>" data-send="false" data-layout="button_count" data-width="190" data-show-faces="false" data-action="recommend"></div>
          </div>
        </div>