    <% case @item[:header]
      when 'urgente' %>
        <div id="header-ticket" class="alert">
        <div class="alert-left"></div>
          <div class="wrapper">
            <div class="title">Urgente</div><p class="text">MacRumours "confirmó" q las fotos son legítimas, a mi tambien me parece un display port <a href="#">#loremipsum</a></p>
            <div class="reply">
              <a class="reply-tw2" title="compartir" href="http://twitter.com/share?url=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;text=Pedir%20el%20texto%20a%20poner%20[ENLACE]&amp;via=todonoticias" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="reply">
              <a class="reply-fb2" title="compartir" href="http://www.facebook.com/dialog/feed?picture=http%3A%2F%2Fpath%2fa%2Fla%2Fimagen&amp;name=Texto%20de%20la%20alerta&amp;app_id=197081563653884&amp;properties=%7B%22Publicado%20por%22%3A%20%22Todo%20Noticias%22%7D&amp;redirect_uri=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;link=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;description=Texto%20de%20la%20alerta" target="eb_share">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
          </div>
        </div>
      <% when 'tweet' %>
        <div id="header-ticket" class="tweet">
          <div class="wrapper">
            <p class="text"><span class="bird"></span>estoy haciendo un twitt de prueba con 140 caracteres para probar en el <a href="#">www.tn.com.ar</a>, espero que les guste ^^ :P</p>
            <div class="reply">
              <a class="reply-tw" title="compartir" href="http://twitter.com/share?url=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;text=Pedir%20el%20texto%20a%20poner%20[ENLACE]&amp;via=todonoticias" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="reply">
              <a class="reply-fb" title="compartir" href="http://www.facebook.com/dialog/feed?picture=http%3A%2F%2Fpath%2fa%2Fla%2Fimagen&amp;name=Texto%20de%20la%20alerta&amp;app_id=197081563653884&amp;properties=%7B%22Publicado%20por%22%3A%20%22Todo%20Noticias%22%7D&amp;redirect_uri=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;link=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;description=Texto%20de%20la%20alerta" target="eb_share">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
          </div>
        </div>
      <% when 'last-moment-r' %>
        <div id="header-ticket" class="last-moment related">
          <div  class="wrapper">
            <p class="text">Atentado sonoro!, en las oficinas se escucha cumbia!!! <a href="#">#loremipsum</a></p>
            <div class="reply">
              <a class="reply-tw2" title="compartir" href="http://twitter.com/share?url=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;text=Pedir%20el%20texto%20a%20poner%20[ENLACE]&amp;via=todonoticias" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="reply">
              <a class="reply-fb2" title="compartir" href="http://www.facebook.com/dialog/feed?picture=http%3A%2F%2Fpath%2fa%2Fla%2Fimagen&amp;name=Texto%20de%20la%20alerta&amp;app_id=197081563653884&amp;properties=%7B%22Publicado%20por%22%3A%20%22Todo%20Noticias%22%7D&amp;redirect_uri=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;link=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;description=Texto%20de%20la%20alerta" target="eb_share">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
          </div>
        </div>
      <% when 'last-moment-nr' %>
        <div id="header-ticket" class="last-moment no-related">
          <div  class="wrapper">
            <p class="text">Atentado sonoro!, en las oficinas se escucha cumbia!!! <a href="#">#loremipsum</a></p>
            <div class="reply">
              <a class="reply reply-tw2" title="compartir" href="http://twitter.com/share?url=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;text=Pedir%20el%20texto%20a%20poner%20[ENLACE]&amp;via=todonoticias" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="reply">
              <a class="reply reply-fb2" title="compartir" href="http://www.facebook.com/dialog/feed?picture=http%3A%2F%2Fpath%2fa%2Fla%2Fimagen&amp;name=Texto%20de%20la%20alerta&amp;app_id=197081563653884&amp;properties=%7B%22Publicado%20por%22%3A%20%22Todo%20Noticias%22%7D&amp;redirect_uri=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;link=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;description=Texto%20de%20la%20alerta" target="eb_share">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
          </div>
        </div>
      <% when 'last-moment-nr2' %>
        <div id="header-ticket" class="last-moment no-related2">
          <div  class="wrapper">
            <p class="text">Atentado sonoro!, en las oficinas se escucha cumbia!!! <a href="#">#loremipsum</a></p>
            <div class="reply">
              <a class="reply reply-tw2" title="compartir" href="http://twitter.com/share?url=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;text=Pedir%20el%20texto%20a%20poner%20[ENLACE]&amp;via=todonoticias" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="reply">
              <a class="reply reply-fb2" title="compartir" href="http://www.facebook.com/dialog/feed?picture=http%3A%2F%2Fpath%2fa%2Fla%2Fimagen&amp;name=Texto%20de%20la%20alerta&amp;app_id=197081563653884&amp;properties=%7B%22Publicado%20por%22%3A%20%22Todo%20Noticias%22%7D&amp;redirect_uri=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;link=http%3A%2F%2Ftn.com.ar%2Fpolitica%2F00056546%2Fcrece-la-polemica-schoklender&amp;description=Texto%20de%20la%20alerta" target="eb_share">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
          </div>
        </div>
      <% when 'elecciones' %>

        <div class="header-bunkers" id="header-ticket">
          <div class="wrapper">
            <p class="text">Estamos en <a title="Candidatos en vivo" href="http://tn.com.ar/envivo/elecciones-2011">vivo</a> con todos los candidatos a Jefe de Gobierno</p>
            <div class="reply">
              <a target="_blank" href="http://twitter.com/share?url=http%3A%2F%2Ftn.com.ar%2F&amp;text=AHORA%3A+Corte+total+en+Gral+Paz.+Manifestantes+interrumpen+el+tr%C3%A1nsito+a+la+altura+de+Eva+Per%C3%B3n%2C+Mataderos.+Seguilo+en+VIVO.&amp;via=todonoticias" title="compartir" class="reply-tw2">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="reply">
              <a target="eb_share" href="http://www.facebook.com/dialog/feed?picture=http://tn.com.ar/sites/all/themes/dozer/images/logo-tn.png&amp;name=AHORA%3A+Corte+total+en+Gral+Paz.+Manifestantes+interrumpen+el+tr%C3%A1nsito+a+la+altura+de+Eva+Per%C3%B3n%2C+Mataderos.+Seguilo+en+VIVO.&amp;app_id=346699902992&amp;properties=%7B%22Publicado%20por%22%3A%20%22Todo%20Noticias%22%7D&amp;redirect_uri=http%3A%2F%2Ftn.com.ar%2F&amp;link=http%3A%2F%2Ftn.com.ar%2F&amp;description=AHORA%3A+Corte+total+en+Gral+Paz.+Manifestantes+interrumpen+el+tr%C3%A1nsito+a+la+altura+de+Eva+Per%C3%B3n%2C+Mataderos.+Seguilo+en+VIVO." title="compartir" class="reply reply-fb2">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
          </div>
        </div>
    <% end %>