<!-- grid -->
<section id="grid" class="grid">
		<header>
			<div class="wrapper">
				<form class="search">
					<input type="text" value="Buscar" data-placeholder="Buscar" class="text placeholder" />
					<input class="submit" type="submit" value="Buscar" />
				</form>
				<div class="fb-like-button">
           <div class="fb fb-button" data-loaded="false" data-fbparams='{"type": "like", "send": false, "layout":"standard", "show_faces": false, "action": "recommend","colorscheme":"light", "href": "http://tn.com.ar", "width": "400", "height": "25"}'></div>
				</div>
				<div class="glg-button">
          <div class="g-plusone" data-size="medium" data-count="true"></div>
				</div>
				<% if (select_proyect() == 'site-tn') %>
				  <a id="toggle-grid" <% if (@item[:home] != true) %>class="down"<% end %> ><span class="down">Ampliar</span><span class="up">Comprimir</span></a>
				<% else %>
				  <a class="back back-big" href="http://tn.com.ar/" alt="Todo Noticias" title="Todo Noticias"><span class="tnlogo"></span>« Volver</a>
				<% end %>
			</div>
		</header>
  
    <% if (select_proyect() == 'site-tn') %>
			<div class="content clearfix wrapper">
	      <%= render 'river-news/grid-article', :item => 1, :media=>'video', :grid=>4, :title=>'U2 se prepara para la presentacion en Argentina' %>
	      <%= render 'river-news/grid-article', :item => 2, :media=>'gallery', :grid=>4, :title=>'U2 se prepara para la presentacion en Argentina' %>
	      <%= render 'river-news/grid-article', :item => 3, :media=>'header', :grid=>4, :title=>'U2 se prepara para la presentacion en Argentina' %>
	      <%= render 'river-news/grid-article', :item => 4, :media=>'dropline', :grid=>4, :title=>'U2 se prepara para la presentacion en Argentina', :dropline=>'U2 se prepara para la presentacion en Argentina' %>
			</div>
		<% end %>
</section>
<!-- end grid -->