<!-- header -->
<%
text = 'TN'
url = 'http://tn.com.ar'
case select_proyect
      when 'site-tn'
        text = 'TN'
        url = 'http://tn.com.ar'
      when 'site-tnm'
        text = 'La viola'
        url = 'http://tn.com.ar/musica'
      when 'site-tnf'
        text = 'Famosos'
        url = 'http://tn.com.ar/show'
      when 'site-tp'
        text = 'Famosos'
        url = 'http://tn.com.ar/deportes'        
      when 'site-tnylagente'
        text = 'TN y la Gente'
        url = 'http://tn.com.ar/tnylagente'
end
%>

<header id="header">
		<div id="header-top">
			<div class="wrapper">

        <% if (@item[:smallheader] == nil) %>
          <%= render "portadas/#{select_proyect}/header-meta" %>
        <% else %>
          <a class="back">&laquo;Volver</a>
        <% end %>

        <div class="logo">
          <a id="tn-home" href="<%= url %>" title="<%= text %>"><%= text %></a>
          <% if select_proyect == 'site-tn' %>
            <a title="El primer canal de noticias de Argentina en HD" class="hd" href="http://tn.com.ar/envivo/24hs/HD">HD</a>
          <% end %>
        </div>

        <% if select_proyect == 'site-tn' %>
        <div id="headerad">
        	<span class="bg"></span>
        </div>
        <% end %>
        
        <% if (@item[:especial] != nil) %>
          <%= render 'especiales/' << @item[:especial] %>
        <% end %>

				<%= render 'header/login-box' %>
			</div>
		</div>

		<% if (@item[:smallheader] == nil) %>
	    <%= render 'header/alerts' %>

	    <%= render 'header/navigation' %>
    <%end%>
</header>
<!-- end header -->
