    <nav id="navigation" role="navigation" class="clearfix">
    	<div class="bg"></div>
    	<% if (select_proyect == 'site-tnylagente') %><div class="bg-tnyg"></div><% end %> 
      <div class="wrapper">
        <ul class="menu-tags">
          <li class="tags first envivo <%= @item[:page] == 'vivo' ? 'selected' : '' %>"><h2><a rel="tag" href="#" class="<%= @item[:page] == 'vivo' ? 'active' : '' %>"><% if is_portada? %>TN <%end%>EN VIVO</a></h2></li>
          <li class="tags <%= @item[:page] == 'vivo' ? '' : 'selected' %>"><h2><a rel="tag" href="#">AHORA</a></h2></li>
        </ul>
        <ul>
          <% if (@item[:header] == 'elecciones') %>
          <li class="tags bunkers"><h2><a class="bunkers" rel="tag" href="/envivo/especiales">VIVO - Candidatos</a></h2></li>
          <% end %>
          <li class="tags"><h2><a rel="tag" href="#">Néstor Kirchner</a></h2></li>
          <li class="tags"><h2><a rel="tag" href="#">82% móvil</a></h2></li>
          <% if (select_proyect != 'site-tnylagente') %>
            <li class="tags"><h2><a rel="tag" href="#">Inflación</a></h2></li>
            <li class="tags"><h2><a rel="tag" href="#">Superclásico</a></h2></li>
          <% end%>
       	</ul>
       	<ul>
          <li class="more tags"><a data-menu="microsites" href="#">Más</a></li>
        </ul>

        <ul>
        	<% if (select_proyect != 'site-tp') %><li class="tags"><h2><a href="http://tn.com.ar/deportes">Deportes</a></h2></li><% end %>
        	<% if (select_proyect != 'site-tnm') %><li class="tags"><h2><a href="http://tn.com.ar/musica">La Viola</a></h2></li><% end %>
        	<% if (select_proyect != 'site-tnf') %><li class="tags"><h2><a href="http://tn.com.ar/show">Famosos</a></h2></li><% end %>
        	<% if (select_proyect != 'site-tnylagente') %><li class="tags tn-gente <% if (@item[:header] == 'last-moment-r') %> related <% end %>"><h2><a href="#">TN y la Gente</a></h2></li><% end %>
        	<% if (select_proyect == 'site-tnylagente') %><li class="tags upload"><h2><a href="#">¡Publicá!</a></h2></li><% end %>        
        </ul>

      </div>
    </nav>
