<% 
tags = ['música', 'Fútbol Internacional', 'Tenis', 'Primera división', 'Primera A es mejor que la B', 'Superclásico', 'Basquet', 'Copa América', 'Papa Benedicto XVI', 'Noble Herrera']
items = 90
%>

<div id="sub-menu" class="clearfix">
	<div class="menu clearfix" id="menu-microsites">
		<section class="wrapper clearfix">
         <% (0..items).each do |i| %>
           <% tag = tags.shuffle.first %>
           <span class="menu-item"><h2><a title="<%= tag %>" href="#"><%= tag %></a></h2><% if (i != items) %>,<%end%></span>
         <% end %>
		</section>
	  <div class="close"><span><a href="#">Cerrar</a></span></div>
	</div>
</div>