  <script type="text/javascript" src="./Loterias_files/jquery.tools.min.js"></script>
  <script type="text/javascript">
        // execute your scripts when the DOM is ready. this is a good habit
        $(function() {

                // initialize scrollable
                $("div.scrollable").scrollable({vertical:true,size: 19, item:"li"});

                $("#despliega_sorteos span").tooltip({
                        tip: '#menu_tiposorteo',
                        position: 'bottom center',
                        effect: 'slide',
                        direction: 'down',
                        offset: [0, -5],
                        delay: 350
                })

        });
  </script>
