html {
  overflow: auto;
}

body {
  margin: 8px;
  overflow: hidden;
  word-wrap: break-word;
}

body.ckeditor-note {
  color: #1F1F1F;
}

body.ckeditor-comment {
	color: #333;
  background: #F7F7F7;
}
.ckeditor-note p,
.ckeditor-note li {
  font: 16px/24px Arial,Helvetica,sans-serif;
	margin-bottom: 15px;
}

.ckeditor-comment p,
.ckeditor-comment li {
  font: 12px/12px Arial,Helvetica,sans-serif;
  margin-bottom: 5px;
}

p {margin:0}

a {
  color: #75A904;
}

ul {
  padding-left:20px;
  list-style: disc;
}

ol {
  padding-left:20px;
  list-style: decimal;
}

.ckeditor-note ol,
.ckeditor-note ul {
  margin-bottom: 15px;
}

.ckeditor-comment ol,
.ckeditor-comment ul {
  margin-bottom: 5px;
}

p.rteleft {text-align: left;}
p.rtecenter {text-align: center;}
p.rteright {text-align: right;}