#header {
  overflow: visible;
  position: relative;
  z-index: 0;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

#container {
  margin-top: 20px;
  /*padding-top: 10px;*/
}












.grid {
  /*overflow: hidden;*/
}

#grid {
	position: relative;
	z-index: 1000;
	
}

.grid header {
  height: 30px;
  padding: 7px 0;
}
.grid header {
  background-color: #f2f2f2;
}
#grid-home {
  margin-bottom: 15px;
}

#grid-home .item {
  margin-bottom: 0;
}

#grid header {
  height: 30px;
  padding: 7px 0 8px 0px;
  border-bottom: 1px solid white;
  -moz-box-shadow: 2px 1px 6px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 2px 1px 6px rgba(0, 0, 0, .15);
  box-shadow: 2px 1px 6px rgba(0, 0, 0, .15);
}

.grid .wrapper {
  /*overflow: hidden;*/
}

#grid .content {
  padding: 15px 0 0 0;
  width: 950px;
  height: 146px;
  display: none;
  overflow: hidden;
}

.show-grid #grid .content {
  display: block;
}

.grid article {
  width: 230px;
  height: 129px;
  float: left;
  position: relative;
  margin: 0px 10px 10px 0;
}

.grid article.iframe .entry-title{
height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    text-indent: -999em;
    top: 0;
    width: 100%;
    z-index: 100;
}

.grid article.no-picture {
  width: 208px;
  height: 117px;
  border: solid 1px #c9d5e9;
  background: #dce9ff;
  padding-top: 5px;
}

.grid article.has-content h2 {
  max-height: 58px;
  overflow: hidden;
}

.grid article.no-content h2 {
  margin-top: 20px;
  max-height: 73px;
  overflow: hidden;
}

.grid .item-4,
.grid3 .item-3 {
  margin-right: 0;
}

.grid form.search {
  float: left;
}

.grid .fb-like-button {
  float: left;
  margin: 3px 0 0 10px;
  height: 30px;
  position: relative;
  z-index: 1000;
  /*overflow: hidden;*/
}

.grid .glg-button {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.grid #toggle-grid,
#grid .back {
  float: right;
  padding: 1px 30px 1px 15px;
  height: 26px;
  line-height: 26px;
  /*color: #0056c3;*/
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  position: relative;
  z-index: 0;
}
#grid .back {
  padding: 1px 0px 1px 35px;
  font-size: 12px;
  text-align: left;
}

#grid .back .tnlogo {
    background: url("<%= base_url %>images/main-sprite-home.png") no-repeat scroll -84px -157px transparent;
    display: block;
    height: 16px;
    left: 8px;
    position: absolute;
    top: 5px;
    width: 21px;
}

#grid .back-big {
	position:relative;
	top: -3px; 
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	padding-left: 47px;
}

#grid .back-big .tnlogo {
    background: url("<%= base_url %>images/main-sprite-home.png") no-repeat scroll -42px -118px transparent;
    display: block;
    height: 26px;
    top: 3px;
    width: 34px;
	
}

#toggle-grid span {
  position: relative;
  z-index: 50;
}

#toggle-grid span.down,
#toggle-grid.down span.up {
  display: inline;
}

#toggle-grid.down span.down,
#toggle-grid span.up {
  display: none;
}

#toggle-grid.down { /*background: url(<%= base_url %>images/grid-arrow.png) right top no-repeat;*/
  background: url(<%= base_url %>images/main-sprite-home.png) -377px  -222px no-repeat;
}

#toggle-grid { /*background: url(<%= base_url %>images/grid-arrow.png) right bottom no-repeat;*/
  background: url(<%= base_url %>images/main-sprite-home.png) no-repeat -377px -247px
}





















#header {
  padding-top: 1px;
}

#header .selected a {
  padding: 0 9px;
}

#header #header-top a {
  padding: 0px 5px 0 0;
}

#header #header-top .title a {
	padding: 0;
}

#header .header-meta {
  top: 2px;
  left: 0;
  position: absolute;
}

#header .header-meta .title a {
	padding: 0;
}

.header-meta ul {
  margin: 5px 0;
}

.header-meta .follow-up {
  margin-bottom: 0;
}

#header ul li {
  float: left;
}

#header li.link {
  border-right: solid 1px #E35757;
  margin-left: 5px;
}

#header ul li.first {
  margin: 0;
}

#header .follow-up li.link {
  border-right: none;
  border-left: solid 1px #E35757;
}

#header .follow-up li.first {
  border: none;
}

#header  #header-top .follow-up li.link a {
  padding: 0 0 0 5px;
}

#header #header-top .user a { padding: 0 }
#header #header-top li.first a {
  padding-left: 0;
}

#header.red ul li.last {
  border: none;
}

#header #header-top {
  height: 70px;
  padding: 20px 0 23px 0;
  border-top: 1px solid #E35757;
}

.logo {
  display: block;
  height: 100px;
  left: 50%;
  margin-left: -44px;
  padding: 0 !important;
  position: absolute;
  top: -8px;
  width: 170px;
  z-index: 50;
}

.logo #tn-home {
  display: block;
  height: 100px;
  left: 0;
  padding: 0 !important;
  position: absolute;
  top: 0;
  width: 128px;
  /*z-index: 50;*/
}

.logo .hd {
  display: block;
  height: 29px;
  position: absolute;
  right: 0;
  top: 3px;
  width: 48px;
  /*z-index: 60;*/
}


#header #header-ticket {
  height: 45px;
}

#header nav .bunkers {
  margin: 0;
  border-left: none;
}

#header-ticket.related {
  margin: 0;
}

#header-ticket.no-related .wrapper,
#header-ticket.no-related2 .wrapper,
#header-ticket.related .wrapper {
  padding: 0;
  width: 945px;
}


#header .alert .reply {
  left: 101px;
}

#header .last-moment .reply {
  left: 5px;
}

#header .reply {
  float: left;
  display: block;
  margin-left: 5px;
  height: 45px
}

#header p.text {
  float: left;
  margin-right: 10px
}

#header .reply-tw {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
  overflow: hidden;
}

#header .reply-tw:hover {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
}

#header .reply-fb {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
  overflow: hidden;
}

#header .reply-fb:hover {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
}

#header .reply-tw2 {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
}

#header .reply-tw2:hover {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
}

#header .reply-fb2 {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
}

#header .reply-fb2:hover {
  display: block;
  width: 27px;
  height: 19px;
  margin-top: 13px;
}

#header nav {
  height: 45px;
  overflow: hidden;
  position: relative;
}

#header nav .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 45px;
}

#header nav .bg-tnyg {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 45px;
}

#header nav .bg,
#header nav .envivo {
	background-color: #BE0000;	
}

#header nav .bg-tnyg,
#header nav .upload {
  background-color: #003399;  
}

#header nav .wrapper {
  overflow: hidden;
}

#header nav li {
  border-left: #D85353 solid 1px;
}

#header nav .related {
  margin: 0;
}

#header nav .menu-tags li.first {
  border-left: none;
}

.menu-tags .envivo a {
  padding: 0 9px 0 0;
}
/*
#header nav li.last {
  border-right: none;
}
*/
.logged-in #header .login-box {
  height: 56px;
  margin-top: -25px;
  position: absolute;
  right: 0;
  top: 50%;
}

.logged-in #header .login-box .content {
	width: 195px;
}
  

.not-logged-in #header .login-box {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -27px;
  height: 57px;
  width: 108px;
}

nav .more {
  border: none;
  margin: 0;
  clear: none;
  height: auto;
}
/*
#header li.last,#header.red li.last {
  border-right: none;
}
*/

/*
  login box
*/
.login-box {
  position: relative;
  height: 50px;
}

.not-logged-in .login-box {
  height: 54px;
}

.login-box li a {
  padding: 0px 5px;
}

.login-box li.first a {
  padding-left: 0;
}

.login-box li.link {
  border-right: solid 1px #9e9e9e;
  float: left;
}

.login-box li.last {
  border: none !important;
  margin-right: 0;
}

.login-box li.last a {
  padding-right: 0 !important;
}

.login-box .user {
  margin: 0 0 10px 0;
  height: 14px;
  overflow: hidden;
  
  line-height: 1em;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

.login-box .actions {
  float: right;
  font-size: 12px;
}

.login-box .actions-top{
  margin-bottom: 4px;
}

.login-box .last {
  padding-right: 0;
}

.login-box .picture {
  float: right;
  margin: 0px 0 0 10px;
  border: 1px solid #4170b3;
  padding: 1px;
}


.login-box .content,.no-sidebar .login-box .content {
  float: right;
}

.not-logged-in .login-box .title {
  margin-bottom: 5px;
  padding-left: 7px;
}

.login-box .login-conect li {
  float: left;
  margin-left: 8px;
  display: block;
}

.login-box .login-conect li.fb {
  margin-left: 0;
}

.login-box .login-conect {
  border: solid 1px #D83D3D;
  padding: 7px 9px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.login-box .login-conect li a {

  width: 24px;
  height: 24px;
  display: block;

  padding: 0 !important;
}

/*
  //login box
*/
nav li h2,
nav li a {
  height: 45px;
  float: left;
  font-size: 14px;
}

nav li a {
  padding: 0 9px;
  display: block;
  font-size: 14px;
}

nav li.more a {
  padding-right: 15px;
  margin-right: 5px
}

.alert {
  position: relative;
}

.alert-left {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
}

.alert .wrapper {
  position: relative;
}

.alert .title {
  padding: 0 20px 0 0;
  display: block;
  float: left;
  height: 45px;
  margin-right: 10px;
}

.tweet .wrapper {
  color: black;
}

.tweet .wrapper .bird {
  width: 50px;
  height: 45px;
  display: block;
  float: left;
}




#sub-menu {
  display: none;
  position: relative;
}

#sub-menu .menu {
  display: none;
  width: 100%;
}

#sub-menu section {
  padding: 10px;
  position: relative;
}


#sub-menu .close a {
  padding: 0 20px 5px 5px;
  width: 50px;
  height: 15px;
  margin: 0 auto;
  display: block;
}

#sub-menu section span {
  margin-right: 5px;
}

#sub-menu h2 {
  display: inline;
}

#sub-menu a {
  height: 100%;
}
















/*
	coverflowpopup
*/

#flow-popup {
	height: 0px;
	overflow: hidden;
}

.body-flow-popup {
	position: fixed;
	right: -398px;
	bottom: 0;
	height: auto;
	width: 390px;
	margin-left:7px;
	padding-bottom: 2px;
   z-index: 1000;
}

.body-flow-popup header {
	padding: 5px 40px 5px 0;
  font-size: 16px;
  font-weight:normal;
  line-height: 20px;	
}

.body-flow-popup header {
  padding-top: 15px;
}
.body-flow-popup header,
.body-flow-popup .content {
  padding-left: 20px;
}

.body-flow-popup header h2 {
  font-size: 16px;
  font-weight:normal;
}

.body-flow-popup .content {
  margin: 0;
  padding-right: 10px;
  font-size: 14px;
}

.body-flow-popup .content h1 {
  margin-bottom: 8px;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;  
}
