/*
 * Clarín Player
 * -------------------
 *
 * Copyright © 2011 - Grupo Clarín
 *
 * Author: Juan Pablo Scaletti <juanpablo@lucumalabs.com>
 * Version: 1.0.0
 * Date: Abril 2011
 */

div.cplayer {
z-index: 100;
position: relative;
background: #000;
font-family: Helvetica, Arial, sans-serif !important;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}

div.cp-ipad .cp-item-caption,
div.cp-ipad .cp-close{
	display: none !important;
	visibility: hidden !important;
}

div.cplayer a {
cursor: pointer;
}

div.cplayer div.cp-items,
div.cplayer div.cp-media,
div.cplayer div.cp-error {
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
outline: none;
}

div.cplayer div.cp-items,
div.cplayer div.cp-media,
div.cplayer div.cp-error {
overflow: hidden;
}

div.cplayer div.cp-media {
background: #000;
}

div.cplayer div.cp-media,
div.cplayer div.cp-media embed,
div.cplayer div.cp-media object {
z-index: 0;
outline: none;
}

div.cplayer div.cp-items div.cp-item {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
z-index: 0;
}

/* Caption
---------------------------------------------------------*/

div.cplayer div.cp-item-caption {
position: absolute;
top: 0;
left: 0;
background: transparent;
background: rgba(0,0,0, 0.5);
color: #fff;
font-size: 14px;
width: 100%;
}

.ie8 div.cplayer div.cp-item-caption,
.ie7 div.cplayer div.cp-item-caption,
.ie6 div.cplayer div.cp-item-caption {
background: black;
/*
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NkYGCoBwAAiQCB1bUosQAAAABJRU5ErkJggg==) repeat;
*/
zoom: 1;
}

div.cplayer-small div.cp-item-caption {
  font-size: 12px !important;
}

div.cplayer div.cp-item-caption span {
display: block;
padding: 11px 15px 11px 45px;
margin: 0;
}

div.cp-carrousel div.cp-item-caption span {
padding-left: 15px;
}

div.cplayer div.cp-item-caption a {
color: #4c93ff;
}

/* Error message
---------------------------------------------------------*/

.cp-critical-error {
color: white !important;
background: red !important;
font-family: Helvetica, Arial, sans-serif !important;
font-size: 15px !important;
padding: 10px !important;
}

div.cplayer div.cp-error {
background: #222;
color: white;
font-size: 16px;
z-index: 100;
top: 0;
left: 0;
line-height: 1.5;
}

div.cplayer div.cp-error p {
padding: 5px 30px;
}

div.cplayer div.cp-error a {
color: #4c93ff;
}

/* Buttons
---------------------------------------------------------*/

div.cplayer a.cp-carplay,
div.cplayer a.cp-carpause,
div.cplayer a.cp-close,
div.cplayer a.cp-prev-item,
div.cplayer a.cp-next-item {
position: absolute;
color: #bbb;
display: block;
overflow: hidden;
border: 1px solid #555;
background-color: #333;
background-color: rgba(34,34,34, 0.5);
background-repeat: no-repeat;
background-image: url(<%= base_url %>images/carc.png);
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
padding: 0;
margin: 0;
outline: none;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
text-indent: -999px;
}

div.cplayer a.cp-carplay:hover,
div.cplayer a.cp-carpause:hover,
div.cplayer a.cp-close:hover,
div.cplayer a.cp-prev-item:hover,
div.cplayer a.cp-next-item:hover {
background-color: #00adef;
background-color: rgba(0,173,239, 0.7);
/* Vimeo-like
background-color: #575757;
background-color: rgba(87,87,87, 0.8);
*/
color: #fff;
border: 1px solid #fff;
box-shadow: 0 0 4px #ddd;
}

div.cplayer a.cp-carplay:active,
div.cplayer a.cp-carpause:active,
div.cplayer a.cp-close:active,
div.cplayer a.cp-prev-item:active,
div.cplayer a.cp-next-item:active {
box-shadow: inset 0 0 2px #ddd;
}

/* Close pop-up button
---------------------------------------------------------*/

div.cplayer a.cp-close {
z-index: 101;
top: 5px;
left: 7px;
width: 28px;
height: 20px;
padding: 0;
line-height: 22px;
padding: 0 0 4px 0;
text-align: center;
font-size: 26px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
overflow: hidden;
opacity: .3;
}

div.cplayer:hover a.cp-close {
  opacity: 1;
}

div.cplayer-small a.cp-close {
  height: 14px;
  width: 19px;
}

div.cp-carrousel a.cp-close {
/*top: -28px;*/
	top:4px;
}

div.cplayer a.cp-close {
background-position: -103px 6px;
}

div.cplayer a.cp-close:hover {
background-position: -103px -16px;
}

div.cplayer-small a.cp-close {
background-position: -189px 5px !important;
}

div.cplayer-small a.cp-close:hover {
background-position: -189px -16px !important;
}

/* Carrousel
---------------------------------------------------------*/

div.cp-carrousel {
/*border-top: 33px solid #222;*/
}

div.cp-carrousel div.cp-item-caption {
  top:auto;
  bottom:0;
}

div.cplayer div.cp-car-controls {
position: absolute;
width: 100%;
height: 33px;
/*background: #222;*/
background: rgba(0,0,0,.5);
/*top: -33px;*/
top:0;
left: 0;
z-index: 100;
}

.ie div.cplayer div.cp-car-controls {
  background: none;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE9 */
            zoom: 1;
}

div.cplayer a.cp-carplay,
div.cplayer a.cp-carpause {
top: 5px;
right: 110px;
width: 28px;
height: 22px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

div.cplayer a.cp-carpause {
display: none;
}

div.cplayer a.cp-carplay:hover,
div.cplayer a.cp-carpause:hover,
div.cplayer a.cp-prev-item:hover,
div.cplayer a.cp-next-item:hover {
box-shadow: 0 0 2px #aaa;
}

div.cplayer a.cp-prev-item,
div.cplayer a.cp-next-item {
top: 5px;
right: 50px;
width: 26px;
height: 22px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

div.cplayer a.cp-next-item {
left: auto;
right: 10px;
}

div.cplayer span.cp-index-item {
position: absolute;
bottom: 0;
left: 0;
color: #bbb;
text-align: center;
width: 100%;
height: 30px;
line-height: 30px;
font-size: 14px;
}

div.cplayer a.cp-carplay {
background-position: 9px 5px;
}
div.cplayer a.cp-carplay:hover {
background-position: 9px -17px;
}
div.cplayer a.cp-carpause {
background-position: -19px 5px;
}
div.cplayer a.cp-carpause:hover {
background-position: -19px -17px;
}
div.cplayer a.cp-prev-item {
background-position: -48px 5px;
}
div.cplayer a.cp-prev-item:hover {
background-position: -48px -17px;
}
div.cplayer a.cp-next-item {
background-position: -75px 5px;
}
div.cplayer a.cp-next-item:hover {
background-position: -75px -17px;
}

/* Last but not least
---------------------------------------------------------*/

.hide {
position: absolute !important;
left: -99999px !important;
top: -99999px !important;
}