.dplayer-wrapper {
  position: relative;
}

.dp-close {
  position: absolute;
  left: 7px;
  top: 5px;
  width: 20px;
  height: 20px;
  opacity:.3;
  z-index: 100;
  cursor: pointer;
  width: 28px;
  height: 24px;
  border:1px solid #555555;
  border-radius: 3px;
  background: rgba(34, 34, 34, 0.5) no-repeat url(<%= base_url %>images/carc.png) -103px 6px;
}

.dp-close {}

.dplayer-wrapper:hover .dp-close,
.dplayer-wrapper:hover .dp-caption {
  opacity:1;
  display: block;
}

.dplayer-small .dp-close {
  background-position: -189px 5px !important;
  height: 18px;
  width: 19px;  
}


.dp-caption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 36px;
  background: rgba(0,0,0,.5);
  z-index: 90;
  display: none;
  text-indent: 50px;
  line-height: 36px;
  color:white
}