/* fonts.css from the YUI Library: developer.yahoo.com/yui/
Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

There are three custom edits:
* remove arial, helvetica from explicit font stack
* we normalize monospace styles ourselves
* table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body, button { font: 16px/1 "Helvetica Neue", Arial, sans-serif; *font-size:small; } /* hack retained to preserve specificity */


select, input, textarea { font:99% sans-serif; }

/* normalize monospace sizing
* en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
*/
pre, code, kbd, samp { font-family: monospace, sans-serif; }


body, select, input, textarea {
/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
color: #000;
/* set your base font here, to apply evenly */
/* font-family: Georgia, serif;  */
}

/* Headers (h1,h2,etc) have no default font-size or margin,
you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; font-size: 1em; }

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

a { text-decoration: none;}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { /*color: #607890;*/ }
a:hover { /*color: #000;*/ text-decoration: underline;}

/* These selection declarations have to be separate.
No text-shadow: twitter.com/miketaylr/status/12228805301
Also: hot pink. */
::-moz-selection{ background: #e00034; color:#fff; text-shadow: none; }
::selection { background:#e00034; color:#fff; text-shadow: none; }

small { font-size: 1em; }
strong, th { font-weight: bold; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre {
padding: 15px;

/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
white-space: pre; /* CSS2 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
}

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

a.more:hover {
text-decoration: none;
}

figure figcaption .fn {
 color:#FFFFFF;
    font-weight:normal;
    line-height:1.3;
}

figure figcaption .fn:hover {
  color:white;
}

article footer {
color:#000;
font-size: 11px;
}

.grid article h2 {
font-size: 16px;
line-height: 18px;
}

article .entry-content{
font-size: 12px;
}

form.search input {
font-size: 14px;
/*color: #444;*/
}

#toggle-grid	{
font-size: 12px;
}


.comments .login-box .user {
text-align: left;
}



.movies article .entry-title,
.news article .entry-title	{
font-size: 26px;
font-weight: normal;
line-height: 1.15;
}

.movies .content,
.news .content	{
font-size: 14px;
color: #000;
}

.movies article .entry-content,
.news article .content p,
.news article .entry-content {
line-height: 1.4;
font-size: 14px;
}


.note .entry-title,
.traffic-maps h1,
.vivo h1,
.cinemas h2	{
  font-size: 44px;
    font-weight: normal;
    line-height: 43px;
   }

#rss h1 {
  font-size: 48px;
    font-weight: normal;
    line-height: 48px;
	margin-bottom: 10px;
}

.clima-main #container h1,
.comunity #container h1,
#rating #container h1 {
	font-size: 43px;
    font-weight: normal;
    line-height: 38px;
	}

.comunity #container h1  {
  margin-bottom: 18px;
}

.note time	{
font-size: 12px;
}

.note figcaption .fn{
font-size: 13px;
line-height: 24px;
font-weight: normal;
padding-bottom: 2px;
}


#header .header-meta	{
font-size: 12px;
line-height: 1.1em;
}

.weather-banner h2 {
font-size: 17px;
color: #929292;
}

.weather-banner .item	{
font-size: 12px;
}

.weather-banner .item h3	{
font-size: 22px;
font-weight: normal;
}

.sidebar .weather-banner .item h3	{
font-weight: normal;
color: #888;
font-size: 25px;
}

.sidebar .weather-banner .now h3	{
color: #222;
font-weight: bold;
margin-bottom: 6px;
}

.weather-banner .tomorrow h3	{
color: #929292;
font-size: 17px;
}

.weather-banner .item .nowtemp {
font-weight: bold;
font-size: 30px;
}

.weather-banner .item .sttemp {
font-weight: bold;
font-size: 14px;
}

.weather-banner .item .hightemp,
.weather-banner .item .lowtemp {
font-weight: bold;
font-size: 23px;
}


.weather-banner .forecast	{
color: #444;
line-height: 15px;
word-spacing: -1px;
width:180px;
margin-bottom: 10px;
}


/* Content top */

#content-top .one-image hgroup	{
text-align: center;
}

#content-top .one-image h1 .entry-title {
	display: block;
}

article .size-1 {
	font-size: 140px;
	line-height: 1.1em;
}
article .size-2 {
	font-size: 120px;
	line-height: 1.1em;
}
article .size-3 {
	font-size: 100px;
	line-height: 1.1em;
}
article .size-4 {
	font-size: 85px;
	line-height: 1.1em;
}
article .size-5 {
	font-size: 75px;
	line-height: 1.1em;
}
article .size-6 {
	font-size: 70px;
	line-height: 1.1em;
}
article .size-7 {
	font-size: 60px;
	line-height: 1.1em;
}
article .size-8 {
	font-size: 55px;
	line-height: 1.1em;
}
article .size-9 {
	font-size: 50px;
	line-height: 1.1em;
}
article .size-10 {
	font-size: 45px;
	line-height: 1.1em;
}

.ranking .content li .text{
font-size: 16px;
line-height: 23px;
}

.main .more, .sidebar .more, .overlay .more {
  font-size:13px;
  font-weight:bold;
  line-height:29px;
  text-align:center;
}
.overlay .more2 {
  font-size:13px;
  font-weight:bold;
  line-height:21px;
  text-align:center;
}


input.more {
  padding-bottom: 2px !important;
  height: 31px !important;
}

.block-opinion li {
font-size: 14px;
line-height: 1.21em;
}

.traffic-maps hgroup h2 {
font-size: 29px;
font-weight: normal;
  letter-spacing:-1px;

    word-spacing:4px;
}
