.ie .widget {
  width: 470px;
}

.ie .widget-fixture #fixture td.detalle a {
  line-height: 11px;
}

#ie6 #widget-futbol #minuto,
#ie7 #widget-futbol #minuto {
	margin: 0;
	left:255px;
}

#ie6 #widget-futbol #goles td,
#ie7 #widget-futbol #goles td,
#ie6 #widget-futbol #tarjetas td,
#ie7 #widget-futbol #tarjetas td,
#ie6 #widget-futbol #cambios td,
#ie7 #widget-futbol #cambios td {
	width: 50%;
}

#ie6 #widget-tennis .jugadores,
#ie7 #widget-tennis .jugadores {
	left:10px;
}

#ie6 #widget-tennis .genero {
	margin-left:5px;
}

#ie6 #widget-tennis .jugador .set li {
	margin:0 17px;
}

#ie6 #widget-futbol #equipo-a,
#ie6 #widget-futbol #suplente-a {
	margin-left:6px !important;
}

#ie6 #widget-futbol #contrincantes .equipo {
	width:309px;
}

#ie6 #widget-futbol #contrincantes .equipo-b {
	border-left:solid 1px #202020;
}

#ie6 #widget-futbol #contrincantes .equipo-a {
	border-right:solid 1px #2d2d2d;
	background:none;
}

#ie6 .escudo {
	margin-top:20px;
}

#ie6 .escudo span{
	margin-right:10px;
}

#ie6 #widget-futbol .in,
#ie6 #widget-futbol .out {
	width:210px;
}

#ie6 #posiciones td.equipo img,
#ie7 #posiciones td.equipo img{
	margin-top:-8px;
}

#ie7 #posiciones td.equipo,
#ie6 #posiciones td.equipo {
	padding-top:8px;
}

#ie6 .widget-fixture .share {
	width:220px;
	margin-right:4px;
}
/*
#ie6 .widget-fixture .header ul li {
	display:inline;
}
*/
#ie6 .widget-fixture .header ul li a {
	width:64px;
	text-align:center;
}

#ie6 .widget-fixture #posiciones td span {
	float:left;
	margin:1px 5px 0 0;
}

#ie6 .widget-fixture #fixture td.equipo-a span {
	float:right;
	margin:1px 0 0 5px;	
}

#ie6 .widget-fixture #fixture td.equipo-b span {
	float:left;
	margin:1px 5px 0 0;
}

#ie8 .widget-fixture #fixture table .detalle a {
	line-height:10px;
}

#ie7 .widget-fixture #fixture table .detalle a,
#ie6 .widget-fixture #fixture table .detalle a {
	line-height:11px;
}

/* pngfix */

#ie6 #widget-futbol #minuto,
#ie6 #widget-tennis #minuto,
#ie6 #widget-tennis .jugador .saque,
#ie6 #widget-tennis #jugador-a {
	background:none;
}

#ie6 #widget-tennis #minuto {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-tennis-minuto.png',sizingMethod='image');
}

#ie6 #widget-tennis .jugador .saque {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tennis-pelota.png',sizingMethod='image');
}

#ie6 #widget-futbol #minuto {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-futbol-minuto.png',sizingMethod='image');
}