body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:.81em !important;
}

.widget {
	width:470px;
	float:left;
	position:relative;
}

/*.widget-posiciones {
	width:475 !important;
}*/

.widget-supercampeon{
    width: 940px; 
}

#posiciones-widget-fixture{
	width: 378px;
}  

.fixtureAlign{
 margin:6px 0 0 -2px; 
 width: 562px ;
}

.widget-torneo {
	width:558px !important;
}

.ranking{
	padding:0 0 0 15px;
}

.widget .alignleft {float:left; margin:11px 12px 11px 15px;}
.widget .alignright {float:right; margin:11px 12px 0 0;}

.widget .title {
	position:relative;
	color:#fff;
	height:37px;
	background: #0D2758; /* old browsers */
}

.widget-fixture .bg{
	background: #F9F8F8;
}

.widget-fixture .bg-campeon{
    height: 0px !important;
}

.widget-fixture .bg-campeon .equipo-a{
    width: 150px;
}

.widget-fixture .bg-campeon .equipo-b{
    width: 150px; 
}

.widget-fixture .bg-campeon .fecha{
    width: 350px; 
}


.widget-fixture .table-carousel{
    margin:28px 0 0 0;
    overflow:hidden;
}

.widget-fixture .top{
    position:absolute;
    top:-8px;
    z-index: 9999; 
}

.widget-fixture .bottom{
    position:absolute;
    bottom:0px;
    z-index: 9999;
}

.widget-fixture .top, .widget-fixture .bottom{
	clear:both;
	width: 100%;
	height: 21px;
	padding-top: 5px;
	background: #E9E9E9;
	text-align: center;
	margin-top: 8px;
}

.widget-fixture .top a{
	background:url(../images/sprite.png) no-repeat scroll -2px -7px transparent; 
	width: 16px;
	height: 8px;
	color:transparent;
}

.widget-fixture .bottom a{
	background:url(../images/sprite.png) no-repeat scroll -2px -20px transparent; 
	width: 16px;
	height: 8px;
	color:transparent;
}


.widget .title h2{
    font-size: 1.76em;
    height: 37px;
    letter-spacing: -0.05em;
    line-height: 37px;
    padding-left: 14px;
    word-spacing: 0.05em;
    font-weight: normal;
}

.widget #ver-asistidores {
	position:absolute;
    right: 12px;
    top: 12px;
    font-size: 13px;
    color:#fff;
    text-decoration: underline;
}


/* Widget de fixture */

.widget-fixture .options{
	height: 20px;
	padding: 10px 0 0 0;
	margin:-12px 0 0 0;
}

.widget-fixture .options-extend{
	padding: 10px 0 0 0;
	margin-top:-10px;
	margin-bottom: 1px;
	width: 392px;
	height:auto;
	float: left;
}

.widget-fixture .options ul li{
	display: inline;
	line-height: 28px;
}

.widget-fixture .options ul li.date{
	background: #83B61A;
	padding: 5px 2.3px;
	color: #fff;
	margin:0 -2px 0 0;
}

.widget-fixture .options ul li.date:hover{
	background: #0E2757;
	cursor: pointer;
}

.widget-fixture .options ul li.select{
	background: #0E2757;
}

.widget-fixture .options ul li.fecha{
	background: #E8E8E8;
	padding:5px 5px;
	text-transform: uppercase;
	margin: 0 -1px 0 0;
	font-size: 12px;
}

.widget-fixture .fecha-extend{
	background: #E8E8E8;
	padding:22px 5px;
	text-transform: uppercase;
	margin-right: 5px;
	font-size: 12px;
	width: 50px;
	float:left;
	text-align: center;
}

.widget-fixture .options ul li.spacer{
	margin:0 1px 0 0; 
}

.widget-fixture .options ul li.for{
	background: #C1DA8C;
	padding:7px 3px 5px 14px;
	text-transform: uppercase;
	cursor:pointer;
	font-size: 12px;
}

.widget-fixture .for-extend{
	background: #C1DA8C;
	padding:7px 3px 5px 3px;
	text-transform: uppercase;
	cursor:pointer;
	font-size: 12px;
	width: 90px;
	float: left;
        position:relative;
        margin-top:3px;
}

.widget-fixture .options ul li.for img, .widget-fixture .for-extend img{
	margin-left: 5px;
}

.widget-fixture .header {
	height:34px;
}

.widget-fixture .header ul {
	display:block;
	height:38px;
	padding-left:5px;
	margin:0;
	
	list-style:none;
		
	background: #669304; /* old browsers */
	
	background: -moz-linear-gradient(top, #669304 0%, #567E04 100%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669304), color-stop(100%,#567E04)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669304', endColorstr='#567E04',GradientType=0 ); /* ie */	
	
}

.widget-fixture .header ul li {
	float:left;

	position:relative;
	height:30px;
	top:1px;
	margin:8px 5px 0 5px;
}

.widget-fixture .header ul li a {
	display:block;
	height:30px;
	line-height:30px;
	padding:0 5px; 
	color:#fff;
	text-decoration:none;
	float:left;
}

.widget-fixture .header ul li.selected {
	background:#fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	
}

.widget-fixture .header ul li.selected a{
	color:#75A904;}

.widget-fixture .tab{
	padding-bottom:1px;
}

.widget-fixture .tab table{
	width:99%;
	margin: 0 auto;
}

.widget-fixture .tab th{
	height:22px;
	font-weight:normal;
	color:#000;
 	padding-bottom: 4px;
    vertical-align: text-bottom;
    text-align: center;	
}

.widget-fixture .tab table .first td{ }

.widget-fixture #descenso table .equipo {	
	width:150px;
	text-align:center;
}

.widget-fixture #goleadores table .jugador {
	text-align:left;
	width:125px;
}

.widget-fixture #goleadores table .equipo {width:125px;}

.widget-fixture .tab table .prom {
	width:56px;
}

.widget-fixture .tab table tbody .prom {color:#679A26; font-size: 13px;}

.widget-fixture #descenso table .first .equipo,
.widget-fixture #goleadores table .first .jugador,
.widget-fixture #fixture table .first .equipo-a{
	color:#000;
}

.widget-fixture #goleadores table th {
	font-weight:bold;
}

.widget-fixture #posiciones{
    background:#F9F9F9;
}

.widget-fixture #posiciones table thead .bgTitle{
    background:#E9E9E9;
    text-align: left;
    line-height: 19px;
}

.widget-fixture #descenso table tbody .equipo,
.widget-fixture #goleadores table tbody .jugador,
.widget-fixture #posiciones table tbody .equipo{	
	color:#000;
	text-align:left;
    padding:5px 0 0 6px;
}

.widget-fixture .tab table tbody td {
   color:#333333;
   text-align:center;
   height: 22px;
   line-height: 22px;
}

.widget-fixture .tab table .prom{
	padding-right:0px;
    font-size: 12px;
}

.widget-fixture .tab table .goles{
	padding-right:0px;
    font-size: 12px;
}

.widget-fixture #posiciones  #goleadores .jugador {
	width: 155px;
	text-align: left;
	padding: 4px 0 0 15px;
}

.widget-fixture #posiciones  #goleadores .nombre, .widget-fixture #posiciones  #goleadores .num {
	padding: 6px 0 0 15px;
	text-align:left;
}

.widget-fixture #posiciones  #descenso .num {
	padding: 4px 0 0 0;
}

.widget-fixture #posiciones #goleadores .num{
	padding-left: 26px;
}

.widget-fixture #posiciones  #goleadores .equipo {
	width: 20px;
	text-align: left;
	padding: 0 0 0 2px;
}

.widget-fixture #posiciones  #goleadores tbody img{
	padding:7px 0 0 10px;
}

.widget-fixture #posiciones  #goleadores .jugador {
	width: 220px;
	text-align: left;
}

.widget-fixture #posiciones  #goleadores .jugada {
	width: 56px;
	text-align: left;
	padding: 0 0 0 10px;
}

.widget-fixture #posiciones  #goleadores .cabeza {
	width: 66px;
	text-align: left;
	padding: 0 0 0 10px;
}

.widget-fixture #posiciones  #goleadores .tiro {
	width: 61px;
	text-align: left;
	padding: 0 0 0 10px;
}

.widget-fixture #posiciones  #goleadores .penal {
	width: 40px;
	text-align: left;
	padding: 0 0 0 10px;
}

.widget-fixture #posiciones  #goleadores .goles {
	width: 49px;
	text-align: left;
	padding: 0 0 0 15px;
}

.widget-fixture #posiciones .equipo {
	text-align:left;
	width:130px;
    padding:0 0 2px 12px;
}

.widget-fixture #posiciones .posicionesCab .equipo{
	padding-top:5px;
	width: 55px;
}

.widget-fixture #posiciones .posicionesCab .prom{
	width: 42px;
}

.widget-fixture #posiciones .promo {
        font-size: 13px;
        text-align:center;
}

.widget-fixture #posiciones .total {
        text-align:center;
        width: 57px;
}

.widget-fixture #posiciones .pj {
        text-align:center;
        width: 35px;
}

.widget-fixture #posiciones .thDate{
    width: 57px;
    text-align:center;
    padding: 2px 0 0 5px;
}

.widget-fixture #posiciones .thDateSecond{
    padding:0 0 2px 1px;
}

.widget-fixture #posiciones .thDateThree{
    padding:0 2px 2px 3px;
}

.widget-fixture #posiciones table tbody td,
.widget-fixture #fixture table tbody td {
	height:24px;
	vertical-align:middle;
	line-height:12px;
}

.widget-fixture #posiciones td img {
	float:left;
	padding:0 10px 0 5px;
}

.widget-fixture #posiciones .posicionesCab td img {
	float:left;
	padding:0 10px 0 15px;
}

.widget-fixture #posiciones .posicionesCab .num {
	padding: 4px 0 0 0;
}


.widget-fixture #fixture {
	padding-top:-1px;
}

.widget-fixture #fixture .now a {
	font-weight:bold;
	color:#000;
}

.widget-fixture #fixture .underline {
	border-bottom: 1px #E1E0E0 solid;
}

.widget-fixture #fixture .fechas .old a {
	color:#000;
}

.widget-fixture #fixture .resultado {
	width:102px;
	background: #E8E8E8;
        height:50px;
}

.widget-fixture #fixture .fxSpacer{
    margin-bottom: 150px;
}

.widget-fixture #fixture .resultado-extend {
	width:102px;
	background: #E8E8E8;
        height:55.4px;
}
 
.widget-fixture #fixture tbody .resultado p{
    height: 23px;
    line-height: 22px;
    padding: 4px 0 3px 0;
    width: 30px;
	font-weight:bold;
	color:white;
	background:#75A904;
	font-size: 14px;
}

.widget-fixture #fixture tbody .resultado-extend p{
    height: 23px;
    line-height: 22px;
    width: 25px;
	font-weight:bold;
	color:white;
	background:#75A904;
	font-size: 14px;
	padding: 2px 0 0 0;
	margin-top: 5px;
}


.widget-fixture #fixture th.equipo-a,
.widget-fixture #fixture th.equipo-b {
	width:150px;
}

.widget-fixture #fixture table tbody .equipo-a,
.widget-fixture #fixture table tbody .equipo-b {color:#333;}

.widget-fixture #fixture table tbody .equipo-a {text-align:right; padding-right:20px;}
.widget-fixture #fixture table tbody .equipo-b {text-align:left; padding-left:20px;}

.widget-fixture #fixture table tbody .equipo-a-extend {text-align:center; padding-right:20px; padding-top: 0; padding-bottom: 0;}
.widget-fixture #fixture table tbody .equipo-b-extend {text-align:center; padding-left:20px; padding-top: 0;}

.widget-fixture #fixture table .fecha {color:#979897; width: 89px; line-height: 16px; padding-top: 10px; padding-right: 20px;}

.widget-fixture #fixture td.equipo-a img {
	margin:-9px 0 0 13px;
	float:left;
}

.widget-fixture #fixture td.equipo-a-extend img {
	margin:0 0 0 15px;
	float:left;
}

.widget-fixture #fixture td.equipo-b img {
	float:right;
	margin:-9px 10px 0 0;
	padding-right: 5px;
}

.widget-fixture #fixture td.equipo-b-extend img {
	margin:0 20px 0 13px;
	float:right;
}

.widget-fixture #fixture .now .equipo-a,
.widget-fixture #fixture .now .equipo-b {
	font-weight:bold;
}

.widget-fixture #fixture td.detalle {
	width:25px;
	text-align:center;
	padding-top: 24px;
}

.widget-fixture #fixture td.detalle a {
	background:#75A904;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#fff;
	text-decoration:none;
	height:20px;
	line-height:15px;
	width:20px;
	margin:auto;
	margin-top: -10px;
	margin-right: 17px;
	font-size: 18px;
}

.widget-fixture #fixture td.detalle a:hover {
	text-decoration:underline;
}

.widget-fixture .share{
	color:#959494;
	width:200px;
	line-height:16px;
	float:right;
	margin:7px 15px 1px 0;
}

.widget-fixture .share p{
	float:left;
}

.widget-fixture .share ul {
	margin-left:5px;	
	list-style:none;
	float:right;
}

.widget-fixture  .share li{
	float:left;
	margin-left:5px;
}

.widget-fixture .share li a {
	color:#666;
	float:left;
	height:16px;
	text-decoration:none;
	padding-left: 20px;
	background:url(../images/sprite.png) no-repeat #fff;
}

.widget-fixture .share li a:hover {
	text-decoration:underline;
}

.widget-fixture .share li.facebook a {background-position: left top;}
.widget-fixture .share li.twitter a {background-position: left -32px;}

.widget-fixture .share li.facebook a:hover {background-position: left -16px;}
.widget-fixture .share li.twitter a:hover {background-position: left -48px;}


.widget-fixture .share li span{
	background-image:url(../images/sprite.png);
	display:block;
	float:left;
	width:16px;
	height:16px;
	margin:0 5px 0 0;	
}

.widget-fixture .share li.twitter { margin-left:0;}

.widget-fixture .share li.facebook span{
	background-position:-156px -91px;
}
.widget-fixture .share li.twitter span{
	background-position:-156px -107px;
}

/* //widget de futbol */

.widget-fixture .fechas select{
  margin-left: 5px;
}

/* FIXTURE ROADMAP */

#fixture-road-map{
	width: 947px;
}

#fixture-road-map a {
	text-decoration: none;
	color:black;
}

.widget-fixture .headerMap{
	height: 34px;
	margin: 0 0 8px 0;
}

.widget-fixture .titleMap{
	background: none repeat scroll 0 0 #0D2758;
	color:#FFF;
	height: 37px;
	position: relative;
}

.widget-fixture .titleMap h2{
	font-size: 1.76em;
	font-weight: normal;
	height: 37px;
	letter-spacing: -0.05em;
	line-height: 37px;
	padding-left: 14px;
	word-spacing: 0.05em;
}

.col-5,.col-6,.col-7,.col-8,
.col-9,.col-10,.col-11,.col-12,
.col-13,.col-14,.col-15,.col-16,
.col-17,.col-18,.col-19, .col-20{
	height: 495px;
}

/* COL-1 */

.col-1{
	background:#F9F9F9;
	width: 130px;
	float:left;
}

.col-1 ul{
	margin: 0 0 0 8px;
}

.date-fixture{
	width: 136px;
	height: 13px;
	background:#E9E9E9;
	margin:4px 0 15px 0;
	padding:5px 0 4px 10px;
	color:#ED4848;	
}

.col-1 ul li.country-fixture,.col-6 ul li.country-fixture,
.col-11 ul li.country-fixture, .col-16 ul li.country-fixture{
	width: 136px;
	height: 13px;
	background:#E9E9E9;
	margin:4px 0 0 0;
	padding:5px 0 4px 10px;
}

.col-1 ul li.country-fixture img,.col-6 ul li.country-fixture img,
.col-11 ul li.country-fixture img,.col-16 ul li.country-fixture img{
	margin: 0 8px 0 0;
}

/* COL-2, COL-3, COL-4 */

.col-2,.col-3,.col-7,.col-8,.col-12,.col-13,.col-17,.col-18{
	background:#fff;
	width: 23px;
	float:left;
}

.col-4,.col-9,.col-14,.col-19{
    float:left;
    width: 46px;
    background:#fff;
}

.col-2 ul li.country-fixture-num, .col-3 ul li.country-fixture-num, .col-7 ul li.country-fixture-num, .col-8 ul li.country-fixture-num,
.col-12 ul li.country-fixture-num, .col-13 ul li.country-fixture-num, .col-14 ul li.country-fixture-num,
.col-17 ul li.country-fixture-num, .col-18 ul li.country-fixture-num, .col-19 ul li.country-fixture-num{
	width: 15px;
	height: 13px;
	background:#E9E9E9;
	margin:4px 0 0 0;
	padding:5px 0 4px 8px;
}

.col-4 ul li.country-fixture-num,.col-9 ul li.country-fixture-num,.col-14 ul li.country-fixture-num,.col-19 ul li.country-fixture-num{
    width: 46px;
    height: 13px;
    background:#E9E9E9;
    margin:6px 0 0 0;
    padding:3px 0 5px 1px;
    text-align: center;
}

.mod-1, .mod-2, .mod-4,
.mod-5{
	width: 18px;
	height: 11px;
	background:#E9E9E9;
	margin:4px 0 15px 0;
	padding:7px 0 4px 5px;
	font-size: 8px;
	color:#000;	
}

.mod-3, .mod-6{
    width: 46px;
    height: 11px;
    background:#E9E9E9;
    margin:4px 0 15px 0;
    font-size: 9px;
    padding: 15px 0 0 0;
    color:#000;
}

/* COL-5 */

.col-5{
	width: 28px;
	background:#F9F9F9;
	float:left;
}

.connect{
	background: url("../images/mapsprite.jpg") no-repeat scroll -12px -235px;
	height: 60px;
}

.col-5 .space{
	margin:63px 0 0 0;
}

/* COL-6, COL-11, COL-16 */

.col-6,.col-11, .col-16{
	background:#F9F9F9;
	width: 120px;
	float:left;
}

/* COL-10 */

.col-10{
	
        width: 28px;
	background:#F9F9F9;
	float:left;
}

.col-10 .connect{
	background: url("../images/mapsprite.jpg") no-repeat scroll -12px -297px;
	height: 115px;
}

.col-10 .space{
	margin:93px 0 0 0;
}

/* COL-15 */

.col-15{
	width: 23px;
	background:#F9F9F9;
	float:left;
}

.col-15 .connect{
	background: url("../images/mapsprite.jpg") no-repeat scroll 0 0;
	height: 235px;
}

.col-15 .space{
	margin:150px 0 0 0;
}


/* FIT */

.col-1 ul li.space, .col-2 ul li.space, .col-3 ul li.space{
	margin:10px 0 0 0;
}

.col-4 ul li.space{
    margin:10px 0 0 0;
}

.col-6 ul li.space,.col-7 ul li.space,
.col-8 ul li.space,.col-9 ul li.space{
	margin:43px 0 0 0;
}

.col-6 ul li.fx1,.col-7 ul li.fx1,
.col-8 ul li.fx1,.col-9 ul li.fx1{
	margin:70px 0 0 0;
}

.col-6 ul li.fx2,.col-7 ul li.fx2,
.col-8 ul li.fx2,.col-9 ul li.fx2{
	margin:67px 0 0 0;
}

.col-3, .col-8, .col-13, .col-18{
	background:#F9F9F9;
}

.mod-2, .mod-5{
	padding:1px 2px 10px 3px;
	text-align: center;
}

.mod-3, .mod-6{
	padding:6px 6px 5px 0;
	text-align: center;
}

.col-4 ul li.country-fixture-num, .mod-3,
.col-9 ul li.country-fixture-num, .mod-6,
.col-14 ul li.country-fixture-num, 
.col-19 ul li.country-fixture-num{
	background:#83B719;
	color:#fff;
}

.col-5 .fx1{
	margin:58px 0 0 0;
}

.col-5 .fx2{
	margin:55px 0 0 0;
}

.col-5 .fx3{
	margin:55px 0 0 0;
}

.col-10 .fx1{
	margin: 117px 0 0 0;
}

.col-11 .fx1,.col-12 .fx1,.col-13 .fx1,
.col-14 .fx1,.col-15 .fx1{
	margin: 102px 0 0 0 !important;
}

.col-11 .fx2,.col-12 .fx2,.col-13 .fx2,
.col-14 .fx2,.col-15 .fx2{
	margin: 185px 0 0 0 !important;
}

.col-16 .fx3,.col-17 .fx3,.col-18 .fx3, .col-19 .fx3{
	margin: 218px 0 0 0 !important;
}

.col-20{
	background:#F9F9F9;
	float:left;
	width: 25px; 
}

/* FIXED */

.eqfix{ padding: 0 0 0 125px !important; }
.nomfix{ padding: 0 10px 0 0 !important; }
.wAsistidores{display:none;}

#supercampeon{
    background:#F9F9F9;
}

.supercampeon .equipo-a{
    width: 150px;
    padding: 8px 0 0 50px;
    text-align: center;
}
.supercampeon .resultado{
    width: 150px;
    background:#E9E9E9;
    padding: 0 0 0 50px;
}

.supercampeon .equipo-b{
    width: 150px;
    padding: 8px 0 0 10px;
    text-align: center;
}

.supercampeon .fecha{
    width: 350px;
    padding: 30px 0 0 0;
    color:#989998;
    font-size: 14px;
}

.supercampeon .go{
    width: 140px;
    padding: 30px 0 0 0;
    color:#000;
    font-weight: bold;
    font-size: 14px;
}

.supercampeon .detalle{
    padding: 30px 0 0 0;
}

.supercampeon .detalle a{
    background:#75A904;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#fff;
	text-decoration:none;
	height:20px;
	line-height:15px;
	width:20px;
	margin:auto;
	margin-top: -10px;
	margin-right: 5px;
	font-size: 18px;
}

.supercampeon .resultado p{
    height: 23px;
    line-height: 22px;
    width: 26px;
    font-weight:bold;
    color:white;
    background:#75A904;
    font-size: 14px;
    padding: 2px 0 0 12px;
    margin-top: 5px;
    float:left;
    margin-right:10px;
}

.supercampeon .ant{
    background: #A3C64D !important;
}

.title-fix {
    font-size: 1.4em;
    height: 37px;
    letter-spacing: -0.05em;
    line-height: 37px;
    padding-left: 14px;
    word-spacing: .05em;
    position: relative;
    color: #fff;
    height: 37px;
    background: #0d2758;
    margin-bottom: 20px;
    font-weight: 100;
}
.fixture-hidden {
    display: none;
}
#teams {
    width: 562px;
    z-index: 10;
    position: absolute;
}
.gamecastIcono a  {
    background: url("../img/gamecast.png") no-repeat;
    display: inline-block;
    height: 20px;
    width: 30px;
    text-indent: -99999px;
    line-height: 20px;
}
.country-fixture-num a.res  {
    color:  white !important;
}
.partidoUnico {
    width:  170px !important;
}

