.jjoo-banner {
	width: 950px;
	height: 50px;
}

.jjoo {
	position: absolute;
	width: 115px;
	height: 54px;
	background: url(<%= assets_url %>images/bg-jjoo.png);
	text-indent: -999em;
	z-index: 999;
}

.jjoo a {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}


.site-tp .jjoo {
    margin-top: -27px;
    top: 50%;
    left: 600px;
}

.site-tp .logo {
	margin: 0;
	left: 286px;
}

.iframe-jjoo {
	position: relative;
}

.iframe-jjoo .see-more {
   color: black;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 34px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    top: 5px;
	
}
