/* MENU FIXTURE */

#content-fixture{
    width: 100%;
}

.menu-fixture{
    width: 100%;
    font-size:15px;
    line-height: 29px;
    margin-top:8px;
    position:relative;
}

.menu-fixture li{
    float:left;
    height:46px;
    margin:0 19px 0 0;
}

.menu-fixture li a{
    color:#333333;
    text-decoration: none;
}

.mini-layout-footer{
    background: transparent !important;
}

.menu-fixture .active{
    background-color:#E9E9E9;
    border-color: #CACCCD #CACCCD #CACCCD #CACCCD;
    border-radius: 5px 5px 5px 5px;
    border-style:solid;
    border-width:1px;
    height:36px;
    line-height:26px;
    position:relative;
    width: 80px;
    z-index: 0;
    padding:8px 12px;
    color:#003366;
    -moz-box-shadow:inset 0px 0px 10px #CACCCD;
    -webkit-box-shadow:inset 0px 0px 10px #CACCCD;
    box-shadow:inset 0px 0px 10px #CACCCD; 
}

.estadisticas-fixture{
    position:relative;
    width: 947px;
    height: 110px;
    margin-bottom: 5px;
}

.share-fixture{
    position:absolute;
    bottom:0;
    right:-50px;
    width: 189px;
}

.share-fixture .facebook{
    float:left;
}

.share-fixture .twitter{
    float:left;
}



.widget-fixture .options ol{
    margin-top:35px;
}

.widget-fixture .options ol li{
    display:list-item !important;
    line-height:12px !important;
    list-style: none;
}

.torneos-fixture{
    position:absolute;
    padding:10px;
    right:-10px;
    top:12px;
    display:none;
    z-index: 60;
}

.torneos-fixture li{
    background:#C1DA8C;
    width: 180px;
}

.torneos-fixture li:hover{
    background:#67ab00;
}

.torneos-fixture li a{
    text-decoration: none;
    color:#333333;
    padding: 5px 0 5px 10px;
    display: block;
}

.torneos-fixture li a:hover{
    color:#000;
}

.title-fix{
    font-size: 1.4em;
    height: 37px;
    letter-spacing: -0.05em;
    line-height: 37px;
    padding-left: 14px;
    word-spacing: 0.05em;
    position:relative;
    color:#fff;
    height:37px;
    background: #0D2758; /* old browsers */
    margin-bottom: 20px;
    font-weight: 100;
}

.fixture-hidden{
    display:none;
}

#teams {
    width: 562px;
    z-index: 10;
    position: absolute;
}

/* mini header */

#header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #83BE05;
    background-image: url("../images/headers/tp.jpg");
    background-origin: padding-box;
    background-position: center -80px;
    background-repeat: no-repeat;
    background-size: auto auto;
    margin-bottom: 20px;
}

.small-header #header {
    background-color: #83BE05 !important;
    background-image: none !important;
}

.small-header .logo{
    margin-left: 400px;
}

.small-header #tntodapasion {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/main-sprite-tp.png");
    background-origin: padding-box;
    background-position: -185px -257px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 35px;
    text-indent: -999em;
    width: 121px;
}

.small-header .back {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #CDEF00;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: -moz-use-text-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #9EB900;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #9EB900;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #9EB900;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    color: #5E6E00 !important;
    cursor: pointer;
    font-size: 12px;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin-top: -14px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 84px;
    border: none !important;
}