html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
nav ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;*font-size:small;}
select, input, textarea, button{font:99% sans-serif;}
pre, code, kbd, samp{font-family:monospace, sans-serif;}
body, select, input, textarea{color:#444;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
html{overflow-y:scroll;}
a:hover, a:active{outline:none;}
a, a:active, a:visited{color:#607890;}
a:hover{color:#036;}
ul, ol{margin-left:1.8em;}
ol{list-style-type:decimal;}
nav ul, nav li{margin:0;}
small{font-size:85%;}
strong, th{font-weight:bold;}
td, td img{vertical-align:top;}
sub{vertical-align:sub;font-size:smaller;}
sup{vertical-align:super;font-size:smaller;}
pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}
textarea{overflow:auto;}
.ie6 legend, .ie7 legend{margin-left:-7px;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
.ie6 input{vertical-align:text-bottom;}
label, input[type=button], input[type=submit], button{cursor:pointer;}
button, input, select, textarea{margin:0;}
input:valid, textarea:valid{}
input:invalid, textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red;}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid{background-color:#f0dddd;}
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none;}
::selection{background:#FF5E99;color:#fff;text-shadow:none;}
a:link{-webkit-tap-highlight-color:#FF5E99;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
.invisible{visibility:hidden;}
.clearfix:before, .clearfix:after{content:"\0020";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
body{font-family:Arial;font-size:.75em;}
/*.wrapper{width:980px;height:636px;margin:0 auto;padding-top:14px;border-left:#eeeeee solid 10px;border-right:#eeeeee solid 10px;background:#fff;position:relative;}*/
#navigation-moviles{width:100%;position:relative;z-index:20;}
.no-js #navigation-moviles{z-index:150;}
#navigation-moviles{height:40px;}
#navigation-tabs{margin:0;list-style:none;width:531px;margin-top:10px;height:24px;}
#navigation-tabs li.current{border-bottom:2px solid #00338d !important;}
#navigation-tabs li{margin:0 7px;padding-bottom:3px;}
#navigation-tabs li:hover{border-bottom:2px solid #ddd;}
#navigation-tabs a{color:#242424;text-decoration:none;font-size:1.2em;margin:0 1px;outline:none;}
.no-js #navigation-tabs li:hover{cursor:default;border:none;}
.no-js #navigation-tabs a:hover{cursor:default;}
.no-js-img{position:relative;top:-37px;z-index:55;}
#navigation-tabs .div{background:#ddd;height:18px;margin:0 6px;width:2px;border:none;}
#navigation-tabs{list-style:none;position:absolute;right:0;}
#navigation-tabs li{float:left;}
#banner-container{height:593px;width:980px;z-index:10;margin-top:-40px;}
.banner{position:relative;top:0;}
.top{z-index:100 !important;}
#banner-container ul{list-style:none;margin:0;padding:0;overflow:hidden;position:relative;z-index:30;height:593px;}
#banner-container li{float:left;height:593px;width:980px;position:relative;}
#black{background:#000000;z-index:53;}
#tnmovil{background:#000000 url(<%= base_url %>images/moviles/standby.jpg)}
.loader{height:553px;position:absolute;top:40px;width:980px;z-index:50;}
#banner-container li img{position:absolute;bottom:0;}
#banner-container li.tab-1 img{display:none;}
.moviles #container{width: 980px;}
.moviles .main{padding-bottom: 20px;}