.publish {
  margin-bottom: 20px;
 }
 
 .publish fieldset input {
   position: relative;
   z-index: 400;
 }

.publish fieldset label,
.publish fieldset .title {
  height: 35px;
  display: block;
  text-align: left;
  line-height: 40px;
  font-size: 18px;
  font-weight: normal;
  width: 600px;
}

.publish fieldset .upload-video label {
  width: auto;
}

.publish .text {
  padding: 4px;
  height: 30px;
  background: #f6f6f6;
  font-size: 18px;
}

.publish fieldset select {
  height: 30px;
  line-height:30px;
  width: 900px;
  font-size: 18px;
}

.publish .text{
  width: 770px;
}

.publish.small-form .text{
  float:left;
}

.publish fieldset .text{
  float:left;
  width: 890px;
}

.publish fieldset li {
  margin-bottom: 10px;
  position: relative;
}


.publish fieldset .desc{
  width: 210px;
  float: right;
  color:#999;
  line-height: 1.25em;
}

.publish.small-form input.submit{
  float:right;
  font-size: 18px;
  height: 40px;
  width: 158px;
  line-height: 38px;
}

.publish textarea {
  width: 938px;
  margin: 0 auto;
  height: 265px;
  padding: 5px;
  border: solid 1px #000;

  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.publish #ckeditor-dropline {
  height: 150px;	
}

.publish .actions {
  margin-top: 10px;

}

.publish .actions ul,
.publish .actions input.submit{
  float:left
}

.publish .actions ul {
  margin:10px 20px 10px 0;
}

.publish .actions input.submit {
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
    padding: 0 6px 2px 6px;
    width: 158px;
    height: 40px;
    line-height: 27px;
    clear:none;
    margin-top: 5px;
}

.publish .colapse {
	height: 35px;
	overflow: visible;
}

.publish .toggle label {
	width: 100%;
	
}

.publish .toggle {
  overflow:hidden !important;
}
/*
.toggle .help {
	display:none !important;
}
*/
.publish .arrow {
	position: absolute;
	right: 0;
	top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(<%= base_url %>images/tnylagente-sprite.png); 
}

.publish .down {background-position: 0 -166px;}
.publish .down:hover {background-position: -31px -166px;}
.publish .up {background-position: -62px -166px;}
.publish .up:hover {background-position: -93px -166px;}

.publish .help {
    height: 32px;
    position: absolute;
    right: 0;
    top:39px;
}

.publish .combo-box .help {
	top:35px;
}

.publish .textarea .help {
  top:0px;
}

.publish .toggle .help {
  right: 35px;
  top:0;
}

.publish .help .icon{
	width: 32px;
	height: 32px;
	background: url(<%= base_url %>images/tnylagente-sprite.png) no-repeat -814px -166px; 
	display: block;
	position: absolute;
	right: 0px;
	cursor: pointer;
}

.publish .help .icon:hover + .arrow_box {
	opacity:1;
	filter: alpha(opacity=100);
	
	-webkit-transition: opacity .5s linear;
	-moz-transition: opacity .5s linear;
	
}

.arrow_box {

	 -webkit-transition: opacity .5s linear;
	 -moz-transition: opacity .5s linear;
	 
	 background: none repeat scroll 0 0 rgba(0,0,0,.75);

    border: 1px solid #FFFFFF;
    color: white;
    font-size: 12px;
    height: 13px;
    line-height: 12px;
    padding: 5px;
	position: relative;
	  
  -webkit-box-shadow: 0px 0px 2px 0px #000;
          box-shadow: 0px 0px 2px 0px #000;
        
          opacity:0;
          filter: alpha(opacity=0);
        
 -webkit-border-radius: 5px; 
          border-radius: 5px;        


  top:-35px;
  right:-4px;

}

.ie .arrow_box {
	background: #000;
}

.help-left .arrow_box {
	 right: 40px;
    top: 3px;
}




.ie8 .arrow_box:after,
.ie7 .arrow_box:after,
.ie6 .arrow_box:after,
.ie8 .arrow_box:before,
.ie7 .arrow_box:before,
.ie6 .arrow_box:before {
	display: none;
	visibility: hidden;
}

	
.arrow_box:after,
.arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; 
}


.arrow_box:after {
  border-top-color: rgba(0,0,0,.75);
  border-width: 8px;
  right:10px;
  margin-left: -8px;
}


.arrow_box:before {
  border-top-color: #ffffff;
  border-width: 9px;
  right:9px;
  margin-left: -9px;
}



.help-left .arrow_box:after,
.help-left .arrow_box:before {
  top: auto;
  left: 100%;
}

.help-left .arrow_box:after {
  border-color:transparent;
  border-left-color: rgba(0,0,0,.75);
  border-width: 7px;
  
  right:auto;
  margin-left: 0;
  
  top:4px;
  
}

.help-left .arrow_box:before {
	border-color:transparent;
  border-left-color: #ffffff;
  border-width: 8px;
  
  right:auto;
  margin-left: 0px;
  top:3px;
}







.publish .multimedia .video-container {
	padding-bottom: 2px;
  position: relative;
}

.publish .multimedia .info {
	margin: 5px 0 15px 90px;
	color: #666;
	font-size: 14px;
}

.publish .multimedia .arrow_box {
	height: auto;
}

.publish .multimedia .image-container {position: relative;}

.publish .multimedia .title {
	width: 90px;
	float: left;
	line-height: 35px;
}

.publish .multimedia .video-status{
	display: none;
	float:left;
}

.publish .multimedia .namefile {
	float:left; 
	margin-right:10px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}

.publish .multimedia .pickfile {
	width: 160px;
	height: 33px;
	/*float:left;*/
	line-height: 33px;
	
	clear: none;
	margin: 0;
	
	position: absolute;
	left: 90px;
	bottom:0;
	color:#0056C3;
	cursor: pointer;
}

#video-uploader .pickfile {bottom: auto; top:0;}

#image-pickfiles.disabled,
#video-pickfiles.disabled {color:black;}

.publish .multimedia .progressbar {
	width: 196px;
	height:13px;
	padding: 2px;
	border:solid 1px #d3d3d3;
	float:left;
	margin:8px 10px 0 0;
}

.publish .multimedia .progressbar span {
	display: block;
	height: 100%;
	width: 0px;
	background: #66A7F5;
}

.publish .multimedia .delete {
	width: 16px;
	height: 16px;
	margin-top:9.5px;
	background: url(<%= base_url %>images/tnylagente-sprite.png) no-repeat -460px -193px; 
	float:left;
	cursor: pointer;
}

.publish .multimedia #image-uploader{ margin: 5px 0;}

.publish .multimedia .disable .namefile,
.publish .multimedia .disable .progressbar {
	opacity: .5;
}

#image-list {
	padding-left: 90px;
	padding-bottom: 35px;
}

#image-list .image{height: 35px; margin-bottom: 5px;}

#autocomplete {
	width: 898px !important;
	position: absolute;
	left: 0;
	top: 35px;
	border:1px solid #E3E3E3;
	border-top:none;
	z-index: 500;
	background: white;
	
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

  -webkit-box-shadow: 0px 2px 4px -3px rgba(0,0,0,.75); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 0px 2px 4px -3px rgba(0,0,0,.75); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

#autocomplete li {
	height: 26px;
	line-height: 26px;
	margin: 0;
	padding: 0 5px;
}

#autocomplete li:hover,
#autocomplete .selected{
	background: #f6f6f6;
	cursor: pointer;
}


























/*
*  Codigo generado por backend
*/

.taxonomy-tags-12{
    float: left;
    clear: left;
    margin: 5px 0px 0px 5px;
    border: solid 1px green;
    padding: 5px;
    cursor: pointer;
}
.taxonomy-tags-13{
    float: left;
    clear: left;
    margin: 5px 0px 0px 5px;
    border: solid 1px red;
    padding: 5px;
    cursor: pointer;
}
/*
.publish .multimedia .video-status {
    display: none;
    float: left;
    clear: left !important;
}
*/
.description{
    font-size: 13px;
    color: #555;
    margin: 10px 0px;
}
table#field_imagen_tnylg_values thead{
    display: none;
}
.widget-edit div label{display: none;}
.widget-edit div input{float: left}

/*
*  Codigo generado por backend
*/


/*
.publish-to {
  font-size: 12px;
  color: #000;
  float: left;
  position: relative;
}

.publish-to li {
  margin-right: 10px;
  float: left;
  height: 19px;
  padding: 0;
  line-height: 19px;
}

.publish-to li input {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.publish-to li label {
  float: left;
  height: 19px;
  line-height: 19px;
}

.publish-to .link {
  margin-right: 20px;
}
.publish-to .link span {
  float: left;
  width: 19px;
  height: 19px;
  background: url("<%= base_url %>images/main-sprite.png") no-repeat;
  margin-right: 5px;
}

.publish-to li.twitter span {
  background-position: -132px 0px;
}
.publish-to li.twitter:hover span {
  background-position: -132px -19px;
}

.publish-to li.facebook span {
  background-position: -113px 0px;
}
.publish-to li.facebook:hover span {
  background-position: -113px -19px;
}*/


/*
* CCS hecho por backend
*/
  #field_imagen_tnylg_values {
    overflow:hidden;
    width: 800px;
    padding: 4px;
    height: 30px;
    background:#F6F6F6;
    font-size: 18px;
    border: solid 1px #E3E3E3;
    margin-bottom: 10px;
    font-size: 12px;
    
  }
  
  #field_imagen_tnylg_values td, 
  #field_imagen_tnylg_values th {
    text-align:left;
    padding: 5px;
  } 
  
  #field_imagen_tnylg_values thead,
  #field-imagen-tnylg-items .messages,
  #field_imagen_tnylg_values .description,
  #field_imagen_tnylg_values .content-multiple-drag {
    display:none;
  }
  #field_imagen_tnylg_values .delta-order select {
    width: 50px;
  }
  
  #field_imagen_tnylg_values .widget-preview {
    float:left;
    margin-right: 10px;
  }
  #field_imagen_tnylg_values .widget-edit {
    float:left;
    overflow:hidden;
  }
  
  #rest-of-form {
    display:none;
  }
 #field-imagen-tnylg-items {
  margin: 10px 0 10px 90px;
 }
/*
* //CCS hecho por backend
*/