@import 'css3';

$pop:70px;
$upd:110px;
$com:100px;
$sha:50px;
$rea:120px;
$cat:120px;
$new:950px - ($rea + $pop + $upd + $com + ($sha * 2));

#pulse-categories {
	/*
	width: $cat;
	height:25px;
	overflow: hidden;
	position:absolute;
	right:0;
	background:white;
	z-index:200;
	padding:0 0 0 10px;
	*/
	background:#f7faff;
  border:solid 1px #eee;
  padding: 5px 0;

	a {
	  display:block;
	  height: 100%;
	  position: relative;
	  z-index: 50;
	  line-height: 20px;
	  padding-left: 20px;
	}
	
	h2 {
	  padding-left: 6px;
	  margin-bottom: 5px;
	}
	/*
	li {
	  height: 20px;
	  position: relative;
	  margin-bottom: 5px;
	}
	*/
	
	li {
	  float: left;
	  height: 20px;
	  line-height:20px;
	  margin:0 8px;
	  text-align: left;
	  position: relative;
	  overflow: hidden;
	  /*
	  &:first-child{margin-left: 0;}
	  &:last-child{margin-right: 0;}
	  */
	  
	  &:first-child{margin-left:7px;}
	}
	
	.checkbox {
	  position: absolute;
	  width: 17px;
	  height: 17px;
	  left: 0;
	  bottom: 2px;
	  z-index: 0;
	  background: url(<%= @site.config[:base_url] %>images/pulse-check.png) no-repeat left 2px;
	}
	
	.checked {
	  background-position:left bottom;
	}
	
}
/*
.content-top {
	$h:23px;
	height:$h + 2px;
	position:relative;
	
	.toggle {
	  cursor: pointer;
	  position: absolute;
	  left:10px;
	  bottom:0;
	  height:$h;
	  line-height:$h;
	  text-align:center;
	  background:white;
	  width:$cat - 2px;
	  z-index:150;
	  border:solid 1px black;
	  @include border_radius(5px);
	  
	  .arrow {
	    display:block;
	    border-left:solid 1px black;
	    width: $h;
	    height: $h;
	    position: absolute;
	    top:0;
	    right:0; 
	  }
	}
	
	.pulse-title {
	  float:left;
	  width: 950px - ($cat+10px);
	}
}
*/

.pulse { 
	
	.main {
		width: 100%;
	}
	
	.pulse-title {
	  font-size: 40px;
	  margin-bottom: 20px;
	}

}

.pulse-news {
	$h: 60px;
	
	width: 950px;
	float:left;
	overflow: hidden;
	position:relative;
	
	.loading{
	  display:none;
	  width: 100%;
	  height: 100%;
	  background: url(<%= @site.config[:base_url] %>images/pulse-loader.gif) center center no-repeat white;
	  position: absolute;
	  left:0;
	  top:0;
	  z-index: 150;
	}
	
	.popularity{
	  $pv: 26px;
	  $ph: 8px;
	  width: $pop - ($ph * 2);
	  padding: $pv $ph;
	  height: $h - ($pv * 2);
	  
	  .bar {
	    display:block;
	    height: 100%;
	    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAE0lEQVQIW2Pcx8DwnwEInBgYGAETAgICagY66gAAAABJRU5ErkJggg==) left top repeat;
	    /*background: url(<%= @site.config[:base_url] %>images/pulse-bar.png) left top no-repeat;*/
	  }
	}
	
	.container,
	.popularity{
	  float: left;
	}
	
  .shared {
    width: $sha;
  }
  
  .odd{
    background: white;
  }
  .even   {
    background: #f3f3f3;
  }
  
  .expanded {
    display: none;
  }
  
  article {
    padding:7px 0;
    overflow:hidden;
    
    span.toggle {
      display:block;
      text-align:left;
      line-height: 1em;
      font-size: 12px;
      cursor:pointer;
      color:#0056C3;
      width: 60px;
      position: relative;
      z-index: 500;
    }    
    
    .contracted {
    
	    height: $h;
	    padding:0;
	    margin:0;
	    
	    footer {
	      display: block;
	      visibility: visible;
	      float: right;
	      width: $rea + $upd + $com + ($sha * 2);
	      height: $h;
	      position: static;
	    }
	    
	    time,
	    .container,
	    .comments,
	    .reaction,
	    .share {
	      line-height: $h;
	      height:$h;
	      float: left;
	      padding: 0;
	      margin: 0;
	      border: none;
	      text-align: center;
	    }
	    
	    time {width: $upd;}
	    .container {
	      width: $new;
	      padding: 5px 0;
        height: $h - 10;
      }
	    .comments {width: $com;}
	    .reaction {width: $rea;}
	    .share{width: $sha;}    
    
      .play {display:none;visibility: hidden;}
    
      .entry-title {line-height: 16px;}
    
      .hmedia,
      .no-picture {
        float:left;
        margin: 0;
        height: 51px;
        width: 91px;
      }
      .content {
        $ph:10px;
        float:left;
        margin: 0;
        padding: 0 $ph;
        width:$new - ($ph*2) - 91px;   
      }
      .entry-title {
        text-align: left;
      }
    
    }
    
    .expanded {
      height: 180px;
      padding: 5px;
      position:absolute;
      top:0;
      margin-top:7px;    
      
      .media-wrapper {
        height: 180px;
        float:left;
        margin: 0 10px 0 0;
        position: relative;
        width: 321px;
        overflow: hidden;
        
        .cp-carrousel {
          width: 321px;  
          height: 180px !important;                
        }
        
        img {
          top:0 !important;
        }
      }
      
      .no-picture {
        height: 180px;
        width: 321px;
        float:left;
        margin: 0 10px 0 0;
      }
      
      .content {
        float:left;
        width: 608px;
        margin: 0;
      }
      
      .entry-content {
        padding: 0;
        margin: 10px 0;
        font-size: 14px;
      }
      
      .entry-title {margin-right:50px;}
      
      .footer {
        font-size: 13px;
      }
      
      .full {
				font-size: 14px;
				position: absolute;
				right: 5px;
				top: 13px;      
      }
    }
  }
  
  article.visible {
    height: 120px;
  }
  
  
}

.pulse-menu {
	
	$h:39px;
	
	border-bottom:solid 2px black;
	height: $h;
	margin-bottom:15px;
	
	li {
	  height: $h; 
	  float:left;
	  line-height: $h;
	  text-align: center;
	  padding: 0;
	  border:none;
	}
	
	.section {
	  /*width: $cat;*/
	}
	.sort{
	  cursor: pointer;
	}
	.popularity {
	  width: $pop;
	}
	.news {
	  width: $new;
	}
	.reaction {
	  width: $rea;
	}
	.updated {
	  width: $upd;
	}
	.comments {
	  width: $com;
	}
	
	.shared {
	  $s: 24px;
	  width: $sha;
	  
	  span {
      text-indent: -999em;
      width: $s;
      height: $s;
      display: block;
      position: relative;
      top:50%;
      margin: $s/-2 auto 0 auto;
      background: url("<%= base_url %>images/main-sprite-home.png") no-repeat;
	  }

	  .tw{
	    background-position: -156px -269px;
	  }
	  .fb {
	    background-position: -130px -269px;
	  }
	
	}
}
/*
.css-test article {
	height: 60px;
	transition: height 1s;
	-moz-transition: height 1s;
	-webkit-transition: height 1s;
	-o-transition: height 1s;
	.expanded {
	  opacity:0;
	  transition: opacity 1s;
	  -moz-transition: opacity 1s;
	  -webkit-transition: opacity 1s;
	  -o-transition: opacity 1s;
	}
	
	.contracted {
	  opacity:1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s; 
    -o-transition: opacity 1s;
	}

}

.css-test article:hover {
	height: 190px;
	
  .contracted {
    opacity:0;
  }
  
  .expanded {
    opacity:1;
  }  

}
*/