a,
form .submit,
input.more,
button.more,
.button  {
	cursor: pointer;
	color:#0056c3;
	outline: none;
}

a.entry-title {
color: #000;
}

a:hover {
	color: #000;
}

#header {
  color: #FFF;
background: url(<%= base_url %>images/tnf-bg.jpg) no-repeat center top #DA4799;
}

#header a {
  color: #FFF;
}

#header .alert a {
  color: #00b1ff;
}

#header .selected a {
  color: black;
}

.logo {
    height: 66px;
    left: auto;
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 313px;
    top:2px;
}

.logo #tn-home {
  background: url("<%= base_url %>images/logo-show.png") no-repeat scroll;
  text-indent: -9999px;
  width: 313px;
  height: 66px;
}

.logo .hd {
  display: none;
  visibility: hidden;
}

#header #header-ticket {
  font-size: 16px;
  line-height: 45px;
}

.header-bunkers {
  background: #ADD4F9 url(<%= base_url %>images/bunkers-head.jpg) repeat-x 0 -35px;
  color: black;
}

#header li.link {
	border-color:#E2A0C4 !important;
}

#header-ticket.header-bunkers a {
  color: #1f429b;
  font-weight: bold;
}

#header nav .bunkers {
  background: #add4f9;
}

#header nav .bunkers a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

#header-ticket.related {
  background: #790000;
}

#header-ticket.related a {
  color: #ff0a15;
}

#header .no-related {
  background: #000;
  color: white
}

#header .no-related2 {
  background: #02265A;
  color: white
}

#header-ticket .wrapper {
  background-image: url(<%= base_url %>images/misc-sprite.png);
  background-repeat: no-repeat;
  background-position: center -334px;
  overflow: hidden;
}

#header-ticket.no-related .wrapper,
#header-ticket.no-related2 .wrapper,
#header-ticket.related .wrapper {
  line-height: 45px;
}

#header-ticket.no-related a {
  color: #80E3F8;
}

.alert .wrapper {
  background-color: #02265A;
}

#header .tweet {
  background: #E2F3FB url(<%= base_url %>images/misc-sprite.png) center -287px no-repeat;
}

#header-ticket a {
  color: #80E3F8;
}

#header .tweet .wrapper {
  font-size: 14px;
}

#header .tweet a {
  color: #0086c1 !important;
}

#header .reply-tw {
  background: url('../images/misc-sprite.png') -343px -30px;
  text-decoration: none
}

#header .reply-tw:hover {
  background-position:-343px -52px;
  text-decoration: none
}

#header .reply-fb {
  background: url('../images/misc-sprite.png') -372px -30px;
  text-decoration: none
}

#header .reply-fb:hover {
  background-position:-372px -52px;
  text-decoration: none
}

#header .reply-tw2 {
  background: url('../images/misc-sprite.png') -401px -30px no-repeat;
  text-decoration: none
}

#header .reply-tw2:hover {
  background-position:  -401px -52px;
  text-decoration: none
}

#header .reply-fb2 {
  background: url('../images/misc-sprite.png') -430px -30px no-repeat;
  text-decoration: none
}

#header .reply-fb2:hover {
  background-position:-430px -52px;
  text-decoration: none
}

#header nav,
#navigation .wrapper,
#navigation .bg,
#navigation .envivo {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2N8tODIfwAH+QNHB9fbpAAAAABJRU5ErkJggg==) repeat-x center top #DA4799;
font-size: 14px;
}

#header nav a {
  outline: none;
}

#header nav li {
	border-color: #E2A0C4;
}

#header nav .related {
  background: #790000;
}

/*
.menu-tags .envivo a {
  color: #B1D4FF !important;
}
*/

.menu-tags .envivo a.active {
  color: #00338d !important;
}


/*
  login box
*/
.login-box li {
  line-height: 12px;
}

.login-box .content {
  line-height: 16px !important;
}

.login-box .login-conect {
	border-color:#E2A0C4;
}

.login-box .user {
  line-height: 1em;
font-size: 14px;
font-weight: bold;
text-align: right;
}

.login-box .actions {
font-size: 12px;
}

#header #header-top {
	border-color:#E2A0C4;
}

#header-top .login-box .picture {
  border-color: #E2A0C4;
}

.not-logged-in .login-box .title {
  font-size: 12px;
}

.login-box .login-conect li a {
  background: url(<%= base_url %>images/main-sprite-home.png) no-repeat;
  text-indent: -999em;
}

.login-box .login-conect .facebook {
  background-position: -130px -269px;
}

.login-box .login-conect .facebook:hover {
  background-position: -130px -295px;
}

.login-box .login-conect .twitter {
  background-position: -156px -269px;
}

.login-box .login-conect .twitter:hover {
  background-position: -156px -295px;
}

.login-box .login-conect .tn {
  background-position: -182px -269px;
}

.login-box .login-conect .tn:hover {
  background-position: -182px -295px;
}

/*
  //login box
*/

nav li a {
  line-height: 44px;
  font-weight: normal;
}

nav li.more a {
  background: url(<%= base_url %>images/main-sprite-home.png) -630px -160px no-repeat;
}

nav li.more-expanded a {
  background-position: -570px -160px;
}

nav li.selected {
  background: #fff !important;
}

nav li.more-expanded {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2N8tODIfwAH+QNHB9fbpAAAAABJRU5ErkJggg==) repeat-x center top #02265A;
}

.alert {
  background: #02265A;
}

.alert-left {
  background: #1F429B;
}

.alert .wrapper {
  background: #02265A;
  color: #fff;
}

.alert .title {
  background: url(<%= base_url %>images/misc-sprite.png) no-repeat -17px -26px;
  line-height: 45px;
  font-weight: bold;
}

.tweet .wrapper {
  color: black;
}

.tweet .wrapper .bird {
  background: url(<%= base_url %>images/misc-sprite.png) -490px -26px no-repeat;
}












#sub-menu {
  color: white;
}

#sub-menu .close {
  background: #fff;
}

#sub-menu .close a {
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: white;
  background: #02265A url(<%= base_url %>images/main-sprite-home.png) -556px -175px no-repeat;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#sub-menu h2 {
  font-weight: normal;
  font-size: 14px;
}

#sub-menu a {
  color: white;
  line-height: 26px;
  white-space: nowrap;
}

#sub-menu li a:hover {
  text-decoration: underline;
}

#sub-menu li a:hover span {
  background-position: -584px -341px;
}

#menu-microsites {
  background: #02265A;
}

.comments a.reportar,.comments a.reportar:hover { /*color: #4C88D0;*/
	color: #81AADC;
}

#header nav .bg,
#header nav .envivo {
	background: #BE0000;
}



#flow-popup {
	background: black;
}

.body-flow-popup {
	background: #DA4799;
     -moz-box-shadow: 1px 1px 8px black;
  -webkit-box-shadow: 1px 1px 8px black;
          box-shadow: 1px 1px 8px black;
}

.body-flow-popup header {
  color:white;
}

.body-flow-popup header h2 a {
  color: black;
}

.body-flow-popup .content h1 {
  color: white;
}

.body-flow-popup .content a {color:white}

#bigtwitter {
	width: 948px;
	height: 420px !important;
	border:1px solid #DADADA;
	padding:1px;
  margin-bottom: 14px;
}

#bigtwitter header {
	margin: 10px 15px 10px 7px;
	height: 20px;
	position: relative;
}

#bigtwitter header .ctw-follow {
	position: absolute;
	right: 0;
	top: 0;
	width: 140px;
}

#bigtwitter.c-yellow {
	background:url(<%= base_url %>images/leopard-pattern.jpg) repeat;
}

#bigtwitter.c-pink{
	background:url(<%= base_url %>images/famosos-twitter3.jpg) repeat;
}

#bigtwitter #bigtwitter_cont {
	display: block;
} 

#bigtwitter .twtr-doc,
#bigtwitter .twtr-timeline{
	background:none !important;
}

#bigtwitter .twtr-tweet-wrap {
    padding: 5px 3px 0 0;
}

#bigtwitter .twtr-avatar {top:5px}

#bigtwitter .twtr-timeline {overflow:hidden}

#bigtwitter .twtr-tweet {
	width: 300px;
	overflow: hidden;
	float:left;
	height: 125px !important;
	margin-right: 13px;
	margin-bottom:0px;
}

#bigtwitter .twtr-tweet-text {
	background:rgba(255,255,255,.4);
	/*border-color:black;*/
}

#bigtwitter .twtr-tweet-text p {
	/*color:white !important ;*/
	height: 90px;
	overflow: hidden;
}

#bigtwitter .twtr-avatar {
	background:rgba(255,255,255,.4);
	/*
	background:rgba(0,0,0,.7);
	border-color:black;
	*/
}

#bigtwitter .twtr-hd,
#bigtwitter .twtr-ft,
#bigtwitter .twtr-tweet b,
#bigtwitter .twtr-new-results {
	display: none;
	visibility: hidden;
}

#bigtwitter .twtr-tweet-text {

	height: 105px;
	position: relative;
}

#bigtwitter .twtr-tweet-text em{
	position: absolute;
	bottom: 5px;
	left: 12px;
}

#bigtwitter.c-yellow .twtr-tweet p a,
#bigtwitter.c-yellow .twtr-tweet .twtr-reply {
	color:#D9D85D;
}

#bigtwitter.c-pink .twtr-tweet p a,
#bigtwitter.c-pink .twtr-tweet .twtr-reply {
	color:#F44ADC;
}


#bigtwitter .twtr-tweet-text a.twtr-timestamp {
	font-size:11px;
	/*color:#888888 !important;*/
	}


#bigtwitter .twtr-bd {padding: 0; margin-left:7px;}