a,
form .submit,
input.more,
button,
button.more  {
	cursor: pointer;
	color:#0056c3;
	outline: none;
}

a.entry-title {
color: #000;
}

a:hover {
	color: #000;
}

#header {
  color: #FFF;
  background: #be0000;
}

#header a {
  color: #FFF;
}

#header .alert a {
  color: #00b1ff;
}

#header .selected a {
  color: black;
}


.logo #tn-home {
  background: url("../images/main-sprite-home.png") no-repeat scroll -0px -177px transparent;
  text-indent: -9999px;
}

.logo .hd {
  background: url("../images/main-sprite-home.png") no-repeat scroll -26px -148px transparent;
  text-indent: -999em;
}

#header #header-ticket {
  font-size: 16px;
  line-height: 45px;
}

.header-bunkers {
  background: #ADD4F9 url(<%= base_url %>images/bunkers-head.jpg) repeat-x 0 -35px;
  color: black;
}

#header-ticket.header-bunkers a {
  color: #1f429b;
  font-weight: bold;
}

#header nav .bunkers {
  background: #add4f9;
}

#header nav .bunkers a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

#header-ticket.related {
  background: #790000;
}

#header-ticket.related a {
  color: #ff0a15;
}

#header .no-related {
  background: #000;
  color: white
}

#header .no-related2 {
  background: #02265A;
  color: white
}

#header-ticket .wrapper {
  background-image: url(<%= base_url %>images/misc-sprite.png);
  background-repeat: no-repeat;
  background-position: center -334px;
  overflow: hidden;
}

#header-ticket.no-related .wrapper,
#header-ticket.no-related2 .wrapper,
#header-ticket.related .wrapper {
  line-height: 45px;
}

#header-ticket.no-related a {
  color: #80E3F8;
}

.alert .wrapper {
  background-color: #02265A;
}

#header .tweet {
  background: #E2F3FB url(<%= base_url %>images/misc-sprite.png) center -287px no-repeat;
}

#header-ticket a {
  color: #80E3F8;
}

#header .tweet .wrapper {
  font-size: 14px;
}

#header .tweet a {
  color: #0086c1 !important;
}

#header .reply-tw {
  background: url('../images/misc-sprite.png') -343px -30px;
  text-decoration: none
}

#header .reply-tw:hover {
  background-position:-343px -52px;
  text-decoration: none
}

#header .reply-fb {
  background: url('../images/misc-sprite.png') -372px -30px;
  text-decoration: none
}

#header .reply-fb:hover {
  background-position:-372px -52px;
  text-decoration: none
}

#header .reply-tw2 {
  background: url('../images/misc-sprite.png') -401px -30px no-repeat;
  text-decoration: none
}

#header .reply-tw2:hover {
  background-position:  -401px -52px;
  text-decoration: none
}

#header .reply-fb2 {
  background: url('../images/misc-sprite.png') -430px -30px no-repeat;
  text-decoration: none
}

#header .reply-fb2:hover {
  background-position:-430px -52px;
  text-decoration: none
}

#header nav,
#navigation .wrapper,
#navigation .bg,
#navigation .envivo {
font-size: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWO4ERz8HwAGAwJ+3sJTZwAAAABJRU5ErkJggg==) repeat-x left top #BE0000;
}

#header nav a {
  outline: none;
}

#header nav .related {
  background: #790000;
}

/*
.menu-tags .envivo a {
  color: #B1D4FF !important;
}
*/
.menu-tags .envivo a.active {
  color: #00338d !important;
}


/*
  login box
*/
.login-box li {
  line-height: 12px;
}

.login-box .content {
  line-height: 16px !important;
}


.login-box .user {
  line-height: 1em;
font-size: 14px;
font-weight: bold;
text-align: right;
}

.login-box .actions {
font-size: 12px;
}

#header-top .login-box .picture {
  border-color: #E35757;
}

.not-logged-in .login-box .title {
  font-size: 12px;
}

.login-box .login-conect li a {
  background: url(<%= base_url %>images/main-sprite-home.png) no-repeat;
  text-indent: -999em;
}

.login-box .login-conect .facebook {
  background-position: -130px -269px;
}

.login-box .login-conect .facebook:hover {
  background-position: -130px -295px;
}

.login-box .login-conect .twitter {
  background-position: -156px -269px;
}

.login-box .login-conect .twitter:hover {
  background-position: -156px -295px;
}

.login-box .login-conect .tn {
  background-position: -182px -269px;
}

.login-box .login-conect .tn:hover {
  background-position: -182px -295px;
}

/*
  //login box
*/

nav li a {
  line-height: 44px;
  font-weight: normal;
}

nav li.more a {
  background: url(<%= base_url %>images/main-sprite-home.png) -630px -160px no-repeat;
}

nav li.more-expanded a {
  background-position: -570px -160px;
}

nav li.selected {
  background: #fff !important;
}

nav li.more-expanded {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWO4ERz8HwAGAwJ+3sJTZwAAAABJRU5ErkJggg==") repeat-x scroll left top #02265A;
}

.alert {
  background: #02265A;
}

.alert-left {
  background: #1F429B;
}

.alert .wrapper {
  background: #02265A;
  color: #fff;
}

.alert .title {
  background: url(<%= base_url %>images/misc-sprite.png) no-repeat -17px -26px;
  line-height: 45px;
  font-weight: bold;
}

.tweet .wrapper {
  color: black;
}

.tweet .wrapper .bird {
  background: url(<%= base_url %>images/misc-sprite.png) -490px -26px no-repeat;
}












#sub-menu {
  color: white;
}

#sub-menu .close {
  background: #fff;
}

#sub-menu .close a {
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: white;
  background: #02265A url(<%= base_url %>images/main-sprite-home.png) -556px -175px no-repeat;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#sub-menu h2 {
  font-weight: normal;
  font-size: 14px;
}

#sub-menu a {
  color: white;
  line-height: 26px;
  white-space: nowrap;
}

#sub-menu li a:hover {
  text-decoration: underline;
}

#sub-menu li a:hover span {
  background-position: -584px -341px;
}

#menu-microsites {
  background: #02265A;
}

.comments a.reportar,.comments a.reportar:hover { /*color: #4C88D0;*/
	color: #81AADC;
}

#headerad {
  position: absolute;
  bottom: -14px;
  left: 564px;

  padding: 2px 5px;
}

#headerad .text {
	padding: 1px 5px !important; display: block; position: relative;
	z-index: 5; height: 12px; line-height: 11px; font-size: 12px;}

#headerad .bg {
		/*background: #FFFF33;*/
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    display: none;
  /*
-webkit-box-shadow: 0px 0px 5px 0px #ffff33;
-moz-box-shadow: 0px 0px 5px 0px #ffff33;
box-shadow: 0px 0px 5px 0px #ffff33;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	*/
}

#headerad.ad-flip .bg {
	background: #0056C3;
  /*
	-webkit-box-shadow: 0px 0px 5px 0px #0056C3;
	-moz-box-shadow: 0px 0px 5px 0px #0056C3;
	box-shadow: 0px 0px 5px 0px #0056C3;
  */
}
#headerad.ad-flip .text {color:white}

#headerad.ad-viola .bg {
	background: black;
  /*
	-webkit-box-shadow: 0px 0px 5px 0px black;
	-moz-box-shadow: 0px 0px 5px 0px black;
	box-shadow: 0px 0px 5px 0px black;
  */
}
#headerad.ad-viola .text {color:white}

#headerad.ad-tn-mobile .bg {
	background: #FFFF33;
  /*
-webkit-box-shadow: 0px 0px 5px 0px #ffff33;
-moz-box-shadow: 0px 0px 5px 0px #ffff33;
box-shadow: 0px 0px 5px 0px #ffff33;
*/
}
#headerad.ad-tn-mobile .text {color:black}

#headerad.ad-hd .bg {
	background: black;
  /*
	-webkit-box-shadow: 0px 0px 5px 0px black;
	-moz-box-shadow: 0px 0px 5px 0px black;
	box-shadow: 0px 0px 5px 0px black;
  */
}
#headerad.ad-hd .text {color:white}

#headerad.ad-programas .bg {
	background: black;
  /*
	-webkit-box-shadow: 0px 0px 5px 0px black;
	-moz-box-shadow: 0px 0px 5px 0px black;
	box-shadow: 0px 0px 5px 0px black;
  */
}
#headerad.ad-programas .text {color:white}

#headerad.ad-more-readed .bg {
	background: #FDAEB1;
  /*
	-webkit-box-shadow: 0px 0px 5px 0px #FDAEB1;
	-moz-box-shadow: 0px 0px 5px 0px #FDAEB1;
	box-shadow: 0px 0px 5px 0px #FDAEB1;
  */
}
#headerad.ad-more-readed .text {color:black}

#headerad.ad-show .bg {
	background: #DA4799;
  /*
	-webkit-box-shadow: 0px 0px 5px 0px #FDAEB1;
	-moz-box-shadow: 0px 0px 5px 0px #FDAEB1;
	box-shadow: 0px 0px 5px 0px #FDAEB1;
  */
}
#headerad.ad-show .text {color:white}

#headerad.ad-trends .bg {background: #0056C3}
#headerad.ad-trends .text {color:white}

#headerad.ad-tp .bg {background: #83BE05}
#headerad.ad-tp .text {color:black}

#headerad.ad-quinela .bg {background: white}
#headerad.ad-quinela .text {color:black}

#flow-popup {
	background: #f00;
}

.body-flow-popup {
	background: #f00;
     -moz-box-shadow: 1px 1px 8px #000;
  -webkit-box-shadow: 1px 1px 8px #000;
          box-shadow: 1px 1px 8px #000;
}

.body-flow-popup header {
  color:white;
}

.body-flow-popup header h2 a {
  color:black;
}

.body-flow-popup .content h1 {
  color: white;
}

.body-flow-popup .content a {color:white}