a,
form .submit,
input.more,
button.more,
.button  {
	cursor: pointer;
	color:#0056c3;
	outline: none;
}

a.entry-title {
color: #000;
}

a:hover {
	color: #000;
}

#header {
  color: #FFF;
  background: #000;
}

#header a {
  color: #FFF;
}

#header .alert a {
  color: #00b1ff;
}

#header .selected a {
  color: black;
}

.logo {
    height: 66px;
    left: auto;
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 279px;
    top:2px;
}

.logo #tn-home {
  background: url("<%= base_url %>images/logo-viola.png") no-repeat scroll;
  text-indent: -9999px;
  width: 279px;
  height: 66px;
}

.logo .hd {
  display: none;
  visibility: hidden;
}

#header #header-ticket {
  font-size: 16px;
  line-height: 45px;
}

.header-bunkers {
  background: #ADD4F9 url(<%= base_url %>images/bunkers-head.jpg) repeat-x 0 -35px;
  color: black;
}

#header li.link {
	border-color:#555 !important;
}

#header-ticket.header-bunkers a {
  color: #1f429b;
  font-weight: bold;
}

#header nav .bunkers {
  background: #add4f9;
}

#header nav .bunkers a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

#header-ticket.related {
  background: #790000;
}

#header-ticket.related a {
  color: #ff0a15;
}

#header .no-related {
  background: #000;
  color: white
}

#header .no-related2 {
  background: #02265A;
  color: white
}

#header-ticket .wrapper {
  background-image: url(<%= base_url %>images/misc-sprite.png);
  background-repeat: no-repeat;
  background-position: center -334px;
  overflow: hidden;
}

#header-ticket.no-related .wrapper,
#header-ticket.no-related2 .wrapper,
#header-ticket.related .wrapper {
  line-height: 45px;
}

#header-ticket.no-related a {
  color: #80E3F8;
}

.alert .wrapper {
  background-color: #02265A;
}

#header .tweet {
  background: #E2F3FB url(<%= base_url %>images/misc-sprite.png) center -287px no-repeat;
}

#header-ticket a {
  color: #80E3F8;
}

#header .tweet .wrapper {
  font-size: 14px;
}

#header .tweet a {
  color: #0086c1 !important;
}

#header .reply-tw {
  background: url('../images/misc-sprite.png') -343px -30px;
  text-decoration: none
}

#header .reply-tw:hover {
  background-position:-343px -52px;
  text-decoration: none
}

#header .reply-fb {
  background: url('../images/misc-sprite.png') -372px -30px;
  text-decoration: none
}

#header .reply-fb:hover {
  background-position:-372px -52px;
  text-decoration: none
}

#header .reply-tw2 {
  background: url('../images/misc-sprite.png') -401px -30px no-repeat;
  text-decoration: none
}

#header .reply-tw2:hover {
  background-position:  -401px -52px;
  text-decoration: none
}

#header .reply-fb2 {
  background: url('../images/misc-sprite.png') -430px -30px no-repeat;
  text-decoration: none
}

#header .reply-fb2:hover {
  background-position:-430px -52px;
  text-decoration: none
}

#header nav,
#navigation .wrapper,
#navigation .bg,
#navigation .envivo {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2MMDQ39DwAEBgIAoXvhDwAAAABJRU5ErkJggg==) repeat-x center top black;
font-size: 14px;
}

#header nav a {
  outline: none;
}

#header nav li {
	border-color: #555;
}

#header nav .related {
  background: #790000;
}

/*
.menu-tags .envivo a {
  color: #B1D4FF !important;
}
*/

.menu-tags .envivo a.active {
  color: #00338d !important;
}


/*
  login box
*/
.login-box li {
  line-height: 12px;
}

.login-box .content {
  line-height: 16px !important;
}

.login-box .login-conect {
	border-color:#555;	
}

.login-box .user {
  line-height: 1em;
font-size: 14px;
font-weight: bold;
text-align: right;
}

.login-box .actions {
font-size: 12px;
}

#header #header-top {
	border-color:#555
}

#header-top .login-box .picture {
  border-color: #555;
}

.not-logged-in .login-box .title {
  font-size: 12px;
}

.login-box .login-conect li a {
  background: url(<%= base_url %>images/main-sprite-home.png) no-repeat;
  text-indent: -999em;
}

.login-box .login-conect .facebook {
  background-position: -130px -269px;
}

.login-box .login-conect .facebook:hover {
  background-position: -130px -295px;
}

.login-box .login-conect .twitter {
  background-position: -156px -269px;
}

.login-box .login-conect .twitter:hover {
  background-position: -156px -295px;
}

.login-box .login-conect .tn {
  background-position: -182px -269px;
}

.login-box .login-conect .tn:hover {
  background-position: -182px -295px;
}

/*
  //login box
*/

nav li a {
  line-height: 44px;
  font-weight: normal;
}

nav li.more a {
  background: url(<%= base_url %>images/main-sprite-home.png) -630px -160px no-repeat;
}

nav li.more-expanded a {
  background-position: -570px -160px;
}

nav li.selected {
  background: #fff !important;
}

nav li.more-expanded {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2MMDQ39DwAEBgIAoXvhDwAAAABJRU5ErkJggg==) repeat-x center top #02265A;
}

.alert {
  background: #02265A;
}

.alert-left {
  background: #1F429B;
}

.alert .wrapper {
  background: #02265A;
  color: #fff;
}

.alert .title {
  background: url(<%= base_url %>images/misc-sprite.png) no-repeat -17px -26px;
  line-height: 45px;
  font-weight: bold;
}

.tweet .wrapper {
  color: black;
}

.tweet .wrapper .bird {
  background: url(<%= base_url %>images/misc-sprite.png) -490px -26px no-repeat;
}












#sub-menu {
  color: white;
}

#sub-menu .close {
  background: #fff;
}

#sub-menu .close a {
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: white;
  background: #02265A url(<%= base_url %>images/main-sprite-home.png) -556px -175px no-repeat;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#sub-menu h2 {
  font-weight: normal;
  font-size: 14px;
}

#sub-menu a {
  color: white;
  line-height: 26px;
  white-space: nowrap;
}

#sub-menu li a:hover {
  text-decoration: underline;
}

#sub-menu li a:hover span {
  background-position: -584px -341px;
}

#menu-microsites {
  background: #02265A;
}

.comments a.reportar,.comments a.reportar:hover { /*color: #4C88D0;*/
	color: #81AADC;
}

#header nav .bg,
#header nav .envivo {
	background: #BE0000;
}
	


#flow-popup {
	background: black;
}

.body-flow-popup {
	background: black;
     -moz-box-shadow: 1px 1px 8px black;
  -webkit-box-shadow: 1px 1px 8px black;
          box-shadow: 1px 1px 8px black;
}

.body-flow-popup header {
  color:white;
}

.body-flow-popup header h2 a {
  color: #0056C3;
}

.body-flow-popup .content h1 {
  color: white;
}

.body-flow-popup .content a {color:white}