/*
a,
form .submit,
input.more,
button.more  {
  cursor: pointer;
  color:#75A904;
  outline: none;
}

a.entry-title,
a.entry-title:hover {
color: #000;
}

a:hover {
  color: #75A904;
}
*/
a,
form .submit,
input.more,
button,
button.more  {
  cursor: pointer;
  color:#0056c3;
  outline: none;
}

a.entry-title {
color: #000;
}

a:hover {
  color: #000;
}

#header {
  color: #FFF;
  background: #f56235;
}

#header a {
  color: #FFF;
}

#header .alert a {
  color: #00b1ff;
}

#header .selected a {
  color: black;
}

#header nav .bg,
#header nav .envivo {
  background: #BE0000;
}

.logo {
height: 104px;
    left: 284px;
    margin: 0;
    top: -11px;
    width: 406px;
}

.logo #tn-home {
  background: url("../images/tnyg-logo.png") no-repeat;
  text-indent: -9999px;
  width: 406px;
  height: 104px;
}

.logo .hd {
  display: none;
  visibility: hidden;
}

#header #header-ticket {
  font-size: 16px;
  line-height: 45px;
}

.header-bunkers {
  background: #ADD4F9 url(<%= base_url %>images/bunkers-head.jpg) repeat-x 0 -35px;
  color: black;
}

#header li.link {
  border-color: #FDB282 !important;
}

#header-ticket.header-bunkers a {
  color: #1f429b;
  font-weight: bold;
}

#header nav .bunkers {
  background: #add4f9;
}

#header nav .bunkers a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

#header-ticket.related {
  background: #790000;
}

#header-ticket.related a {
  color: #ff0a15;
}

#header .no-related {
  background: #000;
  color: white
}

#header .no-related2 {
  background: #02265A;
  color: white
}

#header-ticket .wrapper {
  background-image: url(<%= base_url %>images/misc-sprite.png);
  background-repeat: no-repeat;
  background-position: center -334px;
  overflow: hidden;
}

#header-ticket.no-related .wrapper,
#header-ticket.no-related2 .wrapper,
#header-ticket.related .wrapper {
  line-height: 45px;
}

#header-ticket.no-related a {
  color: #80E3F8;
}

.alert .wrapper {
  background-color: #02265A;
}

#header .tweet {
  background: #E2F3FB url(<%= base_url %>images/misc-sprite.png) center -287px no-repeat;
}

#header-ticket a {
  color: #80E3F8;
}

#header .tweet .wrapper {
  font-size: 14px;
}

#header .tweet a {
  color: #0086c1 !important;
}

#header .reply-tw {
  background: url('<%= base_url %>images/misc-sprite.png') -343px -30px;
  text-decoration: none
}

#header .reply-tw:hover {
  background-position:-343px -52px;
  text-decoration: none
}

#header .reply-fb {
  background: url('<%= base_url %>images/misc-sprite.png') -372px -30px;
  text-decoration: none
}

#header .reply-fb:hover {
  background-position:-372px -52px;
  text-decoration: none
}

#header .reply-tw2 {
  background: url('<%= base_url %>images/misc-sprite.png') -401px -30px no-repeat;
  text-decoration: none
}

#header .reply-tw2:hover {
  background-position:  -401px -52px;
  text-decoration: none
}

#header .reply-fb2 {
  background: url('<%= base_url %>images/misc-sprite.png') -430px -30px no-repeat;
  text-decoration: none
}

#header .reply-fb2:hover {
  background-position:-430px -52px;
  text-decoration: none
}
/*
#header nav,
#navigation .wrapper,
#navigation .bg,
#navigation .envivo {
  font-size: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2P8u7HpPwAIFAMxgUpRxAAAAABJRU5ErkJggg==) repeat-x left top #003399;
}
*/

#navigation {border-top:solid 1px #FDB282;}

#header nav li {
  border-color: #FDB282;
  background: #F56235;
}

#header nav a {
  outline: none;
}

#header nav .related {
  background: #790000;
}
/*
.menu-tags .envivo a {
  color: #B1D4FF !important;
}
*/
.menu-tags .envivo a.active {
  color: #00338d !important;
}


/*
  login box
*/
.login-box li {
  line-height: 12px;
}

.login-box .content {
  line-height: 16px !important;
}

#header #header-top {
  border-color:#E35757;
}

#header-top .login-box .picture {
  border-color: #FDB282;
}

.login-box .login-conect {
    border-color: #FDB282;
}

.not-logged-in .login-box .title {
  font-size: 12px;
}

.login-box .login-conect li a {
  background: url(<%= base_url %>images/main-sprite-home.png) no-repeat;
  text-indent: -999em;
}

.login-box .login-conect .facebook {
  background-position: -130px -269px;
}

.login-box .login-conect .facebook:hover {
  background-position: -130px -295px;
}

.login-box .login-conect .twitter {
  background-position: -156px -269px;
}

.login-box .login-conect .twitter:hover {
  background-position: -156px -295px;
}

.login-box .login-conect .tn {
  background-position: -182px -269px;
}

.login-box .login-conect .tn:hover {
  background-position: -182px -295px;
}

/*
  //login box
*/

nav li a {
  line-height: 44px;
  font-weight: normal;
}

nav li.more a {
  background: url(<%= base_url %>images/main-sprite-home.png) -630px -160px no-repeat;
}

nav li.more-expanded a {
  background-position: -570px -160px;
}

nav li.selected {
  background: #fff !important;
}
/*
nav li.more-expanded {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2P8u7HpPwAIFAMxgUpRxAAAAABJRU5ErkJggg==") repeat-x scroll center top #02265A
}
*/
nav li.more-expanded {
  background: #02265A !important;
}

.alert {
  background: #02265A;
}

.alert-left {
  background: #1F429B;
}

.alert .wrapper {
  background: #02265A;
  color: #fff;
}

.alert .title {
  background: url(<%= base_url %>images/misc-sprite.png) no-repeat -17px -26px;
  line-height: 45px;
  font-weight: bold;
}

.tweet .wrapper {
  color: black;
}

.tweet .wrapper .bird {
  background: url(<%= base_url %>images/misc-sprite.png) -490px -26px no-repeat;
}












#sub-menu {
  color: white;
}

#sub-menu .close {
  background: #fff;
}

#sub-menu .close a {
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: white;
  background: #02265A url(<%= base_url %>images/main-sprite-home.png) -556px -175px no-repeat;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#sub-menu h2 {
  font-weight: normal;
  font-size: 14px;
}

#sub-menu a {
  color: white;
  line-height: 26px;
  white-space: nowrap;
}

#sub-menu li a:hover {
  text-decoration: underline;
}

#sub-menu li a:hover span {
  background-position: -584px -341px;
}

#menu-microsites {
  background: #02265A;
}
/*
.comments a.reportar,
.comments a.reportar:hover {
  color: #4C88D0;
  color: #A8C66A;
}
*/

#headerad { position: absolute; bottom: -12px; left: 564px; font-size: 12px; padding: 1px 5px; }
#headerad .text { padding: 1px 5px; }



#flow-popup {
  background: #83BE05;
}

.body-flow-popup {
  background: #F74710;
     -moz-box-shadow: 1px 1px 8px black;
  -webkit-box-shadow: 1px 1px 8px black;
          box-shadow: 1px 1px 8px black;
}

.body-flow-popup header {
  color:black;
}

.body-flow-popup header h2 a {
  color: #0056C3;
}

.body-flow-popup .content h1 {
  color: black;
}

.body-flow-popup .content a {color:black}















/*



*/

.news .user {
	margin-top: 5px;
}

.news .fb_iframe_widget .fb_edge_comment_widget {display:none !important; visibility: hidden !important;}
/*
.news .user span{
  font-weight: bold;
}
*/
.news .user h2{
	display: inline;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 14px;
}

.news article .container {
	position: relative;
}

#opinion_main .author {
    color: #0053C3;
}

#new #meta-author.avatar,
#new #meta-author.avatar .content {
	height: 48px;
}

#new #meta-author.avatar .author {
	top:15px;
}

.tag-title {
	background: none repeat scroll 0 0 #EFEFEF;
	font-size: 16px;
	padding: 10px;	
}

.tag-content {
	padding: 0 10px;
	width: 280px;
	float:left;
}

.tag-content li{
	margin: 12px 0;
}
.tag-content li a {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	word-wrap:break-word;
}
.only-search header {
	margin-bottom: 1px;
}
.only-search h2 {
	padding-bottom: 15px;
	border-bottom: 2px solid black;
}
.admovilink {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 12px !important;
}
#new #meta-author.avatar .content {
	width: 540px;
}
.share-nota ul li a.icon-report {
    background: -752px -166px no-repeat url(<%= base_url %>images/tnylagente-sprite.png); 
}
.share-nota ul li a.icon-report:hover {
    background-position: -783px -166px;
}

.home .container-main {
	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAGklEQVQIW2Pcu3fvf3Z2dgZ+fn4GMTExMA0AQK0D6fXI4VoAAAAASUVORK5CYII=) repeat-y center top;
}

.home .main {width: 472px;}
.home .sidebar {width: 470px;}

.home .main,
.home .sidebar {padding: 0;}


.home .news article{
	padding: 11px 10px 11px 0;
	margin: 0;
}

.home .news .pager .more {width: 99%;}

.home .news article.first {
	margin: 0;
	padding-top: 0;
}

.home .news article footer{
  display: block;
  visibility: visible;
  height: 36px;
  position: relative;
  bottom: 0;
  width: auto;
}

.home .news figure {
	float:none;
	width: 460px;
	height: 259px;
	margin:0;
}

.home .news article .content {
	margin: 10px 0 0 0;
}

.home .news article.no-picture .content {
	margin: 0 0 0 0;
}

.home .news article .share {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 21px;
	padding: 0;
}

.home .news article .share .fb-button {
	margin: 0;
}

.home .news article .share .tw {
	padding: 0;
}

.home .news article .entry-content {margin: 0 0 13px 0;}

.home .news .user {
	float: none;
}

.home .news .user h2 {
	display: block;
	padding-top: 2px;
	margin-bottom: 6px;
}

.home .news .user h2 a {
	color: #ff9900;
}

.home .news .avatar {
	float:left;
	display: block;
	margin-right: 5px;
}

.home .news .avatar img{
	width: 32px;
	height: 32px;
	padding: 1px;
	border:solid 1px #ccc;
}

.home .news time {
	position: static;
	font-weight: normal;
	float: none;
}

.home .news .banner {
	margin-top: 15px;
}

.site-tnylagente .play {
	background: url(<%= base_url %>images/tnylagente-sprite.png);
}
.site-tnylagente figure .play-video {
	background-position: -460px -166px;
}
.site-tnylagente figure .play-video:hover {
	background-position: -508px -166px;
}
.site-tnylagente figure .play-photo {
	background-position: -556px -166px;
}
.site-tnylagente figure .play-photo:hover {
	background-position: -604px -166px;
}

.site-tnylagente .news .play {
  width: 66px;
  height: 37px;
  right: 50%;
  bottom: 50%;
  margin: 0 -33px -16px 0;
}

.site-tnylagente .news .play-photo,
.site-tnylagente #new figure .play-photo {
	background-position: -258px -166px;
}
.site-tnylagente .news .play-photo:hover,
.site-tnylagente #new figure .play-photo:hover {
	background-position: -325px -166px;
}

.site-tnylagente .news .play-video,
.site-tnylagente #new figure .play-video {
	background-position: -124px -166px;
	
}
.site-tnylagente .news .play-video:hover,
.site-tnylagente #new figure .play-video:hover {
	background-position: -191px -166px;
	
}

#register p {
	margin-bottom: 5px;
	line-height: 20px;
}

.home .sidebar h3 {
	background: #DAE4ED;
	height: 36px;
	line-height: 36px;
	border-bottom:solid 2px #054984;
	margin-bottom: 5px;/* !important;*/
	padding: 0 0 0 10px;
}

.home .container-main .banner {
	background: #f5f5f5;
	border: none;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	}
.home .sidebar .twsb-cont {
	background-color:#d5efff;
}
.home #yt-viewed .tube,
.home #yt-viewed .thumb,
.home #yt-viewed .tube a {
	width: 148px;
	height: 83px;
	display: block;
}

.home #yt-viewed .spinner {
	text-align: center;
}

.home #yt-viewed .tube {
	float:left;
	margin: 0 12px 15px 0;
	padding: 0 0 0 32px;
}

.home #yt-viewed .meta {height: 83px;}

.home .yt-videos {position: relative;margin-bottom: 15px}

.home .yt-videos .views {
  background: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  position: absolute;

  font-size: 13px !important;
  height: 12px;
  line-height: 12px !important;
  padding: 6px 4px;
  text-align: center;
  z-index: 50;
  width: 60px;
  
  top:50%;
  left: 5px;
  margin-top: -14px;
}

.home .yt-videos .user {
	margin-top:5px;
	color:#999;
}

.home .yt-videos .user,
.home .yt-videos .user .link {font-size: 12px;}

.home .yt-videos .link {
	color:black;
	font-size: 14px;
	font-weight: normal;
	word-wrap: break-word;
}

.home .general-menu {
	background: #f2f2f2;
	border-color: #f2f2f2;
	width: auto;
	padding-left: 10px;
	margin: 0 0 5px 0;
}

.home .general-menu li {
	margin-right: 5px;
}

.home .general-menu a {
	color:black;
	border-color: #f2f2f2;
}

.home .general-menu .active{
	background: #e0e0e0;
	border-color:#ccc;
	border-bottom-color: #f2f2f2;
}

.home .yt-videos .views span {display: none; overflow: hidden;}

.small-header .back {
	background: #d23807;
	border-color: #ac2f07;
	border-bottom-color: #fa6536;
}
.small-header .logo {
	width: 269px;
	height: 69px;
	top:8px; 
	margin-left: 0;
}

.small-header .logo #tn-home{
	width: 100%;
	height: 100%;
	background: url(<%= base_url %>images/tnyg-logo-small.png);
}

.home .widget-youtube h3 {margin-bottom: 13px;}

.widget-lasts .comment {
	padding-bottom: 10px;
	border-bottom: solid 1px #DDD;
	margin-bottom: 10px;
}

.widget-lasts li.last {
	padding: 0;
	margin: 0;
	border: none;
}

.widget-lasts .comment .content {
	padding-left: 65px;
}

.widget-lasts .comment .content p{
  font-size: 13px;
  line-height: 18px;
  word-wrap: break-word;
}
.widget-lasts .comment .content time{font-size: 13px;}

.widget-lasts .comment .avatar{
	float:left;
	width: 48px;
	height: 48px;
	margin-right: 17px;
}

.widget-lasts .comment time {
	float:none;
	color:#777;
	font-weight: bold;
}

.widget-trends header span {
	font-size: 14px;
	font-weight: normal;
}

.widget-trends .content {
	padding-left: 20px;
	margin-top: 15px;
}

.widget-trends .content a{
	color:black;
	font-size: 32px;
	display: block;
	word-wrap: break-word;
}

.widget-trends .content li{
	margin: 12px 0;
}

#the-best li {
	height: 87px;
	width: 87px;
	display: block;
	float:left;
	margin: 0 8.5px 8.5px 0;
	overflow: hidden;
}

#the-best li a {
  display: block;
  height: 87px;
  width: 87px;
}


#the-best li.last {
	margin-right: 0px;
}

#the-best .more {
	margin-top: 0;
}

.site-tnylagente .carouseltwitter {
	background: url(<%= base_url %>images/tnylagente-sprite.png) 0 0 no-repeat;
}
/*
.block p {
	line-height: 18px !important;
	margin-bottom: 5px !important;
}
*/

#help {
	padding-top: 10px;
}

#help h1 {
	font-size: 32px;
	text-align: center;
}

#help h2 {
	color:#CC3300;
	font-size: 32px;
	font-weight: normal;
	padding-top: 15px;
	margin-bottom: 10px;
}

#help h2 a {color:#CC3300;}

#help h2,
#help p {
	margin-left: 84px;
}

#help p {
	font-size: 18px;
	line-height: 22px;
	width: 330px;
	color:#666;
}

#help .help-list {
	list-style: none;
	background: url(<%= base_url %>images/tnylagente-help.jpg) 45px 55px no-repeat;
	padding-left: 40px;
	margin-top: 15px;
}

#help .item {
	position: relative;
	float:left;
	width: 455px;
	margin: 0;
	height: 360px;
}

#help .item-1 {
	width: 100%;
	float:none;
	height: 280px;
}

#help .item-6,
#help .item-7 {
  height: 400px;
}

#help .item-1 p {
	width: 605px;
}

#help .second-p {
	margin-top: 100px;
	padding-left: 45px;
	width: 290px;
}

#help .faq-link {
	margin-top:13px;
	font-weight:bold;
	display: block;
	text-decoration: underline;
	color:#FD7F11;
}

#help .number {
	background: url(<%= base_url %>images/tnylagente-sprite.png) -668px -166px no-repeat;
	width: 71px;
	height: 71px;
	text-align:center;
	position:absolute;
	color:#be0000;
	text-shadow: 0px 0px 3px #eaeaea; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	font-size: 36px;
	line-height: 71px;
}

#faq h1 {
	   font-size: 48px;
    font-weight: normal;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.sidebar #fb-activity {
	height: 353px;
}

.report-note .panel-first {text-align: center;}

.report-note .spinner {
	display: block;
	margin: 5px auto 0 auto;
	position: static;
	width: 16px;
	height: 11px;
	}















/*
Coda slider... just for a while
*/

.news .coda-slider-wrapper {
	overflow: hidden;
}

#coda-slider-tnyg.preload {
	width: 944px;
}

#coda-slider-tnyg .panel {
	width: 472px;
}

#coda-nav-1 li {
	line-height: 46px;
}

#coda-nav-1 a {
	float:none;
	padding: 5px;
	border:solid 1px #F2F2F2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#coda-nav-1 .selected a{
  background: #e0e0e0;
  border: #ccc solid 1px;
  border-bottom-color: #f2f2f2;
}

.home .main-stream .cplayer .cp-video img {
	height: auto !important;
}

.published-tnylagente {
	font-size: 14px;
	padding-left: 2px;
}

#content-top .one-image .play-video{
	width: 194px;
	height: 109px;
	margin: -54px 0 0 -97px;
	background-position: 0 -204px;
}

#content-top .one-image .play-video:hover{
	background-position: -195px -204px;
}