#header #header-top {
  z-index: 50;
  position: relative;
}

.soda {
  background: url(<%= base_url %>images/soda.jpg);
  height: 113px;
  position: absolute;
  right: 176px;
  top: -20px;
  width: 178px;
  z-index: 40;
}

.soda a {
  display: block;
  height: 100%;
  width: 100%;
  text-indent: -999em;
  padding: 0 !important;
}

.login-box {
  z-index: 60;
}

.logged-in #header .login-box .content {
	width: 155px !important;
}