#header #header-top {
  z-index: 50;
  position: relative;
}

.stones {
  background: url(<%= base_url %>images/stones.png);
  height: 104px;
  position: absolute;
  right: 227px;
  top: -16px;
  width: 104px;
  z-index: 40;
}

.stones a {
  display: block;
  height: 100%;
  width: 100%;
  text-indent: -999em;
}

.login-box {
  z-index: 60;
}