#header #header-top {
	z-index: 50;
	position: relative;
}

.tanguito {
	background: url(http://pre.tnylagente.com.ar/html/images/tanguito.png);
	position: absolute;
	width: 233px;
	height: 122px;
	top:-22px;
	right: 163px;
	z-index: 40;
}

.tanguito a {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -999em;
}

.login-box {
	z-index: 60;
}