.ie6 figure figcaption {
  bottom:3px;
}

.ie #footer .grid .block figure {
   border:none;
}



.ie6 .twtr-widget .twtr-tweet-text,
.ie6 .twtr-widget .twtr-tweet-text p {
width: 814px !important;
zoom: 1;
}

.ie8 #today .temp,
.ie7 #today .temp,
.ie6 #today .temp {
	top:2px;
	left:8px;
	background:white;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

.ie7 #today .temp {
  top:5px;
  left: 10px;
}

.ie6 #today .temp {
	margin-top:5px;
  margin-left: -23px;
}

.ie8 #today .block h3 {
  padding-left: 22px;
}

.ie7 #after-days .day .middle{ top: 50%; position: absolute;}

.ie7 #after-days .day .inner{ position: relative; top: -50%; display: block !important; height: auto !important;}

.ie .weather-main #today time {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7E7E7', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}

.ie .reacciones input {
  margin-top:0px;
}

.ie7 form.search input.submit,
.ie6 form.search input.submit {
  font-size: 0;
  padding: 0px 0 0px 26px;

}

.ie6 form.search input {
  height: 18px;
}


.ie6 #footer {
  zoom:1;
}

.ie6 #footer .content {
  padding-top: 10px !important;
}

.ie7 .weather-main .content .content-ideal,
.ie6 .weather-main .content .content-ideal {
  margin-top: 5px;
}

.ie6 #cluetip-close {
top: 2px;
  }